<div class="bx-content-description-before">__content_description_before__</div>
<div class="bx-content-description">
    <div class="bx-base-text-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img bx-videos-entity-video bx-def-vanilla-html">
        <p class="bx-def-font-align-center not-prose">__entry_video__</p>
        <h1>__entry_title__</h1>
        __entry_text__
    </div>
</div>
<div class="bx-content-description-after">__content_description_after__</div>