<div>
    <div class="bx-embed-video-caption pb-4 absolute z-10 ">
        <div class="flex justify-between w-full items-center p-1 whitespace-nowrap">
            <a href="__content_url__" class="block overflow-hidden text-ellipsis pr-2 ">__title__</a>
            __main_logo__
        </div>
    </div>
    <bx_if:thumb>
        <div class="bx-def-round-corners bx-def-font-middle" style="height:100%;">
            __entry_video__
        </div>
    </bx_if:thumb>
    <bx_if:no_thumb>
        <div class="bx-def-gal-img-column">
            <div class="bx-base-text-unit-no-thumb bx-def-gal-div-size bx-def-font-middle bx-def-font-grayed bx-def-padding bx-def-box-sizing">
                __summary_plain__
                <div class="bx-base-text-unit-strecher">__strecher__</div>
            </div>
        </div>
    </bx_if:no_thumb>
</div>
       