<div class="bx-menu-main-submenu-wrp">
	<div class="bx-menu-main-submenu-group">
		<ul id="bx-menu-main-submenu" class="bx-menu-main-submenu bx-menu-object-__object__ bx-clearfix">
		    <bx_repeat:menu_items>
		        <li class="bx-def-padding-sec-right bx-def-padding-sec-left __class_add__"><a href="__link__" onclick="__onclick__"__attrs__>
					<bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
					<bx_if:image><img src="__icon_url__" /></bx_if:image>
					<bx_if:icon-html>__icon__</bx_if:icon-html>
					<span>__title__</span></a><div class="bx-mms-item-hr"></div></li>
		    </bx_repeat:menu_items>
		</ul>
		<div class="bx-menu-main-submenu-hr"></div>
	</div>
</div>