<ul id="__html_id__" class="bx-menu-main<bx_if:show_more_auto_class> bx-menu-more-auto</bx_if:show_more_auto_class> bx-menu-object-__object__ flex flex-nowrap space-x-2">
    <bx_repeat:menu_items>
        <li class="bx-menu-item bx-menu-item-__name__ __class_add__ rounded-md">
            <a href="__link__" onclick="__onclick__" class="bx-stl-mil group"__attrs__>
                <div class="bx-menu-item-icon bx-menu-floating-blocks-icon bx-stl-mii group-hover:text-gray-700 dark:group-hover:text-gray-300">
                    <bx_include_auto:menu_icon.html />
                </div>
                <bx_if:title>
                    <div class="bx-menu-item-title bx-menu-floating-blocks-title bx-stl-mit whitespace-nowrap">__title__</div>
                </bx_if:title>
            </a>__popup__
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-floating-blocks > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>
__js_code__