/*--- Checkout Offline block ---*/
.bx-payment-checkout-offline {
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.bx-payment-checkout-offline-cnt {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bx-payment-checkout-offline-box {
    position: relative;
    display: inline-block;
    max-width: 25rem;
}

.bx-payment-cob-row {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.bx-payment-cob-row.bx-payment-cobr-title {
    -webkit-justify-content: center;
    justify-content: center;
}
.bx-payment-cob-row.bx-payment-cobr-items {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.bx-payment-cob-item {
    position: relative;
    display: inline-block;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    width: 100%;
}

.bx-payment-cob-row.bx-payment-cobr-actions {
    -webkit-justify-content: center;
    justify-content: center;

    text-align: center;
}
.bx-payment-cob-row.bx-payment-cobr-actions .bx-btn {
    display: inline-block;
    float: none;
    width: 80%;
}
