iframe.hidden {
    width: 0px;
    height: 0px;
    display: none;
}

/*--- 'Manual Order' and 'More' windows ---*/
.ui-autocomplete.ui-front {
	z-index: 10001;
}
div.bx-payment-pa-items {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}
div.bx-payment-pa-item {
    display: -webkit-flex; 
    display: flex;
    width: 100%;

    -webkit-align-items: center;
    align-items: center;
}
div.bx-payment-pa-item-chb,
div.bx-payment-pa-item-title,
div.bx-payment-pa-item-quantity {
    position: relative;
}
div.bx-payment-pa-item-chb input {
    display: block;
    margin: 0px;
    padding: 0px;
}
div.bx-payment-pa-item-title {
    width: 80%;
}
div.bx-payment-pa-item-title-cnt {
	TEXT-OVERFLOW: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
}
div.bx-payment-pa-item-quantity {
    width: 16%;
}

/*--- View Order ---*/
div.bx-payment-view-order {
    border-top-width: 0px;
}
div.bx-payment-vo-row {
	white-space: nowrap;
}
div.bx-payment-vo-caption,
div.bx-payment-vo-content,
div.bx-payment-vo-items {
    position: relative;
    display: inline-block;
	vertical-align: top;

    overflow: hidden;
}
div.bx-payment-vo-caption {
    width: 30%;
}
div.bx-payment-vo-content,
div.bx-payment-vo-items {
    width: 70%;
	
	TEXT-OVERFLOW: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}


/*--- Filters ---*/
#bx-grid-wrap-bx_payment_grid_orders_processed div.bx-grid-header div.bx-form-element-wrapper {
    position: relative;
    float: left;
    width: 165px;
}
#bx-grid-wrap-bx_payment_grid_orders_processed div.bx-grid-header div#bx-form-element-client,
#bx-grid-wrap-bx_payment_grid_orders_processed div.bx-grid-header div#bx-form-element-author,
#bx-grid-wrap-bx_payment_grid_orders_processed div.bx-grid-header div#bx-form-element-module,
#bx-grid-wrap-bx_payment_grid_orders_processed div.bx-grid-header div#bx-form-element-item {
    margin-right: 20px;
}
#bx-grid-wrap-bx_payment_grid_orders_processed div.bx-grid-header div#bx-form-element-author,
#bx-grid-wrap-bx_payment_grid_orders_processed div.bx-grid-header div#bx-form-element-module,
#bx-grid-wrap-bx_payment_grid_orders_processed div.bx-grid-header div#bx-form-element-item,
#bx-grid-wrap-bx_payment_grid_orders_processed div.bx-grid-header div#bx-form-element-keyword {
    margin-top: 0px;
}