div.bx-form-input-date-expire,
div.bx-form-input-de-cell {
	position: relative;
}
div.bx-form-input-de-cell {
	float: left;
	width: 50%;
}

/*--- Recurly fields styles ---*/
.recurly-hosted-field.recurly-hosted-field-number,
.recurly-hosted-field.recurly-hosted-field-month,
.recurly-hosted-field.recurly-hosted-field-year,
.recurly-hosted-field.recurly-hosted-field-cvv {
	height: 40px;
    height: 2.5rem;
    width: 100%;

    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

	padding: 7px 3px 7px 3px;
    padding: 0.2rem 0.4rem;

	background-color: #ffffff;
    border: 2px solid #79bd9a;
    border-radius: 0.3rem;

    box-shadow: none;
}
