<bx_if:show_image>
    <div class="bx-base-text-entity-image bx-def-margin-bottom bx-def-font-align-center">
        <img class="bx-def-border-radius-block" src="__entry_image__" />
    </div>
</bx_if:show_image>
<div class="bx-base-text-entity-content bx-market-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img">
    <div class="bx-market-ec-title">
        <h1>__entry_title__</h1>
    </div>
    <div class="bx-market-ec-description bx-def-margin-top">__entry_text__</div>
</div>
<bx_if:show_screenshots>
    <div class="bx-market-ec-slideshow bx-def-margin-top">__screenshots__</div>
</bx_if:show_screenshots>