<div class="bx-courses-entries-summary flex flex-row items-stretch">
    <div class="bx-courses-es-percent flex-1 md:flex-none">
        <div class="bx-courses-percent flex justify-center items-center w-16 h-16 border-2 rounded-full">
            <span>__passed_percent__%</span>
        </div>
    </div>
    <div class="bx-courses-es-title flex-1 hidden md:flex items-center pl-4 text-xl font-bold"><bx_text:_bx_courses_txt_summary_title /></div>
    <div class="bx-courses-es-joined flex flex-col items-center w-24 border-r">
        <div class="bx-courses-esi-title text-xs"><bx_text:_bx_courses_txt_summary_joined /></div>
        <div class="bx-courses-esi-value flex-1 flex items-center text-2xl font-bold">__joined__</div>
    </div>
    <div class="bx-courses-es-passed flex flex-col items-center w-24 border-r">
        <div class="bx-courses-esi-title text-xs"><bx_text:_bx_courses_txt_summary_passed /></div>
        <div class="bx-courses-esi-value flex-1 flex items-center text-2xl font-bold">__passed__</div>
    </div>
    <div class="bx-courses-es-not-passed flex flex-col items-center w-24">
        <div class="bx-courses-esi-title text-xs"><bx_text:_bx_courses_txt_summary_not_started /></div>
        <div class="bx-courses-esi-value flex-1 flex items-center text-2xl font-bold">__not_passed__</div>
    </div>
</div>