<div class="bx-courses-ml3-node-l__level__ bx-def-box bx-def-box-round-corners bx-def-color-bg-box relative my-2">
    <div class="bx-courses-ml3-node-l__level__-gap p-4">
        <div class="bx-courses-ml3-node-l__level__-cnt relative flex space-x-4">
            <div class="bx-courses-ml3-node-l__level__-progress pr-4 border-r">
                <div class="bx-courses-percent flex justify-center items-center w-16 h-16 border-2 rounded-full">
                    <span>__pass_percent__%</span>
                </div>
                <div class="bx-courses-percent text-center">__pass_progress__</div>
            </div>
            <div class="bx-courses-ml3-node-l__level__-info flex-1">
                <div class="bx-courses-index bx-def-font-grayed text-xs"><span class="capitalize"><bx_text:_bx_courses_txt_sample_l3_single /></span> __index__:</div>
                <div class="bx-courses-title text-xl font-bold">
                    <a href="__link__">__title__</a>
                </div>
                <div class="bx-courses-status flex pt-2"><div class="px-4 bg-gray-300 rounded-full">__pass_status__</div></div>
            </div>
            <div class="bx-courses-ml3-node-l__level__-actions flex items-center">
                <bx_if:show_pass>
                    <a class="bx-btn bx-btn-small" href="__pass_href__" onclick="javascript:return __js_object__.passNode(this, __id__);">__pass_title__</a>
                </bx_if:show_pass>
            </div>
        </div>
    </div>
</div>