<div class="bx-courses-node-l__level__ bx-def-box bx-def-box-round-corners bx-def-color-bg-box bx-def-color-bg-box-hover relative w-1/3 m-2<bx_if:selected> bg-gray-100</bx_if:selected>">
    <a class="bx-courses-node-l__level__-link hover:no-underline" href="__link__">
        <div class="bx-courses-node-l__level__-gap p-4">
            <div class="bx-courses-node-l__level__-cnt relative flex flex-col">
                <div class="bx-courses-status flex pb-2"><div class="px-4 bg-gray-300 rounded-full">__status__</div></div>
                <div class="bx-courses-index bx-def-font-grayed text-xs"><span class="capitalize"><bx_text:_bx_courses_txt_sample_l1_single /></span> __index__:</div>
                <div class="bx-courses-title font-bold">__title__</div>
                <div class="bx-courses-counters flex pt-2 space-x-2">
                    <bx_repeat:counters>
                        <div>__cn_title__: <span class="font-bold">__cn_value__</span></div>
                    </bx_repeat:counters>
                </div>
            </div>
        </div>
    </a>
</div>