<div class="bx-courses-node-l__level__ bx-def-box bx-def-box-round-corners bx-def-color-bg-box bx-def-color-bg-box-hover relative w-1/3 m-2<bx_if:selected> bg-gray-100</bx_if:selected>">
    <a class="bx-courses-node-l__level__-link hover:no-underline" href="__link__">
        <div class="bx-courses-node-l__level__-gap p-4">
            <div class="bx-courses-node-l__level__-cnt relative flex flex-col">
                <div class="bx-courses-progress">
                    <div class="bx-courses-progress-bar border rounded-full opacity-50">
                        <div class="h-1 bg-gray-300 rounded-full" style="width:__progress__%"></div>
                    </div>
                    <!--
                    <div class="bx-courses-progress-percent text-xs"><bx_text:_bx_courses_txt_passed />: __progress__%</div>
                    -->
                </div>
                <div class="bx-courses-index bx-def-font-grayed pt-2 text-xs"><span class="capitalize"><bx_text:_bx_courses_txt_sample_l1_single /></span> __index__:</div>
                <div class="bx-courses-title font-bold">__title__</div>
                <div class="bx-courses-stats flex flex-row flex-wrap items-center -m-px pt-2">
                    <div class="bx-courses-counters flex flex-wrap flex-1">
                        <bx_repeat:counters>
                            <div class="bx-courses-counter m-px px-4 bg-gray-300 rounded-full flex flex-nowrap">
                                <div class="capitalize mr-1">__cn_title__:</div>
                                <div class="font-bold">__cn_progress__</div>
                            </div>
                        </bx_repeat:counters>
                    </div>
                    <div class="bx-courses-status m-px px-4 bg-gray-300 rounded-full whitespace-nowrap">__status__</div>
                </div>
            </div>
        </div>
    </a>
</div>