.bx-reputation-level-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}
i.bx-reputation-level-icon {
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.0rem;
}