@import url(../../../../../../../template/css/cmts.css);

div.cmts ul.cmts-margin,
div.cmts div.cmt-reply-margin {
	margin-top: 1rem;
	padding-left: 2.5rem;
}

div.cmts li .cmt-cnt {
	border: 1px solid transparent;
}

div.cmts li.cmt div.cmt-cnt .bx-def-hr {
	border-color: rgba(20, 80, 100, 0.1);
}

div.cmts li.cmt div.cmt-cnt .cmt-info.bx-def-thumb-size-left-indent {
	margin-left: 2.5rem;
}

div.cmts li.cmt div.cmt-cnt div.cmt-head .cmt-meta-username {
	font-weight: 600;
	font-size: 0.875rem;
}
div.cmts li.cmt div.cmt-cnt div.cmt-head .cmt-meta-ago,
div.cmts li.cmt div.cmt-cnt div.cmt-head .cmt-meta-ago a {
	color: #cccccc;
}

div.cmts li.cmt div.cmt-cnt div.cmt-cont {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

div.cmts li.cmt div.cmt-cnt div.cmt-cont .cmt-body {
	font-size: 0.875rem;
}

div.cmts li.cmt div.cmt-cnt .cmt-actions .bx-menu-custom.bx-menu-hor > li > span {
	margin-top: 0;
	margin-bottom: 0;
}

div.cmts li.cmt div.cmt-cnt .cmt-actions .cmt-comment-manage-link {
	margin-top: 0;
	margin-bottom: 0;
}
