<script type="text/javascript" language="javascript">
    var sUrlRoot = '<bx_url_root />';

    $(document).ready(function () {
        bx_time('__lang__');

        // init link conversion
        $('a.bx-link').dolConverLinks();
    });

    (function(w) {
        var dpr = (w.devicePixelRatio === undefined ? 1 : Math.round(w.devicePixelRatio));
        if ($.cookie('devicePixelRatio') == dpr || dpr < 2)
            return;
        $.cookie('devicePixelRatio', dpr, {expires: 365, path: '/'});
        window.location.reload();
    })(window);
</script>
