<script language="javascript">
    var sUrlRoot = '<bx_url_root />';
    var sLang = '__lang_country__';

    $(document).ready(function () {
        bx_time('__lang_country__');
    });

    (function(w) {
        var dpr = (w.devicePixelRatio === undefined ? 1 : Math.round(w.devicePixelRatio));
        if ($.cookie('devicePixelRatio') == dpr || dpr < 2 || (typeof(bIgnorePixelRatio) != "undefined" && bIgnorePixelRatio) || !navigator.cookieEnabled || '#dpr' === window.location.hash) 
            return;
        $.cookie('devicePixelRatio', dpr, {expires: 365, path: '/'});
        if (!window.location.hash.length)
            window.location.hash = 'dpr';
        window.location.reload();
    })(window);

    var oMediaPhone = window.matchMedia('__css_media_phone__');
    var oMediaPhone2 = window.matchMedia('__css_media_phone2__');
    var oMediaTablet = window.matchMedia('__css_media_tablet__');
    var oMediaTablet2 = window.matchMedia('__css_media_tablet2__');
    var oMediaDesktop = window.matchMedia('__css_media_desktop__');

    function fMediaCallback(e) {
        if (oMediaPhone.matches)
            $('html').addClass('bx-media-phone');
        else
            $('html').removeClass('bx-media-phone');
        
        if (oMediaPhone2.matches)
            $('html').addClass('bx-media-phone2');
        else
            $('html').removeClass('bx-media-phone2');
        
        if (oMediaTablet.matches)
            $('html').addClass('bx-media-tablet');
        else
            $('html').removeClass('bx-media-tablet');
        
        if (oMediaTablet2.matches)
            $('html').addClass('bx-media-tablet2');
        else
            $('html').removeClass('bx-media-tablet2');

        if (oMediaDesktop.matches)
            $('html').addClass('bx-media-desktop');
        else
            $('html').removeClass('bx-media-desktop');
    }

    oMediaPhone.addListener(fMediaCallback);
    oMediaPhone2.addListener(fMediaCallback);
    oMediaTablet.addListener(fMediaCallback);
    oMediaTablet2.addListener(fMediaCallback);
    oMediaDesktop.addListener(fMediaCallback);

    fMediaCallback(null);

    var aIncludedCss = __included_css__;
    var aIncludedJs = __included_js__;
</script>
