<bx_injection:top />
<div id="bx-toolbar" class="bx-header bx-def-z-index-nav fixed top-0 w-full ring-1 ring-gray-300 dark:ring-gray-700 bg-white/95 dark:bg-gray-800/95 backdrop-blur shadow">
    <div class="bx-header-cnt __sys_header_width__ mx-auto px-3 md:px-4 lg:px-6 box-border">
        <div class="bx-toolbar-content-wrapper">
            <div id="bx-toolbar-content" class="bx-toolbar-content relative flex items-center justify-start h-16">
                <!-- Mobile: Hamburger -->
                <div class="bx-toolbar-item bx-ti-hamburger flex-none items-center lg:hidden mr-4">
                    <bx_menu:sys_toolbar_site />
                </div>

                <div class="bx-toolbar-items-group relative flex flex-1 items-center justify-start h-16">
                    <!-- Logo -->
                    <div id="bx-logo-container" class="bx-toolbar-item bx-ti-left bx-ti-logo flex-none items-center">
                        <bx_injection:injection_logo_before />
                        __main_logo__
                        <bx_injection:injection_logo_after />
                    </div>
                    <!-- Menu -->
                    <div class="bx-toolbar-item bx-ti-menu flex-2 hidden lg:block w-64 ml-4">
                        <div id="bx-menu-toolbar-1-container" class="bx-toolbar-item bx-ti-menu w-full">
                            <bx_menu:sys_site />
                        </div>
                    </div>
                    <!-- Search -->
                    <div class="bx-toolbar-item bx-ti-search flex-1 lg:flex-none flex items-center justify-end">
                        __sys_toolbar_search__
                    </div>
                </div>
                <!-- Members Toolbar -->
                <div id="bx-menu-toolbar-2-container" class="bx-toolbar-item bx-ti-right flex-none">
                    <bx_menu:sys_toolbar_member />
                </div>
            </div>
        </div>
    </div>
</div>