<bx_include_auto:_header.html />
<div id="bx-content-preload" class="hidden"></div>
<div id="bx-content-with-toolbar-wrapper" class="bx-main <bx_injection:injection_main_class />">
    <bx_include_auto:_page_toolbar.html />
    <div id="bx-content-with-cover-wrapper">
        <bx_include_auto:_page_cover.html />
        <div id="bx-content-with-submenu-wrapper">
            <bx_include_auto:_page_submenu.html />
            <div id="bx-content-wrapper">
                <bx_include_auto:_page_content_beg.html />