
<bx_include_auto:_header.html />



<bx_injection:top />



<div id="bx-toolbar">

    <div class="bx-page-wrapper bx-def-padding-sec-left bx-def-padding-sec-right bx-def-page-width">

        <div id="bx-toolbar-content">

            <div id="bx-menu-toolbar-1-container" class="bx-def-padding-sec-top bx-def-media-phone-hide">
                <bx_menu:sys_toolbar_site />
            </div>


            <div id="bx-logo-container" class="bx-def-font-h1 bx-def-media-phone-hide">

                <bx_injection:injection_logo_before />
                    __main_logo__
                <bx_injection:injection_logo_after />

            </div>

            <div id="bx-menu-toolbar-2-container" class="bx-def-padding-sec-top">            
                <bx_menu:sys_toolbar_member />
            </div>

            <div class="bx-clear"></div>

        </div>

    </div>

</div>



<bx_injection:injection_between_logo_top_menu />



<div id="bx-menu-main-bar-wrapper">

    <div id="bx-menu-main-bar">

        <div class="bx-page-wrapper bx-def-padding-sec-left bx-def-padding-sec-right bx-def-page-width">

            <bx_injection:injection_top_menu_before />

            <div id="bx-menu-main-container" class="bx-clearfix"> 
                <bx_menu:sys_site_submenu />
            </div>

            <bx_injection:injection_top_menu_after />

        </div>

    </div>

</div>


<bx_injection:injection_between_content_menu />

__informer__


<div class="bx-page-wrapper bx-def-padding-sec-left bx-def-padding-sec-right bx-def-page-width">

    <div id="bx-content-container">

        <bx_injection:injection_content_before />

        <div id="bx-content-main" class="bx-def-margin-top">


