
                <bx_injection:injection_content_after />

                <div class="bx-clear"></div>

            <bx_injection:banner_bottom />

        </div> <!-- #bx-content-main -->

        <bx_injection:injection_between_content_footer />

    </div> <!-- #bx-content-container -->

</div>



<div class="bx-page-wrapper bx-def-padding-sec-left bx-def-padding-sec-right bx-def-page-width">

    <div id="bx-footer" class="bx-def-margin-bottom bx-def-padding-sec bx-def-border bx-def-color-bg-block bx-def-round-corners">

        <bx_injection:injection_footer_before />

        <div id="bx-menu-bottom">
            <bx_menu:sys_footer />
        </div>

        <div id="bx-footer-copyright">__copyright__</div>

        <bx_injection:injection_footer_after />

        <div class="bx-clear"></div>

    </div>

</div>



<div class="bx-page-wrapper bx-def-padding-sec-left bx-def-padding-sec-right bx-def-page-width">
    __boonex_footers__
</div>



<bx_include_auto:_footer.html />

