<div class="bx-account-unit-wo-info bx-def-__size__-size text-center">
    <div class="bx-def-unit-img bx-def-__size__-size">
        <a href="__content_url__">
            <p class="bx-account-unit-thumb bx-def-__size__ bx-def-__size__-size flex items-center justify-center box-border m-0 rounded-full text-white font-bold" style="background-color:rgba(__color__)">__letter__</p>
        </a>
        <bx_if:show_online>
            <div class="bx-account-unit-online"></div>
        </bx_if:show_online>
    </div>
</div>