<div class="bx-account-unit bx-def-unit absolute bx-def-margin-bottom bx-def-margin-sec-right">
    <div class="bx-def-unit-img bx-def-thumb bx-def-thumb-size">
        <a class="bx-def-font-align-center" href="__content_url__">
            <p class="bx-account-unit-thumb bx-def-thumb bx-def-thumb-size bx-def-border bx-def-box-sizing" style="background-color:rgba(__color__)">__letter__</p>
        </a>
        <bx_if:show_online>
            <div class="bx-account-unit-online"></div>
        </bx_if:show_online>
    </div>
    <div class="bx-def-unit-info bx-def-thumb-size-min-height bx-def-thumb-size-max-height bx-def-thumb-size-left-indent">
        <div class="bx-def-unit-info-cnt bx-def-box-sizing">
            <div class="bx-def-unit-line">
                <a class="bx-def-unit-info-title" href="__content_url__">__title__</a>
            </div>
        </div>
    </div>
</div>