<!-- TODO: remake according to new design -->
<div class="admin_filter_panel">
	<table>
	    <tr>
		    <td><bx_text:_sys_admin_filter /></td>
		    <td>
			    <div class="input_wrapper input_wrapper_text">
				    <input type="text" id="__input_id__" value="__filter_value__" class="form_input_text" onkeypress="return on_filter_key_up(event, '__checkbox_id__')" />
				    <div class="input_close input_close_text">&nbsp;</div>
			    </div>
		    </td>
			<td><input type="checkbox" id="__checkbox_id__" __is_checked__ onclick="__on_apply__" /></td>
		    <td><label for="__checkbox_id__"><bx_text:_sys_admin_apply /></label></td>
	    </tr>
	</table>
</div>