<!-- TODO: remake according to new design -->
<div class="admin_actions_panel">
    <table>
        <tr>
            <bx_if:selectAll>
                <td><input class="admin-actions-select-all" type="checkbox" onclick="$('#__wrapper_id__ input[name=\'__checkbox_name__[]\']:enabled').attr('checked', this.checked)"  __checked__ /></td>
                <td><bx_text:_Select_all /></td>
            </bx_if:selectAll>
            <td>&nbsp;</td>
            <bx_repeat:buttons>
                <td><input class="bx-btn" type="__type__" name="__name__" value="__value__" __onclick__ /></td>
            </bx_repeat:buttons>
            <bx_if:custom_html>
                <td>__custom_html__</td>
            </bx_if:custom_html>
        </tr>
    </table>
</div>