<bx_if:show_auth>__content__</bx_if:show_auth>
<bx_if:show_form>__content__</bx_if:show_form>
<bx_if:show_login>
    <hr class="bx-def-hr bx-def-margin-sec-topbottom" />
    <div class="sys-jf-login">
        <a class="bx-btn bx-def-font-align-center" href="__url__"><bx_text:_sys_txt_join_description_action /></a>
    </div>
</bx_if:show_login>
<div class="sys-jf-agreement bx-def-margin-leftright-neg">
    <hr class="bx-def-hr bx-def-margin-top" />
    <div class="sys-jf-agreement-cnt bx-def-padding-top bx-def-padding-leftright bx-def-font-small bx-def-font-grayed">__agreement__</div>
</div>