<div class="animate-pulse space-y-1">
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
</div>
<script>
    var iBlockID = '__id__';
    $(document).ready(function () {
        getHtmlData($('#bx-page-block-' + iBlockID), bx_append_url_params(document.location.href, 'dynamic=tab&pageBlock=' + iBlockID), undefined, 'post', false, {includedCss: JSON.stringify(aIncludedCss), includedJs: JSON.stringify(aIncludedJs)}, false);
    });
</script>
