<!-- TODO: remake according to new design -->
<div class="{unitClass}_Unit">
    <div class="{unitClass}_Content">
    <div class="{unitClass}_OwnerPic">{ownerPic}</div>
        <div class="{unitClass}_Header">
        <div class="{unitClass}_Title">{title}</div>
            <div class="{unitClass}_Owner">{from}</div>
            <div class="{unitClass}_Rate">{rate}</div>
            <div class="clear_both"></div>
        </div>
        <div class="{unitClass}_Info">
            <div class="{unitClass}_When">{when}</div>
            <div class="{unitClass}_Category">{category}</div>
            <div class="{unitClass}_View">{view}</div>
            <div class="{unitClass}_Comment">{comment}</div>
            <div class="{unitClass}_Tag">{tag}</div>
            <div class="clear_both"></div>
        </div>
        <div class="{unitClass}_Body">
            {body}
        </div>
    </div>

</div>
