<div id="__id__"></div>
<script>
    var oDefaults = {
        headerToolbar: {
            initialView: 'dayGridMonth',
            left: 'prev,next today',
            center: 'title',
            right: '' 
        },
        navLinks: true, // can click day/week names to navigate views
    };
    var oOptions = __options__;

    var oBxFullCalendar = null;
    document.addEventListener('DOMContentLoaded', function() {
        oBxFullCalendar = new FullCalendar.Calendar(document.getElementById('__id__'), $.extend({}, oDefaults, oOptions));
        oBxFullCalendar.render();
    });
</script>