<div class="bx-def-unit bx-def-unit-live-search bx-def-margin-sec-bottom">
	<bx_if:show_icon>
		<a href="__view_link__">
			<img class="bx-def-thumb bx-def-thumb-size" src="__author_icon__" />
		</a>
	</bx_if:show_icon>
	<bx_if:show_icon_empty>
		<div class="bx-def-thumb-size bx-def-unit-img bx-def-round-corners bx-def-color-bg-box"></div>
	</bx_if:show_icon_empty>
	<div class="bx-def-unit-info bx-def-thumb-size-max-height bx-def-padding-sec-left">
		<a href="__view_link__">__text__</a><br /><span class="bx-def-fonr-grayed bx-def-font-small">__sample__</span>
	</div>
</div>
