<div id="__html_id__" class="sys-action __style_prefix__ __class__ flex items-center whitespace-nowrap" bx_comment_data_count="__count__">
    <div class="sys-action-cnt __style_prefix__-cnt flex items-center">
        <bx_if:show_do_comment>
            <div class="__style_prefix__-element-holder">__do_comment__</div>
        </bx_if:show_do_comment>
        <bx_if:show_counter>
            <div class="__style_prefix__-counter-holder bx-def-margin-sec-left-auto bx-btn-border"<bx_if:show_hidden> style="display:none"</bx_if:show_hidden>>__counter__</div>
        </bx_if:show_counter>
    </div>
    __script__
</div>