<div class="__style_prefix__-body bx-def-vanilla-html bx-def-vh-sm mt-2 max-w-none text-clip overflow-hidden">__text__<bx_if:show_more><span class="__style_prefix__-body-see-more">... <a class="bx-def-font-small" href="javascript:void(0)" onclick="__js_object__.showMore(this);"><bx_text:_see_more /></a></span><span style="display:none;"> __text_more__</span></bx_if:show_more></div>
<bx_if:show_attached>
    <div class="__style_prefix__-attached bx-clearfix -mx-1 -mb-1">__attached__</div>
</bx_if:show_attached>
<div class="__style_prefix__-counters -mx-1 mt-1">__counters__</div>