<li id="cmt__id__" class="__style_prefix____class__ bx-def-padding-top bx-def-margin-bottom">
    <a id="__anchor__" class="__style_prefix__-anchor"></a>
    <div class="__style_prefix__-cnt__class_cnt__">
        <div class="__style_prefix__-blink-plate"></div>
        <div class="__style_prefix__-avatar bx-def-thumb-size">__author_unit__</div>
        <div class="__style_prefix__-info bx-def-thumb-size-min-height bx-def-thumb-size-left-indent">
            <div class="__style_prefix__-head bx-clearfix">
                <bx_if:show_reply_to>
                    <span class="__style_prefix__-reply-to">
                        <a href="__par_cmt_link__" title="__par_cmt_title__">
                            <i class="sys-icon reply"></i> <span><bx_text:_in_reply_to /></span> __par_cmt_author_unit__ <span>__par_cmt_author__</span>
                        </a>
                    </span>
                </bx_if:show_reply_to>
                <bx_if:meta><span class="__style_prefix__-meta">__meta__</span></bx_if:meta>
            </div>
            <div class="__style_prefix__-cont bx-def-margin-sec-topbottom">
                <div class="__style_prefix__-cont-cnt">__content__</div>
            </div>
            __actions__
        </div>
    </div>
    <ul class="cmts cmts-margin">__replies__</ul>
</li>
