<div class="__style_prefix__-lu-notif">
    <a class="__style_prefix__-lu-notif bx-def-padding" href="javascript:void(0)" onclick="__onclick_show__" title="<bx_text_attribute:_cmt_txt_link_show />">
        <div class="__style_prefix__-lu-notif-cnt">
            <div class="__style_prefix__-lu-notif-avatar bx-def-thumb-size">__author_unit__</div>
            <div class="__style_prefix__-lu-notif-info bx-def-thumb-size-min-height bx-def-thumb-size-left-indent bx-def-font-small">
                <div class="__style_prefix__-lu-notifi-username"><b class="__style_prefix__-lu-notifi-username bx-def-font-color">__author_name__</b>: <span class="bx-def-font-small bx-def-font-grayed">__text__</span></div>
            </div>
        </div>
    </a>
</div>