<div class="__style_prefix__-actions bx-def-margin-thd-top">
	<bx_if:show_reply>
		<a class="__style_prefix__-comment-reply bx-def-margin-sec-left-auto" href="javascript:void(0)" onclick="__js_object__.toggleReply(this, __id__); return false;" title="__title_reply__"><i class="sys-icon reply"></i></a>
	</bx_if:show_reply>
	<bx_if:show_rate>
		<a class="__style_prefix__-comment-vote bx-def-margin-sec-left-auto" href="javascript:void(0)" onclick="__js_object__.cmtRate(this, __id__, 1)" title="<bx_text_attribute:_Plus />" <bx_if:hide_rate_plus>style="display:none"</bx_if:hide_rate_plus>><i class="sys-icon plus-circle"></i></a>
		<a class="__style_prefix__-comment-vote bx-def-margin-sec-left-auto" href="javascript:void(0)" onclick="__js_object__.cmtRate(this, __id__, -1)" title="<bx_text_attribute:_Minus />" <bx_if:hide_rate_minus>style="display:none"</bx_if:hide_rate_minus>><i class="sys-icon minus-circle"></i></a>
	</bx_if:show_rate>
	<bx_if:show_manage>
		<a class="__style_prefix__-comment-manage bx-def-margin-sec-left-auto" href="javascript:void(0)" onclick="__js_object__.toggleManagePopup(this, __id__); return false;" title="<bx_text_attribute:_Manage />"><i class="sys-icon cog"></i></a>
		<div id="__popup_id__" class="__style_prefix__-comment-manage" style="display:none;">__popup_text__</div>
	</bx_if:show_manage>
</div>
