<li id="cmt__id__" class="__style_prefix____class__ pt-4 first:pt-0 mb-4">
    <a id="__anchor__" class="__style_prefix__-anchor"></a>
    <div class="__style_prefix__-cnt__class_cnt__ flex items-start">
        <div class="__style_prefix__-blink-plate"></div>
        <div class="__style_prefix__-avatar bx-def-thumb-size flex-none">__author_unit__</div>
        <div class="__style_prefix__-info bx-def-thumb-size-min-height flex-auto min-w-0 pl-2 lg:pl-4">
            <bx_if:show_notes>
                <div class="__style_prefix__-notes mb-1">
                    <bx_repeat:notes>
                        <div class="__style_prefix__-note mt-1 first:mt-0 text-sm text-gray-500 dark:text-gray-400">
                            <div class="__style_prefix__-n-text<bx_if:show_note_color> col-__item_note_color__</bx_if:show_note_color>">__item_note__</div>
                        </div>
                    </bx_repeat:notes>
                </div>
            </bx_if:show_notes>
            <div class="__style_prefix__-head flex">
                <bx_if:meta><span class="__style_prefix__-meta bx-base-general-unit-meta">__meta__</span></bx_if:meta>
                <bx_if:show_pinned><span class="__style_prefix__-pinned ml-2"><i class="sys-icon thumbtack" title="<bx_text:_cmt_txt_pinned />"></i></span></bx_if:show_pinned>
            </div>
            <div class="__style_prefix__-cont my-2">
                <div class="__style_prefix__-cont-cnt">__content__</div>
            </div>
            __actions__
        </div>
    </div>
    <ul class="cmts cmts-all cmts-margin">__replies__</ul>
</li>
