<div class="__style_prefix__-reply__class__ bx-def-margin-bottom">
    <div class="__style_prefix__-cont __style_prefix__-post-reply">
        <div class="__style_prefix__-cont-cnt">
            <bx_if:show_form_min>
                <div class="__style_prefix__-body-min__class_body_min__">
                    <div class="__style_prefix__-bm-user">__author_unit__</div>
                    <div class="__style_prefix__-bm-content bx-def-thumb-size-min-height bx-def-thumb-size-left-indent bx-def-font-grayed">__placeholder__</div>
                </div>
            </bx_if:show_form_min>
            <div class="__style_prefix__-body__class_body__">__form__</div>
        </div>
    </div>
</div>