<div id="__html_id__" class="sys-action __style_prefix__ __class__ flex items-center whitespace-nowrap">
    <div class="sys-action-cnt __style_prefix__-cnt __style_prefix__-do bx-def-valign-center bx-clearfix w-full">
        <bx_if:show_do>
            <div class="sys-action-element-holder __style_prefix__-element-holder">
                <bx_if:show_action>
                    <a class="__style_prefix__-do__class__ flex" href="javascript:void(0)" onclick="javascript:__js_object__.connect(this, '__action__', __profile_id__)">
                        <div class="sys-action-do __style_prefix__-do bx-def-valign-center">
                            <bx_if:show_icon><span class="sys-action-do-icon __style_prefix__-do-icon bx-def-align-center">__icon__</span></bx_if:show_icon>
                            <bx_if:show_text><span class="sys-action-do-text __style_prefix__-do-text bx-def-margin-sec-left-auto bx-dir">__text__</span></bx_if:show_text>
                        </div>
                    </a>
                </bx_if:show_action>
                <bx_if:show_actions>
                    <a class="__style_prefix__-do__class__ flex" href="javascript:void(0)" onclick="javascript:__js_object__.toggleConnectPopup(this, __profile_id__)">
                        <div class="sys-action-do __style_prefix__-do bx-def-valign-center">
                            <bx_if:show_icon><span class="sys-action-do-icon __style_prefix__-do-icon bx-def-align-center">__icon__</span></bx_if:show_icon>
                            <bx_if:show_text><span class="sys-action-do-text __style_prefix__-do-text bx-def-margin-sec-left-auto bx-dir">__text__</span></bx_if:show_text>
                        </div>
                    </a>
                    __do_popup__
                </bx_if:show_actions>
            </div>
        </bx_if:show_do>
        <bx_if:show_counter>
            <div class="sys-action-counter-holder __style_prefix__-counter-holder ltr:ml-2 ltr:first:ml-0 rtl:mr-2 rtl:first:mr-0">__counter__</div>
        </bx_if:show_counter>
    </div>
    __script__
</div>