<div class="sys-cf-manage">
    <div class="sys-cf-manage-cnt bx-def-padding">
        __form__
        <script language="javascript">
            $(document).ready(function () {
                $("#__form_id__").ajaxForm({ 
                    dataType: "json",
                    beforeSubmit: function (formData, jqForm, options) {
                        bx_loading($("#__form_id__"), true);
                    },
                    success: function (oData) {
                        $("#__form_id__").parents(".bx-popup-applied:visible:first").dolPopupHide();

                        processJsonData(oData);
                    }
                });
            });
        </script>
    </div>
</div>