<bx_if:logged_in>
<style>
    .bx-hide-when-logged-in {
        display:none !important;
    }
</style>
</bx_if:logged_in>

<div class="bx-menu-toolbar-padding">
<div class="bx-cover-wrapper __class__" <bx_if:bg>style="background-image:url(__image_url__)"</bx_if:bg>>
    <div class="bx-cover-gradient"></div>
    <div class="bx-cover bx-def-centered bx-def-page-width bx-def-padding bx-def-box-sizing">

        <bx_if:image>
        <div class="bx-cover-image">
            <img class="bx-def-border bx-def-round-corners" style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" />
        </div>
        </bx_if:image>

        <div class="bx-cover-title bx-def-margin-sec-topbottom bx-def-font-h1" style="z-index:2;">

            <bx_if:icon><i class="sys-icon bx-def-font-contrasted bx-def-margin-sec-right __icon__"></i></bx_if:icon>            

            <span class="bx-def-font-contrasted">__title__</span>

        </div>

        <div class="bx-cover-actions">
            __actions__
        </div>

    </div>

</div>
</div>
