<div class="bx-db-share-popup">
    <div class="bx-db-title bx-def-font-h2"><bx_text:_sys_txt_share_popup_header /></div>
    <div class="bx-db-share-popup-cnt">
         <bx_menu:sys_social_sharing />
         <div class="bx-def-margin-sec-bottom">
             <bx_text:_sys_txt_share_popup_url />       
             <div class="bx-def-border bx-def-padding-sec rounded bx-def-font-small">__url__</div>
         </div>
         <div class="bx-def-margin-sec-bottom">
             <bx_text:_sys_txt_share_popup_embeded_code />        
             <div class="bx-def-border bx-def-padding-sec max-w-xs rounded bx-def-font-small">__code__</div> 
         </div>
    </div>
</div>