<div class="bx-db-share-popup">
    <div class="bx-db-share-popup-cnt">
         <div class="bx-def-margin-sec-bottom">
             <bx_menu:sys_social_sharing />
         </div>
         <div class="bx-def-margin-sec-bottom">
             <bx_text:_sys_txt_share_popup_url />       
             <div class="bx-def-border bx-def-padding-sec rounded bx-def-font-small relative flex items-center justify-between">__url__<a href="javascript:" onClick="bx_copy_to_clipboard('__url__')" title="<bx_text:_sys_txt_share_popup_copy_to_clipboard_text />"><i class="sys-icon copy"></i></a></div>
         </div>
         <div class="bx-def-margin-sec-bottom">
             <bx_text:_sys_txt_share_popup_embeded_code />        
             <div class="bx-def-border bx-def-padding-sec rounded bx-def-font-small relative flex items-center justify-between">__code__<a href="javascript:" onClick="bx_copy_to_clipboard('__code__')" title="<bx_text:_sys_txt_share_popup_copy_to_clipboard_text />"><i class="sys-icon copy"></i></a</div> 
         </div>
    </div>
</div>