<div id="dbTopMenu__id__" class="bx-db-menu bx-def-padding-sec-right">
    <bx_repeat:items>
        <div id="__id__-act" class="bx-db-menu-tab bx-db-menu-tab-active" __show_active__>
            <bx_if:icon_act>
                <i class="__class__" style="background-image:url(__src__);">&#160;</i>
            </bx_if:icon_act>
            <span __class__>__title__</span>
        </div>
        <div id="__id__-pas" class="bx-db-menu-tab" __show_passive__>
            <bx_if:icon_pas>
                <i class="__class__" style="background-image:url(__src__);">&#160;</i>
            </bx_if:icon_pas>
            <a id="__id__" __class__ __href__ __target__ __on_click__>__title__</a>
        </div>
    </bx_repeat:items>
    <div class="clear_both">&nbsp;</div>
</div>
