<!-- Design Box 11 [start]: Content + title + background + padding -->
<div class="bx-db-container bx-def-color-bg-block ring-1 ring-gray-200 dark:ring-gray-800 shadow-sm rounded-md">
    <div class="bx-db-header px-3 md:px-4 py-2 md:py-3">
        <div class="bx-db-title text-lg lg:text-xl leading-6 font-bold text-gray-800 dark:text-gray-100 align-middle">__title__</div>__caption_item__
    </div>
    <div class="bx-db-content relative p-3 md:p-4">__designbox_content__</div>
</div>
<!-- Design Box 11 [ end ] -->
