<div id="dbTopMenu__id__" class="bx-db-menu bx-def-padding-sec-right">
    <bx_repeat:items>
        <bx_if:item_act>
            <div class="bx-db-menu-tab bx-db-menu-tab-active">
                <bx_if:icon_act>
                    <i class="__class__" style="background-image:url(__src__);">&#160;</i>
                </bx_if:icon_act>
                <span>__title__</span>
            </div>
        </bx_if:item_act>
        <bx_if:item_pas>
            <div class="bx-db-menu-tab">
                <bx_if:icon_pas>
                    <i class="__class__" style="background-image:url(__src__);">&#160;</i>
                </bx_if:icon_pas>
                <a __id__ href="__href__" class="__class__" __target__ __on_click__>__title__</a>
            </div>
        </bx_if:item_pas>
    </bx_repeat:items>
    <div class="clear_both">&nbsp;</div>
</div>
