<div class="bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size flex flex-col w-full p-2 box-border">
    <div class="bx-base-text-unit-cnt rounded ring-1 ring-gray-200 dark:ring-gray-700 overflow-hidden bg-white dark:bg-gray-800">
        <bx_if:thumb>
            <a href="__url__" title="__title__">
                <div class="flex-shrink-0 m-1">
                    <img class="h-48 w-full object-cover rounded" src="__background__" alt="">
                </div>
            </a>
        </bx_if:thumb>
        <bx_if:no_thumb>
            <a href="__url__" title="__title__">
                <div class="bx-def-gal-img-column flex-shrink-0 m-1">
                    <div class="bx-base-text-unit-no-thumb flex flex-col items-center justify-center h-48 p-4 bg-gradient-to-b from-red-400 to-red-500 box-border rounded-md"></div>
                </div>
            </a>
        </bx_if:no_thumb>
        <div class="bx-base-text-unit-text p-3 md:p-4 lg:p-6 pt-2 md:pt-3 lg:pt-5 box-border">
            <div class="bx-base-text-unit-title flex items-center text-left">
                <a href="__url__" class="text-lg lg:text-xl font-semibold text-gray-700 group-hover:text-gray-900 dark:text-gray-200 dark:group-hover:text-white">__title__</a>
            </div>
        </div>
    </div>
</div>