<a href="__link__" target="_blank" style="text-decoration: none; color: inherit;" __attrs__>
    <div class="bx-embeded" style="display: flex; flex-direction: row; column-gap:  height: 128px; border: 1px solid #cccccc; border-radius:16px; align-items: stretch;">
        <div style="flex: 0 0 128px; height: 128px; border-radius:16px 0 0 16px; background: url('__image__') center center / cover no-repeat;">
            <img  class="bx-embeded-image" src="__image__"  width="128" height="128">
        </div>
        <div style="flex: 1 1 auto;display: flex; flex-direction: column; justify-content: space-between; overflow: hidden;margin: 0 1rem; ">
            <div style="padding-top: 0.5rem; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1;  overflow: hidden; text-overflow: ellipsis; max-height:30px"><b>__title__</b></div>
            <div style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;  overflow: hidden; text-overflow: ellipsis;max-height:52px">__description__</div>
            <div style="display: flex; flex-direction: row; column-gap: 8px; align-items: center; padding-bottom: 0.5rem;">
              <img src="__logo__" width=24 height=24  style="margin-right:8px">__domain__
           </div>
        </div>
    </div>
</a>