<h3><bx_text:_sys_notification_account /></h3>
<div>
    <bx_repeat:items>
        <div style="display: inline-block; width: 240px;">
            <div style="margin: 5px; white-space: nowrap;">
			    <div style="display: inline-block; vertical-align: top; width: 48px; height: 48px; line-height: 48px; border-radius: 80px; background-clip: padding-box; text-align: center; overflow: hidden;">
		            <bx_if:show_thumb_image>
		                <img style="width: 48px; height: 48px; line-height: 48px; border-radius: 80px;" src="__thumb_url__" />
		            </bx_if:show_thumb_image>
		            <bx_if:show_thumb_letter>
		                <p style="display: block; box-sizing: border-box; width: 48px; height: 48px; margin: 0px; border: 1px solid #ccc; border-radius: 80px; background-color: rgba(__color__); line-height: 46px; font-size: 32px; font-weight: 700; color: #ffffff;">__letter__</p>
		            </bx_if:show_thumb_letter>
			    </div><div style="display: inline-block; vertical-align: top; min-height: 48px; margin-left: 10px;">
			        <div style="padding: 5px 0px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
	                    <bx_if:show_title_link>
	                        <a style="font-weight: bold;" href="__content_url__" title="__content_title_attr__">__content_title__</a>
			            </bx_if:show_title_link>
			            <bx_if:show_title_text>
	                        <b title="__content_title_attr__">__content_title__</b>
			            </bx_if:show_title_text>
	                    <br />__email__
			        </div>
			    </div>
            </div>
		</div>
    </bx_repeat:items>
</div>