<bx_repeat:items>
	<div id="bx-nested-form-__nested_type__-__key_value__" class="bx-nested-form-ghost bx-def-margin bx-def-padding bx-def-border bx-clearfix">
		<div class="bx-nested-form-ghost-form">
			__form_code__ 
			<div class="bx-nested-form-actions bx-def-margin-top bx-clearfix"><a class="bx-btn bx-btn-small" href="javascript:void(0);" onclick="__js_instance_name__.deleteGhost(this, '__nested_type__')"><bx_text:_sys_form_input_nested_form_button_delete_item /></a></div>
			<input type="hidden" name="__key_name__[]" value="__key_value__" class="bx-def-font-inputs bx-form-input-hidden">
		</div>
	</div>
</bx_repeat:items>
<div id="bx-form-input-nested-form-forms-__uniq_id__" class="bx-form-input-nested-form"></div>
<div id="bx-form-input-nested-form-input-__uniq_id__" class="bx-def-margin bx-clearfix">
    <button type="button" class="bx-btn bx-btn-small"><bx_text:_sys_form_input_nested_form_button_add_new_item /></button>
</div>
__info__
__error__
<script>
    $(document).ready(function() {
        __js_instance_name__ = new BxDolNestedForm(__options__);
        $('#bx-form-input-nested-form-input-__uniq_id__').on('click', function () {
            __js_instance_name__.addEmptyGhost();
            return false;
        });
    });
</script>
