<bx_if:show_view>
    <div class="bx-form-section-title px-6 py-5">__caption__<bx_if:show_view_info><br /><span class="bx-def-font-grayed">__info__</span></bx_if:show_view_info></div>
</bx_if:show_view>
<bx_if:show_default>
    <div class="bx-form-section-title group relative flex justify-between align-center flex-nowrap w-full">
        <div class="flex-1 max-w-full pr-12">
            <a class="block w-full pl-6 py-5 text-inherit hover:text-gray-900 font-semibold" href="javascript:void(0);">
                __caption__
                <bx_if:show_default_info>
                    <br /><span class="bx-def-font-grayed block w-full truncate">__info__</span>
                </bx_if:show_default_info>
            </a>
        </div>
        <div class="absolute right-0 py-5 pr-6">
            <u class="bx-form-section-toggler"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path></svg></u>
        </div>
    </div>
</bx_if:show_default>