
<div id="__id_wrap__">

    <bx_if:display_header>
        <div class="bx-grid-header bx-clearfix">

            <bx_if:filter>
                <div style="float:left;">
                    __controls__
                </div>  
            </bx_if:filter>

            <bx_if:actions_independent>
                <div style="float:right;">
                    __actions_independent__
                </div>
            </bx_if:actions_independent>

        </div>
    </bx_if:display_header>

    <div id="__id_cont__" class="bx-grid-table-wrapper bx-def-margin-top">
        
        <hr class="bx-def-hr" />

        <table id="__id_table__" class="bx-grid-table">
            <thead>
                <tr>
                    <bx_repeat:row_header>
                        __header_cell__
                    </bx_repeat:row_header>
                </tr>
                <tr class="bx-grid-table-row-hr">
                    <td colspan="__columns__"><hr class="bx-def-hr" /></td>
                </tr>
            </thead>            
            <tbody>
                    <bx_repeat:rows_data>
                        <tr id="__id_row__" class="__row_class__">
                            __row__
                        </tr>
                    </bx_repeat:rows_data>
            </tbody>
        </table>

        <hr class="bx-def-hr" />

        <div class="bx-grid-footer bx-def-margin-bottom bx-def-margin-sec-top bx-clearfix">
            <bx_if:actions_bulk>
                <div style="float:left;">
                    __actions_bulk__
                </div>
            </bx_if:actions_bulk>

            <div style="float:right;">
                __paginate__
            </div>
        </div>

    </div>

</div>

<script>
    $(document).ready(function() {
        if (typeof(glGrids) == 'undefined')
            glGrids = {};
        if (undefined == glGrids.__object__) {
            glGrids.__object__ = new BxDolGrid('__object__', {
                sortable: __sortable__,
                sorting: __sorting__,
                paginate_get_start: '__paginate_get_start__',
                paginate_get_per_page: '__paginate_get_per_page__',
                start: __start__,
                per_page: __per_page__,
                filter: '__filter__',
                order_field: '__order_field__',
                order_dir: '__order_dir__',
                text_search_input: '<bx_text_js:_sys_grid_search />',
                popup_options: __popup_options__,
                query_append: __query_append__,
                confirm_messages: __confirm_messages__,
                columns: __columns__
            });
        }
    });
</script>

