<script defer language="javascript">
<!--    
    glTour = new Shepherd.Tour({
        useModalOverlay: true,
        defaultStepOptions: {
            classes: 'bx-def-z-index-modal',
            showCancelLink: true,
            scrollTo: true
        }
    });

    Shepherd.on('cancel', function () {
        $.cookie('homepage-tour-hidden', 1, {expires: 9999});
    });

    glTour.addStep({
        id: 'tour-homepage',
        title: '<bx_text_js:_sys_tour_homepage_welcome_title />',
        text: '<bx_text_js:_sys_tour_homepage_welcome_txt />',
        buttons: [{
            text: '<bx_text_js:_sys_exit />',
            action: glTour.cancel,
            classes: 'shepherd-button-secondary'
        },{
            text: '<bx_text_js:_sys_next />',
            action: glTour.next,
            classes: 'shepherd-button-primary'
        }]
    });

    glTour.addStep({
        id: 'tour-account-menu',
        title: '<bx_text_js:_sys_tour_homepage_account_menu_title />',
        text: '<bx_text_js:_sys_tour_homepage_account_menu_txt />',
        attachTo: { element: '#bx-menu-toolbar-item-account', on: 'bottom'},
        canClickTarget: false,
        buttons: [{
            text: '<bx_text_js:_sys_done />',
            action: glTour.cancel,
            classes: 'shepherd-button-primary'
        }]
    });

    if (!$.cookie('homepage-tour-hidden'))
        glTour.start();
-->
</script>
