<bx_if:i><i <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</i></bx_if:i>
<bx_if:span><span <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</span></bx_if:span>
<bx_if:div><div <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</div></bx_if:div>
<bx_if:img><img <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs> /></bx_if:img>
<bx_if:a><a <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</a></bx_if:a>
<bx_if:button><button <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</button></bx_if:button>
<bx_if:custom>__content__</bx_if:custom>