<div class="bx-page-wrapper" style="width:__main_div_width__;">
    <div id="bx-informer" class="bx-def-border bx-def-color-bg-block bx-def-round-corners bx-def-padding bx-def-margin-top">
        <bx_repeat:messages>
            <div id="__id__" class="bx-informer-msg __class__ bx-def-padding bx-def-color-bg-hl bx-def-round-corners bx-def-margin-top">
                <i class="sys-icon __icon__ bx-def-margin-right"></i>
                __msg__
            </div>
        </bx_repeat:messages>
    </div>
</div>
