<!-- layout top area 3 columns [ start ] -->
<div class="bx-layout-wrapper bx-layout-top-area-3-columns">

    <bx_include_auto:_row_1_column.html />

    <div class="bx-layout-row bx-clearfix">
        <div class="bx-layout-col bx-layout-3-columns-column1 bx-layout-column-thin">
            <div class="bx-layout-cell bx-def-padding-sec-right" id="bx-layout-cell-2">
                __cell_2__
            </div>
        </div>
        <div class="bx-layout-col bx-layout-3-columns-column2 bx-layout-column-thin">
            <div class="bx-layout-cell bx-def-padding-sec-leftright" id="bx-layout-cell-3">
                __cell_3__
            </div>
        </div>
        <div class="bx-layout-col bx-layout-3-columns-column3 bx-layout-column-thin">
            <div class="bx-layout-cell bx-def-padding-sec-left" id="bx-layout-cell-4">
                __cell_4__
            </div>
        </div>
    </div>

</div>
<!-- layout top area 3 columns [  end  ] -->
