<!-- layout top area 2 columns [ start ] -->
<table class="bx-layout-wrapper bx-layout-top-area-2-columns">
    <tr>
        <td id="bx-layout-cell-1" class="bx-layout-cell bx-layout-top-area-2-columns-top" colspan="2"><div>__cell_1__</div></td>
    </tr>
    <tr>
        <td id="bx-layout-cell-2" class="bx-layout-cell bx-layout-top-area-2-columns-column1"><div class="bx-def-padding-sec-right">__cell_2__</div></td>
        <td id="bx-layout-cell-3" class="bx-layout-cell bx-layout-top-area-2-columns-column2"><div class="bx-def-padding-sec-left">__cell_3__</div></td>
    </tr>
</table>
<!-- layout top area 2 columns [  end  ] -->
