<!-- layout top area bar content bar (bcb) [ start ] -->
<div id="__page_id__" class="bx-layout-wrapper bx-layout-top-area-bcb">
    <bx_include_auto:_row_1_column.html />
    <div class="bx-layout-row max-w-screen-2xl flex relative flex-wrap lg:flex-nowrap mx-auto gap-4 lg:gap-6 xl-gap-8">
        <section aria-label="Sidebar" class="flex-auto lg:flex-none lg:w-64">
        <div class="bx-layout-col">
            <div class="bx-layout-cell" id="bx-layout-cell-2">
                __cell_2__
            </div>
        </div>
        </section>
        <section aria-label="Content" class="flex-1 flex flex-wrap xl:flex-nowrap gap-4 lg:gap-6 xl-gap-8">
            <main aria-label="Main" class="max-w-5xl  flex-auto relative">
            <div class="bx-layout-col">
                <div class="bx-layout-cell" id="bx-layout-cell-3">
                    __cell_3__
                </div>
            </div>
            </main>
            <aside aria-label="Aside" class="flex-auto flex flex-col gap-4 lg:gap-6 xl-gap-8  xl:flex-none xl:w-96">
                <div class="bx-layout-col">
                    <div class="bx-layout-cell" id="bx-layout-cell-4">
                        __cell_4__
                    </div>
                </div>
            </aside>
        </section>
    </div>
    <bx_include_auto:_row_1_column_dump.html />
</div>
<!-- layout top area bar content bar (bcb) [  end  ] -->