
<div class="bx-form-input-location-cont bx-clearfix">
    __input__
    <div id="__id_status__" class="bx-def-margin-sec-left">__location_string__</div>
</div>

<input type="hidden" name="__name___lat" value="__lat__" />
<input type="hidden" name="__name___lng" value="__lng__" />

<script>
    $('input[name=__name__][type=checkbox]').on('change', function () {
        var _self = this;
        var callbackOnLocationReset = function (error) {
            $('[name="__name___lat"]').val('');
            $('[name="__name___lng"]').val('');
            $('#__id_status__').html("<bx_text_js:_sys_location_undefined />");
            $(_self).prop("checked", false);
            $(_self).parents('.bx-switcher-cont').removeClass('on').addClass('off');
        }

        var callbackOnLocationSucess = function (position) {
            $('[name="__name___lat"]').val(position.coords.latitude);
            $('[name="__name___lng"]').val(position.coords.longitude);
            $('#__id_status__').html(position.coords.latitude + ', ' + position.coords.longitude);
        }

        if ($(this).is(':checked')) {
            $('#__id_status__').html('<bx_text_js:_sys_location_determining />');
            if (navigator.geolocation)
                navigator.geolocation.getCurrentPosition(callbackOnLocationSucess, callbackOnLocationReset);
            else
                $('#__id_status__').html('<bx_text_js:_sys_location_geolocation_not_supported_by_browser />');
        }
        else {
            callbackOnLocationReset();
        }
    });
</script>
