<!-- TODO: remake according to new design and styles -->

<form id="sys_manage_items___suffix__" name="sys_manage_items___suffix__" method="post" style="width:100%;"> <!-- max-height:700px; overflow-y:auto; -->
    <input type="hidden" name="entry_id" value="__entry_id__" />
    <div id="sys_manage_items___suffix___content">
        __content__
        <div class="clear_both"></div>
    </div>
    __control__
</form>
<script type="text/javascript" language="javascript">
    <!--
    function sys_manage_items_get___suffix___ids() {
        var eIds = $('#sys_manage_items___suffix___content input:checked');
        var sRet = '';
        jQuery.each(eIds, function() {
            sRet += '' + this.value + ',';
        });
        return sRet;
    }
    -->
</script>
