<ul id="bx-menu-inter-__id__" class="bx-menu-inter bx-menu-object-__object__ bx-clearfix">
	<bx_repeat:menu_items>
		<li class="bx-menu-inter-div"><span>&#183;</span></li>
	    <li id="__id__-act" class="bx-menu-inter-act __class_wrp_act__">
	        <span class="__class__">__title__</span>
	    </li>
	    <li id="__id__-pas" class="bx-menu-inter-pas __class_wrp_pas__">
	        <a id="__id__" class="__class__" href="__link__" target="__target__" onclick="__onclick__">__title__</a>
	    </li>
	</bx_repeat:menu_items>
</ul>
<script type="text/javascript" language="javascript">
    $(document).ready(function() {
    	$('#bx-menu-inter-__id__').find('a').bind('click', function() {
    		var sId = $(this).attr('id');
			$(this).parent().siblings('.bx-menu-inter-act:visible').hide().siblings('.bx-menu-inter-pas:hidden').show().siblings('#' + sId + '-pas:visible').hide().siblings('#' + sId + '-act:hidden').show();
    	});
    });
</script>
