
<div id="bx-sliding-menu-account" class="bx-sliding-menu-main bx-sliding-menu-fullheight bx-def-z-index-nav bx-def-color-bg-block bx-def-border-bottom bx-def-box-sizing bx-search-site" style="display:none; opacity:1;">
    <div class="bx-def-page-width bx-def-centered">
        <a class="bx-sliding-menu-close bx-def-margin bx-def-font-h1" href="javascript:void(0);" onclick="bx_menu_slide('#bx-sliding-menu-account')"><i class="sys-icon times"></i></a>

        <div class="bx-menu-account-popup bx-menu-object-__object__ bx-def-padding">
            <div class="bx-def-font-h1 bx-menu-account-popup-profile">__profile_display_name__</div>
            <div class="bx-menu-account-popup-menu bx-def-margin-top bx-def-margin-bottom">__menu_account__</div>
            <div>__menu_notifications__</div>     
        </div>
        <div class="bx-menu-account-popup-profile-switcher bx-def-box-sizing bx-def-padding-leftright">__profile_switcher__</div>
        <div class="bx-menu-account-popup-profile-switcher-link bx-def-padding"><a href="__url_switch_profile__"><bx_text:_sys_txt_my_profiles /></div>
    </div>
</div>

