<span class="__class_wrp__">
    <span class="flex mr-1">
        <a class="__class_link__" href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__><bx_include_auto:menu_icon.html /><bx_if:title><span class="bx-def-margin-sec-left-auto">__title__</span></bx_if:title></a>
        <bx_if:addon>
            <div class="bx-menu-addon inline-block  ml-1 flex items-center">
                <div class="bx-menu-addon-cnt py-0.5 px-2 bg-blue-200 text-blue-800 text-xs rounded-full">
                    __addon__
               </div>
            </div>                     
        </bx_if:addon>
    </span>
</span>
