<ul class="bx-menu-floating-blocks">
    <bx_repeat:menu_items>
        <li class="bx-def-round-corners __class_add__">
            <a href="__link__" target="__target__" onclick="__onclick__">
                    <div class="bx-menu-floating-blocks-icon">
                        <bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
                        <bx_if:image><img style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image>
                    </div>
                    <div class="bx-menu-floating-blocks-title">__title__</div>
            </a>                
        </li>                
    </bx_repeat:menu_items>
    <div class="bx-clear"></div>
</ul>
<script language="javascript">
    $(document).ready(function () {        

        // add default class to active menu items
        $('.bx-menu-floating-blocks > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');

        // add default class for onhover effect
        $('.bx-menu-floating-blocks')
            .not('.bx-menu-floating-blocks-js-applied') // make sure to not bind events multiple times
            .addClass('bx-menu-floating-blocks-js-applied') 
            .find('li') // find all menu items
            .bind('mouseenter mouseleave', function () { // bind events
                $(this).toggleClass('bx-def-color-bg-hl');
            }
        );                

        bx_center_content ('.bx-menu-floating-blocks', '.bx-menu-floating-blocks > li');

    });
</script>
