<ul class="bx-menu-ver bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-menu-item __name__ bx-def-round-corners bx-def-color-bg-hl-hover __class_add__ bx-stl-mil-wo-gaps group">
            <a class="__name__ bx-stl-mil-gaps" href="__link__" <bx_if:onclick>onclick="__onclick__"</bx_if:onclick> __attrs__>
                <div class="flex flex-2 items-center p-2 truncate">
                    <span class="bx-menu-item-icon bx-stl-mii">
                        <bx_include_auto:menu_icon.html />
                    </span>
                    <span class="bx-menu-item-title bx-stl-mit" sidebar-toggle-item>__title__</span>
                </div>
            </a>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-ver > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>
