<ul class="bx-menu-verlit bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-def-margin-sec-top __class_add__">
            <a href="__link__" target="__target__" onclick="__onclick__">
                <bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
                <bx_if:image><img class="bx-def-margin-sec-right" style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image>
                __title__
            </a>
        </li>
    </bx_repeat:menu_items>
</ul>
