<div id="bx-sliding-menu-account" class="bx-sliding-menu-main bx-sliding-menu-fullheight bx-def-z-index-nav bx-def-color-bg-block bx-def-border-bottom bx-def-box-sizing bx-search-site" style="display:none; opacity:1;">
    <div class="bx-def-page-width bx-def-centered">
        <div class="bx-sliding-menu-main-cnt">
            <a class="bx-sliding-menu-close bx-def-margin-sec-top bx-def-margin-right bx-def-font-h1" href="javascript:void(0);" onclick="bx_menu_slide_inline('#bx-sliding-menu-account')"><i class="sys-icon times"></i></a>
            <div class="bx-menu-account-popup bx-menu-object-__object__ bx-def-padding-top bx-def-padding-leftright">
                <bx_repeat:menu_items>
                    <div class="bx-menu-account-popup-__name__">__item__</div>
                </bx_repeat:menu_items>
            </div>
        </div>
    </div>
</div>