<ul class="bx-menu-btns-hor bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items><li class="bx-def-margin-thd-topbottom __class_add__"><a class="bx-btn bx-def-margin-right" href="__link__" target="__target__" onclick="__onclick__">
        <bx_if:image><i style="background-image:url(__icon_url__)"></i></bx_if:image>
        <bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
        <bx_if:title>
        	<u>__title__</u>
        </bx_if:title>
    </a></li></bx_repeat:menu_items>
</ul>
