<ul class="bx-menu-btns-hor bx-menu-object-__object__ flex flex-row @container/menu">
    <bx_repeat:menu_items>
        <li class="bx-menu-item __name__ __class_add__ flex-1 @lg/menu:flex-none flex flex-row items-stretch min-w-0 my-1 mr-4 last:mr-0">
            <a class="bx-btn __name__ flex flex-col @lg/menu:flex-row justify-center @lg/menu:justify-start w-full" href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__>
                <bx_include_auto:menu_icon.html />
                <bx_if:title><u class="w-full mr-2 @lg/menu:mr-0 truncate text-center @lg/menu:text-left">__title__</u></bx_if:title>
            </a>
        </li>
    </bx_repeat:menu_items>
</ul>