<div id="__name__" class="z-20 z-50 hidden max-w-sm my-4 overflow-hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow-lg dark:bg-gray-700 dark:divide-gray-600">
    <div class="block px-4 py-2 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">__title__</div>
    <div class="grid grid-cols-3 gap-4 p-4">
        <bx_repeat:menu_items>
            <a class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600" href="__link__" onclick="__onclick__"__attrs__>
                <div class="w-7 h-7 mx-auto mb-1 text-gray-500 dark:text-gray-400">
                    <bx_include_auto:menu_icon.html />
                </div>
                <div class="text-sm font-medium text-gray-900 dark:text-white">__title__</div>
            </a>
        </bx_repeat:menu_items>
    </div>
</div>