<ul class="bx-menu-toolbar bx-menu-object-__object__">
    <bx_repeat:menu_items>
        <li class="__class_add__">
            <a href="__link__" target="__target__" onclick="__onclick__" class="bx-def-round-corners bx-def-margin-sec-left"><bx_if:title><span>__title__</span></bx_if:title><bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon><bx_if:image><img class="bx-def-icon bx-def-icon-size" style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image></a>
        </li>
    </bx_repeat:menu_items>
</ul>
