<ul class="bx-menu-profile-followings bx-menu-ver bx-menu-object-__object__ bx-def-font-middle bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-menu-item bx-menu-item-__name__ bx-def-round-corners __class_add__">
            <div class="bx-menu-item-cnt">
                <div class="bx-menu-item-link bx-def-padding-thd-topbottom bx-def-padding-sec-leftright bx-def-color-bg-hl-hover">
                    <a href="__link__" onclick="__onclick__"__attrs__>
                        <bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
                        <bx_if:image><img style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image>
                        <span class="bx-def-margin-sec-left-auto">__title__</span>
                    </a>
                    <span class="bx-menu-collapse bx-def-padding-sec-left">
                        <a href="javascript:void(0)" onclick="bx_toggle_pf(this)">
                            <i class="sys-icon chevron-up bx-menu-hide"></i>
                            <i class="sys-icon chevron-down bx-menu-show"></i>
                        </a>
                    </span>
                </div>
                <bx_if:show_subitems>
                    <div class="bx-menu-item-subitems">__subitems__</div>
                </bx_if:show_subitems>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    function bx_toggle_pf(oLink) {
        $(oLink).parents('li:first').toggleClass('bx-menu-item-collapsed');
    }
</script>