
<ul class="bx-menu-floating-blocks-big bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items><li class="bx-def-round-corners bx-def-color-bg-hl-hover bx-def-box-sizing __class_add__">
        <a href="__link__" onclick="__onclick__"__attrs__>
            <div class="bx-menu-floating-blocks-icon">
                <bx_include_auto:menu_icon.html />
            </div>
            <div class="bx-menu-floating-blocks-title">__title__</div>
        </a>                
    </li></bx_repeat:menu_items>
</ul>

<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-floating-blocks-big > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>
