<ul class="bx-menu-profile-followings bx-menu-ver bx-menu-object-__object__ bx-def-font-middle bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-menu-item bx-menu-item-__name__ bx-def-round-corners __class_add__">
            <div class="bx-menu-item-cnt">
                <div class="bx-menu-item-link bx-def-padding-thd-topbottom bx-def-padding-sec-leftright bx-def-color-bg-hl-hover">
                    <a class="bx-stl-mil-gaps flex flex-auto items-center" href="__link__" onclick="__onclick__"__attrs__>
                        <span class="bx-menu-item-title bx-stl-mit flex-1 uppercase" sidebar-toggle-item>__title__</span>
                        <span class="bx-menu-collapse bx-def-padding-sec-left" sidebar-toggle-item>
                            <i class="sys-icon chevron-up bx-menu-hide"></i>
                            <i class="sys-icon chevron-down bx-menu-show"></i>
                        </span>
                    </a>
                </div>
                <bx_if:show_subitems>
                    <div class="bx-menu-item-subitems">
                        <ul class="bx-menu-item-subitems bx-menu-pf-subitems bx-menu-ver bx-def-font-middle bx-clearfix">__subitems__</ul>
                    </div>
                </bx_if:show_subitems>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>