<ul id="bx-menu-inter-__id__" class="bx-menu-inter-vert bx-menu-object-__object__">
    <bx_repeat:menu_items>
        <li id="__name__-act" class="bx-menu-inter-act __class_wrp_act__ bx-menu-tab-active">
            <div class="__class__ bx-stl-mil group flex flex-auto items-center truncate" title="__title_attr__">
                <span class="bx-menu-item-title bx-stl-mit">__title__</span>
            </div>
        </li>
        <li id="__name__-pas" class="bx-menu-inter-pas __class_wrp_pas__">
            <div class="bx-menu-item-cnt bx-stl-mil-wo-gaps">
                <a id="__name__" class="__class__ bx-stl-mil-gaps group flex flex-auto items-center truncate" href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__>
                    <span class="bx-menu-item-title bx-stl-mit">__title__</span>
                </a>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function() {
    	$('#bx-menu-inter-__id__').find('a').bind('click', function() {
            var sId = $(this).attr('id');
            var sClassHidden = 'bx-menu-inter-hidden';
            $(this).parents('li:first').siblings('.bx-menu-inter-act:not(.' + sClassHidden + ')').addClass(sClassHidden).siblings('.bx-menu-inter-pas.' + sClassHidden).removeClass(sClassHidden).siblings('#' + sId + '-pas:not(.' + sClassHidden + ')').addClass(sClassHidden).siblings('#' + sId + '-act.' + sClassHidden).removeClass(sClassHidden);
    	});
    });
</script>