<ul class="bx-menu-main-in-panel bx-menu-ver bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-menu-item __name__ __class_add__ group text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-700 text-sm font-medium rounded-md">
            <div class="bx-menu-item-cnt flex items-center justify-between p-2">
                <a class="__name__ flex flex-1 items-center truncate" href="__link__" onclick="__onclick__"__attrs__>
                    <span class="flex items-center justify-center h-5 w-5 mr-2">
                        <bx_include_auto:menu_icon.html />
                    </span>
                    <span class="truncate" sidebar-toggle-item>__title__</span>
                </a>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-ver > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>