<div id="__name__" class="bx-popup bx-popup-box z-20 z-50 max-w-sm my-4 p-4 hidden overflow-hidden text-base bg-white dark:bg-gray-800 ring-1 ring-gray-300 dark:ring-gray-700 rounded-md shadow">
    <div class="bx-popup-header block pb-4 leading-8 text-lg lg:text-xl text-gray-800 dark:text-gray-100 font-semibold">__title__</div>
    <div class="bx-popup-content grid grid-cols-3 gap-4">
        <bx_repeat:menu_items>
            <a class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600" href="__link__" onclick="__onclick__"__attrs__>
                <div class="w-8 h-8 mx-auto mb-1 text-gray-500 dark:text-gray-400 text-2xl">
                    <bx_include_auto:menu_icon.html />
                </div>
                <div class="text-sm font-medium text-gray-900 dark:text-white">__title__</div>
            </a>
        </bx_repeat:menu_items>
    </div>
</div>