<ul class="bx-menu-vertical-more-less bx-menu-ver bx-menu-object-__object__ bx-def-font-middle bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-menu-item bx-menu-item-__name__ bx-def-round-corners bx-def-color-bg-hl-hover __class_add__">
            <div class="bx-menu-item-cnt bx-def-padding-thd-topbottom bx-def-padding-sec-leftright">
                <a href="__link__" onclick="__onclick__"__attrs__>
                    <span class="bx-menu-item-icon">
                        <bx_include_auto:menu_icon.html />
                    </span>
                    <span class="bx-menu-item-title bx-def-margin-sec-left-auto" sidebar-toggle-item>__title__</span>
                </a>
                <bx_if:addon>
                    <div class="bx-menu-addon bx-def-padding-sec-left" sidebar-toggle-item>
                        <div class="bx-menu-addon-cnt bx-def-label menu">__addon__</div>
                    </div>
                </bx_if:addon>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-ver > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>
