<div class="bx-sys-row bx-sys-mobile-padding bx-sys-mobile-border bx-sys-mobile-box-bg bx-sys-mobile-margin-top-auto" ontouchstart="$(this).addClass('bx-sys-mobile-box-bg-sel')" ontouchend="$(this).removeClass('bx-sys-mobile-box-bg-sel');" onclick="if('__url__'.length) document.location = '__url__';">

    __content__

    <div class="bx-sys-row-accessory bx-sys-mobile-margin-right">
        <img class="bx-sys-row-accessory-img" src="<bx_icon_url:mobile_next.png />" />
    </div>

</div>
