<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
	<title>__page_header__</title>
   	<meta http-equiv="Content-Type" content="text/html; charset=__page_charset__" />
	<bx_include_css />
	<bx_include_js />
    <bx_injection:mobile_injection_head />
</head>
<body class="bx-sys-mobile-page bx-sys-mobile-text">
    <bx_injection:mobile_injection_header />
    __page_main_code__
    <bx_injection:mobile_injection_footer />
</body>
</html>
