<!DOCTYPE html>
<html lang="__lang__" class="__class_name__">
<head>
    <bx_injection:injection_head_begin />

    <meta http-equiv="Content-Type" content="text/html; charset=__page_charset__" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>__page_header__</title>
    <base__base__ />

    __meta_info__
    __page_robots__

    <bx_include_css_styles />
    <bx_include_css_system />
    <bx_include_css />
    <style>
        body.bx-def-color-bg-page {
            overflow:hidden;
            background-color:#000;
        }
    </style>

    __dol_images__
    __dol_lang__
    __dol_options__

    <bx_include_js_system />
    <bx_include_js />

    <bx_include_auto:_header_js.html />
    <bx_include_auto:_header_js_spinner.html />
    <bx_include_auto:_header_js_custom.html />

    __extra_js__

    __system_injection_head__
    <bx_injection:injection_head />
    <bx_include_auto:_header_meta.html />
</head>
<body class="bx-def-font bg-transparent text-gray-500 dark:text-gray-400 overflow-hidden bx-page-iframe" dir="__lang_direction__" <bx_injection:injection_body /> >
    __system_injection_header__
    <bx_injection:injection_header />
    __page_main_code__
</body>
</html>
