<!DOCTYPE html>
<html lang="__lang__" class="__class_name__">
<head>
    <bx_injection:injection_head_begin />
    
    <meta http-equiv="Content-Type" content="text/html; charset=__page_charset__" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>__page_header__</title>
    <base href="<bx_url_root />" />

    <meta http-equiv="refresh" content="1;URL=__url_relocate__" />

    <bx_include_css_system />
    <bx_include_css />

    <bx_include_js_system />
    <bx_include_js />
    __extra_js__

    __dol_images__

    <bx_injection:injection_head />
</head>
<body class="bx-def-font bx-def-color-bg-page" dir="__lang_direction__" <bx_injection:injection_body /> >

    __page_main_code__

</body>
</html>
