<div class="bx-paginate __paginate_class__ flex items-center" <bx_repeat:attrs>__key__="__value__" </bx_repeat:attrs>>
    <div class="bx-paginate-btns bx-btn-group flex space-x-4">
        __btn_prev__
        __btn_next__
    </div>
    <bx_if:info>
        <div class="bx-paginate-info pl-4">
            __text__
        </div>
    </bx_if:info>
    <bx_if:view_all>
        <div class="bx-paginate-view-all pl-4">
            <a href="__lnk_url__" title="__lnk_title__">__lnk_content__</a>
        </div>
    </bx_if:view_all>
</div>
