<div id="__id__" class="bx-popup-wrapper bx-popup-box-wrapper bx-def-box-sizing" style="__wrapper_style__" role="dialog" aria-describedby="__id___title">
    <!--<div class="bx-popup-box-pointer"><i class="bx-popup-border"></i></div>-->
    <div class="bx-popup bx-popup-box bx-popup-width bx-popup-color-bg bx-popup-border bx-def-round-corners">
    <div class="bx-def-round-corners" style="overflow:hidden;">
        <div class="bx-popup-header bx-popup-header-color-bg bx-def-padding bx-def-font-contrasted">
            <h2 id="__id___title">__title__</h2>
            <a href="javascript:void(0);" class="bx-popup-element-close bx-def-font-contrasted bx-def-margin">
                <div class="bx-icon bx-icon-close">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.0005 4.99988L5.00049 18.9999M5.00049 4.99988L19.0005 18.9999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </a>
        </div>
        <div class="bx-popup-content bx-def-padding">__content__</div>
    </div>
    </div>
</div>
