<div  id="__id__" class="bx-popup-wrapper bx-popup-responsive bx-popup-trans-wrapper box-border __wrapper_class__" style="__wrapper_style__" role="alert">
    <div class="bx-popup-gap mx-4 my-px">
        <div class="bx-popup bx-popup-trans bx-popup-border bx-popup-color-bg">
            <div class="bx-popup-close-wrapper">
                <button type="button" class="bx-popup-element-close bx-popup-close-btn" aria-label="<bx_text_attribute:_sys_close />" title="<bx_text_attribute:_sys_close />">
                    <span class="bx-icon bx-icon-close" aria-hidden="true">
                        <bx_image_auto:times />
                    </span>
                </button>
            </div>
            <div class="bx-popup-content overflow-hidden">__content__</div>
            <div class="bx-focus-trap w-0 h-0 outline-none" tabindex="0"></div>
            <!-- Footer is needed for Safari in iOS -->
            <!-- <div class="bx-popup-footer-wrapper bx-def-media-desktop-hide bx-def-media-tablet-hide p-3 md:p-4 lg:p-6">&nbsp;</div> -->
        </div>
    </div>
</div>