<div  id="__id__" class="bx-popup-wrapper bx-popup-responsive bx-popup-trans-wrapper box-border __wrapper_class__" style="__wrapper_style__" role="__wrapper_role__" __wrapper_attrs__>
    <div class="bx-popup-gap mx-4 my-px">
        <div class="bx-popup bx-popup-trans bx-popup-border bx-popup-color-bg">
            <div class="bx-popup-close-wrapper bx-def-media-desktop-hide bx-def-media-tablet-hide relative flex justify-end p-2">
                <button type="button" class="bx-popup-element-close flex items-center justify-center w-6 h-6 text-base text-gray-800 dark:text-gray-100" aria-label="<bx_text_attribute:_sys_close />">
                    <div class="bx-icon bx-icon-close">
                        <bx_image_auto:times />
                    </div>
                </button>
            </div>
            <div class="bx-popup-content overflow-hidden">__content__</div>
            <div class="bx-focus-trap w-0 h-0 outline-none" tabindex="0"></div>
            <!-- Footer is needed for Safari in iOS -->
            <!-- <div class="bx-popup-footer-wrapper bx-def-media-desktop-hide bx-def-media-tablet-hide p-3 md:p-4 lg:p-6">&nbsp;</div> -->
        </div>
    </div>
</div>