<div  id="__id__" class="bx-popup-wrapper" style="__wrapper_style__" role="__wrapper_role__" __wrapper_attrs__>
    <div class="bx-popup bx-def-border-top bx-def-border-bottom">
        <div class="bx-popup-content" style="">__content__</div>
        <div class="bx-popup-actions bx-pa-right bx-def-padding-sec-right">
            <a class="bx-popup-close" href="javascript:void(0);" aria-label="<bx_text_attribute:_sys_close />">
                <div class="bx-icon bx-icon-close">
                    <bx_image_auto:times />
                </div>
            </a>
        </div>
    </div>
</div>