<div id="__id__" class="bx-popup-wrapper bx-popup-box-wrapper" style="__wrapper_style__" role="dialog" aria-describedby="__id___title">
    <div class="bx-popup-box-pointer"><i class="bx-popup-border"></i></div>
    <div class="bx-popup bx-popup-box bx-popup-width bx-popup-color-bg bx-popup-border bx-def-round-corners">
    <div class="bx-def-round-corners" style="overflow:hidden;">
        <div class="bx-popup-header bx-popup-color-bg bx-def-padding bx-def-font-contrasted">
            <h2 id="__id___title">__title__</h2>
            <a href="javascript:void(0);" class="bx-popup-element-close bx-def-font-h2 bx-def-font-contrasted bx-def-margin bx-def-media-tablet-hide bx-def-media-desktop-hide"><i class="sys-icon remove"></i></a>
        </div>
        <div class="bx-popup-content bx-def-padding">__content__</div>
    </div>
    </div>
</div>
