<div id="__html_id__" class="bx-popup-chain" style="display:none;">
    <div class="bx-popup-chain-cnt bx-def-padding">
        <bx_repeat:items>
            <div class="bx-popup-chain-item bx-popup-color-bg bx-popup-border bx-def-round-corners bx-def-margin-sec-top-auto bx-def-box-sizing"<bx_if:show_as_hidden> style="display:none;"</bx_if:show_as_hidden>>
                <div class="bx-popup-content">__item__</div>
                <bx_if:show_previous>
                    <div class="bx-popup-chain-item-actions bx-popup-cia-left">
                        <a href="javascript:void(0)" onclick="javascript:__onclick_previous__;"><i class="sys-icon arrow-left"></i></a>
                    </div>
                </bx_if:show_previous>
                <bx_if:show_close>
                    <div class="bx-popup-chain-item-actions bx-popup-cia-right">
                        <a href="javascript:void(0)" onclick="javascript:__onclick_close__;"><i class="sys-icon times"></i></a>
                    </div>
                </bx_if:show_close>
            </div>
        </bx_repeat:items>
    </div>
</div>