<div class="bx-def-unit flex items-center mb-4 mr-2">
    <div class="bx-def-unit-img bx-def-__size__ bx-def-__size__-size flex-none">
        <img class="bx-def-__size__ bx-def-__size__-size rounded-full" src="__thumb_url__" />
    </div>
    <div class="bx-def-unit-info bx-def-__size__-size-min-height bx-def-__size__-size-max-height flex items-center ml-4">
        <div class="bx-def-unit-info-cnt bx-def-box-sizing">
            <div class="bx-def-unit-line bx-def-unit-info-title">__title__</div>
        </div>
    </div>
</div>