<div class="bx-profile-avatar bx-def-border-radius-block">
    <a href="javascript:void(0)" onclick="javascript:$('#bx-profile-switcher').dolPopup({});">
        <div class="bx-profile-avatar-cnt bx-def-padding-sec">
            <div class="bx-pa-img">__profile_unit__</div>
            <div class="bx-pa-info">
                <div class="bx-pa-info-cnt bx-def-padding-left bx-def-box-sizing">
                    <div class="bx-pai-line bx-def-font-h3">__profile_title__</div>
                    <div class="bx-pai-line bx-def-margin-thd-top">
                        <div><bx_include_auto:menu_icon.html /><span class="bx-def-padding-sec-left">__profile_acl_title__</span></div>
                    </div>
                </div>
            </div>
            <div class="bx-pa-actions">
                <div class="bx-pa-action bx-def-margin-sec-left"><i class="sys-icon arrows-alt-v"></i></div>
            </div>
        </div>
    </a>
</div>
__profile_switcher__