<div class="bx-profile-membership-stats">
    <div class="bx-pms-membership">__membership__</div>
    <div class="bx-pms-stats bx-def-box bx-def-round-corners bx-def-color-bg-box bx-def-padding">
        <bx_repeat:stat_items>
            <div class="bx-pms-stat-item bx-def-margin-top-auto">
                <div class="bx-pms-si-title">__title__</div>
                <div class="bx-pms-si-graph bx-def-margin-thd-top">
                    <div class="bx-pms-sig-bar bx-def-round-corners" style="width:__width__">&nbsp;</div>
                    <div class="bx-pms-sig-text bx-def-padding-left bx-def-font-middle bx-def-font-grayed">__value__ (__percent__)</div>
                </div>
            </div>
        </bx_repeat:stat_items>
    </div>
</div>