<div class="bx-profile-avatar-switcher">
    <div class="bx-pas-cnt">
        <div class="bx-pas-list">__profile_switcher__</div>
        <bx_if:multiple_profiles_mode>
            <hr class="bx-def-hr" />
            <div class="bx-pas-list-link p-4">
                <a class="bx-btn w-full justify-center" href="__url_switch_profile__">
                    <i class="sys-icon plus"></i><span class="pl-2"><bx_text:_sys_txt_my_profiles /></span>
                </a>
            </div>
        </bx_if:multiple_profiles_mode>
    </div>
</div>