<bx_repeat:row>

<div class="sys-profile-switch-row bx-def-margin-leftright-neg bx-def-padding-leftright bx-def-padding-sec-topbottom __class__">
    <div class="sys-profile-switch-row-control bx-def-margin-right">
        <bx_if:active>
            <i class="sys-icon check-square-o"></i>
        </bx_if:active>
        <bx_if:inactive>
            <a href="__url_switch__"><i class="sys-icon square-o"></i></a>
        </bx_if:inactive>
    </div>
    <div class="sys-profile-switch-row-unit bx-clearfix">__unit__</div>
</div>

</bx_repeat:row>
