<div class="bx-profile-avatar bx-def-border-radius-block">
    <div class="bx-profile-avatar-cnt">
        <div class="bx-pa-img">__profile_unit__</div>
        <div class="bx-pa-info">
            <div class="bx-pa-info-cnt bx-def-padding-left bx-def-box-sizing">
                <div class="bx-pai-line bx-def-font-h2"><a href="__profile_url__" title="__profile_title_attr__">__profile_title__</a></div>
                <div class="bx-pai-line bx-def-margin-thd-top">
                    <div><i class="sys-icon __profile_acl_icon__"></i><span class="bx-def-padding-sec-left">__profile_acl_title__</span></div>
                </div>
            </div>
        </div>
        <div class="bx-pa-actions">
            <div class="bx-pa-action bx-def-margin-sec-left">
                <a href="javascript:void(0)" onclick="javascript:$('#bx-profile-switcher').dolPopup({pointer: {el:$(this)}});"><i class="sys-icon arrows-alt-v"></i></a>
            </div>
        </div>
    </div>
</div>
__profile_switcher__