<div class="bx-def-unit absolute bx-def-margin-bottom bx-def-margin-sec-right">
    <div class="bx-def-unit-img bx-def-thumb bx-def-thumb-size">
        <img class="bx-def-thumb bx-def-thumb-size" src="__thumb_url__" />
    </div>
    <div class="bx-def-unit-info bx-def-thumb-size-min-height bx-def-thumb-size-max-height bx-def-thumb-size-left-indent">
        <div class="bx-def-unit-info-cnt bx-def-box-sizing">
            <div class="bx-def-unit-line bx-def-unit-info-title">__title__</div>
        </div>
    </div>
</div>