<div id="__id__" class="form_input_captcha" style="display:none">
	<div id="recaptcha_image"></div>
	<div class="recaptcha_only_if_incorrect_sol" style="color:red"><bx_text:_sys_form_account_input_captcha_error /></div>
	<div class="solution">
		<div class="solution-cnt">
			<span class="recaptcha_only_if_image"><bx_text:_sys_form_account_input_captcha_label_text_image /></span>
			<span class="recaptcha_only_if_audio"><bx_text:_sys_form_account_input_captcha_label_text_audio /></span>
			<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
		</div>
	</div>
	<div class="options">
		<div class="options-cnt">
			<a href="javascript:__js_object__.reload()" id="icon-reload" title="<bx_text_attribute:_sys_form_account_input_captcha_action_title_refresh />"><i class="sys-icon refresh"> <bx_text:_sys_form_account_input_captcha_action_refresh /></i></a>
			<a class="recaptcha_only_if_image" href="javascript:__js_object__.switch_type('audio')" id="icon-audio" title="<bx_text_attribute:_sys_form_account_input_captcha_action_title_audio />"><i class="sys-icon volume-up"> <bx_text:_sys_form_account_input_captcha_action_audio /></i></a>
			<a class="recaptcha_only_if_audio" href="javascript:__js_object__.switch_type('image')" id="icon-image" title="<bx_text_attribute:_sys_form_account_input_captcha_action_title_image />"><i class="sys-icon picture-o"> <bx_text:_sys_form_account_input_captcha_action_image /></i></a>
			<a href="javascript:__js_object__.showhelp()" id="icon-help" title="<bx_text_attribute:_sys_form_account_input_captcha_action_title_help />"><i class="sys-icon question-circle"> <bx_text:_sys_form_account_input_captcha_action_help /></i></a>
		</div>
	</div>
</div>
<script type="text/javascript" language="javascript">
	<bx_if:show_common>
		$(document).ready(function () {
			__js_init__
		});
	</bx_if:show_common>
	<bx_if:show_dynamic>
		if ('undefined' == typeof(window.__js_object__)) {
	        $.getScript('http://www.google.com/recaptcha/api/js/recaptcha_ajax.js', function(data, textStatus, jqxhr) {
	            __js_init__
	        });
	    }
		else {
	    	__js_init__
	    }
	</bx_if:show_dynamic>
</script>