
<div id="bx-sliding-menu-search" class="bx-sliding-menu-main bx-def-z-index-nav bx-def-color-bg-block bx-search-site" style="display:none; height:100%; opacity:1;">
    <a class="bx-sliding-menu-close bx-def-margin bx-def-font-h1" href="javascript:void(0);" onclick="bx_menu_slide('#bx-sliding-menu-search')"><i class="sys-icon times"></i></a>
    <div class="bx-def-padding">
        <div class="bx-def-font-h1 bx-def-margin-bottom">&nbsp;</div>
        __search_form__
        __results__
    </div>
</div>

