<div id="skrollr-body" class="bx-splash bx-def-color-bg-page">
	<div id="bx-spl-preload" class="bx-spl-preload">
		<img src="<bx_image_url:cover01.jpg />">
		<img src="<bx_image_url:cover02.jpg />">
		<img src="<bx_image_url:cover03.jpg />">
	</div>

	<div id="bx-spl-slide01" class="bx-spl-slide">
		<div class="bx-spl-bg" style="background-image:url(<bx_image_url:cover01.jpg />);">
			<video class="bx-spl-slide-video bx-def-media-phone-hide bx-def-media-tablet-hide" poster="<bx_image_url:cover01.jpg />" loop autoplay muted>
				<source src="<bx_image_url:cover01.mp4 />" type="video/mp4">
				<source src="<bx_image_url:cover01.webm />" type="video/webm">
			</video>
		</div>
		<div class="bx-spl-container">
			<div class="bx-spl-content bx-spl-white-text-all" data-anchor-target="#bx-spl-slide01 .bx-spl-bg" data-top="opacity:1" data-top-center="opacity:0">
				<h1 class="bx-def-font-semibold">Connect with people that share your passion.</h1>
				<h3 class="bx-def-font-normal">Stories, ideas, photos, videos, questions, jokes, discussions, anything.<br />Follow inspiring people and inspire your followers.</h3>
				<div class="bx-spl-join bx-def-margin-topbottom bx-def-border bx-def-round-corners">
					<a class="bx-def-padding-sec-topbottom bx-def-font-h3 bx-def-font-normal" href="__join_link__">Join Now</a>
				</div>
			</div>
		</div>
	</div>

	<div id="bx-spl-slide02" class="bx-spl-slide">
		<div class="bx-spl-bg">
			<div class="bx-spl-container">
				<div class="bx-spl-image" style="background-image:url(<bx_image_url:cover02.jpg />);" data-bottom-top="bottom:-100%;" data-100-center-center="bottom:0%;"></div>
				<div class="bx-spl-content" data-bottom-top="right:-50%;" data-100-center-center="right:0%;">
					<h3 class="bx-def-font-normal">"Pull up a chair. Take a taste.<br />Come join us. Life is so endlessly<br />delicious."</h3>
				</div>
			</div>
		</div>
	</div>

	<div id="bx-spl-slide03" class="bx-spl-slide">
		<div class="bx-spl-bg" style="background-image:url(<bx_image_url:cover03.jpg />)"></div>
		<div class="bx-spl-container">
			<div class="bx-spl-content bx-spl-white-text-all">
				<h3 class="bx-def-font-normal">"The only way to have a friend is to be one."</h3>
				<div class="bx-spl-join bx-def-margin-topbottom bx-def-border bx-def-round-corners">
					<a class="bx-def-padding-sec-topbottom bx-def-font-h3 bx-def-font-normal" href="__join_link__">Join Now</a>
				</div>
			</div>
		</div>
	</div>
	<div id="bx-spl-slide04" class="bx-spl-slide">
		<div class="bx-spl-bg">
            <div class="bx-spl-container" data-anchor-target="#bx-spl-slide03 .bx-spl-bg" data-100-center-bottom="opacity:0; transform:scale(0.7,0.7);" data-200-end="opacity:1; transform:scale(1,1);">
                <div class="bx-spl-content">
                    <h3 class="bx-def-font-normal">Already one of us?</h3>
                    <div class="bx-spl-login">__login_form__</div>
                </div>
            </div>
        </div>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			skrollr.init();
		});
	</script>
</div>
