<div class="bx-splash bx-def-color-bg-page">
	<div id="bx-spl-preload" class="bx-spl-preload">
		<img src="<bx_image_url:cover01.jpg />">
		<img src="<bx_image_url:cover02.jpg />">
		<img src="<bx_image_url:cover03.jpg />">
	</div>

	<div id="bx-spl-slide01" class="bx-spl-slide">
		<div class="bx-spl-bg">
			<video class="bx-spl-slide-video" poster="<bx_image_url:cover01.jpg />" loop autoplay muted>
				<source src="<bx_image_url:cover01.mp4 />" type="video/mp4">
				<source src="<bx_image_url:cover01.webm />" type="video/webm">
			</video>
		</div>
		<div class="bx-spl-container">
			<div class="bx-spl-content" data-top="opacity:1" data-top-bottom="opacity:0">
				<h1 class="bx-def-font-semibold">Connect with people that share your passion.</h1>
				<h3 class="bx-def-font-light">Stories, ideas, photos, videos, questions, jokes, discussions, anythins.<br />Follow inspiring people and inspire your followers.</h3>
				<div class="bx-spl-join bx-def-margin-topbottom bx-def-padding-sec-topbottom bx-def-border bx-def-round-corners">
					<a class="bx-def-font-h3 bx-def-font-light" href="__join_link__">Join Now</a>
				</div>
			</div>
		</div>
	</div>

	<div id="bx-spl-slide02" class="bx-spl-slide">
		<div class="bx-spl-bg">
			<div class="bx-spl-container">
				<div class="bx-spl-image" data-anchor-target="#bx-spl-slide02 .bx-spl-bg" data-bottom-top="bottom:-100%" data-bottom="bottom:0%">
					<img src="<bx_image_url:cover02.jpg />" />
				</div>
				<div class="bx-spl-content" data-bottom-top="right:-50%;" data-bottom="right:0%;">
					<h3 class="bx-def-font-light">"Pull up a chair. Take a taste.<br />Come join us. Life is so endlessly<br />delicious."</h3>
				</div>
			</div>
		</div>
	</div>

	<div id="bx-spl-slide03" class="bx-spl-slide">
		<div class="bx-spl-bg">
			<img src="<bx_image_url:cover03.jpg />" />
		</div>
		<div class="bx-spl-container" data-anchor-target="#bx-spl-slide03 .bx-spl-bg" data-0="@class:!bx-spl-container bx-splc-init" data-top="@class:!bx-spl-container bx-splc-start" data-bottom="@class:!bx-spl-container bx-splc-stop">
			<div class="bx-spl-content">
				<h3 class="bx-def-font-light">"The only way to have a friend is to be one."</h3>
				<div class="bx-spl-join bx-def-margin-topbottom bx-def-padding-sec-topbottom bx-def-border bx-def-round-corners">
					<a class="bx-def-font-h3 bx-def-font-light" href="__join_link__">Join Now</a>
				</div>
			</div>
		</div>
	</div>

	<div id="bx-spl-slide04" class="bx-spl-slide">
		<div class="bx-spl-bg">
			<div class="bx-spl-container">
				<div class="bx-spl-content">
					<h3 class="bx-def-font-light">Already one of us?</h3>
					<div class="bx-spl-login">__login_form__</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$(window).resize(function() {
				var fMuxWnd = 0.80;
				var iHeightWnd = $(window).height();

				var iHeightSld = ($('#bx-spl-slide01').width() / 1280) * 720;
				iHeightSld = fMuxWnd * iHeightWnd < iHeightSld ? fMuxWnd * iHeightWnd : iHeightSld;
				$('#bx-spl-slide01').height(iHeightSld);

				var iHeightImg = ($('#bx-spl-slide02 .bx-spl-image').width() / 1024) * 523;
				$('#bx-spl-slide02').height(iHeightImg);

				$('#bx-spl-slide03 .bx-spl-container, #bx-spl-slide04').height(iHeightWnd);
			}).resize();

			skrollr.init();
		});
	</script>
</div>
