<div class="bx-splash bx-def-color-bg-page bx-def-noise">
	<div class="bx-spl-image">
		<img src="<bx_image_url:splash.png />" />
	</div>
	<div class="bx-spl-slogan bx-def-font-h1">
		<bx_text:_sys_splash_slogan />
	</div>
	<div class="bx-spl-form">
		__form__
		<script type="text/javascript">
            $(document).ready(function () {
                $("#__form_id__").ajaxForm({ 
                    dataType: "json",
                    beforeSubmit: function (formData, jqForm, options) {
                    	var oForm = $("#__form_id__");
                    	oForm.find('.bx-form-warn').hide();

                        bx_loading(oForm, true);
                    },
                    success: function (oData) {
                    	bx_loading($("#__form_id__"), false);

                    	if (oData && oData.msg != undefined) {
                            alert(oData.msg);
                        }

                    	if (oData && oData.err != undefined) {
                            for(var sKey in oData.err)
                            	$('#bx-form-element-' + sKey + ' .bx-form-warn').html(oData.err[sKey]).show();
                        }

                    	if (oData && oData.eval != undefined) {
                            eval(oData.eval);
                        }
                    }
                });
            });
        </script>
	</div>
</div>
