<span class="bx-menu-meta-item-ex __class__ group  space-x-1.5  border border-transparent hover:border-gray-200/50 text-gray-600 dark:text-gray-400 active:bg-gray-300 active:border-gray-300 dark:active:bg-black/50   hover:bg-gray-200/50 dark:hover:text-gray-200 dark:hover:bg-gray-700/50 dark:hover:border-gray-700/50 dark:active:border-gray-700 hover:text-gray-800 flex items-center px-1.5 py-1  text-xs font-medium rounded-md ">
    <bx_if:extended>
        <bx_if:a>
            <a href ='__link__' class="flex items-center">
        </bx_if:a>
        <bx_if:icon>
            <span class="bx-menu-meta-icon text-slate-700 dark:text-gray-300">__icon__</span>
        </bx_if:icon>
        <bx_if:noicon>
        </bx_if:noicon>
        <bx_if:text> 
            <span>__content__</span>
        </bx_if:text>    
        <bx_if:a2>
            </a>
        </bx_if:a2>    
    </bx_if:extended>
</span>    