<bx_if:span>
    <span class="__style_prefix__-div bx-def-font-grayed">&nbsp;&#183;&nbsp;</span>
    <span class="__style_prefix__-item">
        <span class="bx-def-font-meta __class__" <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</span>
    </span>
</bx_if:span>
<bx_if:a>
    <span class="__style_prefix__-div bx-def-font-grayed">&nbsp;&#183;&nbsp;</span>
    <span class="__style_prefix__-item">
        <a class="bx-def-font-meta bx-def-a-colored __class__" <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</a>
    </span>
</bx_if:a>
<bx_if:button>
    <span class="__style_prefix__-div bx-def-font-grayed">&nbsp;&#183;&nbsp;</span>
    <span class="__style_prefix__-item">
        <a class="bx-btn __class__" <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</a>
    </span>
</bx_if:button>
<bx_if:sbutton>
    <span class="__style_prefix__-div bx-def-font-grayed">&nbsp;&#183;&nbsp;</span>
    <span class="__style_prefix__-item">
        <a class="bx-btn bx-btn-small __class__" <bx_repeat:attrs>__key__="__value__"</bx_repeat:attrs>>__content__</a>
    </span>
</bx_if:sbutton>
<bx_if:custom>
    <span class="__style_prefix__-div bx-def-font-grayed">&nbsp;&#183;&nbsp;</span>
    <span class="__style_prefix__-item text-sm">__content__</span>
</bx_if:custom>
<bx_if:nl></bx_if:nl>