<div id="__form_container_id__" class="bx-uploader-form-cont bx-popup-width">
    <form enctype="multipart/form-data" method="POST" action="<bx_url_root />storage_uploader.php" onsubmit="__uploader_instance_name__.submitRecording(this); return false;">

        <div class="bx-uploader-loading">
        </div>

        <div class="bx-uploader-files-list">

            <div class="bx-def-padding-sec-bottom">__restrictions_text__</div>

            <div class="bx-def-padding-sec-bottom" id="__errors_container_id__"></div>

            <div class="bx-record-video-preview">
                <div class="bx-record-camera-switch bx-def-font">
                    <a href="#" onclick="__uploader_instance_name__.switchCamera();return false;" title="<bx_text:_sys_uploader_record_video_switch_camera />"><i class="sys-icon sys-colored sync-alt"> <bx_text:_sys_uploader_record_video_switch_camera /></i></a>
                </div>
                <video autoplay style="width: 100%;" id="bx-upoloader-camera-capture"></video>
                <video autoplay controls style="width: 100%;" id="bx-upoloader-recording-preview"></video>
                <div class="bx-record-video-preview-filesize"></div>
            </div>

            <div class="bx-def-margin-bottom bx-clearfix bx-uploader-record-video-controls">
                <div class="bx-btn bx-uploader-recording-start" onclick="__uploader_instance_name__.startRecording(); return false;" style="">
                    <i class="sys-icon fas circle col-red2-dark sys-colored"></i>
                    <bx_text:_sys_uploader_record_video_start_button />
                </div>
                <div class="bx-btn bx-uploader-recording-stop" onclick="__uploader_instance_name__.stopRecording(false); return false;">
                    <i class="sys-icon fas circle col-red2-dark sys-colored bx-uploader-recording-blinking-circle"></i>
                    <bx_text:_sys_uploader_record_video_stop_button />
                </div>
            </div>


            <input name="uo" value="__engine__" type="hidden" />
            <input name="so" value="__storage_object__" type="hidden" />
            <input name="uid" value="__uniq_id__" type="hidden" />
            <input name="m" value="__multiple__" type="hidden" />
            <input name="c" value="__content_id__" type="hidden" />
            <input name="p" value="__storage_private__" type="hidden" />
            <input name="a" value="upload" type="hidden" />

        </div>

        <div class="bx-def-padding-top bx-clearfix">

            <div class="bx-btn bx-btn-primary bx-def-margin-sec-right" onclick="$('#__form_container_id__ form').submit();"><bx_text:_sys_uploader_record_video_submit_button /></div>

            <div class="bx-btn" onclick="__uploader_instance_name__.onClickCancel()"><bx_text:_sys_uploader_close /></div>

        </div>

    </form>

</div>