<div id="__form_container_id__" class="bx-uploader-form-cont bx-popup-width">
    <div class="bx-def-padding-sec-bottom">__restrictions_text__</div>
    <div id="__div_id__" class="dropzone" style="overflow-y:scroll;"></div>

    <div class="bx-uploader-html5 bx-def-margin-top bx-clearfix">
        <div class="bx-btn" onclick="__uploader_instance_name__.onClickCancel()"><bx_text:_sys_uploader_close /></div>
    </div>
</div>
<script>
    __uploader_instance_name__.initUploader({
        'maxFilesize': __max_file_size__/1024.0/1024.0,
    });
</script>
