<div class="__style_prefix__-by-list">
    <div class="__style_prefix__-by-list-cnt">
        <div class="__style_prefix__-by-items">
            <bx_repeat:list>
                <div class="__style_prefix__-by-item p-2">
                    <div class="__style_prefix__-user flex items-center">
                        <div class="__style_prefix__-user-avatar h-10 w-10">__user_unit__</div>
                        <div class="__style_prefix__-user-info ml-4">
                            <div class="__style_prefix__-user-name text-sm text-gray-500 dark:text-gray-400">
                                <a href="__user_url__" class="__style_prefix__-user-name" title="__user_title__">__user_name__</a>
                                <bx_if:show_user_info><br /><span class="__style_prefix__-user-info">__user_info__</span></bx_if:show_user_info> 
                            </div>
                        </div>
                    </div>
                </div>
            </bx_repeat:list>
        </div>
        <div class="__style_prefix__-by-paginate">__paginate__</div>
    </div>
</div>