<div id="__html_id__" class="__style_prefix__ __class__ bx-def-margin-right-auto bx-def-margin-thd-topbottom" bx_view_data_count="__count__">
	<div class="__style_prefix__-do bx-clearfix">
		<bx_if:show_do_view>
			<div class="__style_prefix__-element-holder">__do_view__</div>
		</bx_if:show_do_view>
		<bx_if:show_counter>
			<div class="__style_prefix__-counter-holder bx-def-margin-sec-left-auto bx-btn-border"<bx_if:show_hidden> style="display:none"</bx_if:show_hidden>>__counter__</div>
		</bx_if:show_counter>
	</div>
</div>
__script__