<div id="__html_id__" class="sys-action __style_prefix__ __class__ flex items-center whitespace-nowrap" bx_view_data_count="__count__">
    <div class="sys-action-cnt __style_prefix__-cnt bx-def-valign-center bx-clearfix">
        <bx_if:show_do_view>
            <div class="sys-action-element-holder __style_prefix__-element-holder">__do_view__</div>
        </bx_if:show_do_view>
        <bx_if:show_counter>
            <div class="sys-action-counter-holder __style_prefix__-counter-holder ml-2 first:ml-0"<bx_if:show_hidden> style="display:none"</bx_if:show_hidden>>__counter__</div>
        </bx_if:show_counter>
    </div>
    __script__
</div>