<span id="__html_id__" class="sys-action __style_prefix__ __class__ inline-flex items-center whitespace-nowrap"<bx_if:show_vote_data> bx_vote_data_rate="__rate__" bx_vote_data_count="__count__"</bx_if:show_vote_data>>
    <span class="sys-action-cnt __style_prefix__-cnt __style_prefix__-do flex items-center">
        <bx_if:show_do_vote><span class="sys-action-element-holder __style_prefix__-element-holder group flex items-center">__do_vote__</span></bx_if:show_do_vote>
        <bx_if:show_counter><span class="sys-action-counter-holder __style_prefix__-counter-holder ml-2 first:ml-0"<bx_if:show_hidden> style="display:none"</bx_if:show_hidden>>__counter__</span></bx_if:show_counter>
    </span>__script__
</span>