<div id="__html_id__" class="sys-action __style_prefix__ __class__ flex items-center whitespace-nowrap"<bx_if:show_vote_data> bx_vote_data_rate="__rate__" bx_vote_data_count="__count__"</bx_if:show_vote_data>>
    <div class="sys-action-cnt __style_prefix__-cnt __style_prefix__-do bx-def-valign-center bx-clearfix">
        <bx_if:show_do_vote>
            <div class="sys-action-element-holder __style_prefix__-element-holder">__do_vote__</div>
        </bx_if:show_do_vote>
        <bx_if:show_counter>
            <div class="sys-action-counter-holder __style_prefix__-counter-holder ml-2 first:ml-0"<bx_if:show_hidden> style="display:none"</bx_if:show_hidden>>__counter__</div>
        </bx_if:show_counter>
    </div>
    <bx_if:show_legend>__legend__</bx_if:show_legend>
    __script__
</div>