<span id="__html_id__" class="__style_prefix__ __class__ bx-def-margin-right-auto bx-def-margin-thd-topbottom" bx_vote_data_rate="__rate__" bx_vote_data_count="__count__">
	<span class="__style_prefix__-do"><bx_if:show_do_vote><span class="__style_prefix__-element-holder">__do_vote__</span></bx_if:show_do_vote><bx_if:show_counter><span class="__style_prefix__-counter-holder bx-def-margin-thd-left-auto"<bx_if:show_hidden> style="display:none"</bx_if:show_hidden>>__counter__</span></bx_if:show_counter></span>
</span>
__script__
