<div id="bx-wiki-create-page-form" class="bx-wiki-create-page-form">
    __form__
</div>
<script>
    $(document).ready(function () {
        $("#bx-wiki-create-page-form form").ajaxForm({
            url: sUrlRoot + 'r.php?_q=__wiki_action_uri__-action/__action__',
            beforeSubmit: function (formData, $form, options) {
                bx_loading($("#bx-wiki-create-page-form form"), true);
            },
            success: function (data) {
                if ('{' == data[0]) {
                    var oResponce = JSON.parse(data);
                    if (oResponce.code) {
                        $('.bx-popup-applied:visible').dolPopupHide();
                        bx_alert(oResponce.msg);
                    } 
                    else {
                        document.location.href = sUrlRoot + oResponce.url;
                    }
                }
                else {
                    $("#bx-wiki-create-page-form").parent().html(data).bxProcessHtml();
                }
            }
        });
    });
</script>
