    <table class="bx-wiki-del-rev bx-def-margin-sec-top">
    <bx_repeat:revisions>
        <tr>
            <td class="bx-wiki-cell-checkbox bx-def-border bx-def-padding-thd"><input type="checkbox" name="revision[]" value="__revision__" id="bx-wiki-del-rev-cell-checkbox-__revision__" /></td>
            <td class="bx-wiki-cell-lang bx-def-border bx-def-padding-thd"><label for="bx-wiki-del-rev-cell-checkbox-__revision__">__language__</label></td>
            <td class="bx-wiki-cell-rev bx-def-border bx-def-padding-thd"><label for="bx-wiki-del-rev-cell-checkbox-__revision__">__revision__</label></td>
            <td class="bx-wiki-cell-time bx-def-border bx-def-padding-thd"><label for="bx-wiki-del-rev-cell-checkbox-__revision__">__timejs__</label></td>
            <td class="bx-wiki-cell-profile bx-def-border bx-def-padding-thd"><label for="bx-wiki-del-rev-cell-checkbox-__revision__">__author_name__</label></td>
            <td class="bx-wiki-cell-notes bx-def-border bx-def-padding-thd"><label for="bx-wiki-del-rev-cell-checkbox-__revision__">__notes__</label></td>
        </tr>
    </bx_repeat:revisions>
    </table>
    <div class="bx-def-font-small"><a href="javascript:void(0);" onclick="$('.bx-wiki-del-rev-cell-checkbox input').prop('checked', !$('.bx-wiki-del-rev-cell-checkbox input:first').prop('checked'))">__select_all__</a></div>
