<div class="bx-wiki-controls bx-clearfix">
    <div class="bx-wiki-controls-menu">__menu__</div>
    <div class="bx-wiki-controls-info bx-def-font-grayed bx-def-font-small">__info__</div>
</div>
<script>
    window.glBxDolWiki__block_id__ = new BxDolWiki('__obj__', $('#bx-page-wiki-container-__block_id__'), __options__);
    if (location.hash.length) {
        var e = $('#' + location.hash.substr(1));
        e.css('background-color', 'yellow');
        setTimeout(function () {
            e.addClass('bx-wiki-trans');
            setTimeout(function () {
                e.css('background-color', 'transparent');
            }, 1500);
        }, 100);
    }
</script>
