<table class="bx-wiki-translations">
    <tr>
        <th class="bx-wiki-cell-title bx-def-border bx-def-padding-thd">__title_title__</a></th>
        <th class="bx-wiki-cell-profile bx-def-border bx-def-padding-thd">__title_author__</th>
        <th class="bx-wiki-cell-lang bx-def-border bx-def-padding-thd">__title_lang__</th>
        <th class="bx-wiki-cell-content bx-def-border bx-def-padding-thd">__title_content__</th>
        <th class="bx-wiki-cell-time bx-def-border bx-def-padding-thd">__title_time_main__</th>
        <th class="bx-wiki-cell-time bx-def-border bx-def-padding-thd">__title_time__</th>
    </tr>
<bx_repeat:blocks>
    <tr>
        <td class="bx-wiki-cell-title bx-def-border bx-def-padding-thd"><a href="__url__">__title__</a></td>
        <td class="bx-wiki-cell-profile bx-def-border bx-def-padding-thd"><a href="__author_url__">__author_name__</a></td>
        <td class="bx-wiki-cell-lang bx-def-border bx-def-padding-thd">__lang__</td>
        <td class="bx-wiki-cell-content bx-def-border bx-def-padding-thd">__content__</td>
        <td class="bx-wiki-cell-time bx-def-border bx-def-padding-thd">__timejs_main__</td>
        <td class="bx-wiki-cell-time bx-def-border bx-def-padding-thd">__timejs__</td>
    </tr>
</bx_repeat:blocks>
</table>
