<div id="bx_wiki_toc" class="markdown-body"></div>

<script type="text/javascript">
$(document).ready(function() {
    if ("undefined" != typeof($("#bx_wiki_toc").toc))
        $("#bx_wiki_toc").toc({
            title:"", 
            noBackToTopLinks: true, 
            minimumHeaders: 2, 
            showSpeed: 0, 
            headers: ".bx-layout-bcb-content h2, .bx-layout-bcb-content h3, .bx-layout-bcb-content h4, .bx-layout-bcb-content h5, .bx-layout-bcb-content h6" 
        });
});
</script>
