div.news-cb {
    clear: both;
    font-size: 0px;
}
div.news-view,
div.news-content {
    width: 100%;
    position: relative;
}
div.news-entries {
    padding: 10px 10px 0px 10px;
    position: relative;
}
div.news-entry {
    margin-bottom: 10px;
    padding: 10px;

    position: relative;

    background-color: #f2f2ff
}
div.news-info {
    min-height: 38px;
    position: relative;
}
div.news-checkbox {
    top: 10px;
    left: 10px;
    width: 20px;
    height: 38px;
    position: absolute;
    text-align: left;
}
div.news-caption,
div.news-date,
div.news-text {
    position: relative;
}
a.news-caption {
    font-weight: bold;
    font-size: 12px;
}
span.news-caption {
    font-size: 12px;
    font-weight: bold;
}
span.news-status {
    font-size: 10px;
    font-weight: bold;
    color: #999999;
}
div.news-date {
    margin-bottom:5px;

    font-size:9px;
    color:#999999;
}
div.news-text {
    /*overflow: hidden;*/
}
div.news-text-snippet {
    /*
    TEXT-OVERFLOW: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    */
}
div.news-comments {
    position: relative;
    clear: both;
}
div.news-comments div.cmt-reply {
    padding: 0px;
}
div.news-comments div.cmts {
    padding: 0px;
}
div.news-entry div.votes_small {
    top: 10px;
    right: 10px;
    width: auto;
    position: absolute;
}

div.news-calendar-unit {
    position: relative;
}

/*--- Admin panel ---*/
div.block_cont {
    padding: 0px;
}