<div class="bx_massmailer_table">
    <table class="bx_massmailer_table_clicks">
        <thead>
            <tr>
                <th>__title_title__</th>
                <th>__link_title__</th>
                <th>__click_count_title__</th>
                <th>__last_click_title__</th>
            </tr>
        </thead>
        <bx_repeat:items>
            <tr>
                <td>__title__</td>
                <td>__link__</td>
                <td>__click_count__</td>
                <td>__last_click__</td>
            </tr>
        </bx_repeat:items>
    </table>
</div>
<script language="javascript">
$(document).ready(function () {
    $('.bx_massmailer_table table.bx_massmailer_table_clicks').DataTable({ dom: '<"top"i>rt<"bottom"flp><"clear">', paging: false, searching: false, ordering: true, order: [] });
});
</script>
