<div class="bx_massmailer_table">
    <table  class="bx_massmailer_table_subscribers">
        <thead>
            <tr>
                <th>__email_title__</th>
                <th>__date_sent_title__</th>
                <th>__date_seen_title__</th>
                <th>__date_click_title__</th>
            </tr>
        </thead>
        <bx_repeat:items>
            <tr>
                <td>__email__</td>
                <td>__date_sent__</td>
                <td>__date_seen__</td>
                <td>__date_click__</td>
            </tr>
        </bx_repeat:items>
    </table>
</div>
<script language="javascript">
$(document).ready(function () {
    $('.bx_massmailer_table table.bx_massmailer_table_subscribers').DataTable({ dom: '<"top"i>rt<"bottom"flp><"clear">', paging: false, searching: false, ordering: true, order: [] });
});
</script>
