/*--- Offer Accepted block ---*/
.bx-ads-entry-offer-accepted {
    position: relative;
}

.bx-ads-eoa {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
}

.bx-ads-eoa .bx-btn {
    float: none;
}
