
.bx-form-advanced-wrapper .bx-form-section-wrapper:first-child {
    margin-top:0;
}

.bx-form-advanced-wrapper .bx-form-section-divider:first-child {
    border-top:none; 
    padding-top:0; 
}

.bx-form-advanced-wrapper .bx-form-section-divider:first-child .bx-form-section-content {
    padding-top:0; 
}

.bx-form-advanced-wrapper .bx-form-section-wrapper:last-child .bx-form-section-content {
    padding-bottom:0;
}

.bx-form-advanced-wrapper .bx-form-section-wrapper:first-child .bx-form-row-view-wrapper:first-child {
    padding-top:0;
}

.bx-form-section-wrapper {
    position:relative;
}

.bx-form-section {
    padding:0px;
}

.bx-form-section {
    margin:0;
    border: none;
}

.bx-form-section-header .bx-form-section-title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    line-height: 1.25rem;
    text-transform: uppercase;
}

.bx-form-section-header .bx-form-section-title u {
    cursor: pointer;
}

.bx-form-section-header .bx-form-section-title span {
    width: 100%;
    padding-left: 1.25rem;

    white-space: nowrap;
    text-transform: none;
    font-size: 0.75rem;
}

.bx-form-section-hidden .bx-form-section-content {
    display:none;
}

.bx-form-caption {
    margin-bottom:5px;
}

.bx-form-required {
    color:red;
}

.bx-form-warn {
    color:red;
    font-style:italic;
}

.bx-form-info {

}

/* section toggler */

.bx-form-collapsable .bx-form-section-toggler {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    width: 1.25rem;
    height: 1.25rem;

    text-decoration:none;

    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    line-height: 1.25rem;
}

.bx-form-collapsed .bx-form-section-toggler {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.bx-form-section-toggler .sys-icon {
    font-size: 0.875rem;
}

/* form inputs */
.bx-form-input-wrapper {
    position: relative;
}

.bx-form-input-disabled {}

.bx-form-input-slider,
.bx-form-input-doublerange,
.bx-form-input-select_multiple,
.bx-form-input-select,
.bx-form-input-radio_set,
.bx-form-input-checkbox_set,
.bx-form-input-number,
.bx-form-input-time,
.bx-form-input-datepicker,
.bx-form-input-datetime,
.bx-form-input-textarea,
.bx-form-input-wrapper-password,
.bx-form-input-text,
.bx-form-input-price,
.bx-form-input-wrapper-price span {

    height:40px;
    height:2.5rem;
    width:100%;
    
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding:7px 3px 7px 3px;
    padding:0.2rem 0.4rem;

    vertical-align:middle;

    border:2px solid #79bd9a;
    border:0.125rem solid #79bd9a;
	
    -webkit-border-radius:0.3rem;
    -moz-border-radius:0.3rem;	
    border-radius:0.3rem;

    outline:none;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; 
    filter: alpha(opacity=90); 
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;    
}

.bx-form-input-slider:focus,
.bx-form-input-doublerange:focus,
.bx-form-input-number:focus,
.bx-form-input-time:focus,
.bx-form-input-datepicker:focus,
.bx-form-input-datetime:focus,
.bx-form-input-textarea:focus,
.bx-form-input-text:focus,
.bx-form-input-price:focus,
.bx-form-input-wrapper-password.bx-form-input-focus {
    border-color:#6caa8a;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter: alpha(opacity=100); 
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.bx-form-input-wrapper-password {
    padding: 0 2.125rem 0 0;
}
.bx-form-input-wrapper-password > a {
    position: absolute;
    z-index: 1000;
    
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    top: 0;
    right: 0;    
    height: 100%;

    margin: 0 0.5rem;
}
.bx-form-input-password {
    position: relative;

    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 7px 3px 7px 3px;
    padding: 0.2rem 0.4rem;

    border: 0;
    background-color: transparent;
}
.bx-form-input-password:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.bx-form-input-select_multiple,
.bx-form-input-radio_set,
.bx-form-input-checkbox_set {
    height:auto;
}

.bx-form-value .bx-form-input-radio_set,
.bx-form-value .bx-form-input-checkbox_set {
    line-height: 1.25;
}

.bx-form-value .bx-form-input-radio_set label,
.bx-form-value .bx-form-input-checkbox_set label {
    padding-left: 0.25rem;
}


.bx-form-input-textarea {
    padding:0.5rem;
    height:150px;
    height:10rem;

    line-height:normal;
}

.bx-form-input-datepicker {
    width:7.5rem;
}

.bx-form-input-wrapper-dateselect select{
    min-width:70px;
}
.bx-form-input-wrapper-dateselect select.month{
    min-width:120px;
}

.bx-form-input-datetime {
    width:10.2rem;
}

.bx-form-datepicker-modal {
    z-index:10001 !important;
}

.bx-form-input-number,
.bx-form-input-time
{
    width:6rem;
}

.bx-form-input-wrapper-file .bx-btn {
	float: none;
}
.bx-form-input-file {
    position: fixed;
    top: -1000px;

    border: none;
    background-color: transparent;
    visibility: hidden;
}

.bx-form-input-wrapper-slider,
.bx-form-input-wrapper-doublerange {
    position:relative;
}

.bx-form-input-wrapper-slider .ui-slider,
.bx-form-input-wrapper-doublerange .ui-slider {
    position:absolute;
    top:0px;
    right:0px;
}

.bx-form-input-wrapper-slider .ui-slider .ui-slider-handle,
.bx-form-input-wrapper-doublerange .ui-slider .ui-slider-handle { 
    z-index: 1;
}

/* price */
.bx-form-element .bx-form-value .bx-form-input-wrapper-price {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.bx-form-element .bx-form-value .bx-form-input-wrapper-price span {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    width: auto;
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bx-form-input-wrapper-price span {
    background-color: rgba(249, 250, 251, 1.0);
}
.bx-form-element .bx-form-value .bx-form-input-price:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* privacy group chooser */
.bx-form-input-wrapper-pgc {
    position: relative;
}

.bx-form-input-pgc {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    top: -1.375rem;
    right: 0;
    width: 1rem;
    height: 1rem;
}

.bx-form-input-pgc-popup .bx-form-input-wrapper-input_set {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
}

/* help popup */
.bx-form-input-help-popup {
    max-width: 25rem;
    max-height: 25rem;
    overflow: auto;
}

/* switcher element */
.bx-switcher-cont input {
   display: none !important;
}

/* oneline element */
.bx-form-element-wrapper-oneline .bx-form-element {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.bx-form-value-oneline,
.bx-form-caption-oneline {
    float: none;
}
.bx-form-caption-oneline {
    margin-bottom: 0;
}

.bx-form-input-wrapper-submit .bx-btn {
    float: none;
}
.bx-form-input-wrapper-input_set .bx-btn {
    float:left;
}

/* extra features */

.bx-form-right-line-aligned {
    float:right;
    margin-top: 5px;
}

/* view mode */
.bx-form-row-view-wrapper > div {
	position: relative;
    display: inline-block;
    width: 100%;

    vertical-align: bottom;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bx-form-row-view-ratevalue{
	display: flex !important;
	justify-content: flex-start;
}
.bx-form-row-view-ratevalue .bx-form-row-view-value{
    flex-grow: 2;
}
.bx-form-row-view-wrapper-textarea > div {
    vertical-align:top;
}

.bx-form-row-view-caption {
    font-weight:bold;
}


/****************************************
*		Custom reCaptcha Theme
****************************************/
.bx-form-input-captcha-custom {
	background-color: #b71800;
	padding: 0.5em;
	border-radius: 1em;
	position: relative;
	overflow: auto;
	max-width: 480px;
	font: 0.75em/1em Helvetica, Arial, sans-serif;
	color: #ffffff;
}
.bx-form-input-captcha-custom a {
	color: #ffffff;
	text-decoration: none;
}
.bx-form-input-captcha-custom img,
.bx-form-input-captcha-custom #recaptcha_image {
	width: 100% !important;
	height: auto !important;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.bx-form-input-captcha-custom .solution {
	position: relative;
	float: left;
	width: 75%;
}
.bx-form-input-captcha-custom .solution-cnt {
	margin-top: 0.5em;
	padding: 1.2em 1em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fbe098;
	color: #000000;
	display: block;
}
.bx-form-input-captcha-custom .solution-cnt input {
	display: block;
	width: calc(90% - 2px);
	margin: 0.35em auto;
	-webkit-appereance: none;
	border: 1px solid #f7c236;
	font: inherit;
	font-size: 150%;
	outline: none;
}
.bx-form-input-captcha-custom .solution-cnt input:focus {
	border-color: #b71800;
}
.bx-form-input-captcha-custom .options {
	position: relative;
	float: right;
	width: 25%;
	
}
.bx-form-input-captcha-custom .options-cnt {
	margin-top: 0.5em;
	padding-left: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.bx-form-input-captcha-custom .options-cnt a {
	background-color: #c5523d;
	display: block;
	padding: 0.5em 1.0em;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}
.bx-form-input-captcha-custom .options-cnt a:first-child {
	border-radius: 0.5em 0.5em 0 0;
}
.bx-form-input-captcha-custom .options-cnt a:last-child {
	border-radius: 0 0 0.5em 0.5em;
	border-bottom: 1px solid #000000;
}


/****************************************
* Overwrite 3d Party MiniColors plug-in
****************************************/
.bx-form-input-wrapper.bx-form-input-wrapper-text .minicolors-theme-bootstrap .minicolors-swatch {
	top: 6px;
	left: 6px;

	width: 25px;
	width: 1.5625rem;
	height: 25px;
	height: 1.5625rem;

	border-radius: 20px;
	border-radius: 1.25rem;
}

/* auto-siggestion input */

.bx-form-value .bx-form-input-autotoken {
    float:left;
    padding:0px;
    height:auto;
    box-shadow: none;
    padding: 2px;
}
.bx-form-value .bx-form-input-autotoken b {
    cursor:pointer;
    display:block;
    float:left;
    padding-right: 1.5em; 
    margin-left:0.1em;
    margin-right:0.1em;
    font-weight:normal;
	border-radius: 1.25rem;
}
.bx-form-value .bx-form-input-autotoken b.val-wo-icon {
    padding-left: 1.5em;
}
.bx-form-value .bx-form-input-autotoken b:hover {
    opacity:0.7;
}
.bx-form-value .bx-form-input-autotoken b:after {
    font-family: 'sys-user', 'sys-user-fal';
    content: "\f00d";    
    position:absolute;    
    padding:0 0.5em;
    margin-left: 0.25em;
    font-size:0.7em;
    font-weight:bold;
}
.bx-form-value .bx-form-input-autotoken.bx-form-input-disabled b {
    cursor: default;
}
.bx-form-value .bx-form-input-autotoken.bx-form-input-disabled b:after{
    display: none;
}
.bx-form-value .bx-form-input-autotoken input {
    border:0;
    margin:0;
    padding:0 0 0 5px;
    width:auto;
    float:left;
    box-shadow: none;
}
.bx-form-value .bx-form-input-autotoken .bx-def-thumb-size {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
	float:left;	
}
.bx-form-value .bx-form-input-autotoken .bx-base-pofile-unit-wo-info {
    display: inline-block;
    vertical-align: middle;

    margin-right: 8px;
    margin-right: 0.5rem;
}
.bx-form-value .bx-form-input-labels-sel b {
    display:inline-block;
    line-height:1.5rem;
    font-size:85%;    
    padding-right:1em;
    margin-top:0.625rem;
    font-style:normal;
}
.bx-form-value .bx-form-input-labels-sel b:after {
    display:none;
}
.select2-container {
    width:100% !important;
}

/* Location field */

.bx-form-input-location-country,
.bx-form-input-location-zip,
.bx-form-input-location-state,
.bx-form-input-location-city {
    width:49%;
}

.bx-form-input-location-street {
    width:83%;
}

.bx-form-input-location-street_number {
    width:15%;
}

.bx-form-input-location-street_number,
.bx-form-input-location-street,
.bx-form-input-location-state,
.bx-form-input-location-city {
    margin-bottom:0.25rem;
}

.bx-form-input-location-cont .bx-form-input-location-status-cont {
    float:none;
    width:98%;
    line-height:normal;
}
.bx-form-input-location-status {
    float:left;
}
.bx-form-input-location-copyright {
    float:right;
}

.bx-form-input-location-auto-cont {
    display:table;
}
.bx-form-input-location-auto-cont > div {
    display:table-cell;
    vertical-align:middle;
}
.combodate {
    display: flex;
}
