<div class="bx-page-creative-container bx-def-vanilla-html max-w-none">
    <div class="bx-creative-content" id="bx-cc-__block_id__">__content__</div>
    <bx_if:show_controls>
        <div class="bx-creative-controls flex justify-end w-full pt-4">
            <a class="bx-btn bx-btn-small bx-cc-edit" href="javascript:void(0)" onclick="javascript:__onclick_edit__"><i class="sys-icon edit"></i></a>
            <a class="bx-btn bx-btn-small ml-2 hidden bx-cc-save" href="javascript:void(0)" onclick="javascript:__onclick_save__"><i class="sys-icon check"></i></a>
        </div>
    </bx_if:show_controls>
</div>