@import url(../../../template/css/grid.css);

/**
 * Overwrite default styles
 */
.bx-grid-header-controls-independent .bx-btn {
    margin-top: 0;
    margin-bottom: 0;
}
.bx-grid-table td,
.bx-grid-table th
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 14px;
}
.bx-grid-table tr:not(.bx-grid-table-row-hr) td{
    height: 55px;
    white-space: nowrap;
    text-overflow: ellipsis;
}