<div class="bx-content-description-before">__content_description_before__</div>
<div class="bx-content-description">
    <div id="__html_id__" class="bx-base-text-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img">
        <h1 class="bx-spf-title">__entry_title__</h1>
        <div class="bx-spf-text"></div>
        <div class="bx-spf-images"></div>
        <script type="text/javascript">
        $(document).ready(function() {
            __js_object__.getEntry('__entry_code__');
        });
        </script>
    </div>
</div>
<div class="bx-content-description-after">__content_description_after__</div>