<div class="bx-base-text-unit bx-base-text-unit-ext __class__ bx-def-box bx-def-round-corners bx-def-color-bg-box bx-def-margin-bottom">
	<div class="bx-base-text-unit-cover bx-spf-unit-cover" style="display:none">
	    <img class="bx-base-text-unit-cover bx-def-round-corners" src="" />
	</div>
    <div class="bx-base-text-unit-text bx-spf-unit-text bx-def-padding bx-def-box-sizing">
        <h2><a href="__content_url__">__title__</a></h2>
        <div class="bx-base-text-unit-info bx-def-margin-sec-top bx-def-font-small">
            <bx_if:meta><div class="bx-base-text-unit-meta">__meta__</div></bx_if:meta>
        </div>
        <div class="bx-base-text-unit-summary bx-spf-unit-summary bx-def-margin-sec-top bx-clearfix"></div>
        <div class="bx-base-text-unit-actions bx-spf-unit-actions">
            <a class="bx-btn bx-shopify-buy bx-def-margin-sec-top" href="" style="display:none">
			    <bx_text:_bx_shopify_menu_item_title_buy_for />
			</a>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        __js_object__.getUnit(__entry_code__);
    });
    </script>
</div>
__js_content__