div.bx-std-page-column.bx-std-page-content div.bx-std-page-column-cnt {
    padding: 5rem 0  0  0;
}

.bx-std-block .bx-std-block-content {
    padding: 0;
}

#adm-settings-form-categorized {
    position: relative;
    padding-bottom: 5.0rem;
}
#adm-settings-form-categorized .bx-form-advanced-wrapper {
    height: calc(100vh - 10.0rem);
    overflow-y: auto;
}
#adm-settings-form .bx-form-advanced-wrapper .bx-form-section-wrapper,
#adm-settings-form-categorized .bx-form-advanced-wrapper .bx-form-section-wrapper {
    padding: 0 1.5rem;
}
#adm-settings-form-categorized .bx-form-advanced-wrapper .bx-form-section-wrapper:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    margin: 0;
    padding: 1.25rem 1.5rem;

    border-top: 1px solid rgba(209, 213, 219, 1.0);
    background-color: rgba(255, 255, 255, 1.0);
}

#adm-settings-form .bx-form-advanced-wrapper .bx-form-section-wrapper:first-child,
#adm-settings-form-categorized .bx-form-advanced-wrapper .bx-form-section-wrapper:first-child {
    padding-top: 1rem;
}