@import url(../../../../../../../template/css/cmts.css);


/*--- View comment ---*/
div.cmt-info .cmt-meta ul.bx-menu-custom li .cmt-meta-item .cmt-meta-username,
div.cmt-info .cmt-meta ul.bx-menu-custom li .cmt-meta-item .cmt-meta-ago, 
div.cmt-info .cmt-meta ul.bx-menu-custom li .cmt-meta-item .cmt-meta-membership,
div.cmt-info .cmt-meta ul.bx-menu-custom li .cmt-meta-item .cmt-meta-div {
    font-size: 0.875rem;
}

div.cmt-info .cmt-meta ul.bx-menu-custom li .cmt-meta-item .cmt-meta-username {
    font-weight: bold;
}

div.cmt-cont .cmt-body {
    font-size: 0.875rem;
}
