@import url(../../../../../../../template/css/common.css);

a {
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

/* --- Loading indicator --- */
.bx-loading-ajax-btn {
    margin-left: 10px;
}
    