blockquote {
  /* NOTE: copied from common.css */
  border-left: 2px solid #ccc;
  padding-left: 10px;
}
pre {
  /* NOTE: copied from common.css */
  padding: 5px;
  border: 1px solid green;
  background-color: white;
  color: #009900;
  display: block;
  margin: 0;
  overflow-x: auto;
}
.bx-hide-in-htmleditor {
  display: none;
}
.ql-toolbar.ql-snow,
.ql-container {
  border-color: rgba(136, 153, 170, 0.3) !important;
}
.bx-form-input-html-quill-empty.ql-container {
  border-radius: 0.3rem !important;
  border-top: 1px solid rgba(136, 153, 170, 0.3) !important;
}
.ql-editor {
  min-height: 95px;
}
