@import url(../../../../../../../template/css/general.css);

/* --------------- Submenu */
.bx-menu-main-bar-gap {
    position: relative;
}
.bx-media-phone .bx-menu-main-bar-gap {
    padding-left: 0;
    padding-right: 0;
}

.bx-menu-main-bar-wrapper {
    position: relative;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bx-menu-main-bar-wrapper.bx-menu-main-bar-hide-shadow-before:before,
.bx-menu-main-bar-wrapper.bx-menu-main-bar-hide-shadow-after:after {
    display:none !important;
}
.bx-menu-main-bar-wrapper:before,
.bx-menu-main-bar-wrapper:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 1.5rem;
    height: 100%;
    z-index: 1;
}
.bx-media-phone .bx-menu-main-bar-wrapper {
    border-left-width: 0;
    border-right-width: 0;
}
.bx-media-phone .bx-menu-main-bar-wrapper:before {
    border-bottom-left-radius: 0;
}
.bx-media-phone .bx-menu-main-bar-wrapper:after {
    border-bottom-right-radius: 0;
}

/* --------------- Profile Stats block */
.bx-profile-stats .bx-profile-stats-cnt {
    padding: 0;
}
.bx-profile-stats .bx-def-unit {
    margin: 0;
    padding: 1rem 1rem 0 1rem;
}
.bx-profile-stats .bx-def-unit-cnt {
    position: relative;
}
.bx-profile-stats .bx-def-unit-cnt .bx-def-ava-size {
    width: 3.75rem;
    height: 3.75rem;
    line-height: 3.75rem;
}
.bx-profile-stats .bx-def-unit-cnt .bx-def-ava-size-left-indent {
    margin-left: 4.75rem;
}
.bx-profile-stats .bx-def-unit-cnt .bx-def-ava-size-min-height {
    min-height: 3.75rem;
}
.bx-profile-stats .bx-def-unit-cnt .bx-def-ava-size-max-height {
    max-height: 3.75rem;
}