@import url(../../../../../../../template/css/general.css);

/* --------------- Profile Stats block */
.bx-profile-stats .bx-profile-stats-cnt {
    padding: 0;
}
.bx-profile-stats .bx-def-unit {
    margin: 0;
    padding: 1rem 1rem 0 1rem;
}
.bx-profile-stats .bx-def-unit-cnt {
    position: relative;
}
.bx-profile-stats .bx-def-unit-cnt .bx-def-ava-size {
    width: 3.75rem;
    height: 3.75rem;
    line-height: 3.75rem;
}
.bx-profile-stats .bx-def-unit-cnt .bx-def-ava-size-left-indent {
    margin-left: 4.75rem;
}
.bx-profile-stats .bx-def-unit-cnt .bx-def-ava-size-min-height {
    min-height: 3.75rem;
}
.bx-profile-stats .bx-def-unit-cnt .bx-def-ava-size-max-height {
    max-height: 3.75rem;
}
.bx-profile-stats .bx-def-unit-cnt .bx-def-unit-line.bx-def-margin-sec-top {
    margin-top: 0.25rem;
}