@import url(../../../../../../../template/css/general.css);

/* --------------- Profile Stats block */
.bx-profile-stats .bx-profile-stats-cnt {
    padding: 0;
}

.bx-profile-stats .bx-ps-user-cnt {
    margin: 1.0rem 1.0rem 0 1.0rem;
}

.bx-profile-stats .bx-ps-user-cnt .bx-ps-user-line.bx-def-margin-sec-top {
    margin-top: 0.25rem;
}