@import url(../../../../../../../template/css/media-phone.css);

/* default.css */ 

.bx-media-phone #bx-content-container .bx-db-container.bx-def-border-block {
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
}
