<div class="bx-def-unit absolute bx-def-margin-bottom">
    <div class="bx-def-unit-img bx-def-ava bx-def-ava-size">
        <a href="__profile_url__" title="__profile_title_attr__"><img class="bx-def-ava bx-def-ava-size" src="__profile_ava_url__" /></a>
    </div>
    <div class="bx-def-unit-info bx-def-ava-size-min-height bx-def-ava-size-max-height bx-def-ava-size-left-indent">
        <div class="bx-def-unit-info-cnt bx-def-box-sizing">
            <div class="bx-def-unit-line bx-def-font-h2 bx-def-padding-sec-bottom"><a href="__profile_url__" title="__profile_title_attr__">__profile_title__</a></div>
            <div class="bx-def-unit-line"><a href="__profile_edit_url__"><bx_text:_sys_edit_profile /></a></div>
        </div>
    </div>
</div>
__menu__
