
<bx_if:unread_messages><div class="bx-cnv-grid-field-label bx-def-margin-thd-left bx-def-unit-alert-middle bg-col-blue2-dark">__unread_messages__</div></bx_if:unread_messages>
<bx_if:viewer_is_last_replier><div class="bx-cnv-grid-field-label bx-def-margin-thd-left"><i title="<bx_text_attribute:_bx_cnv_you_are_last_replier />" class="sys-icon reply bx-def-font-grayed"></i></div></bx_if:viewer_is_last_replier>
<bx_if:is_read_by_all><div class="bx-cnv-grid-field-label bx-def-margin-thd-left"><i title="<bx_text_attribute:_bx_cnv_read_by_all />" class="sys-icon check bx-def-font-grayed"></i></div></bx_if:is_read_by_all>
