@import url(../../../../../notifications/template/css/view.css);


/*--- Preview Popup Style ---*/
.bx-menu-object-bx_notifications_preview .bx-menu-item-event {
	margin-top: 0.5rem;
	border-radius: 0.5rem;
}
.bx-menu-object-bx_notifications_preview .bx-menu-item-event:first-child {
	margin-top: 0;
}