<div id="__html_id__" class="__style_prefix__-item __style_prefix__-sample __class__ bx-def-thumb-size-min-height bx-def-padding-bottom bx-clearfix" bx-id="__id__">
    <a name="timeline-event-__id__"></a>
    <div class="__style_prefix__-item-type bx-def-media-phone-hide">
        <div class="__style_prefix__-item-circle">
            <i class="sys-icon __icon__"></i>
        </div>
    </div>
    <div class="__style_prefix__-item-cnt bx-def-box bx-def-box-sizing bx-def-padding bx-def-round-corners bx-def-color-bg-box">
        <div class="__style_prefix__-is">
            <div class="__style_prefix__-is-avatar bx-def-thumb-size">
                <span class="__style_prefix__-is-icon bx-def-thumb bx-def-thumb-size"></span>
            </div>
            <div class="__style_prefix__-is-content bx-def-margin-left">
                <h3 class="__style_prefix__-is-title" style="width: 38%;"></h3>
                <ul class="__style_prefix__-is-paragraph"><li></li><li></li><li style="width: 61%;"></li></ul>
            </div>
        </div>
    </div>
</div>