.fr-popup {
    z-index:1100 !important;
}

.fr-view pre {
    /* NOTE: this style was copied to editor.css */
    padding: 5px;
    border: 1px solid green;
    background-color: white;
    color: #009900;
    display: block;
    margin: 0;
    overflow-x: auto;
}
