<div class="bx-base-text-unit-gallery-wrapper">
    <bx_repeat:profiles>
    <div class="bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size bx-def-padding-sec">
        <div class="bx-base-text-unit-cnt bx-def-box bx-def-round-corners bx-def-color-bg-box bx-def-box-sizing">
            <a href="__profile_link__">
                <img src="__profile_pic__" class="bx-base-text-unit-thumb bx-def-round-corners" />
            </a>

            <div class="bx-base-text-unit-text bx-def-padding-leftright bx-def-padding-sec-topbottom bx-def-box-sizing">
                <div class="bx-base-text-unit-title">
                    <h2><a href="__profile_link__">__profile_name__</a></h2>
                </div>
                <div class="bx-base-text-unit-info">
                    <div class="bx-review-extra-info">
                        <span class="bx-def-font-bold"><bx_text:_bx_reviews_txt_reviews_num />:</span> <a href="__reviews_link__">__reviews__</a>
                    </div>
                    <bx_if:rating>
                        <div class="bx-def-hr bx-def-margin-top"></div>
                        <div class="bx-review-rating bx-def-align-center">__stars__</div>
                    </bx_if:rating>
                </div>
            </div>
        </div>
    </div>
    </bx_repeat:profiles>
</div>
__pagination__