<div class="__class__ bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size bx-def-padding-sec">
    <div class="bx-base-text-unit-cnt bx-def-box bx-def-round-corners bx-def-color-bg-box bx-def-box-sizing bx-review-vertical-flex">
        <bx_if:thumb>
            <a href="__content_url__" title="__summary_attr__">
                <div class="bx-base-text-unit-thumb bx-def-gal-div-size bx-def-round-corners bx-def-font-middle" style="background-image:url(__gallery_url__)">
                    <div class="bx-base-text-unit-strecher">__strecher__</div>
                </div>
            </a>
        </bx_if:thumb>
        <div class="bx-base-text-unit-text bx-def-padding-leftright bx-def-padding-sec-topbottom bx-def-box-sizing">
            <div class="bx-base-text-unit-title">
                <h3 class="bx-def-margin-sec-topbottom"><a href="__content_url__">__title__</a></h3>
                __badges__
            </div>
            <bx_if:thumb_plus_quick_desc>
                <div class="bx-def-gal-img-column bx-def-margin-bottom">
                    <div class="bx-def-font bx-def-box-sizing bx-reviews-align-left">
                        __summary_quick_plain__
                    </div>
                </div>
            </bx_if:thumb_plus_quick_desc>
            <bx_if:no_thumb>
                <div class="bx-def-gal-img-column">
                    <div class="bx-base-text-unit-no-thumb bx-def-gal-div-size bx-def-font bx-def-box-sizing bx-reviews-align-left">
                        __summary_plain__
                        <div class="bx-base-text-unit-strecher">__strecher__</div>
                    </div>
                </div>
            </bx_if:no_thumb>
            <div class="bx-base-text-unit-info">
                <bx_if:context>
                    <div class="bx-review-extra-info">
                        <i class="sys-icon bx-review-reset-color __content_icon__"></i> <span class="bx-reviews-capitalize">__content_type__</span>: <a href="__content_link__">__content_name__</a>
                    </div>
                </bx_if:context>
                <bx_if:product>
                    <div class="bx-review-extra-info">
                        <i class="sys-icon bx-review-reset-color shopping-bag"></i> <bx_text:_bx_reviews_txt_product />: <a href="__product_link__">__product_name__</a>
                    </div>
                </bx_if:product>
                <div class="bx-review-extra-info">
                    <i class="sys-icon bx-review-reset-color user"></i> <bx_text:_bx_reviews_txt_user />: <a href="__author_url__">__author__</a>
                </div>
                <bx_if:meta><div class="bx-base-general-unit-meta">__meta__</div></bx_if:meta>
            </div>
        </div>

        <bx_if:rating>
            <div class="bx-def-padding-left bx-def-padding-right bx-reviews-rating-row">
                <div class="bx-def-hr"></div>
                <div class="bx-review-rating bx-def-align-center">__stars__</div>
            </div>
        </bx_if:rating>

    </div>
</div>