<div>
    <div class="sys-action bx-vote bx-vote-stars" bx_vote_data_rate="__rate__" bx_vote_data_id="__id__">
        <div class="sys-action-cnt bx-vote-cnt bx-vote-do bx-def-valign-center bx-clearfix">
            <div class="sys-action-element-holder bx-vote-element-holder">
                __stars__
            </div>
        </div>
    </div><span class="bx-base-general-unit-meta-div bx-def-font-grayed"><bx_if:details>&nbsp;&#183;&nbsp;</span><a href="#" onclick="showPopupAnyHtml('__details_action_url__', 'bx_reviews_rating'); return false;"><bx_text:_bx_reviews_txt_rating_details /></a></bx_if:details>
    __js_code__
</div>