<div class="__sp__-checkout">
    <div class="__sp__-checkout-cnt">
        <div class="__sp__-checkout-box bx-def-box bx-def-color-bg-box bx-def-box-round-corners bx-def-border bx-def-shadow">
            <div class="__sp__-checkout-box-cnt bx-def-padding">
                <div class="__sp__-cb-row __sp__-cbr-title bx-def-font-h2">__title__</div>
                <div class="__sp__-cb-row __sp__-cbr-items bx-def-margin-top bx-def-padding-leftright">
                    <bx_repeat:items>
                        <div class="__sp__-cb-item">
                            <div class="__sp__-cbi-title">__item_index__. __item_title__</div>
                            <div class="__sp__-cbi-quantity">__item_quantity__</div>
                        </div>
                    </bx_repeat:items>
                </div>
                <div class="bx-def-hr bx-def-margin-top"></div>
                <div class="__sp__-cb-row __sp__-cbr-amount bx-def-margin-top">
                    <div class="__sp__-cbr-caption bx-def-font-grayed"><bx_text:_bx_credits_txt_checkout_price_money /></div>
                    <div class="__sp__-cbr-value bx-def-margin-thd-top bx-def-font-large">__amount__</div>
                </div>
                <bx_if:show_rate>
                    <div class="__sp__-cb-row __sp__-cbr-rate bx-def-margin-sec-top">
                        <div class="__sp__-cbr-caption bx-def-font-grayed"><bx_text:_bx_credits_txt_checkout_rate /></div>
                        <div class="__sp__-cbr-value bx-def-margin-thd-top bx-def-font-large">__rate__</div>
                    </div>
                </bx_if:show_rate>
                <div class="__sp__-cb-row __sp__-cbr-credits bx-def-margin-sec-top">
                    <div class="__sp__-cbr-caption bx-def-font-grayed"><bx_text:_bx_credits_txt_checkout_price_credits /></div>
                    <div class="__sp__-cbr-value bx-def-margin-thd-top bx-def-font-large">__credits__</div>
                </div>
                <div class="bx-def-hr bx-def-margin-top"></div>
                <div class="__sp__-cb-row __sp__-cbr-actions bx-def-margin-top">
                    <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__jo__.checkout(this)"><bx_text:_bx_credits_txt_checkout /></a>
                </div>
            </div>
        </div>
    </div>
</div>
__js_code__