<div id="bx-uploader-file-{file_id}" class="bx-uploader-ghost bx-def-margin-sec-top">
    <input type="hidden" name="__name__" value="{file_id}" />
    <div class="bx-notes-icon-wrapper bx-def-margin-sec-right">
        <img src="{file_icon}" class="bx-def-thumb bx-notes-icon bx-notes-icon-{file_id}" />
    </div>
    <span class="bx-notes-uploader-ghost">
        <b><bx_text:_bx_notes_form_note_input_picture_txt_pic_url /></b> 
        <br />
        <input class="bx-def-font-inputs bx-form-input-text bx-def-margin-sec-bottom" type="text" value="{file_url}" readonly="1" /> <br />

        <span id="bx-notes-intert-to-post-link-{file_id}" style="display:none;">
            <a class="bx-btn bx-btn-small bx-def-margin-sec-right" href="javascript:void(0);" onclick="bx_notes_insert_to_post('{file_id}', '{file_url}', '__editor_id__');"><bx_text:_bx_notes_form_note_input_picture_txt_insert /></a>
        </span>
        <a class="bx-btn bx-btn-small bx-def-margin-sec-right" href="javascript:void(0);" onclick="bx_notes_delete_ghost('{file_id}', '{file_url}', '{file_icon}', '__editor_id__', '__summary_id__', {js_instance_name});"><bx_text:_bx_notes_form_note_input_picture_txt_delete /></a>

        <bx_if:set_thumb>
            <span class="bx-notes-use-as-thumb">
                <input type="checkbox" name="__name_thumb__[]" value="{file_id}" onclick="bx_notes_select_thumb(this)" id="__name_thumb__-{file_id}" /> 
                <label for="__name_thumb__-{file_id}"><bx_text:_bx_notes_form_note_input_picture_txt_use_as_thumb /></label>
            </span>
        </bx_if:set_thumb>

    </span>
    <div class="bx-clear"></div>
</div>
<script>
    if ('object' == typeof(tinymce))
        $('#bx-notes-intert-to-post-link-{file_id}').show();
    $('#bx-uploader-file-{file_id} .bx-notes-use-as-thumb input[value="__thumb_id__"]').attr('checked', true);
</script>
