
<hr class="bx-def-hr" />

<div class="bx-notes-unit bx-def-margin-bottom">
    <h2><a href="__content_url__">__title__</a></h2>
    <div class="bx-notes-unit-summary">
        <bx_if:thumb>
            <img class="bx-def-thumb bx-notes-unit-thumb bx-def-margin-sec-left" alt="__title__" src="__thumb_url__" />
        </bx_if:thumb>
        __summary__
    </div>
    <div class="bx-clear"></div>
    <div class="bx-notes-unit-info bx-def-margin-sec-top"><a href="__author_url__">__author__</a> <span class="bx-notes-unit-info-div bx-def-font-grayed">&#183;</span> <span class="bx-def-font-grayed">__entry_posting_date__</span></div>
</div>

