/*--- Users Select Popup ---*/
.ui-autocomplete.ui-front {
    z-index: 10001;
}

.sys-privacy-us-list {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sys-privacy-usl-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.sys-privacy-usl-unit .bx-base-pofile-unit {
    margin: 0;
}