<div class="__class__ bx-def-unit absolute bx-def-margin-bottom bx-def-margin-sec-right">
    <div class="bx-def-unit-img bx-def-thumb bx-def-thumb-size">
        <a href="__content_url__"><img class="bx-def-thumb bx-def-thumb-size" src="__thumb_url__" /></a>
    </div>
    <div class="bx-def-unit-info bx-def-thumb-size-min-height bx-def-thumb-size-max-height bx-def-thumb-size-left-indent">
        <div class="bx-def-unit-info-cnt bx-def-box-sizing">
            <div class="bx-def-unit-line">
                <a class="bx-def-unit-info-title" href="__content_url__">__title__</a>
            </div>
        </div>
    </div>
</div>
