@import url(../../../../../messenger/template/css/admin.css);

#bx-content-main .bx-messenger-block.jots
{
	border-radius: inherit;
	border-bottom: 0;
	border-right: 0;
	border-top: 0;
}

#bx-page-messenger .bx-layout-cell {
	margin: 0;
	padding: 0;
}

#bx-page-messenger .bx-page-block-container {
	margin: 0;
	padding: 0;
}