/*--- Entry Cover ---*/
.bx-cover-wrapper .bx-cover .bx-cover-image img {
	border-width: 0px;
	background-position: center center;
}

/*--- Entry Content ---*/
div.bx-market-entity-content {}

div.bx-market-ec-title {}
div.bx-market-ec-description p:first-child {
    margin-top: 0;
}

/*--- Entry Screenshots ---*/
div.bx-market-screenshots {
	position: relative;
	height: 120px;
	height: 7.5rem;

	overflow: hidden;
}
div.bx-market-screenshots-cnt {
	position: relative;
	white-space: nowrap;
}
div.bx-market-ss-item {
	position: relative;
	display: inline-block;
	vertical-align: top;

	margin-right: 2px;
	margin-right: 0.125rem;
}
div.bx-market-ss-item .bx-market-ssi-img {
	position: relative;
	display: block;

	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ffffff;
}