/*--- Entry Content ---*/
div.bx-market-entity-content {}

div.bx-market-ec-head {
	position: relative;
}
div.bx-market-ech-info {
	position: relative;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;
}
div.bx-market-ech-info-cnt {
	position: relative;
	width: 100%;
}
div.bx-market-ech-info .bx-market-ech-title {
	margin: 0px;
}
div.bx-market-ech-info .bx-market-ech-paid {
	display: inline-block;
	float: none;
	vertical-align: top;
}
div.bx-market-ech-info .bx-market-ech-free {}

/*--- Entry Screenshots ---*/
div.bx-market-screenshots {
	position: relative;
	height: 120px;
	height: 7.5rem;

	overflow: hidden;
}
div.bx-market-screenshots-cnt {
	position: relative;
	white-space: nowrap;
}
div.bx-market-ss-item {
	position: relative;
	display: inline-block;
	vertical-align: top;

	margin-right: 2px;
	margin-right: 0.125rem;
}
div.bx-market-ss-item .bx-market-ssi-img {
	position: relative;
	display: block;

	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ffffff;
}