/*--- Entry Cover ---*/
.bx-cover-wrapper .bx-cover .bx-cover-image img {
    border-width: 0px;
    background-position: center center;
}

/*--- Entry Icon ---*/
.bx-market-ect-icon .bx-image-edit-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  left: 0px;
  top: auto;
  bottom: -0.75rem;
}
.bx-market-ect-icon .bx-btn.bx-btn-small i, 
.bx-market-ect-icon .bx-btn.bx-btn-small img, 
.bx-market-ect-icon .bx-btn.bx-btn-small svg {
    height: 0.5rem;
    width: 0.5rem;
    line-height: 0.5rem;
}
.bx-market-ect-icon .bx-btn.bx-btn-small i {
    font-size: 0.5rem;
}

/*--- Entry Content ---*/
div.bx-market-entity-content {}

div.bx-market-ec-title {}
div.bx-market-ec-description p:first-child {
    margin-top: 0;
}

/*--- Entry Screenshots ---*/
div.bx-market-screenshots {
	position: relative;
	height: 120px;
	height: 7.5rem;

	overflow: hidden;
}
div.bx-market-screenshots-cnt {
	position: relative;
	white-space: nowrap;
}
div.bx-market-ss-item {
	position: relative;
	display: inline-block;
	vertical-align: top;

	margin-right: 2px;
	margin-right: 0.125rem;
}
div.bx-market-ss-item .bx-market-ssi-img {
	position: relative;
	display: block;

	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ffffff;
}