/*--- Entry Content ---*/
div.bx-market-entity-content {}

div.bx-market-ec-head {
	position: relative;
}
div.bx-market-ech-info {
	position: relative;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;
}
div.bx-market-ech-info-cnt {
	position: relative;
	width: 100%;
}
div.bx-market-ech-info .bx-market-ech-title {
	margin: 0px;
}
div.bx-market-ech-info .bx-market-ech-paid {
	display: inline-block;
	float: none;
	vertical-align: top;
}
div.bx-market-ech-info .bx-market-ech-free {}

/*--- Entry Screenshots ---*/
div.bx-market-screenshots {
	position: relative;
	height: 120px;

	overflow: hidden;
}
div.bx-market-screenshots-cnt {
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
}
div.bx-market-ss-cnt {
	position: relative;
	display: inline-block;

	white-space: nowrap;
}
div.bx-market-ss-left,
div.bx-market-ss-right {
	position: absolute;
	z-index: 3;
	display: none;
	width: 50px;
	height: 50px;
	top: 36px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	line-height: 0.78em;
	font-size: 70px;
	cursor: pointer; 
}
div.bx-market-ss-left {
	left: 15px;
	text-align: left;
}
div.bx-market-ss-left i.sys-icon {
	margin-left: 10px;
	opacity: 0.5;
}
div.bx-market-ss-right {
	right: 15px;
	text-align: right;
}
div.bx-market-ss-right i.sys-icon {
	margin-right: 10px;
	opacity: 0.5;
}
div.bx-market-ss-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
div.bx-market-ss-item .bx-market-ssi-img {
	position: relative;
	display: block;

	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ffffff;
}