.bx-form-value .bx-form-input-autotoken b {
    padding-left:0.5rem;
}

/*--- Uploader Ghost ---*/
#bx-form-element-files .bx-form-input-files-result {
    position: relative;
    max-height: 22.25rem;
    overflow: hidden;
}

.bx-uploader-ghost-header {
    position: relative;
    line-height: 1.5rem;
}

.bx-uploader-ghost .bx-uploader-ghost-header .sys-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;

    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.bx-uploader-ghost.closed .bx-uploader-ghost-header .sys-icon {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}