
@import url(../../../../base/text/template/css/main.css);

/*--- Snippet ---*/
div.bx-market-unit-gallery-cnt {
	position: relative;
	width: 100%;
	overflow: hidden;
}
div.bx-market-unit-title {
	text-align: center;
}
div.bx-market-unit-info {
	overflow: visible;
	white-space: nowrap;
}
div.bx-market-ui-cell {
	display: inline-block;
	vertical-align: middle;
}
div.bx-market-uic-left {
	width: 34%;
}
div.bx-market-uic-right {
	width: 64%;
	text-align: right;
}
.bx-market-ui-price {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.bx-market-ui-price-or {
	line-height: 24px;
    line-height: 1.5rem;
}
.bx-market-ui-price-or:first-child {
	display: none;
}

/*--- Defaults ---*/
.bx-market-thumb-size {
    width: 148px;
    width: 9.25rem;
    height: 148px;
    height: 9.25rem;
    line-height: 148px;
    line-height: 9.25rem;
}
.bx-market-thumb-size-min-height {
    min-height: 148px;
    min-height: 9.25rem;
}
.bx-market-thumb-size-left-indent {
	margin-left: 164px;
	margin-left: 10.25rem;
}
.bx-market-screenshot-size {
    width: 200px;
    width: 12.5rem;
    height: 120px;
    height: 7.5rem;
    line-height: 120px;
    line-height: 7.5rem;
}
	
/*--- Attachments ---*/
div.bx-market-attachment {
	position: relative;
}
div.bx-market-a-main {
	position: absolute;

	top: 5px;
	right: 10px;
}