
@import url(../../../../base/text/template/css/main.css);

/*--- Snippet ---*/
div.bx-market-unit-gallery-cnt {
	position: relative;
	width: 100%;
	overflow: hidden;
}
div.bx-market-unit-info {
	position: relative;
}

/*+++ Item Author +++*/
div.bx-market-unit-author {
    position: relative;
	text-align: left;
}
div.bx-market-unit-author-avatar {
    position: absolute;
    top: 0px;
    left: 0px;
}
div.bx-market-unit-author-info {
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

	margin-right: 32px;
	margin-right: 2rem;
}
div.bx-market-unit-author-name a {
    font-weight: 600;
}

/*+++ Item Actions +++*/
div.bx-market-unit-actions {
	position: absolute;
	top: 0px;
	right: 0px;	
}

/*+++ Item Info +++*/
div.bx-market-unit-cnt {
	text-align: left;
}
div.bx-market-unit-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}
div.bx-market-unit-icon-empty {
	background-color: #ffffff;
	text-align: center;
	font-size: 32px;
	font-size: 2rem;
}
div.bx-market-unit-icon-empty .sys-icon {
    vertical-align: top;	
}
div.bx-market-unit-cover {
	background-color: #ffffff;
}
div.bx-market-unit-cover div.bx-base-text-unit-no-thumb {
	border-color: #f2f2f2;
}
div.bx-market-unit-cnt div.bx-market-unit-info {
	white-space: nowrap;
}
div.bx-market-unit-title {
    text-overflow: ellipsis;
    overflow: hidden;
}
.bx-market-ui-price {
	float: none;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*--- Defaults ---*/
.bx-market-thumb-size {
    width: 148px;
    width: 9.25rem;
    height: 148px;
    height: 9.25rem;
    line-height: 148px;
    line-height: 9.25rem;
}
.bx-market-thumb-size-min-height {
    min-height: 148px;
    min-height: 9.25rem;
}
.bx-market-thumb-size-left-indent {
	margin-left: 164px;
	margin-left: 10.25rem;
}
.bx-market-screenshot-size {
    width: 200px;
    width: 12.5rem;
    height: 120px;
    height: 7.5rem;
    line-height: 120px;
    line-height: 7.5rem;
}
	
/*--- Attachments ---*/
div.bx-market-attachment {
	position: relative;
}
div.bx-market-a-main {
	position: absolute;

	top: 5px;
	right: 10px;
}