/*--- Snippet ---*/
div.bx-market-unit-gallery-cnt {
	position: relative;
	width: 100%;
	overflow: hidden;
}
div.bx-market-unit-info {
	position: relative;
}

/*+++ Item Author +++*/
div.bx-market-unit-author {
    position: relative;
	text-align: left;
}
div.bx-market-unit-author-avatar {
    position: absolute;
    top: 0px;
    left: 0px;
}
div.bx-market-unit-author-info {
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

	margin-right: 32px;
	margin-right: 2rem;
}
div.bx-market-unit-author-name a.sys-author {
	padding-right: 10px;
	padding-right: 0.625rem;

    font-weight: 700;
}

/*+++ Item Actions +++*/
div.bx-market-unit-actions {
	position: absolute;
	top: 0px;
	right: 0px;	
}

/*+++ Item Info +++*/
div.bx-market-unit-cnt {
	text-align: left;
}
div.bx-market-unit-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}
div.bx-market-unit-icon-empty {
    background-color: #ffffff;
    text-align: center;
    line-height: 3rem;
    font-size: 32px;
    font-size: 2rem;
}
div.bx-market-unit-icon-empty .sys-icon {
    vertical-align: top;	
}
div.bx-market-unit-cover {
	background-color: #ffffff;
}
div.bx-market-unit-cover div.bx-base-text-unit-no-thumb {
	border-color: #f2f2f2;
}
div.bx-market-unit-cnt div.bx-market-unit-info {
	white-space: nowrap;
}
div.bx-market-unit-title {
	padding-top: 0.125rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
div.bx-market-unit-title-badges {
    display: flex;
}
.bx-market-ui-price {
	float: none;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.bx-market-fcell {
	position: relative;
	display: block;
}
.bx-market-fcell.fc-left {
	float: left;
}
.bx-market-fcell.fc-right {
    float: right;
}
.bx-market-fcell .bx-vote {
	margin: 0px;
}
	
/*--- Defaults ---*/
.bx-market-thumb-size {
    width: 148px;
    width: 9.25rem;
    height: 148px;
    height: 9.25rem;
    line-height: 148px;
    line-height: 9.25rem;
}
.bx-market-thumb-size-min-height {
    min-height: 148px;
    min-height: 9.25rem;
}
.bx-market-thumb-size-left-indent {
	margin-left: 164px;
	margin-left: 10.25rem;
}
.bx-market-screenshot-size {
    width: 200px;
    width: 12.5rem;
    height: 120px;
    height: 7.5rem;
    line-height: 120px;
    line-height: 7.5rem;
}
	
/*--- Attachments ---*/
div.bx-market-attachment {
	position: relative;
	display: none;
    width: calc(25% - 1.2rem);
}
div.bx-market-attachment.bx-market-attachment-main {
    display: block;
}
div.bx-market-a-main {
	position: absolute;
	top: 0.25rem;
	right: 0.5rem;
}
div.bx-market-a-text {
	overflow: hidden;
	text-overflow: ellipsis;
}
div.bx-market-a-text i.sys-icon{
    font-size: 2.5rem;
    float: left;
    margin-right: 1rem;
}
div.bx-market-attachment-separator{
    clear:both;
    width:100%;
}
div.bx-market-attachment-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2.7rem;
	width:calc(100% - 3rem);
}
div.bx-market-attachment-info{
	white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}