
/* uploader */
.bx-form-input-files-result .bx-uploader-ghost-reorder {
    float: left;
    margin-right: 0.5rem;
}
.bx-form-input-files-result.ui-sortable .bx-uploader-ghost-reorder {
    cursor: move;
}

.bx-uploader-ghost .bx-btn {
	float: none;
	display: inline-block;
	vertical-align: top; 
}

.bx-base-general-uploader-ghost input.bx-form-input-text,
.bx-base-general-uploader-ghost select.bx-form-input-select {
    width:18.75rem;
}

.bx-base-general-use-as-thumb input,
.bx-base-general-use-as-thumb label {
    vertical-align:middle;
}
