
/* view entry */
.bx-base-general-entity-info > p:first-child {
    margin-top:0;
}

.bx-base-general-entity-share .bx-base-general-comments,
.bx-base-general-entity-share .bx-view,
.bx-base-general-entity-share .bx-vote,
.bx-base-general-entity-share .bx-score,
.bx-base-general-entity-share .bx-favorite,
.bx-base-general-entity-share .bx-feature,
.bx-base-general-entity-share .bx-report,
.bx-base-general-entity-share .bx-tl-repost,
.bx-base-general-entity-share .bx-menu-btns-hor.bx-menu-object-sys_social_sharing {
	position: relative;
	float: none;
	display: inline-block;
	vertical-align: top;
}

/* attachments */
.bx-base-general-attachments .bx-base-general-attachment video,
.bx-base-general-attachments .bx-base-general-attachment {
    width:18.75rem;
    height:12.5rem;
}

.bx-base-general-attachments {
    margin:-1px;
}
.bx-base-general-attachment {
    margin:1px;
}

/* comments item */
div.bx-base-general-comments div.bx-base-general-comments-element-holder,
div.bx-base-general-comments div.bx-base-general-comments-counter-holder {
    position: relative;
    float: left;
}
.bx-base-general-comments-element-holder
.bx-base-general-comments-counter-holder {
    line-height: 20px;
    line-height: 1.25rem;
}
.bx-base-general-comments-button .bx-base-general-comments-element-holder,
.bx-base-general-comments-button .bx-base-general-comments-counter-holder {
    line-height: 36px;
    line-height: 2.2rem;
}
.bx-base-general-comments-button .bx-base-general-comments-counter-holder {
    font-size: 1.5rem;
}
.bx-base-general-comments-link .bx-base-general-comments-counter-holder.bx-btn-border {
    border-width: 0px;
}

/* unit */
.bx-def-unit-live-search {
    width:236px;
    width:14.75;
    overflow:hidden;
}

.bx-def-unit-live-search .bx-def-unit-info {
    width:188px;
    width:11.75;
}

.bx-def-unit-live-search .bx-def-unit-img {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

/* unit meta */
.bx-base-general-unit-meta {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-hor > li > span {
	margin-right: 0;
}
.bx-base-general-unit-meta ul.bx-menu-custom li:first-child .bx-base-general-unit-meta-div {
    display: none;
}

.bx-base-general-unit-meta ul.bx-menu-custom li .bx-base-general-unit-meta-item,
.bx-base-general-unit-meta ul.bx-menu-custom li .bx-base-general-unit-meta-div,
.bx-base-general-unit-meta ul.bx-menu-custom li .bx-btn,
.bx-base-general-unit-meta ul.bx-menu-custom li .bx-vote.bx-vote-stars {
    position: relative;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.bx-base-general-unit-meta ul.bx-menu-custom li .bx-vote.bx-vote-stars {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bx-base-general-unit-meta ul.bx-menu-custom li .bx-metatags-keyword {
    margin: 0px;
    line-height: normal;
}