
/* view entry */
.bx-base-general-entity-info > p:first-child {
    margin-top:0;
}

.bx-base-general-entity-share .bx-view,
.bx-base-general-entity-share .bx-vote,
.bx-base-general-entity-share .bx-favorite,
.bx-base-general-entity-share .bx-report,
.bx-base-general-entity-share .bx-tl-repost,
.bx-base-general-entity-share .bx-social-sharing,
.bx-base-general-entity-share .bx-menu-btns-hor.bx-menu-object-sys_social_sharing {
	position: relative;
	float: left;
}


/* unit */
.bx-def-unit-live-search {
    width:236px;
    width:14.75;
    overflow:hidden;
}

.bx-def-unit-live-search .bx-def-unit-info {
    width:188px;
    width:11.75;
}

.bx-def-unit-live-search .bx-def-unit-img {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}
