/*--- General ---*/
div.bx-grid-header div.bx-form-element-wrapper {
    position: relative;
    float: left;
    width: 165px;
}

/*--- Administration tools ---*/
div.bx-grid-header div#bx-form-element-filter1,
div.bx-grid-header div#bx-form-element-filter2
{
    margin-right: 20px;
}
div.bx-grid-header div#bx-form-element-filter1,
div.bx-grid-header div#bx-form-element-filter2,
div.bx-grid-header div#bx-form-element-search {
    margin-top: 0px;
}