/*--- General ---*/
div.bx-grid-header div.bx-form-element-wrapper {
    position: relative;
    float: left;
    width: 165px;
}

/*--- Administration tools ---*/
div.bx-grid-header div.bx-form-element-wrapper {
    margin-right: 0.5rem;
}
div.bx-grid-header div.bx-form-element-wrapper:last-child {
    margin-right: 0;
}
div.bx-grid-header div#bx-form-element-filter1,
div.bx-grid-header div#bx-form-element-filter2,
div.bx-grid-header div#bx-form-element-search {
    margin-top: 0px;
}