<div class="__class__  bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size p-2">
    <div class="bx-market-unit-gallery-cnt bx-def-box bx-def-box-round-corners bx-def-color-bg-box">
        <!-- Author section -->
        <bx_if:show_section_author>
            <div class="bx-market-unit-cnt p-4">
                <div class="bx-market-unit-author flex items-center">
                    <div class="bx-market-unit-author-avatar bx-def-thumb bx-def-thumb-size">__author_unit__</div>
                    <div class="bx-market-unit-author-info flex-1 pl-4">
                        <div class="bx-market-unit-author-name bx-def-font-middle bx-def-font-light">__author_width_date__</div>
                    </div>
                    <div class="bx-market-unit-actions">__actions__</div>
                </div>
            </div>
        </bx_if:show_section_author>

        <!-- Main section -->
        <div class="bx-market-unit-cnt bx-market-unit-cover">
            <bx_if:show_cover>
                <a href="__content_url__" title="__summary_attr__">
                    <div class="bx-base-text-unit-thumb bx-def-gal-div-size bx-def-font-middle bg-cover bg-center bg-no-repeat" style="background-image:url(__cover_url__)">
                        <div class="bx-base-text-unit-strecher">__strecher__</div>
                    </div>
                </a>
            </bx_if:show_cover>
            <bx_if:show_cover_empty>
            <div class="bx-base-text-unit-no-thumb bx-def-gal-div-size p-4 box-border bx-def-font-middle bx-def-font-grayed">
                __summary_plain__
                <div class="bx-base-text-unit-strecher">__strecher__</div>
            </div>
            </bx_if:show_cover_empty>
        </div>
        <div class="bx-market-unit-cnt p-4">
            <div class="bx-market-unit-info flex items-center">
                <div class="bx-market-unit-icon bx-def-thumb-size bx-def-round-corners">
                    <a href="__content_url__"> 
                        <bx_if:show_icon>
                            <img class="bx-market-unit-icon bx-def-thumb-size bx-def-round-corners" src="__icon_url__" />
                        </bx_if:show_icon>
                        <bx_if:show_icon_empty>
                        <div class="bx-market-unit-icon-empty bx-def-thumb-size flex justify-center items-center bg-gray-100 dark:bg-gray-700 rounded-md">
                            <i class="sys-icon __icon__"></i>
                        </div>
                        </bx_if:show_icon_empty>
                    </a>
                </div>
                <div class="bx-market-unit-title ml-4 first:ml-0">
                    <div class="bx-market-unit-title-badges">
                        <a class=" bx-def-font-h3" href="__content_url__" title="__title_attr__">__title__</a> 
                        __badges__
                    </div>
                    <bx_if:meta><div class="bx-base-general-unit-meta">__meta__</div></bx_if:meta>
                </div>
            </div>
        </div>

        <!-- Pricing section -->
        <bx_if:show_section_pricing>
            <div class="bx-market-unit-cnt px-4 pb-4">
                <div class="text-center">
                    <bx_if:show_single>
                        <a class="bx-market-ui-price bx-btn bx-btn-small bx-def-margin-sec-top-auto" href="javascript:void(0)" onclick="javascript:__price_single_onclick__">__price_single__</a>
                    </bx_if:show_single>
                    <bx_if:show_recurring>
                        <a class="bx-market-ui-price bx-btn bx-btn-small bx-def-margin-sec-top-auto" href="javascript:void(0)" onclick="javascript:__price_recurring_onclick__">__price_recurring__</a>
                    </bx_if:show_recurring>
                    <bx_if:show_free>
                        <a class="bx-market-ui-price bx-btn bx-btn-small bx-def-margin-sec-top-auto" href="__price_free_href__"><bx_text:_bx_market_txt_get_for_free /></a>
                    </bx_if:show_free>
                </div>
            </div>
        </bx_if:show_section_pricing>

        <!-- Voting section -->
        <bx_if:show_section_voting>
            <div class="bx-market-unit-cnt flex justify-between items-center px-4 pb-4">
                <div class="bx-market-fcell fc-left">__voting__</div>
                <div class="bx-market-fcell fc-right bx-def-font-bold">__pricing__</div>
            </div>
        </bx_if:show_section_voting>
    </div>
</div>