/*--
import url(../../../../../../../template/css/cmts.css);
--*/

/*--- Minified Post Form ---*/
div.cmt-reply.cmt-reply-min div.cmt-body {
    display: none;
}

/*--- Add Comment/Reply Form Styles ---*/
form.cmt-post-reply div#bx-form-element-cmt_image,
form.cmt-post-reply .bx-form-input-files-uploaders {
    margin-top: 0px;
}

a.cmts-uploader-button {
    position: absolute;
    z-index: 1;
    right: 0px;
}

/*--- Comment Body ---*/
div.cmt-cont .cmt-post-reply .bx-form-element-wrapper {
    margin-top: 0.5rem;
}

/*--- Menu action ---*/
.bx-menu-object-sys_cmts_item_manage .bx-report .sys-action-element-holder{
    padding: 0px !important;
}
.bx-menu-object-sys_cmts_item_manage span.bx-def-margin-thd-topbottom,
.bx-menu-object-sys_cmts_item_manage .bx-report-element-holder,
.bx-menu-object-sys_cmts_item_manage .sys-action.bx-report{
    margin: 0px !important;
    width:100%;
    display: block;
}
.bx-menu-object-sys_cmts_item_manage .sys-icon,
.bx-menu-object-sys_cmts_item_actions .sys-icon{
    width: 1.25rem;
    display: inline-block;
    height: 1.25rem;
    text-align: center;
}
.bx-menu-object-sys_cmts_item_manage a {
    width:100%;
    display: block;
}
