@import url(../../../../../../../template/css/common.css);

/*--- Buttons ---*/
.bx-btn {
    float: none;
    
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    height: 2.0rem;
    line-height: 2.0rem;
}

/*--- Popup boxes ---*/
body > .bx-popup-wrapper {
    overflow: visible;
}
