/*
import url(../../../../../../../template/css/common.css);
*/

/*--- General ---*/
.bx-clear {
    clear:both;
    float:none;
    display:block;
    width: 0px;
    height: 0px;
    font-size:1px;
}

.bx-clearfix:before,
.bx-clearfix:after {
    content:"";
    display:table;
}
.bx-clearfix:after {
    clear:both;
}


/*--- Buttons ---*/
.bx-btn {
    float: none;
    
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    height: 2.0rem;
    line-height: 2.0rem;
}

/*--- Popup boxes ---*/
body > .bx-popup-wrapper {
    overflow: visible;
}

.bx-popup-width {
    width: 31.25rem;
}
