/*
import url(../../../../../../../template/css/common.css);
*/

/*--- General ---*/
.bx-clear {
    clear:both;
    float:none;
    display:block;
    width: 0px;
    height: 0px;
    font-size:1px;
}

.bx-clearfix:before,
.bx-clearfix:after {
    content:"";
    display:table;
}
.bx-clearfix:after {
    clear:both;
}


/*--- Design Boxes ---*/
.bx-db-container {
    position:relative;
}
.bx-db-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.bx-db-container.bx-dbc-nopadding .bx-db-header {
    padding-left: 0;
    padding-right: 0;
}
.bx-db-container.bx-dbc-nobg .bx-db-divider {
    display: none;
}
.bx-db-title {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    line-height: 1.5;
    font-size: 1.0rem;
    font-weight: 600;
}

.bx-db-menu {
    -webkit-flex: 1 2 auto;
    -ms-flex: 1 2 auto;
    flex: 1 2 auto;

    max-width: 75%;
}

.bx-media-phone .bx-db-menu {
    max-width: 65%;
}

.bx-db-menu-tab {
    margin-left: 5px;
    text-align: right;
}

.bx-db-menu-tab-active {
    text-decoration:underline;
}

.bx-db-menu-tab-btn a {
    text-decoration:none;
}

.bx-db-menu-tab-btn ul > li {
    display: flex;
}

.bx-db-menu .sys-icon-a {
    vertical-align:middle;
}

.bx-db-menu-popup {
    text-align: left;
}

.bx-db-help-popup {
    max-width: 25rem;
    max-height: 25rem;
    overflow: auto;
}

/*--- Design Boxes Menu ---*/
.bx-db-menu ul li {
    border-radius: 0;

    white-space: nowrap;
}
.bx-db-menu ul.bx-menu-hor,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto:not(.bx-menu-submenu-more-auto) {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.bx-db-menu ul.bx-menu-hor > li,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor > li {
    display: block;

    -webkit-flex: 0 1 auto; 
    -ms-flex:  0 1 auto; 
    flex:  0 1 auto;

    padding: 0 0.25rem;

    border-bottom: 1px solid transparent;
}
.bx-db-menu .bx-menu-custom.bx-menu-custom-hor > li > span {
    display: block;

    margin: 0;
    padding: 0;
}
.bx-db-menu ul.bx-menu-hor > li a.bx-btn,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor > li a.bx-btn {
    display: inline-block;
    float: none;
}
.bx-db-menu ul.bx-menu-hor > li a > span,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor > li a > span {
    vertical-align: middle;
}
.bx-db-menu ul > li:not(.bx-menu-item-more-auto) a .bx-mi-icon {
    display: none;
}
.bx-db-menu ul.bx-menu-submenu-more-auto {
    line-height: normal;
}
.bx-db-menu ul li:not(.bx-menu-item-more-auto) a span,
.bx-db-menu .bx-menu-item-more-popup ul.bx-menu-custom.bx-menu-submenu-more-auto li:not(.bx-menu-item-more-auto) a span,
.bx-db-menu .bx-popup .bx-db-menu-popup ul.bx-menu-custom.bx-menu-custom-ver li a > span,
.bx-db-menu .bx-popup .bx-db-menu-popup ul.bx-menu-ver li a > div > span {
    margin: 0;
}
.bx-db-menu ul.bx-menu-hor li.bx-menu-tab-active,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor li.bx-menu-tab-active {
    border-bottom: 0;
}
.bx-db-menu ul.bx-menu-custom-ver li.bx-menu-item-more-auto {
    display: none;
}


/*--- Popup boxes ---*/
html.bx-popup-lock,
body.bx-popup-lock {
    overflow: hidden;
}

.bx-popup-transitions {
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.bx-popup-inactive {
    -webkit-opacity: 0;
    opacity: 0;

    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}

.bx-popup-active {
    max-height:100%;
    overflow-y:auto;

    -webkit-opacity: 1;
    opacity: 1;

    -webkit-transform: scale(1);
    transform: scale(1);

    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.bx-popup-fog {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
}
.bx-popup-menu .bx-popup-close-wrapper {
    display: none;
}
.bx-popup-menu .bx-popup-content {
    width: 14rem;
}
.bx-popup-menu .bx-popup-content-indent {
    padding: 0px !important;
}
.bx-popup-menu ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/*--- Loading indicator ---*/
.bx-loading-ajax {
    position: absolute;
    width: 6rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;

    background-color: transparent;

    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;

    text-align: center;
    color: #CCCCCC;
}
.bx-loading-ajax.static {
    position: static;
}
.bx-loading-ajax-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;

    min-width: 2.0rem;

    margin-left: 0.25rem;
}

button.bx-btn:focus,
button.bx-btn:focus .bx-loading-ajax-btn {
    outline: 0;	
}