/*--
import url(../../../../../../../template/css/cover.css);
--*/

.bx-cover-wrapper {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}