/*--
import url(../../../../../../../template/css/cover.css);
--*/

.bx-cover-wrapper {
    position: relative;
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}