/*--
import url(../../../../../../../template/css/general.css);
--*/


/*--- Toolbar ---*/
.bx-toolbar-item.bx-ti-search .bx-form-advanced .bx-loading-ajax {
    top: 0;
    max-height: 100%;
}
.bx-toolbar-item.bx-ti-search .bx-form-advanced-wrapper .bx-form-section-wrapper:first-child {
    margin-top: 0;
}
.bx-toolbar-item.bx-ti-search .sys-search-results-quick {
    position: absolute;
    z-index: 10;
}


/*--- Page Submenu ---*/
.bx-menu-main-bar-cnt {
    height: 3.25rem;
}

.bx-menu-main-bar-gap.bx-menu-main-bar-hidden,
.bx-menu-main-bar-wrapper.bx-menu-main-bar-hidden,
.bx-menu-main-bar.bx-menu-main-bar-hidden {
    display: none;
}


/*--- Profile Avatar ---*/
#bx-profile-switcher .bx-pas-list .bx-def-hr:first-child {
    display: none;
}

/*--- Profile Stats ---*/
.bx-menu-profile-stats li.bx-psmi-show-more:hover {
    background-color: transparent;
}
.bx-menu-profile-stats li.bx-psmi-show-more .bx-menu-item-icon {
    display: none;
}


/*--- Author Info ---*/
.sys-author-profile .bx-menu-custom.bx-menu-custom-hor > li:first-child .bx-base-general-unit-meta-div {
    display: none;
}

/*--- Join/Login Forms ---*/
#sys_account .bx-form-element .bx-form-input-submit.bx-btn,
#sys-form-login .bx-form-element .bx-form-input-submit.bx-btn {
    width: 100%;
    text-align: center;
}
#bx-form-element-submit_text .bx-form-value {
    text-align: right;
}

/*--- Page Type: Application ---*/
.bx-menu-panel-item .bx-profile-avatar .bx-profile-avatar-cnt {
    min-height: 2rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.bx-menu-panel-item .bx-profile-avatar .bx-base-pofile-unit-wo-info,
.bx-menu-panel-item .bx-profile-avatar .bx-def-unit-img,
.bx-menu-panel-item .bx-profile-avatar .bx-def-thumb-size {
    width: 2rem;
    height: 2rem;
}