/*--
import url(../../../../../../../template/css/general.css);
--*/


/*--- Toolbar ---*/
.bx-toolbar-anim {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}
.bx-toolbar-reset {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}
.bx-toolbar-up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}
.bx-toolbar-item.bx-ti-logo a:hover {
    text-decoration: none;
}
.bx-toolbar-item.bx-ti-logo .bx-logo-inline svg {
    max-height: 100%;
    width: auto;
}
.bx-toolbar-item.bx-ti-search .bx-ti-search-button a {
    text-decoration: none;
}
.bx-toolbar-item.bx-ti-search .bx-ti-search-button img {
    width: 1.5rem;
    height: 1.5rem;
}
.bx-toolbar-item.bx-ti-search .bx-tis-button-hidden {
    display: none;
}
.bx-toolbar-item.bx-ti-search .bx-tis-box-shown {
    position: absolute;
    display: block;
}
.bx-toolbar-item.bx-ti-search .bx-form-advanced .bx-loading-ajax {
    top: 0;
    max-height: 100%;
}
.bx-toolbar-item.bx-ti-search .bx-form-advanced-wrapper .bx-form-section-wrapper:first-child {
    margin-top: 0;
}
.bx-toolbar-item.bx-ti-search .sys-search-results-quick {
    position: absolute;
    z-index: 10;
}
.bx-toolbar-item.bx-ti-search .sys-search-results-quick .bx-btn.sys-agents-ask {
    margin-bottom: 0.5rem;
}
.bx-toolbar-item.bx-ti-search .sys-search-results-quick .bx-btn.sys-agents-ask:last-child {
    margin-bottom: 0;
}
#bx_agents_assistants_ask .bx-popup.bx-popup-width {
    width: 42rem;
}
.bx-agents-popup .cmts {
    max-height: calc(0.5 * 100vh);
    overflow-y: auto;
}
.bx-agents-popup .cmt-reply {
    margin-bottom: 0;
}
.bx-agents-popup .bx-form-section-content {
    display: flex;
}
.bx-agents-popup .bx-form-section-content > .bx-form-element-wrapper:first-child {
    flex: 1 1 auto;
}
.bx-agents-popup .bx-form-section-content > .bx-form-element-wrapper:last-child {
    flex: 0 0 auto;
    margin: 0 0 0 1rem;
}
.bx-agents-popup .bx-form-value .bx-form-input-textarea {
    height: 2.5rem;
    line-height: 1.25rem;
}
.bx-agents-popup .bx-form-value .bx-btn i {
    height: 1.375rem;
    line-height: 1.375rem;
}


/*--- Page Content with Cover ---*/
#bx-content-with-cover-wrapper {
    opacity: 1;
    transition: opacity 400ms ease-out;
}
#bx-content-with-cover-wrapper.htmx-added {
    opacity: 0;
}


/*--- Page Submenu ---*/
.bx-menu-main-bar-cnt {
    height: 3.25rem;
}

.bx-menu-main-bar:not(.bx-menu-more-auto) .bx-menu-main-bar-cnt > div {
    overflow-x: auto;
}

.bx-menu-main-bar-gap.bx-menu-main-bar-hidden,
.bx-menu-main-bar-wrapper.bx-menu-main-bar-hidden,
.bx-menu-main-bar.bx-menu-main-bar-hidden {
    display: none;
}


/*--- Page Content ---*/
#bx-content-wrapper.htmx-added {
    opacity: 0;
}

#bx-content-wrapper.ltr.htmx-swapping:not(.htmx-added) {
    opacity: 0;
    transition: opacity 400ms ease-out;
    animation: slide-to-right 400ms cubic-bezier(0.37, 0.82, 0.2, 1);
}
#bx-content-wrapper.ltr.htmx-settling {
    opacity: 1;
    animation: slide-from-left 400ms cubic-bezier(0.37, 0.82, 0.2, 1);
}

#bx-content-wrapper.rtl.htmx-swapping:not(.htmx-added) {
    opacity: 0;
    transition: opacity 400ms ease-out;
    animation: slide-to-left 400ms cubic-bezier(0.37, 0.82, 0.2, 1);
}
#bx-content-wrapper.rtl.htmx-settling {
    opacity: 1;
    animation: slide-from-right 400ms cubic-bezier(0.37, 0.82, 0.2, 1);
}

@keyframes slide-from-right {
    from { transform: translateX(100%); }
}
@keyframes slide-to-right {
    to { transform: translateX(100%); }
}
@keyframes slide-from-left {
    from { transform: translateX(-100%); }
}
@keyframes slide-to-left {
    to { transform: translateX(-100%); }
}


/*--- Profile Avatar ---*/
.bx-db-content.bx-content-padding-block .bx-profile-avatar-cnt {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
#bx-profile-switcher .bx-pas-list .bx-def-hr:first-child {
    display: none;
}

/*--- Profile Stats ---*/
.bx-menu-vertical-more-less li.bx-psmi-show-more,
.bx-menu-vertical-more-less li.bx-psmi-show-less {
    text-transform: uppercase;
    font-size: 0.875rem;
}

.bx-menu-vertical-more-less li.bx-psmi-show-more:hover,
.bx-menu-vertical-more-less li.bx-psmi-show-less:hover {
    background-color: transparent;
}

/*--- Author Info ---*/
.sys-author-profile .bx-menu-custom.bx-menu-custom-hor > li:first-child .bx-base-general-unit-meta-div {
    display: none;
}

/*--- Join/Login Forms ---*/
#sys_account .bx-form-element .bx-form-input-submit.bx-btn,
#sys-form-login .bx-form-element .bx-form-input-submit.bx-btn {
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}
#bx-form-element-submit_text .bx-form-value {
    text-align: right;
}

/*--- Page Type: Application ---*/
.bx-menu-panel-item .bx-profile-avatar .bx-profile-avatar-cnt {
    min-height: 2.5rem;
}

/*--- Create Post Form ---*/
.sys-cpf-form:not(.sys-cpf-loading) {
    -webkit-animation: sys-cpf-scale-in 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
    animation: sys-cpf-scale-in 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
}

@keyframes sys-cpf-scale-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

@-webkit-keyframes sys-cpf-scale-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

/* --------------- System objects like Views, Votes, Comments, etc, */
.sys-action-counter.sys-ac-hidden {
    display: none;
}
.sys-action-counter.sys-action-counter-iconset .sys-ac-link {
    padding-left: 0.75rem;
}
.bx-media-phone .sys-action-counter.sys-action-counter-iconset .sys-ac-link,
.bx-media-tablet .bx-layout-column-thin .sys-action-counter.sys-action-counter-iconset .sys-ac-link,
.bx-media-tablet .bx-layout-column-half .sys-action-counter.sys-action-counter-iconset .sys-ac-link {
    padding-left: 1.0rem;
}
.sys-action-counter.sys-action-counter-iconset .bx-def-icon-size {
    width: 1.5rem;
    height: 1.5rem;
}
.sys-action-counter.sys-action-counter-iconset .bx-base-pofile-unit-wo-info,
.sys-action-counter.sys-action-counter-iconset .sys-action-counter-icon {
    margin-left: -0.5rem;
}
.bx-media-phone .sys-action-counter.sys-action-counter-iconset .bx-base-pofile-unit-wo-info,
.bx-media-phone .sys-action-counter.sys-action-counter-iconset .sys-action-counter-icon,
.bx-media-tablet .bx-layout-column-thin .sys-action-counter.sys-action-counter-iconset .bx-base-pofile-unit-wo-info,
.bx-media-tablet .bx-layout-column-thin .sys-action-counter.sys-action-counter-iconset .sys-action-counter-icon,
.bx-media-tablet .bx-layout-column-half .sys-action-counter.sys-action-counter-iconset .bx-base-pofile-unit-wo-info,
.bx-media-tablet .bx-layout-column-half .sys-action-counter.sys-action-counter-iconset .sys-action-counter-icon {
    margin-left: -0.75rem;
}