@import url(../../../../../../../template/css/label.css);


/*-- Labels Form Field --*/
.sys-labels .bx-form-input-text.bx-form-input-autotoken {
    min-height: 2.375rem;
}

.bx-form-value .sys-labels .bx-form-input-autotoken.bx-form-input-labels {
    padding: 0.125rem 0;
}
.bx-form-value .bx-form-input-labels > a {
    margin-left: 0.5rem;
}
.bx-form-value .bx-form-input-labels > a:first-child {
    margin-left: 0;
}