/*--
import url(../../../../../../../template/css/menu.css);
--*/

ul.bx-menu-hor,
ul.bx-menu-custom-hor,
ul.bx-menu-notif,
ul.bx-menu-verlit,
ul.bx-menu-ver,
ul.bx-menu-custom-ver,
ul.bx-menu-main,
ul.bx-menu-main-submenu,
ul.bx-menu-toolbar,
ul.bx-menu-floating-blocks-wide,
ul.bx-menu-floating-blocks-big,
ul.bx-menu-floating-blocks-dash,
ul.bx-menu-floating-blocks,
ul.bx-menu-inter,
ul.bx-menu-inter-vert,
ul.bx-menu-btns-ver,
ul.bx-menu-btns-hor,
ul.bx-menu-btns-icon-hor {
    padding: 0;
    margin: 0;
    list-style: none;
}

li.bx-mi-aux {}
li.bx-mi-hidden {
    display: none;
}

/* --- Vertical, Vertical lite, Custom Vertical Menus ---*/
.bx-menu-ver li,
.bx-menu-verlit li,
.bx-menu-custom-ver li {
    margin-top: 1px;
}
.bx-menu-ver li:first-child,
.bx-menu-verlit li:first-child,
.bx-menu-custom-ver li:first-child {
    margin-top: 0px;
}

/*--- Vertical, Vertical lite, Custom Vertical Menus (in Popup) ---*/
.bx-popup .bx-menu-custom-ver li > span {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    padding-right: 1.0rem;
}

/* --- Horizontal, Custom Horizontal Menus --- */
.bx-menu-custom .bx-menu-item.bx-menu-item-more-auto .bx-popup .bx-menu-custom .bx-menu-item,
.bx-menu-custom .bx-menu-item.bx-menu-item-more-auto .bx-popup .bx-menu-custom .bx-menu-item a,
.bx-menu-custom .bx-menu-item.bx-menu-item-more-auto .bx-popup .bx-menu-custom .bx-menu-item > span {
    border-radius: 0;
}

/*--- Interactive Menu ---*/
.bx-menu-inter li.bx-menu-inter-hidden,
.bx-menu-inter-vert li.bx-menu-inter-hidden {
    display: none;
}

/*--- Custom Menu with More Auto ---*/
.bx-menu-main-submenu.bx-menu-more-auto .bx-menu-item.bx-menu-item-more-auto,
.bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto .bx-menu-item.bx-menu-item-more-auto {
    display: none;
}
.bx-menu-more-auto .bx-menu-item.bx-menu-item-more-auto .bx-popup .bx-menu-item a.p-2,
.bx-menu-more-auto .bx-menu-item.bx-menu-item-more-auto .bx-popup .bx-menu-item a.px-2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*--- Page Main menu ---*/
.bx-menu-main .bx-menu-item.bx-menu-item-more-auto .bx-popup .bx-menu-custom .bx-menu-item,
.bx-menu-main .bx-menu-item.bx-menu-item-more-auto .bx-popup .bx-menu-custom .bx-menu-item a {
    border-radius: 0;
}

/*--- Page Submenu ---*/
.bx-menu-main-submenu {
    -webkit-justify-content: center;
    justify-content: center;
}
.bx-menu-main-submenu .bx-menu-item.bx-menu-item-more-auto .bx-popup .bx-menu-custom .bx-menu-item > a {
    width: 100%;
    padding: 0.5rem 1.0rem; 
    text-align: left;
}
.bx-menu-main-submenu .bx-menu-item.bx-menu-item-more-auto .bx-popup .bx-menu-custom .bx-menu-item .bx-mi-underline {
    display: none;
}

/*--- Toolbar Menu ---*/
.bx-menu-toolbar .bx-menu-toolbar-item .bx-menu-item-addon {
    position: absolute;
    top: -0.375rem;
    right: -0.375rem;
    padding: 0 0.25rem;
}
.bx-menu-toolbar .bx-menu-toolbar-item .bx-menu-toolbar-item-unit .bx-base-pofile-unit-online {
    display: none;
}

/*--- Account Popup ---*/
#bx-sliding-menu-account .bx-menu-account-popup .bx-menu-item-addon.bx-def-unit-alert {
    position: relative;
    padding: 0 0.25rem;
}
#bx-sliding-menu-account .bx-menu-account-popup-profile-switcher-link {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

/*--- Add Popup ---*/
div.bx-popup-menu-main.sys-add-content ul {
    flex-direction: column;
}

/*--- Profile Followings Menu ---*/
.bx-menu-ver.bx-menu-object-sys_profile_followings li .bx-menu-show {
    display: none;
}
.bx-menu-ver.bx-menu-object-sys_profile_followings li .bx-menu-hide {
    display: inline;
}
.bx-menu-ver.bx-menu-object-sys_profile_followings li.bx-menu-item-collapsed .bx-menu-show {
    display: inline;
}
.bx-menu-ver.bx-menu-object-sys_profile_followings li.bx-menu-item-collapsed .bx-menu-hide {
    display: none;
}
.bx-menu-ver.bx-menu-object-sys_profile_followings li.bx-menu-item-collapsed .bx-menu-item-subitems {
    display: none;
}

/*--- Profiles meta menu ---*/
.sys-action-counter-icon .sys-icon{
    width: 1rem;
    height: 1rem;
    font-size: 0.75rem;
    line-height: 1.1rem;
    text-align: center;
}
.sys-action-counter-icon .sys-icon.sys-icon-emoji{
    line-height: 1rem;
}
.sys-action-counter-iconset .bx-def-icon-size{
    width: 1.5rem;
    height: 1.5rem;
}
p.bx-base-pofile-unit-thumb.bx-def-icon-size{
    border:1px solid #fff;    
}

.sys-action-counter-iconset .bx-base-pofile-unit-wo-info,
.sys-action-counter-iconset .sys-action-counter-icon
{
    margin-left: -.25rem;
}