/*--- Reset ---*/
.cd-dropdown *, 
.cd-dropdown *::after, 
.cd-dropdown *::before {
  box-sizing: border-box;
}
.cd-dropdown ol,
.cd-dropdown li {
    margin: 0;
    padding: 0;
    border: 0;
}
.cd-dropdown li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.cd-dropdown li.bx-menu-item-cd-more-auto {
    display: none;
}

/*--- Main Components ---*/
.cd-dropdown .cd-dropdown-content a,
.cd-dropdown .cd-dropdown-content ul a {
  height: 3.5rem;
  line-height: 3.5rem;
}

.cd-dropdown .cd-dropdown-content a,
.cd-dropdown .cd-dropdown-content ul a,
.cd-dropdown .cd-dropdown-content .cd-divider {
  padding: 0 20px;
}

.cd-dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  visibility: hidden;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s;
}
.cd-dropdown .cd-dropdown-title {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.cd-dropdown.dropdown-is-active {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
  transition: transform 0.5s 0s, visibility 0s 0s;
}

/* 
 * Note: Currently this menu 
 * isn't used on Desktop view
 */
.bx-media-tablet .cd-dropdown,
.bx-media-desktop .cd-dropdown {
    display: none;
}

.cd-dropdown .cd-dropdown-content, 
.cd-dropdown .cd-dropdown-content ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  list-style: none;
}

.cd-dropdown .cd-dropdown-content li > a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.cd-dropdown .cd-dropdown-content a, 
.cd-dropdown .cd-dropdown-content ul a {
  display: block;
  
  border-top-width: 1px;
  border-color: rgba(255,255,255,0.1);
  border-style: solid;

  /* truncate text with ellipsis if too long */
  text-overflow: ellipsis;
  overflow: hidden;

  white-space: nowrap;
}

.cd-dropdown .cd-dropdown-content a .sys-icon, 
.cd-dropdown .cd-dropdown-content ul a .sys-icon,
.cd-dropdown .cd-dropdown-content a img:not(.bx-def-thumb), 
.cd-dropdown .cd-dropdown-content ul a img:not(.bx-def-thumb) {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.625rem;
}

.cd-dropdown .cd-dropdown-content a .sys-icon, 
.cd-dropdown .cd-dropdown-content ul a .sys-icon {
	line-height: 1.5rem;
	text-align: center;
}

.cd-dropdown .cd-dropdown-content a img:not(.bx-def-thumb), 
.cd-dropdown .cd-dropdown-content ul a img:not(.bx-def-thumb) {
	background-repeat: no-repeat;
	background-position: center center;
}

.cd-dropdown .cd-dropdown-content li:first-of-type > a, 
.cd-dropdown .cd-dropdown-content ul li:first-of-type > a {
  border-top-width: 0;
}
.cd-dropdown .cd-dropdown-content li:last-of-type > a, 
.cd-dropdown .cd-dropdown-content ul li:last-of-type > a {
  border-bottom-width: 1px;
}
.cd-dropdown .cd-dropdown-content .cd-divider, 
.cd-dropdown .cd-dropdown-content ul .cd-divider {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  background-color: rgba(2, 33, 45, 1.0);
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.cd-dropdown .cd-dropdown-content .cd-divider + li > a, 
.cd-dropdown .cd-dropdown-content ul .cd-divider + li > a {
  border-top-width: 0;
}
.cd-dropdown .cd-dropdown-content a, 
.cd-dropdown .cd-dropdown-content .bx-lcd-mdd-search, 
.cd-dropdown .cd-dropdown-content .bx-lcd-login,
.cd-dropdown .cd-dropdown-content .bx-lcd-mdd-profile,
.cd-dropdown .cd-dropdown-content .cd-divider, 
.cd-dropdown .cd-dropdown-content ul a, 
.cd-dropdown .cd-dropdown-content ul .bx-lcd-mdd-search, 
.cd-dropdown .cd-dropdown-content ul .bx-lcd-login,
.cd-dropdown .cd-dropdown-content ul .bx-lcd-mdd-profile,
.cd-dropdown .cd-dropdown-content ul .cd-divider {
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.cd-dropdown .cd-dropdown-content.is-hidden, 
.cd-dropdown .cd-dropdown-content ul.is-hidden {
  /* push the secondary dropdown items to the right */
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-dropdown .cd-dropdown-content.is-hidden > li > a, 
.cd-dropdown .cd-dropdown-content.is-hidden > li > .bx-lcd-login,
.cd-dropdown .cd-dropdown-content.is-hidden > .bx-lcd-mdd-search, 
.cd-dropdown .cd-dropdown-content.is-hidden > .bx-lcd-mdd-profile,  
.cd-dropdown .cd-dropdown-content.is-hidden > .cd-divider, 
.cd-dropdown .cd-dropdown-content.move-out > li > a, 
.cd-dropdown .cd-dropdown-content.move-out > li > .bx-lcd-login,
.cd-dropdown .cd-dropdown-content.move-out > .bx-lcd-mdd-search, 
.cd-dropdown .cd-dropdown-content.move-out > .bx-lcd-mdd-profile,  
.cd-dropdown .cd-dropdown-content.move-out > .cd-divider, 
.cd-dropdown .cd-dropdown-content ul.is-hidden > li > a, 
.cd-dropdown .cd-dropdown-content ul.is-hidden > li > .bx-lcd-login,
.cd-dropdown .cd-dropdown-content ul.is-hidden > .bx-lcd-mdd-search,
.cd-dropdown .cd-dropdown-content ul.is-hidden > .bx-lcd-mdd-profile,
.cd-dropdown .cd-dropdown-content ul.is-hidden > .cd-divider, 
.cd-dropdown .cd-dropdown-content ul.move-out > li > a, 
.cd-dropdown .cd-dropdown-content ul.move-out > li > .bx-lcd-login,
.cd-dropdown .cd-dropdown-content ul.move-out > .bx-lcd-mdd-search, 
.cd-dropdown .cd-dropdown-content ul.move-out > .bx-lcd-mdd-profile,  
.cd-dropdown .cd-dropdown-content ul.move-out > .cd-divider {
  /* lower down the dropdown items opacity - when secondary dropdown slides in or for dropdown items hidden on the right */
  opacity: 0;
}
.cd-dropdown .cd-dropdown-content.move-out > li > a, 
.cd-dropdown .cd-dropdown-content.move-out > li > .bx-lcd-login,
.cd-dropdown .cd-dropdown-content.move-out > .bx-lcd-mdd-search,
.cd-dropdown .cd-dropdown-content.move-out > .bx-lcd-mdd-profile,
.cd-dropdown .cd-dropdown-content.move-out > .cd-divider, 
.cd-dropdown .cd-dropdown-content ul.move-out > li > a, 
.cd-dropdown .cd-dropdown-content ul.move-out > li > .bx-lcd-login,
.cd-dropdown .cd-dropdown-content ul.move-out > .bx-lcd-mdd-search,
.cd-dropdown .cd-dropdown-content ul.move-out > .bx-lcd-mdd-profile,
.cd-dropdown .cd-dropdown-content ul.move-out > .cd-divider {
  /* push the dropdown items to the left when secondary dropdown slides in */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.dropdown-is-active .cd-dropdown-content, 
.dropdown-is-active .cd-dropdown-content ul {
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
  .cd-dropdown .cd-dropdown-content, .cd-dropdown-content ul {
    padding-top: 60px;
  }
  .cd-dropdown .cd-dropdown-content a, .cd-dropdown-content ul a {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-dropdown .cd-dropdown-content, 
  .cd-dropdown .cd-dropdown-content ul {
    padding-top: 0;
    overflow: visible;
  }
  .cd-dropdown .cd-dropdown-content a, 
  .cd-dropdown .cd-dropdown-content ul a {
    color: #111433;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.5rem;
    border-color: #ebebeb;
  }
  .cd-dropdown .cd-dropdown-content .cd-divider, 
  .cd-dropdown .cd-dropdown-content ul .cd-divider {
    background-color: transparent;
    color: #b3b3b3;
    border-top: 1px solid #ebebeb;
  }
  .cd-dropdown .cd-dropdown-content .cd-divider + li > a, 
  .cd-dropdown .cd-dropdown-content ul .cd-divider + li > a {
    border-top-width: 1px;
  }
  .cd-dropdown .cd-dropdown-content.is-hidden > li > a, 
    .cd-dropdown .cd-dropdown-content.is-hidden > li > .bx-lcd-login,
  .cd-dropdown .cd-dropdown-content.is-hidden > .bx-lcd-mdd-search,
  .cd-dropdown .cd-dropdown-content.is-hidden > .bx-lcd-mdd-profile,
  .cd-dropdown .cd-dropdown-content.is-hidden > .cd-divider, 
  .cd-dropdown .cd-dropdown-content.move-out > li > a, 
    .cd-dropdown .cd-dropdown-content.move-out > li > .bx-lcd-login,
  .cd-dropdown .cd-dropdown-content.move-out > .bx-lcd-mdd-search,
  .cd-dropdown .cd-dropdown-content.move-out > .bx-lcd-mdd-profile,
  .cd-dropdown .cd-dropdown-content.move-out > .cd-divider, 
  .cd-dropdown .cd-dropdown-content ul.is-hidden > li > a, 
  .cd-dropdown .cd-dropdown-content ul.is-hidden > li > .bx-lcd-login,
  .cd-dropdown .cd-dropdown-content ul.is-hidden > .bx-lcd-mdd-search,
  .cd-dropdown .cd-dropdown-content ul.is-hidden > .bx-lcd-mdd-profile,
  .cd-dropdown .cd-dropdown-content ul.is-hidden > .cd-divider, 
  .cd-dropdown .cd-dropdown-content ul.move-out > li > a, 
  .cd-dropdown .cd-dropdown-content ul.move-out > li > .bx-lcd-login,
  .cd-dropdown .cd-dropdown-content ul.move-out > .bx-lcd-mdd-search,
  .cd-dropdown .cd-dropdown-content ul.move-out > .bx-lcd-mdd-profile,
  .cd-dropdown .cd-dropdown-content ul.move-out > .cd-divider {
    /* reset mobile style */
    opacity: 1;
  }
}

.cd-dropdown .cd-dropdown-content .see-all a {
  /* different style for the See all links */
  color: #3f8654;
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item, 
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
  /* items with picture (or icon) and title */
  height: 80px;
  line-height: 80px;
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item h3, 
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item h3 {
  /* truncate text with ellipsis if too long */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item {
  padding-left: 90px;
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-gallery img {
  position: absolute;
  display: block;
  height: 40px;
  width: auto;
  left: 20px;
  top: 50%;
  margin-top: -20px;
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
  padding-left: 75px;
  position: relative;
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
  color: #111433;
  font-size: 1.3rem;
  /* hide description on small devices */
  display: none;
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
  /* item icon */
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-1::before {
  background-image: url("../img/nucleo-icon-1.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-2::before {
  background-image: url("../img/nucleo-icon-2.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-3::before {
  background-image: url("../img/nucleo-icon-3.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-4::before {
  background-image: url("../img/nucleo-icon-4.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-5::before {
  background-image: url("../img/nucleo-icon-5.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-6::before {
  background-image: url("../img/nucleo-icon-6.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-7::before {
  background-image: url("../img/nucleo-icon-7.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-8::before {
  background-image: url("../img/nucleo-icon-8.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-9::before {
  background-image: url("../img/nucleo-icon-9.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-10::before {
  background-image: url("../img/nucleo-icon-10.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-11::before {
  background-image: url("../img/nucleo-icon-11.svg");
}
.cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item.item-12::before {
  background-image: url("../img/nucleo-icon-12.svg");
}
@media only screen and (min-width: 1024px) {
  .cd-dropdown .cd-dropdown-content {
    /* reset mobile style */
    position: static;
    height: auto;
    width: 280px;
  }
  .cd-dropdown .cd-dropdown-content > li:last-of-type a {
    border-bottom: none;
  }
  .no-touchevents .cd-dropdown .cd-dropdown-content > li:not(.has-children) a:hover {
    color: #3f8654;
  }
  .cd-dropdown .cd-dropdown-content.move-out > li > a, 
  .cd-dropdown .cd-dropdown-content.move-out > li > .bx-lcd-login,
  .cd-dropdown .cd-dropdown-content.move-out > .bx-lcd-mdd-search,
  .cd-dropdown .cd-dropdown-content.move-out > .bx-lcd-mdd-profile,
  .cd-dropdown .cd-dropdown-content.move-out > .cd-divider {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    left: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown::after, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery::after, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons::after {
    clear: both;
    content: "";
    display: table;
  }
  .open-to-left .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown, 
  .open-to-left .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery, 
  .open-to-left .cd-dropdown .cd-dropdown-content .cd-dropdown-icons {
    /* use the .open-to-left class if you want to open the dropdown on the left */
    left: auto;
    right: 100%;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown.is-hidden, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery.is-hidden, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons.is-hidden {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown.fade-in, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery.fade-in, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons.fade-in {
    /* animate secondary dropdown items when hovering over of of the .cd-dropdown-content list items */
    -webkit-animation: cd-fade-in 0.2s;
    -moz-animation: cd-fade-in 0.2s;
    animation: cd-fade-in 0.2s;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown.fade-out, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery.fade-out, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons.fade-out {
    /* animate secondary dropdown items when hovering over of of the .cd-dropdown-content list items */
    -webkit-animation: cd-fade-out 0.2s;
    -moz-animation: cd-fade-out 0.2s;
    animation: cd-fade-out 0.2s;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > .go-back, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery > .go-back, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons > .go-back {
    display: none;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > .see-all, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery > .see-all, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons > .see-all {
    position: absolute;
    bottom: 20px;
    height: 45px;
    text-align: center;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > .see-all a, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery > .see-all a, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons > .see-all a {
    margin: 0;
    height: 100%;
    line-height: 45px;
    background: #ebebeb;
    pointer-events: auto;
    -webkit-transition: color 0.2s, background-color 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
  }
  .no-touchevents .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > .see-all a:hover, 
  .no-touchevents .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery > .see-all a:hover, 
  .no-touchevents .cd-dropdown .cd-dropdown-content .cd-dropdown-icons > .see-all a:hover {
    color: #ffffff;
    background-color: #111433;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown .cd-dropdown-item, 
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown a, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery a, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons a {
    border: none;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons {
    padding: 20px 30px 100px;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery > .see-all, 
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons > .see-all {
    width: calc(100% - 60px);
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons > li, 
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > li {
    width: 50%;
    float: left;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown {
    overflow: hidden;
    width: 550px;
    padding-bottom: 65px;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown::before {
    /* this is the separation line in the middle of the .cd-secondary-dropdown element */
    position: absolute;
    content: '';
    top: 290px;
    left: 15px;
    height: 1px;
    width: 520px;
    background-color: #ebebeb;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > li > a {
    color: #3f8654;
    font-size: 1.6rem;
    margin-bottom: 10px;
    line-height: 30px;
    height: 30px;
    pointer-events: none;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > li > a::after, 
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > li > a::before {
    /* hide the arrow */
    display: none;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown.move-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > li {
    margin: 20px 0;
    border-right-width: 1px;
    border-color: #ebebeb;
    border-style: solid;
    padding: 0 30px;
    height: 250px;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > li:nth-of-type(2n) {
    border-right-width: 0;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > li > ul {
    /* reset mobile style */
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    position: relative;
    height: auto;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown > li > ul > .go-back {
    display: none;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown a {
    line-height: 25px;
    height: 25px;
    font-size: 1.3rem;
    padding-left: 0;
  }
  .no-touchevents .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown a:hover {
    color: #3f8654;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown ul {
    padding-bottom: 25px;
    overflow: hidden;
    height: auto;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown .go-back a {
    padding-left: 20px;
    color: transparent;
  }
  .no-touchevents .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown .go-back a:hover {
    color: transparent;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown .go-back a::before, 
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown .go-back a::after {
    left: 0;
  }
  .cd-dropdown .cd-dropdown-content .cd-secondary-dropdown .see-all {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery {
    width: 600px;
    padding-bottom: 100px;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery > li {
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery > li:nth-of-type(2n) {
    margin-right: 0;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item {
    padding: 0;
    height: auto;
    line-height: normal;
    color: #3f8654;
    margin-bottom: 2em;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery > li:nth-last-of-type(2) a,
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery > li:last-of-type a {
    margin-bottom: 0;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-gallery img {
    position: static;
    height: auto;
    width: 100%;
    margin: 0 0 0.6em;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons {
    width: 600px;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
    height: 80px;
    line-height: 1.2;
    padding: 24px 0 0 85px;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item:hover {
    background: #ebebeb;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item h3 {
    color: #3f8654;
    font-weight: bold;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
    display: block;
    font-size: 1.2rem;
  }
  .cd-dropdown .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
    left: 25px;
  }
  .cd-dropdown .cd-dropdown-content > .has-children > ul {
    visibility: hidden;
  }
  .cd-dropdown .cd-dropdown-content > .has-children > ul.is-active {
    /* when hover over .cd-dropdown-content items - show subnavigation */
    visibility: visible;
  }
  .cd-dropdown .cd-dropdown-content > .has-children > .cd-secondary-dropdown.is-active > li > ul {
    /* if .cd-secondary-dropdown is visible - show also subnavigation */
    visibility: visible;
  }
  .cd-dropdown .cd-dropdown-content > .has-children > a.is-active {
    /* hover effect for .cd-dropdown-content items with subnavigation */
    box-shadow: inset 2px 0 0 #3f8654;
    color: #3f8654;
  }
  .cd-dropdown .cd-dropdown-content > .has-children > a.is-active::before, 
  .cd-dropdown .cd-dropdown-content > .has-children > a.is-active::after {
    background: #3f8654;
  }
  .open-to-left .cd-dropdown .cd-dropdown-content > .has-children > a.is-active {
    box-shadow: inset -2px 0 0 #3f8654;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes cd-fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}
@-moz-keyframes cd-fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}
@keyframes cd-fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}

.bx-lcd-mdd-search .bx-page-block-container {
    margin: 0 !important;
    padding: 0 !important;
}

.bx-lcd-mdd-search .bx-page-block-container input[type="text"] {
  width: 100%;
  height: 3.5rem;
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0;
}

.has-children > a, .go-back a {
  position: relative;
}
.go-back a::before, 
.go-back a::after,
.has-children > a::before, 
.has-children > a::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.has-children > a::before, .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.has-children > a::after, .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  .has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
    background: #b3b3b3;
  }
}

.has-children > a {
  padding-right: 40px;
}
.has-children > a::before, 
.has-children > a::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}

@media only screen and (min-width: 1024px) {
  .open-to-left .cd-dropdown .cd-dropdown-content > .has-children > a {
    padding-left: 40px;
    padding-right: 20px;
  }
  .open-to-left .cd-dropdown .cd-dropdown-content > .has-children > a::before, 
  .open-to-left .cd-dropdown .cd-dropdown-content > .has-children > a::after {
    right: auto;
    left: 20px;
    -webkit-transform-origin: 1px 50%;
    -moz-transform-origin: 1px 50%;
    -ms-transform-origin: 1px 50%;
    -o-transform-origin: 1px 50%;
    transform-origin: 1px 50%;
  }
}
.cd-dropdown .cd-dropdown-content .go-back a {
  padding-left: 40px;
}
.cd-dropdown .cd-dropdown-content .go-back a::before, 
.cd-dropdown .cd-dropdown-content .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  -webkit-transform-origin: 1px 50%;
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -o-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}

.no-js .cd-dropdown-wrapper:hover .cd-dropdown {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.no-js .cd-dropdown-wrapper .cd-close {
  display: none;
}


/*--- Member Toolbar ---*/
.cd-dropdown .cd-dropdown-content ul.bx-menu-toolbar {
    position: relative;
    padding: 0;
    text-align: center;
}
.cd-dropdown .cd-dropdown-content ul.bx-menu-toolbar li {
	display: inline-block;
	float: none;
	vertical-align: middle;
}
.cd-dropdown .cd-dropdown-content ul.bx-menu-toolbar li a {
	height: auto;
    margin: 0;
    padding: 1rem;
    border-width: 0px;
    line-height: normal;
}
.cd-dropdown .cd-dropdown-content ul.bx-menu-toolbar li a,
.cd-dropdown .cd-dropdown-content ul.bx-menu-toolbar li a .sys-icon {
	color: #ffffff;
}
.cd-dropdown .cd-dropdown-content ul.bx-menu-toolbar li a .bx-menu-item-addon {
	top: 0;
	right: 0;
	box-sizing: content-box;
}