/*--
import url(../../../../../../../template/css/menu.css);
--*/

/* --- Horizontal menu ---*/
.bx-menu-hor li.bx-menu-tab-active a,
.bx-menu-custom-hor li.bx-menu-tab-active a {
    font-weight: 600;
    color: #000;
}

.bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto .bx-menu-item {
    padding: 0 0.5rem;
}

/* --- Vertical, Vertical lite, Custom Vertical Menus ---*/
.bx-menu-ver li,
.bx-menu-verlit li,
.bx-menu-custom-ver li {
    margin-top: 1px;
}
.bx-menu-ver li:first-child,
.bx-menu-verlit li:first-child,
.bx-menu-custom-ver li:first-child {
    margin-top: 0px;
}

/*--- Interactive Menu ---*/
li.bx-menu-inter-hidden {
    display: none;
}

/*--- Sliding Menu ---*/
.bx-sliding-menu, 
.bx-sliding-menu-main {
    left: auto !important;
    right: 0 !important;
    max-width: 31.25rem;
}
.bx-sliding-menu-close,
.bx-sliding-menu-close:hover {
    position:absolute;
    top:0;
    right:0;
    text-decoration:none;
}

/*--- Top Menu ---*/
.bx-sliding-smenu-main .bx-arr-menu-floating-blocks {
    flex-wrap: nowrap;
}

/*--- Toolbar Menu ---*/
.bx-menu-toolbar .bx-menu-toolbar-item.bx-menu-item-account {
    padding: 0;
}

/*--- Account Popup ---*/
@media (min-width:720px) {
    #bx-sliding-menu-account.bx-sliding-menu-main {
        left: auto !important;
        right: 0px !important;
        width: auto !important;
    }
}
#bx-sliding-menu-account.bx-sliding-menu-main.bx-sliding-menu-fullheight {
    height: calc(100% - 3.75rem);
}
#bx-sliding-menu-account.bx-sliding-menu-main .bx-menu-item-addon.bx-def-unit-alert {
    position: relative;
}

/*--- Add Popup ---*/
div.bx-sliding-menu-main.sys-add-content ul {
    flex-direction: column;
}

/* --- Profile Followings Menu ---*/
.bx-menu-ver.bx-menu-object-sys_profile_followings li .bx-menu-show {
    display: none;
}
.bx-menu-ver.bx-menu-object-sys_profile_followings li .bx-menu-hide {
    display: inline;
}
.bx-menu-ver.bx-menu-object-sys_profile_followings li.bx-menu-item-collapsed .bx-menu-show {
    display: inline;
}
.bx-menu-ver.bx-menu-object-sys_profile_followings li.bx-menu-item-collapsed .bx-menu-hide {
    display: none;
}
.bx-menu-ver.bx-menu-object-sys_profile_followings li.bx-menu-item-collapsed .bx-menu-item-subitems {
    display: none;
}