/*--
import url(../../../../../../../template/css/page_layouts.css);
--*/


/* common styles */
.bx-layout-row.bx-lr-dump {
    display: block;
}
.bx-layout-row.bx-lr-dump .adm-bp-cell {
    margin-top: 0;
    margin-bottom: 0;
    border-style: dashed;
}

/* menu visibility */
.bx-layout-column-thin .bx-def-thin-col-hide{
    display: none;
}
.bx-layout-column-half .bx-def-half-col-hide{
    display: none;
}
.bx-layout-column-wide .bx-def-wide-col-hide{
    display: none;
}
.bx-layout-column-full .bx-def-full-col-hide{
    display: none;
}