/*--
import url(../../../../../../../template/css/page_layouts.css);
--*/


/* common styles */
.bx-layout-row.bx-lr-dump {
    display: block;
}
.bx-layout-row.bx-lr-dump .adm-bp-cell {
    margin-top: 0;
    margin-bottom: 0;
    border-style: dashed;
}