/*--
import url(../../../../../../../template/css/vote.css);
--*/


.bx-vote .bx-vote-counter .bx-vote-counter-label {
    padding: 0;
}
.bx-vote .bx-vote-counter .bx-vote-counter-label .bx-vote-counter-text {
    margin: 0;
}

/*--------------------------------------*/
/*--- Reactions based Element Styles ---*/
/*--------------------------------------*/
.bx-vote-counter-wrapper-reactions .bx-vote-counter {
    display: inline-block;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound {
    position: relative;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound .bx-vote-counter {
    display: block;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-divided a.bx-vote-counter {
    margin-right: 0.5rem;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound a.bx-vote-counter.total-count,
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter.total-count {
    width: auto;
    height: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound a.bx-vote-counter.total-count .sys-action-counter-text:first-child,
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter.total-count .sys-action-counter-text:first-child {
    margin-left: 0;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter:not(.total-count) {
    margin-left: -0.5rem;
}
.bx-media-phone .bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter:not(.total-count),
.bx-media-tablet .bx-layout-column-thin .bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter:not(.total-count),
.bx-media-tablet .bx-layout-column-half .bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter:not(.total-count) {
    margin-left: -1.0rem;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound .bx-vote-counter-label {
    padding: 0;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter:not(.total-count) span.bx-vote-counter-text {
    display: none;
}
.bx-vote-counter-wrapper-reactions.bx-vc-hidden,
.bx-vote-counter-wrapper-reactions .bx-vote-counter.bx-vc-hidden {
    display: none;
}
.bx-menu-object-sys_vote_reactions_do li .sys-icon {
    font-size: 1.5rem;
}

/*--- Voted By ---*/
div.bx-vote-by-list {}
div.bx-vote-by-list-cnt {
    max-height: 12.5rem;
    min-width: 13.75rem;
    overflow: auto;
}
div.bx-vote-by-list div.bx-base-pofile-unit {
    float: none;
    margin-right: 0px;
    margin-bottom: 0px;
}
.bx-vote-bls-header {
    display: -webkit-flex;
    display: flex;

    margin: -1.25rem -1.25rem 0 -1.25rem;
    
    border-bottom-color: #e6f0fa;
    border-bottom-width: 2px;
}
.bx-vote-bls-content {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.bx-vote-bls-title,
.bx-vote-bls-submenu {
    -webkit-flex: 0 1 auto; 
    -ms-flex:  0 1 auto; 
    flex:  0 1 auto;
    line-height: 3.125rem;
}
.bx-vote-bls-title,
.bx-vote-bls-submenu-cnt,
.bx-vote-bls-filler {
    height: 3.125rem;
}
.bx-vote-bls-title,
.bx-vote-bls-filler {
    -webkit-flex-grow: 3;
    flex-grow: 3;

    border-bottom: 2px solid rgba(232, 232, 232, 1.0);
}
.bx-vote-bls-title {
    display: none;

    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
}
.bx-vote-bls-submenu {
    overflow-x: auto;
    overflow-y: hidden;

    -webkit-overflow-scrolling: touch;
}
.bx-vote-bls-submenu-cnt {
    box-sizing: border-box;
    padding: 0 0.5rem;
    border-bottom: 2px solid rgba(232, 232, 232, 1.0);
}
.bx-vote-bls-submenu::-webkit-scrollbar {
    width: 0.5rem;
}
.bx-vote-bls-submenu::-webkit-scrollbar-track {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;

    background-color: rgba(0, 0, 0, 0.1); 
}
.bx-vote-bls-submenu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;

    background: rgba(255, 255, 255, 0.9); 
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.bx-vote-bls-submenu::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4); 
}
.bx-vote-bls-submenu-cnt ul {
    display: -webkit-flex;
    display: flex;
}
.bx-vote-bls-submenu-cnt ul li {
    -webkit-flex: 0 1 auto; 
    -ms-flex:  0 1 auto; 
    flex:  0 1 auto;
    box-sizing: border-box;
    height: 3.125rem;

    border-bottom: 2px solid rgba(232, 232, 232, 1.0);
    border-radius: 0;

    line-height: 3.125rem;
    white-space: nowrap;
}
.bx-vote-bls-submenu-cnt ul li div {
    padding: 0 0.625rem;
}
.bx-vote-bls-submenu-cnt ul li.bx-menu-inter-act {
    border-bottom-color: #364f6b;
}
.bx-vote-bls-submenu-cnt ul li.bx-menu-inter-act > div {
    font-weight: bold;
}
.bx-vote-bls-content .bx-vote-by-list:not(.bx-vote-bl-summary) {
    display: none;
}
.bx-vote-bls-content .bx-vote-by-items {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.bx-vote-bls-content .bx-vote-by-item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.bx-vote-bls-content .bx-vote-by-item:first-child {
    padding-top: 1rem;
}
.bx-vote-bls-content .bx-vote-by-item:last-child {
    padding-bottom: 0;
}

.bx-vote-bls-content .bx-vote-by-item:before,
.bx-vote-bls-content .bx-vote-by-item:after {
    display: none;
}