<div class="bx-cover-wrapper" <bx_if:show_bg>style="background-image:url(__image_url__)"</bx_if:show_bg>>
    <div class="bx-cover-gradient"></div>
    <div class="bx-cover bx-def-centered bx-def-page-width bx-def-padding bx-def-box-sizing">
    	<div class="bx-cover-title bx-def-margin-sec-topbottom bx-def-font-h1" style="z-index:2;">
            <span class="bx-def-font-contrasted">__caption__</span>
        </div>
	</div>
</div>
<div class="bx-dsg-cover-actions bx-def-margin-thd-top">
	<a class="bx-btn bx-btn-small" href="javascript:void(0)" onclick="__js_object__.deleteCover('__type__', __image_id__);"><bx_text:_adm_dsg_btn_delete /></a>
</div>