<div class="bx-base-pofile-unit-with-cover bx-def-box-sizing">
    <div class="bx-base-pofile-unit-cnt bx-def-box bx-def-border bx-def-round-corners bx-def-color-bg-box">
        <a class="bx-base-pofile-unit-cover" <bx_if:show_bg>style="background-image:url(__image_url__)"</bx_if:show_bg> href="#">
            <img class="bx-def-thumb bx-def-thumb-size bx-def-border" src="<bx_image_url:account-thumb.png />" />
        </a>
        <div class="bx-base-pofile-unit-title bx-def-margin-sec-topbottom"><a href="#">__caption__</a></div>
    </div>
</div>
<div class="bx-dsg-cover-actions bx-def-margin-thd-top">
	<a class="bx-btn bx-btn-small" href="javascript:void(0)" onclick="__js_object__.deleteCover('__type__', __image_id__);"><bx_text:_adm_dsg_btn_delete /></a>
</div>