<div class="bx-std-product bx-std-product-gallery bx-def-gal-unit-size" id="bx-std-product-__id__">
	<div class="bx-std-product-cnt bx-std-product-gallery-cnt bx-def-margin-sec bx-def-border bx-def-round-corners bx-def-box bx-def-color-bg-box">
		<!-- Cover section -->
		<div class="bx-std-product-cover">
            <bx_if:no_image>
	            <div class="bx-def-gal-img-column">
		            <div class="bx-std-pc-no-cover bx-def-gal-div-size bx-def-box bx-def-font-middle bx-def-font-grayed bx-def-padding bx-def-box-sizing">
		                __description_plain__
		                <div class="bx-std-product-strecher">__strecher__</div>
		            </div>
		        </div>
			</bx_if:no_image>
			<bx_if:image>
				<div class="bx-std-pc-cover bx-def-gal-div-size bx-def-font-middle" style="background-image:url(__image_url__)">
	                <div class="bx-std-product-strecher">__strecher__</div>
	            </div>
			</bx_if:image>
		</div>
		<!-- Title section -->
        <div class="bx-std-product-title bx-def-padding-sec">
            <div class="bx-std-pt-cnt">
                <div class="bx-std-pt-icon bx-def-thumb-size">
                    <a href="javascript:void(0)" onclick="javascript:__js_object__.info('__name__', this)" title="__description_plain_attr__">
                        <bx_if:no_icon>
                            <div class="bx-std-pt-icon-plate bx-def-thumb-size">
                                <i class="sys-icon __icon__"></i>
                            </div>
                        </bx_if:no_icon>
                        <bx_if:icon>
                            <img class="bx-def-thumb-size" src="__icon_url__" />
                        </bx_if:icon>
                    </a>
                </div>
                <div class="bx-std-pt-content bx-def-thumb-size-min-height">
                    <div class="bx-std-pt-content-cnt">
	                    <div class="bx-std-pt-title bx-def-font-h3">
	                        <a class="bx-def-margin-sec-topbottom bx-def-font-color" href="javascript:void(0)" onclick="javascript:__js_object__.info('__name__', this)">__title__</a>
	                    </div>
	                    <div class="bx-std-pt-info bx-def-font-small bx-def-font-grayed">
	                        <bx_if:show_vendor>
			                    <a class="bx-std-pt-vendor bx-def-font-grayed" href="__vendor_url__">__vendor_name__</a>
			                    <!--
			                    <bx_if:show_version> <span class="bx-std-pt-bullet">&bull;</span> <span class="bx-std-pt-versions">__version__</span></bx_if:show_version>
                                -->
			                </bx_if:show_vendor>
			                <bx_if:show_count_price>
			                    <div class="bx-std-pt-count">__count__ <bx_text:_adm_str_txt_items_by /> <span class="bx-std-product-price">__price_single__ __discount_single__</span></div>
			                </bx_if:show_count_price>
			                <bx_if:show_rate><span class="bx-std-pt-bullet">&bull;</span> __rate__</bx_if:show_rate>
			                <bx_if:show_votes><span class="bx-std-pt-votes">__count__</span></bx_if:show_votes>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Actions section -->
	    <div class="bx-std-product-actions bx-def-padding-sec-leftright bx-def-padding-sec-bottom">
			<div class="bx-std-pa-actions">
	        	<bx_if:show_download>
	            	<a class="bx-btn bx-std-pc-download" onclick="javascript:__js_object__.getFile(__file_id__, this)"><bx_text:_adm_btn_download_submit /></a>
	            </bx_if:show_download>
	            <bx_if:show_download_disabled>
	            	<a class="bx-btn bx-btn-disabled bx-std-pc-download"><bx_text:_adm_btn_download_submit /></a>
	            </bx_if:show_download_disabled>
	            <bx_if:show_queued_disabled>
	            	<a class="bx-btn bx-btn-disabled bx-std-pc-queued"><bx_text:_adm_btn_queued_submit /></a>
	            </bx_if:show_queued_disabled>
	            <bx_if:show_delete>
	            	<a class="bx-btn bx-std-pc-delete" onclick="javascript:__js_object__.deleteFromCart(__vendor_id__, __id__, this)"><bx_text:_adm_btn_delete_submit /></a>
	            </bx_if:show_delete>
	            <div class="bx-std-pic-price">
		        	<bx_if:show_purchase_single>
						<a class="bx-std-pic-price bx-btn" onclick="javascript:__js_object__.addToCart(__vendor_id__, __id__, this)">__price_single__</a>
		            </bx_if:show_purchase_single>
		            <bx_if:show_checkout_single>
		           		<a class="bx-std-pic-price bx-btn bx-std-pc-checkout" onclick="javascript:__js_object__.checkoutCart(__vendor_id__, this)" <bx_if:show_as_hidden>style="display:none;"</bx_if:show_as_hidden>><bx_text:_adm_btn_checkout_submit /></a>
		            </bx_if:show_checkout_single>
		            <bx_if:show_purchase_recurring>
		            	<span class="bx-std-pic-price-or bx-def-padding-thd-leftright bx-def-font-grayed"><bx_text:_adm_str_txt_or /></span>
		            	<a class="bx-std-pic-price bx-btn" onclick="javascript:__js_object__.subscribe(__vendor_id__, __id__, this)">__price_recurring__</a>
		            </bx_if:show_purchase_recurring>
		        </div>
		    </div>
		</div>
	</div>
</div>