<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
    <head>
        <bx_injection:injection_head_begin />
        
        <meta http-equiv="Content-Type" content="text/html; charset=__page_charset__" />
        <title>__page_header__</title>

        __meta_info__
	    __page_robots__

        <bx_include_css_styles />
        <bx_include_css_system />
        <bx_include_css />

        __dol_images__
        __dol_lang__
        __dol_options__

        <bx_include_js_system />
        <bx_include_js />

        <script defer language="javascript">
            var sUrlStudio = '<bx_url_studio />';
        </script>
        
        <bx_include_auto:_header_js.html />
        <bx_include_auto:_header_js_spinner.html />
        <bx_include_auto:_header_js_custom.html />

        __extra_js__

        __system_injection_head__
        <bx_injection:injection_head />
    </head>
    <body class="bx-def-font bx-def-color-bg-page bx-std-bg<bx_injection:injection_body_style />" <bx_injection:injection_body /> >
        __system_injection_header__
        <bx_injection:injection_header />
