<div>
    <div class="flex gap-2">
        <div class="w-20 font-semibold"><bx_text:_sys_agents_automators_txt_type /></div>
        <div>__type__</div>
    </div>
    <bx_if:show_event>
        <div class="flex gap-2">
            <div class="w-20 font-semibold"><bx_text:_sys_agents_automators_txt_alert_unit /></div>
            <div>__unit__</div>
        </div>
        <div class="flex gap-2">
            <div class="w-20 font-semibold"><bx_text:_sys_agents_automators_txt_alert_action /></div>
            <div>__action__</div>
        </div>
    </bx_if:show_event>
    <bx_if:show_scheduler>
        <div class="flex gap-2">
            <div class="w-20 font-semibold"><bx_text:_sys_agents_automators_txt_scheduler_time /></div>
            <div>__time__</div>
        </div>
    </bx_if:show_scheduler>
    <div class="flex gap-2">
        <div class="w-20 font-semibold"><bx_text:_sys_agents_automators_txt_code /></div>
        <div><pre>__code__</pre></div>
    </div>
</div>