<div class="bx-form-input-assistants">
    <bx_repeat:assistants>
        <div class="bx-form-input-assistant bx-def-padding-thd-topbottom">
            <div class="bx-form-input-assistant-cell bx-fi-ac-txt">__input_select__</div>
            <div class="bx-form-input-assistant-cell bx-fi-ac-btn bx-def-padding-sec-left">
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.assistantDelete(this)"><bx_image_auto:times /></a>
            </div>
        </div>
    </bx_repeat:assistants>
    <div class="bx-form-input-assistant-add">__btn_add__</div>
</div>