<bx_repeat:blocks>
    <div id="__html_id__" class="adm-bp-block<bx_if:is_inactive> adm-bpb-inactive</bx_if:is_inactive> bg-white dark:bg-black border border-gray-200 dark:border-gray-800 rounded-2xl">
        <div class="adm-bpb-content">
            <div class="adm-bpb-icon<bx_if:show_drag_handle> adm-bpb-drag-handle</bx_if:show_drag_handle>">
            	<bx_if:icon>
                    <div class="adm-bpb-icon-bg"></div>
                    <i class="sys-icon __icon__"></i>
                </bx_if:icon>
                <bx_if:image><img src="__icon_url__" /></bx_if:image>
            </div>
            <div class="adm-bpb-info">
                <div class="adm-bpb-title text-gray-900">
                    <bx_if:show_link>
                        <a class="text-gray-800 dark:text-gray-200 hover:text-gray-900 dark:hover:text-gray-100" href="javascript:void(0)" onclick="javascript:__onclick__">__title__</a>
                    </bx_if:show_link>
                    <bx_if:show_text>__title__</bx_if:show_text>
                    <bx_if:show_api>
                        <img class="bx-std-api" src="<bx_icon_url:api.svg />" title="<bx_text_attribute:_adm_txt_active_api />" />
                    </bx_if:show_api>
                </div>
                <div class="adm-bpb-description bx-def-font-grayed">__module__ &bull; __visible_for__</div>
            </div>
            <bx_if:show_checkbox>
                <div class="adm-bpb-checkbox pr-2">__content__</div>
            </bx_if:show_checkbox>
        </div>
    </div>
</bx_repeat:blocks>