<div class="adm-bp-edit-form bx-def-margin-top-neg">
    <div class="adm-bp-edit-form-cnt">
        __form__
        <script language="javascript">
            $(document).ready(function () {
                $("#__form_id__").ajaxForm({ 
                    dataType: "json",
                    beforeSubmit: function(formData, jqForm, options) {
                        bx_loading($("#__form_id__"), true);
                    },
                    success: function(oData) {
                        __js_object__.onCloseSettings();

                        oBxDolStudioPage.processJson(oData);
                    }
                });
            });
        </script>
    </div>
</div>