<div id="bx-dbd-htools">
    <div class="bx-dbd-block-content bx-def-margin-bottom">
        <bx_if:show_content>
            <div class="bx-dbd-htools bx-clearfix">
                <bx_repeat:items>
                    <div class="bx-dbd-htools-item bx-def-margin-sec-top-auto"><img class="bx-stg-icon-gray-bg mr-4" src="<bx_image_url:bx-std-spacer.gif />" style="background-image: url('__icon__')" />__title__:<b class="pl-2">__value__</b></div>
                </bx_repeat:items>
            </div>
        </bx_if:show_content>
    </div>
    <div class="bx-dbd-block-actions space-x-4" style="display:none">
        <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.serverAudit()"><bx_text:_sys_inst_server_audit /></a>
        <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.permissions()"><bx_text:_sys_audit_permissions /></a>
    </div>
    <bx_if:show_loader>
        <script language="javascript">
            $(document).ready(function() {
                __js_object__.checkHostParams();
            });
        </script>
    </bx_if:show_loader>
</div>