<div id="bx-dbd-version" class="bx-dbd-block-content bx-def-margin-bottom">
	<div class="bx-dbd-virsion-image">
		<img src="<bx_image_url:dbd_version.png />"/>
	</div>
	<div class="bx-dbd-virsion-info">
		<div class="bx-def-margin-thd-top"><bx_text:_adm_dbd_txt_dolphin_on />&nbsp;<b>__domain__</b></div>
		<div class="bx-def-margin-thd-top"><bx_text:_adm_dbd_txt_version />&nbsp;<b>__version__</b>&nbsp;<bx_text:_adm_dbd_txt_installed />&nbsp;<b>__installed__</b></div>
		<div class="bx-dbd-version-available bx-def-margin-thd-top bx-clearfix">
			<bx_if:show_version_available>
				<div class="bx-dbd-version bx-def-margin-thd-right col-red1">__version_available__</div>
			</bx_if:show_version_available>
			<bx_if:show_upgrade_available>
				<a class="bx-btn bx-btn-small" href="javascript:void(0)" onclick="javascript:__js_object__.performUpgrade()"><bx_text:_adm_dbd_btn_update /></a>
			</bx_if:show_upgrade_available>
		</div>
	</div>
</div>