<div id="bx-dbd-cache">
    <div class="bx-dbd-block-content bx-def-margin-bottom">
        <bx_if:show_chart>
            <div class="bx-dbd-chart bx-def-border"></div>

            <script language="javascript">
                __js_object__.initChart('cache', __chart_data__);
            </script>
        </bx_if:show_chart>
        <bx_if:show_empty>__message__</bx_if:show_empty>
    </div>
    <bx_if:show_actions>
        <div class="bx-dbd-block-actions space-x-4">
            <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.clearCache('all')"><bx_text:_adm_dbd_txt_c_clear_all /></a>
            <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.clearCacheSelect(this)"><bx_text:_adm_dbd_txt_c_select /></a>
        </div>
        __menu__
    </bx_if:show_actions>
</div>