<!-- Design Box 1 [start]: Content + title + background -->
<div __id__ class="bx-db-container bx-def-border bx-def-shadow bx-def-color-bg-block bx-def-margin-bottom">
    <div class="bx-db-header bx-def-border-bottom">
        <div class="bx-db-title bx-def-padding-sec-left">__title__</div>
        <bx_if:note>
            <div class="bx-db-note bx-def-padding-sec-left bx-def-color-ft-gray-l3">__note__</div>
        </bx_if:note>__caption_item__<div class="bx-clear"></div>
    </div>
    <div class="bx-db-content">__content__</div>
    __bottom_item__
</div>
<!-- Design Box 1 [ end ] -->