<bx_repeat:images>
    <div class="adm-dsg-icon-preview adm-dsg-ip-__name__ mt-4 first:mt-0">
        <div class="adm-dsg-ip-title font-bold">__caption__</div>
        <div class="adm-dsg-ip-image pt-1 pb-2">
            <img src="__url__"<bx_if:show_width> width="__width__"</bx_if:show_width><bx_if:show_height> height="__height__"</bx_if:show_height> />
        </div>
        <div class="adm-dsg-ip-action">
            <a class="bx-btn bx-btn-small" href="javascript:void(0)" onclick="__js_object__.deleteIcon('__name__');"><bx_text:_adm_dsg_btn_delete /></a>
        </div>
    </div>
</bx_repeat:images>