<div class="bx-form-add-badge">
    <div class="bx-form-add-badge-cnt">
        __form__
        <script language="javascript">
            $(document).ready(function () {
                if ($("[bx_grid_action_single = 'delete_icon']").length > 0)
                    glGrids.__object__._bindActionsSingle($("#__form_id__"));

                $("#__form_id__").ajaxForm({
                    dataType: "json",
                    beforeSubmit: function (formData, jqForm, options) {
                        bx_loading($("#__form_id__"), true);
                    },
                    success: function (data) {
                        $(".bx-popup-applied:visible").dolPopupHide();
                        glGrids.__object__.processJson(data, '__action__');
                    }
                });
            });
        </script>
    </div>
</div>