<div id="bx-nav-item-icon-preview-__id__" class="bx-item-icon-preview">
    <bx_if:show_icon_empty>
        <span class="bx-def-font-small bx-def-font-grayed">
            <bx_text:_adm_nav_dsc_items_icon_image_current />
        </span>
    </bx_if:show_icon_empty>
    <bx_if:show_icon_image>
        <img src="__url__" />
        <p class="pt-2">
            <button type="button" class="bx-btn bx-btn-small" bx_grid_action_single="delete_icon" bx_grid_action_data="__id__">
                <bx_text:_adm_nav_btn_current_icon_image_delete />
            </button>
        </p>
    </bx_if:show_icon_image>
    <bx_if:show_icon_html>__icon__</bx_if:show_icon_html>
</div>