<script defer type="text/javascript">
    var a = [{
            id: 'tour-welcome',
            title: '<bx_text_js:_sys_tour_launcher_welcome_title />',
            text: '<bx_text_js:_sys_tour_launcher_welcome_txt />'
        },{
            id: 'tour-apps',
            title: '<bx_text_js:_sys_tour_launcher_apps_title />',
            text: '<bx_text_js:_sys_tour_launcher_apps_txt />',
            sel: {element:$('.bx-std-widget-cont:has(.bx-std-widget-link[href*=store])').get(0), on:'bottom'}
        },{
            id: 'tour-designer',
            title: '<bx_text_js:_sys_tour_launcher_designer_title />',
            text: '<bx_text_js:_sys_tour_launcher_designer_txt />',
            sel: {element:$('.bx-std-widget-cont:has(.bx-std-widget-link[href*=designer])').get(0), on:'bottom'}
        },{
            id: 'tour-dashboard',
            title: '<bx_text_js:_sys_tour_launcher_dashboard_title />',
            text: '<bx_text_js:_sys_tour_launcher_dashboard_txt />',
            sel: {element:$('.bx-std-widget-cont:has(.bx-std-widget-link[href*=dashboard])').get(0), on:'bottom'}
        },{
            id: 'tour-builder_page',
            title: '<bx_text_js:_sys_tour_launcher_builder_page_title />',
            text: '<bx_text_js:_sys_tour_launcher_builder_page_txt />',
            sel: {element:$('.bx-std-widget-cont:has(.bx-std-widget-link[href*=builder_page])').get(0), on:'bottom'}
        },{
            id: 'tour-builder_permission',
            title: '<bx_text_js:_sys_tour_launcher_builder_permissions_title />',
            text: '<bx_text_js:_sys_tour_launcher_builder_permissions_txt />',
            sel: {element:$('.bx-std-widget-cont:has(.bx-std-widget-link[href*=builder_permission])').get(0), on:'bottom'}
        },{
            id: 'tour-builder_forms',
            title: '<bx_text_js:_sys_tour_launcher_builder_forms_title />',
            text: '<bx_text_js:_sys_tour_launcher_builder_forms_txt />',
            sel: {element:$('.bx-std-widget-cont:has(.bx-std-widget-link[href*=builder_forms])').get(0), on:'bottom'}
        },{
            id: 'tour-builder_menu',
            title: '<bx_text_js:_sys_tour_launcher_builder_menus_title />',
            text: '<bx_text_js:_sys_tour_launcher_builder_menus_txt />',
            sel: {element:$('.bx-std-widget-cont:has(.bx-std-widget-link[href*=builder_menu])').get(0), on:'bottom'}
        },{
            id: 'tour-polyglot',
            title: '<bx_text_js:_sys_tour_launcher_polyglot_title />',
            text: '<bx_text_js:_sys_tour_launcher_polyglot_txt />',
            sel: {element:$('.bx-std-widget-cont:has(.bx-std-widget-link[href*=polyglot])').get(0), on:'bottom'}
        },{
            id: 'tour-bx_accounts',
            title: '<bx_text_js:_sys_tour_launcher_accounts_title />',
            text: '<bx_text_js:_sys_tour_launcher_accounts_txt />',
            sel: {element:$('.bx-std-widget-cont:has(.bx-std-widget-link[href*=bx_accounts])').get(0), on:'bottom'}
        },{
            id: 'tour-reorganize',
            title: '<bx_text_js:_sys_tour_launcher_reorganize_title />',
            text: '<bx_text_js:_sys_tour_launcher_reorganize_txt />',
            sel: '.bx-menu-tab-edit right'
        },{
            id: 'tour-favourites',
            title: '<bx_text_js:_sys_tour_launcher_favourites_title />',
            text: '<bx_text_js:_sys_tour_launcher_favourites_txt />',
            sel: '.bx-menu-tab-favorite right'
        },{
            id: 'tour-add-apps',
            title: '<bx_text_js:_sys_tour_launcher_add_apps_title />',
            text: '<bx_text_js:_sys_tour_launcher_add_apps_txt />',
            sel: '.bx-menu-tab-extensions right'
        }
    ];

    glTour = new Shepherd.Tour({
        defaults: {
            classes: 'shepherd-theme-__tour_theme__ bx-def-z-index-modal',
            showCancelLink: true,
            scrollTo: true
        }
    });

    Shepherd.on('cancel', function () {
        $.cookie('launcher-tour-hidden', 1, {expires: 9999});
    });

    for (var i=0 ; i<a.length ; i++) {

        if ('undefined' !== typeof(a[i].sel) && 'string' !== typeof(a[i].sel) && null == a[i].sel.element)
            continue;

        var aBtns = []
        if (0 == i || i == (a.length - 1))
            aBtns.push({
                text: 0 == i ? '<bx_text_js:_sys_exit />' : '<bx_text_js:_sys_done />',
                action: glTour.cancel,
                classes: 0 == i ? 'shepherd-button-secondary' : 'shepherd-button-primary'
            });

        if (i != (a.length - 1))
            aBtns.push({
                text: '<bx_text_js:_sys_next />',
                action: glTour.next,
                classes: 'shepherd-button-primary'
            });

        var aOpts = {
            title: a[i].title,
            text: a[i].text,
            attachTo: a[i].sel,
            buttons: aBtns
        };
        glTour.addStep(a[i].id, aOpts);
    }

    if (!$.cookie('launcher-tour-hidden'))
        glTour.start();
</script>
