<!-- layout 1 column with menu on left and contents on right [ start ] -->
<div id="__page_id__" class="bx-layout-wrapper bx-layout-bcb">
    <div class="bx-layout-row flex">
        <div class="bx-layout-col bx-layout-bcb-bar1 bx-layout-column-thin w-1/4">
            <div class="bx-layout-cell pr-2 lg:pr-3" id="bx-layout-cell-1">
<div class="space-y-2 bx-def-margin-topbottom bx-def-padding-sec bx-def-border">
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-4 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
</div>
            </div>
        </div>
        <div class="bx-layout-col bx-layout-bcb-content bx-layout-column-half w-1/2">
            <div class="bx-layout-cell px-2 lg:px-3" id="bx-layout-cell-2">
                __cell_1__
            </div>
        </div>
        <div class="bx-layout-col bx-layout-bcb-bar2 bx-layout-column-thin w-1/4">
            <div class="bx-layout-cell pl-2 lg:pl-3" id="bx-layout-cell-3">
<div class="space-y-1 bx-def-margin-topbottom bx-def-padding-sec bx-def-border">
    <div class="h-3 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-3 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-3 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-3 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-3 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
    <div class="h-3 bg-gray-200 dark:bg-gray-700 rounded-xl">&nbsp;</div>
</div>
            </div>
        </div>
    </div>
    <bx_include_auto:_row_1_column_dump.html />
</div>
<!-- layout 1 column with menu on left and contents on right [  end  ] -->
