<bx_repeat:menu_items>
    <div id="bx-std-pmi-__name__" class="bx-std-pmen-item __class_add__">
        <a href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__>
            <div class="bx-std-pmen-item-cnt">
                <div class="bx-std-pmen-ic-icon" style="<bx_if:show_icon>display: block;</bx_if:show_icon><bx_if:show_icon_bg>padding:0.25rem; background-image: url('__icon_bg_url__');</bx_if:show_icon_bg>">
                    <bx_if:icon>
                        <i class="sys-icon __icon__ bx-def-margin-sec-right"></i>
                    </bx_if:icon>
                    <bx_if:image><img src="__icon_url__" /></bx_if:image>
                    <bx_if:image_inline>__image__</bx_if:image_inline>
                </div>
                <div class="bx-std-pmen-ic-title">__title__</div>
            </div>
        </a>                
    </div>                
</bx_repeat:menu_items>
<div class="bx-clear"></div>
