<bx_repeat:menu_items>
    <div id="bx-std-pmi-__name__" class="bx-std-pmen-item bx-def-font-large __class_add__">
        <a href="__link__" target="__target__" onclick="__onclick__" title="__title_attr__">
            <div class="bx-std-pmen-item-cnt">
                <bx_if:icon>
                    <img src="<bx_icon_url:mi-empty.png />" />
                    <i class="sys-icon __icon__ bx-def-margin-sec-right"></i>
                </bx_if:icon>
                <bx_if:image><img src="__icon_url__" /></bx_if:image>
                __title__
            </div>
        </a>                
    </div>                
</bx_repeat:menu_items>
<div class="bx-clear"></div>
