<ul class="bx-menu-toolbar">
    <bx_repeat:menu_items>
        <li class="bx-menu-tab-__name__  __class_add__">
            <a href="__link__" target="__target__" onclick="__onclick__" class="bx-def-margin-sec-left bx-def-font-contrasted" title="__title__"><bx_if:icon><i class="sys-icon __icon__ bx-def-round-corners bx-def-font-contrasted"></i></bx_if:icon><bx_if:image><img style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image></a>
        </li>
    </bx_repeat:menu_items>
</ul>