<div class="bx-std-menu-top-center-cnt">
    <ul class="bx-menu-top-center bx-menu-object-__object__ bx-clearfix">
        <bx_repeat:menu_items>
            <li id="bx-menu-item-__name__" class="__class__ bx-def-box-sizing __class_add__">
                <a href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__>
                    <div class="bx-mi-icon rounded-lg hover:ring-4 hover:ring-gray-200 dark:hover:ring-gray-800 hover:ring-offset-2 hover:ring-offset-white dark:hover:ring-offset-black active:opacity-80 duration-300">
                        <div class="block ring-white/5 ring-1 ring-inset rounded-lg">
                            <bx_include_auto:menu_icon.html />
                        </div>
                    </div>
                </a>
            </li>
        </bx_repeat:menu_items>
    </ul>
</div>