<div class="bx-std-pcm-title text-2xl font-bold" id="bx-std-pc-title">
    <div class="bx-std-pcm-title-cnt flex justify-between px-2">
        <div>__title__</div>
        <bx_if:show_actions>
            <div>
                <a class="bx-std-pcm-actions flex justify-center items-center w-10 h-10 bg-gray-200 hover:bg-gray-100 border border-black/10 rounded-lg text-gray-600" href="javascript:void(0)" onclick="__onclick__" title="<bx_text_attribute:_adm_txt_show_actions />">
                    <img src="<bx_icon_url:mi-cog.svg />" />
                </a>
            </div>
        </bx_if:show_actions>
    </div>
</div>
<div class="bx-std-pcm-menu" id="bx-std-pc-menu">__menu__</div>