<div class="bx-std-pcap-bx-std-pcap">
    <ul class="bx-menu-hor bx-menu-breadcrumb">
        <bx_repeat:menu_items>
            <li class="bx-menu-bc-div">
                <img src="<bx_icon_url:bc-arrow.svg />" />
            </li>
            <li class="bx-menu-bc-item bx-menu-bc-__name__  __class_add__">
                <a href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__>
                    <div class="bx-mi-icon flex-0">
                        <bx_if:icon><i class="sys-icon __icon__ bx-def-round-corners bx-def-font-contrasted"></i></bx_if:icon>
                        <bx_if:image><img src="__icon_url__" /></bx_if:image>
                        <bx_if:image_inline>__image__</bx_if:image_inline>
                    </div>
                    <bx_if:title><div class="bx-mi-title flex-1 pl-2">__title__</div></bx_if:title>
                </a>
            </li>
        </bx_repeat:menu_items>
    </ul>
</div>