<bx_include_auto:_sub_header.html />
<div class="bx-std-content-wrp">
    <script defer type="text/javascript">
    <!--
    var oBxDolStudioPage = new BxDolStudioPage({
        sActionUrl: '<bx_url_studio />ajax.php'
    });
    -->
    </script>
    <div class="bx-std-page-caption">__page_caption_code__</div>
    <div class="bx-std-page-columns" id="bx-std-page-columns" __page_attributes__>
        <bx_include_auto:page_content_2_col.html />
    </div>
</div>
<bx_include_auto:_sub_footer.html />