<bx_include_auto:_sub_header.html />
<div class="bx-std-content-wrp">
    <script defer type="text/javascript">
    <!--
    var oBxDolStudioPage = new BxDolStudioPage({
        sActionUrl: '<bx_url_studio />ajax.php'
    });
    -->
    </script>
    <div class="bx-std-page-caption">__page_caption_code__</div>
    <div class="bx-std-page-content" id="bx-std-page-content" __page_attributes__>
    	<div class="bx-std-page-content-cnt bx-def-padding">__page_main_code__</div>
    </div>
</div>
<bx_include_auto:_sub_footer.html />