<bx_include_auto:_sub_header.html />
<div class="bx-std-content-wrp bx-std-pc-stretch">
    <script defer language="javascript">
    <!--
    var oBxDolStudioPage = new BxDolStudioPage({
        sActionUrl: '<bx_url_studio />ajax.php'
    });
    -->
    </script>
    __page_caption_code__
    <div id="bx-std-page-content" class="bx-std-page-content bx-std-pc-vstretch" __page_attributes__>
    	<div class="bx-std-page-content-cnt bx-def-padding-rightbottomleft">__page_main_code__</div>
    </div>
</div>
<bx_include_auto:_sub_footer.html />