<div id="bx-nav-item-icon-preview-__id__" class="bx-nav-item-icon-preview">
	<bx_if:show_icon_empty>
	    <span class="bx-def-font-small bx-def-color-ft-gray-l3">
	        <bx_text:_adm_nav_dsc_items_icon_image_current />
	    </span>
	</bx_if:show_icon_empty>
	<bx_if:show_icon_image>
        <img src="__url__" />
        <p>
            <button type="button" class="bx-btn" bx_grid_action_single="delete_icon" bx_grid_action_data="__id__">
                <bx_text:_adm_nav_btn_current_icon_image_delete />
            </button>
        </p>
	</bx_if:show_icon_image>
	<bx_if:show_icon_font>
		<i class="sys-icon __icon__"></i>
	</bx_if:show_icon_font>
</div>