<div class="admin_login_wrapper">
    <div class="admin_license_form_wrapper">
        <form class="admin_login_form" method="post">
            <input type="hidden" name="ID" value="__id__" />
            <input type="hidden" name="Password" value="__password__" />
            <table cellspacing="20" cellpadding="0" class="admin_login_table">
                <tr>
                    <td colspan="2"><b><bx_text:_adm_reg_title /></b></td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size:14px;"><bx_text:_adm_reg_desciption /></td>
                </tr>
                <tr>
                    <td class="value"><bx_text:_adm_reg_license /></td>
                    <td>
                        <input type="text" name="license_code" id="admin_login_license" />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" id="admin_login_form_submit" value="Register"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size:14px; padding-top:35px;">__actions__</td>
                </tr>
            </table>
        </form>
    </div>
</div>