<script defer type="text/javascript">
    var __js_object__ = new BxDolStudioSettings({
        sActionUrl: '<bx_url_studio />settings.php',
        sType: '__type__',
        sCategory: '__category__',
        sMix: '__mix__',
    });
</script>
<bx_if:show_mixes>
	<div class="bx-stg-mixes bx-def-margin-bottom bx-clearfix">
		<div class="bx-sm-cell bx-sm-select">
			<div class="bx-form-input-wrapper bx-form-input-wrapper-select">
				<bx_if:show_select_mix>
					<select class="bx-def-font-inputs bx-form-input-select" onchange="__js_object__.mixSelect(this)">
						<bx_repeat:mixes>
							<option value="__value__"<bx_if:show_checked_mix> selected="selected"</bx_if:show_checked_mix> >__title__</option>
						</bx_repeat:mixes>
					</select>
				</bx_if:show_select_mix>
			</div>
		</div>
		<div class="bx-sm-cell bx-sm-new">
			<a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.mixCreate(this)">
				<bx_text:_adm_btn_settings_mix_create />
			</a>
			<bx_if:show_delete_mix>
				<a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.mixDelete(this, __id__)">
					<bx_text:_adm_btn_settings_mix_delete />
				</a>
			</bx_if:show_delete_mix>
		</div>
	</div>
</bx_if:show_mixes>
<iframe name="adm-settings-iframe" class="bx-std-hidden"></iframe>
__form__