<div class="bx-std-product bx-stdp-update" id="bx-std-product-__id__">
    <div class="bx-stdp-icon">
        <a href="javascript:void(0)" onclick="javascript:__js_object__.info(__id__, this)">
            <img src="__icon__" />
        </a>
    </div>
    <div class="bx-stdp-content">
        <div class="bx-std-pc-title">
            <a href="javascript:void(0)" onclick="javascript:__js_object__.info(__id__, this)">__title__</a>
        </div>
        <div class="bx-std-pc-vendor bx-def-color-ft-gray-l3">__vendor__ &bull; <span class="bx-std-pc-versions">__versions__</span></div>
        <div class="bx-std-pc-action">
        	<bx_if:show_download>
            	<input class="bx-btn bx-btn-small bx-std-pc-download" type="button" value="<bx_text:_adm_btn_download_submit />" onclick="javascript:__js_object__.getFile(__id__, '__file_id__', this)" />
            </bx_if:show_download>
        </div>
    </div>
</div>