<div class="bx-std-product bx-std-product-gallery bx-def-gal-unit-size" id="bx-std-product-__name__">
	<div class="bx-std-product-cnt bx-std-product-gallery-cnt bx-def-margin-sec bx-def-border bx-def-round-corners bx-def-box bx-def-color-bg-box">
        <a href="javascript:void(0)" onclick="javascript:__js_object__.info('__name__', this)">
			<bx_if:no_image>
				<div class="bx-def-gal-img-column">
		            <div class="bx-std-product-no-thumb bx-def-gal-div-size bx-def-box bx-def-font-middle bx-def-font-grayed bx-def-padding bx-def-box-sizing">
		                __note__
		                <div class="bx-std-product-strecher">__strecher__</div>
		            </div>
		        </div>
			</bx_if:no_image>
			<bx_if:image>
				<div class="bx-std-product-thumb bx-def-gal-div-size bx-def-font-middle" style="background-image:url(__image_url__)">
	                <div class="bx-std-product-strecher">__strecher__</div>
	            </div>
			</bx_if:image>
        </a>
	    <div class="bx-std-product-content bx-def-padding-thd">
	        <div class="bx-std-product-title bx-def-font-align-center">
	            <a class="bx-def-margin-sec-topbottom bx-def-font-color" href="javascript:void(0)" onclick="javascript:__js_object__.info('__name__', this)">__title__</a>
	        </div>
	        <div class="bx-std-product-info bx-def-margin-thd-top">
	        	<div class="bx-std-pi-cell bx-std-pic-left">
	        		<span class="bx-def-font-small">__vendor__ &bull; <span class="bx-std-pc-version">__version__</span></span>
	        	</div>
	        	<div class="bx-std-pi-cell bx-std-pic-right">
		        	<div class="bx-std-pc-buttons bx-std-pcb-install bx-def-margin-thd-leftright-neg bx-clearfix" <bx_if:hide_install>style="display:none"</bx_if:hide_install>>
		        		<a class="bx-btn bx-btn-small bx-def-margin-thd-leftright" onclick="javascript:__js_object__.install('__dir__', this)"><bx_text:_adm_btn_install_submit /></a>
		        		<a class="bx-btn bx-btn-small bx-def-margin-thd-leftright" onclick="javascript:__js_object__.remove('__dir__', this)"><bx_text:_adm_btn_delete_submit /></a>
		        	</div>
		        	<div class="bx-std-pc-buttons bx-std-pcb-queued bx-def-margin-thd-leftright-neg bx-clearfix" <bx_if:hide_queued>style="display:none"</bx_if:hide_queued>>
		            	<a class="bx-btn bx-btn-small bx-def-margin-thd-leftright bx-btn-disabled"><bx_text:_adm_btn_queued_submit /></a>
		            </div>
		            <div class="bx-std-pc-buttons bx-std-pcb-installed bx-def-margin-thd-leftright-neg bx-clearfix" <bx_if:hide_installed>style="display:none"</bx_if:hide_installed>>
		            	<a class="bx-btn bx-btn-small bx-def-margin-thd-leftright bx-btn-disabled"><bx_text:_adm_btn_installed_submit /></a>
		            </div>
				</div>
	        </div>
	    </div>
	</div>
</div>