<div class="bx-std-product-view">
	<bx_if:show_screenshots>
            <div class="bx-std-pv-screenshots bx-def-margin-bottom">
                <div class="bx-std-pvs-left">
                    <i class="sys-icon caret-left"></i>
                </div>
                <div class="bx-std-pvs-cnt" style="width:__width__px">
                    <bx_repeat:screenshots>
                        <div class="bx-std-pvs-item bx-def-margin-left-auto" style="background-image:url('__image_url__');">
                            <a href="__image_url__" rel="group" tsrget="_blank"><img src="<bx_image_url:spacer.gif />" /></a>
                        </div>
                    </bx_repeat:screenshots>
                </div>
                <div class="bx-std-pvs-right">
                    <i class="sys-icon caret-right"></i>
                </div>
            </div>
	</bx_if:show_screenshots>
	<div class="bx-std-pv-line">
        <bx_if:show_rate>__rate__</bx_if:show_rate>
        <bx_if:show_votes><span class="bx-std-pt-votes">__count__</span></bx_if:show_votes>
	</div>
	<div class="bx-std-pv-line">
		<span class="bx-std-pv-cpt bx-def-font-grayed">
			<bx_text:_adm_str_txt_pv_title />:
		</span> <a href="__url__" target="_blank">__title__</a>
	</div>
	<div class="bx-std-pv-line">
		<span class="bx-std-pv-cpt bx-def-font-grayed">
			<bx_text:_adm_str_txt_pv_vendor />:
		</span> <a href="__author_url__">__author_name__</a>
	</div>
	<div class="bx-std-pv-line">
		<span class="bx-std-pv-cpt bx-def-font-grayed">
			<bx_text:_adm_str_txt_pv_version />:
		</span> __version__
	</div>
	<bx_if:show_price_single>
		<div class="bx-std-pv-line">
			<span class="bx-std-pv-cpt bx-def-font-grayed">
				<bx_text:_adm_str_txt_pv_price />:
			</span> __price_single__ 
		</div>
		<bx_if:show_discount>
			<div class="bx-std-pv-line">
				<span class="bx-std-pv-cpt bx-def-font-grayed">
					<bx_text:_adm_str_txt_pv_discount />:
				</span> __discount_single__
			</div>
		</bx_if:show_discount>
	</bx_if:show_price_single>
	<bx_if:show_price_recurring>
		<div class="bx-std-pv-line">
			<span class="bx-std-pv-cpt bx-def-font-grayed">
				<bx_text:_adm_str_txt_pv_rent />:
			</span> __price_recurring__ 
		</div>
	</bx_if:show_price_recurring>
	<div class="bx-std-pv-line">
		<span class="bx-std-pv-cpt bx-def-font-grayed">
			<bx_text:_adm_str_txt_pv_category />:
		</span> <a href="__category_url__">__category__</a>
	</div>
	<!--
	//TODO: There is no tags in current version.
	<div class="bx-std-pv-line">
		<span class="bx-std-pv-cpt bx-def-font-grayed">
			<bx_text:_adm_str_txt_pv_tags />:
		</span> __tags__
	</div>
	-->
	<div class="bx-std-pv-line">
		<span class="bx-std-pv-cpt bx-def-font-grayed">
			<bx_text:_adm_str_txt_pv_stats />:
		</span> <a href="__reviews_url__">__reviews__</a>, __votes__, __views__ 
	</div>
	<div class="bx-std-pv-line">
		<span class="bx-std-pv-cpt bx-def-font-grayed">
			<bx_text:_adm_str_txt_pv_created />:
		</span> __created__
	</div>
	<div class="bx-std-pv-line">
		<span class="bx-std-pv-cpt bx-def-font-grayed">
			<bx_text:_adm_str_txt_pv_updated />:
		</span> __updated__
	</div>
	<div class="bx-std-pv-line">
		<span class="bx-std-pv-cpt bx-def-font-grayed">
			<bx_text:_adm_str_txt_pv_description />:
		</span> __description__
	</div>
	<div class="bx-std-pv-actions bx-def-margin-top">
		<bx_if:show_purchase>
			<div class="bx-std-pv-action bx-std-pva-price bx-def-margin-right">
				<bx_if:show_purchase_single>
					<a class="bx-btn" onclick="javascript:__js_object__.addToCart(__vendor_id__, __id__, this)">__price_single__</a>
				</bx_if:show_purchase_single>
				<bx_if:show_checkout_single>
					<a class="bx-btn bx-std-pva-checkout" onclick="javascript:__js_object__.checkoutCart(__vendor_id__, this)" <bx_if:show_as_hidden>style="display:none;"</bx_if:show_as_hidden>>
						<bx_text:_adm_btn_checkout_submit />
					</a>
				</bx_if:show_checkout_single>
				<bx_if:show_purchase_recurring>
					<span class="bx-std-pva-or bx-def-margin-sec-leftright bx-def-font-grayed"><bx_text:_adm_str_txt_or /></span>
					<a class="bx-btn" onclick="javascript:__js_object__.subscribe(__vendor_id__, __id__, this)">__price_recurring__</a>
				</bx_if:show_purchase_recurring>
			</div>
		</bx_if:show_purchase>
		<bx_if:show_download>
			<a class="bx-btn bx-def-margin-right" onclick="javascript:__js_object__.getFile(__file_id__, this)">
				<bx_text:_adm_btn_download_submit />
			</a>
		</bx_if:show_download>
		<bx_if:show_download_disabled>
			<a class="bx-btn bx-btn-disabled bx-def-margin-right" type="button" disabled="disabled">
				<bx_text:_adm_btn_download_submit />
			</a>
		</bx_if:show_download_disabled>
		<a class="bx-btn bx-def-margin-right" onclick="javascript:$('.bx-popup-applied:visible').dolPopupHide();">
			<bx_text:_adm_btn_cancel_submit />
		</a>
	</div>
</div>