<div class="bx-std-product">
    <div class="bx-stdp-icon">
        <a href="__url__">
            <img src="__icon__" />
        </a>
    </div>
    <div class="bx-stdp-content">
        <div class="bx-std-pc-title">
            <a href="__url__">__title__</a>
        </div>
        <div class="bx-std-pc-vendor bx-def-color-ft-gray-l3">__vendor__ &bull; <span class="bx-std-pc-version">__version__</span></div>
        <div class="bx-std-pc-action">
        	<div class="bx-std-pc-buttons" <bx_if:hide_install>style="display:none"</bx_if:hide_install>>
        		<input class="bx-btn bx-btn-small bx-def-margin-sec-left-auto" type="button" value="<bx_text:_adm_btn_install_submit />" onclick="javascript:__js_object__.install('__dir__', this)" />
        		<input class="bx-btn bx-btn-small bx-def-margin-sec-left-auto" type="button" value="<bx_text:_adm_btn_delete_submit />" onclick="javascript:__js_object__.remove('__dir__', this)" />
        	</div>
        	<div class="bx-std-pc-buttons" <bx_if:hide_installed>style="display:none"</bx_if:hide_installed>>
            	<input class="bx-btn bx-btn-small bx-btn-disabled" type="button" value="<bx_text:_adm_btn_installed_submit />" />
            </div>
        </div>
    </div>
</div>