<div class="bx-std-product bx-stdp-update">
    <div class="bx-stdp-icon">
        <a  href="__url__">
            <img src="__icon__" />
        </a>
    </div>
    <div class="bx-stdp-content">
        <div class="bx-std-pc-title">
            <a href="__url__">__title__</a>
        </div>
        <div class="bx-std-pc-vendor bx-def-color-ft-gray-l3">__vendor__ &bull; <span class="bx-std-pc-versions">__versions__</span></div>
        <div class="bx-std-pc-action">
        	<input class="bx-btn bx-btn-small" type="button" value="<bx_text:_adm_btn_install_submit />" onclick="javascript:__js_object__.update('__dir__', this)" />
        </div>
    </div>
</div>