<div class="bx-std-pic-stars" id="bx-std-pic-stars-__id__">
    <div class="bx-std-pic-underlay">
        <bx_repeat:stars><i class="bx-std-star sys-icon star"></i></bx_repeat:stars>
    </div>
    <div class="bx-std-pic-slider" style="width: 74px;">
        <bx_repeat:slider><i class="bx-std-star sys-icon star"></i></bx_repeat:slider>
    </div>
    <script language="javascript">
        var oSlider = $('#bx-std-pic-stars-__id__ .bx-std-pic-slider');
        oSlider.width(__value__ * oSlider.find('.bx-std-star').width());
    </script>
</div>