<div class="bx-std-files">
	<table class="bx-std-files">
		<tr>
			<th class="bx-std-ftitle"><bx_text:_adm_str_cpt_files_file /></th>
			<th class="bx-std-fversion"><bx_text:_adm_str_cpt_files_version /></th>
			<th>&nbsp;</th>
		</tr>
		<bx_repeat:files>
			<tr>
				<td class="bx-std-ftitle">__title__</td>
				<td class="bx-std-fversion">__version__</td>
				<td>
					<input class="bx-btn bx-btn-small" type="button" value="<bx_text:_adm_btn_download_submit />" onclick="javascript:__js_object__.getFile(__product_id__, __id__, this)" />
				</td>
			</tr>
	    </bx_repeat:files>
	</table>
</div>