<div id="bx-std-widget-__id__" class="bx-std-widget __widget_disabled_class__ __widget_featured_class__" style="__widget_styles__">
    <div class="bx-std-widget-cont">
        <div class="bx-std-widget-icon bx-std-widget-icon-trans">
            <a class="bx-std-widget-link" href="__url__" <bx_if:show_click_icon>onClick="__content__"</bx_if:show_click_icon>>
                <bx_if:icon>
                    <img src="<bx_icon_url:wi-empty.png />" />
                    <i class="sys-icon __icon__"></i>
                </bx_if:icon>
                <bx_if:image><img src="__icon_url__" /></bx_if:image>
            </a>
        </div>
        <bx_if:show_notice>
           <div class="bx-std-widget-notices bx-def-box-sizing">
               __content__
           </div>
        </bx_if:show_notice>

        <bx_if:show_actions>
            <div class="bx-std-widget-actions">
                <div class="bx-std-widget-actions-cnt">
                    <bx_repeat:actions>
                        <div class="bx-std-widget-action bx-def-box-sizing">
                            <a class="bx-std-widget-action bx-std-wa-__name__" href="__url__" <bx_if:show_click>onClick="__content__"</bx_if:show_click> title="__caption__">
                                <bx_if:action_icon><i class="sys-icon __icon__" alt="__caption__"></i></bx_if:action_icon>
                                <bx_if:action_image><img src="__icon_url__"  alt="__caption__" /></bx_if:action_image>
                            </a>
                        </div>
                    </bx_repeat:actions>
                </div>
            </div>
        </bx_if:show_actions>

        <div class="bx-std-widget-icon-jitter" style="display:none">
            <img class="bx-def-round-corners" src="<bx_image_url:bx-std-spacer.gif />" />
        </div>

        <div class="bx-std-widget-loading"></div>

        <div class="bx-std-widget-caption">
            <a class="bx-std-widget-link" href="__url__" <bx_if:show_click_link>onClick="__content__"</bx_if:show_click_link> title="__caption_attr__">__caption__</a>
            <div class="bx-std-widget-caption-jitter" style="display:none"></div>
        </div>
    </div>
</div>