<div id="bx-std-widgets-__page__" class="bx-std-widgets-wrp" <bx_if:page_hidden>style="display:none"</bx_if:page_hidden>>
    <div class="bx-std-widgets" role="list" aria-label="__label__">__content__</div>
</div>
<script>
    $(document).ready(function(){
        //--- The tile is the app's only link; the caption under it just forwards a click to it.
        $('#bx-std-widgets-__page__ .bx-std-widget-caption > .bx-std-widget-link').on('click', function() {
            var oLink = $(this).closest('.bx-std-widget').find('.bx-std-widget-icon .bx-std-widget-link');
            if(oLink.length)
                oLink.get(0).click();
        });

        $('#bx-std-widgets-__page__ .bx-std-widget-icon .bx-std-widget-link').on('click', function() {
            var eWidget = $(this).parents().filter('.bx-std-widget');
            eWidget.find('.bx-std-widget-caption').hide();
            eWidget.find('.bx-std-widget-loading').show();
        });
    });
</script>
