<div class="bx-std-pt-cnt bx-def-padding-bottom bx-clearfix">
	<div class="bx-std-pt-pages">__selector__</div>
	<div class="bx-std-pt-buttons">
	    <button class="bx-btn bx-def-margin-sec-left" onclick="javascript:__js_object__.performAction('__action_page_create__');"><bx_text:_adm_bp_btn_create_new /></button>
	    <bx_if:show_actions>
	        <button class="bx-btn bx-def-margin-sec-left" onclick="javascript:window.open('__url_view__','_blank');"><bx_text:_adm_bp_btn_view_page /></button>
	        <button class="bx-btn bx-def-margin-sec-left" onclick="javascript:__js_object__.performAction('__action_page_export__')"><bx_text:_bx_dev_bp_btn_page_export /></button>
	        <button class="bx-btn bx-def-margin-sec-left" onclick="javascript:__js_object__.performAction('__action_page_edit__')"><bx_text:_adm_bp_btn_settings /></button>
	        <button class="bx-btn bx-def-margin-sec-left" onclick="javascript:__js_object__.performAction('__action_block_create__')"><bx_text:_adm_bp_btn_add_block /></button>
	        <button class="bx-btn bx-def-margin-sec-left" onclick="javascript:__js_object__.deletePage();"><bx_text:_adm_bp_btn_delete /></button>
	    </bx_if:show_actions>
	</div>
</div>