<ul class="bx-menu-ver bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-menu-item __name__ bx-def-round-corners bx-def-color-bg-hl-hover __class_add__">
            <a class="__name__" href="__link__" onclick="__onclick__"__attrs__>
                <div class="bx-def-padding-sec">
                    <bx_include_auto:menu_icon.html />
					<span>__title__</span>
                </div>
            </a>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-ver > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>
