<ul id="bx-menu-footer" class="bx-menu-hor bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-def-margin-right-auto __class_add__">
            <a href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__>
                <bx_if:image><img title="__title_attr__" src="__icon_url__" /></bx_if:image>
                <bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
				<bx_if:icon-html>__icon__</bx_if:icon-html>
                <bx_if:title>__title__</bx_if:title>
            </a>
            <bx_if:show_subitems>
                <div class="bx-menu-item-subitems bx-def-padding-sec-left">__subitems__</div>
            </bx_if:show_subitems>
        </li>
    </bx_repeat:menu_items>
</ul>
