<ul class="bx-menu-floating-blocks-dash bx-menu-object-__object__ bx-clearfix bx-def-margin-sec-leftright-neg">
    <bx_repeat:menu_items>
        <li class=" bx-def-margin-bottom">
            <div class="bx-menu-floating-blocks-dash-item bx-def-padding-sec bx-def-margin-sec-leftright bx-def-round-corners bx-def-box bx-def-box-sizing __class_add__">
                <a href="__link__" onclick="__onclick__"__attrs__>
                    <div class="bx-menu-floating-blocks-icon bx-def-margin-sec-right">
                        <bx_include_auto:menu_icon.html />
                    </div>
                    <div class="bx-menu-floating-blocks-dash-title">
                        <div class="bx-menu-floating-blocks-title">__title__</div>
                        <bx_if:addon>__addonf__</bx_if:addon>
                    </div>
                </a>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>

<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-floating-blocks-big > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>
