<div class="bx-menu-floating-blocks-info bx-def-font-grayed bx-def-font-small">
    <bx_if:counter3>
        <strong>__total_value__ __total_caption__ </strong>
    </bx_if:counter3>
    <bx_if:counter1>
        <span class="divider">&bull; </span><span>__value__ __caption__</span>
    </bx_if:counter1>
    <bx_if:counter2>
        <span class="divider">&bull; </span><span class="col-red1" onclick="location.href = '__link__'; return false">__value__ __caption__</span>
    </bx_if:counter2>
</div>