<div class="bx-profile-avatar-switcher bx-popup-width">
    <div class="bx-pas-cnt bx-def-padding-leftright bx-def-padding-sec-topbottom">
        <div class="bx-pas-list">__profile_switcher__</div>
        <bx_if:multiple_profiles_mode>
            <div class="bx-pas-list-link bx-def-padding-top bx-def-padding-sec-bottom bx-def-font-align-center">
                <a class="bx-btn" href="__url_switch_profile__">
                    <i class="sys-icon plus"></i><span class="bx-def-padding-sec-left"><bx_text:_sys_txt_my_profiles /></span>
                </a>
            </div>
        </bx_if:multiple_profiles_mode>
    </div>
</div>