<bx_repeat:row>
    <hr class="bx-def-hr" />
    <div class="sys-profile-switch-row bx-def-padding-leftright bx-def-padding-sec-topbottom">
        <div class="sys-profile-switch-row-unit">__unit__</div>
        <div class="sys-profile-switch-row-control bx-def-margin-left">
            <bx_if:active>
                <i class="sys-icon check-circle"></i>
            </bx_if:active>
            <bx_if:inactive>
                <a class="bx-btn bx-btn-small" href="__url_switch__">__button_title__</i></a>
            </bx_if:inactive>
        </div>
    </div>
</bx_repeat:row>