<div class="bx-profile-stats bx-def-border-radius-block">
    <div class="bx-profile-stats-cnt bx-def-padding">
	<div class="bx-ps-user">
            <div class="bx-ps-user-cnt">
                <div class="bx-ps-user-img">
                    __profile_unit__
                </div>
                <div class="bx-ps-user-info">
                    <div class="bx-ps-user-info-cnt bx-def-padding-left bx-def-box-sizing">
                        <div class="bx-ps-user-line bx-def-font-h2"><a href="__profile_url__" title="__profile_title_attr__">__profile_title__</a></div>
                        <div class="bx-ps-user-line bx-def-margin-thd-top">
                            <div><bx_include_auto:menu_icon.html /><span class="bx-def-padding-sec-left">__profile_acl_title__</span></div>
                        </div>
                        <!--<div class="bx-def-unit-line"><a href="__profile_edit_url__"><bx_text:_sys_edit_profile /></a></div>-->
                    </div>
                </div>
            </div>
	</div>
	<div class="bx-ps-menu bx-def-margin-top">__menu__</div>
    </div>
</div>