<div class="__style_prefix__-by-list__class__">
    <div class="__style_prefix__-by-list-cnt">
        <div class="__style_prefix__-by-items">
            <bx_repeat:list>
                <div class="__style_prefix__-by-item bx-def-padding-sec-topbottom bx-clearfix">
                    <div class="__style_prefix__-bi-user">__user_unit__</div>
                    <bx_if:show_reaction>
                        <div class="__style_prefix__-bi-icon"><i class="sys-icon __icon__">__emoji__</i></div>
                    </bx_if:show_reaction>
                </div>
            </bx_repeat:list>
        </div>
    </div>
</div>