<div class="bx_sys_default_padding">
    <div class="bx_groups_main_photo">
        <a title="__image_title__" href="__group_url__"><img alt="__image_title__" src="__image_url__" /></a>
    </div>
    <div class="bx_groups_main_info">
        <div class="bx_groups_main_info_text">
            <a href="__group_url__">__group_title__</a>
            <br />
            __author_title__ <a href="__author_url__">__author_username__</a>
        </div>
        <div class="bx_groups_main_info_img">
            __rating__
            <div class="clear_both"></div>
        </div>
        <div class="clear_both"></div>
    </div>
</div>
