<div class="sys_file_search_unit bx_groups_unit">
    <div class="sys_file_search_pic" style="background-image: url(__thumb_url__);">
        <a href="__group_url__"><img src="<bx_icon_url:spacer.gif />"/></a>
    </div>
    <div class="sys_file_search_header">
        <div class="sys_file_search_rate">__rate__</div>
        <div class="sys_file_search_size">__fans_count__ <bx_text:_bx_groups_fans /></div>
        <div class="clear_both"></div>
    </div>
    <div class="sys_file_search_title">
        <a href="__group_url__">__group_title__</a>
    </div>
    <div class="sys_file_search_from">
        <bx_text:_From />
        <a href="__author_url__">__author__</a>
    </div>
    <div class="sys_file_search_country">__country_city__</div>
    <div class="sys_file_search_when">__created__</div>
</div>
