<div class="bx-groups-unit bx-def-border bx-def-round-corners bx-def-color-bg-sec bx-def-margin-thd">
    <a class="bx-groups-cover" style="background-image:url(__cover_url__);" href="__content_url__">
        <img class="bx-def-thumb-size bx-def-border bx-def-round-corners" src="__thumb_url__" />
    </a>
    <div class="bx-groups-unit-title"><a href="__content_url__">__title__</a></div>
    <div class="bx-groups-unit-info bx-def-margin-sec-bottom bx-clearfix">
        <div class="bx-groups-unit-info-members bx-def-margin-sec-left bx-def-font-grayed bx-def-font-small">__members__</div>
        <div class="bx-groups-unit-info-btn bx-def-margin-sec-right">
            <bx_if:btn>
                <button class="bx-btn bx-btn-small" onclick="bx_conn_action(this, '__object__', 'add', '__id__')">__title__</button>
            </bx_if:btn>
        </div>
    </div>
</div>
