<div class="bx-mod-confirm bx-def-popup-width bx-def-color-bg-block">
    <div class="bx-mod-confirm-cnt bx-def-padding">
        __content__
        <div class="bx-form-input-wrapper bx-form-input-wrapper-input_set bx-def-padding-sec-top">
            <a class="bx-btn" href="javascript:void(0);" onclick="javascript:__click__;">
                <bx_text:_adm_txt_confirm_ok />
            </a>
            <a class="bx-btn bx-def-margin-sec-left" href="javascript:void(0);" onclick="javascript:$('.bx-popup-applied:visible').dolPopupHide()">
                <bx_text:_adm_txt_confirm_cancel />
            </a>
            <div class="bx-clear"></div>
        </div>
    </div>
</div>