<bx_include_auto:_sub_header.html />
<div class="bx-std-content-wrp bx-std-two-col bx-std-pc-stretch">
    <script defer language="javascript">
    <!--
    var oBxDolStudioPage = new BxDolStudioPage({
        sActionUrl: '<bx_url_studio />ajax.php'
    });
    -->
    </script>
    __page_caption_code__
    <div class="bx-std-page-columns bx-std-pc-stretch" id="bx-std-page-columns" __page_attributes__>
        <bx_include_auto:page_content_2_col.html />
    </div>
</div>
<bx_include_auto:_sub_footer.html />