<div class="bx-std-product bx-stdp-update bx-std-product-gallery bx-def-gal-unit-size" id="bx-std-update-__name__">
    <div class="bx-std-product-cnt bx-std-product-gallery-cnt bx-def-margin-sec bx-def-padding-sec rounded-2xl border border-b-zinc-200 bg-white">
        <!-- Title section -->
        <div class="bx-std-product-title">
            <div class="bx-std-pt-cnt">
                <div class="bx-std-pt-icon">
                    <a href="javascript:void(0)" onclick="javascript:__js_object__.info('__name__', this)">
                        <bx_if:no_icon>
                            <div class="bx-std-pt-icon-plate">
                                <i class="sys-icon __icon__"></i>
                            </div>
                        </bx_if:no_icon>
                        <bx_if:icon>
                            <img src="__icon_url__" />
                        </bx_if:icon>
                    </a>
                </div>
                <div class="bx-std-pt-content">
                    <div class="bx-std-pt-content-cnt">
                        <div class="bx-std-pt-title">
                            <a class="bx-def-font-color" href="javascript:void(0)" onclick="javascript:__js_object__.info('__name__', this)">__title__</a>
                        </div>
                        <div class="bx-std-pt-info">
                            <span class="bx-std-pt-versions">__versions__</span>
                            <span class="bx-std-pt-by"><bx_text:_by_author /></span>
                            <span class="bx-std-pt-vendor">__vendor__</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Actions section -->
        <div class="bx-std-product-actions bx-def-padding-sec-top">
            <div class="bx-std-pa-actions">
                <a class="bx-btn" onclick="javascript:__js_object__.update('__dir__', this)"><bx_text:_adm_btn_install_submit /></a>
            </div>
        </div>
    </div>
</div>