# Exclude system cache folders
packages/*
cache/*
cache_public/*
tmp/*
logs/*

# Exclude main config file
inc/header*
  
# Exclude OS X folder attributes
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

.*.swp

# Exclude tests files
build.properties
tests/vendor
tests/composer.phar
samples/img/*
modules/boonex/ether
modules/vendor
