<div class="bx-content-description-before">__content_description_before__</div>
<div class="bx-content-description">
    <bx_if:show_image_raw>
        <div class="bx-base-text-entity-image bx-def-margin-bottom bx-def-font-align-center">__image_raw__</div>
    </bx_if:show_image_raw>
    <bx_if:show_entry_cover>
        <div class="bx-base-text-entity-image mb-4 text-center __add_class__ relative flex justify-center items-center">
            <img class="aspect-video object-cover bg-cover rounded bx-image-edit-source-__unique_id__ __img_class__" style="background-image:url(__entry_image__); __image_settings__<bx_if:show_image_empty> display:none;</bx_if:show_image_empty>"  src="<bx_icon_url:spacer.gif />"/>
            <div class="w-full h-32 border border-gray-300 dark:border-gray-700 border-dashed bg-gray-50 dark:bg-gray-900/50 rounded bx-image-edit-placeholder-__unique_id__"<bx_if:show_image> style="display:none;"</bx_if:show_image>></div>
            __image_tweak__
        </div>
        __additional_code__
    </bx_if:show_entry_cover>
    <div class="bx-base-text-entity-content bx-market-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img bx-def-vanilla-html">
        <div class="bx-market-ec-title flex items-center">
            <bx_if:show_entry_icon>
                <div class="bx-market-ect-icon bx-def-ava-size relative flex-none mr-4 not-prose">
                    <img class="bx-def-ava-size bx-def-round-corners bx-image-edit-source-__unique_id__" <bx_if:show_icon_empty> style="display:none"</bx_if:show_icon_empty> src="__entry_icon__"/>
                    <div class="bx-def-ava-size bx-image-edit-placeholder-__unique_id__ flex justify-center items-center bg-gray-100 dark:bg-gray-700 rounded-md text-2xl" <bx_if:show_icon> style="display:none"</bx_if:show_icon>>
                        <i class="sys-icon __icon__"></i>
                    </div>
                    __icon_tweak__
                </div>
            </bx_if:show_entry_icon>
            <div class="bx-market-ect-title bx-base-text-title-bages flex-1">
                <h1>__entry_title__</h1>
                <div class="bx-base-bages-container flex">__badges__</div>
            </div>
        </div>
        <div class="bx-market-ec-description mt-4">__entry_text__</div>
    </div>
    <bx_if:show_screenshots>
        <div class="bx-market-ec-slideshow bx-def-margin-top">__screenshots__</div>
    </bx_if:show_screenshots>
</div>
<div class="bx-content-description-after">__content_description_after__</div>