<div id="__html_id__" class="__style_prefix__-counter-wrapper __style_prefix__-counter-wrapper-__type__ __style_prefix__-counter-wrapper-__type__-__style__ __class__">
    <div class="__style_prefix__-counter-wrapper-cnt flex items-center">
        <bx_if:show_text>__counter__</bx_if:show_text>
        <bx_if:show_link>
            <a class="sys-ac-link group" href="__href__" onclick="__onclick__" title="__title__">__counter__</a>
        </bx_if:show_link>
        __script__
    </div>
</div>