.bx-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
    -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
    transition: opacity 0.5s 0s, visibility 0s 0.5s;
}
.bx-sidebar.bx-sidebar-active {
    visibility: visible;
}
.bx-sidebar .bx-sidebar-cnt {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    
    -webkit-transition: -webkit-transform 0.5s 0s;
    -moz-transition: -moz-transform 0.5s 0s;
    transition: transform 0.5s 0s;
}
.bx-sidebar.bx-sidebar-site .bx-sidebar-cnt {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.bx-sidebar.bx-sidebar-account .bx-sidebar-cnt {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
.bx-sidebar.bx-sidebar-site.bx-sidebar-active,
.bx-sidebar.bx-sidebar-account.bx-sidebar-active {
    opacity: 1;

    -webkit-transition: opacity 0.3s 0s;
    -moz-transition: opacity 0.3s 0s;
    transition: opacity 0.3s 0s;
}
    
.bx-sidebar.bx-sidebar-site.bx-sidebar-active .bx-sidebar-cnt,
.bx-sidebar.bx-sidebar-account.bx-sidebar-active .bx-sidebar-cnt {   
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    -webkit-transition: -webkit-transform 0.5s 0s;
    -moz-transition: -moz-transform 0.5s 0s;
    transition: transform 0.5s 0s;
}

.bx-sidebar-item.bx-si-dropdown-has .bx-si-dropdown-icon {
    display: inline-block;
}
.bx-sidebar-item.bx-si-dropdown-open .bx-si-dropdown-icon {
    
}
.bx-sidebar-item.bx-si-dropdown-open .bx-sidebar-dropdown-content {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

/*--- Site Sidebar ---*/
.bx-sidebar-site-logo a:hover {
    text-decoration: none;
}

/*--- Account Sidebar ---*/
.bx-sidebar .bx-sb-theme-switcher .sys-icon {
    font-size: 1.5rem;
}

.bx-sidebar.bx-sidebar-account .bx-menu-account-popup > div {
    flex: 1 1 0%;
}
.bx-sidebar.bx-sidebar-account .bx-menu-account-popup > div.bx-menu-account-popup-profile-active {
    flex-grow: 0;
}
.bx-sidebar.bx-sidebar-account .bx-menu-account-popup > div.bx-menu-account-popup-profile-switcher {
    flex-basis: auto;
    overflow-y: auto;
}
.bx-sidebar.bx-sidebar-account .bx-menu-account-popup > div.bx-menu-account-popup-profile-create {
    flex-basis: auto;
    flex-grow: 2;
}

.bx-sidebar.bx-sidebar-account .bx-menu-account-popup-profile-active .bx-def-unit {
    margin: 0 1rem 0.5rem 1rem;
}

.bx-sidebar.bx-sidebar-account .bx-menu-account-popup-profile-notifications {
    margin: 0.5rem 0;
}
.bx-sidebar.bx-sidebar-account .bx-menu-account-popup-profile-notifications .bx-menu-item-addon.bx-def-unit-alert {
    top: auto;
    right: 0.5rem;
    padding: 0 0.25rem;
}

.bx-sidebar.bx-sidebar-account .bx-menu-account-popup-profile-create .bx-map-profile-create-cnt {
    padding-bottom: 0;
}
.bx-sidebar.bx-sidebar-account .bx-menu-account-popup-profile-create .bx-btn {
    justify-content: center;
    width: 100%;
}