<div class="__style_prefix__-by-lists">
    <div class="__style_prefix__-bls-header">
        <div class="__style_prefix__-bls-title bx-def-padding-leftright bx-def-border-bottom bx-def-box-sizing">__title__</div>
        <div class="__style_prefix__-bls-submenu">
            <div class="__style_prefix__-bls-submenu-cnt">__menu__</div>
        </div>
        <div class="__style_prefix__-bls-filler bx-def-border-bottom bx-def-box-sizing"></div>
    </div>
    <div class="__style_prefix__-bls-content">
        <bx_repeat:lists>__content__</bx_repeat:lists>
    </div>
</div>