<div class="bx-wiki-create-page bx-def-margin-top">
    __text__
    <br />
    <button class="bx-btn bx-def-margin-topbottom" onclick="bx_wiki_add_page(this, '__page_uri__', '__action_uri__')">__create_page__</button>
</div>
<script>
function bx_wiki_add_page(e, sPageUri, sActionUri) {

    var sActionUrl = bx_append_url_params('r.php?_q=' + sActionUri + '-action/' + 'add-page', {
        page: encodeURIComponent(sPageUri.replace(/[\s]+/, '-')),
    });

    // remove previous popup
    $(".bx-wiki-create-page-form").parents(".bx-popup-wrapper").remove();

    // show new popup
    $(window).dolPopupAjax({url: sUrlRoot + sActionUrl, closeOnOuterClick: false});
}
</script>
