<h3 class="bx-wiki-history-title bx-def-h3">__language__</h3>
<table class="bx-wiki-history bx-def-margin-sec-top">
<bx_repeat:revisions>
    <tr>
        <td class="bx-wiki-cell-rev bx-def-border bx-def-padding-thd"><a href="__rev_url__">__revision__</a></td>
        <td class="bx-wiki-cell-lang bx-def-border bx-def-padding-thd">__language__</td>
        <td class="bx-wiki-cell-time bx-def-border bx-def-padding-thd">__timejs__</td>
        <td class="bx-wiki-cell-profile bx-def-border bx-def-padding-thd"><a href="__author_url__">__author_name__</a></td>
        <td class="bx-wiki-cell-notes bx-def-border bx-def-padding-thd">__notes__</td>
    </tr>
</bx_repeat:revisions>
</table>
<div>__msg__</div>
<button class="bx-btn bx-def-margin-topbottom" onclick="$('.bx-popup-applied:visible').dolPopupHide();">__close__</button>
