<div class="bx-wiki-controls bx-clearfix">
    <div class="bx-wiki-controls-menu">
        <bx_if:menu>
            <a bx-popup-id="bx-wiki-menu-__block_id__" href="javascript:void(0);" onclick="bx_menu_popup('sys_wiki', this, {}, {block_id:'__block_id__', wiki_obj:'__obj__'})"><i class="bx-def-label sys-icon sys-colored ellipsis-v"></i></a>
        </bx_if:menu>
    </div>
    <div class="bx-wiki-controls-info bx-def-font-grayed bx-def-font-small">__info__</div>
</div>
<script>
    window.glBxDolWiki__block_id__ = new BxDolWiki('__obj__', $('#bx-page-wiki-container-__block_id__'), __options__);

    if (location.hash.length) {
        var e = $('#' + location.hash.substr(1));
        e.css('background-color', 'yellow');
        setTimeout(function () {
            e.addClass('bx-wiki-trans');
            setTimeout(function () {
                e.css('background-color', 'transparent');
            }, 1500);
        }, 100);
    }
</script>
