
/* common styles */
.bx-layout-row.bx-lr-dump {
    display: block;
}
.bx-layout-row.bx-lr-dump .adm-bp-cell {
    margin-top: 0;
    margin-bottom: 0;
    border-style: dashed;
}

/* menu visibility */
.bx-layout-column-thin .bx-def-thin-col-hide{
    display: none;
}
.bx-layout-column-half .bx-def-half-col-hide{
    display: none;
}
.bx-layout-column-wide .bx-def-wide-col-hide{
    display: none;
}
.bx-layout-column-full .bx-def-full-col-hide{
    display: none;
}

/* Grapesjs integration */
/*
.bx-cp-top.gjs-pn-panel {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;

    display: flex;
    justify-content: space-between;   
}
.bx-cp-top .bx-cp {
    position: relative;
}
.bx-cp-top .bx-cp.bx-cp-views-container {
    width: 8rem;
}
*/

.bx-creative-content.gjs-editor-cont {
    min-height: 50rem;
    border: 1px solid #dddddd;
}

/*
.bx-creative-content .gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
}
*/
