<div class="bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size bx-def-padding-sec">
    <div class="bx-base-text-unit-cnt bx-def-box bx-def-round-corners bx-def-color-bg-box">
        <div class="bx-albums-unit-images-cont">
            <div class="bx-albums-unit-images bx-def-box-round-corners-int bx-clearfix">
                <bx_repeat:browse><a class="bx-albums-unit-image" title="__title_attr__" href="__url__"><img alt="__title_attr__" src="__img_url__" /></a></bx_repeat:browse>
            </div> 
        </div>
        <div class="bx-albums-unit-text-cont bx-def-padding-leftright bx-def-padding-sec-topbottom bx-def-font-align-center">
            <div class="bx-base-text-unit-title bx-def-font-bold"><a class="bx-def-font-color" href="__content_url__">__title__</a></div>
            <div class="bx-base-text-unit-info bx-def-font-middle">
                <bx_if:meta><div class="bx-base-general-unit-meta">__meta__</div></bx_if:meta>
            </div>
        </div>
    </div>
</div>
<script>
    $('.bx-albums-unit-images').flickity({
        cellSelector: '.bx-albums-unit-image',
        cellAlign: 'left',
        imagesLoaded: true,
        wrapAround: true,
        pageDots: false
    });
</script>