@import url(../../../../../../../studio/template/css/forms.css);

/* form inputs */
.bx-form-input-slider,
.bx-form-input-doublerange,
.bx-form-input-select_multiple,
.bx-form-input-select,
.bx-form-input-radio_set,
.bx-form-input-checkbox_set,
.bx-form-input-number,
.bx-form-input-time,
.bx-form-input-datepicker,
.bx-form-input-datetime,
.bx-form-input-textarea,
.bx-form-input-text,
.bx-form-input-wrapper-password {
    border-color:#6097b0;
}

.bx-form-input-slider:focus,
.bx-form-input-doublerange:focus,
.bx-form-input-number:focus,
.bx-form-input-time:focus,
.bx-form-input-datepicker:focus,
.bx-form-input-datetime:focus,
.bx-form-input-textarea:focus,
.bx-form-input-text:focus,
.bx-form-input-wrapper-password.bx-form-input-focus {
    border-color:#57889e;
}