
@import url(../../../../base/text/template/css/main.css);

.bx-cnv-collaborator {
    float:right;
    white-space:nowrap;
}

.bx-cnv-preview {
    position:relative;
}

.bx-cnv-title {    
    padding-right:2em;
    white-space:nowrap;    
    text-overflow:ellipsis;
    overflow:hidden;
}

.bx-cnv-preview .bx-def-unit-alert-middle {
    bottom:auto;
    top:0;
}

.bx-cnv-preview .bx-def-unit-info {
    line-height:1.15em;
}
