@media (min-width:720px) and (max-width:1024px) {

.bx-grid-table .bx-cnv-collaborator {
    display:inline;
    display:inline-block;
}

.bx-grid-table .bx-grid-header-collaborators span {
    display:inline;
}

} /* @media end */
