<div id="__id_wrap__">

    <bx_if:display_header>
        <div class="bx-grid-header bx-def-margin-top">

            <bx_if:filter>
                <div style="float:left;">
                    __controls__
                </div>  
            </bx_if:filter>

            <bx_if:actions_independent>
                <div style="float:right;">
                    __actions_independent__
                </div>
            </bx_if:actions_independent>

            <div class="bx-clear"></div>
        </div>
    </bx_if:display_header>
    
</div>

<script>
    $(document).ready(function() {
        if (typeof(glGrids) == 'undefined')
            glGrids = {};
        if (undefined == glGrids.__object__) {
            glGrids.__object__ = new BxDolGrid('__object__', {
                sortable: __sortable__,
                sorting: __sorting__,
                paginate_get_start: '__paginate_get_start__',
                paginate_get_per_page: '__paginate_get_per_page__',
                start: __start__,
                per_page: __per_page__,
                filter: '__filter__',
                order_field: '__order_field__',
                order_dir: '__order_dir__',
                text_search_input: '<bx_text_js:_sys_grid_search />',
                popup_options: __popup_options__,
                query_append: __query_append__,
                confirm_messages: __confirm_messages__,
                columns: __columns__
            });
        }
    });
</script>