<div id="__html_id__" class="__style_prefix__-views">
    <div id="__html_id_content__" class="__style_prefix__-v-cnt">
        __content__
        <div id="__html_id_view_placeholder__" class="__style_prefix__-view __style_prefix__-view-holder bx-def-bc-margin" style="display:none">
            <div class="flex-1 mb-4 ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-800 rounded-md">
                <div class="flex items-center p-4">
                    <div class="flex-0 h-10 w-10 bg-gray-200 dark:bg-gray-700 rounded-full">&nbsp;</div>
                    <div class="flex-1 ml-4 space-y-2 animate-pulse">
                        <div class="bg-gray-300 dark:bg-gray-600 h-3 w-1/3 rounded-xl">&nbsp;</div>
                        <div class="bg-gray-200 dark:bg-gray-600 h-3 w-1/2 rounded-xl">&nbsp;</div>
                    </div>
                </div>
                <div class="h-48 m-1 bg-gray-200 dark:bg-gray-700 rounded animate-pulse">&nbsp;</div>
                <div class="p-4 space-y-4 animate-pulse">
                    <div class="h-5 w-2/3 bg-gray-300 dark:bg-gray-600 rounded-full">&nbsp;</div>
                    <div class="flex space-x-1">
                        <div class="bg-gray-200 dark:bg-gray-700 h-3 w-1/3 rounded-xl"></div>
                        <div class="bg-gray-200 dark:bg-gray-700 h-3 w-2/3 rounded-xl"></div>
                    </div>
                    <div class="bg-gray-200 dark:bg-gray-700 h-3 w-2/3 rounded-xl"></div>
                </div>
            </div>
            <div class="flex-1 mb-4 p-4 ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-800 rounded-md">
                <div class="flex items-center">
                    <div class="flex-0 h-10 w-10 bg-gray-200 dark:bg-gray-700 rounded-full">&nbsp;</div>
                    <div class="flex-1 ml-4 space-y-2 animate-pulse">
                        <div class="h-3 w-1/3 bg-gray-300 dark:bg-gray-600 rounded-xl">&nbsp;</div>
                        <div class="h-3 w-1/2 bg-gray-200 dark:bg-gray-600 rounded-xl">&nbsp;</div>
                    </div>
                </div>
                <div class="mt-4 space-y-2 animate-pulse">
                    <div class="h-3 bg-gray-200 dark:bg-gray-600 rounded-xl">&nbsp;</div>
                    <div class="h-3 bg-gray-200 dark:bg-gray-600 rounded-xl">&nbsp;</div>
                    <div class="h-3 bg-gray-200 dark:bg-gray-600 rounded-xl">&nbsp;</div>
                    <div class="h-3 bg-gray-200 dark:bg-gray-600 rounded-xl">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>