<div class="bx-std-login-form text-gray-800">
    <div class="p-6">
        <div class="bx-std-lf-header">
            <div class="bx-std-lf-title text-2xl text-gray-900 font-semibold"><bx_text:_adm_txt_login_title /></div>
            <div class="bx-std-lf-subtitle text-sm text-gray-500"><bx_text:_adm_txt_login_subtitle /></div>
        </div>
        <div class="bx-std-lf-form mt-6">
            <form class="bx-std-login-form" action="__action_url__" method="post" onsubmit="return validateLoginForm(this);">
                <input type="hidden" name="role" value="__role__" />
                <input type="hidden" name="csrf_token" value="__csrf_token__" />
                <input type="hidden" name="relocate" value="__relocate_url__" />
                <div>
                    <div id="bx-form-element-email" class="bx-form-element-wrapper">
                        <div class="bx-form-element">
                            <div class="bx-form-caption text-sm font-medium"><bx_text:_adm_txt_login_email /></div>
                            <div class="bx-form-value">
                                <div class="bx-form-input-wrapper bx-form-input-wrapper-text">
                                    <input id="admin_email" type="text" name="ID" class="bx-def-font-inputs bx-form-input-text w-full" placeholder="<bx_text_attribute:_adm_txt_login_email_placeholder />" tabindex="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="bx-form-element-password" class="bx-form-element-wrapper mt-4">
                        <div class="bx-form-element">
                            <div class="bx-form-caption text-sm font-medium"><bx_text:_adm_txt_login_password /></div>
                            <div class="bx-form-value">
                                <div class="bx-form-input-wrapper bx-form-input-wrapper-password bx-inited">
                                    <input id="admin_password" type="password" name="Password" class="bx-def-font-inputs bx-form-input-password" placeholder="<bx_text_attribute:_adm_txt_login_password_placeholder />" tabindex="2" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="bx-form-element-login" class="bx-form-element-wrapper mt-4">
                        <div class="bx-form-element">
                            <div class="bx-form-value">
                                <div class="bx-form-input-wrapper bx-form-input-wrapper-submit">
                                    <input id="admin_login_form_submit" type="submit" value="<bx_text_attribute:_adm_btn_login_submit />" name="login" class="bx-def-font-inputs bx-form-input-submit bx-btn bx-btn-primary justify-center w-full text-center" tabindex="3" />
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="bx-def-hr"></div>
    <div class="p-6">
        <div class="bx-std-lf-forgot">
            <a class="bx-btn w-full justify-center text-center" href="__forgot_password_url__" tabindex="4"><bx_text:_adm_txt_forgot_password /></a>
        </div>
    </div>
</div>
