/* attachments */
.bx-base-general-attachments .bx-base-general-attachment video,
.flickity-enabled .flickity-viewport .flickity-slider .bx-base-general-attachment video {
    max-width:100%;
    max-height:100%;
}
.bx-base-general-attachment a div {
    text-overflow: ellipsis;
    overflow: hidden;
}
.bx-base-general-attachment a canvas {
    position:absolute;
    top:0;
    left:0;
}

.bx-base-general-attachment-sound {
    position:relative;
    height:100%;
}
.bx-base-general-attachment-sound-file-name,
.bx-base-general-attachment-sound-player {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.bx-base-general-attachment-sound-file-name {
    height:9.25rem;
}
.bx-base-general-attachment-sound-player {
    height:3.25rem;
}

/* unit meta */
.bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor > li {
    white-space: nowrap;
}
.bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor > li.bx-menu-item-nl {
    display: none;
    width: 100%;
    height: 0;
}
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor > li.bx-menu-item-nl {
    display: block;
}
.bx-base-general-unit-meta ul.bx-menu-custom li:first-child .bx-base-general-unit-meta-div {
    display: none;
}
.bx-base-general-unit-meta ul.bx-menu-custom li .bx-metatags-keyword {
    margin: 0px;
    line-height: normal;
}

/* Browsing by labels */
.bx-base-general-lables-tree-parent-0, 
.bx-base-general-lables-tree-parent-0 ul {
    list-style-type: none;
    padding-left: 2rem;
}
.bx-base-general-lables-tree-parent-0 {
    margin: 0px;
}
.bx-base-general-lables-tree-parent-0 li {
    padding: 0px;
}
.bx-base-general-lables-tree-parent-0 li i.sys-icon {
    display: inline-block;
    width: 0.625rem;
    margin-left: -1rem;
}

/* Badges */
div.bx-badges-list {
    display: inline-flex;
    align-items: center;
    justify-content:center;
}
div.bx-badge {
	display: flex;
    align-items:center;
	text-align: center;
    color:#fff;	
	max-width: 9rem;
    min-width: 1.25rem;
	vertical-align: middle;
	height: 1.25rem;
	line-height: 1.25rem;
	padding: 0 0.5rem ;
	border-radius: 2em;
	white-space: nowrap; 
	text-overflow: ellipsis; 
    overflow: hidden;
}
div.bx-badges-list div.bx-badge {
    margin:0 0.25rem;
}
div.bx-badges-list div.bx-badge:first-child {
    margin-left: 0;
}
img.bx-badge-icon,
svg.bx-badge-icon{
    width: 16px !important;
    height: 16px !important;
    margin-right: 0.5rem !important;
}
div.bx-badge span{
	text-overflow: ellipsis; 
    overflow: hidden;
}
div.bx-badge:not(.bx-badge-compact-to) .sys-icon{
    margin-right: 0.5rem;
}
div.bx-badge:not(.bx-badge-compact-to) .sys-icon,
div.bx-badge:not(.bx-badge-compact-to) span{
	color: inherit !important;
}
div.bx-badge.bx-badge-compact{
	width: 1.25rem;
	text-align: center;
    padding: 0px;
}
div.bx-badge.bx-badge-compact-to{
	padding: 0;
	width: auto;
}
div.bx-badge.bx-badge-compact .sys-icon{
	width: 1.25rem;
}
div.bx-badge.bx-badge-compact .sys-icon,
div.bx-badge.bx-badge-compact img{
    margin:0px auto;
}
#bx-popup-ajax-wrapper-sys_set_badges li span{
    display: flex;
    margin-left: 0px;
    align-items: baseline;
}
#bx-popup-ajax-wrapper-sys_set_badges li INPUT[type="checkbox"] {
    margin-right: 0.5rem;
}

/* more menu */
.bx-menu-submenu-more-auto .sys-action-do-icon,
.bx-menu-submenu-more-auto .bx-vote-do-icon,
.bx-menu-submenu-more-auto .bx-favorite-do-icon,
.bx-menu-submenu-more-auto .bx-feature-do-icon,
.bx-menu-submenu-more-auto .bx-report-do-icon,
.bx-menu-submenu-more-auto .bx-score-do-icon {
    height: 1.25rem;
    width: 1.25rem;
    align-items: center;
    justify-content: center;
}
.sys-action-counter-holder .bx-view-counter-label {
    padding: 0px;
    
}