<div class="bx-polls-entity-actions">__menu__</div>
<div class="bx-polls-entity-entity-content bx-content-padding-block">
    <div class="bx-content-description-before">__content_description_before__</div>
    <div class="bx-content-description">
        <div class="bx-pull-combined-entity-content bx-base-text-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img bx-def-vanilla-html">
            __entry_text__
        </div>
        <bx_if:show_image>
            <div class="bx-base-text-entity-image bx-def-margin-top bx-def-font-align-center">
                <img class="bx-def-border-radius-block" src="__entry_image__" />
            </div>
        </bx_if:show_image>
        <bx_if:show_subentries>
            <div class="bx-poll-entity-subentries bx-def-margin-top">__entry_subentries__</div>
        </bx_if:show_subentries>
    </div>
    <div class="bx-content-description-after">__content_description_after__</div>
</div>