
/* unit */

.bx-notes-unit:first-child h1 {
    padding-top:0;
}

.bx-notes-unit h1 {
    margin:0;
}

.bx-notes-unit .sys-icon {
    vertical-align:middle;
}

.bx-notes-unit-no-thumb,
.bx-notes-unit-thumb {
    display:block;
    float:right;
    overflow:hidden;
}

.bx-notes-unit-no-thumb {
    overflow:hidden;
}

.bx-notes-unit-summary p {
    margin:0;
}

.bx-notes-unit-info {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.bx-notes-unit-gallery {
    float:left;
}

.bx-notes-unit-gallery .bx-notes-unit-no-thumb,
.bx-notes-unit-gallery .bx-notes-unit-thumb {
    float:none;
    line-height:1.25em;
}

.bx-notes-unit-gallery h2 {
    line-height:1.25em;
    max-height:3.75em;
    overflow:hidden; 
}

.bx-notes-wrapper {
    margin-bottom:0;
}

/* view page */
.bx-notes-entity-content p:first-child,
.bx-notes-entity-content h1:first-child {
    margin-top:0;
}

.bx-notes-entity-share .bx-vote,
.bx-notes-entity-share .bx-tl-share,
.bx-notes-entity-share .bx-social-sharing {
	position: relative;
	float: left;
}
