.unaca {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.unaca-a {
  display: none;
}

.unaca-cc {
    position: absolute;
    width: 100%;
    height: 100%;
}
.unaca-c-b{
    position: absolute;
    top: calc(50% - 30px);
    left:-1rem;
}
.unaca-c-f{
    position: absolute;
    top: calc(50% - 30px);
    right:-1rem;
}

.unaca-c {
  justify-content: center;
  transition: 0.3s all;
    
  z-index: 1;
}
      
.unaca-c label{
    height: 48px;
    width: 48px;
    display: block;
    z-index: 100;
    position: absolute;
    top:0px;
    left:0px;
     cursor: pointer;
}
.unaca-c svg{
    position: absolute;
    top:0px;
    left:0px;
}

.unaca-s {
    overflow: hidden;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.unaca-t {
    font-size: 0;
     margin-bottom: 0px !important;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow: visible !important;
    scroll-behavior: smooth;
    scroll-snap-type: x var(--tw-scroll-snap-strictness);
    text-align: left !important;
}

.unaca-t > div {
    display: inline-flex !important;
    vertical-align: top !important;
    white-space: normal !important;
    width: 25% !important;
    scroll-snap-align: center;
}
.bx-layout-column-wide .unaca-t > div {
     width: 33.3% !important;
}

.bx-layout-column-thin .unaca-t > div {
     width: 100% !important;
}

.bx-layout-column-half .unaca-t > div {
     width: 50% !important;
}

.unaca-t .bx-base-text-unit-showcase {
    margin: 0;
    padding: 0.5rem;
}

.bx-media-phone .unaca-cc {
    display: none;
}

.bx-media-phone .unaca-t {
    overflow-x: auto !important;
    width: auto;
}
.bx-media-phone .unaca-t > div {
    width: 100% !important;
}

.bx-media-tablet .unaca-cc {
    display: none;
}

.bx-media-tablet .unaca-t {
    overflow-x: auto !important;
    width: auto;
}
.bx-media-tablet .unaca-t > div {
    width: 50% !important;
}