/*-- Participants --*/
.bx-forum-participants {
    position:relative;
}
.bx-forum-participants.left,
.bx-forum-participants.none {
    float: left;
}
.bx-forum-participants.right {
    float: right;
}
.bx-forum-participant {
    position: relative;
    display: block;
}
.bx-forum-participants.left .bx-forum-participant,
.bx-forum-participants.none .bx-forum-participant {
    float: left;
    margin-right: 0.5rem;
}
.bx-forum-participants.left .bx-forum-participant:last-child,
.bx-forum-participants.none .bx-forum-participant:last-child {
    margin-right: 0;
}
.bx-forum-participants.right .bx-forum-participant {
    float: right;
    margin-left: 0.5rem;
}
.bx-forum-participants.right .bx-forum-participant:last-child {
    margin-left: 0;
}

.bx-forum-participant-alert-last-replier {
    left:0;
    right:auto;
}

.bx-forum-participant-alert-author {
    left:0;
    right:auto;
    top:auto;
    bottom:0;
}

/*-- Replies --*/
.cmt.bx-def-box .cmts.cmts-margin {
    margin-top: 0px;
}
.cmt-attached-preview.bx-forum-attached-preview {
    display: block;
    float: none;

    width: auto;
    height: 2rem;
    line-height: 2rem;
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}
.cmt-attached-preview.bx-forum-attached-preview img,
.cmt-attached-preview.bx-forum-attached-preview .sys-icon {
    display: inline-block;
    vertical-align: middle;

    width: 2rem;
    height: 2rem;
}
.cmt-attached-preview.bx-forum-attached-preview .sys-icon {
	text-align: center;
	font-size: 1.5rem;
}

/*-- Preview --*/
.bx-forum-preview {
    position:relative;
}

.bx-forum-title {    
    padding-right:2em;
    white-space:nowrap;    
    text-overflow:ellipsis;
    overflow:hidden;
}

/*-- Grid --*/
.bx-forum-grid .bx-grid-table tr.bx-def-color-bg-hl {
    background-color: transparent;
}

.bx-forum-grid-field-replies .bx-def-unit-alert-middle {
    position:static;
    display:inline-block;
    vertical-align:middle;
}

.bx-forum-grid-field-replies > span {
    vertical-align:middle;
}

.bx-forum-grid-field-replies {
    white-space:nowrap;
}

.bx-forum-grid-field-label {
    display:inline-block;
}

.bx-forum-preview .bx-forum-grid-field-label {
    position: absolute;
    right: 0;
    top: 0;
}
.bx-forum-gpm-main .bx-base-general-unit-meta-item{
    font-size: 0.875rem !important; 
    color:rgb(107,114,128) !important;
}

.bx-forum-preview .bx-def-unit-info {
    line-height:1.15em;
}

.bx-grid-table-cell-author {
    vertical-align: top;
}

.bx-grid-table-cell-author .bx-base-pofile-unit-wo-info {
	display: inline-block;
}

.bx-forum-grid-preview .bx-forum-gp-title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.bx-forum-grid-preview .bx-forum-gp-title a {
    display: inline-block;
}

.bx-forum-grid-preview .bx-forum-gp-title a,
.bx-forum-grid-preview .bx-forum-gp-text {
    font-size: 1rem; 
    line-height: 1.5; 
    font-weight: 500; 
}

.bx-forum-grid-preview .bx-forum-gp-title .sys-icon,
.bx-forum-grid-preview .bx-forum-gp-text .sys-icon {
    margin-right:0.25rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top {
    -webkit-justify-content: space-between;
    justify-content: space-between;

    padding-bottom: 0.2rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom {
    padding-top: 0.2rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta .bx-menu-custom.bx-menu-custom-hor {
    margin: 0;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-menu-custom.bx-menu-custom-hor {
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;

    max-width: 100%;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-menu-custom.bx-menu-custom-hor li {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    
    text-overflow: ellipsis;
    overflow: hidden;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-menu-custom.bx-menu-custom-hor li.bx-menu-item-reply-text {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-menu-custom.bx-menu-custom-hor li .bx-base-general-unit-meta-item {
    display: contents;
}
.bx-layout-col.bx-layout-column-thin .bx-forum-grid-preview .bx-forum-gp-meta .bx-def-media-phone-hide {
    display: none;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .sys-action {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter div.cmt-counter-icon,
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter div.bx-base-pofile-unit-wo-info {
    margin-left: -4px;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter .bx-def-icon-size {
    width: 1.0rem;
    height: 1.0rem;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter .bx-def-icon-size,
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter p.bx-base-pofile-unit-thumb.bx-def-icon-size {
    line-height: normal;
    font-size: 0.6rem;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter div.cmt-counter-icon .sys-icon {
    font-size: 0.6rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-base-pofile-unit {
    width: auto;
    margin: 0;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-def-icon-size {
    width: 1.0rem;
    height: 1.0rem;

    line-height: 0.875rem;
    font-size: 0.6rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-def-icon-size-min-height {
    min-height: 1.0rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-def-icon-size-max-height {
    max-height: 1.0rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-def-icon-size-left-indent {
    margin-left: 1.25rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-def-unit-img .bx-base-pofile-unit-thumb {
    display: block;
    border-width: 1px;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-base-pofile-unit-online {
    display: none;
}

.bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li > span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    border-width: 0px;
    line-height: 1.5rem;
}
.bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li a {
    display: inline-block;
}
.bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li .sys-icon:not(.cmt-counter-icon) {
    width: 1.0rem;
    height: 1.0rem;
    text-align: center;
    line-height: 1.0rem;
    vertical-align: baseline;
}
.bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li .cmt-element-holder,
.bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li .cmt-counter-holder {
    line-height: normal;
}

.bx-forum-category-list-item a{
    display: flex;
    align-items: center;
}
.bx-forum-category-list-item-selected{
    background:  #ccc;
}
.bx-forum-icon{
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.25rem;
}
.bx-forum-icon svg,
.bx-forum-icon .sys-icon{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}
.bx-forum-thumb{
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 2rem;
    line-height: 2.9rem;
    background: rgb(107,114,120);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
}
.bx-forum-thumb img{
    border-radius: 500px;
}
.bx-forum-thumb .sys-icon{
    width: 3rem;
    height: 3rem;
    color: #fff;
    font-size: 1.75rem;
}
.bx-forum-thumb .sys-icon-svg{
    width: 2.4rem;
    height: 2.4rem;
}

.bx-forum-grid-status{
    display: flex;
}
.bx-grid-table-cell-rating .sys-action-cnt{
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(209,213,219) !important;
    border-radius: 0.75rem;
}
.bx-grid-table-cell-rating .sys-action-cnt > SPAN{
    margin-left: 0px !important;
    text-align: center;
    border-collapse: collapse;
}
.bx-grid-table-cell-rating .bx-score{
    display: block;
    margin: 0px !important;
}
.bx-grid-table-cell-participants .cmt-counter{
    float: right;
}
.bx-forum-grid td{
    vertical-align: top;
}
.bx-forum-grid tr:hover{
    cursor: pointer;
}
.bx-forum-grid tr td:first-child{
    padding-left: 0.5rem;
}
.bx-forum-grid tr td:last-child{
    padding-right: 0.5rem;
}
.bx-forum-grid tr:hover td:first-child{
    border-radius: 0.375rem 0 0 0.375rem;
}
.bx-forum-grid tr:hover td:last-child{
    border-radius: 0 0.375rem 0.375rem 0;
}
.bx-media-phone .bx-forum-grid {
    width: 100%;
    min-width:inherit !important;
}
.bx-media-phone .bx-forum-grid tr{
    display: grid;
	grid-template-areas:
    "rating text"
	"rating participants";
	
    grid-template-rows: auto auto;
	grid-template-columns: 34px 1fr;
    margin-bottom: 1rem;
}

.bx-media-phone .bx-forum-grid table{
    width: 100% !important;
    min-width: inherit !important;
}
.bx-media-phone .bx-forum-grid td{
    width: auto !important;
}
.bx-media-phone .bx-forum-grid .bx-grid-table-cell-rating{
    grid-area: rating;
    padding-left: 0px;
}
.bx-media-phone .bx-forum-grid .bx-grid-table-cell-category{
    grid-area: category;
    display: none;
}
.bx-media-phone .bx-forum-grid .bx-grid-table-cell-text{
    grid-area: text;
    padding-bottom: 0px;
}
.bx-media-phone .bx-forum-grid .bx-grid-table-cell-participants{
    grid-area: participants;
    padding-top: 0px;
}
.bx-media-phone .bx-grid-table-cell-participants .cmt-counter{
    float:none
}
/* unit */
.bx-forum-unit .bx-base-text-unit-title h2{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    color: rgb(17,24,29);
}
.bx-forum-unit .bx-base-general-unit-meta-item{
    font-size: 0.875rem !important; 
    color:rgb(107,114,128) !important;
}
.bx-forum-unit .bx-base-text-unit-no-thumb{
    background: linear-gradient(to bottom, #356699 0%,#b1cee2 100%);
    text-align: left;
    color:#fff;
    border-radius: 7px 7px 0 0;
}

