/*-- Participants --*/
.bx-forum-participants {
    position:relative;
}
.bx-forum-participants.left,
.bx-forum-participants.none {
    float: left;
}
.bx-forum-participants.right {
    float: right;
}
.bx-forum-participant {
    position: relative;
    display: block;
}
.bx-forum-participants.left .bx-forum-participant,
.bx-forum-participants.none .bx-forum-participant {
    float: left;
    margin-right: 0.5rem;
}
.bx-forum-participants.left .bx-forum-participant:last-child,
.bx-forum-participants.none .bx-forum-participant:last-child {
    margin-right: 0;
}
.bx-forum-participants.right .bx-forum-participant {
    float: right;
    margin-left: 0.5rem;
}
.bx-forum-participants.right .bx-forum-participant:last-child {
    margin-left: 0;
}

.bx-forum-participant-alert-last-replier {
    left:0;
    right:auto;
}

.bx-forum-participant-alert-author {
    left:0;
    right:auto;
    top:auto;
    bottom:0;
}

/*-- Replies --*/
.cmt.bx-def-box .cmts.cmts-margin {
    margin-top: 0px;
}
.cmt-attached-preview.bx-forum-attached-preview {
    display: block;
    float: none;

    width: auto;
    height: 2rem;
    line-height: 2rem;
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}
.cmt-attached-preview.bx-forum-attached-preview img,
.cmt-attached-preview.bx-forum-attached-preview .sys-icon {
    display: inline-block;
    vertical-align: middle;

    width: 2rem;
    height: 2rem;
}
.cmt-attached-preview.bx-forum-attached-preview .sys-icon {
    text-align: center;
    font-size: 1.25rem;
}

/*-- Preview --*/
.bx-forum-preview {
    position:relative;
}

.bx-forum-title {    
    padding-right:2em;
    white-space:nowrap;    
    text-overflow:ellipsis;
    overflow:hidden;
}

/*-- Grid --*/
.bx-forum-grid .bx-grid-table tr.bx-def-color-bg-hl {
    background-color: transparent;
}

.bx-forum-grid-field-replies .bx-def-unit-alert-middle {
    position:static;
    display:inline-block;
    vertical-align:middle;
}

.bx-forum-grid-field-replies > span {
    vertical-align:middle;
}

.bx-forum-grid-field-replies {
    white-space:nowrap;
}

.bx-forum-grid-field-label {
    display:inline-block;
}

.bx-forum-preview .bx-forum-grid-field-label {
    position: absolute;
    right: 0;
    top: 0;
}
#bx-forum-snippet-meta-main{
	margin-left: -8px;
}
.bx-forum-preview .bx-def-unit-info {
    line-height:1.15em;
}

.bx-grid-table-cell-author {
    vertical-align: top;
}

.bx-grid-table-cell-author .bx-base-pofile-unit-wo-info {
	display: inline-block;
}

.bx-forum-grid-preview .bx-forum-gp-title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.bx-forum-grid-preview .bx-forum-gp-title a {
    display: inline-block;
}

.bx-forum-grid-preview .bx-forum-gp-title a,
.bx-forum-grid-preview .bx-forum-gp-text {
    font-size: 1rem; 
    line-height: 125%; 
    font-weight: 600; 
}

.bx-forum-grid-preview .bx-forum-gp-title .sys-icon,
.bx-forum-grid-preview .bx-forum-gp-text .sys-icon {
    margin-right:0.25rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.bx-forum-grid-preview .bx-forum-gp-meta .bx-menu-custom.bx-menu-custom-hor {
    margin: 0;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-menu-custom.bx-menu-custom-hor {
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;

    max-width: 100%;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-menu-custom.bx-menu-custom-hor li {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    
    text-overflow: ellipsis;
    overflow: hidden;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-menu-custom.bx-menu-custom-hor li.bx-menu-item-reply-text {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-menu-custom.bx-menu-custom-hor li .bx-base-general-unit-meta-item {
    display: contents;
}
.bx-layout-col.bx-layout-column-thin .bx-forum-grid-preview .bx-forum-gp-meta .bx-def-media-phone-hide {
    display: none;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .sys-action {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter div.cmt-counter-icon,
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter div.bx-base-pofile-unit-wo-info {
    margin-left: -4px;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter .bx-def-icon-size {
    width: 1.0rem;
    height: 1.0rem;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter .bx-def-icon-size,
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter p.bx-base-pofile-unit-thumb.bx-def-icon-size {
    line-height: normal;
    font-size: 0.6rem;
}
.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-top .bx-forum-gpm-counters .cmt-counter div.cmt-counter-icon .sys-icon {
    font-size: 0.6rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-base-pofile-unit {
    width: auto;
    margin: 0;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-def-icon-size {
    width: 1.0rem;
    height: 1.0rem;

    line-height: 0.875rem;
    font-size: 0.6rem;
}
.bx-forum-grid-preview .bx-menu-item-date .text-sm{
    font-size: 12px;
    font-weight: 500;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-def-icon-size-min-height {
    min-height: 1.0rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-def-icon-size-max-height {
    max-height: 1.0rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-def-icon-size-left-indent {
    margin-left: 1.25rem;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-def-unit-img .bx-base-pofile-unit-thumb {
    display: block;
    border-width: 1px;
}

.bx-forum-grid-preview .bx-forum-gp-meta.bx-forum-gpm-bottom .bx-forum-gpm-reply .bx-menu-item-reply-author .bx-base-pofile-unit-online {
    display: none;
}

.bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li > span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    border-width: 0px;
    line-height: 1.5rem;
}
.bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li a {
    display: inline-block;
}
.bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li .sys-icon:not(.cmt-counter-icon) {
    width: 1.0rem;
    height: 1.0rem;
    text-align: center;
    line-height: 1.0rem;
    vertical-align: baseline;
}
.bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li .cmt-element-holder,
.bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li .cmt-counter-holder {
    line-height: normal;
}

.bx-forum-category-list-item a{
    display: flex;
    align-items: center;
}
.bx-forum-category{
    display: flex;
    line-height: initial;
    font-weight: 500;
    color: #111928;
}
.bx-forum-category-list-item-selected{
    background:  #F3F4F6;
    border-radius: 8px;
}
.dark .bx-forum-category-list-item-selected{
	background-color: rgba(55, 65, 81, 0.5) !important;
}
.bx-forum-icon{
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.7rem;
    font-size: 1.25rem;
}
.bx-forum-icon svg,
.bx-forum-icon .sys-icon{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    display: block;
}
.bx-forum-icon img.sys-icon{
    display: block !important;
}
.bx-forum-icon i.sys-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bx-forum-thumb img{
    border-radius: 500px;
}
.bx-forum-thumb .sys-icon{
    color: #111928;
    font-size: 1.25rem;
}
.dark .bx-forum-thumb .sys-icon{
    color: rgb(209 213 219);
}
.bx-forum-thumb img.sys-icon {
    width: 1.5rem;
    height: 1.5rem;
}
.bx-forum-thumb .sys-icon-svg{
    width: 1.5rem;
    height: 1.5rem;
}

.bx-forum-grid-status{
    display: flex;
}
.bx-forum-status-0{
    color: rgb(239, 68, 68);
    font-weight: 500;
}
.bx-forum-status-0:hover{
    background-color: rgb(239, 68, 68, 0.2);
}
.bx-forum-status-1{
    font-weight: 500;
    color: rgb(34, 197, 94);
}
.bx-forum-status-1:hover{
    background-color: rgba(34, 197, 94, 0.2);
}
#bx-grid-table-bx_forum tr{
    border-bottom: 1px solid #F4F4F5
}
.dark #bx-grid-table-bx_forum tr{
    border-bottom: 1px solid rgb(31 41 55);
}
#bx-grid-table-bx_forum tr:last-child{
	border-bottom: none;
}

.bx-grid-table-cell-participants .sys-action-counter-iconset .ml-2
{
    display: none;
}
.bx-grid-table-cell-participants .cmt-counter{
    float: right;
}
#bx-grid-table-bx_forum td{
    vertical-align: middle !important;
}
.bx-forum-grid td{
    vertical-align: top;
}
.bx-forum-grid tr:hover{
    cursor: pointer;
}
.bx-forum-grid tr td:first-child{
    padding-left: 0rem;
}
.bx-forum-grid tr td:last-child{
    padding-right: 0rem;
}
.bx-forum-grid tr:hover td:first-child{
    border-radius: 0.375rem 0 0 0.375rem;
}
.bx-forum-grid tr:hover td:last-child{
    border-radius: 0 0.375rem 0.375rem 0;
}
.bx-media-phone .bx-forum-grid {
    width: 100%;
    min-width:inherit !important;
}

.bx-media-phone .bx-forum-grid tr{
    display: grid;
	grid-template-areas:
    "text text"
	"participants rating";
	
    grid-template-rows: auto auto;
	grid-template-columns: auto auto;
    margin-bottom: 0.5rem;
}

.bx-media-phone .bx-forum-grid table{
    width: 100% !important;
    min-width: inherit !important;
    max-width: 100% !important;
    overflow: hidden;
    display: block;
}
.bx-media-phone .bx-forum-grid td{
    width: auto !important;
}

.bx-media-phone .bx-forum-grid .bx-grid-table-cell-category{
    grid-area: category;
    display: none;
}
.bx-media-phone .bx-forum-grid .bx-grid-table-cell-text{
    grid-area: text;
    padding-bottom: 0px;
    overflow: hidden;
    padding-top: 0px;
}
.bx-media-phone .bx-forum-grid .bx-grid-table-cell-participants{
    grid-area: participants;
    padding-top: 0px;
    display: flex;
    align-items: center;
}
.bx-media-phone .bx-forum-grid .bx-grid-table-cell-rating{
    grid-area: rating;
    text-align: right;
    margin-right: 1rem;
    padding-top: 0px;
}
.bx-media-phone .bx-forum-gpm-main{
    margin-bottom: 0.5rem;
    width: 100%;
}
.bx-media-phone .bx-forum-gpm-main UL{
    width: 100%;
    justify-content: space-between;
}
.bx-media-phone .bx-forum-gpm-main UL LI:nth-child(n+4){
    display: none;
}

.bx-media-phone .bx-grid-table-cell-participants .cmt-counter{
    float:none
}
/* unit */
.bx-forum-unit .bx-base-text-unit-title h2{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    color: rgb(17,24,29);
}
.bx-forum-unit .bx-base-general-unit-meta-item{
    font-size: 0.875rem !important; 
    color:rgb(107,114,128) !important;
}
.bx-forum-unit .bx-base-text-unit-no-thumb{
    background: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(90deg, #3F83F8 0%, #0694A2 100%);
    text-align: left;
    color:#fff;
    border-radius: 7px 7px 0 0;
}
.bx-forum-unit .bx-base-text-unit-title{
    white-space: normal;
}
.bx-forum-grid .bx-grid-header-controls-counter{
    display: none;
}
.bx-forum-grid .bx-grid-header-controls-filter{
    display: flex;
    width: 100%;
}
.bx-forum-grid #bx-form-element-search{
    flex-grow: 3;
}
#bx-forum-snippet-meta-main{
    overflow: hidden;
    display: flex;
    grid-row-gap: 0.5rem;
}
.bx-forum-unit.bx-base-text-unit-gallery .bx-base-text-unit-info .bx-base-pofile-unit A,
.bx-forum-unit.bx-base-text-unit-gallery .bx-base-text-unit-title A{
    color:#fff !important;
}
.bx-forum-unit .bx-base-text-unit-info .bx-base-pofile-unit .bx-def-unit-info{
    text-align: left;
}
.bx-forum-unit .bx-base-pofile-unit{
    margin-bottom: 0px;
    margin-right: 0px;
}
.bx-base-unit-showcase.bx-forum-unit{
    display: inline-block;
}
/* one item */
.bx-base-unit-showcase-wrapper .bx-forum-unit:first-child:nth-last-child(1) {
    width: 100% !important;
}
/* two items */
.bx-base-unit-showcase-wrapper .bx-forum-unit:first-child:nth-last-child(2),
.bx-base-unit-showcase-wrapper .bx-forum-unit:first-child:nth-last-child(2) ~ .bx-forum-unit {
    width: 50%  !important;
}
/* 3 items or more */
.bx-base-unit-showcase-wrapper .bx-forum-unit:first-child:nth-last-child(3),
.bx-base-unit-showcase-wrapper .bx-forum-unit:first-child:nth-last-child(3) ~ .bx-forum-unit {
    width: 33.3333%;
}

.bx-forum-grid .sys-action-counter-label.bx-score-counter-label{
	padding: 0px !important;
}

/* ---------------new meta menu need to move incore*/

.bx-menu-meta-icon img,
.bx-menu-meta-icon svg{
    width: 1rem ;
    height: 1rem !important;
    border-radius: 1rem ;
    display: block;
}
.bx-menu-meta-icon .sys-icon-emoji{
    font-size: 0.8rem ;
}

.bx-menu-meta-item-ex.bx-menu-meta-item-ex-no-bg{
    background: none !important;
    padding: 0px !important;
}
.bx-menu-meta-item-ex{
    margin-right: 0.5rem !important;
}
.bx-forum-category-list{
	margin: -0.75rem !important;
	margin-top: 0px !important;
}

