__filter_panel__
<div id="pmt-orders-history">
    <div class="pmt-orders-header">
        <div class="pmt-orders-date"><bx_text:_payment_txt_date /></div>
        <div class="pmt-orders-client"><bx_text:_payment_txt_seller /></div>
        <div class="pmt-orders-order"><bx_text:_payment_txt_order /></div>
        <div class="pmt-orders-amount"><bx_text:_payment_txt_amount /></div>
        <div class="pmt-orders-license"><bx_text:_payment_txt_license /></div>
        <div class="pmt-orders-action"><bx_text:_payment_txt_action /></div>
    </div>
    <div class="pmt-orders-content">
        __orders__
    </div>
</div>
__loading__