<div class="pmt-view-order">
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption"><bx_text:_payment_txt_seller /></div>
        <div class="pmt-vo-content">
            <bx_if:show_link>
                <a href="__seller_url__" target="_blank">__seller_name__</a>
            </bx_if:show_link>
            <bx_if:show_text>__seller_name__</bx_if:show_text>
        </div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption"><bx_text:_payment_txt_order /></div>
        <div class="pmt-vo-content">__order__</div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption"><bx_text:_payment_txt_date /></div>
        <div class="pmt-vo-content">__date__</div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption"><bx_text:_payment_txt_products /></div>
        <div class="pmt-vo-items">
            <bx_repeat:items>
                <bx_if:link>
                    <a href="__url__" target="_blank">__title__</a>
                </bx_if:link>
                <bx_if:text>__title__</bx_if:text>
                (__quantity__) - __price__ __currency_code__<br />
            </bx_repeat:items>
        </div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
</div>