<bx_repeat:items>
    <div class="pmt-mo-item">
        <div class="pmt-mo-item-chb">
            <input type="checkbox" name="items[]" value="__id__" />
            <input type="hidden" name="item-price-__id__" value="__price__" />
        </div>
        <div class="pmt-mo-item-title">
            <bx_if:link>
                <a href="__url__" target="_blank">__title__</a>
            </bx_if:link>
            <bx_if:text>__title__</bx_if:text>
        </div>
        <div class="pmt-mo-item-quantity">
            <div class="input_wrapper input_wrapper_text">
                <input type="text" name="item-quantity-__id__" class="form_input_text" value="1" />
                <div class="input_close input_close_text">&nbsp;</div>
            </div>
        </div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
</bx_repeat:items>