<div id="pmt-manual-order" style="display:none;">
    <table class="popup_form_wrapper">
        <tr>
            <td class="corner"><img src="<bx_image_url:op_cor_tl.png />" alt="" /></td>
            <td class="side_ver"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
            <td class="corner"><img src="<bx_image_url:op_cor_tr.png />" alt="" /></td>
        </tr>
        <tr>
            <td class="side"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
            <td class="container">
                <div class="disignBoxFirst">
                    <div class="boxFirstHeader">
                        <bx_text:_payment_wcaption_manual_order />
                        <div class="dbTopMenu">
                            <div class="boxFirstClose" style="background-image:url(<bx_image_url:close.gif />)">
                                <a href="javascript:void(0)" onclick="javascript:$('#pmt-manual-order').dolPopupHide({});">
                                    <img src="<bx_image_url:spacer.gif />" width="28px" height="28px" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="boxContent">
                        <div id="pmt-mo-content">
                            <iframe name="pmt-manual-order-iframe" class="hidden"></iframe>
                            __form__
                        </div>
                        <div class="pmt-orders-loading" style="background-image:url(<bx_image_url:loading_bg.png />)">
                            <img src="<bx_image_url:loading.gif />" />
                        </div>
                    </div>
                </div>
            </td>
            <td class="side"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
        </tr>
        <tr>
            <td class="corner"><img src="<bx_image_url:op_cor_bl.png />" alt="" /></td>
            <td class="side_ver"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
            <td class="corner"><img src="<bx_image_url:op_cor_br.png />" onload="if( navigator.appName == 'Microsoft Internet Explorer' && window.version && version >= 5.5 && version < 7 ) png_fix();" alt="" /></td>
        </tr>
    </table>
</div>