__filter_panel__
<iframe name="pmt-iframe-__type__" class="hidden"></iframe>
<form id="pmt-form-__type__" method="post" action="__action__" target="pmt-iframe-__type__">
    <input type="hidden" name="type" value="__type__" />
    <div id="pmt-orders-__type__">
        <div class="pmt-orders-header">
            <div class="pmt-orders-chb">&nbsp;</div>
            <div class="pmt-orders-date"><bx_text:_payment_txt_date /></div>
            <div class="pmt-orders-client"><bx_text:_payment_txt_client /></div>
            <div class="pmt-orders-order"><bx_text:_payment_txt_order /></div>
            <div class="pmt-orders-amount"><bx_text:_payment_txt_amount /></div>
            <div class="pmt-orders-license"><bx_text:_payment_txt_license /></div>
            <div class="pmt-orders-action"><bx_text:_payment_txt_action /></div>
        </div>
        <div class="pmt-orders-content">
            __orders__
        </div>
    </div>
    __control_panel__
</form>
__loading__