<div id="pmt-tbar-content">
    <bx_repeat:carts>
        <div class="pmt-tbar-cart" id="pmt-tbar-cart-__vendor_id__">
            <div class="pmt-tbar-cart-icon">__vendor_icon__</div>
            <div class="pmt-tbar-cart-cpt">
                <bx_if:show_link>
                    <a href="__vendor_url__">__vendor_username__</a>(<span class="pmt-tbar-items-quantity">__items_count__</span>) - <span class="pmt-tbar-items-price">__items_price__</span> __vendor_currency_code__
                </bx_if:show_link>
                <bx_if:show_text>__vendor_username__(<span class="pmt-tbar-items-quantity">__items_count__</span>) - <span class="pmt-tbar-items-price">__items_price__</span> __vendor_currency_code__</bx_if:show_text>
            </div>
            <div class="pmt-tbar-cart-cnt">
                <bx_repeat:items>
                    <div class="pmt-tbar-cart-item" id="pmt-tbar-item-__vendor_id__-__item_id__">
                        <a href="__item_url__">__item_title__</a>(<span class="pmt-tbar-item-quantity">__item_quantity__</span>) - <span class="pmt-tbar-item-price">__item_price__</span> __vendor_currency_code__
                    </div>
                </bx_repeat:items>
            </div>
        </div>
    </bx_repeat:carts>
</div>