<div id="bx-classes-add-module-form" class="bx-classes-add-page-form">
    __form__
</div>
<script>
    $(document).ready(function () {
        $("#bx-classes-add-module-form form").ajaxForm({
            beforeSubmit: function (formData, $form, options) {
                bx_loading($("#bx-classes-add-module-form form"), true);
            },
            success: function (oData) {
                if (typeof oData === "object") {
                    if ('ReloadLessonsAndClosePopup' == oData.action) {
                        $('.bx-popup-applied:visible').dolPopupHide();
                        loadDynamicBlockAuto('.bx-course-controls');
                    } 
                    else if ('ShowMsg' == oData.action) {
                        bx_alert(oData.msg);
                    }
                    else {
                        bx_alert('<bx_text_js:_sys_txt_error_occured />');
                    }
                }
                else {
                    $("#bx-classes-add-module-form").parent().html(oData).bxProcessHtml();
                }
            }
        });
    });
</script>
