.bx-videos-iframe-wrapper {
    max-width: 560px;
}
.bx-videos-iframe-aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.bx-videos-iframe-aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.bx-media-tablet .bx-videos-iframe-aspect-ratio iframe {
    max-width: unset!important;
}