/*--- Video Block  ---*/
.bx-videos-entity-video img,
.bx-videos-entity-video video {
    max-width:100%;
}

.pswp__caption .pswp__caption__center {
    text-align: center;
}

.pswp__video {
    position:absolute;
    text-align: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.pswp__video:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.pswp__video video {
    vertical-align: middle;    
}


/*--- Snippet ---*/
.bx-base-text-unit-gallery .bx-base-text-unit-no-thumb,
.bx-base-text-unit-gallery .bx-base-text-unit-thumb {
	position: relative;
}

.bx-video-unit-duration {
	position: absolute;
	right: 10px;
    bottom: 10px;

	background-color: rgba(255, 255, 255, 0.9);
}
