/*--- Shared By ---*/
div.bx-tl-by-list {}
div.bx-tl-by-list-cnt {
	max-height: 200px;
	max-height: 12.5rem;
	min-width: 220px;
	min-width: 13.75rem;
	overflow: auto;
}
div.bx-tl-by-list div.bx-base-pofile-unit {
	float: none;
	margin-right: 0px;
	margin-bottom: 0px;
}

/*--- Share Element Styles ---*/
.bx-tl-share .bx-tl-share-element-holder .bx-tl-share-do-share.bx-tl-share-disabled {
	color: #ddd;
}
.bx-tl-share .bx-tl-share-counter-holder {
	margin-left: 5px;
	margin-left: 0.3125rem;
}
.bx-tl-share-button .bx-tl-share-element-holder,
.bx-tl-share-button .bx-tl-share-counter-holder {
	line-height: 40px;
	line-height: 2.5rem;
}
.bx-tl-share.bx-tl-share-button .bx-tl-share-counter-holder {
	margin-left: 10px;
	margin-left: 0.625rem;
}
.bx-tl-share-button-small .bx-tl-share-element-holder,
.bx-tl-share-button-small .bx-tl-share-counter-holder {
	line-height: 24px;
	line-height: 1.6rem;
}
.bx-tl-share-button .bx-tl-share-counter-holder,
.bx-tl-share-button-small .bx-tl-share-counter-holder {
	font-size: 1.5rem;
}

div.bx-tl-share div.bx-tl-share-element-holder,
div.bx-tl-share div.bx-tl-share-counter-holder {
	position: relative;
	float: left;
}
