/*--- General section ---*/


/*--- View Block Style ---*/
div.bx-tl-view {
	position: relative;
}
.bx-tl-grid-sizer {
	width: 100%;
}
.bx-tl-view-sizer {
	width: 100%;
}
.bx-tl-view-sizer div.bx-tl-item-ind {
	padding: 0px;
}


/*--- Back Style ---*/


/*--- Load More Style ---*/
div.bx-tl-view-timeline div.bx-tl-load-more {
	padding-top: 0px;
}

div.bx-tl-jump-to {
	position: relative;
	float: right;
	line-height: 36px;
	line-height: 2.25rem;
}

/*--- Divider Styles ---*/
div.bx-tl-divider {
    position: relative;
}

div.bx-tl-divider-cnt {
    position: relative;
    box-sizing: border-box;

    width: 100%;

    border: 2px solid #dddddd;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #dddddd;
    
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

/*--- Timeline Item Style ---*/
div.bx-tl-view-timeline div.bx-tl-items {
	margin-left: 0px;
	margin-right: 0px;
}
div.bx-tl-view-timeline div.bx-tl-divider:before,
div.bx-tl-view-timeline div.bx-tl-divider-today:before,
div.bx-tl-view-timeline div.bx-tl-item:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 18px;
	left: 1.125rem;
    width: 4px;
    height: 100%;

    background: #dddddd;
}
div.bx-tl-view-timeline div.bx-tl-item {
    position: relative;
}
div.bx-tl-view-timeline div.bx-tl-item-cnt {
    position: relative;

	margin: 0px 0px 0px 56px;
	margin: 0px 0px 0px 3.5rem;
}
div.bx-tl-view-timeline div.bx-tl-item-type {
	position: absolute;
    top: 0px;
    left: 0px;
}
div.bx-tl-view-timeline div.bx-tl-item-circle {
	width: 32px;
    width: 2rem;
    height: 32px;
    height: 2rem;

	background-color: #ffffff;
	background-clip: padding-box;
	border-color: #cccccc;
	border-width: 4px;
	border-width: 0.25rem;
	border-radius: 5rem;

    text-align: center;
    color: #999999;
	
	overflow: hidden;
}
div.bx-tl-view-timeline div.bx-tl-item-circle .sys-icon {
	display: block;

	margin-left: auto;
	margin-right: auto;

	width: 32px;
	width: 2rem;
	height: 32px;
    height: 2rem;

	text-align: center;

	line-height: 30px;
	line-height: 1.875rem;
    font-size: 20px;
	font-size: 1.25rem;
}



/*--- Outline Item Style ---*/
div.bx-tl-view-outline div.bx-tl-item {
	position: relative;
}
div.bx-tl-view-outline div.bx-tl-item-ind {
	position: relative;
}
div.bx-tl-view-outline div.bx-tl-item-cnt {
	position: relative;
	overflow: hidden;
}

/*+++ Item Owner +++*/
div.bx-tl-view-timeline div.bx-tl-item-owner, 
div.bx-tl-view-outline div.bx-tl-item-owner {
	position: relative;
}
div.bx-tl-view-timeline div.bx-tl-owner-avatar, 
div.bx-tl-view-outline div.bx-tl-owner-avatar {
	position: absolute;
	top: 0px;
	left: 0px;
}
div.bx-tl-view-timeline div.bx-tl-owner-info, 
div.bx-tl-view-outline div.bx-tl-owner-info {
	white-space: nowrap;
}
div.bx-tl-view-timeline div.bx-tl-owner-name,
div.bx-tl-view-timeline div.bx-tl-item-info, 
div.bx-tl-view-outline div.bx-tl-owner-name,
div.bx-tl-view-outline div.bx-tl-item-info {
	text-overflow: ellipsis;
	overflow: hidden;
}
div.bx-tl-view-timeline div.bx-tl-item-info .bx-tl-date,
div.bx-tl-view-timeline div.bx-tl-item-info .bx-tl-pinned .sys-icon,
div.bx-tl-view-outline div.bx-tl-item-info .bx-tl-date,
div.bx-tl-view-outline div.bx-tl-item-info .bx-tl-pinned .sys-icon {
	color: rgba(40, 60, 80, 0.5);
}
div.bx-tl-view-timeline div.bx-tl-item-info .bx-tl-pinned .sys-icon,
div.bx-tl-view-outline div.bx-tl-item-info .bx-tl-pinned .sys-icon {
	cursor: default;
}

/*+++ Item Text +++*/
div.bx-tl-view-outline div.bx-tl-item-text div.bx-tl-title {
	font-weight: bold;
}
div.bx-tl-view-outline span.bx-tl-content-see-more a {
	font-weight: bold;
}

/*+++ Item Image +++*/
div.bx-tl-view-timeline div.bx-tl-item-images,
div.bx-tl-view-outline div.bx-tl-item-images {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}
div.bx-tl-view-timeline div.bx-tl-item-images {
	margin-left: 0px;
	margin-right: 0px;
}
div.bx-tl-view-timeline div.bx-tl-item-image,
div.bx-tl-view-outline div.bx-tl-item-image {
	display: inline-block;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
div.bx-tl-view-timeline div.bx-tl-item-image img,
div.bx-tl-view-outline div.bx-tl-item-image img {
	max-width: 100%;
	min-height: 12.5rem;
	max-height: 18.4375rem;
	object-fit: cover;
	object-position: center center;
}

/*+++ Item Link +++*/
div.bx-tl-view-outline div.bx-tl-item-link {
	text-align: center;
}
div.bx-tl-view-outline div.bx-tl-il-thumbnail img {
	width: 100%;
	max-width: 100px;
	height: 100%;
	max-height: 100px;
}

/*+++ Item Shared +++*/
div.bx-tl-view-outline div.bx-tl-shared div.bx-tl-item-text {
	padding-left: 5px;
	padding-left: 0.3rem;

	border-left: 1px solid #999999;
	border-left: 0.07rem solid #999999;
}
div.bx-tl-view-outline div.bx-tl-shared div.bx-tl-title {
	font-size: 1.0rem;
}
div.bx-tl-view-outline div.bx-tl-shared div.bx-tl-title a {
	color: #999999;
}
div.bx-tl-view-outline div.bx-tl-shared div.bx-tl-content {
	font-size: 0.875rem;
	color: #999999;
}


/*--- Empty Style ---*/
div.bx-tl-empty div.bx-msg-box-container {
	margin-top: 0px;
	margin-bottom: 0px;
}


/*--- Comments Styles ---*/
div.bx-tl-comments {}


/*--- Animation ---*/
@media only screen and (min-width: 1024px) {
  .cssanimations .bx-tl-item-type.is-hidden {
    visibility: hidden;
  }
  .cssanimations .bx-tl-item-type.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (min-width: 1024px) {
  .cssanimations .bx-tl-item-cnt.is-hidden {
    visibility: hidden;
  }
  .cssanimations .bx-tl-item-cnt.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}