
/*--- View Block Style ---*/
.bx-media-tablet .bx-tl-grid-sizer { 
    width: 50%;
}
.bx-media-tablet .bx-layout-column-half .bx-tl-grid-sizer, 
.bx-media-tablet .bx-layout-column-thin .bx-tl-grid-sizer {
    width: 100%;
}

.bx-media-tablet .bx-tl-grid-item-sizer { 
    width: 50%;
}
.bx-media-tablet .bx-layout-column-half .bx-tl-grid-item-sizer, 
.bx-media-tablet .bx-layout-column-thin .bx-tl-grid-item-sizer {
    width: 100%;
}