@media (min-width:720px) and (max-width:1024px) {
	/*--- View Block Style ---*/
	.bx-tl-grid-sizer,
	.bx-tl-grid-sizer-pnd,
	.bx-tl-grid-sizer-pmd,
	.bx-tl-grid-sizer-pnd-pmd { 
		width: 50%;
	}

	.bx-layout-column-half .bx-tl-grid-sizer, 
	.bx-layout-column-half .bx-tl-grid-sizer-pnd, 
	.bx-layout-column-half .bx-tl-grid-sizer-pmd, 
	.bx-layout-column-half .bx-tl-grid-sizer-pnd-pmd,
	.bx-layout-column-thin .bx-tl-grid-sizer,
	.bx-layout-column-thin .bx-tl-grid-sizer-pnd,
	.bx-layout-column-thin .bx-tl-grid-sizer-pmd, 
    .bx-layout-column-thin .bx-tl-grid-sizer-pnd-pmd {
		width: 100%;
	}

    /*--- Timeline Item Style ---*/
    div.bx-tl-view-timeline div.bx-tl-item-cnt {
        position: relative;
    
        margin: 0px 0px 0px 56px;
        margin: 0px 0px 0px 3.5rem;
    }
    
}