/*--- View Block Style ---*/
.bx-media-desktop .bx-tl-grid-sizer {
    width: 33.3%;
}
.bx-media-desktop .bx-layout-column-wide .bx-tl-grid-sizer,
.bx-media-desktop .bx-layout-column-half .bx-tl-grid-sizer {
   width: 50%;
}
.bx-media-desktop .bx-layout-column-thin .bx-tl-grid-sizer {
   width: 100%;
}

.bx-media-desktop .bx-tl-grid-item-sizer {
   width: 33.3%;
}
.bx-media-desktop .bx-layout-column-wide .bx-tl-grid-item-sizer,
.bx-media-desktop .bx-layout-column-half .bx-tl-grid-item-sizer {
    width: 50%;
}
.bx-media-desktop .bx-layout-column-thin .bx-tl-grid-item-sizer {
    width: 100%;
}