/*--- General section ---*/


/*--- View Block Style ---*/
div.bx-tl-view {
	position: relative;
}

.bx-tl-grid-sizer {
	width: 100%;
}
.bx-tl-grid-item-sizer {
    width: 100%;
}

.bx-tl-view-sizer {
	width: 100%;
}
.bx-tl-view-sizer div.bx-tl-item-ind {
	padding: 0px;
}
div.bx-tl-items-wrapper {
	position: relative;
}

/*--- Back Style ---*/


/*--- Load More Style ---*/
div.bx-tl-view-timeline div.bx-tl-load-more {
	padding-top: 0px;
}

div.bx-tl-jump-to {
	position: relative;
	float: right;
	line-height: 36px;
	line-height: 2.25rem;
}


/*--- Divider Styles ---*/
div.bx-tl-divider {
    position: relative;
}

div.bx-tl-divider-cnt {
    position: relative;
    box-sizing: border-box;

    width: 100%;

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

/*--- Item Style ---*/
div.bx-tl-item,
div.bx-tl-item-cnt {
    position: relative;
}

div.bx-tl-blink-plate {
    position: absolute;
    display: none;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(255, 244, 213);
    background-color: rgba(255, 234, 193, 0.5);
}

div.bx-tl-item.bx-tl-blink div.bx-tl-blink-plate {
    display: block;
}

/*--- Item Owner Style ---*/
div.bx-tl-item div.bx-tl-item-owner {
    position: relative;
	text-align: left;
}
div.bx-tl-item div.bx-tl-owner-avatar {
    position: absolute;
    top: 0px;
    left: 0px;
}
div.bx-tl-item div.bx-tl-owner-info {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
div.bx-tl-item div.bx-tl-item-owner.bx-tl-io-with-actions div.bx-tl-owner-info {
    margin-right: 68px;
    margin-right: 4.25rem;
}
div.bx-tl-item div.bx-tl-owner-name {
    text-overflow: ellipsis;
    overflow: hidden;
}
div.bx-tl-item div.bx-tl-owner-name > * {
    vertical-align: middle;
}
div.bx-tl-item div.bx-tl-owner-name a.bx-tl-owner-name,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-timeline-owner-name a.bx-tl-ton-item {
    font-weight: 700;
}
div.bx-tl-item div.bx-tl-owner-name .bx-tl-timeline-owner-name .bx-tl-ton-div:first-child {
    display: none;
}
div.bx-tl-item div.bx-tl-owner-name .bx-tl-date,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-pinned .sys-icon,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-sticked .sys-icon,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-hot .sys-icon {
    color: rgba(40, 60, 80, 0.5);
}
div.bx-tl-item div.bx-tl-owner-name .bx-tl-pinned .sys-icon,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-sticked .sys-icon,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-hot .sys-icon {
    cursor: default;
}
div.bx-tl-item div.bx-tl-owner-actions {
    position: absolute;
    top: 0px;
    right: 0px;
	line-height: 48px;
	line-height: 3rem;
}
div.bx-tl-item div.bx-tl-owner-actions .bx-btn {
    display: inline-block;
	float: none;
	vertical-align: middle;
}

/*--- Item Meta Info Style ---*/
.bx-tl-item-meta {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.bx-tl-item-meta ul.bx-menu-custom.bx-menu-hor {
    position: relative;
    display: inline-block;
}
.bx-tl-item-meta ul.bx-menu-custom.bx-menu-hor > li > span {
        margin-right: 0;
}
.bx-tl-item-meta ul.bx-menu-custom li:first-child .bx-tl-item-meta-div {
    display: none;
}
.bx-tl-item-meta ul.bx-menu-custom li .bx-tl-item-meta-item,
.bx-tl-item-meta ul.bx-menu-custom li .bx-tl-item-meta-div,
.bx-tl-item-meta ul.bx-menu-custom li .bx-btn {
    position: relative;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

/*--- Item Content Style ---*/
div.bx-tl-item-content {
	position: relative;
    text-align: left;
}
div.bx-tl-item-content form {
	padding-left: 1rem;
	padding-right: 1rem;
}
div.bx-tl-item-content div.bx-tl-title {
	text-overflow: ellipsis;
    overflow: hidden;
}
div.bx-tl-item-content div.bx-tl-content iframe {
	width: 100%;
}
div.bx-tl-item-text div.bx-tl-content {
	position: relative;
    max-height: 250px;

	text-overflow: ellipsis;
    overflow: hidden;
}
div.bx-tl-item-text div.bx-tl-content.bx-tl-overflow {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
div.bx-tl-item-text div.bx-tl-content-show-more {
    position: relative;

    text-transform: lowercase;
    text-align: center;
}
div.bx-tl-item-text div.bx-tl-content p {
	margin-top: 10px;
	margin-top: 0.625rem;
	margin-bottom: 10px;
	margin-bottom: 0.625rem;
}
div.bx-tl-item-text div.bx-tl-content img {
	max-width: 100%;
	height: auto;
}

/*--- Item Images Style ---*/
div.bx-tl-item div.bx-tl-item-images {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
div.bx-tl-item div.bx-tl-item-image {
    display: inline-block;
}

div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom {
    position: realtive;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom::before,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom::after {
    display: none;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li > span {
    margin-right: 0;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li > span img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/*--- Item Style: Timeline ---*/
div.bx-tl-view-timeline div.bx-tl-items:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 1.1375rem;
    width: 4px;
    height: 100%;

    background: #dddddd;
}
div.bx-tl-view-timeline div.bx-tl-items,
div.bx-tl-view-search div.bx-tl-items,
div.bx-tl-view-item div.bx-tl-items {
	margin-left: 0px;
	margin-right: 0px;
}
div.bx-tl-view-timeline div.bx-tl-item,
div.bx-tl-view-search div.bx-tl-item,
div.bx-tl-view-item div.bx-tl-item {
    position: relative;
}
div.bx-tl-view-timeline div.bx-tl-item-type {
    position: absolute;
    top: 0px;
    left: 0px;
}
div.bx-tl-view-timeline div.bx-tl-item-circle {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 40px;
    box-shadow: inset 0 0 0 3px #dddddd;

    text-align: center;
    color: #999999;

    overflow: hidden;
}
div.bx-tl-view-timeline div.bx-tl-item-circle .sys-icon {
    font-size: 1.375rem;
}


/*--- Item Style: Outline ---*/
div.bx-tl-view-outline div.bx-tl-item {
	position: relative;
}
div.bx-tl-view-outline div.bx-tl-item div.bx-tl-item-owner.bx-tl-io-with-actions div.bx-tl-owner-info {
    margin-right: 48px;
    margin-right: 3.0rem;
}
div.bx-tl-view-outline div.bx-tl-item-ind {
	position: relative;
}

/*+++ Item Text +++*/
div.bx-tl-view-outline div.bx-tl-item-text div.bx-tl-title {
	font-weight: bold;
}
div.bx-tl-view-outline div.bx-tl-content-show-more a {
	font-weight: bold;
}

/*+++ Item Image +++*/
div.bx-tl-view-search div.bx-tl-item-images {
	margin-left: 0px;
	margin-right: 0px;
}
div.bx-tl-view-search div.bx-tl-item-image {
	margin-right: 2px;
	margin-right: 0.125rem;
}
div.bx-tl-view-timeline div.bx-tl-item-image,
div.bx-tl-view-outline div.bx-tl-item-image,
div.bx-tl-view-item div.bx-tl-item-image {
    width: 100%;
    text-align: center;
    overflow: hidden;
}
div.bx-tl-view-search div.bx-tl-item-image img {
    height: 12.5rem;
}
div.bx-tl-view-timeline div.bx-tl-item-images.bx-tl-ii-gallery div.bx-tl-item-image img,
div.bx-tl-view-item div.bx-tl-item-images.bx-tl-ii-gallery div.bx-tl-item-image img,
div.bx-tl-view-timeline div.bx-tl-item-images.bx-tl-ii-single div.bx-tl-item-image img,
div.bx-tl-view-item  div.bx-tl-item-images.bx-tl-ii-single div.bx-tl-item-image img {
    position: relative;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.bx-tl-view-outline div.bx-tl-item-image img {
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
}

/*+++ Item Video +++*/
div.bx-tl-view-timeline div.bx-tl-item-video,
div.bx-tl-view-outline div.bx-tl-item-video,
div.bx-tl-view-item div.bx-tl-item-video {
    width: 100%;
}
.bx-tl-video-iframe {
    width: 100%;
    border: none;
}
div.bx-tl-view div.bx-tl-item-videos.bx-tl-iv-gallery div.bx-tl-item-video video,
div.bx-tl-view div.bx-tl-item-videos.bx-tl-iv-single div.bx-tl-item-video video {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*+++ Item Attachment +++*/
div.bx-tl-view-timeline div.bx-tl-item-attachment,
div.bx-tl-view-outline div.bx-tl-item-attachment,
div.bx-tl-view-item div.bx-tl-item-attachment {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;  

    width: 100%;
}
div.bx-tl-view-timeline div.bx-tl-item-attachments.bx-tl-ia-gallery div.bx-tl-item-attachment img,
div.bx-tl-view-item div.bx-tl-item-attachments.bx-tl-ia-gallery div.bx-tl-item-attachment img {
    position: relative;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.bx-tl-view-outline div.bx-tl-item-attachment img {
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
}
div.bx-tl-view-search div.bx-tl-item-attachment img {
    height: 12.5rem;
}

div.bx-tl-view-timeline div.bx-tl-item-attachment video,
div.bx-tl-view-outline div.bx-tl-item-attachment video,
div.bx-tl-view-item div.bx-tl-item-attachment video {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*+++ Slider Styles  +++*/
div.bx-tl-item-images .flickity-slider,
div.bx-tl-item-videos .flickity-slider,
div.bx-tl-item-attachments .flickity-slider {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

/*+++ Item Link +++*/
div.bx-tl-view-outline div.bx-tl-item-link {
	text-align: center;
}
div.bx-tl-view-outline div.bx-tl-il-thumbnail img {
	width: 100%;
	max-width: 100px;
	height: 100%;
	max-height: 100px;
}
div.bx-tl-view-outline div.bx-tl-il-embed iframe,
div.bx-tl-view-timeline div.bx-tl-il-embed iframe {
    width: 100%;
}

/*+++ Item Reposted +++*/
div.bx-tl-view-outline div.bx-tl-reposted div.bx-tl-item-text {
	padding-left: 5px;
	padding-left: 0.3rem;

	border-left: 1px solid #999999;
	border-left: 0.07rem solid #999999;
}
div.bx-tl-view-outline div.bx-tl-reposted div.bx-tl-title {
	font-size: 1.0rem;
}
div.bx-tl-view-outline div.bx-tl-reposted div.bx-tl-title a {
	color: #999999;
}
div.bx-tl-view-outline div.bx-tl-reposted div.bx-tl-content {
	font-size: 0.875rem;
	color: #999999;
}


/*--- Item Brief Style ---*/
div.bx-tl-bview-image {
    text-align: center;
}
div.bx-tl-bview-image img {
    max-width: 100%;
}


/*--- Empty Style ---*/
div.bx-tl-empty div.bx-msg-box-container {
    margin-top: 0px;
    margin-bottom: 0px;
}


/*--- Comments Styles ---*/
div.bx-tl-item-comments-holder .cmt.bx-def-box {
    border-width: 0px;
}
div.bx-tl-item-comments-holder .bx-def-thumb-size {
    width: 30px;
    width: 2rem;
    height: 30px;
    height: 2rem;

    line-height: 26px;
    line-height: 1.75rem;

    font-size: 19.5px;
    font-size: 1.3rem;
}
div.bx-tl-item-comments-holder .bx-def-thumb-size-left-indent {
    margin-left: 3.25rem;
}
div.bx-tl-item-comments-holder .bx-def-thumb-size-min-height {
    min-height: 2rem;
}
div.bx-tl-item-comments-holder .cmts.cmts-margin {
    font-size: 12px;
    font-size: 0.75rem;
}

/*--- Live Update Alert Styles ---*/
div.bx-tl-live-update-button {
    position: relative;
    text-align: center;
}
@supports(position:sticky) {
    div.bx-tl-live-update-button {
        position: sticky;
        top: 1rem;
        z-index: 1;
    }
}
@supports(position:-webkit-sticky) {
    div.bx-tl-live-update-button {
        position: -webkit-sticky;
        top: 1rem;
        z-index: 1;
    }
}
div.bx-tl-live-update-button .bx-btn {
    display: inline-block;
    float: none;
}

/*--- Live Update Notifications Styles ---*/
.bx-tl-live-update-item {
    position: relative;
    display: block;
}
div.bx-tl-lui-cnt {
    position: relative;
}
div.bx-tl-lui-avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}
div.bx-tl-lui-info {
    position: realtive;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
div.bx-tl-luii-username {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
