/*--- General section ---*/

/*--- Dynamic Browsing: Menu ---*/
.bx-tl-menu-feeds.bx-menu-ver li.bx-menu-tab-active {
    background-color: rgba(235, 240, 245, 0.8);
}
.bx-tl-menu-feeds.bx-menu-ver li .bx-menu-item-link {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.bx-tl-menu-feeds.bx-menu-ver li a {
    -webkit-flex-grow: 3;
    flex-grow: 3;

    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    line-height: 1.5rem;
}
.bx-tl-menu-feeds.bx-menu-ver li img, 
.bx-tl-menu-feeds.bx-menu-ver li .sys-icon {
    display: inline-block;
    vertical-align: top;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.0rem;
}
.bx-tl-menu-feeds.bx-menu-ver li .bx-menu-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.bx-tl-menu-feeds.bx-menu-ver li .bx-menu-show {
    display: none;
}
.bx-tl-menu-feeds.bx-menu-ver li .bx-menu-hide {
    display: inline;
}
.bx-tl-menu-feeds.bx-menu-ver li.bx-mi-collapsed .bx-menu-show {
    display: inline;
}
.bx-tl-menu-feeds.bx-menu-ver li.bx-mi-collapsed .bx-menu-hide {
    display: none;
}
.bx-tl-menu-feeds.bx-menu-ver li.bx-mi-collapsed .bx-menu-item-subitems {
    display: none;
}
.bx-tl-menu-feeds.bx-menu-ver li .bx-menu-subitem .bx-menu-item-cnt {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}


/*--- Views Block Style ---*/
.bx-tl-views {
    position: relative;
}

.bx-tl-views .bx-loading-ajax {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    top: 0;
    width: 100%;
    height: 100%;
}
.bx-tl-v-view {
    position: relative;
}
.bx-tl-v-form .bx-tl-v-user {
    position: absolute;
    top: 0;
    left: 0;
}
.bx-tl-v-form .bx-tl-v-content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.bx-tl-v-form.bx-tl-v-default .bx-tl-v-content {
    -webkit-align-items: stretch;
    align-items: stretch;   
}
.bx-tl-v-form.bx-tl-v-default .bx-tl-v-content > div {
    width: 100%;
    cursor: text;
}
.bx-tl-v-form .bx-uploader-ghost .bx-base-general-icon-wrapper img {
    max-width: 9.375rem;
}


/*--- View Block Style ---*/
div.bx-tl-view {
	position: relative;
}

.bx-tl-grid-sizer {
	width: 100%;
}
.bx-tl-grid-item-sizer {
    width: 100%;
}

.bx-tl-view-sizer {
	width: 100%;
}
.bx-tl-view-sizer div.bx-tl-item-ind {
	padding: 0px;
}
div.bx-tl-items-wrapper {
	position: relative;
}

/*--- Filters Style ---*/
div.bx-tl-view-filters {
    min-width: 14rem;
    max-width: 20rem;
}
div.bx-tl-view-filters div.bx-form-section-wrapper:first-child {
    margin-top: 0;
}
div.bx-tl-view-filters div.bx-form-section-content {
    padding-top: 0;
    padding-bottom: 0;
}

/*--- Back Style ---*/


/*--- Load More Style ---*/
div.bx-tl-view-timeline div.bx-tl-load-more {
    padding-top: 0px;
}

div.bx-tl-jump-to {
    position: relative;
    float: right;
    line-height: 36px;
    line-height: 2.25rem;
}
div.bx-tl-jump-to .bx-tl-jt-divider:last-child {
    display: none;
}
div.bx-tl-jump-to .bx-btn {
    display: inline-block;
    float: none;
}
div.bx-tl-jump-to .bx-tl-jump-to-calendar {
    width: 100%;
}


/*--- Divider Styles ---*/
div.bx-tl-divider {
    position: relative;
}

div.bx-tl-divider-cnt {
    position: relative;
    box-sizing: border-box;

    width: 100%;

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

/*--- Item Style ---*/
div.bx-tl-item,
div.bx-tl-item-cnt {
    position: relative;
}

div.bx-tl-blink-plate {
    position: absolute;
    display: none;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(255, 244, 213);
    background-color: rgba(255, 234, 193, 0.5);
}

div.bx-tl-item.bx-tl-blink div.bx-tl-blink-plate {
    display: block;
}

/*--- Item Sample Style ---*/
div.bx-tl-item.bx-tl-sample div.bx-tl-is {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
div.bx-tl-item.bx-tl-sample div.bx-tl-is.vcenter {
    -webkit-align-items: center;
    align-items: center;
}
div.bx-tl-item.bx-tl-sample div.bx-tl-is-avatar {
    -webkit-flex-grow: 0;
    flex-grow: 0;
}
div.bx-tl-item.bx-tl-sample div.bx-tl-is-content {
    -webkit-flex-grow: 2;
    flex-grow: 2;
}

div.bx-tl-item.bx-tl-sample .bx-tl-is-icon,
div.bx-tl-item.bx-tl-sample .bx-tl-is-title,
div.bx-tl-item.bx-tl-sample .bx-tl-is-aux > li,
div.bx-tl-item.bx-tl-sample .bx-tl-is-paragraph > li {
    background: -webkit-gradient(linear,left top,right top,color-stop(25%,#f2f2f2),color-stop(37%,#e6e6e6),color-stop(63%,#f2f2f2));
    background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    background-size: auto;
    background-size: 400% 100%;

    -webkit-animation: bx-tl-sample-loading 1.4s ease infinite;
    animation: bx-tl-sample-loading 1.4s ease infinite;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-icon {
    display: block;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-title {
    width: 100%;
    height: 1rem;
    margin: 0;
    padding: 0;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-aux,
div.bx-tl-item.bx-tl-sample .bx-tl-is-paragraph {
    margin: 0;
    padding: 0;

    list-style: none;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-aux {
    margin-top: 0.5rem;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-paragraph {
    margin-top: 1.5rem;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-paragraph + .bx-tl-is-paragraph {
    margin-top: 2.5rem;
    text-align: right;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-aux > li {
    width: 100%;
    height: 0.75rem;

    list-style: none;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-paragraph > li {
    width: 100%;
    height: 1rem;

    list-style: none;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-paragraph + .bx-tl-is-paragraph > li {
    display: inline-block;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-aux > li + li {
    margin: 0.25rem 0 0 0;
}
div.bx-tl-item.bx-tl-sample .bx-tl-is-paragraph > li + li {
    margin: 1.0rem 0 0 0;
}

@-webkit-keyframes bx-tl-sample-loading {
    0% {
        background-position:100% 50%
    }
    to {
        background-position:0 50%
    }
}
@keyframes bx-tl-sample-loading {
    0% {
        background-position:100% 50%
    }
    to {
        background-position:0 50%
    }
}

/*--- Item Owner Style ---*/
div.bx-tl-item div.bx-tl-item-owner {
    position: relative;
    text-align: left;
}

div.bx-tl-item div.bx-tl-item-owner.bx-tl-io-with-actions div.bx-tl-owner-info {
    margin-right: 2.0rem;
}

div.bx-tl-item div.bx-tl-owner-name {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    max-width: 100%;
}

div.bx-tl-item div.bx-tl-owner-name a.bx-tl-owner-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.bx-tl-item div.bx-tl-owner-name .bx-badge-compact,
div.bx-tl-item div.bx-tl-owner-name .bx-badges-list{
    display:inline-block;
}

div.bx-tl-item div.bx-tl-owner-name > * {
    vertical-align: middle;
}

div.bx-tl-item div.bx-tl-owner-name a.bx-tl-owner-name,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-timeline-owner-name a.bx-tl-ton-item {
    font-weight: 700;
}
div.bx-tl-item div.bx-tl-owner-name .bx-tl-timeline-owner-name .bx-tl-ton-div:first-child {
    display: none;
}
div.bx-tl-item div.bx-tl-owner-name .bx-tl-date,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-pinned .sys-icon,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-sticked .sys-icon,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-hot .sys-icon {
    color: rgba(40, 60, 80, 0.5);
}
div.bx-tl-item div.bx-tl-owner-name .bx-tl-pinned .sys-icon,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-sticked .sys-icon,
div.bx-tl-item div.bx-tl-owner-name .bx-tl-hot .sys-icon {
    display: inline-block;
    cursor: default;
}

/*+++ Item Owner Actions Style +++*/
.bx-tl-owner-actions .bx-tl-oa-div,
.bx-tl-owner-actions .bx-tl-owner-action {
    padding: 0 0 0 0.5rem;
}
.bx-tl-view.bx-tl-view-outline .bx-tl-owner-actions .bx-tl-oa-div:first-of-type {
    display: none;
}

/*--- Item Meta Info Style ---*/
.bx-tl-item-meta {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.bx-tl-item-meta ul.bx-menu-custom.bx-menu-custom-hor {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bx-tl-item-meta ul.bx-menu-custom.bx-menu-custom-hor > li > span {
    margin-right: 0;
}
.bx-tl-item-meta ul.bx-menu-custom li:first-child .bx-tl-item-meta-div {
    display: none;
}
.bx-tl-item-meta ul.bx-menu-custom li .bx-tl-item-meta-item,
.bx-tl-item-meta ul.bx-menu-custom li .bx-tl-item-meta-div,
.bx-tl-item-meta ul.bx-menu-custom li .bx-btn {
    position: relative;
    float: none;
    display: inline-block;
    vertical-align: top;
}
.bx-tl-item-meta .bx-tl-date,
.bx-tl-item-meta .bx-tl-pinned .sys-icon,
.bx-tl-item-meta .bx-tl-sticked .sys-icon,
.bx-tl-item-meta .bx-tl-hot .sys-icon {
    color: rgba(40, 60, 80, 0.5);
}
.bx-tl-item-meta .bx-tl-pinned .sys-icon,
.bx-tl-item-meta .bx-tl-sticked .sys-icon,
.bx-tl-item-meta .bx-tl-hot .sys-icon {
    display: inline-block;
    cursor: default;
}

/*--- Item Manage Style ---*/
.bx-tl-item-manage {
    position: absolute;
    top: 0;
    right: 0;
}
.bx-tl-item-manage a {
    position: relative;
    width: 2rem;
    height: 2rem;
}

/*--- Item Action Style ---*/
div.bx-tl-item div.bx-tl-item-action .bx-tl-timeline-owner-name a.bx-tl-ton-item {
    font-weight: 700;
}
div.bx-tl-item div.bx-tl-item-action .bx-tl-timeline-owner-name .bx-tl-ton-div:first-child {
    display: none;
}


/*--- Item Content Style ---*/
div.bx-tl-item-content {
    position: relative;
    text-align: left;
}
div.bx-tl-item-content form {
    padding: 1rem 1rem 0 1rem;
}
div.bx-tl-item-content div.bx-tl-title {
    text-overflow: ellipsis;
    overflow: hidden;
}
div.bx-tl-item-content div.bx-tl-content iframe[src*='video'] {
    width: 100%;
    min-height: 240px !important;
}
div.bx-tl-item-text div.bx-tl-content {
    position: relative;
    max-height: 250px;

    text-overflow: ellipsis;
    overflow: hidden;
}
div.bx-tl-item-text div.bx-tl-content > p:first-child {
    margin-top: 0;
    padding-top: 0;
}
div.bx-tl-item-text div.bx-tl-content > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
div.bx-tl-item-text div.bx-tl-content.bx-tl-overflow:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;

    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1.0));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1.0));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1.0));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1.0));

    content: '';
}
div.bx-tl-item-text div.bx-tl-content-show-more {
    position: relative;
}
div.bx-tl-item-text div.bx-tl-content p {
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}
div.bx-tl-item-text div.bx-tl-content img {
    max-width: 100%;
    height: auto;
}

/*--- Item Images Style ---*/
div.bx-tl-item div.bx-tl-item-images {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
div.bx-tl-item div.bx-tl-item-image {
    display: inline-block;
}

/*--- Item Activity (Actions and Manage are different menus) ---*/
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-custom-hor {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-custom-hor.bx-mma-ready {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-custom-hor::before,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-custom-hor::after {
    display: none;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li > a,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li > span {
    display: block;
}
div.bx-tl-item div.bx-tl-item-activity.bx-tl-ia-counters .bx-menu-custom.bx-menu-custom-hor {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}
div.bx-tl-item div.bx-tl-item-activity.bx-tl-ia-counters .bx-menu-custom.bx-menu-custom-hor li > a,
div.bx-tl-item div.bx-tl-item-activity.bx-tl-ia-counters .bx-menu-custom.bx-menu-custom-hor li > div,
div.bx-tl-item div.bx-tl-item-activity.bx-tl-ia-counters .bx-menu-custom.bx-menu-custom-hor li > span {
    margin-top: 1.0rem;
    margin-right: 1.25rem;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-custom-hor li > a,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-custom-hor li > span {
    margin-right: 1.25rem;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li > span {
    margin-right: 0;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li > span.bx-def-margin-thd-topbottom {
    margin-top: 0;
    margin-bottom: 0;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li > span img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

div.bx-tl-item div.bx-tl-item-manage .bx-menu-item-icon,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li .sys-action-do-icon,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li .bx-menu-item-icon {
    box-sizing: border-box;

    width: 2.0rem;
    height: 2.0rem;

    background-color: rgba(232, 232, 232, 1.0);
    border: 1px solid #ffffff;
    border-radius: 1rem;

    font-size: 1.0rem;
}

div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li .sys-action-do-icon .sys-icon,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom li .bx-menu-item-icon .sys-icon {
    vertical-align: top;
}

/*--- Item Activity (with Auto-More - all actions in one menu) and Item Manage (separate menu) ---*/
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-more-auto > li.bx-menu-item {
    padding: 0;
    white-space: nowrap;
}
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-more-auto > li.bx-menu-item.bx-menu-item-more-auto a {
    padding: 0;
}
.bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-object-bx_timeline_menu_item_manage > li.bx-menu-item  a > span,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-more-auto .bx-popup .bx-menu-custom.bx-menu-submenu-more-auto > li.bx-menu-item  a > span {
    margin-left: 0;
}
.bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-object-bx_timeline_menu_item_manage > li.bx-menu-item  a .sys-action-do-icon,
.bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-object-bx_timeline_menu_item_manage > li.bx-menu-item  a .sys-action-do-icon > .sys-icon,
.bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-object-bx_timeline_menu_item_manage > li.bx-menu-item  a .bx-menu-item-icon,
.bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-object-bx_timeline_menu_item_manage > li.bx-menu-item  a .bx-menu-item-icon > .sys-icon,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-more-auto .bx-popup .bx-menu-custom.bx-menu-submenu-more-auto > li.bx-menu-item  a .sys-action-do-icon,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-more-auto .bx-popup .bx-menu-custom.bx-menu-submenu-more-auto > li.bx-menu-item  a .sys-action-do-icon > .sys-icon,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-more-auto .bx-popup .bx-menu-custom.bx-menu-submenu-more-auto > li.bx-menu-item  a .bx-menu-item-icon,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-more-auto .bx-popup .bx-menu-custom.bx-menu-submenu-more-auto > li.bx-menu-item  a .bx-menu-item-icon > .sys-icon {
    width: 1.5rem;
    height: 1.5rem;

    background-color: transparent;
    border-color: transparent;

    line-height: 1.5rem;
    font-size: 1.0rem;
}
.bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-object-bx_timeline_menu_item_manage > li.bx-menu-item  a .sys-action-do-text,
.bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-object-bx_timeline_menu_item_manage > li.bx-menu-item  a .bx-menu-item-title,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-more-auto .bx-popup .bx-menu-custom.bx-menu-submenu-more-auto > li.bx-menu-item  a .sys-action-do-text,
div.bx-tl-item div.bx-tl-item-activity .bx-menu-custom.bx-menu-more-auto .bx-popup .bx-menu-custom.bx-menu-submenu-more-auto > li.bx-menu-item  a .bx-menu-item-title {
    margin-left: 0.5rem;
}

/*--- Item Activity without Auto-More ---*/
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto),
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) li {
    overflow: hidden;
}
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) a,
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) span {
    display: block;
    white-space: nowrap;
}
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) span.bx-menu-item-icon,
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) span.sys-action-do-icon {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) .sys-action-element-holder,
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) .bx-menu-item-title,
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) .sys-action-do-text {
    max-width: 100%;

    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) .bx-menu-item-title,
div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) .sys-action-do-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.bx-media-phone div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) .bx-menu-item-title,
.bx-media-phone div.bx-tl-item div.bx-tl-item-activity:not(.bx-tl-ia-counters) .bx-menu-custom.bx-menu-custom-hor:not(.bx-menu-more-auto) .sys-action-do-text {
    display: none;
}


/*--- Item Style: Timeline ---*/
div.bx-tl-view-timeline div.bx-tl-items,
div.bx-tl-view-search div.bx-tl-items,
div.bx-tl-view-item div.bx-tl-items {
	margin-left: 0px;
	margin-right: 0px;
}
div.bx-tl-view-timeline div.bx-tl-item,
div.bx-tl-view-search div.bx-tl-item,
div.bx-tl-view-item div.bx-tl-item {
    position: relative;
}
div.bx-tl-view-timeline div.bx-tl-item-type {
    position: absolute;
    top: 0px;
    left: 0px;
}
div.bx-tl-view-timeline div.bx-tl-item-circle {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;

    background-color: #dddddd;
    background-clip: padding-box;
    border-radius: 2rem;

    text-align: center;
    color: #999999;

    overflow: hidden;
}
div.bx-tl-view-timeline div.bx-tl-item-circle .sys-icon {
    font-size: 1.0rem;
}


/*--- Item Style: Outline ---*/
div.bx-tl-view-outline div.bx-tl-item {
	position: relative;
}
div.bx-tl-view-outline div.bx-tl-item-ind {
	position: relative;
}

/*+++ Item Text +++*/
div.bx-tl-view-outline div.bx-tl-item-text div.bx-tl-title {
	font-weight: bold;
}
div.bx-tl-view-outline div.bx-tl-content-show-more a {
	font-weight: bold;
}

/*+++ Item Image +++*/
div.bx-tl-view-search div.bx-tl-item-images {
    margin-left: 0px;
    margin-right: 0px;
}
div.bx-tl-view-search div.bx-tl-item-image {
    margin-right: 2px;
    margin-right: 0.125rem;
}
div.bx-tl-view-timeline div.bx-tl-item-image,
div.bx-tl-view-outline div.bx-tl-item-image,
div.bx-tl-view-item div.bx-tl-item-image {
    width: 100%;
    text-align: center;
    overflow: hidden;
}
div.bx-tl-view-search div.bx-tl-item-image img {
    height: 12.5rem;
}
div.bx-tl-view-timeline div.bx-tl-item-images.bx-tl-ii-gallery div.bx-tl-item-image img,
div.bx-tl-view-item div.bx-tl-item-images.bx-tl-ii-gallery div.bx-tl-item-image img,
div.bx-tl-view-timeline div.bx-tl-item-images.bx-tl-ii-single div.bx-tl-item-image img,
div.bx-tl-view-item  div.bx-tl-item-images.bx-tl-ii-single div.bx-tl-item-image img {
    position: relative;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.bx-tl-view-outline div.bx-tl-item-image img {
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
}

/*+++ Item Video +++*/
div.bx-tl-view-timeline div.bx-tl-item-video,
div.bx-tl-view-outline div.bx-tl-item-video,
div.bx-tl-view-item div.bx-tl-item-video {
    width: 100%;
}
.bx-tl-video-iframe {
    width: 100%;
    border: none;
}
div.bx-tl-view div.bx-tl-item-videos.bx-tl-iv-gallery div.bx-tl-item-video video,
div.bx-tl-view div.bx-tl-item-videos.bx-tl-iv-single div.bx-tl-item-video video {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*+++ Item Attachment +++*/
div.bx-tl-view div.bx-tl-item-attachments {
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
}
div.bx-tl-view div.bx-tl-item-attachments div.bx-tl-item-attachment {
    position: relative;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;  

    width: 100%;
    vertical-align: middle;
}
div.bx-tl-view div.bx-tl-item-attachments div.bx-tl-item-attachment img {
    position: relative;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.bx-tl-view-outline div.bx-tl-item-attachment img {
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
}

/*+++ Video +++*/
div.bx-tl-view-timeline div.bx-tl-item-attachment video,
div.bx-tl-view-outline div.bx-tl-item-attachment video,
div.bx-tl-view-item div.bx-tl-item-attachment video {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.bx-tl-item-attachment .bx-tl-item-video {
    position: relative;
}
div.bx-tl-item-attachment .bx-tl-iv-duration {
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    background-color: rgba(255, 255, 255, 0.8);
}


/*+++ Showcase Layout +++*/
div.bx-tl-view div.bx-tl-item-attachments.bx-tl-ia-showcase {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
div.bx-tl-view div.bx-tl-item-attachments.bx-tl-ia-showcase div.bx-tl-item-attachment {
    box-sizing: border-box;
    width: 33.2%;
    height: 8.5rem;
    border: 1px solid transparent;
}
div.bx-tl-view div.bx-tl-item-attachments.bx-tl-ia-showcase div.bx-tl-item-attachment.bx-tl-ia-first,
div.bx-tl-view div.bx-tl-item-attachments.bx-tl-ia-showcase.bx-tl-ia-i2 div.bx-tl-item-attachment {
    width: 100%;
    height: auto;
}
div.bx-tl-view div.bx-tl-item-attachments.bx-tl-ia-showcase.bx-tl-ia-i3 div.bx-tl-item-attachment:not(.bx-tl-ia-first) {
    width: 50%;
}
div.bx-tl-item-attachments.bx-tl-ia-showcase a,
div.bx-tl-item-attachments.bx-tl-ia-showcase img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
div.bx-tl-item-attachments.bx-tl-ia-showcase img {
    object-fit: cover;
}
div.bx-tl-item-attachments.bx-tl-ia-showcase .bx-tl-item-more {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    font-size: 2.5rem;
}
div.bx-tl-item-attachments.bx-tl-ia-showcase .bx-tl-item-more,
div.bx-tl-item-attachments.bx-tl-ia-showcase .bx-tl-item-more a {
    color: #ffffff;
}


/*+++ Slider Styles  +++*/
div.bx-tl-item-images .flickity-slider,
div.bx-tl-item-videos .flickity-slider,
div.bx-tl-item-attachments .flickity-slider {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

/*+++ Item Link +++*/
div.bx-tl-view-outline div.bx-tl-item-link {
	text-align: center;
}
div.bx-tl-view-outline div.bx-tl-il-thumbnail img {
	width: 100%;
	max-width: 100px;
	height: 100%;
	max-height: 100px;
}
div.bx-tl-view-outline div.bx-tl-il-embed iframe,
div.bx-tl-view-timeline div.bx-tl-il-embed iframe {
    width: 100%;
}

/*+++ Item Reposted +++*/
div.bx-tl-view-outline div.bx-tl-reposted div.bx-tl-item-text {
	padding-left: 5px;
	padding-left: 0.3rem;

	border-left: 1px solid #999999;
	border-left: 0.07rem solid #999999;
}
div.bx-tl-view-outline div.bx-tl-reposted div.bx-tl-title {
	font-size: 1.0rem;
}
div.bx-tl-view-outline div.bx-tl-reposted div.bx-tl-title a {
	color: #999999;
}
div.bx-tl-view-outline div.bx-tl-reposted div.bx-tl-content {
	font-size: 0.875rem;
	color: #999999;
}

/*--- Item Style: View page ---*/
div.bx-tl-view-item-comments .bx-tl-item-comments {
    margin-top: 0;
}
div.bx-tl-view-item-comments .cmts .cmt:first-child  {
    padding-top: 0;
}

div.bx-tl-view-info {
    position: relative;
}
div.bx-tl-view-info .bx-base-pofile-unit {
    float: none;
}

/*--- Item Brief Style ---*/
div.bx-tl-bview-images {
    position: relative;
}
div.bx-tl-bview-image.bx-tl-bvi-single,
div.bx-tl-bview-images div.bx-tl-bview-image {
    width: 100%;
    height: calc(100vh - 7rem);
    text-align: center;
}
div.bx-tl-bview-image.bx-tl-bvi-single img,
div.bx-tl-bview-images div.bx-tl-bview-image img {
    position: relative;
    max-width: 100% !important;
    max-height: 100% !important;
    margin-left: auto;
    margin-right: auto;
}
div.bx-tl-bview-image.bx-tl-bvi-single {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


/*--- Empty Style ---*/
div.bx-tl-empty div.bx-msg-box-container {
    margin-top: 0px;
    margin-bottom: 0px;
}


/*--- Comments Styles ---*/
div.bx-tl-item-comments-holder .cmt.bx-def-box {
    border-width: 0px;
}


/*--- Live Update Alert Styles ---*/
div.bx-tl-live-update-button {}
@supports(position:sticky) {
    div.bx-tl-live-update-button {
        position: sticky;
        top: 1rem;
        z-index: 1;
    }
}
@supports(position:-webkit-sticky) {
    div.bx-tl-live-update-button {
        position: -webkit-sticky;
        top: 1rem;
        z-index: 1;
    }
}
div.bx-tl-live-update-button .bx-btn {
    display: inline-block;
    float: none;
}

/*--- Live Update Notifications Styles ---*/
.bx-tl-live-update-item {
    position: relative;
    display: block;
}
div.bx-tl-lui-cnt {
    position: relative;
}
div.bx-tl-lui-avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}
div.bx-tl-lui-info {
    position: realtive;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
div.bx-tl-luii-username {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
