/*-- My Prpfiles: Create Profile --*/
.bx-menu-object-sys_add_profile {
	text-align: center;
}


/*-- My Prpfiles: Switch Profile --*/
.sys-profile-switch-row {
    margin-top:1px;
}

.bx-db-content .sys-profile-switch-row.bx-def-margin-leftright-neg {
	margin-left: 0px;
    margin-right: 0px;	
}

.sys-profile-switch-row-control,
.sys-profile-switch-row-unit {
    display:inline-block;
    vertical-align:middle;
}

.sys-profile-switch-row-unit .bx-def-unit {
    margin:0;
}

.sys-profile-switch-row-control .sys-icon {
    display:inline-block;
    width:2rem;
    height:2rem;
    font-size:2rem;
}
