<div class="bx-payment-checkout-offline">
    <div class="bx-payment-checkout-offline-cnt">
        <div class="bx-payment-checkout-offline-box bx-def-box bx-def-color-bg-box bx-def-box-round-corners bx-def-border bx-def-shadow">
            <div class="bx-payment-checkout-offline-box-cnt bx-def-padding">
                <div class="bx-payment-cob-row bx-payment-cobr-title bx-def-font-h2"><bx_text:_bx_payment_txt_checkout_with_cash /></div>
                <div class="bx-payment-cob-row bx-payment-cobr-message bx-def-margin-top">__message__</div>
                <div class="bx-payment-cob-row bx-payment-cobr-items bx-def-margin-top bx-def-padding-leftright">
                    <bx_repeat:items>
                        <div class="bx-payment-cob-item">
                            <div class="bx-payment-cobi-title">__item_index__. __item_title__</div>
                            <div class="bx-payment-cobi-quantity">__item_quantity__</div>
                        </div>
                    </bx_repeat:items>
                </div>
                <div class="bx-def-hr bx-def-margin-top"></div>
                <div class="bx-payment-cob-row bx-payment-cobr-amount bx-def-margin-top">
                    <div class="bx-payment-cobr-caption bx-def-font-grayed"><bx_text:_bx_payment_txt_price /></div>
                    <div class="bx-payment-cobr-value bx-def-margin-thd-top bx-def-font-large">__amount__</div>
                </div>
                <div class="bx-def-hr bx-def-margin-top"></div>
                <div class="bx-payment-cob-row bx-payment-cobr-actions bx-def-margin-top">
                    <a class="bx-btn" href="__redirect_url__"><bx_text:_Ok /></a>
                </div>
            </div>
        </div>
    </div>
</div>