
<div class="bx-base-text-unit bx-def-unit bx-def-unit-live-search bx-def-margin-sec-bottom" data-ts="__ts__">
    <bx_if:thumb><a href="__content_url__"><div class="bx-def-unit-img bx-def-thumb-size bx-def-round-corners bx-def-color-bg-box" style="background-image:url(__thumb_url__);"></div></bx_if:thumb>
    <bx_if:no_thumb><div class="bx-def-thumb-size bx-def-unit-img bx-def-round-corners bx-def-color-bg-box"></div></bx_if:no_thumb>
    <div class="bx-def-unit-info bx-def-thumb-size-max-height bx-def-padding-sec-left"><a href="__content_url__">__title__</a><br /><span class="bx-def-fonr-grayed bx-def-font-small">__module_name__</span></div>
</div>

