/* uploader */
.bx-form-input-files-result .bx-uploader-ghost-reorder {
    align-self: center;
    margin-right: 0.5rem;
}
.bx-form-input-files-result.ui-sortable .bx-uploader-ghost-reorder {
    cursor: move;
}
.bx-uploader-ghost .bx-base-general-icon-wrapper img {
    max-height: 12.5rem;
}