<script language="javascript">
    $(document).ready(function () {
        bx_activate_anim_icons('#283c50');

        //responsive template
        var mainContent = $('.cd-main-content'),
            content = $('.content-wrapper'),
            header = $('.cd-main-header'),
            sidebar = $('.cd-side-nav'),
            sidebarTrigger = $('.cd-nav-trigger');

        var mq = bx_check_mq();            
        if (mq != 'mobile') {
            $(window).scroll(function () {
                $.each($('.content-wrapper-wrp, .cd-side-nav'), function (index, val) {
                    var iCh = $(this).height();
                    var iWh = $(window).height();
                    if (iCh - $(window).scrollTop() - $(window).height() < 0) {
                        $(this).css('position', 'sticky').css('top', -iCh + $(window).height());
                    }
                });
            });
        }

         
        //mobile only - open sidebar when user clicks the hamburger menu
        sidebarTrigger.on('click', function(event){
            event.preventDefault();
            sidebar.toggleClass('nav-is-visible');
            sidebarTrigger.toggleClass('bx-menu-tab-active');
        });
    });
</script>
