<script type="text/javascript" language="javascript">
    $(document).ready(function () {
		if (aDolOptions.sys_fixed_header !== undefined && aDolOptions.sys_fixed_header != 'on'){
			var mq = bx_check_mq();
			if (mq != 'mobile')
				$("#bx-logo-container").prependTo("#bx-sliding-menu-sys_site .bx-sliding-menu-main-cnt");

			if(mq == 'mobile') {
				// hide toolbar on scrolldown, show - on scroll up
				new Headroom($('#bx-toolbar').get(0), {
					tolerance: {
						down: 10,
						up: 20
					},
					offset: 200,
					classes: {
						initial: "bx-toolbar-anim",
						pinned: "bx-toolbar-reset",
						unpinned: "bx-toolbar-up"
					},
					onUnpin: function() {
						bx_menu_slide_close_all_opened();

						var sidebar = $('.cd-side-nav');
						if(sidebar.hasClass('nav-is-visible'))
							sidebar.toggleClass('nav-is-visible');
					}
				}).init();
			}
		}
    });
</script>
