.bx-se-migrate-not-finished {
	color:limegreen;
	font-weight:bold;
}

.bx-se-migrate-error {
	font-weight:bold;
	color:red;
}
table.bx-grid-table td{
	text-align:center;
}

.bx-grid-header-cnt > div{
	width:50%;	
}