<div class="bx-base-pofile-unit-ext bx-def-box bx-def-round-corners bx-def-color-bg-box bx-def-margin-bottom">
    <bx_if:show_cover>
        <div class="bx-base-pofile-unit-cover">
            <img class="bx-base-pofile-unit-cover bx-def-round-corners" alt="__title__" src="__cover_url__" />
        </div>
    </bx_if:show_cover>
    <div class="bx-base-pofile-unit-text bx-def-padding bx-def-box-sizing">
        <div class="bx-base-pofile-unit-title">
            <h2><a href="__content_url__">__title__ </a></h2>__badges__
        </div>
        <div class="bx-base-pofile-unit-info bx-def-margin-sec-top bx-def-font-small">
            <bx_if:meta><div class="bx-base-general-unit-meta">__meta__</div></bx_if:meta>
        </div>
        <div class="bx-base-pofile-unit-summary bx-def-margin-sec-top bx-clearfix">__summary__</div>
    </div>
</div>