<script language="javascript">
    $(document).ready(function () {
        bx_activate_anim_icons('#283C50');

        var aSidebars = ['site', 'account'];
        for(var i in aSidebars) {
            $('.bx-sidebar-' + aSidebars[i] + '-trigger').on('click', function(event) {
                event.preventDefault();

                var aMatches = $(this).attr('class').match(/bx-sidebar-(.*)-trigger/);
                if(!aMatches || aMatches.length != 2)
                    return;

                bx_sidebar_toggle(aMatches[1]);
            });

            $('.bx-sidebar .bx-sidebar-' + aSidebars[i] + '-close').on('click', function(event){
                event.preventDefault();

                var aMatches = $(this).attr('class').match(/bx-sidebar-(.*)-close/);
                if(!aMatches || aMatches.length != 2)
                    return;

                bx_sidebar_toggle(aMatches[1]);
            });
        }
    });

    function bx_sidebar_toggle(sType) {
        var oSidebar = $('.bx-sidebar.bx-sidebar-' + sType);
        var bShow = !oSidebar.hasClass('bx-sidebar-active') ? true : false;
console.log(sType);
        oSidebar.toggleClass('bx-sidebar-active', bShow);
    }

    function bx_sidebar_dropdown_toggle(oLink) {
        $(oLink).parents('.bx-sidebar-item:first').toggleClass('bx-si-dropdown-open').find('.bx-si-dropdown-icon').toggleClass('rotate-0 rotate-90');

        return false;
    }

    function bx_site_search_complete(oContainer, oData) {
        if(!oData)
            return;

        oContainer.show();

        setTimeout(function () {
            var iWidthPrev = $(window).width();
            $(window).on('resize.bx-site-search', function () {
                if($(this).width() == iWidthPrev)
                    return;

                iWidthPrev = $(this).width();
                bx_site_search_close_all_opened();
            });
 
            $(document).on('click.bx-site-search touchend.bx-site-search', function (event) {
                if ($(event.target).parents('.sys-search-results-quick').length || $(event.target).filter('.sys-search-results-quick').length || e === event.target)
                    event.stopPropagation();
                else
                    bx_site_search_close_all_opened();
            });

        }, 10);
    }

    function bx_site_search_close_all_opened() {
        $('.sys-search-results-quick:visible').each(function () {
            $(this).hide();
        });
    }
</script>