<div class="sys-author-info flex justify-between items-center flex-wrap">
    <div class="sys-author bx-def-unit absolute flex items-center">
        <div class="bx-def-unit-img">__author_unit__</div>
        <div class="bx-def-unit-info ml-4">
            <div class="bx-def-unit-info-cnt bx-def-box-sizing">
                <div class="bx-def-unit-line bx-def-font-author"><a class="bx-def-unit-info-title" href="__author_url__" title="__author_title_attr__">__author_title__</a></div>
                <div class="bx-def-unit-line bx-def-font-meta">__author_desc__</div>
            </div>
        </div>
    </div>
    <div class="sys-author-profile py-1">__author_profile_desc__</div>
</div>
<bx_if:addon>
    <div class="bx-def-margin-sec-top">
        __content__
    </div>
</bx_if:addon>