<div class="sys-cpf-form sys-cpf-default flex items-center">
    <div class="sys-cpf-user">
        <div class="bx-base-pofile-unit-thumb bx-cont-ph h-10 w-10 mr-4 rounded-full box-border"></div>
    </div>
    <div class="sys-cpf-content flex-auto">
        <span class="bx-cont-ph inline-block w-44">&nbsp;</span>
    </div>
</div>
<script>
    var iBlockID = '__id__';
    $(document).ready(function () {
        getHtmlData($('#bx-page-block-' + iBlockID), bx_append_url_params(document.location.href, 'dynamic=tab&pageBlock=' + iBlockID), undefined, 'post', false, {includedCss: JSON.stringify(aIncludedCss), includedJs: JSON.stringify(aIncludedJs)}, false);
    });
</script>