<div class="bx-cont-ph-profile-unit relative flex">
    <div class="bx-base-pofile-unit-with-cover w-1/3">
        <div class="bx-base-pofile-unit-cnt m-2 ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-800 rounded-md shadow-sm overflow-hidden">
            <div class="bx-base-pofile-unit-cover flex align-items justify-center p-4 bg-gray-100 dark:bg-gray-700">
                <div class="bx-def-unit-img bx-cont-ph h-24 w-24 rounded-full">&nbsp;</div>
            </div>
            <div class="bx-base-pofile-unit-title p-2 flex justify-center box-border">
                <div class="bx-cont-ph w-20 mb-1">&nbsp;</div>
            </div>
            <div class="bx-base-pofile-unit-info flex justify-center px-2 pb-2 box-border">
                <ul id="bx-persons-snippet-meta" class="flex">
                    <li class="bx-menu-item">
                        <span class="bx-cont-ph-inline w-24">&nbsp;</span>
                    </li>
                    <li class="bx-menu-item ml-4">
                        <span class="bx-cont-ph-inline w-24">&nbsp;</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    var iBlockID = '__id__';
    var sTmpl = $('#bx-page-block-' + iBlockID + ' .bx-cont-ph-profile-unit').html();
    $('#bx-page-block-' + iBlockID + ' .bx-cont-ph-profile-unit').append(sTmpl + sTmpl);
    $(document).ready(function () {
        getHtmlData($('#bx-page-block-' + iBlockID), bx_append_url_params(document.location.href, 'dynamic=tab&pageBlock=' + iBlockID), undefined, 'post', false, {includedCss: JSON.stringify(aIncludedCss), includedJs: JSON.stringify(aIncludedJs)}, false);
    });
</script>