<div id="__id__" class="__class__ sys-action-counter-iconset text-sm font-normal">
    <a class="group flex items-center p-1 pl-2 border-none rounded-full text-gray-500 hover:text-gray-700 dark:text-gray-500 dark:hover:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700" href="__href__"<bx_if:show_onclick> onclick="__onclick__"</bx_if:show_onclick>>
        <bx_repeat:profiles>__icon__</bx_repeat:profiles>
        <bx_if:show_icon>
            <div class="sys-action-counter-icon __sp__-counter-icon bx-def-icon-size flex items-center justify-center h-6 w-6 mr-2 ring-1 ring-white dark:ring-gray-800 h-6 w-6 bg-gray-200 dark:bg-gray-800 rounded-full">__icon__</div>
        </bx_if:show_icon>
    __content__
    </a>
</div>