<div id="bx-uploader-file-{storage_object}-{file_id}" class="bx-uploader-ghost cmts-uploader-file flex items-start mt-2">
    <input type="hidden" name="__name__[]" value="{file_id}" />
    <div class="cmts-uploader-file-preview rounded mr-2">
        <img src="{file_icon}" class="bx-base-general-icon bx-base-general-icon-{file_id} rounded" />
    </div>
    <div>
        <div class="cmts-uploader-file-title">{file_title}</div>
        <div class="cmts-uploader-file-actions mt-2">
            <a class="bx-btn bx-btn-small mr-2" href="javascript:void(0);" onclick="{js_instance_name}.deleteGhost('{file_id}');"><bx_text:_Delete /></a>
        </div>
    </div>
</div>