<div id="__id__" class="__class__ sys-action-counter-iconset text-sm font-normal">
    <a class="sys-ac-link group p-1 pl-2" href="__href__"<bx_if:show_onclick> onclick="__onclick__"</bx_if:show_onclick>>
        <bx_repeat:profiles>__icon__</bx_repeat:profiles>
        <bx_if:show_icon>
            <div class="sys-action-counter-icon __sp__-counter-icon bx-def-icon-size flex items-center justify-center z-10 h-6 w-6 ring-1 ring-white dark:ring-gray-700 h-6 w-6 bg-gray-200 dark:bg-gray-700 rounded-full">__icon__</div>
        </bx_if:show_icon>
        <div class="ml-2 first:ml-0">__content__</div>
    </a>
</div>