<span class="__style_prefix__-counter-label flex items-center">
    <bx_if:show_icon>
        <span class="sys-action-counter-icon __style_prefix__-counter-icon relative flex items-center justify-center ring-1  h-6 w-6 rounded-full ring-white dark:ring-gray-800 h-6 w-6 bg-gray-200 dark:bg-gray-800">
            __name__
        </span>
    </bx_if:show_icon>
    <bx_if:show_profiles>
        <span class="sys-action-counter-profiles __style_prefix__-counter-profiles flex">
            <bx_repeat:profiles>
                <span class="sys-action-counter-profile __style_prefix__-counter-profile block -ml-2 first:ml-0">__unit__</span>
            </bx_repeat:profiles>
        </span>
    </bx_if:show_profiles>
    <bx_if:show_text>
        <span class="sys-action-counter-text __style_prefix__-counter-text ml-1">__text__</span>
    </bx_if:show_text>
</span>