<bx_if:logged_in>
<style>
    .bx-hide-when-logged-in {
        display:none !important;
    }
</style>
</bx_if:logged_in>
<div class="relative bg-gradient-to-br from-gray-100 to-blue-100 dark:bg-gradient-to-r dark:from-gray-900 dark:to-black overflow-hidden">
    <div class="relative py-16">
      <main class="">
        <div class="mx-auto max-w-7xl">
          <div class="">
            <div class="relative">
              <div class="absolute top-0 -left-8 w-96 h-96 bg-purple-700 rounded-full  filter blur-3xl z-0 opacity-60 animate-goo"></div>
              <div class="absolute top-12 -right-8 w-96 h-96 bg-red-700 rounded-full filter blur-3xl z-0 opacity-60 animate-goo animation-delay-2000"></div>  
              <div class="absolute -bottom-12 left-1/3 w-96 h-96 bg-green-700 rounded-full filter blur-3xl z-0 opacity-60 animate-goo animation-delay-4000"></div> 
            </div>
            <div class=" relative  text-center md:max-w-2xl md:mx-auto">
              <div>
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-50">
                  <span class="block pb-1 relative">__title__</span>
                  <span class="block pb-1  bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-blue-500 "></span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
</div>