<div class="bx-switcher-cont-alt">
    <button type="button" class="__class__ dark:__class_dark__ ring-gray-300 dark:ring-gray-700 ring-1  relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent  rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" role="switch" aria-checked="false" onClick="switcher_click(this)">
        <span aria-hidden="true" class="__class2__ pointer-events-none inline-block h-5 w-5 rounded-full bg-white dark:bg-gray-500 shadow transform ring-0 transition ease-in-out duration-200"></span>
    </button>
    __checkbox__
</div>  