<a __attrs__>
    <bx_if:show_title><span>__logo__</span></bx_if:show_title>
    <bx_if:show_logo><img class="__class__" style="__style__" src="__src__" id="__id__" alt="__alt__" /></bx_if:show_logo>
    <bx_if:show_logo_dark><img class="__class__" style="__style__" src="__src__" id="__id__" alt="__alt__" /></bx_if:show_logo_dark>
    <bx_if:show_logo_inline><span class="bx-logo-inline __class__" style="height: __height__">__content__</span></bx_if:show_logo_inline>
    <bx_if:show_mark><img class="__class__" style="__style__" src="__src__" id="__id__" alt="__alt__" /></bx_if:show_mark>
    <bx_if:show_mark_dark><img class="__class__" style="__style__" src="__src__" id="__id__" alt="__alt__" /></bx_if:show_mark_dark>
    <bx_if:show_mark_inline><span class="bx-logo-inline __class__" style="height: __height__">__content__</span></bx_if:show_mark_inline>
</a>