<div id="bx-sliding-menu-account" class="bx-popup-wrapper bx-popup-trans-wrapper box-border bx-def-z-index-nav" style="display:none; opacity:1;">
    <div class="bx-popup-gap mx-4 my-px md:m-px">
        <div class="bx-popup bx-popup-trans bx-popup-border bx-popup-color-bg">
            <div class="bx-popup-content relative">
                <div class="bx-menu-account-popup bx-menu-object-__object__ pt-4">
                    <bx_repeat:menu_items>
                        <div class="bx-menu-account-popup-__name__">__item__</div>
                    </bx_repeat:menu_items>
                </div>
            </div>
        </div>
    </div>
</div>