<div id="bx-sliding-menu-account" class="bx-popup-wrapper bx-popup-trans-wrapper box-border bx-def-z-index-nav" style="display:none; opacity:1;">
    <div class="bx-popup-gap mx-4 my-px md:m-px">
        <div class="bx-popup bx-popup-trans relative ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-800 rounded-md shadow overflow-hidden">
            <div class="bx-popup-content relative">
                <div class="bx-menu-account-popup bx-menu-object-__object__ pt-4">
                    <div class="bx-menu-account-popup-profile bx-clearfix px-4">__active_profile__</div>
                    <hr class="bx-def-hr" />
                    <div class="bx-menu-account-popup-menu my-2">__menu_notifications__</div>
                </div>
                <div class="bx-menu-account-popup-profile-switcher box-border">__profile_switcher__</div>
                <bx_if:multiple_profiles_mode>
                    <hr class="bx-def-hr" />
                    <div class="bx-menu-account-popup-profile-switcher-link p-4">
                        <a class="bx-btn w-full" href="__url_switch_profile__">
                            <i class="sys-icon plus"></i><span class="pl-2"><bx_text:_sys_txt_my_profiles /></span>
                        </a>
                    </div>
                </bx_if:multiple_profiles_mode>
            </div>
        </div>
    </div>
</div>