<bx_repeat:menu_items>
    <li class="bx-sidebar-item bx-sidebar-item-__name____class_add__ group flex flex-col text-sm font-medium">
        <a class="bx-stl-mil" href="__link__" onclick="__onclick__"__attrs__>
            <span class="bx-si-icon bx-stl-mii flex-shrink-0 group-hover:text-gray-700 dark:group-hover:text-gray-300">
                <bx_include_auto:menu_icon.html />
            </span>
            <span class="bx-si-title bx-stl-mit flex-1">__title__</span>
            <svg class="bx-si-dropdown-icon flex-shrink-0 h-5 w-5 ml-2 transform rotate-0 transition-transform ease-in-out duration-150 text-gray-300 group-hover:text-gray-400 hidden" viewBox="0 0 20 20" aria-hidden="true">
                <path d="M6 6L14 10L6 14V6Z" fill="currentColor"></path>
            </svg>
        </a>
        <bx_if:show_submenu>
            <ul class="bx-sidebar-dropdown-content space-y-1 hidden">
                <bx_repeat:submenu_items>
                    <li class="bx-stl-mil-hover group flex items-center w-full pl-12 pr-2 py-2 text-gray-600 dark:text-gray-300 text-sm font-medium rounded-md">
                        <a class="hover:no-underline" href="__link__" onclick="__onclick__"__attrs__>__title__</a>
                    </li>
                </bx_repeat:submenu_items>
            </ul>
        </bx_if:show_submenu>
    </li>
</bx_repeat:menu_items>