<ul class="bx-menu-floating-blocks-big bx-menu-object-__object__ flex flex-wrap justify-center">
    <bx_repeat:menu_items><li class="bx-def-round-corners w-32 rounded-md __class_add__">
        <a href="__link__" onclick="__onclick__" class="flex flex-col items-center text-gray-600 dark:text-gray-300 dark:hover:bg-gray-700 hover:bg-gray-200 hover:text-gray-700 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"__attrs__>
            <div class="bx-menu-floating-blocks-icon m-2">
                <bx_if:icon><i class="sys-icon __icon__ block w-16 h-16 leading-16 text-6xl text-center"></i></bx_if:icon>
                <bx_if:image><img class="block w-16 h-16" style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image>
            </div>
            <div class="bx-menu-floating-blocks-title">__title__</div>
        </a>                
    </li></bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-floating-blocks-big > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>
