<ul id="bx-menu-inter-__id__" class="bx-menu-inter bx-menu-object-__object__ flex items-center">
    <bx_repeat:menu_items>
        <bx_if:show_divider>
            <li class="bx-menu-inter-div"><span>&#183;</span></li>
        </bx_if:show_divider>
        <li id="__id__-act" class="bx-menu-inter-act __class_wrp_act__ group flex items-center bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-white text-sm font-normal shadow-sm">
            <div class="py-2 px-4 __class__" title="__title_attr__">__title__</div>
        </li>
        <li id="__id__-pas" class="bx-menu-inter-pas __class_wrp_pas__ group flex items-center text-gray-600 dark:text-gray-300 hover:bg-gray-100 dark:hover:text-gray-100 dark:hover:bg-gray-700 hover:text-gray-900 text-sm font-normal rounded-md">
            <a id="__id__" class="__class__" href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__>
                <div class="py-2 px-4">__title__</div>
            </a>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function() {
    	$('#bx-menu-inter-__id__').find('a').bind('click', function() {
            var sId = $(this).attr('id');
            $(this).parent().siblings('.bx-menu-inter-act:visible').hide().siblings('.bx-menu-inter-pas:hidden').show().siblings('#' + sId + '-pas:visible').hide().siblings('#' + sId + '-act:hidden').show();
    	});
    });
</script>