<bx_repeat:menu_items>
    <li class="bx-menu-item-cd bx-menu-item-cd-__name__ __class_add__">
        <a href="__link__" onclick="__onclick__"__attrs__>
            <bx_include_auto:menu_icon.html />
            <span>__title__</span>
        </a>
        <bx_if:show_submenu>
            <ul class="cd-secondary-dropdown is-hidden pt-14">
                <li class="go-back"><a href="javascript:void(0)">Menu</a></li>
                <bx_repeat:submenu_items>
                    <li><a href="__link__" onclick="__onclick__"__attrs__>__title__</a></li>
                </bx_repeat:submenu_items>
            </ul>
        </bx_if:show_submenu>
    </li>
</bx_repeat:menu_items>