<div id="bx-menu-main-bar-wrapper" class="bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-800">
    <div id="bx-menu-main-bar" class="bx-menu-main-bar __class__ bx-def-page-width mx-auto px-4 sm:px-6 lg:px-8 box-border">
        <div class="bx-menu-main-bar-cnt relative -mb-px">
            <div class="absolute w-full">
                <bx_injection:injection_top_menu_before />
                __code__
                <bx_injection:injection_top_menu_after />
            </div>
        </div>
    </div>
</div>