<bx_repeat:menu_items>
    <li class="bx-menu-subitem bx-menu-subitem-__name__ __class_add__">
        <div class="bx-menu-item-cnt bx-stl-mil-wo-gaps">
            <a class="bx-stl-mil-gaps group flex flex-auto items-center pl-2 truncate" href="__link__" onclick="__onclick__"__attrs__>
                <span class="bx-menu-item-icon bx-stl-mii flex-none group-hover:text-gray-700 dark:group-hover:text-gray-300">
                    <bx_include_auto:menu_icon.html />
                </span>
                <span class="bx-menu-item-title bx-stl-mit flex-1" sidebar-toggle-item>__title__</span>
                <bx_if:addon>
                    <div class="bx-menu-addon bx-stl-mia flex-none group-hover:text-gray-800 dark:group-hover:text-gray-100">
                        <div class="bx-menu-addon-cnt bx-def-label menu">__addon__</div>
                    </div>
                </bx_if:addon>
            </a>
        </div>
    </li>
</bx_repeat:menu_items>