<ul class="bx-menu-toolbar bx-menu-object-__object__ flex items-center pr-0 md:pr-2">
    <bx_repeat:menu_items>
        <li id="bx-menu-toolbar-item-__name__" class="bx-menu-toolbar-item bx-menu-item-__name__ group relative inline-flex items-center mr-2 last:mr-0 bx-mdr-hidden:mr-0 text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200 text-base font-medium leading-6 border border-transparent hover:border-gray-200/50 active:border-gray-300 dark:hover:border-gray-700/50 dark:active:border-gray-700 bg-gray-100 dark:bg-gray-700/50 active:bg-gray-300 dark:active:bg-black/50 hover:bg-gray-200/50 dark:hover:bg-gray-700/50 rounded-full __class_add__">
            <a href="__link__" onclick="__onclick__" class="inline-block rounded-full __class_add_a__"__attrs__>
                <bx_if:icon><span class="relative flex items-center justify-center h-8 w-8 md:h-10 md:w-10"><i class="sys-icon __icon__"></i></bx_if:icon>
                <bx_if:icon-a><i class="sys-icon-a" data-rotate="down" data-icon="__icon-a__" data-color="#fff"></i></bx_if:icon-a>
                <bx_if:image><img class="" src="__icon_url__" /></bx_if:image>
                <bx_if:icon-html><span class="relative flex items-center justify-center h-8 w-8 md:h-10 md:w-10">__icon__</span></bx_if:icon-html>
                <bx_if:unit><div class="bx-menu-toolbar-item-unit">__unit__</div></bx_if:unit><bx_if:addon>__addonf__</bx_if:addon><bx_if:title><span class="bx-menu-toolbar-item-title sr-only">__title__</span></bx_if:title>
            </a>
        </li>
    </bx_repeat:menu_items>
</ul>