<ul class="bx-menu-profile-stats bx-menu-ver bx-menu-object-__object__">
    <bx_repeat:menu_items>
        <li class="bx-menu-item-__name__ __class_add__ group text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-700 text-sm font-medium rounded-md">
            <div class="bx-menu-item-cnt flex items-center justify-between p-2">
                <a class="flex flex-1 items-center truncate" href="__link__" onclick="__onclick__"__attrs__>
                    <span class="bx-menu-item-icon flex items-center justify-center h-6 w-6 leading-6 text-xl">
                        <bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
                        <bx_if:image><img class="h-6 w-6" style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image>
                        <bx_if:icon-html>__icon__</bx_if:icon-html>
                    </span>
                    <span class="bx-menu-item-title ml-2 truncate" sidebar-toggle-item>__title__</span>
                </a>
                <bx_if:addon>
                    <div class="bx-menu-addon inline-block ml-auto bg-gray-200 dark:bg-gray-800 group-hover:bg-gray-300 dark:group-hover:bg-gray-700 text-gray-600 dark:text-gray-300 text-xs rounded-full" sidebar-toggle-item>
                        <div class="bx-menu-addon-cnt py-0.5 px-2">__addon__</div>
                    </div>
                </bx_if:addon>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-ver > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>