<ul class="bx-menu-profile-stats bx-menu-ver bx-menu-object-__object__">
    <bx_repeat:menu_items>
        <li class="bx-menu-item-__name__ __class_add__ group text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-800 hover:text-gray-900 text-sm font-medium rounded">
            <div class="bx-menu-item-cnt flex items-center px-2 py-2">
                <a href="__link__" onclick="__onclick__"__attrs__>
                    <span class="mr-3 h-5 w-5">
                        <bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
                        <bx_if:image><img class="h-5 w-5" style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image>
                    </span>
                    <span class="truncate">__title__</span>
                </a>
                <bx_if:addon>
                    <div class="bx-menu-addon ml-auto inline-block py-0.5 pl-3 text-xs">
                        <div class="bx-menu-addon-cnt bx-def-label menu bg-gray-200 dark:bg-gray-800 rounded-full">__addon__</div>
                    </div>
                </bx_if:addon>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-ver > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>
