<div id="__id__" class="bx-popup-wrapper bx-popup-box-wrapper box-border" style="__wrapper_style__" role="dialog" aria-describedby="__id___title">
    <div class="bx-popup-gap mx-4 my-px">
        <div class="bx-popup bx-popup-box bx-popup-width bx-popup-border bx-popup-color-bg">
            <div class="bx-popup-header flex items-center justify-between p-3 md:p-4 lg:p-6">
                <div class="text-lg lg:text-xl leading-6 font-semibold text-gray-800 dark:text-gray-100" id="__id___title">__title__</div>
                <div class="bx-popup-close-wrapper relative">
                    <a href="javascript:void(0);" class="bx-popup-element-close flex items-center justify-center w-6 h-6 text-base"><i class="sys-icon times text-gray-800 dark:text-gray-100"></i></a>
                </div>
            </div>
            <div class="bx-popup-content px-4 pb-4">__content__</div>
        </div>
    </div>
</div>