<div class="bx-profile-avatar group text-gray-600 hover:text-gray-800 hover:bg-gray-200 dark:text-gray-300 dark:hover:bg-gray-800 rounded-md">
    <a href="__switcher_url__" onclick="__switcher_onclick__">
        <div class="bx-profile-avatar-cnt relative flex items-center px-4 py-2">
            <div class="bx-pa-img absolute">__profile_unit__</div>
            <div class="bx-pa-info w-full" sidebar-toggle-item>
                <div class="bx-pa-info-cnt flex flex-col justify-center h-10 pl-14 pr-4 box-border">
                    <div class="bx-pai-line text-gray-600 dark:text-gray-300 text-sm group-hover:text-gray-800 dark:group-hover:text-white font-semibold truncate">__profile_title__</div>
                    <div class="bx-pai-line text-green-600 dark:text-green-400 text-xs truncate uppercase tracking-wider font-normal">
                        <!--<bx_include_auto:menu_icon.html />--><span>__profile_acl_title__</span>
                    </div>
                </div>
            </div>
            <bx_if:show_switcher_icon>
                <div class="bx-pa-actions absolute right-0 pr-4" sidebar-toggle-item>
                    <div class="bx-pa-action flex items-center justify-center h-5"><i class="sys-icon arrows-alt-v flex-shrink-0 text-gray-400 group-hover:text-gray-500"></i></div>
                </div>
            </bx_if:show_switcher_icon>
        </div>
    </a>
</div>
__switcher__