<div class="bx-profile-avatar group text-gray-600 hover:text-gray-800 hover:bg-gray-200 dark:text-gray-300 dark:hover:bg-gray-800">
    <a href="javascript:void(0)" onclick="javascript:$('#bx-profile-switcher').dolPopup({});">
        <div class="bx-profile-avatar-cnt flex items-center p-2">
            <div class="bx-pa-img">__profile_unit__</div>
            <div class="bx-pa-info w-full">
                <div class="bx-pa-info-cnt pl-4 box-border">
                    <div class="bx-pai-line text-gray-600 dark:text-gray-300 text-sm group-hover:text-gray-800 dark:group-hover:text-white font-semibold truncate">__profile_title__</div>
                    <div class="bx-pai-line text-green-600 dark:text-green-400 text-xs truncate uppercase tracking-wider font-normal">
                        <div><!--<i class="sys-icon __profile_acl_icon__ pr-2"></i>--><span>__profile_acl_title__</span></div>
                    </div>
                </div>
            </div>
            <div class="bx-pa-actions">
                <div class="bx-pa-action ml-2"><i class="sys-icon arrows-alt-v"></i></div>
            </div>
        </div>
    </a>
</div>
__profile_switcher__