<div class="bx-profile-avatar text-gray-600 dark:text-gray-300">
    <div class="bx-profile-avatar-cnt relative flex items-center">
        <div class="bx-pa-img absolute">__profile_unit__</div>
        <div class="bx-pa-info w-full" sidebar-toggle-item>
            <div class="bx-pa-info-cnt flex flex-col justify-center h-10 pl-10 pr-4 box-border">
                <div class="bx-pai-line text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white font-semibold truncate">
                    <a href="__profile_url__" title="__profile_title_attr__">__profile_title__</a>
                </div>
                <div class="bx-pai-line text-green-600 dark:text-green-400 text-xs font-normal truncate uppercase tracking-wider">
                    <!--<bx_include_auto:menu_icon.html />--><span>__profile_acl_title__</span>
                </div>
            </div>
        </div>
        <bx_if:show_switcher_icon>
            <div class="bx-pa-actions absolute right-0" sidebar-toggle-item>
                <a class="block" href="__switcher_url__" onclick="__switcher_onclick__">
                    <div class="bx-pa-action flex items-center justify-center h-8 w-8 bg-gray-100 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600 rounded-full"><i class="sys-icon arrows-alt-v flex-shrink-0 text-gray-400 group-hover:text-gray-500"></i></div>
                </a>
            </div>
        </bx_if:show_switcher_icon>
    </div>
</div>
__switcher__