<div class="bx-profile-stats bx-def-border-radius-block">
    <div class="bx-profile-stats-cnt bx-def-padding">
	<div class="bx-ps-user">
            <div class="bx-ps-user-cnt flex items-center">
                <div class="bx-ps-user-img">
                    __profile_unit__
                </div>
                <div class="bx-ps-user-info">
                    <div class="bx-ps-user-info-cnt pl-4 box-border">
                        <div class="bx-ps-user-line"><a class="text-gray-600 dark:text-gray-300 text-sm group-hover:text-gray-800 dark:group-hover:text-white font-semibold truncate" href="__profile_url__" title="__profile_title_attr__">__profile_title__</a></div>
                        <div class="bx-ps-user-line mt-1">
                            <div><i class="sys-icon __profile_acl_icon__"></i><span class="pl-2">__profile_acl_title__</span></div>
                        </div>
                    </div>
                </div>
            </div>
	</div>
	<div class="bx-ps-menu pt-2 md:pt-3 lg:pt-4">__menu__</div>
    </div>
</div>