<div class="bx-profile-stats bx-def-border-radius-block">
    <div class="bx-profile-stats-cnt bx-def-padding">
        <div class="bx-ps-user">
            <div class="bx-profile-avatar-cnt bx-stl-mil-hover group flex items-center px-2 py-1.5 rounded-md cursor-pointer" onclick="window.location.href='__profile_url__'">
                <div class="bx-pa-img absolute">__profile_unit__</div>
                <div class="bx-pa-info w-full">
                    <div class="bx-pa-info-cnt flex flex-col justify-center h-10 pl-10 box-border">
                        <div class="bx-pai-line text-gray-600 dark:text-gray-300 group-hover:text-gray-800 dark:group-hover:text-white font-semibold truncate">__profile_title__</div>
                        <div class="bx-pai-line text-green-600 dark:text-green-400 text-xs truncate uppercase tracking-wider font-normal">
                            <div><!--<bx_include_auto:menu_icon.html />--><span>__profile_acl_title__</span></div>
                        </div>
                    </div>
                </div>
                <!--<div class="bx-pa-actions">
                    <div class="bx-pa-action flex items-center justify-center h-5 w-5 ml-2"><i class="sys-icon arrows-alt-v flex-shrink-0 text-gray-400 group-hover:text-gray-500"></i></div>
                </div>-->    
            </div>
            <div class="bx-ps-menu mt-5 pt-3">__menu__</div>
        </div>
    </div>
</div>