<bx_include_auto:_header.html />
<div class="bx-main bx-pt-application <bx_injection:injection_main_class />">
    <bx_injection:top />
    <!-- BEG: Navigation -->
    <nav class="fixed z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex flex-1 items-center justify-start">
                    <!-- Sidebar Toggler -->
                    <button id="toggleSidebar" aria-expanded="true" aria-controls="sidebar" class="hidden p-2 mr-6 text-gray-600 rounded cursor-pointer xl:inline hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700">
                      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    </button>
                    <button id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar" class="p-2 mr-2 text-gray-600 rounded cursor-pointer xl:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <svg id="toggleSidebarMobileHamburger" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                      <svg id="toggleSidebarMobileClose" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                    <div class="bx-toolbar-items-group relative flex flex-1 items-center justify-start">
                        <!-- Logo -->
                        <div id="bx-logo-container" class="bx-toolbar-item bx-ti-left bx-ti-logo flex-none items-center">
                            <bx_injection:injection_logo_before />
                            __main_logo__
                            <bx_injection:injection_logo_after />
                        </div>
                        <!-- Menu -->
                        <div class="bx-toolbar-item bx-ti-menu flex-2 hidden xl:block w-64 ml-4">
                            <div id="bx-menu-toolbar-1-container" class="bx-toolbar-item bx-ti-menu w-full">
                                <bx_menu:sys_application />
                            </div>
                        </div>
                        <!-- Search -->
                        <div class="bx-toolbar-item bx-ti-search flex flex-1 items-center justify-end">
                            <div class="bx-ti-search-box flex items-start md:min-w-88 mr-2 bg-white dark:bg-gray-800 rounded-md shadow-lg xl:shadow-none hidden xl:block">
                                <div class="relative w-full">__sys_site_search__</div>
                            </div>
                            <div class="bx-ti-search-button group relative inline-flex xl:hidden items-center mx-2 text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200 text-base font-medium leading-6 border border-transparent hover:border-gray-200/50 active:border-gray-300 dark:hover:border-gray-700/50 dark:active:border-gray-700 bg-gray-100 dark:bg-gray-700/50 active:bg-gray-300 dark:active:bg-black/50 hover:bg-gray-200/50 dark:hover:bg-gray-700/50 rounded-full">
                                <a href="javascript:void(0)" onclick="javascript:bx_site_search_show(this)">
                                    <span class="relative flex items-center justify-center h-8 w-8 md:h-10 md:w-10">
                                        <bx_image_auto:search />
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <!-- Members Toolbar -->
                    <bx_menu:sys_toolbar_member />
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Navigation -->

    <div class="bx-main-content flex pt-16 overflow-hidden">
        <!-- BEG: Sidebar -->
        <aside id="sidebar" class="bx-main-column narrow fixed top-0 left-0 z-20 hidden xl:flex flex-col flex-shrink-0 w-64 h-full pt-16 duration-75 transition-width" aria-label="Sidebar">
            <div class="bx-mc-border relative flex flex-col flex-1 min-h-0 max-h-full pt-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                <div class="flex flex-col flex-1 py-2 overflow-y-auto">
                    <div class="bx-mc-cnt flex-1 px-4 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                        <bx_menu:sys_site_panel />
                    </div>
                </div>
                <div class="absolute bottom-0 left-0 justify-center hidden w-full p-4 space-x-4 xl:flex" sidebar-bottom-menu>
                    <!-- Some button based menu may be here -->
                </div>
            </div>
        </aside>
        <div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>
        <!-- END: Sidebar -->    

        <!-- BEG: Main Content -->
        <div id="main-content" class="bx-main-column wide relative w-full h-full overflow-y-auto xl:ml-64">
            <main>
                <bx_injection:injection_between_cover_logo />
                __cover__
                <bx_injection:injection_between_cover_top_menu />
                <div id="bx-menu-main-bar-wrapper" class="bx-menu-main-bar-wrapper bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-800 __site_submenu_hidden__">
                    <div id="bx-menu-main-bar" class="bx-menu-main-bar __site_submenu_class__ mx-auto px-4 sm:px-6 lg:px-8 box-border">
                        <div class="bx-menu-main-bar-cnt relative -mb-px">
                            <div class="absolute w-full text-center">
                                <bx_injection:injection_top_menu_before />
                                <bx_menu:sys_site_submenu />
                                <bx_injection:injection_top_menu_after />
                            </div>
                        </div>
                    </div>
                </div>
                <bx_injection:injection_between_content_menu />
                <div id="bx-content-wrapper" class="bx-def-page-width mx-auto">
                    __informer__
                    <div class="bx-page-wrapper mx-auto px-3 md:px-4 lg:px-6 box-border">
                        <div id="bx-content-container" class="bx-content-container">
                            <div id="bx-content-main" class="bx-content-main my-2 lg:my-3">
                                <bx_injection:injection_content_before />
                                __page_main_code__
                                <bx_injection:injection_content_after />
                                <bx_injection:banner_bottom />
                            </div> <!-- #bx-content-main -->
                            <bx_injection:injection_between_content_footer />
                        </div> <!-- #bx-content-container -->
                    </div> <!-- .bx-page-wrapper -->
                </div> <!-- #bx-content-wrapper -->
            </main>
            <footer class="p-4 m-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 xl:p-8 dark:bg-gray-800">
                <bx_injection:injection_footer_before />
                <div id="bx-menu-bottom">
                    <bx_menu:sys_footer />
                </div>
                <bx_injection:injection_footer_after />
            </footer>
        </div>
        <!-- END: Main Content -->
    </div>
    <bx_menu:sys_site_action />
</div> <!-- .bx-main -->
<bx_include_auto:_footer.html />