<div id="__html_id__" class="sys-action __style_prefix__ __class__ flex items-center whitespace-nowrap" bx_score_data_score="__score__" bx_score_data_cup="__cup__" bx_score_data_cdown="__cdown__">
    <div class="sys-action-cnt __style_prefix__-cnt bx-def-valign-center bx-clearfix">
        <bx_if:show_do_vote_up>
            <div class="sys-action-element-holder __style_prefix__-element-holder __style_prefix__-eh-up">__do_vote__</div>
        </bx_if:show_do_vote_up>
        <bx_if:show_counter>
            <div class="sys-action-counter-holder __style_prefix__-counter-holder bx-def-margin-sec-left-auto bx-btn-border"<bx_if:show_hidden> style="display:none"</bx_if:show_hidden>>__counter__</div>
        </bx_if:show_counter>
        <bx_if:show_do_vote_down>
            <div class="sys-action-element-holder __style_prefix__-element-holder __style_prefix__-eh-down bx-def-margin-sec-left-auto">__do_vote__</div>
        </bx_if:show_do_vote_down>
    </div>
    <bx_if:show_legend>__legend__</bx_if:show_legend>
    __script__
</div>