<div class="bx-sidebar bx-sidebar-account bx-def-z-index-modal fixed flex justify-end inset-0" role="dialog" aria-modal="true">
    <div class="bx-sidebar-account-bg fixed inset-0 bg-gray-600 opacity-75" aria-hidden="true"></div>
    <div class="flex-shrink-0 w-14" aria-hidden="true"></div>
    <div class="bx-sidebar-cnt relative flex-1 flex flex-col max-w-xs w-full py-4 bg-white dark:bg-gray-900">
        <div class="absolute top-0 left-0 -ml-12 pt-2">
            <button type="button" class="bx-sidebar-account-close ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                <span class="sr-only"><bx_text:_bx_artificer_txt_close_sidebar /></span>
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div class="bx-sb-profile flex-shrink-0 px-4 pb-4 flex justify-between items-center">__active_profile__
            <div class="bx-sb-theme-switcher">
                <a class="hover:no-underline" href="javascript:" onclick="bx_artificer_get_color_scheme_menu()"><i class="sys-icon desktop"></i></a>
            </div>
			<div id="bx-sb-theme-switcher-menu" class="bx-popup-wrapper bx-popup-responsive bx-popup-trans-wrapper box-border"  style="display: none">
				<div class="bx-popup-gap mx-4 my-px">
        			<div class="bx-popup bx-popup-trans bx-popup-border bx-popup-color-bg">
            			<div class="bx-popup-content overflow-hidden">
							<div class="bx-menu-item-more-popup w-full md:w-56 box-border">		
								<ul class="bx-menu-custom bx-menu-custom-ver bx-menu-submenu-more-auto bx-clearfix">
									<li class="bx-menu-item bx-menu-item-albums-home  rounded-md bx-def-color-bg-hl-hover" >
										<a href="javascript:" onclick="bx_artificer_set_color_scheme(1)" class="bx-stl-mil group">
											<div class="bx-menu-item-icon bx-menu-floating-blocks-icon bx-stl-mii group-hover:text-gray-700 dark:group-hover:text-gray-300">
												<i class="sys-icon sun"></i>
											</div>
											<div class="bx-menu-item-title bx-menu-floating-blocks-title bx-stl-mit whitespace-nowrap"><bx_text:_bx_artificer_txt_color_scheme_light /></div>
										</a>
									</li>
									<li class="bx-menu-item bx-menu-item-groups-home  rounded-md bx-def-color-bg-hl-hover">
										<a href="javascript:" onclick="bx_artificer_set_color_scheme(2)" onclick="" class="bx-stl-mil group">
											<div class="bx-menu-item-icon bx-menu-floating-blocks-icon bx-stl-mii group-hover:text-gray-700 dark:group-hover:text-gray-300">
												<i class="sys-icon moon"></i>
											</div>
											<div class="bx-menu-item-title bx-menu-floating-blocks-title bx-stl-mit whitespace-nowrap"><bx_text:_bx_artificer_txt_color_scheme_dark /></div>
										</a>
									</li>
									<li class="bx-menu-item bx-menu-item-files-home  rounded-md bx-def-color-bg-hl-hover" >
										<a href="javascript:" onclick="bx_artificer_set_color_scheme(0)" onclick="" class="bx-stl-mil group">
											<div class="bx-menu-item-icon bx-menu-floating-blocks-icon bx-stl-mii group-hover:text-gray-700 dark:group-hover:text-gray-300">
												<i class="sys-icon desktop"></i>
											</div>
											<div class="bx-menu-item-title bx-menu-floating-blocks-title bx-stl-mit whitespace-nowrap"><bx_text:_bx_artificer_txt_color_scheme_system /></div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <hr class="bx-def-hr" />
        <div class="bx-sb-menu flex-1 my-2">__menu_notifications__</div>
        <div class="bx-sb-profile-switcher flex-auto overflow-y-auto">__profile_switcher__</div>
        <bx_if:multiple_profiles_mode>
            <hr class="bx-def-hr" />
            <div class="bx-sb-profile-create flex-1 mt-4 mx-4">
                <a class="bx-btn w-full" href="__url_switch_profile__">
                    <i class="sys-icon plus"></i><span class="pl-2"><bx_text:_sys_txt_my_profiles /></span>
                </a>
            </div>
        </bx_if:multiple_profiles_mode>
    </div>
</div>