<div class="bx-lcd-menu-dropdown bx-def-z-index-modal cd-dropdown bg-white dark:bg-gray-800">
    <div class="cd-dropdown-title relative flex items-center justify-between h-14 px-4 bg-white dark:bg-gray-800">
    	__main_logo__
        <a href="javascript:void(0)" class="cd-close w-8 h-8 leading-8 text-center text-gray-700 dark:text-gray-300"><i class="sys-icon times"></i></a>
    </div>
    <ul class="cd-dropdown-content pt-14">
        <li class="bx-lcd-mdd-search bx-def-font-inputs">__search_form__</li>
        <bx_menu:bx_lucid_dropdown_site />
    </ul>
</div>