<span class="__style_prefix__-counter-label flex items-center text-sm font-normal p-1">
    <bx_if:show_icon>
        <span class="sys-action-counter-icon __style_prefix__-counter-icon relative flex items-center justify-center ring-1  h-6 w-6 ring-white dark:ring-gray-700 h-6 w-6 bg-gray-200 dark:bg-gray-700 rounded-full">
            <i class="sys-icon __name__">__emoji__</i>
        </span>
    </bx_if:show_icon>
    <bx_if:show_text>
        <span class="sys-action-counter-text __style_prefix__-counter-text ml-1.5">__text__</span>
    </bx_if:show_text>
</span>