<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         failOnRisky="false"
         failOnWarning="false"
         failOnDeprecation="false">
  <testsuites>
    <testsuite name="AllTests">
      <directory>./units</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./inc</directory>
      <directory suffix=".php">./modules</directory>
      <directory suffix=".php">./periodic</directory>
      <directory suffix=".php">./studio</directory>
      <directory suffix=".php">./template</directory>
    </include>
    <exclude>
      <directory suffix=".php">updates</directory>
      <directory suffix=".php">plugins</directory>
    </exclude>
  </source>
  <logging>
    <junit outputFile="./../logs/junit.xml" />
  </logging>
</phpunit>
