<!-- layout top area bar right [ start ] -->
<div id="__page_id__" class="bx-layout-wrapper bx-layout-top-area-bar-right">
    <bx_include_auto:_row_1_column.html />
    <div class="bx-layout-row">
        <main class="bx-layout-col bx-layout-bar-right-content bx-layout-column-wide md:w-2/3 md:pr-4 lg:pr-6" aria-label="Main">
            <div class="bx-layout-cell" id="bx-layout-cell-2">
                __cell_2__
            </div>
        </main>
        <aside class="bx-layout-col bx-layout-bar-right-bar bx-layout-column-thin md:w-1/3" aria-label="Aside">
            <div class="bx-layout-cell" id="bx-layout-cell-3">
                __cell_3__
            </div>
        </aside>
    </div>
    <bx_include_auto:_row_1_column_dump.html />
</div>
<!-- layout top area bar right [  end  ] -->