<!-- layout bar left [ start ] -->
<div id="__page_id__" class="bx-layout-wrapper bx-layout-bar-left">
    <div class="bx-layout-row">
        <aside class="bx-layout-col bx-layout-bar-left-bar bx-layout-column-thin md:w-1/3 md:pr-4 lg:pr-6" aria-label="Sidebar">
            <div class="bx-layout-cell" id="bx-layout-cell-1">
                __cell_1__
            </div>
        </aside>
        <main class="bx-layout-col bx-layout-bar-left-content bx-layout-column-wide md:w-2/3" aria-label="Main">
            <div class="bx-layout-cell" id="bx-layout-cell-2">
                __cell_2__
            </div>
        </main>
    </div>
    <bx_include_auto:_row_1_column_dump.html />
</div>
<!-- layout bar left [  end  ] -->