/*--- Unit Meta ---*/
.bx-base-groups-unit-with-cover .bx-base-pofile-unit-info .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

/*--- Role filter ---*/
div.bx-grid-header div.bx-grid-header-controls-filter {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
div.bx-grid-header div.bx-form-element-wrapper {
    margin: 0 0.5rem 0 0;
}
div.bx-grid-header div.bx-form-element-wrapper:last-child {
    margin-right: 0;
}
div.bx-grid-header div#bx-form-element-role,
div.bx-grid-header div#bx-form-element-search {
    margin-top: 0px;
}