/*--- Unit Meta ---*/
.bx-base-groups-unit-with-cover .bx-base-pofile-unit-info .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.bx-base-groups-unit-with-cover .bx-base-pofile-unit-info .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor > li.bx-menu-item-nl {
    height: 1rem;
}
.bx-base-groups-unit-with-cover .bx-base-pofile-unit-info .bx-base-general-unit-meta ul .bx-menu-item-nl ~ li {
    width: 50%;
}
.bx-base-groups-unit-with-cover .bx-base-pofile-unit-info .bx-base-general-unit-meta ul .bx-menu-item-nl ~ li .bx-base-profile-unit-meta-item,
.bx-base-groups-unit-with-cover .bx-base-pofile-unit-info .bx-base-general-unit-meta ul .bx-menu-item-nl ~ li .bx-base-profile-unit-meta-item .bx-btn {
    display: block;
}
.bx-base-groups-unit-with-cover .bx-base-pofile-unit-info .bx-base-general-unit-meta ul .bx-menu-item-nl ~ li .bx-base-profile-unit-meta-item .bx-btn {
    text-align: center;
}