<div id="__html_id__" class="bx-payment-pa-items">
    <div class="bx-payment-pa-items-cnt">
        <bx_repeat:items>
            <div class="bx-payment-pa-item bx-def-margin-thd-top-auto bx-clearfix">
                <div class="bx-payment-pa-item-chb">__input_hidden____input_checkbox__</div><div class="bx-payment-pa-item-title">
                    <div class="bx-payment-pa-item-title-cnt bx-def-padding-sec-leftright">
                        <bx_if:link>
                            <a href="__url__" target="_blank" title="__title__">__title__</a>
                        </bx_if:link>
                        <bx_if:text>__title__</bx_if:text>
                    </div>
                </div><div class="bx-payment-pa-item-quantity">__input_text__</div>
                </div>
            </div>
        </bx_repeat:items>
    </div>
</div>