<div id="__html_id__" class="bx-payment-pa-items">
    <div class="bx-payment-pa-items-cnt">
        <div class="bx-payment-pa-item bx-payment-pai-filter bx-def-margin-thd-top-auto bx-clearfix">__input_filter__</div>
        <div class="bx-payment-pa-item bx-payment-pai-header bx-def-margin-thd-top-auto bx-clearfix">
            <div class="bx-payment-pa-item-title bx-def-padding-thd-right"><bx_text:_bx_payment_txt_item /></div>
            <div class="bx-payment-pa-item-price bx-def-padding-thd-right"><bx_text:_bx_payment_txt_price /></div>
            <div class="bx-payment-pa-item-price bx-def-padding-thd-right"><bx_text:_bx_payment_txt_price_sold /></div>
            <div class="bx-payment-pa-item-quantity"><bx_text:_bx_payment_txt_quantity /></div>
        </div>
        <bx_repeat:items>
            <div class="bx-payment-pa-item bx-def-margin-thd-top-auto bx-clearfix">
                <div class="bx-payment-pa-item-title">
                    <div class="bx-payment-pa-item-title-cnt bx-def-padding-thd-right">
                        __input_checkbox__
                        <bx_if:link>
                            <a href="__url__" target="_blank" title="__title__">__title__</a>
                        </bx_if:link>
                        <bx_if:text>__title__</bx_if:text>
                    </div>
                </div>
                <div class="bx-payment-pa-item-price bx-def-padding-thd-right">__price_f__</div>
                <div class="bx-payment-pa-item-price bx-def-padding-thd-right">__input_price__</div>
                <div class="bx-payment-pa-item-quantity">__input_quantity__</div>
            </div>
        </bx_repeat:items>
    </div>
</div>