<div class="bx-payment-view-order-popup">
    <div class="bx-payment-view-order-popup-cnt">
		<div class="bx-payment-view-order bx-def-border">
			<div class="bx-payment-vo-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
				<div class="bx-payment-vo-caption bx-def-padding-thd-left bx-def-box-sizing">__txt_client__</div><div class="bx-payment-vo-content">
					<a href="__client_url__" target="_blank">__client_name__</a>            
				</div>
			</div>
			<div class="bx-payment-vo-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
				<div class="bx-payment-vo-caption bx-def-padding-thd-left bx-def-box-sizing">__txt_order__</div><div class="bx-payment-vo-content">__order__</div>
			</div>
			<div class="bx-payment-vo-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
				<div class="bx-payment-vo-caption bx-def-padding-thd-left bx-def-box-sizing">__txt_processed_with__</div><div class="bx-payment-vo-content">__provider__</div>
			</div>
			<div class="bx-payment-vo-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
				<div class="bx-payment-vo-caption bx-def-padding-thd-left bx-def-box-sizing">__txt_message__</div><div class="bx-payment-vo-content">__error__</div>
			</div>
			<div class="bx-payment-vo-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
				<div class="bx-payment-vo-caption bx-def-padding-thd-left bx-def-box-sizing">__txt_date__</div><div class="bx-payment-vo-content">__date__</div>
			</div>
			<div class="bx-payment-vo-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
				<div class="bx-payment-vo-caption bx-def-padding-thd-left bx-def-box-sizing">__txt_products__</div><div class="bx-payment-vo-items">
					<bx_repeat:items>
						<bx_if:link><a href="__url__" target="_blank">__title__</a></bx_if:link>
						<bx_if:text>__title__</bx_if:text>
						(__quantity__) - __price__ __currency_code__<br />
					</bx_repeat:items>
				</div>
			</div>
		</div>
	</div>
</div>