<div class="bx-payment-rcrl-card-add">
    <div class="bx-payment-rcrl-card-add-cnt">
        __form__
        <script type="text/javascript">
	        function bxRecurlyFieldsInit() {
	    		recurly.configure({
					publicKey: '__public_key__',
					style: {
						all: {
							fontFamily: '__font_family__',
							fontSize: '__font_size__',
							fontColor: '__font_color__',
						},
						month: {
							placeholder: '<bx_text:_bx_payment_form_rcrl_card_input_card_expire_month />'
						},
						year: {
							placeholder: '<bx_text:_bx_payment_form_rcrl_card_input_card_expire_year />'
						},
					}
				});
	    	}

	        function bxRecurlyFieldsDestroy() {
	        	/*
	        	 * TODO: May be it'll be usefull when Recurly fix the issue with Multiple Times Configuration.
	        	 * http://stackoverflow.com/questions/36430647/is-it-possible-to-build-configure-the-recurly-js-form-multiple-times
				 */
	        }

            $(document).ready(function () {
            	$("#__form_id__").on('submit', function (oEvent) {
            		oEvent.preventDefault();

            		var oForm = this;
            		bx_loading(oForm, true);         		

            		recurly.token(oForm, function(oError, oToken) {
            			if(oError) {
            				if(oError.message.length > 0)
            					alert(oError.message);

            				return;
            			}

            			oForm.submit();
                    });
            	});
            });
        </script>
    </div>
</div>