<div class="bx-payment-view-details-popup">
    <div class="bx-payment-view-details-popup-cnt">
        <div class="bx-payment-view-details bx-def-border">
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_plan /></div><div class="bx-payment-vd-content">__plan__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_cost /></div><div class="bx-payment-vd-content">__cost__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_status /></div><div class="bx-payment-vd-content">__status__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_created /></div><div class="bx-payment-vd-content">__created__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_started /></div><div class="bx-payment-vd-content">__started__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_trial_start /></div><div class="bx-payment-vd-content">__trial_start__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_trial_end /></div><div class="bx-payment-vd-content">__trial_end__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_cperiod_start /></div><div class="bx-payment-vd-content">__cperiod_start__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_cperiod_end /></div><div class="bx-payment-vd-content">__cperiod_end__</div>
            </div>
        </div>
    </div>
</div>