<div class="bx-payment-view-details-popup">
    <div class="bx-payment-view-details-popup-cnt">
        <div class="bx-payment-view-details bx-def-border">
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_card_brand /></div><div class="bx-payment-vd-content">__brand__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_card_origin /></div><div class="bx-payment-vd-content">__origin__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_card_type /></div><div class="bx-payment-vd-content">__type__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_card_number /></div><div class="bx-payment-vd-content">__number__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_card_expires /></div><div class="bx-payment-vd-content">__expires__</div>
            </div>
            <div class="bx-payment-vd-row bx-def-padding-thd-topbottom bx-def-border-top bx-clearfix">
                <div class="bx-payment-vd-caption bx-def-padding-thd-left bx-def-box-sizing"><bx_text:_bx_payment_strp_txt_card_cvc /></div><div class="bx-payment-vd-content">__cvc__</div>
            </div>
        </div>
    </div>
</div>