/*--- Invite block ---*/
div.bx-inv-invite-btn  {
	text-align: center;
}
div.bx-inv-invite-btn .bx-btn {
	float: none;
	display: inline-block;
}


/*--- Invitation Link popup ---*/
div.bx-inv-link-actions {
	text-align: center;
}
div.bx-inv-link-actions .bx-btn {
	float: none;
	display: inline-block;
}


/*--- Request Invite block ---*/
div.bx-inv-request-btn  {}


/*--- Manage Requests page ---*/
div.bx-inv-request-text {
	max-width: 400px;
	max-width: 25rem;
}