<div class="bx-std-block-caption bx-def-border-color-layout">
    <div class="bx-std-bcap-text bx-def-font-h2 bx-def-color-ft-gray-l3">__caption__</div>
    <bx_if:show_actions>
        <div class="bx-std-bcap-actions">
            <bx_repeat:actions>
            	<div class="bx-std-bcap-action-div bx-def-padding-sec-leftright">&bull;</div>
                <div id="bx-std-bca-__name__" class="bx-std-bcap-action">
                    <a href="__url__" title="__title__" <bx_if:show_onclick>onclick="__onclick__"</bx_if:show_onclick>>
                        __caption__
                    </a>
                </div>
            </bx_repeat:actions>
        </div>
    </bx_if:show_actions>
</div>