<div class="adm-bp-add-form bx-def-margin-top-neg bx-def-color-bg-block">
    <div class="adm-bp-add-form-cnt">
        __form__
        <script type="text/javascript">
            $(document).ready(function () {
                $("#__form_id__").ajaxForm({ 
                    dataType: "json",
                    beforeSubmit: function(formData, jqForm, options) {
                        bx_loading($("#__form_id__"), true);
                    },
                    success: function(oData) {
                        $(".bx-popup-applied:visible").dolPopupHide();
                        oBxDolStudioPage.processJson(oData);
                    }
                });
            });
        </script>
    </div>
</div>