<div class="adm-bp-cbf-left bx-def-border-color-layout">
    <div class="adm-bp-cbf-left-cnt bx-def-padding-sec-top">
        __menu__
    </div>
</div>
<div class="adm-bp-cbf-right bx-def-border-color-layout">
    <div class="adm-bp-cbf-right-cnt bx-def-padding">
        <div id="__html_block_lists_id__" class="adm-bp-cbf-right-cnt">__blocks__</div>
    </div>
</div>
<div class="bx-std-cb"></div>
<div class="adm-bp-cbf-controls bx-def-padding-top bx-def-padding-leftright bx-def-border-color-layout">
    <button class="bx-btn bx-btn-primary" name="do_submit" value="<bx_text:_adm_bp_btn_block_add />" type="submit"><bx_text:_adm_bp_btn_block_add /></button>
    <button class="bx-btn bx-def-margin-sec-left" name="do_cancel" value="<bx_text:_adm_bp_btn_block_cancel />" type="button" onclick="$('.bx-popup-applied:visible').dolPopupHide()"><bx_text:_adm_bp_btn_block_cancel /></button>
    <div class="adm-bp-cbf-counter bx-def-font-h3"><span id="adm-bp-cbf-counter">0</span> <bx_text:_adm_bp_txt_block_selected /></div>
    <div class="bx-std-cb"></div>
</div>