<div class="adm-bp-epf-left bx-def-border-color-layout">
    <div class="adm-bp-epf-left-cnt bx-def-padding-sec-top">
        __menu__
    </div>
</div>
<div class="adm-bp-epf-right bx-def-border-color-layout">
    <div id="__html_settings_groups_id__" class="adm-bp-epf-right-cnt bx-def-padding">
        <bx_repeat:settings_groups>
            <div id="__html_settings_group_id__" class="adm-bp-settings" style="<bx_if:hidden>display: none;</bx_if:hidden>">__content__</div>
        </bx_repeat:settings_groups>
    </div>
</div>
<div class="bx-std-cb"></div>
<div class="adm-bp-epf-controls bx-def-padding-top bx-def-padding-leftright bx-def-border-color-layout">
    <button class="bx-btn bx-btn-primary" name="do_submit" value="__submit__" type="submit">__submit__</button>
    <button class="bx-btn bx-def-margin-sec-left" name="do_cancel" value="<bx_text:_adm_bp_btn_page_cancel />" type="button" onclick="$('.bx-popup-applied:visible').dolPopupHide()"><bx_text:_adm_bp_btn_page_cancel /></button>
    <div class="bx-std-cb"></div>
</div>