<div class="bx-base-text-attachments bx-clearfix">

    <bx_repeat:attachments>
        <div class="bx-base-text-attachment bx-def-box bx-def-color-bg-box bx-def-gal-img-size" style="float:left;">
            <bx_if:image>
                <a target="_blank" href="javascript:void(0);" title="__attr_file_name__" onclick="$('#__popup_id__').dolPopupImage('__url_original__', $(this).parent())">
                    <img class="bx-def-gal-img-size" src="__url_preview__" />
                </a>
                __popup__
            </bx_if:image>
            <bx_if:video>
                __video__
            </bx_if:video>
            <bx_if:not_image>
                <a target="_blank" href="__url_original__" title="__attr_file_name__">
                    <div class="bx-def-round-corners bx-def-padding-sec">__file_name__</div>
                </a>
            </bx_if:not_image>
            </a>
        </div>
    </bx_repeat:attachments>

    <script>
        $(document).ready(function() {
            bx_center_content('.bx-base-text-attachments', '.bx-base-text-attachment', true);
        });
    </script>

</div>
