<div class="bx-content-description-before">__content_description_before__</div>
<div class="bx-content-description">
    <bx_if:show_image>
        <div class="bx-base-text-entity-image mb-4 text-center __add_class__">
            <img class="rounded __img_class__" src="__entry_image__" />
        </div>
        __additional_code__
    </bx_if:show_image>
    <div class="bx-base-text-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img">
        <div class="bx-base-text-title-bages">
            <div class="text-lg lg:text-xl font-semibold text-gray-700 dark:text-gray-300 mb-1 lg:mb-2">__entry_title__</div>
            <div class="bx-base-bages-container">__badges__</div>
        </div>
        __entry_text__
    </div>
</div>
<div class="bx-content-description-after">__content_description_after__</div>