<div id="bx-uploader-file-{storage_object}-{file_id}" class="bx-uploader-ghost bx-def-margin-sec-top bx-clearfix">
    <input type="hidden" name="__name__" value="{file_id}" />
    <div class="bx-base-general-icon-wrapper bx-def-margin-sec-right">
        <img src="{file_icon}" class="bx-def-round-corners bx-base-general-icon bx-base-general-icon-{file_id}" />
    </div>
    <span class="bx-base-general-uploader-ghost">
        <b><bx_text:_sys_txt_form_entry_input_picture_pic_url /></b><br />
        <input class="bx-def-font-inputs bx-form-input-text bx-def-margin-sec-bottom" type="text" value="{file_url}" readonly="1" /> <br />

        <span id="bx-base-general-intert-to-post-link-{file_id}" style="display:none;">
            <a class="bx-btn bx-btn-small bx-def-margin-sec-right" href="javascript:void(0);" onclick="bx_base_general_insert_to_post('{file_id}', '{file_url}', '__editor_id__');"><bx_text:_sys_txt_form_entry_input_picture_insert /></a>
        </span>
        <a class="bx-btn bx-btn-small bx-def-margin-sec-right" href="javascript:void(0);" onclick="bx_base_general_delete_ghost('{file_id}', '{file_url}', '{file_icon}', ['__editor_id__'], {js_instance_name});"><bx_text:_sys_txt_form_entry_input_picture_delete /></a>

        <bx_if:set_thumb>
            <span class="bx-base-general-use-as-thumb">
                <input type="checkbox" name="__name_thumb__[]" value="{file_id}" onclick="bx_base_general_select_thumb(this)" id="__name_thumb__-{file_id}" /> 
                <label for="__name_thumb__-{file_id}">__txt_pict_use_as_thumb__</label>
            </span>
        </bx_if:set_thumb>
    </span>
</div>
<script>
    if ('object' == typeof(tinymce))
        $('#bx-base-general-intert-to-post-link-{file_id}').show();

    $('#bx-uploader-file-{storage_object}-{file_id} .bx-base-general-use-as-thumb input[value="__thumb_id__"]').attr('checked', true);

    // disable images drag&drop, because resized images address can be reset after some time
    $(".bx-base-general-icon-{file_id}").bind('dragstart', function(){
        return false; 
    });
</script>
