<div class="bx-form-input-answers">
    <bx_repeat:answers>
        <div class="bx-form-input-answer bx-def-padding-thd-topbottom __class__">
            <div class="bx-form-input-answer-cell bx-fi-sc-txt">__input_text__</div>
            <div class="bx-form-input-answer-cell bx-fi-sc-btn bx-def-padding-sec-left">
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.deletePollAnswer(this)"><i class="sys-icon times"></i></a>
            </div>
        </div>
    </bx_repeat:answers>
    <div class="bx-form-input-answer-add">__btn_add__</div>
</div>