<div class="bx-base-text-unit bx-base-text-unit-ext bx-def-box bx-def-round-corners bx-def-color-bg-box bx-def-margin-bottom">
	<bx_if:thumb>
		<div class="bx-base-text-unit-cover">
			<img class="bx-base-text-unit-cover bx-def-round-corners" alt="__title__" src="__thumb_url__" />
		</div>
	</bx_if:thumb>
	<div class="bx-base-text-unit-text bx-def-padding">
	    <h2><a href="__content_url__">__title__</a></h2>
	    <div class="bx-base-text-unit-info bx-def-margin-sec-top bx-def-font-small">
	        <span class="bx-def-font-grayed">__entry_posting_date__</span>
	        <span class="bx-base-text-unit-info-div bx-def-font-grayed">&#183;</span>
	        <a class="bx-base-text-unit-author" href="__author_url__">__author__</a>
	    </div>
	    <div class="bx-base-text-unit-summary bx-def-margin-sec-top bx-clearfix">
	        __summary__
	    </div> 
	</div>
</div>