
<div class="bx-base-text-unit bx-base-text-unit-ext bx-def-margin-bottom">
    <h1 class="bx-def-padding-sec-top"><a href="__content_url__">__title__</a></h1>
    <div class="bx-base-text-unit-info bx-def-margin-sec-top">
        <span class="bx-def-font-grayed">__entry_posting_date__</span>
        <span class="bx-base-text-unit-info-div bx-def-font-grayed">&#183;</span>
        <a class="bx-base-text-unit-author" href="__author_url__">__author__</a>
    </div>
    <div class="bx-base-text-unit-summary bx-def-margin-sec-top bx-def-margin-sec-bottom bx-clearfix">
        <bx_if:thumb>
            <img class="bx-base-text-unit-thumb bx-def-gal-img-size bx-def-round-corners bx-def-margin-right" alt="__title__" src="__thumb_url__" />
        </bx_if:thumb>
        __summary__
    </div> 
</div>

