<div class="bx-base-text-unit bx-base-text-unit-ext bx-def-box bx-def-box-round-corners bx-def-color-bg-box mb-3 md:mb-4 lg:mb-6 text-left">
    <bx_if:thumb>
        <div class="bx-base-text-unit-cover flex-shrink-0 m-1">
            <img class="bx-base-text-unit-cover bg-cover aspect-video object-cover bx-def-round-corners" alt="__title__" style="background-image:url(__gallery_url__); __image_settings__" src="<bx_icon_url:spacer.gif />" />
        </div>
    </bx_if:thumb>
    <div class="bx-base-text-unit-text p-3 md:p-4 lg:p-6 pt-2 md:pt-3 lg:pt-5 box-border">
        <div class="bx-base-text-unit-info flex space-x-1 text-sm text-gray-500 dark:text-gray-400 pb-2">
            <bx_if:meta><div class="bx-base-general-unit-meta">__meta__</div></bx_if:meta>
        </div>
        <div class="bx-base-text-unit-title flex items-center space-x-2">
            <a href="__content_url__">__title__</a>__badges__
        </div>
        <div class="bx-base-text-unit-text text-left mt-1 lg:mt-2 font-normal text-sm lg:text-base text-gray-500 group-hover:text-gray-600 dark:text-gray-400 dark:group-hover:text-gray-300">
        __summary__
        </div>
    </div>
</div>