<div class="bx-content-description-before">__content_description_before__</div>
<div class="bx-content-description">
    <bx_if:show_image>
        <div class="bx-base-text-entity-image bx-def-margin-bottom bx-def-font-align-center">
            <img class="bx-def-border-radius-block" src="__entry_image__" />
        </div>
    </bx_if:show_image>
    <div class="bx-base-text-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img">
		<div class="bx-base-text-title-bages">
			<h1>__entry_title__</h1> 
			<div class="bx-base-bages-container">
				__badges__
			</div>
		</div>	
        __entry_text__
    </div>
</div>
<div class="bx-content-description-after">__content_description_after__</div>