
.bx-media-desktop div.bx-std-blocks-line.bx-std-bl-2-per-line .bx-std-block-wrp {
    width: 49.9%;
    margin-top: 0px;
}

.bx-media-desktop div.bx-std-blocks-line.bx-std-bl-3-per-line .bx-std-block-wrp {
    width: 33.3%;
    margin-top: 0px;
}

.bx-media-desktop div.bx-std-blocks-line.bx-std-bl-4-per-line .bx-std-block-wrp {
    width: 24.9%;
    margin-top: 0px;
}
