<bx_repeat:attached>
    <div class="__style_prefix__-attached-preview bx-forum-attached-preview p-1">
        <bx_if:show_image>
            <a href="javascript:void(0)" onclick="__js_object__.showImage(event || window.event, this)" data-file-id="__file_id__" data-src="__file__" data-w="__w__" data-h="__h__" title="<bx_text_attribute:_cmt_view_attached_image />">
                <img class="bg-cover" src="<bx_image_url:spacer.gif />" style="background-image:url(__preview__)" /> __file_name__ <span class="bx-def-font-grayed">__file_size__</span>
            </a>
        </bx_if:show_image>
        <bx_if:show_file>
            <a href="__file__" title="<bx_text_attribute:_cmt_download_attached_file />">
                <i class="sys-icon __file_icon__"></i> __file_name__ <span class="bx-def-font-grayed">__file_size__</span>
            </a>
        </bx_if:show_file>
    </div>
</bx_repeat:attached>