<div class="bx-forum-participants __float__ flex">
    <bx_repeat:participants>
        <div class="bx-forum-participant __class__ relative">
            __unit__
            <bx_if:replies_count>
                <div class="bx-def-unit-alert absolute h-4 w-4 -top-1.5 bottom-auto left-auto -right-1.5 p-1 box-content bg-red-500">__count__</div>
            </bx_if:replies_count>
            <bx_if:last_replier>
                <div title="__title__" class="bx-forum-participant-alert-last-replier bx-def-unit-alert absolute h-4 w-4 -top-1.5 bottom-auto -left-1.5 right-auto p-1 box-content bg-green-500">
                    <i class="sys-icon comments bx-def-font-contrasted"></i>
                </div>
            </bx_if:last_replier>
            <bx_if:author>
                <div title="__title__" class="bx-forum-participant-alert-author bx-def-unit-alert absolute h-4 w-4 top-auto -bottom-1.5 -left-1.5 right-auto p-1 box-content bg-green-500">
                    <i class="sys-icon user bx-def-font-contrasted"></i>
                </div>
            </bx_if:author>
        </div>
    </bx_repeat:participants>
    <bx_if:participants_more>
        <div class="bx-forum-participant h-10 leading-10">
            <a href="javascript:void(0);" onclick="$('#__id__').dolPopup({pointer:{el:$(this)}})">__title_more__</a>            
        </div>
        <div id="__id__" style="display:none;">__popup__</div>
    </bx_if:participants_more>
</div>