<div class="__class__ bx-base-text-unit bx-forum-unit bx-base-text-unit-gallery bx-def-gal-unit-size flex flex-col w-full p-2 box-border">
    <div class="bx-base-text-unit-cnt rounded ring-1 ring-gray-200 dark:ring-gray-700 overflow-hidden bg-white dark:bg-gray-800">
        <bx_if:thumb>
            <a href="__content_url__" title="__summary_attr__">
                <div class="flex-shrink-0 m-1">
                    <img class="h-48 w-full object-cover rounded" src="__gallery_url__" alt="">
                </div>
            </a>
        </bx_if:thumb>
        <bx_if:no_thumb>
            <div class="bx-def-gal-img-column flex-shrink-0">
                <div class="bx-base-text-unit-no-thumb flex flex-col items-center justify-center h-48 p-4 bg-gradient-to-b box-border rounded-sm"></div>
            </div>
        </bx_if:no_thumb>
        <div class="bx-base-text-unit-text p-3 md:p-4 lg:p-6 pt-2 md:pt-3 lg:pt-5 box-border">
            <div class="bx-base-text-unit-info flex text-sm text-gray-500 dark:text-gray-400">
                <bx_if:meta><div class="bx-base-general-unit-meta pb-2">__meta__</div></bx_if:meta>
            </div>
            <div class="bx-base-text-unit-title flex items-center text-left">
                <a href="__content_url__" class="text-ellipsis whitespace-nowrap overflow-hidden text-base font-semibold text-gray-700 group-hover:text-gray-900 dark:text-gray-200 dark:group-hover:text-white">__title__</a>
            </div>
        </div>
    </div>
</div>