/*--- Embed ---*/
.bx-page-iframe .bx-polls-content {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

/*--- Text and Subentries ---*/
.bx-polls-entity-actions {
    position: relative;
    width: 100%;
}
.bx-polls-entity-actions .bx-db-menu {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    line-height: normal;
}
.bx-polls-entity-actions .bx-db-menu-tab {
    display: inline-block;
    float: none;
    margin: 0;
}
.bx-polls-entity-actions .bx-polls-menu-db {
    position: relative;
    display: block;
    margin: 0;
}

.bx-pull-combined-entity-content {
    padding-right: 3.5rem;
}


/*--- Results ---*/
div.bx-polls-result-graph {
	display: table;
	width: 100%;
}
div.bx-polls-result-graph .bx-polls-rg-bar,
div.bx-polls-result-graph .bx-polls-rg-text {
	display: table-cell;
}
div.bx-polls-result-graph .bx-polls-rg-bar {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;

    -webkit-animation: votes-bar 1000ms ease-out;
    -o-animation: votes-bar 1000ms ease-out;
    animation: votes-bar 1000ms ease-out;

    background: #2196F3;
    background: -moz-linear-gradient(left,#2196F3 0%,#1976D2 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#2196F3),color-stop(100%,#1976D2));
    background: -webkit-linear-gradient(left,#2196F3 0%,#1976D2 100%);
    background: -o-linear-gradient(left,#2196F3 0%,#1976D2 100%);
    background: -ms-linear-gradient(left,#2196F3 0%,#1976D2 100%);
    background: linear-gradient(to right,#2196F3 0%,#1976D2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2196F3',endColorstr='#1976D2',GradientType=1);
}
div.bx-polls-result-graph .bx-polls-rg-text {
	white-space: nowrap;
}

/*--- Animation ---*/
@-webkit-keyframes votes-bar {
    from {
        -webkit-transform:scaleX(0);
        -moz-transform:scaleX(0);
        -ms-transform:scaleX(0);
        -o-transform:scaleX(0);
        transform:scaleX(0)
    }
    to {
        -webkit-transform:scaleX(1);
        -moz-transform:scaleX(1);
        -ms-transform:scaleX(1);
        -o-transform:scaleX(1);
        transform:scaleX(1)
    }
}
@-moz-keyframes votes-bar {
    from {
        -webkit-transform:scaleX(0);
        -moz-transform:scaleX(0);
        -ms-transform:scaleX(0);
        -o-transform:scaleX(0);
        transform:scaleX(0)
    }
    to {
        -webkit-transform:scaleX(1);
        -moz-transform:scaleX(1);
        -ms-transform:scaleX(1);
        -o-transform:scaleX(1);
        transform:scaleX(1)
    }
}
@-ms-keyframes votes-bar {
    from {
        -webkit-transform:scaleX(0);
        -moz-transform:scaleX(0);
        -ms-transform:scaleX(0);
        -o-transform:scaleX(0);
        transform:scaleX(0)
    }
    to {
        -webkit-transform:scaleX(1);
        -moz-transform:scaleX(1);
        -ms-transform:scaleX(1);
        -o-transform:scaleX(1);
        transform:scaleX(1)
    }
}
@keyframes votes-bar {
    from {
        -webkit-transform:scaleX(0);
        -moz-transform:scaleX(0);
        -ms-transform:scaleX(0);
        -o-transform:scaleX(0);
        transform:scaleX(0)
    }
    to {
        -webkit-transform:scaleX(1);
        -moz-transform:scaleX(1);
        -ms-transform:scaleX(1);
        -o-transform:scaleX(1);
        transform:scaleX(1)
    }
}