<div class="bx-base-text-unit bx-base-text-unit-ext flex flex-col mb-3 md:mb-4 lg:mb-6 ring-1 ring-gray-200 dark:ring-gray-700 overflow-hidden bg-white dark:bg-gray-800 text-left rounded-md">
    <div class="bx-albums-unit-text-cont px-4 pt-4 pb-2">
        <div class="bx-base-text-unit-title">
            <a class="text-lg lg:text-xl font-semibold text-gray-700 group-hover:text-gray-900 dark:text-gray-200 dark:group-hover:text-white" href="__content_url__">__title__</a>
        </div>
        <bx_if:meta>
            <div class="bx-base-text-unit-info mt-1 mb-2">
                <div class="bx-base-general-unit-meta">__meta__</div>
            </div>
        </bx_if:meta>
        <div class="bx-base-text-unit-summary bx-clearfix">__summary__</div> 
    </div>
    <div class="bx-albums-unit-images-cont px-1 pb-4">
        <div class="bx-albums-unit-images">
            <bx_repeat:browse>
                <a class="bx-albums-unit-image" title="__title_attr__" href="__url__">
                    <img alt="__title_attr__" src="__img_url__" />
                    <bx_if:show_play>
                        <div class="bx-albums-media-play rounded"><i class="sys-icon play"></i></div>
                    </bx_if:show_play>
                    <bx_if:show_duration>
                        <div class="bx-albums-media-duration px-2 py-1 border rounded text-base">__duration__</div>
                    </bx_if:show_duration>
                </a>
            </bx_repeat:browse>
        </div> 
    </div> 
</div>