<div class="__class__ bx-albums-media-wrapper flex flex-col sm:w-full md:w-1/2 lg:w-1/3 p-2 box-border">
    <div class="bx-albums-media-cnt ring-1 ring-gray-200 dark:ring-gray-700 overflow-hidden bg-white dark:bg-gray-800 rounded-md">
        <div class="bx-albums-media-thumb bx-albums-unit-size h-48 rounded-md">
            <bx_if:image>
                <a href="__url__" title="__title_attr__">
                    <img class="bx-albums-unit-size h-48" src="__url_img__" alt="__title_attr__" />
                </a>
            </bx_if:image>
            <bx_if:video>
                <a href="__url__" title="__title_attr__">
                    <img class="bx-albums-unit-size h-48" src="__url_img__" alt="__title_attr__" />
                    <div class="bx-albums-media-play rounded-md"><i class="sys-icon play"></i></div>
                </a>
                <bx_if:show_duration>
                    <div class="bx-albums-media-duration px-2 py-1 border text-sm rounded-md">__duration__</div>
                </bx_if:show_duration>
            </bx_if:video>
        </div>
        <div class="bx-albums-media-caption m-2">
            <a href="__url__" title="__title_attr__">__title__</a>
        </div>
        <div class="bx-albums-media-actions mx-2 mb-2">__actions__</div>
    </div>
</div>