<div class="bx-course-controls bx-def-margin-bottom bx-clearfix">
    <div class="bx-course-controls-1 bx-clearfix">
        <a class="bx-btn bx-def-margin-right" href="__new_class_url__">Add Class</a>
        <a class="bx-btn" href="javascript:void(0);" onclick="bx_classes_show_module_add_form('__profile_id__')">Add Module</a>
    </div>
    <div class="bx-course-controls-2 bx-clearfix">
        <a class="bx-btn" href="javascript:void(0);" onclick="bx_classes_reorder_modules('__profile_id__', true)">Rearrange Moodules</a>
        <a class="bx-btn bx-def-margin-left" href="javascript:void(0);" onclick="bx_classes_reorder_classes('__profile_id__', true)">Rearrange Classes</a>
        <a class="bx-btn bx-def-margin-left bx-classes-btn-done" href="javascript:void(0);" onclick="bx_classes_reorder_classes('__profile_id__', false); bx_classes_reorder_modules('__profile_id__', false);">Done</a>
    </div>
</div>
<div class="bx-course-classes">
    __form__
</div>
