<bx_if:admin>
<div class="bx-course-controls bx-def-margin-bottom bx-clearfix">
    <div class="bx-course-controls-1 bx-clearfix">
        <a class="bx-btn bx-def-margin-right" href="__new_class_url__"><bx_text:_bx_classes_txt_add_class /></a>
        <a class="bx-btn" href="javascript:void(0);" onclick="bx_classes_show_module_add_form('__context_profile_id__')"><bx_text:_bx_classes_txt_add_module /></a>
    </div>
    <div class="bx-course-controls-2 bx-clearfix">
        <a class="bx-btn" href="javascript:void(0);" onclick="bx_classes_reorder_modules('__context_profile_id__', true)"><bx_text:_bx_classes_txt_reorder_modules /></a>
        <a class="bx-btn bx-def-margin-left" href="javascript:void(0);" onclick="bx_classes_reorder_classes('__context_profile_id__', true)"><bx_text:_bx_classes_txt_reorder_classes /></a>
        <a class="bx-btn bx-def-margin-left bx-classes-btn-done" href="javascript:void(0);" onclick="bx_classes_reorder_classes('__context_profile_id__', false); bx_classes_reorder_modules('__context_profile_id__', false);">Done</a>
    </div>
</div>
</bx_if:admin>
<div class="bx-course-classes">
    __form__
</div>
<bx_if:edit_modules>
<script>    
    $(document).ready(function () {
        $('.bx-course-classes .bx-form-section').each(function () {
            var iModuleId = parseInt($(this).attr('id').replace('module_', ''));
            var sTmplBtn = $('#bx-classes-tmpl-btn').html();
            $(this).find('.bx-form-section-title').append(sTmplBtn.replace('{icon}', 'pencil-alt').replace('{action}', 'edit').replace('{data}', iModuleId));
            if (0 == $(this).find('.bx-classes-class').size())
                $(this).find('.bx-form-section-title').append(sTmplBtn.replace('{icon}', 'times').replace('{action}', 'delete').replace('{data}', iModuleId));
        });
        $('.bx-course-classes .bx-form-section .bx-classes-module-action').each(function () {
            $(this).click(function (eve) {
                eve.stopPropagation();
                eve.preventDefault();
                var e = $(this);
                switch (e.data('action')) {
                    case 'edit':
                        bx_classes_show_module_edit_form('__context_profile_id__', e.data('val'));
                        break;
                    case 'delete':
                        bx_classes_delete_module('__context_profile_id__', e.data('val'));
                        break;
                }
            });
        });
    });
</script>
</bx_if:edit_modules>
<template id="bx-classes-tmpl-btn">
    <a href="#" class="bx-btn bx-btn-small bx-classes-module-action bx-def-margin-sec-left" data-action="{action}" data-val="{data}"><i class="sys-icon {icon}"></i></a>
</template>
