<div id="class___id__" class="bx-classes-class bx-def-margin-thd-topbottom">
    <div class="bx-classes-class-title bx-def-font-h3 __status__">
        <bx_if:completed>
            <i class="sys-icon check-circle col-green1-dark sys-colored"></i>
            <a href="__url__">__title__</a>
            <span class="bx-def-font-small bx-def-font-grayed">__date_created__</span>
            <span class="bx-def-font-small col-green1-dark">__start_date__</span>
            <span class="bx-def-font-small col-red1">__end_date__</span>
        </bx_if:completed>
        <bx_if:avail>
            <i class="sys-icon play-circle col-blue1 sys-colored"></i>
            <a href="__url__">__title__</a>
            <span class="bx-def-font-small bx-def-font-grayed">__date_created__</span>
            <span class="bx-def-font-small col-green1-dark">__start_date__</span>
            <span class="bx-def-font-small col-red1">__end_date__</span>
        </bx_if:avail>
        <bx_if:na>
            <i class="sys-icon ban col-red1 sys-colored"></i>
            <b class="bx-def-font-grayed">
                __title__ 
                <i class="sys-icon info-circle bx-classes-tip-icon" onclick="bx_alert($(this).next().html())"></i>
                <template class="bx-classes-tip-html">__tip__</template>
            </b>
            <span class="bx-def-font-small bx-def-font-grayed">__date_created__</span>
            <span class="bx-def-font-small col-green1-dark">__start_date__</span>
            <span class="bx-def-font-small col-red1">__end_date__</span>
        </bx_if:na>
    </div>
</div>
