<div class="bx-profile-membership-stats">
    <div class="bx-pms-membership">__membership__</div>
    <div class="bx-pms-stats bx-def-box bx-def-box-round-corners bx-def-color-bg-box mt-4 p-4">
        <bx_repeat:stat_items>
            <div class="bx-pms-stat-item mt-4 first:mt-0">
                <div class="bx-pms-si-title">__title__</div>
                <div class="bx-pms-si-graph mt-1">
                    <div class="bx-pms-sig-bar rounded-md" style="width:__width__">&nbsp;</div>
                    <div class="bx-pms-sig-text pl-4 text-sm text-gray-500 dark:text-gray-400">__value__ (__percent__)</div>
                </div>
            </div>
        </bx_repeat:stat_items>
    </div>
</div>