<div class="__style_prefix__-element relative inline-block">
    <div class="__style_prefix__-underlay">
        <bx_repeat:stars><bx_image_auto:far,star|__style_prefix__-star,text-yellow-500 /></bx_repeat:stars>
    </div>
    <bx_if:show_legend>
        <div class="__style_prefix__-legend text-xs">
            <bx_repeat:legend><span class="bx-vote-star text-yellow-500">__value__</span></bx_repeat:legend>
        </div>
    </bx_if:show_legend>
    <div class="__style_prefix__-slider absolute z-1 top-0 left-0 whitespace-nowrap overflow-hidden">
        <bx_repeat:slider><bx_image_auto:star|__style_prefix__-star,text-yellow-500 /></bx_repeat:slider>
    </div>
    <div class="__style_prefix__-buttons absolute z-2 top-0 left-0">
        <bx_repeat:buttons><a class="__style_prefix__-button hover:no-underline" href="javascript:void(0);" onmouseover="__js_object__.over(this);" onmouseout="__js_object__.out(this);" onclick="__js_object__.vote(this, __value__)"><bx_image_auto:star|__style_prefix__-star,text-transparent,hover:text-yellow-600 /></a></bx_repeat:buttons>
    </div>
</div>