<div id="__html_id__" class="__style_prefix__-legend __style_prefix__-legend-__type__ mt-4:first">
    <bx_repeat:items>
        <div class="__style_prefix__-legend-item flex items-center my-1" bx_vote_item_value="__value__">
            <div class="bx-vote-element-holder relative inline-block">
                <div class="__style_prefix__-underlay">
                    <bx_repeat:stars><i class="__style_prefix__-star sys-icon far star text-yellow-500"></i></bx_repeat:stars>
                </div>
                <div class="__style_prefix__-slider absolute z-1 top-0 left-0 whitespace-nowrap overflow-hidden">
                    <bx_repeat:slider><i class="__style_prefix__-star sys-icon star text-yellow-500"></i></bx_repeat:slider>
                </div>
            </div>
            <div class="bx-vote-counter-holder ml-2 bx-def-font-grayed">__label__</div>
        </div>
    </bx_repeat:items>
</div>