@import url(../../../../base/general/template/css/manage_tools.css);

/*--- Set Role popup ---*/
.bx-accnt-sr-role-cnt {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.bx-accnt-sr-role-cnt > * {
    display: inline-block;
}
.bx-accnt-sr-role-cnt > input {
    margin: 0;
}
.bx-accnt-sr-done .bx-btn {
    display: inline-block;
    float: none;
}