		
		                <bx_injection:injection_content_after />
		
		                <div class="bx-clear"></div>
		
		            <bx_injection:banner_bottom />
		
		        </div> <!-- #bx-content-main -->
		
		        <bx_injection:injection_between_content_footer />
		
		    </div> <!-- #bx-content-container -->
		
		</div>

	</div> <!-- #bx-content-wrapper -->

	<div id="bx-footer-wrapper" class="bx-def-image-bg-footer bx-def-color-bg-footer bx-def-border-footer bx-shadow-footer">	
		<div class="bx-def-centered bx-def-padding-sec-leftright bx-def-page-width bx-def-box-sizing">
		    <div id="bx-footer" class="bx-footer bx-def-padding-sec-left bx-def-padding-sec-right bx-clearfix">
		    	<div class="bx-footer-cnt bx-content-padding-footer">
			        <bx_injection:injection_footer_before />
		
			        <div id="bx-menu-bottom">
			            <bx_menu:sys_footer />
			        </div>
			        <div id="bx-footer-copyright">
			        	<i title="__copyright_attr__" class="sys-icon copyright"></i>
			        </div>
			        <div class="bx-clear"></div>
			        <div class="bx-menu-switch-language-inline bx-def-margin-sec-top">
			        	<bx_menu:sys_switch_language_inline />
			        </div>
		
			        <bx_injection:injection_footer_after />
				</div>
		    </div>
		</div>
	</div>

	<bx_menu:sys_site_action />
</div>

<bx_include_auto:_footer.html />
