/*--- General style ---*/
div.bx-std-block-panel-bottom .bx-menu-btns-hor {
	text-align: left;
}
div.bx-std-block-panel-bottom .bx-menu-btns-hor .bx-btn u {
	margin-left: 0px;
}

/*--- Categories ---*/
.bx-std-categories {
	position: relative;
	width: 100%;
}
.bx-std-category {
	display: inline-block;
	width: 100%;

    line-height: 24px;
    line-height: 1.5rem;

    white-space: nowrap;
}

/*--- Tags ---*/
.bx-std-tags {
	position: relative;
    text-align: center;

    text-overflow: ellipsis;
    overflow: hidden;
}

.bx-std-tag {
    line-height: 2rem;
    margin: 0 0.25rem 0 0;
}

/*--- Product's Snippet style ---*/
.bx-std-products {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /* makes all items on a row equal height */
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    /* wrap onto the next line rather than stretching or shrinking */
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    /* tells flexbox to start items from the left */
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    plex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.bx-std-products .bx-msg-box-container {
	width: 100%;
	padding: 0px;
}
.bx-std-products .bx-std-product-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-flex: 0;

    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;

    overflow:hidden;
}

.bx-std-product h2,
.bx-std-product h1 {
    margin: 0;
}

.bx-std-product .sys-icon {
    vertical-align: middle;
}

.bx-std-product-gallery-cnt {
    position: relative;
    width: 100%;
    min-width: 18rem;
    overflow: hidden;
}

/*--- Title ---*/
.bx-std-product-title,
.bx-std-product-title .bx-std-pt-cnt {
	position: relative;
}
.bx-std-product-title .bx-std-pt-icon {
	position: absolute; 
	top: 0px;
	left: 0px;

	vertical-align: middle;

	border-radius: 0.75rem;
	-moz-border-radius: 0.75rem;
	-webkit-border-radius: 0.75rem;

	text-align: center;
	overflow: hidden;
}
.bx-std-product-title .bx-std-pt-icon,
.bx-std-product-title .bx-std-pt-icon img,
.bx-std-product-title .bx-std-pt-icon.bx-std-pt-icon-plate {
    width: 4rem;
    height: 4rem;
}
.bx-std-product-title .bx-std-pt-icon .bx-std-pt-icon-plate {
    background-color: #ffffff;
}
.bx-std-product-title .bx-std-pt-icon .sys-icon {
    font-size: 72px;
    font-size: 4.5rem;
    line-height: 96px;
    line-height: 6rem;
}
.bx-std-product-title .bx-std-pt-content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    min-height: 4rem;

    padding-left: 5.0rem;
}
.bx-std-product-title .bx-std-pt-content-cnt {
    width: 100%;
}

.bx-std-product-title .bx-std-pt-title {
    line-height: 2rem;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 700;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bx-std-pt-info {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

    font-size: 0.875rem;
}
.bx-std-pt-vendor,
.bx-std-pt-version,
.bx-std-pt-versions,
.bx-std-pt-count,
.bx-std-pt-votes,
.bx-std-pt-bullet,
.bx-std-pt-by {
    white-space: nowrap;
    line-height: 1.25em;
}

span.bx-std-pt-version,
span.bx-std-pt-versions,
span.bx-std-product-price,
span.bx-std-product-version,
span.bx-std-product-versions {
    font-weight: bold;
}

/*--- Cover Section ---*/
.bx-std-pc-no-cover,
.bx-std-pc-cover {
    display: block;
    height: 12.5rem;
    overflow: hidden;
}

.bx-std-product-gallery .bx-std-pc-no-cover,
.bx-std-product-gallery .bx-std-pc-cover {
    float:none;
    line-height:1.25em;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    width:100%;
}


/*--- Actions Section ---*/
.bx-std-pa-actions .bx-std-pc-buttons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bx-std-pa-actions .bx-btn {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.bx-std-pic-price-or {
	line-height: 42px;
    line-height: 2.625rem;
}
.bx-std-pic-price-or:first-child {
	display: none;
}

/*--- Star based Rating style ---*/
.bx-std-pic-stars {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.bx-std-pic-underlay {}
.bx-std-pic-slider {
    position: absolute;
	z-index: 1;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    overflow: hidden;
}

.bx-std-pic-underlay .bx-std-star,
.bx-std-pic-slider .bx-std-star {
	display: inline-block;
	height: 24px;
	height: 1.5rem;
	width: 24px;
    width: 1.5rem;	
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
    font-size: 1.5rem;
}

.bx-std-pic-underlay .bx-std-star {
	color: rgba(255, 204, 102, 0.7);
}

.bx-std-pic-slider .bx-std-star {
	color: rgba(255, 100, 0, 1);
}

/*--- Product's Files style ---*/
div.bx-std-file .bx-btn {
	float: none;
}
table.bx-std-files .bx-std-ftitle {
	padding-right: 20px; 
	text-align: left;
}
table.bx-std-files .bx-std-fversion {
	padding-right: 20px;
	text-align: left;
}

/*--- Product View style ---*/
div.bx-std-pv-line {
	margin-top: 5px;
}

div.bx-std-pv-actions .bx-btn,
div.bx-std-pv-actions .bx-std-pv-action {
	display: inline-block;
	float: none;
	vertical-align: top;
}

div.bx-std-pv-actions .bx-std-pv-action.bx-std-pva-price .bx-std-pva-or {
	line-height: 40px;
	line-height: 2.5rem;
}

div.bx-std-pv-actions .bx-std-pv-action.bx-std-pva-price .bx-std-pva-or:first-child {
	display: none;
}

div.bx-std-pv-line span.bx-std-pv-cpt {
	font-weight: bold;
}

div.bx-std-pv-screenshots {
	position: relative;
	height: 208px;
	overflow: hidden;
}
div.bx-std-pvs-cnt {
	position: relative;
	padding: 3px;
	white-space: nowrap;
}
div.bx-std-pvs-left,
div.bx-std-pvs-right {
	position: absolute;
	z-index: 3;
	display: none;
	width: 50px;
	height: 50px;
	top: 76px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	line-height: 50px;
	font-size: 70px;
	cursor: pointer; 
}
div.bx-std-pvs-left {
	left: 0.5rem;
	text-align: left;
}
div.bx-std-pvs-left i.sys-icon {
	margin-left: 10px;
	opacity: 0.5;
}
div.bx-std-pvs-right {
	right: 0.5rem;
	text-align: right;
}
div.bx-std-pvs-right i.sys-icon {
	margin-right: 10px;
	opacity: 0.5;
}
div.bx-std-pvs-item,
div.bx-std-pvs-item img {
	width: 202px;
    height: 202px;
}
div.bx-std-pvs-item {
	position: relative;	
	display: inline-block;
	vertical-align: top;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ffffff;

	-webkit-box-shadow: 0 0 3px rgba(51, 51, 51, 0.3);
    -moz-box-shadow: 0 0 3px rgba(51, 51, 51, 0.3);
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.3);

	line-height: 240px;
	text-align: center;
	overflow: hidden;
}


/*--- Notification style ---*/
.bx-std-notification {
    position: relative;
    display: block;
}
a.bx-std-notification:hover {
    background-color: rgba(210, 230, 250, 0.3);
}
div.bx-std-notification-cnt {
    position: relative;
}


/*--- Mobile Optimization style ---*/
.bx-media-phone .bx-std-categories .bx-std-category {
   width: 49.8%;
}
.bx-media-tablet2 .bx-std-categories .bx-std-category {
   width: 49.8%;
}
.bx-media-desktop .bx-std-categories .bx-std-category {
   width: 33%;
}

:where(.bx-media-phone, .bx-media-tablet) .bx-std-products .bx-std-product-gallery {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
.bx-media-tablet2 .bx-std-products .bx-std-product-gallery {
    -webkit-flex: 0 0 49.8%;
    -ms-flex: 0 0 49.8%;
    flex: 0 0 49.8%;
}
.bx-media-desktop   .bx-std-products .bx-std-product-gallery {
    -webkit-flex: 0 0 33.25%;
    -ms-flex: 0 0 33.25%;
    flex: 0 0 33.25%;
}