<div class="__class__ bx-base-text-unit bx-forum-unit bx-def-gal-unit-size flex flex-col w-full box-border relative border-b border-gray-200 pb-1 dark:border-gray-700 mb-2">
    <div class="bx-base-text-unit-text box-border max-w-full">
            <div class="bx-base-text-unit-title flex items-center text-left mb-1">
                <a href="__content_url__" class="overflow-hidden text-base font-semibold text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white">__title__</a>
            </div>
            <div class="bx-base-text-unit-info text-xs">
                 <bx_if:meta><div class="bx-base-general-unit-meta pb-2">__meta__</div></bx_if:meta>
            </div>
        </div>
</div>