<div class="__class__ bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size flex flex-col w-full p-2 box-border">
    <div class="bx-base-text-unit-cnt rounded ring-1 ring-gray-200 dark:ring-gray-700 overflow-hidden bg-white dark:bg-gray-800">
        <bx_if:thumb>
            <a href="__content_url__" title="__summary_attr__">
                <div class="flex-shrink-0 m-1">
                    <img class="h-48 w-full object-cover rounded" src="__gallery_url__" alt="">
                </div>
            </a>
        </bx_if:thumb>
        <!--<bx_if:no_thumb>
            <div class="bx-def-gal-img-column">
                <div class="bx-base-text-unit-no-thumb h-48 p-4 text-sm text-gray-400 box-border">
                    __summary_plain__
                    <div class="bx-base-text-unit-strecher">__strecher__</div>
                </div>
            </div>
        </bx_if:no_thumb>-->
        <div class="bx-base-text-unit-text p-3 md:p-4 lg:p-6 pt-2 md:pt-3 lg:pt-5 box-border">
            <div class="bx-base-text-unit-info flex space-x-1 text-sm text-gray-500 dark:text-gray-400 pb-2">
                <bx_if:meta><div class="bx-base-general-unit-meta">__meta__</div></bx_if:meta>
            </div>
            <div class="bx-base-text-unit-title">
                <h2 class="text-left"><a href="__content_url__" class="text-lg lg:text-xl font-semibold text-gray-700 group-hover:text-gray-900 dark:text-gray-200 dark:group-hover:text-white">__title__</a></h2>
                __badges__
            </div>
        </div>
    </div>
</div>