<div class="__class__ bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size flex flex-col sm:w-full md:w-1/2 lg:w-1/3 p-2 box-border">
    <div class="bx-base-text-unit-cnt rounded ring-1 ring-gray-200 dark:ring-gray-700 overflow-hidden bg-white dark:bg-gray-800">
        <bx_if:thumb>
            <a href="__content_url__" title="__summary_attr__">
                <div class="bx-base-text-unit-thumb h-48 rounded text-sm" style="background-image:url(__gallery_url__)">
                    <div class="bx-base-text-unit-strecher">__strecher__</div>
                </div>
            </a>
        </bx_if:thumb>
        <bx_if:no_thumb>
            <div class="bx-def-gal-img-column">
                <div class="bx-base-text-unit-no-thumb h-48 p-4 text-sm text-gray-400 box-border">
                    __summary_plain__
                    <div class="bx-base-text-unit-strecher">__strecher__</div>
                </div>
            </div>
        </bx_if:no_thumb>
        <div class="bx-base-text-unit-text px-4 py-2 box-border">
            <div class="bx-base-text-unit-title">
                <h2><a href="__content_url__">__title__</a></h2>
                __badges__
            </div>
            <div class="bx-base-text-unit-info">
                <bx_if:meta><div class="bx-base-general-unit-meta">__meta__</div></bx_if:meta>
            </div>
        </div>
    </div>
</div>