<div class="bx-menu-toolbar-padding">
    <div class="bx-base-pofile-cover-wrapper __class__ relative bg-gradient-to-b from-gray-100 to-white dark:from-black dark:to-gray-900">
        <div class="bx-base-pofile-cover">
            <div class="bx-base-pofile-cover-image-wrp relative overflow-hidden">
                <div class="absolute w-full h-2/3">
                    <div class="absolute top-6 -left-1/4 w-2/3 h-2/3 bg-blue-700 filter blur-3xl z-0 opacity-50 animate-goo"></div>
                    <div class="absolute top-6 -right-1/4 w-2/3 h-2/3 bg-green-700 filter blur-3xl z-0 opacity-50 animate-goo"></div>
                </div>
                <div class="bx-base-pofile-cover-image bx-def-page-width relative max-w-7xl mx-auto opacity-100">
                    <a class="bx-base-pofile-cover-image box-border" href="__cover_href__" onclick="$('#__cover_popup_id__').dolPopupImage('__cover_url__', this)">
                        <img class="bx-base-pofile-cover-image h-64 w-full object-cover lg:h-80 xl:rounded-b-lg" src="__cover_url__"/>
                    </a>
                </div>
            </div>
            <div class="bx-base-pofile-cover-info bx-def-page-width relative mx-auto px-6 lg:px-8">
                <div class="bx-base-pofile-ci-cnt relative flex flex-col -mt-24 lg:-mt-16 lg:flex-row lg:items-center">
                    <bx_if:show_avatar>
                        <div class="bx-base-pofile-cover-thumb lg:absolute flex justify-center lg:flex-none">
                            <a class="bx-base-pofile-cover-thumb" href="__picture_href__" onclick="$('#__picture_popup_id__').dolPopupImage('__picture_url__', $(this).parent()); event.stopPropagation();">
                                <bx_if:show_ava_image>
                                    <img class="bx-base-pofile-unit-thumb bx-def-ava-big bx-def-ava-big-size rounded-full ring-4 mx-auto ring-white dark:ring-gray-900 h-48 w-48" src="__ava_url__" />
                                </bx_if:show_ava_image>
                                <bx_if:show_ava_letter>
                                    <p class="bx-base-pofile-unit-thumb bx-def-ava-big bx-def-ava-big-size flex items-center justify-center box-border m-0 rounded-full ring-4 mx-auto ring-white dark:ring-gray-900 h-48 w-48 text-white font-bold text-5xl" style="background-color:rgba(__color__)">__letter__</p>
                                </bx_if:show_ava_letter>
                            </a>
                            <bx_if:show_online>
                                <div class="bx-base-pofile-unit-online"></div>
                            </bx_if:show_online>
                        </div>
                    </bx_if:show_avatar>
                    <bx_if:show_avatar_placeholder>
                        <div class="bx-base-pofile-cover-thumb-placeholder absolute h-48 lg:flex-none"></div>
                    </bx_if:show_avatar_placeholder>
                    <div class="bx-base-pofile-cover-user relative flex flex-col lg:flex-row lg:items-start lg:justify-end mt-6 sm:pb-1 lg:w-full lg:pl-52 box-border">
                        <div class="bx-base-profile-cover-title-bages min-w-0 flex-1 lg:mt-14 lg:mr-12 mb-2">
                            <h1 class="bx-def-unit-info text-gray-900 dark:text-gray-50 text-center lg:text-left text-4xl leading-14 font-bold truncate">__title__ </h1>
                            <div class="bx-base-profile-cover-meta-holder mt-2 lg:h-8">
                                <div class="bx-base-profile-cover-meta lg:absolute flex flex-row flex-wrap justify-center lg:justify-start text-sm">__meta__</div>
                            </div>
                        </div>
                        <div class="bx-base-pofile-cover-actions relative flex lg:flex-1 h-14 md:h-10 mt-6 lg:mt-14" onclick="event.stopPropagation();">__action_menu__</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bx-def-page-width mx-auto pt-5 px-4 sm:px-6 lg:px-8 border-b border-gray-200 dark:border-gray-800 box-border"></div>
    </div>
    __cover_popup__
    __picture_popup__
</div>
<script>
    setTimeout(function () {
        var sPath = '.bx-base-pofile-cover-wrapper .bx-base-pofile-unit-thumb';
        if ($(sPath).length) {
            var body = $("html, body");
            if (body.scrollTop() == 0) {
                body.animate({ scrollTop: $(sPath).offset().top + "px" }, 'slow');
            }
        }
    }, 500);
</script>