<ul id="__html_id__" class="bx-menu-custom bx-menu-custom-hor bx-menu-hor-inline<bx_if:show_more_auto_class> bx-menu-more-auto</bx_if:show_more_auto_class> bx-menu-object-__object__ flex justify-center lg:justify-end items-stretch space-y-0 space-x-3">
    <bx_repeat:menu_items>
        <li class="bx-menu-item bx-menu-item-__name____class__ group inline-flex items-center px-4 py-2 first:ml-0 border border-gray-300 dark:border-gray-700 shadow-sm hover:shadow-md text-sm font-medium rounded-md text-gray-700 dark:text-gray-300 dark:hover:text-white hover:text-gray-800 bg-white dark:bg-gray-800 dark:hover:bg-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">__item__</li>
    </bx_repeat:menu_items>
</ul>
__js_code__