
.bx_groups_main_photo {
    border:1px solid #CCCCCC;
    width:604px;
    padding:2px 0;
    margin:0 auto;
    text-align:center;
}

.bx_groups_main_info {
    width:606px;
    margin:2px auto 0px auto;
}

.bx_groups_main_info a:first-child {
    font-weight:bold;
}

.bx_groups_main_info_text {
    width:50%;
    float:left;
    text-align:left;
    font-size:11px;
    line-height:14px;
}
.bx_groups_main_info_img {
    width:50%;
    float:left;
    text-align:right;
    font-size:11px;
}

.bx_groups_main_info_img .votes_small {
    width:auto;
}
.bx_groups_main_info_img>img {
    position:relative;
    top:3px;
}

#sys_manage_items_manage_fans_content {
    max-height:280px;
    overflow-y:auto;
}
