
.bx_groups_unit {
    height: 235px;
}

.bx_groups_unit_admin {
    position:relative;
}

.bx_groups_unit .sys_file_search_pic {
    height: 148px;
}

.bx_groups_unit .sys_file_search_pic img {
    height: 140px;
}

