<div id="bx-form-input-reoccurring-intervals-input-__uniq_id__" class="bx-form-input-files-reoccurring bx-def-margin-sec-top bx-clearfix">
    <button class="bx-btn bx-btn-small"><bx_text:_bx_events_form_profile_input_reoccurring_add_interval /></button>
</div>
__info__
__error__
<div id="bx-form-input-reoccurring-intervals-forms-__uniq_id__" class="bx-form-input-reoccurring-intervals bx-clearfix"></div>
<script>
    $(document).ready(function() {
        __js_instance_name__ = new BxDolEventsIntervals(__options__);
        $('#bx-form-input-reoccurring-intervals-input-__uniq_id__').on('click', function () {
            __js_instance_name__.addEmptyGhost();
            return false;
        });
        __js_instance_name__.restoreGhosts();
    });
</script>
