<div class="vevent bx-tl-item-text">
    <div class="bx-tl-title bx-def-margin-sec-bottom bx-def-font-h3">
        <a href="__url__" title="__title_attr__" class="summary url bx-tl-title">__title__</a>
    </div>
    <div class="bx-tl-info bx-def-margin-sec-bottom bx-def-font-h3">
        <i class="sys-icon calendar bx-def-margin-thd-right"></i> <span class="dtstart" title="__date_c__">__date__</span>
    </div>
    <bx_if:location>
    <div class="bx-tl-info bx-def-margin-sec-bottom bx-def-font-h3">
        <i class="sys-icon map-marker bx-def-margin-thd-right"></i> <span class="location">__location__</span>
    </div>
    </bx_if:location>
</div>
