@import url(../../../../base/text/template/css/main.css);

.bx-files-text-unit-gallery .bx-base-text-unit-no-thumb {
    position:relative;
}

.bx-files-text-unit-gallery .bx-base-text-unit-no-thumb .sys-icon {
    left:0;
    top:0;
    width:100%;
    position:absolute;
    font-size:10rem;
    line-height:12.25rem;
    text-align:center;
    overflow:hidden;
}

.bx-files-text-unit-gallery .bx-files-filename,
.bx-files-text-unit-simple-row .bx-files-filename{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2rem;
    margin: 0px;
    font-weight: bold;
    white-space: nowrap;
}

.bx-files-text-unit-gallery .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor {
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.bx-files-text-unit-gallery .bx-files-inline-menu ul.bx-menu-object-bx_files_view_inline li.bx-menu-item span.bx-base-general-entity-action {
    margin: 0px;
    vertical-align: top;
}
.bx-files-inline-menu ul.bx-menu-object-bx_files_view_inline li.bx-menu-item {
    white-space: nowrap;
}
.bx-files-text-unit-gallery .bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto {
    justify-content: center;
}
.bx-files-text-unit-gallery {
    overflow: visible!important;
}
.bx-files-text-unit-gallery .bx-base-text-unit-thumb,
.bx-files-text-unit-gallery .bx-base-text-unit-no-thumb,
.bx-files-text-unit-gallery .bx-base-text-unit-text {
    overflow: hidden;
}
.bx-media-phone .bx-files-text-unit-gallery {
    max-width: 100%;
}
.bx-media-tablet2 .bx-files-text-unit-gallery {
    max-width: 49.8%;
}
.bx-media-desktop .bx-files-text-unit-gallery {
    max-width: 33.25%;
}



.bx-files-text-unit .bx-base-text-unit-text {
    position:relative;
}

.bx-files-text-unit .bx-base-text-unit-text .sys-icon {
    position: absolute;
    line-height: normal;
    font-size: 3.2rem;
}

.bx-files-text-unit .bx-base-text-unit-text h2,
.bx-files-text-unit .bx-base-text-unit-text > div {
    margin-left:3.5rem;
}

/*--- View page ---*/
.bx-files-entity-preview {
    overflow: hidden;
}
.bx-files-entity-preview .bx-msg-box-container {
    margin: 0;
    padding: 0;
}

.bx-files-border-thick {
    border-width: 3px;
}

/*--- Files Browser Table layout ---*/
.bx-files-text-unit-simple-row {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bx-files-text-unit-simple-row .bx-files-fileinfo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}
.bx-files-text-unit-simple-row .bx-files-fileinfo-text {
    display: inline-block;
    overflow: hidden;
}
.bx-files-text-unit-simple-row .bx-files-inline-menu ul.bx-menu-object-bx_files_view_inline {
    float: right;
}
.bx-files-text-unit-simple-row .bx-files-inline-menu ul.bx-menu-object-bx_files_view_inline li.bx-menu-item span.bx-base-general-entity-action {
    margin: 0px;
    vertical-align: top;
}
.bx-files-text-unit-simple-row .bx-files-fileinfo i {
    font-size: 2.3rem;
    line-height: 2.3rem;
}
.bx-files-text-unit-simple-row .bx-base-general-unit-meta ul {
    margin: 0px!important;
    margin-top: 0.2rem;
}
.bx-files-text-unit-simple-row .bx-files-filename {
    line-height: unset;
}


/*--- Toolbar ---*/
.bx-files-browser-toolbar {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding-top: 0px;
}
.bx-files-browser-toolbar .bx-form-element-wrapper {
    display: inline-block;
    margin: 0px;
}
.bx-files-browser-toolbar .bx-btn {
    float: none;
    display: inline-block;
    vertical-align: top;
}
.bx-files-toolbar-controls-group {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;
    margin-bottom: 1rem;
    vertical-align: middle;
}
.bx-files-toolbar-spacer {
    width: 100%;
    margin-bottom: 0.5rem;
}
.bx-files-folder-path i:last-child {
    display: none;
}
.bx-files-bulk-actions {
    display: none;
}