<bx_if:allow_add_list>
    <a class="bx-btn bx-btn-small bx-def-margin-sec-right bx-tasks-tasklist-add" href="javascript:void(0);" onclick="__object__.processTaskList(__context_id__, 0, this)">
        <bx_text:_bx_tasks_txt_new_task_list />
    </a>
</bx_if:allow_add_list>
<div class="bx-def-padding-top" style="clear: both">
    <bx_repeat:task_lists>
        <div class="bx-def-margin-top bx-def-padding-bottom bx-tasks-tasklist bx-tasks-tasklist-filter-__class__" id="bx-tasks-tasklist-__list_id__">
            <div class="bx-def-padding-sec bx-def-color-bg-hl">
                <span class="bx-tasks-tasklist-title">
                    <bx_if:allow_edit_list>
                        <a href="javascript:void(0);" onclick="__object__.processTaskList(__context_id__, __list_id__, this)" title="__title__">__title__</a>
                    </bx_if:allow_edit_list>
                    <bx_if:deny_edit_list>
                        __title__
                    </bx_if:deny_edit_list>
                </span>
                <div class="bx-tasks-tasklist-actions">
                    <select class="bx-btn bx-btn-small bx-def-margin-sec-right" onchange="__object__.setFilter(__list_id__, this)">
                        <option value=""><bx_text:_bx_tasks_txt_filter_uncompleted /></option>
                        <option __all__ value="all"><bx_text:_bx_tasks_txt_filter_all /></option>
                        <option __completed__ value="completed"><bx_text:_bx_tasks_txt_filter_completed /></option>
                    </select>
                    <bx_if:allow_add>
                        <a class="bx-btn bx-btn-small bx-def-margin-sec-right" href="javascript:void(0);" onclick="__object__.processTask(__context_id__, __list_id__, this)"><bx_text:_bx_tasks_txt_new_task /></a>
                    </bx_if:allow_add>
                    <bx_if:allow_delete_list>
                        <a class="bx-btn bx-btn-small" href="javascript:void(0);" onclick="__object__.deleteTaskList(__list_id__, __context_id__, this)"><i class="sys-icon remove"></i></a>
                    </bx_if:allow_delete_list>
                </div>
            </div>
            <bx_repeat:tasks>
                <div class="bx-def-padding-sec  bx-def-border-bottom  bx-tasks-task bx-tasks-task-__class__">
                    <div class="bx-tasks-task-checkbox bx-def-padding-sec-right">
                        <bx_if:allow_manage>
                            <input id="checkbox__id__" type="checkbox" __checked__ class="promoted-input-checkbox" onclick="__object__.setCompleted(__id__, this)">
                        </bx_if:allow_manage>
                        <bx_if:deny_manage>
                            <input id="checkbox__id__" type="checkbox" __checked__ class="promoted-input-checkbox" disabled>
                        </bx_if:deny_manage>
                        <label for="checkbox__id__"></label>
                    </div>

                    <a href="__url__" class="bx-def-padding-sec-right bx-tasks-task-name" title="__title__">__title__</a>

                    <span class="bx-def-font-small bx-def-font-grayed bx-def-padding-sec-right">__created__</span>
                    <span class="bx-def-font-small bx-task-due-date bx-def-padding-sec-right">__due__</span>
                    __badges__
                    <div class="bx-tasks-members">
                        <bx_repeat:members>
                            __info__
                        </bx_repeat:members>
                    </div>
                </div>
            </bx_repeat:tasks>
        </div>
    </bx_repeat:task_lists>
</div>
