<div class="bx-tasks-menu-browse">
    <div class="bx-tasks-menu-browse-cnt">
        <div class="bx-tasks-mb-use">
            __menu_use__
        </div>
        <bx_if:show_menu_browse>
            <div class="bx-tasks-mb-div bx-def-hr my-4"></div>
            <div class="bx-tasks-mb-browse">
                __menu_browse__
            </div>
        </bx_if:show_menu_browse>
        <bx_if:show_menu_manage>
            <div class="bx-tasks-mb-div bx-def-hr my-4"></div>
            <div class="bx-tasks-mb-manage">
                __menu_manage__
            </div>
        </bx_if:show_menu_manage>
    </div>
</div>