

html, body {
    margin: 0;
	height: 100%;
}

.bx-install-permissions .bx-btn,
.bx-install-initial .bx-btn {
    display:inline;
    display:inline-block;
    float:none;
}

.bx-install-initial,
.bx-install-initial-langs,
.bx-install-permissions-buttons,
.bx-install-site-config .bx-form-input-wrapper-submit {
    text-align:center;
}

.bx-install-error-message {
    border:1px solid #966;
    background-color:#c99
}

.bx-install-page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.bx-install-footer-push,
.bx-install-footer {
    height: 60px;
    line-height: 60px;
}

.bx-install-initial img.bx-install-img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    max-width:90%;
}

.bx-install-initial-langs img {
    width:32px;
    height:32px;
}

.bx-install-site-config .bx-form-input-wrapper-submit button {
    display:inline-block;
} 

.bx-install-finish textarea {
    display:block;
    width:70%;
    height:60px;
}


.bx-header.bx-def-color-bg-header {
    background-color: #3b8686;
}
