/* tailwind source */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

@layer components {
    /* Global: HTML tags */
    ol, ul {
        @apply pl-10 list-outside;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }


    /* Defaults */
    .bx-artificer .bx-menthion-link {
        @apply font-normal text-blue-600 hover:text-blue-700 dark:text-blue-500 dark:hover:text-blue-600;
    }

    .bx-artificer .bx-def-box-sizing {
        @apply box-border;
    }

    .bx-artificer .bx-def-align-center {
        @apply flex items-center justify-center !important;
    }

    .bx-artificer .bx-def-valign-center {
        @apply flex items-center !important;
    }

    /* Margins and Paddings */
    .bx-artificer .bx-def-centered {
        @apply mx-auto;
    }
    .bx-artificer .bx-def-margin {
        @apply m-4;
    }
    .bx-artificer .bx-def-margin-left {
        @apply ml-4;
    }
    .bx-artificer .bx-def-margin-left-auto {
        @apply ml-4 first:ml-0;
    }
    .bx-artificer .bx-def-margin-right {
        @apply mr-4;
    }
    .bx-artificer .bx-def-margin-top {
        @apply mt-4;
    }
    .bx-artificer .bx-def-margin-top-auto {
        @apply mt-4 first:mt-0;
    }
    .bx-artificer .bx-def-margin-bottom {
        @apply mb-4;
    }
    .bx-artificer .bx-def-margin-leftright {
        @apply mx-4;
    }
    .bx-artificer .bx-def-margin-leftright-neg {
        @apply -mx-4;
    }
    .bx-artificer .bx-def-margin-topbottom {
        @apply my-4;
    }
    .bx-artificer .bx-def-margin-topbottom-neg {
        @apply -my-4;
    }
    .bx-artificer .bx-def-margin-lefttopright {
        @apply mx-4 mt-4;
    }
    .bx-artificer .bx-def-margin-rightbottomleft {
        @apply mx-4 mb-4;
    }
    
    .bx-artificer .bx-def-margin-sec {
        @apply m-2;
    }
    .bx-artificer .bx-def-margin-sec-left {
        @apply ml-2;
    }
    .bx-artificer .bx-def-margin-sec-left-auto {
        @apply ml-2 first:ml-0;
    }
    .bx-artificer .bx-def-margin-sec-right {
        @apply mr-2;
    }
    .bx-artificer .bx-def-margin-sec-top {
        @apply mt-2;
    }
    .bx-artificer .bx-def-margin-sec-top-auto {
        @apply mt-2 first:mt-0;
    }
    .bx-artificer .bx-def-margin-sec-bottom {
        @apply mb-2;
    }
    .bx-artificer .bx-def-margin-sec-leftright {
        @apply mx-2;
    }
    .bx-artificer .bx-def-margin-sec-leftright-neg {
        @apply -mx-2;
    }
    .bx-artificer .bx-def-margin-sec-topbottom {
        @apply my-2;
    }
    .bx-artificer .bx-def-margin-sec-topbottom-neg {
        @apply -my-2;
    }
    .bx-artificer .bx-def-margin-sec-lefttopright {
        @apply mx-2 mt-2;
    }
    .bx-artificer .bx-def-margin-sec-rightbottomleft {
        @apply mx-2 mb-2;
    }

    .bx-artificer .bx-def-margin-thd {
        @apply m-1;
    }
    .bx-artificer .bx-def-margin-thd-left {
        @apply ml-1;
    }
    .bx-artificer .bx-def-margin-thd-left-auto {
        @apply ml-1 first:ml-0;
    }
    .bx-artificer .bx-def-margin-thd-right {
        @apply mr-1;
    }
    .bx-artificer .bx-def-margin-thd-top {
        @apply mt-1;
    }
    .bx-artificer .bx-def-margin-thd-top-auto {
        @apply mt-1 first:mt-0;
    }
    .bx-artificer .bx-def-margin-thd-bottom {
        @apply mb-1;
    }
    .bx-artificer .bx-def-margin-thd-leftright {
        @apply mx-1;
    }
    .bx-artificer .bx-def-margin-thd-leftright-neg {
        @apply -mx-1;
    }
    .bx-artificer .bx-def-margin-thd-topbottom {
        @apply my-1;
    }
    .bx-artificer .bx-def-margin-thd-topbottom-neg {
        @apply -my-1;
    }
    .bx-artificer .bx-def-margin-thd-lefttopright {
        @apply mx-1 mt-1;
    }
    .bx-artificer .bx-def-margin-thd-rightbottomleft {
        @apply mx-1 mb-1;
    }

    .bx-artificer .bx-def-padding {
        @apply p-4;
    }
    .bx-artificer .bx-def-padding-left {
        @apply pl-4;
    }
    .bx-artificer .bx-def-padding-left-auto {
        @apply pl-4 first:pl-0;
    }
    .bx-artificer .bx-def-padding-right {
        @apply pr-4;
    }
    .bx-artificer .bx-def-padding-top {
        @apply pt-4;
    }
    .bx-artificer .bx-def-padding-top-auto {
        @apply pt-4 first:pt-0;
    }
    .bx-artificer .bx-def-padding-bottom {
        @apply pb-4;
    }
    .bx-artificer .bx-def-padding-leftright {
        @apply px-4;
    }
    .bx-artificer .bx-def-padding-topbottom {
        @apply py-4;
    }
    .bx-artificer .bx-def-padding-lefttopright {
        @apply px-4 pt-4;
    }
    .bx-artificer .bx-def-padding-rightbottomleft {
        @apply px-4 pb-4;
    }
    
    .bx-artificer .bx-def-padding-sec {
        @apply p-2;
    }
    .bx-artificer .bx-def-padding-sec-left {
        @apply pl-2;
    }
    .bx-artificer .bx-def-padding-sec-left-auto {
        @apply pl-2 first:pl-0;
    }
    .bx-artificer .bx-def-padding-sec-right {
        @apply pr-2;
    }
    .bx-artificer .bx-def-padding-sec-top {
        @apply pt-2;
    }
    .bx-artificer .bx-def-padding-sec-top-auto {
        @apply pt-2 first:pt-0;
    }
    .bx-artificer .bx-def-padding-sec-bottom {
        @apply pb-2;
    }
    .bx-artificer .bx-def-padding-sec-leftright {
        @apply px-2;
    }
    .bx-artificer .bx-def-padding-sec-topbottom {
        @apply py-2;
    }
    .bx-artificer .bx-def-padding-lefttopright {
        @apply px-2 pt-2;
    }
    .bx-artificer .bx-def-padding-rightbottomleft {
        @apply px-2 pb-2;
    }

    .bx-artificer .bx-def-padding-thd {
        @apply p-1;
    }
    .bx-artificer .bx-def-padding-thd-left {
        @apply pl-1;
    }
    .bx-artificer .bx-def-padding-thd-left-auto {
        @apply pl-1 first:pl-0;
    }
    .bx-artificer .bx-def-padding-thd-right {
        @apply pr-1;
    }
    .bx-artificer .bx-def-padding-thd-top {
        @apply pt-1;
    }
    .bx-artificer .bx-def-padding-thd-top-auto {
        @apply pt-1 first:pt-0;
    }
    .bx-artificer .bx-def-padding-thd-bottom {
        @apply pb-1;
    }
    .bx-artificer .bx-def-padding-thd-leftright {
        @apply px-1;
    }
    .bx-artificer .bx-def-padding-thd-topbottom {
        @apply py-1;
    }
    .bx-artificer .bx-def-padding-lefttopright {
        @apply px-1 pt-1;
    }
    .bx-artificer .bx-def-padding-rightbottomleft {
        @apply px-1 pb-1;
    }

    /* Borders */
    .bx-artificer .bx-def-border {
        @apply border border-gray-200 dark:border-gray-700;
    }
    .bx-artificer .bx-def-round-corners {
        @apply rounded-md;
    }

    /* Fonts */
    .bx-def-font,
    .bx-artificer .bx-def-font-inputs {
        @apply font-inter text-gray-500 dark:text-gray-400;
    }

    .bx-artificer .bx-def-font-grayed {
        @apply text-gray-700 dark:text-gray-500 text-opacity-60;
    }

    .bx-artificer .bx-def-a-colored {
        @apply no-underline text-blue-600 hover:text-blue-700 dark:text-blue-500 dark:hover:text-blue-600;
    }

    .bx-artificer .bx-def-font-small {
        @apply text-sm;
    }
    
    .bx-artificer .bx-def-font-middle {
        @apply text-lg;
    }

    .bx-artificer .bx-def-font-large {
        @apply text-xl;
    }
    
    .bx-artificer h3,
    .bx-artificer .bx-def-font-h3 {
        @apply text-2xl;
    }
    
    .bx-artificer h2,
    .bx-artificer .bx-def-font-h2 {
        @apply text-3xl;
    }

    .bx-artificer h1,
    .bx-artificer .bx-def-font-h1 {
        @apply text-4xl leading-10;
    }

    /* Common elements: Pages. */
    .bx-def-color-bg-page{
	@apply bg-gray-100 dark:bg-black;
    }

    /* Common elements: Blocks, Boxes, etc. */
    .bx-artificer .bx-def-color-bg-block {
        @apply bg-gray-50 dark:bg-gray-900;
    }
    .bx-artificer .bx-def-color-bg-box {
        @apply bg-white dark:bg-gray-800;
    }
    .bx-artificer .bx-def-color-bg-box-active {
        @apply bg-gray-100 dark:bg-gray-700;
    }

    /* Common Elements: HR */
    .bx-artificer .bx-def-hr {
        @apply mx-0 p-0 border-t border-gray-200 dark:border-gray-700;
    }

    /* Common Elements: Labels */
    .bx-artificer .bx-def-label {
        @apply inline-block min-w-6 px-4 py-1 bg-gray-300 dark:bg-gray-600 hover:bg-gray-400 dark:hover:bg-gray-500 text-gray-800 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-200 text-sm font-normal rounded-full box-border;
    }
    
    /* Common Elements: Alerts */
    .bx-def-unit-alert,
    .bx-def-unit-alert-small,
    .bx-def-unit-alert-middle {
        @apply block absolute top-0 -right-0.5 text-center text-white;
    }
    .bx-def-unit-alert {
        @apply h-4 p-1 leading-4 rounded-full text-xs;
        min-width: 1rem;
    }

    /* Common elements: Buttons */
    .bx-btn {
        @apply relative inline-flex justify-center items-center px-4 py-2 border border-gray-300 dark:border-gray-700 text-sm font-medium text-gray-700 dark:text-gray-300 dark:hover:text-white hover:text-gray-800 whitespace-nowrap bg-white dark:bg-gray-800 dark:hover:bg-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 rounded-md shadow-sm hover:shadow-md cursor-pointer;
    }

    .bx-btn i, 
    .bx-btn u {
        @apply inline-block align-middle;
    }

    .bx-btn i, 
    .bx-btn img {
        @apply w-5 h-5 leading-5 text-gray-600 dark:text-gray-300;
    }

    .bx-btn:hover i, 
    .bx-btn:hover img {
        @apply text-gray-800 dark:text-gray-100;
    }

    .bx-btn i {
        @apply text-center;
    }

    .bx-btn u {
        @apply ml-2 first:ml-0 no-underline;
    }

    .bx-btn.bx-btn-primary {
        @apply border-transparent text-white hover:text-white dark:hover:text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
    }

    .bx-btn.bx-btn-primary i, 
    .bx-btn.bx-btn-primary img {
        @apply text-gray-300;
    }
    
    .bx-btn.bx-btn-primary:hover i, 
    .bx-btn.bx-btn-primary:hover img {
        @apply text-gray-100;
    }
    
    .bx-btn.bx-btn-disabled {
        @apply bg-gray-50 dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 text-gray-400 hover:text-gray-400 dark:hover:text-gray-400 focus:ring-0 focus:ring-offset-0 shadow-none cursor-default !important;
    }

    .bx-btn.bx-btn-small {
        @apply py-1 text-xs;
    }

    .bx-btn.bx-btn-small i, 
    .bx-btn.bx-btn-small img {
        @apply w-4 h-4 leading-4;
    }


    /* Common elements: Forms */
    .bx-artificer form {
        @apply text-sm font-normal text-gray-700 dark:text-gray-300;
    }

    .bx-artificer form a,
    .bx-artificer .sys-jf-agreement a, 
    .bx-artificer .sys-lf-agreement a {
        @apply font-normal text-blue-600 hover:text-blue-700 dark:text-blue-500 dark:hover:text-blue-600;
    }

    .bx-artificer .bx-form-value {
        @apply mt-1 first:mt-0;
    }

    .bx-artificer .bx-form-required,
    .bx-artificer .bx-form-warn {
        @apply text-red-400;
    }

    .bx-artificer .bx-switcher-cont.on button {
        @apply bg-white dark:bg-gray-800;
    }
    .bx-artificer .bx-switcher-cont.on button span {
        @apply bg-green-500 dark:bg-green-500 translate-x-5;
    }
    .bx-artificer .bx-switcher-cont.off button {
        @apply bg-gray-200 dark:bg-gray-900;
    }
    .bx-artificer .bx-switcher-cont.off button span {
        @apply bg-white dark:bg-gray-500 translate-x-0;
    }

    .bx-artificer .bx-form-input-autotoken b.val {
        @apply bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600;
    }


    /* Common elements: Popups */
    .bx-artificer .bx-popup-wrapper {
        @apply overflow-visible;
    }

    .bx-artificer .bx-popup-applied {
        @apply rounded-lg;
    }

    .bx-artificer .bx-popup-responsive:not(.bx-popup-full-screen):not(.bx-popup-menu) {
        @apply w-full md:w-auto;
    }

    .bx-artificer .bx-popup-full-screen {
        @apply w-full;
    }

    .bx-artificer .bx-popup {
        @apply relative ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-800 rounded-md shadow;
    }

    .bx-artificer .bx-popup-width {
        @apply w-full md:w-128;
    }

    .bx-artificer .bx-popup-full-screen .bx-popup-width {
        @apply w-full md:w-full;
    }

    .bx-artificer .bx-popup-fog {
        @apply bg-gray-600 opacity-75;
    }


    /* Common elements: Menus */
    /* Horizontal menu */
    .bx-artificer .bx-menu-hor li.bx-menu-tab-active a,
    .bx-artificer .bx-menu-custom-hor li.bx-menu-tab-active a {
        @apply text-gray-700 dark:text-gray-200 font-medium;
    }

    .bx-artificer .bx-db-header .bx-menu-custom-hor li.bx-menu-tab-active a {
        @apply bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-white;
    }

    /* Vertical menu */
    .bx-artificer .bx-menu-ver li.bx-menu-tab-active .bx-mi-highlight,
    .bx-artificer .bx-menu-verlit li.bx-menu-tab-active .bx-mi-highlight,
    .bx-artificer .bx-menu-custom-ver li.bx-menu-tab-active .bx-mi-highlight {
        @apply bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-white font-medium;
    }

    /* Vertical menu in Popup */
    .bx-artificer .bx-popup .bx-menu-ver > li:hover {
        @apply hover:text-gray-900 dark:hover:text-gray-100;
    }

    .bx-artificer .bx-popup .bx-menu-ver > li.bx-def-color-bg-active {
        @apply bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-white;
    }

    /* Main menu */
    .bx-artificer .bx-toolbar-item.bx-ti-menu .bx-menu-main .bx-menu-item.bx-menu-tab-active {
        @apply opacity-100 ring-1 ring-gray-200 dark:ring-gray-600 bg-gray-50 dark:bg-gray-700 shadow;
    }
    .bx-artificer .bx-toolbar-item.bx-ti-menu .bx-menu-main .bx-menu-item.bx-menu-tab-active a {
        @apply text-gray-900 dark:text-white;
    }
    .bx-artificer .bx-toolbar-item.bx-ti-menu .bx-menu-main .bx-popup .bx-menu-item.bx-menu-tab-active {
        @apply opacity-100 ring-0 bg-gray-50 dark:bg-gray-700 shadow-none;
    }

    /* Page Submenu */
    .bx-artificer .bx-menu-main-submenu .bx-menu-item.bx-menu-tab-active a {
        @apply text-gray-900 dark:text-gray-100;
    }
    .bx-artificer .bx-menu-main-submenu .bx-menu-item.bx-menu-tab-active .bx-mi-underline {
        @apply bg-blue-500 group-hover:bg-blue-500;
    }

    /* Profile Stats menu */
    .bx-artificer .bx-menu-profile-stats.bx-menu-ver li.bx-menu-tab-active {
        @apply bg-gray-900/[.08] dark:bg-gray-900 ring-1 ring-gray-200 dark:ring-gray-800 text-gray-900 dark:text-white;
    }

    /* Profile Cover Actions */
    .bx-artificer .bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor.bx-menu-hor-inline li.bx-mi-primary {
        @apply border-transparent text-gray-200 hover:text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-500;
    }


    /* Common elements: Informers */
    .bx-artificer .bx-informer-msg a {
        @apply text-blue-600 hover:text-blue-700 dark:text-blue-500 dark:hover:text-blue-600;
    }
    .bx-artificer .bx-informer-msg-info {
        @apply bg-blue-50 text-blue-700;
    }
    .bx-artificer .bx-informer-msg-alert {
        @apply bg-yellow-50 text-yellow-700;
    }
    .bx-artificer .bx-informer-msg-error {
        @apply bg-red-50 text-red-700;
    }
    .bx-artificer .bx-form-row-view-value {
        @apply truncate;
    }

    /* Common elements: Comments */
    .bx-artificer .cmt .bx-base-general-unit-meta-username {
        @apply text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white;
    }

    /* Common elements: Units */
    .bx-artificer .bx-def-icon-size {
        @apply h-8 w-8;
    }
    .bx-artificer .bx-def-thumb-size {
        @apply h-10 w-10;
    }
    .bx-artificer .bx-def-ava-size {
        @apply h-24 w-24;
    }
    .bx-artificer .bx-def-ava-big-size {
        @apply w-48 h-48;
    }

    .bx-artificer .bx-base-general-unit-meta .bx-base-profile-unit-meta-item > a:not(.bx-btn),
    .bx-artificer .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor .bx-base-pofile-unit {
        @apply p-1 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700;
    }

    /* Common elements: Auth */
    .sys-auth-block {
        @apply grid-cols-2;
    }
    .sys-auth-block.sys-auth-compact-container {
        @apply grid-cols-4;
    }

    /* Modules: Timeline */
    .bx-artificer .bx-menu-custom-hor.bx-menu-object-bx_timeline_menu_view li.bx-menu-tab-active a {
        @apply bg-gray-50 dark:bg-gray-700 ring-1 ring-gray-200 dark:ring-gray-600 text-gray-900 dark:text-white shadow;
    }

    .bx-artificer .bx-tl-view.bx-tl-view-timeline .bx-tl-cnt .bx-tl-items:before {
        @apply bg-gray-200 dark:bg-gray-700;
    }

    /* 3d Party: Flickity */
    .bx-artificer .flickity-button {
        @apply text-gray-700 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-700 opacity-75 hover:opacity-100;
    }

    /* 3d Party: Quill */
    .bx-artificer .ql-mention-list li {
        @apply flex items-center px-4 py-2 text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 hover:text-gray-900 text-sm font-normal;
    }
}