
@import url(../../../general/template/css/forms.css);

.bx-uploader-ghost .bx-base-text-icon-wrapper {
    float:left;
}

.bx-uploader-ghost .bx-base-text-icon-wrapper img {
    max-height:12.5rem;
}

.bx-base-text-uploader-ghost input.bx-form-input-text {
    width:18.75rem;
}

.bx-base-text-use-as-thumb input,
.bx-base-text-use-as-thumb label {
    vertical-align:middle;
}
