/*--- Top Controls ---*/
div.bx-grid-header div.bx-form-element-wrapper {
    position: relative;
    float: left;
}

div.bx-grid-header div#bx-form-element-role {
    margin-right: 20px;
}
div.bx-grid-header div#bx-form-element-role,
div.bx-grid-header div#bx-form-element-keyword {
    margin-top: 0px;
}
