@import url(../../../../../../../template/css/account.css);


/*-- My Prpfiles: Switch Profile --*/
.sys-profile-switch-row {
    white-space: nowrap;
}
.sys-profile-switch-row.bx-def-color-bg-box {
	background-color: transparent;
}
.sys-profile-switch-row.bx-def-margin-leftright-neg {
	margin-left: 0px;
	margin-right: 0px;
}
.sys-profile-switch-row.bx-def-padding-leftright {
	padding-left: 0px;
	padding-right: 0px;
}