@import url(../../../../../../../template/css/common.css);

/*--- Design Boxes Menu ---*/
.bx-db-menu ul.bx-menu-hor li.bx-menu-tab-active,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor li.bx-menu-tab-active {
    border-bottom: 1px solid transparent;
}

/* --- Popup boxes --- */
.bx-popup {    
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

/* --- Live Search --- */
.bx-def-unit-live-search .bx-def-unit-info.bx-def-thumb-size-max-height {
	max-height: none;
}

/* --- Profile Thumbnails/Avatars --- */
img.bx-base-pofile-unit-thumb {
    background-color: #fff;
}

/*--- Group based Profile Cover ---*/
.bx-base-group-cover-wrapper .bx-base-pofile-cover-info .bx-base-pofile-cover-user .bx-def-ava {
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;

    background-clip: border-box;
}