@import url(../../../../../../../template/css/general.css);


/*--- Overwrite Defaults ---*/
#bx-toolbar-content {
	z-index: 500;
}

#bx-logo-container {
    height: auto;

    margin-left: 0.625rem;
    margin-right: 0;

    text-align: left;
}

#bx-logo-container a span {
    line-height: normal;
}

/*---Toolbar ---*/
.bx-toolbar-content {
    position: relative;
}
.bx-toolbar-content::before,
.bx-toolbar-content::after {
    display: none;
}
.bx-toolbar-content .bx-toolbar-item {
    display: inline-block;
}
.bx-toolbar-content .bx-toolbar-item.bx-ti-menu {
    margin: 0;
    padding: 0 1.25rem;

    -webkit-overflow-scrolling: touch;
}

/*--- Page Submenu bar ---*/
.bx-menu-main-bar:not(.bx-menu-more-auto) {
    overflow: hidden;
}

/*--- Main Page Content ---*/
.content-wrapper{
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

/*--- Header ---*/
.cd-main-header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 720px) {
  .cd-main-header {
    position: fixed;
    height: 55px;
  }
}

.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%;
}
.cd-logo img {
  display: block;
}
@media only screen and (min-width: 720px) {
  .cd-logo {
    margin: 16px 0 0 36px;
  }
}

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  position: relative;
  display: block;
  top: 0px;
  left: 0px;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0px;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent !important;
}
.cd-nav-trigger span, 
.cd-nav-trigger span::before, 
.cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #ffffff;
}
.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.cd-nav-trigger span::before, 
.cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.nav-is-visible span::before, 
.cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: white;
}
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media only screen and (min-width: 720px) {
  .cd-nav-trigger {
    display: none;
  }
}


/*--- Top Navigation ---*/
@media only screen and (min-width: 720px) {
  .cd-nav {
    display: block;
  }
}


/*--- Footer ---*/
#bx-footer-wrapper {
    height: auto;
}


/* Author block in content modules */
.sys-author .bx-def-unit-info.bx-def-thumb-size-max-height {
    max-height:none;
}
