@import url(../../../../../../../template/css/media-phone.css);

/*--- Main Page Layout ---*/
.bx-media-phone .bx-menu-main-bar-wrapper .bx-menu-main-bar,
.bx-media-phone .bx-menu-main-bar-wrapper .bx-menu-main-submenu-wrp {
    padding-left: 0;
    padding-right: 0;
}
.bx-media-phone .bx-content-wrapper .bx-page-wrapper.bx-def-padding-sec-leftright {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.bx-media-phone #bx-content-container .bx-db-container.bx-def-border-block {
    border-left-width: 1px;
    border-right-width: 1px;
}

/*--- Header Toolbar ---*/
.bx-media-phone #bx-toolbar .bx-content-padding-header {
    padding-left: 0;
    padding-right: 0;
}
.bx-media-phone .bx-main:not(.bx-pt-application) #bx-toolbar-content .bx-toolbar-item.bx-ti-logo {
    -webkit-flex-grow: 1; 
    flex-grow: 1;

    text-align: center;
    overflow: hidden;
}
.bx-media-phone .bx-main:not(.bx-pt-application) #bx-toolbar-content .bx-toolbar-item.bx-ti-menu {
    -webkit-flex-grow: 0; 
    flex-grow: 0;

    margin: 0;
}
.bx-media-phone #bx-menu-toolbar-1-container ul.bx-menu-toolbar li a.bx-btn span.bx-menu-toolbar-item-title,
.bx-media-phone #bx-menu-toolbar-2-container ul.bx-menu-toolbar li a.bx-btn span.bx-menu-toolbar-item-title {
    display: inline;
}

/*--- Menu ---*/
.bx-media-phone .bx-header .bx-toolbar-content .bx-toolbar-item.bx-ti-menu .bx-sliding-smenu-main {
    display: none;
}

/*--- Footer ---*/
.bx-media-phone .bx-footer .bx-content-padding-footer {
    padding-left: 1px;
    padding-right: 1px;
}
.bx-media-phone .bx-footer .bx-footer-line.bx-fl2 {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.bx-media-phone .bx-footer .bx-footer-line.bx-fl2 .bx-footer-cell {
    width: 100%; 
    max-width: 100%;
}
.bx-media-phone .bx-footer .bx-footer-line.bx-fl2 .bx-footer-cell.bx-fc1 {
    min-height: auto;
    padding-left: 0px;
    text-align: center;
}
.bx-media-phone .bx-footer .bx-footer-line.bx-fl2 .bx-footer-cell.bx-fc1 .bx-footer-cell-icon {
    position: relative;
    width: auto;
}
.bx-media-phone .bx-footer .bx-footer-line.bx-fl2 .bx-footer-cell.bx-fc2 {
    padding: 2rem 0px;
}
.bx-media-phone .bx-footer .bx-footer-line.bx-fl2 .bx-footer-cell.bx-fc2,
.bx-media-phone .bx-footer .bx-footer-line.bx-fl2 .bx-footer-cell.bx-fc3 {
    text-align: center;
}

/*--- Profile Cover ---*/
.bx-media-phone .bx-base-pofile-cover-info-container {
    min-height: 50vh;
}
