@import url(../../../../../../../template/css/media-tablet.css);

/*--- Header ---*/
.bx-media-tablet .bx-header .bx-toolbar-content-hgap {
    padding-left: 10px;
    padding-left: 0.625rem;
}

/*--- Header Toolbar ---*/ 
.bx-media-tablet #bx-menu-toolbar-1-container .bx-menu-toolbar li.bx-menu-item-main-menu {
    display: none;
}

.bx-media-tablet #bx-menu-toolbar-2-container .bx-menu-toolbar li.bx-menu-item-account {
    padding-right: 10px;
    padding-right: 0.625rem;
}
