@import (reference) 'default.less';
@import '../../../../../../../template/css/menu.css';

.@{bx-root-class-name} {
    
    .bx-menu-toolbar-padding {
        padding-top: 0;
    }


    /*--- Main (Top) Menu ---*/
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site {
        display: block;
        white-space: normal;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li {
        width: auto;
        height: auto;
        margin: 0;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li:not(.bx-menu-item-more-auto) {
        display: block;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site > li > a,
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site ul.bx-menu-submenu-more-auto > li > a {
        padding: 0px 0.5rem;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li:hover {
        opacity: 1.0;
    }

    .bx-sliding-smenu-submenu {
        position: absolute;
        display: none;

        top: 100%;
        left: 0px;
        min-width: 100%;

        background-color: #ffffff;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site > li.bx-sliding-smenu-tab-active .bx-sliding-smenu-submenu {
        display: block;
    }

    .bx-sliding-smenu-submenu .bx-sliding-sms-cnt ul li,
    .bx-sliding-smenu-submenu .bx-sliding-sms-cnt ul li a {
        margin: 0px;
        padding: 0px;
    }
    .bx-sliding-smenu-submenu .bx-sliding-sms-cnt ul li a {
        line-height: 2.0rem;
    }
    .bx-sliding-smenu-submenu .bx-sliding-sms-cnt ul li:hover,
    .bx-sliding-smenu-submenu .bx-sliding-sms-cnt ul li a:hover {
        background-color: transparent;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-icon, 
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-title,
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-arrow {
        display: inline-block;
        vertical-align: middle;
    }
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-icon img,
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-icon .sys-icon {
        width: auto;
        max-height: 2rem;

        margin: 0 0.5rem 0 0;
    }
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-icon .sys-icon {
        line-height: 2rem;
        font-size: 1.2rem;
    }
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-submenu-more-auto li .bx-menu-floating-blocks-icon .sys-icon { 
        vertical-align: baseline;
        height: auto;
        line-height: normal;
    }
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-icon img {
        background-pocition: center center;
        background-repeat: none;
        background-size: 60% 60%;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-arrow .sys-icon {
        width: auto;
        height: auto;

        margin: 0px;

        font-size: 1.2rem;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-arrow .sys-icon.active {
        display: none;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li.bx-sliding-smenu-tab-active .bx-menu-floating-blocks-arrow .sys-icon.active {
        display: inline;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li.bx-sliding-smenu-tab-active .bx-menu-floating-blocks-arrow .sys-icon.inactive {
        display: none;
    }


    /*--- Submenu ---*/
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu-wrp {
        position: relative;

        -webkit-overflow-scrolling: touch;
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-bar:not(.bx-menu-more-auto) .bx-menu-main-submenu-wrp {
        overflow-x: auto;
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu-group {
        position: relative;

        width: 100%;
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-bar:not(.bx-menu-more-auto) .bx-menu-main-submenu-group {
        display: table;
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu-hr {
        width: 100%;
        height: 0.1875rem;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background-color: rgba(15, 93, 162, 0.2);
        box-shadow: 0 1px 0 0 rgba(255,255,255,1);
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu {
        line-height: 2.875rem;
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu li {
        position: relative;
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu > li > a {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-align-items: center;
        align-items: center;
        line-height: 3.125rem;
    }

    .bx-menu-main-bar-wrapper .bx-menu-main-submenu li.bx-menu-tab-active > a {
        font-weight: 900;
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu li > a span {
        margin-left: 0.625rem;
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu li > a span:first-child {
        margin-left: 0;
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu li .bx-mms-item-hr {
        position: absolute;
        display: none;

        width: 100%;
        height: 0.1875rem;
        left: 0;
        bottom: -0.1875rem;

        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem;
        background-color: rgba(29, 75, 96, 1);
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu li.bx-menu-tab-active .bx-mms-item-hr {
        display: block;
    }


    /*--- Profile View Submenu ---*/
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu-wrp.bx-menu-profile-view-submenu-wrp {
        overflow-x: visible;
    }
    .bx-menu-main-bar-wrapper .bx-menu-main-submenu-wrp.bx-menu-profile-view-submenu-wrp .bx-menu-main-submenu-group {
        display: block;
    }


    /*--- Toolbars ---*/
    .bx-toolbar-item .bx-menu-toolbar .bx-menu-toolbar-item a.bx-btn {
        width: auto;
        height: 1.875rem;

        line-height: 1.675rem;
    }

    .bx-toolbar-item .bx-menu-toolbar .bx-menu-toolbar-item a {
        width: auto;
        height: auto;

        line-height: normal;
    }

    .bx-toolbar-item .bx-menu-toolbar .bx-menu-toolbar-item a .sys-icon,
    .bx-toolbar-item .bx-menu-toolbar .bx-menu-toolbar-item a .sys-icon-a,
    .bx-toolbar-item .bx-menu-toolbar .bx-menu-toolbar-item a img,
    .bx-toolbar-item .bx-menu-toolbar .bx-menu-toolbar-item a span {
        vertical-align: middle;
    }

    .bx-toolbar-item .bx-menu-toolbar .bx-menu-toolbar-item a .sys-icon,
    .bx-toolbar-item .bx-menu-toolbar .bx-menu-toolbar-item a .sys-icon-a {
        font-size: 1.0rem;
    }

    ul.bx-menu-toolbar li a .bx-menu-item-addon {
        bottom: auto;
    }


    /*--- Toolbar Site ---*/
    #bx-menu-toolbar-1-container .bx-menu-toolbar li {
        padding: 0.625rem;
    }

    #bx-menu-toolbar-1-container ul.bx-menu-toolbar li a .sys-icon-a {
        margin-top: 0;
    }


    /*--- Toolbar Member ---*/
    #bx-menu-toolbar-2-container .bx-menu-toolbar {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        float: none;
    }

    #bx-menu-toolbar-2-container .bx-menu-toolbar li {
        position: relative;
        display: block;
        float: none;

        -webkit-flex: 0 0 auto; 
        -ms-flex:  0 0 auto; 
        flex:  0 0 auto;

        padding: 0.5rem;
    }

    #bx-menu-toolbar-2-container .bx-menu-toolbar li.bx-menu-item-account {
        -webkit-flex-grow: 1; 
        flex-grow: 1;
        white-space: nowrap;
    }

    #bx-menu-toolbar-2-container .bx-menu-toolbar li.bx-menu-item-account a {
        width: auto;
    }

    #bx-menu-toolbar-2-container .bx-menu-toolbar li.bx-menu-item-account .bx-menu-toolbar-item-title {
        display: none;
    }

    #bx-menu-toolbar-2-container .bx-menu-toolbar li .sys-icon-a {
        margin-top: 0px;
        vertical-align: middle;
    }

    #bx-menu-toolbar-2-container .bx-menu-toolbar .bx-menu-toolbar-item a .bx-def-thumb-size {
        width: 2rem;
        height: 2rem;
        line-height: 1.9rem;
        font-size: 1.5rem;
    }

    #bx-menu-toolbar-2-container .bx-menu-toolbar li a {
        position: relative;
        width: 2rem;
        height: 2rem;

        background-color: rgba(237, 241, 247, 1);
        border-radius: 1.5rem;

        font-size: 0.875rem;
    }


    /*--- Sliding Menu ---*/
    .bx-sliding-menu, 
    .bx-sliding-menu-main {
        left: auto !important;
        right: 0;
        max-width: 31.25rem;
    }

    /*--- Search Popup ---*/
    #bx-sliding-menu-search.bx-sliding-menu-main .bx-def-page-width {
        width: 100%;
    }

    /*--- Notifications Popup ---*/
    #bx_notifications_preview.bx-sliding-menu .bx-def-page-width {
        width: 100%;
    }

    /*--- Account Popup ---*/
    #bx-sliding-menu-account.bx-sliding-menu-main.bx-sliding-menu-fullheight {
        height: calc(100% - 3.75rem);
    }


    /*--- Account Popup Submenu & Add Content Menu ---*/
    .bx-menu-account-popup-profile-active,
    .bx-menu-account-popup-profile-notifications {
        text-align: left;
    }
    .bx-menu-account-popup-profile-notifications ul.bx-menu-floating-blocks-wide,
    .bx-menu-object-sys_account_notifications li,
    .bx-menu-object-sys_add_content li {
        display: block;
        width: 100%;
        height: auto;
    }
    .bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-icon,
    .bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-title,
    .bx-menu-object-sys_add_content li .bx-menu-floating-blocks-icon,
    .bx-menu-object-sys_add_content li .bx-menu-floating-blocks-title {
        display: inline-block;
        vertical-align: top;
    }
    .bx-menu-object-sys_account_notifications li a,
    .bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-title,
    .bx-menu-object-sys_add_content li .bx-menu-floating-blocks-title {
        line-height: 1.5rem;
    }
    .bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-title,
    .bx-menu-object-sys_add_content li .bx-menu-floating-blocks-title {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .bx-menu-object-sys_account_notifications li img,
    .bx-menu-object-sys_account_notifications li .sys-icon,
    .bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-icon img,
    .bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-icon .sys-icon,
    .bx-menu-object-sys_add_content li .bx-menu-floating-blocks-icon img,
    .bx-menu-object-sys_add_content li .bx-menu-floating-blocks-icon .sys-icon {
        height: 1.0rem;
        width: 1.0rem;

        margin: 0px;	
    }
    .bx-menu-object-sys_account_notifications li .sys-icon,
    .bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-icon .sys-icon,
    .bx-menu-object-sys_add_content li .bx-menu-floating-blocks-icon .sys-icon {
        line-height: 1.0rem;
        font-size: 1.0rem;
    }
    .bx-menu-object-sys_account_notifications li img,
    .bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-icon img,
    .bx-menu-object-sys_add_content li .bx-menu-floating-blocks-icon img {
        background-pocition: center center;
        background-repeat: none;
        background-size: 60% 60%;
    }
    .bx-menu-object-sys_account_notifications li .bx-def-unit-alert-middle {
        top: calc(50% - 9px);
        right: 4px;
    }
    .bx-menu-object-sys_account_notifications li:hover {
        opacity: 1.0;
    }

    /*--- Add Content Menu ---*/
    #bx-sliding-menu-sys_add_content.bx-sliding-menu-main .bx-menu-object-sys_add_content {
        display: block;
        width: 100%;
    }

    /*--- Vertical (Vertical Custom) Menus (in Popup) ---*/
    .bx-popup .bx-menu-ver li,
    .bx-popup .bx-menu-custom-ver li,
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li {
        border-radius: 0; 
    }
    .bx-popup .bx-menu-ver li,
    .bx-popup .bx-menu-custom-ver li,
    .bx-popup .bx-menu-ver li.bx-def-color-bg-hl-hover,
    .bx-popup .bx-menu-custom-ver li.bx-def-color-bg-hl-hover,
    .bx-menu-ver.bx-menu-vertical-more-less li.bx-def-color-bg-hl-hover,
    .bx-menu-floating-blocks.bx-menu-object-sys_add_content li.bx-def-color-bg-hl-hover,
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li.bx-def-color-bg-hl-hover {
        border: 1px solid transparent;
    }
    .bx-popup .bx-menu-ver li:hover,
    .bx-popup .bx-menu-custom-ver li:hover,
    .bx-popup .bx-menu-ver li.bx-def-color-bg-hl-hover:hover,
    .bx-popup .bx-menu-custom-ver li.bx-def-color-bg-hl-hover:hover,
    .bx-menu-ver.bx-menu-vertical-more-less li.bx-def-color-bg-hl-hover:hover,
    .bx-menu-floating-blocks.bx-menu-object-sys_add_content li.bx-def-color-bg-hl-hover:hover,
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li.bx-def-color-bg-hl-hover:hover {
        border-radius: 0.5rem;
        border-color: transparent;
    }
    .bx-popup .bx-menu-ver li.bx-def-color-bg-active,
    .bx-popup .bx-menu-custom-ver li.bx-def-color-bg-active {
        border-radius: 0.5rem;
        border-color: transparent;
    }
    .bx-menu-ver.bx-menu-vertical-more-less li.bx-def-color-bg-active,
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li.bx-def-color-bg-active {
        border-color: transparent;
        background-color: transparent;
    }
    .bx-popup .bx-menu-custom-ver:not(.bx-menu-submenu-more-auto) li > span,
    .bx-popup .bx-menu-custom-ver:not(.bx-menu-submenu-more-auto) li > .bx-def-margin-thd-topbottom {
        width: 100%;
        margin: 0 !important;
        padding: 0.25rem 0.5rem;
    }
    .bx-popup .bx-menu-custom-ver li a,
    .bx-menu-floating-blocks.bx-menu-object-sys_add_content li > a, 
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li > a {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-submenu-more-auto li.bx-menu-item,
    .bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto .bx-menu-item.bx-menu-item-more-auto .bx-popup .bx-menu-item {
        padding: 0 0.5rem;
        line-height: normal;
    }
    .bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-submenu-more-auto li > span,
    .bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-submenu-more-auto li > .bx-def-margin-thd-topbottom {
        margin: 0;
        padding-right: 0.5rem;
    }
    .bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-submenu-more-auto li > span .bx-menu-addon {
        padding-right: 0;
    }
    .bx-popup .bx-menu-custom.bx-menu-custom-ver.bx-menu-submenu-more-auto li.bx-menu-item a {
        display: block;
        line-height: 1.5rem;
    }
    .bx-menu-floating-blocks.bx-menu-object-sys_add_content li > a,
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li > a {
        padding: 0.25rem 0.5rem;
    }
    .bx-popup .bx-menu-ver li.bx-def-color-bg-active a,
    .bx-popup .bx-menu-custom-ver li.bx-def-color-bg-active a,
    .bx-menu-ver.bx-menu-vertical-more-less li.bx-def-color-bg-active a,
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li.bx-def-color-bg-active a, 
    .bx-popup .bx-menu-ver li.bx-def-color-bg-active .sys-icon,
    .bx-popup .bx-menu-custom-ver li.bx-def-color-bg-active .sys-icon,
    .bx-menu-ver.bx-menu-vertical-more-less li.bx-def-color-bg-active .sys-icon,
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li.bx-def-color-bg-active .sys-icon {
        font-weight: 800;
        color: rgba(20,80,100,1) !important;
    }
    .bx-popup .bx-menu-ver li img,
    .bx-popup .bx-menu-ver li .sys-icon,
    .bx-popup .bx-menu-custom-ver li img,
    .bx-popup .bx-menu-custom-ver li .sys-icon {
        display: inline-block;
        vertical-align: middle;
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0;
        line-height: 1.6rem;
        font-size: 1.0rem;
    }
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li img,
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li .sys-icon {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .bx-popup .bx-menu-ver li a div {
        padding: 0.25rem 0.5rem;
        white-space: nowrap;
    }
    .bx-popup .bx-menu-ver li a > span,
    .bx-popup .bx-menu-ver li a div > span,
    .bx-popup .bx-menu-custom-ver li a > span {
        white-space: nowrap;
        vertical-align: baseline;
    }
    .bx-menu-floating-blocks-wide.bx-menu-object-sys_account_notifications li .bx-menu-item-addon {
        top: 0.25rem;
    }


    /* --------------- profile stats menu */
    .bx-menu-ver.bx-menu-vertical-more-less li .bx-menu-addon-cnt.bx-def-color-bg-hl {
        background-color: transparent;
    }


    /*--- Custom Menu with More Auto ---*/
    .bx-menu-main-submenu.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .bx-btn,
    .bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item a,
    .bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .bx-btn {
        font-weight: normal;
    }

    .bx-menu-main-submenu.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .bx-btn .sys-icon,
    .bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .bx-btn .sys-icon {
        color: @bx-color-icon-body;
    }

    /*--- Actions menu ---*/
    .bx-base-general-entity-actions ul.bx-menu-hor li a > span,
    .bx-base-general-entity-actions ul.bx-menu-custom-hor li a > span {
        vertical-align: top;
    }
}

:where(.bx-media-tablet, .bx-media-desktop) .@{bx-root-class-name} {
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main {
        position: relative;
        height: 2.125rem;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-sliding-menu-main-cnt {
        position: absolute;
        width: 100%;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        height: 100%;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li {
        position: relative;

        height: 2.125rem;
        border: 1px solid transparent;
        border-radius: 0.5rem;
    }
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li:not(.bx-menu-item-more-auto) {
        display: block;
    }
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li > a {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        height: 100%;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li .bx-menu-floating-blocks-line {
        position: absolute;
        display: none;

        top: 0px;
        left: 0px;
        width: 100%;
        height: 0.1875rem;

        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem;
        background-color: rgba(255, 255, 255, 1.0);
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li .bx-sliding-smenu-submenu ul,
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li .bx-sliding-smenu-submenu ul li{
        display: block; 
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site > li:hover,
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site > li.bx-menu-tab-active:hover {
        border: 1px solid rgba(0, 0, 0, 0.05);
        background-color: rgba(0, 0, 0, 0.05);
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site > li.bx-menu-tab-active {
        border-color: transparent;
        background-color: transparent;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site > li:hover .bx-sliding-smenu-submenu {
        display: block;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li:hover .bx-menu-floating-blocks-arrow .sys-icon.active {
        display: inline;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li:hover .bx-menu-floating-blocks-arrow .sys-icon.inactive {
        display: none;
    }

    #bx-sliding-menu-account.bx-sliding-menu-main,
    #bx-sliding-menu-sys_add_content.bx-sliding-menu-main {
        width: auto;
        max-width: none;
    }
}

.bx-media-phone .@{bx-root-class-name} {

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li {
       height: auto;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site li .bx-sliding-sms-cnt {
       padding: 0px 0px 0px 1.7rem;
    }

    .bx-sliding-smenu-submenu {
        position: relative;

        top: 0px;
        left: 0px;

        background-color: #transparent;
        box-shadow: none;
    }
}