<div id="__html_id__" class="bx-acl-membeship text-center">
    <div class="bx-acl-m-title bx-def-font-h3">__level__</div>
    <div class="bx-acl-m-thumbnail mt-2">__thumbnail__</div>
    <bx_if:show_private_info>
        <div class="bx-acl-m-info mt-2 bx-def-font-small"><bx_text:_sys_acl_start /> <b>__date_start__</b> <bx_text:_sys_acl_expire /> <b>__date_expire__</b><bx_if:show_state><br /><bx_text:_sys_acl_state /> <b>__state__</b></bx_if:show_state></div>
    </bx_if:show_private_info>
</div>