<div class="bx-acl-set">
    <div class="bx-acl-set-cnt">
        __form__
        <script language="javascript">
            $(document).ready(function () {
                var oForm = $("#__form_id__");
                if($('#sys-acl-profile-__profile_id__').length > 0)
                    oForm.find("[name = 'card']").val(1);

                oForm.ajaxForm({ 
                    dataType: "json",
                    beforeSubmit: function (oFormData, jqForm, options) {
                        bx_loading($("#__form_id__"), true);
                    },
                    success: function (oData) {
                        var oForm = $("#__form_id__");

                        oForm.parents(".bx-popup-applied:visible:first").dolPopupHide();

                        bx_on_set_acl_level(oData, oForm);
                    }
                });
            });
        </script>
    </div>
</div>