<div class="bx-cont-ph-profile-unit relative flex space-x-6">
    <div class="flex-1 mb-4 ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-800 rounded-md">
        <div class="bx-base-pofile-unit-cover flex align-items justify-center p-4 bg-gray-100 dark:bg-gray-600 rounded-t-md">
            <div class="flex-0 h-24 w-24 bg-gray-200 dark:bg-gray-700 rounded-full">&nbsp;</div>
        </div>
        <div class="p-2 animate-pulse">
            <div class="flex justify-center">
                <div class="h-5 w-1/2 bg-gray-300 dark:bg-gray-600 rounded-full">&nbsp;</div>
            </div>
            <div class="flex mt-2 space-x-1">
                <div class="h-3 w-1/2 bg-gray-200 dark:bg-gray-700 rounded-xl"></div>
                <div class="h-3 w-1/2 bg-gray-200 dark:bg-gray-700 rounded-xl"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var iBlockID = '__id__';
    var sTmpl = $('#bx-page-block-' + iBlockID + ' .bx-cont-ph-profile-unit').html();
    $('#bx-page-block-' + iBlockID + ' .bx-cont-ph-profile-unit').append(sTmpl + sTmpl);
    $(document).ready(function () {
        getHtmlData($('#bx-page-block-' + iBlockID), bx_append_url_params(document.location.href, 'dynamic=tab&pageBlock=' + iBlockID), undefined, 'post', false, {includedCss: JSON.stringify(aIncludedCss), includedJs: JSON.stringify(aIncludedJs)}, false);
    });
</script>
