<!DOCTYPE html>
<html lang="__lang__" class="__class_name__">
<head>
    <bx_injection:injection_head_begin />
    
    <meta http-equiv="Content-Type" content="text/html; charset=__page_charset__" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>__page_header__</title>
    <base__base__ />

    <bx_include_css_system />
    <bx_include_css />

    __dol_images__
    __dol_lang__
    __dol_options__

    <bx_include_js_system />
    <bx_include_js />
    <script language="javascript">
        var site_url = '<bx_url_root />';
    </script>
    __extra_js__

    __system_injection_head__
    <bx_injection:injection_head />
</head>
<body class="bx-def-font bx-def-color-bg-page" dir="__lang_direction__" <bx_injection:injection_body /> >
	__system_injection_header__
	<bx_injection:injection_header />

	<div class="p-2">
	    __page_main_code__
	</div>
</body>
</html>
