<div class="bx-profile-avatar bx-def-border-radius-block">
    
        <div class="bx-profile-avatar-cnt bx-def-padding-sec">
            <div class="bx-pa-img">__profile_unit__</div>
            <div class="bx-pa-info">
                <div class="bx-pa-info-cnt bx-def-padding-left bx-def-box-sizing">
                    <div class="bx-pai-line bx-def-font-h3">
                        <a href="__profile_url__" title="__profile_title_attr__">__profile_title__</a>
                    </div>
                    <div class="bx-pai-line bx-def-margin-thd-top">
                        <div><bx_include_auto:menu_icon.html /><span class="bx-def-padding-sec-left">__profile_acl_title__</span></div>
                    </div>
                </div>
            </div>
            <bx_if:show_switcher_icon>
                <div class="bx-pa-actions">
                    <a href="__switcher_url__" onclick="__switcher_onclick__">
                        <div class="bx-pa-action bx-def-margin-sec-left bx-def-color-bg-hl bx-def-align-center"><i class="sys-icon arrows-alt-v"></i></div>
                    </a>
                </div>
            </bx_if:show_switcher_icon>
        </div>
</div>
__switcher__