<span class="bx-menu-meta-item-ex __class__ flex mr-2 items-baseline font-medium text-slate-700  bg-slate-100 py-1 px-1.5 rounded-md hover:bg-slate-200 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-gray-300">
    <bx_if:extended>
        <bx_if:a>
            <a href ='__link__' class="flex items-center">
        </bx_if:a>
        <bx_if:icon>
            <span class="bx-menu-meta-icon mr-1 text-slate-700 dark:text-gray-300">__icon__</span>
        </bx_if:icon>
        <bx_if:noicon>
        </bx_if:noicon>
        <bx_if:text> 
            <span>__content__</span>
        </bx_if:text>    
        <bx_if:a2>
            </a>
        </bx_if:a2>    
    </bx_if:extended>
</span>    