__uploader_instance_name__ = new BxDolUploaderCrop('__engine__', '__storage_object__', '__uniq_id__', {
    'multiple': __multiple__,
    'content_id': '__content_id__',
    'images_transcoder' : '__images_transcoder__',
    'storage_private' : '__storage_private__',
    'template_error_msg': '<div class="bx-uploader-msg-err">{error}</div>',
    'template_ghost': __template_ghost__,
    'reordering': __is_init_reordering__
});
<bx_if:restore_ghosts>__uploader_instance_name__.restoreGhosts(__is_init_reordering__);</bx_if:restore_ghosts>