<div id="bx-uploader-file-{storage_object}-{file_id}" class="bx-uploader-ghost wiki-uploader-file bx-def-margin-sec-top">
    <input type="hidden" name="__name__[]" value="{file_id}" />
    <div class="wiki-uploader-file-preview bx-def-round-corners bx-def-margin-sec-right">
        <img src="{file_icon}" class="bx-def-round-corners bx-base-general-icon bx-base-general-icon-{file_id}" />
    </div>
    <div class="wiki-uploader-file-title-actions">
        <div class="wiki-uploader-file-title">{file_title}</div>
        <div class="wiki-uploader-file-actions bx-def-margin-thd-top bx-clearfix">
            <a class="bx-btn-wiki-remove bx-btn bx-btn-small bx-def-margin-sec-right" href="javascript:void(0);" onclick="{js_instance_name}.deleteGhost('{file_id}'); bx_wiki_remove_img('#__editor_id__', '{storage_object}/{file_remote_id}')" title="<bx_text_attribute:_Delete />"><i class="sys-icon remove"></i></a>
            <a class="bx-btn-wiki-copy bx-btn bx-btn-small bx-def-margin-sec-right" href="javascript:void(0);" onclick="var _e = this; bx_copy_to_clipboard('{file_url}', function (){ $(_e).find('.sys-icon').removeClass('copy').addClass('check')})" title="<bx_text_attribute:_sys_wiki_copy />"><i class="sys-icon copy"></i></a>
            <a class="bx-btn-wiki-insert bx-btn bx-btn-small bx-def-margin-sec-right" href="javascript:void(0);" onclick="bx_wiki_insert_img ('#__editor_id__', '{storage_object}/{file_remote_id}', '{file_title}')" title="<bx_text_attribute:_sys_txt_form_entry_input_picture_insert />"><i class="sys-icon file-export"></i></a>
        </div>
    </div>
</div>
<script>
    if (String.prototype.startsWith && !'{file_type}'.startsWith('image/'))
        $('#bx-uploader-file-{storage_object}-{file_id} .bx-btn-wiki-insert').remove();
</script>
