<div class="bx-image-edit-buttons __image_exists__ bx-image-edit-buttons-__unique_id__ hidden">
    <a href="javascript:" class="bx-btn bx-btn-small bx-image-edit-buttons-edit hidden" title="<bx_text:_sys_uploader_image_reposition />" onclick="oBxDolImageTweak__unique_id__.changePosition()"><i class="sys-icon arrows-alt"></i></a>
    <a href="javascript:" class="bx-btn bx-btn-small bx-image-edit-buttons-save hidden" title="<bx_text:_sys_uploader_image_reposition_save />" onclick="oBxDolImageTweak__unique_id__.savePosition()"><i class="sys-icon check"></i></a>
    <a href="javascript:" class="bx-btn bx-btn-small bx-image-edit-buttons-cancel hidden" title="<bx_text:_sys_uploader_image_reposition_cancel />" onclick="oBxDolImageTweak__unique_id__.cancelPosition()"><i class="sys-icon times"></i></a>
    <a href="javascript:" class="bx-btn bx-btn-small bx-image-edit-buttons-upload" title="<bx_text:_sys_uploader_image_upload />" onclick="oBxDolImageTweak__unique_id__.showUploaderForm()"><i class="sys-icon upload"></i></a>
    __uploader__
</div>
<div class="hidden">
    <div id="bx-form-input-files-__unique_id__-upload-result"></div>
</div>
__uploader_js__
<script> 
    oBxDolImageTweak__unique_id__ = new BxDolImageTweak('__unique_id__', '__action_url__', '__id__', '__field__', '__js_object__', __allow_tweak__);
</script>