<div class="bx-base-text-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img">
    __entry_text__
</div>
<bx_if:show_image>
    <div class="bx-base-text-entity-image bx-def-margin-top bx-def-font-align-center">
        <img class="bx-def-border-radius-block" src="__entry_image__" />
    </div>
</bx_if:show_image>
<bx_if:show_subentries>
    <div class="bx-poll-entity-subentries bx-def-margin-top">__entry_subentries__</div>
</bx_if:show_subentries>