<div class="bx-form-input-subentries">
    <bx_repeat:subentries>
        <div class="bx-form-input-subentry bx-def-padding-thd-topbottom">
            <div class="bx-form-input-subentry-cell bx-fi-sc-txt">__input_text__</div>
            <div class="bx-form-input-subentry-cell bx-fi-sc-btn bx-def-padding-sec-left">
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.subentryDelete(this)">
                    <bx_image_auto:times />
                </a>
            </div>
        </div>
    </bx_repeat:subentries>
    <div class="bx-form-input-subentry-add">__btn_add__</div>
</div>