<div class="bx-base-text-unit bx-base-text-unit-ext bx-def-box bx-def-round-corners bx-def-color-bg-box bx-def-margin-bottom">
    <bx_if:thumb>
        <div class="bx-base-text-unit-cover">
            <img class="bx-base-text-unit-cover bx-def-round-corners" alt="__title__" src="__thumb_url__" />
        </div>
    </bx_if:thumb>
    <div class="bx-base-text-unit-text bx-def-padding bx-def-box-sizing">
        __text__
        <div class="bx-base-text-unit-info bx-def-margin-sec-top bx-def-font-small">
            <a href="__content_url__">__entry_posting_date__</a>
            <bx_if:show_comments>
                <span class="bx-base-text-unit-info-div bx-def-font-grayed">&#183;</span>
                <a class="bx-base-text-unit-comments" href="__entry_comments_url__">__entry_comments__</a>
            </bx_if:show_comments>
            <span class="bx-base-text-unit-info-div bx-def-font-grayed">&#183;</span>
            <a class="bx-base-text-unit-author" href="__author_url__">__author__</a>
            <bx_if:show_switcher>
                <span class="bx-base-text-unit-info-div bx-def-font-grayed">&#183;</span>
                <a class="bx-base-text-unit-switcher bx-base-text-unit-subentries" href="javascript:void(0)" onclick="javascript:__js_object__.changeBlockSnippet(this, 'subentries', __id__);" style="<bx_if:hide_subentries>display:none</bx_if:hide_subentries>"><bx_text:_bx_polls_menu_item_view_subentries /></a>
                <a class="bx-base-text-unit-switcher bx-base-text-unit-results" href="javascript:void(0)" onclick="javascript:__js_object__.changeBlockSnippet(this, 'results', __id__);" style="<bx_if:hide_results>display:none</bx_if:hide_results>"><bx_text:_bx_polls_menu_item_view_results /></a>
            </bx_if:show_switcher>
        </div>
        <div class="bx-base-text-unit-summary bx-def-margin-sec-top bx-clearfix">
            __summary__
        </div> 
    </div>
</div>