<div id="news-content-__sample__" class="news-content">
    <div class="news-entries">
        <bx_repeat:entries>
            <div id="__id__" class="news-entry">
                __voting__
                <bx_if:checkbox>
                    <div class="news-checkbox">
                        <input type="checkbox" name="news-ids[]" value="__id__" />
                    </div>
                </bx_if:checkbox>
                <div class="news-info">
                    <div class="news-caption">
                        <a class="news-caption" href="__link__">__caption__</a>
                        <bx_if:status>
                            <span class="news-status">__status__</span>
                        </bx_if:status>
                        <bx_if:featured>
                            <span class="news-status"><bx_text:_news_featured /></span>
                        </bx_if:featured>
                        <bx_if:edit_link>
                            <a href="__edit_link_url__">__edit_link_caption__</a>
                        </bx_if:edit_link>
                    </div>
                    <div class="news-date">
                        __date__&nbsp;&nbsp;&nbsp;
                        <bx_text:_news_txt_comments />: __comments__&nbsp;&nbsp;&nbsp;
                        <bx_text:_news_txt_categories />: <bx_repeat:categories><a href="__href__">__title__</a>&nbsp;&nbsp;</bx_repeat:categories>&nbsp;&nbsp;&nbsp;
                        <bx_text:_news_txt_tags />: <bx_repeat:tags><a href="__href__">__title__</a>&nbsp;&nbsp;</bx_repeat:tags>
                    </div>
                    <div class="news-text__class__">__content__</div>
                </div>
                <div class="news-cb">&nbsp;</div>
            </div>
        </bx_repeat:entries>
    </div>
    __paginate__
    __loading__
</div>