.bx-course-controls-1 {
    float:left;
}

.bx-course-controls-2 {
    float:right;
}

.bx-course-classes .bx-form-input-wrapper-custom {
    min-height:1rem;
}

.bx-course-classes .bx-classes-placeholder:not(:first-child),
.bx-course-classes .bx-classes-class:not(:first-child) {
    margin-top:1rem;
}

.bx-classes-btn-done {
    display:none;
}
.bx-course-reordering-mode .bx-classes-btn-done {
    display:block;
}
.bx-course-reordering-mode .bx-btn:not(.bx-classes-btn-done) {
    display:none;
}

.bx-classes-class-status-completed b,
.bx-classes-class-status-completed a {
    text-decoration: line-through;
}

.bx-course-classes legend .bx-btn {
    display:inline-block;
    float:none;
    vertical-align:top;
}

.bx-course-classes .handle {
    cursor:move;
}

.bx-classes-field-view-module,
.bx-classes-field-view-end-date,
.bx-classes-field-view-start-date {
    font-weight:bold;
}

.bx-classes-tip-icon {
    cursor:pointer;
}
