<div class="bx-agents-form">
    <div class="bx-agents-form-cnt">
        __form__
        <script language="javascript">
            $(document).ready(function () {
                $("#__form_id__").ajaxForm({ 
                    dataType: "json",
                    beforeSubmit: function (formData, jqForm, options) {
                        bx_loading($("#__form_id__"), true);
                    },
                    success: function (data) {
                        $(".bx-popup-applied:visible").dolPopupHide();
                        processJsonData(data);
                    }
                });
            });

            function bx_aa_ak_type_change(oElement)
            {
                $(oElement).parents(".bx-form-element-wrapper:first").siblings("[df='1']").hide().siblings("[dt='" + $(oElement).val() + "']").show();
            }
        </script>
    </div>
</div>