<div id="__id__"></div>
<script>
    var oDefaults = {
        headerToolbar: {
            initialView: 'dayGridMonth',
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridDay,dayGridWeek,dayGridMonth' 
        },
        navLinks: true, // can click day/week names to navigate views
        eventClassNames: function(oParams) {
            if(oParams.view.type != 'dayGridDay' || !oParams.event.extendedProps.class)
                return;

            return oParams.event.extendedProps.class;
        },
        eventContent: function(oParams) {
            if(oParams.view.type != 'dayGridDay' || !oParams.event.extendedProps.card)
                return {html: '<div class="fc-event-title">' + oParams.event._def.title + '</div>'};

            oParams.event.url = '';
            return {html: oParams.event.extendedProps.card};
        }
    };
    var oOptions = __options__;

    var oBxFullCalendar = null;
    var fBxFullCalendarInit = function() {
        oBxFullCalendar = new FullCalendar.Calendar(oElement, $.extend({}, oDefaults, oOptions));
        oBxFullCalendar.render();
    };

    var oElement = document.getElementById('__id__');
    if(oElement)
        fBxFullCalendarInit();
    else
        document.addEventListener('DOMContentLoaded', fBxFullCalendarInit);
</script>
