<div class="bx-chart-stats bx-def-font-align-center">
    <div class="bx-chart-stats-graph">
        <canvas class="bx-canvas" id="__chart_id__" width="100%"></canvas>
        <script language="javascript">
            var oStatsChart = new Chart($("#__chart_id__"), {
                    type: 'doughnut',
                    data: __chart_data__,
                    options: {
                        legend: {
                            position: 'bottom'
                        },
                        padding: {
                            left: 0,
                            right: 0,
                            top: 0,
                            bottom: 0
                        },
                        maintainAspectRatio: false
                    },
            });
            $("#__chart_id__").height(450);
        </script>
    </div>
</div>