<ul id="bx-menu-main-submenu" class="bx-menu-main-submenu bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-def-padding-sec-right bx-def-padding-sec-left bx-def-color-bg-hl-hover __class_add__" __attrs_wrp__>
            <a href="__link__" <bx_if:onclick>onclick="__onclick__"</bx_if:onclick> __attrs__>
                <span class="bx-menu-item-title">__title__</span>
                <bx_if:addon>
                    <span class="bx-menu-addon">
                        <span class="bx-menu-addon-cnt bx-def-label menu py-1">__addon__</span>
                    </span>
                </bx_if:addon>
            </a>
        </li>
    </bx_repeat:menu_items>
</ul>