<div class="bx-menu-multilevel-wrp">
    <div class="bx-menu-contents border rounded-md md:hidden">
        <a class="bx-stl-mil-gaps flex flex-auto items-center" href="javascript:void(0)" onclick="javascript:bx_menu_toggle_contents(this)">
            <span class="bx-menu-item-title bx-stl-mit flex-1 uppercase" sidebar-toggle-item>__menu_item_selected__</span>
            <span class="bx-menu-collapse flex-none pl-2" sidebar-toggle-item>
                <i class="sys-icon chevron-up bx-menu-show"></i>
                <i class="sys-icon chevron-down bx-menu-hide"></i>
            </span>
        </a>
    </div>
    <div class="bx-menu-content pt-2 hidden md:pt-0 md:block">
        <ul class="bx-menu-ver bx-menu-multilevel bx-menu-object-__object__ space-y-2">
            <bx_repeat:menu_items>
                <li class="bx-menu-item bx-menu-item-__name__ __class_add__">
                    <div class="bx-menu-item-cnt">
                        <div class="bx-menu-item-link bx-stl-mil-wo-gaps">
                            <a class="bx-stl-mil-gaps flex flex-auto items-center" href="__link__" <bx_if:onclick>onclick="__onclick__"</bx_if:onclick> __attrs__>
                                <span class="bx-menu-item-icon bx-stl-mii flex-none group-hover:text-gray-700 dark:group-hover:text-gray-300">
                                    <bx_include_auto:menu_icon.html />
                                </span>
                                <span class="bx-menu-item-title bx-stl-mit flex-1 uppercase" sidebar-toggle-item>__title__</span>
                                <bx_if:show_toggler>
                                    <span class="bx-menu-collapse flex-none pl-2" sidebar-toggle-item>
                                        <i class="sys-icon chevron-up bx-menu-hide"></i>
                                        <i class="sys-icon chevron-down bx-menu-show"></i>
                                    </span>
                                </bx_if:show_toggler>
                            </a>
                        </div>
                        <bx_if:show_subitems>
                            <div class="bx-menu-item-subitems pt-2 pl-2">
                                <ul class="bx-menu-item-subitems bx-menu-pf-subitems bx-menu-ver space-y-2">__subitems__</ul>
                            </div>
                        </bx_if:show_subitems>
                    </div>
                </li>
            </bx_repeat:menu_items>
        </ul>
    </div>
</div>