<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=__page_charset__" />
	    <title>__page_header__</title>
	    <base href="<bx_url_root />" />

        <link href="<bx_url_root />template/css/common.css" rel="stylesheet" type="text/css" />

		<script language="javascript" src="<bx_url_root />plugins_public/jquery/jquery.min.js"></script>
		<script language="javascript" src="<bx_url_root />plugins_public/embedly-player.min.js"></script>
	</head>
	<body class=>__page_main_code__</body>
</html>
