<div class="bx-courses-counters flex flex-col">
    <bx_if:show_st>
        <div class="bx-courses-c-title capitalize"><bx_text:_bx_courses_txt_st />:</div>
        <div class="bx-courses-c-list flex flex-row flex-wrap">
            <bx_repeat:counters_st>
                <div class="m-px px-2 bg-gray-200 border rounded-md whitespace-nowrap">__value__ <span class="lowercase">__title__</span></div>
            </bx_repeat:counters_st>
        </div>
    </bx_if:show_st>
    <bx_if:show_at>
        <div class="bx-courses-c-title mt-2 capitalize"><bx_text:_bx_courses_txt_at />:</div>
        <div class="bx-courses-c-list flex flex-row flex-wrap">
            <bx_repeat:counters_at>
                <div class="m-px px-2 bg-gray-200 border rounded-md whitespace-nowrap">__value__ <span class="lowercase">__title__</span></div>
            </bx_repeat:counters_at>
        </div>
    </bx_if:show_at>
</div>