<div class="bx-courses-node-view">
    <div class="bx-courses-node-view-cnt">
        <div class="bx-courses-index bx-def-font-grayed text-xs"><span class="capitalize">__sample__</span> __index__:</div>
        <div class="bx-courses-title text-2xl font-bold">__title__</div>
        <div class="bx-courses-text bx-def-font-grayed text-xs">__text__</div>
        <div class="bx-courses-node-items">
            <bx_repeat:items>
                <div class="bx-courses-node-item flex items-center space-x-4 py-4 border-t first:border-0">
                    <div class="bx-courses-ni-image">
                        <div class="bx-courses-nii w-48 h-28 box-content border rounded-lg overflow-hidden">
                            <bx_if:show_image><img class="block w-48 h-28 object-fill" src="__image__" /></bx_if:show_image>
                            <bx_if:show_image_empty>
                                <div class="flex justify-center items-center w-48 h-28 bg-gray-100 text-2xl uppercase">__type__</div>
                            </bx_if:show_image_empty>
                        </div>
                    </div>
                    <div class="bx-courses-ni-data flex-1">
                        <div class="bx-courses-nid-type flex"><div class="px-4 bg-gray-300 rounded-full capitalize">__type__</div></div>
                        <div class="bx-courses-nid-title text-lg font-bold">
                            <bx_if:show_link><a href="__link__" target="_blank">__title__</a></bx_if:show_link>
                            <bx_if:show_text>__title__</bx_if:show_text>
                        </div>
                        <bx_if:show_size>
                            <div class="bx-courses-nid-size">__size__</div>
                        </bx_if:show_size>
                    </div>
                    <div class="bx-courses-ni-action flex items-center">
                        <bx_if:show_pass>
                            <a class="bx-btn bx-btn-small" href="__link__" onclick="javascript:return __js_object__.passData(this, __id__);">__title__</a>
                        </bx_if:show_pass>
                        <bx_if:show_download>
                            <a class="bx-btn bx-btn-small" href="__link__"><bx_text:_bx_courses_txt_download /></a>
                        </bx_if:show_download>
                    </div>
                </div>
            </bx_repeat:items>
        </div>
    </div>
</div>