<div class="bx-courses-node-data-view">
    <div class="bx-courses-node-data-view-cnt px-2 pb-2">
        <div class="bx-courses-ndv-view">__view__</div>
        <div class="bx-courses-ndv-actions flex items-center mt-4">
            <bx_if:show_back>
                <div class="bx-courses-ndva-back">
                    <a class="bx-btn bx-btn-small" href="javascript:void(0)" onclick="javascript:return __js_object__.passData(this, __id_back__);"><bx_text:_bx_courses_txt_back_step /></a>
                </div>
            </bx_if:show_back>
            <div class="bx-courses-ndva-stretcher flex-1"></div>
            <bx_if:show_next>
                <div class="bx-courses-ndva-next">
                    <a class="bx-btn bx-btn-small" href="javascript:void(0)" onclick="javascript:return __js_object__.passData(this, __id_next__);"><bx_text:_bx_courses_txt_next_step /></a>
                </div>
            </bx_if:show_next>
        </div>
    </div>
</div>