<div class="relative w-full __class_wrp__">
    <a class="__class_link__ bx-stl-mil-sm group" href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__>
        <bx_if:icon><div class="bx-menu-item-icon bx-stl-mii-sm mr-0 group-hover:text-gray-700 dark:group-hover:text-gray-300"><i class="sys-icon __icon__"></i></div></bx_if:icon>
        <bx_if:image><div class="bx-menu-item-icon bx-stl-mii-sm mr-0"><img class="bg-contain" style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></div></bx_if:image>
        <bx_if:icon-html><div class="bx-menu-item-icon bx-stl-mii-sm mr-0 group-hover:text-gray-700 dark:group-hover:text-gray-300">__icon__</div></bx_if:icon-html>
        <bx_if:title><div class="bx-menu-item-title bx-stl-mit">__title__</div></bx_if:title>
    </a>
    <bx_if:addon>__addon__</bx_if:addon>
</div>