<div class="__class__ bx-albums-media-wrapper bx-def-padding-sec bx-def-box-sizing">
    <div class="bx-albums-media-cnt bx-def-box bx-def-image-bg-block bx-def-color-bg-block bx-def-border-block bx-shadow-block bx-def-padding">
	    <div class="bx-albums-unit-size bx-def-centered">
	        <bx_if:image>
	            <a href="__url__" title="__title_attr__">
	                <img class="bx-albums-unit-size" src="__url_img__" alt="__title_attr__" />
	            </a>
	        </bx_if:image>
	        <bx_if:video>
	            <a href="__url__" title="__title_attr__">
	                <img class="bx-albums-unit-size" src="__url_img__" alt="__title_attr__" />
	            </a>
	        </bx_if:video>
	    </div>
	    <div class="bx-albums-media-caption bx-def-margin-sec-topbottom">__title__</div>
	    <div class="bx-albums-media-actions">__actions__</div>
    </div>
</div>