/*--- Overwrite ---*/
body.bx-dev-page-body-columns div.bx-std-page-column.bx-std-page-content .bx-std-page-column-cnt {
    padding: 5rem 0 0 0;
}
body.bx-dev-page-body-single div.bx-std-page-menu,
body.bx-dev-page-body-columns div.bx-std-page-menu {
    -webkit-flex-basis: 67px;
    flex-basis: 67px;

    background-color: #4c6678;
    box-shadow: inset -1px 0px 0px rgba(240, 240, 240, 0.2);
}
body.bx-dev-page-body-single div.bx-std-page-menu div.bx-std-page-column-cnt,
body.bx-dev-page-body-columns div.bx-std-page-menu div.bx-std-page-column-cnt {
    padding-left: 0;
    padding-right: 0;
}
body.bx-dev-page-body-columns div.bx-std-page-column.bx-std-page-content {
    overflow-x: visible;
}
body.bx-dev-page-body-columns div.bx-std-page-column-cnt {
    padding: 0px;
}


/*--- General ---*/
div.bx-dev-cb {
    clear: both;
    font-size: 0px;
}


/*--- Left Menu ---*/
div.bx-dev-menu-main {
	position: relative;
	width: 65px;
	border-right: 2px solid transparent;
}

div.bx-dev-mm-cnt {
	padding: 6px 16px 16px 16px;
}

div.bx-dev-menu-main li {
    width:32px;
    height:32px;
	margin: 0px 0px 16px 0px;
	border-radius: 10px 10px 10px 10px;
}


div.bx-dev-menu-main li:hover,
div.bx-dev-menu-main li.bx-def-color-bg-active {
    opacity:1;
    -moz-box-shadow: 0 0 9px 0px #ffffff;
    -webkit-box-shadow: 0 0 9px 0px #ffffff;
	box-shadow: 0 0 9px 0px #ffffff;
}

div.bx-dev-menu-main div.bx-dev-mm-item {
	position: relative;
	width: 32px;
	height: 32px;
} 

div.bx-dev-menu-main div.bx-dev-mm-item img {
	width: 32px;
    height: 32px;
}

div.bx-dev-menu-main div.bx-dev-mm-item i.sys-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width:32px;
    height: 32px;

    color:white;
    font-size:20px;
    text-align:center;
    text-shadow:none;
    line-height: 32px;
}

/*--- Page Content ---*/
.bx-dev-page-body-columns div.bx-std-page-column-cnt,
div.bx-dev-page-columns-cnt {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    width: 100%;
}

div.bx-dev-page-columns-cnt {
    height: calc(100vh - 5rem);
}

div.bx-dev-page-column.bx-dev-page-menu {
    position: relative;
    -webkit-flex: 0 0 20rem;
    flex: 0 0 20rem;
    width: 20rem;
    background-color: #ffffff;
    
    overflow-y: auto;
}
div.bx-dev-page-column.bx-dev-page-menu::-webkit-scrollbar {
  display: none;
}

div.bx-dev-page-column.bx-dev-page-menu div.bx-dev-page-column-cnt {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

div.bx-dev-page-column.bx-dev-page-content {
    position: relative;
    -webkit-flex: 2 1 auto;
    flex: 2 1 auto;

    height: 100%;

    background: #e5e5e5;

    overflow-x: hidden;
    overflow-y: auto;
}
div.bx-dev-page-column.bx-dev-page-content .bx-dev-page-column-cnt {
    padding: 1.5rem;
}