<div class="bx-ads-entry-offer-accepted">
    <div class="bx-ads-entry-offer-accepted-cnt bx-def-font-align-center">
        <div class="bx-def-font-h3"><bx_text:_bx_ads_txt_your_offer /></div>
        <div class="bx-def-font-h2 bx-def-margin-top">__amount__</div>
        <div class="bx-def-font-small bx-def-margin-bottom bx-def-font-grayed">__quantity__</div>
        <div class="bx-def-font-h3"><bx_text:_bx_ads_txt_accepted /></div>
        <bx_if:show_pay>
            <div class="bx-ads-eoa bx-def-margin-top">
                <a class="bx-btn" href="javascript:void(0)" onclick="__js_method__"><bx_text:_bx_ads_txt_pay /></a>
            </div>
        </bx_if:show_pay>
        __js_code__
    </div>
</div>