@import url(../../../../../forum/template/css/main.css);

/*-- Participants --*/
div.bx-forum-participants.left,
div.bx-forum-participants.none,
div.bx-forum-participants.right {
    float: none;
}
div.bx-forum-participants.left {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
div.bx-forum-participants.right {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
div.bx-forum-participants .bx-forum-participant {
    float: none;
}
div.bx-forum-participants.left .bx-forum-participant,
div.bx-forum-participants.none .bx-forum-participant {
    float: none;
    margin-right: 0.75rem;
}
.bx-forum-participants.right .bx-forum-participant {
    float: none;
    margin-left: 0.75rem;
}
.bx-forum-participant .bx-forum-participant-alert-last-replier {
    left: -0.375rem;
    right: auto;
    top: -0.375rem;
    bottom: auto;
}
.bx-forum-participant .bx-forum-participant-alert-author {
    left: -0.375rem;
    right: auto;
    top: auto;
    bottom: -0.375rem;
}


/*-- Grid: Preview --*/
.bx-forum-grid-preview .bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li a {
    display: -webkit-flex;
    display: flex;
}