<bx_repeat:messages>
	<div class="bx-cnv-preview bx-def-margin-top-auto">
	    <div class="bx-cnv-title bx-def-font-h3"><a href="__url__" style="font-weight:__font_weight__;">__text__</a></div>
	    __label__
	    <div class="bx-def-unit absolute bx-def-margin-thd-top">
            <div class="bx-def-unit-img bx-def-icon bx-def-icon-size">
	           <a href="__last_replier_url__" title="__last_replier_title_attr__"><img class="bx-def-icon bx-def-icon-size" src="__last_replier_thumb_url__" /></a>
	        </div>   
            <div class="bx-def-unit-info bx-def-icon-size-min-height bx-def-icon-size-max-height bx-def-icon-size-left-indent bx-def-font-middle">
                <div class="bx-def-unit-info-cnt bx-def-box-sizing">
	                <div class="bx-def-unit-line">__cmt_text__</div>
	                <div class="bx-def-unit-line bx-def-font-grayed bx-def-font-small">__last_reply_time_and_replier__</div>
                </div>
            </div>
	    </div>
	</div>
</bx_repeat:messages>
<div class="bx-def-margin-top"><b><a href="__see_all_url__"><bx_text:_bx_cnv_see_all /></a></b></div>
