
<bx_repeat:messages>
    <div class="bx-def-font-h3 bx-def-margin-top-auto"><a href="__url__" style="font-weight:__font_weight__;">__text__</a></div>
    <div class="bx-def-margin-thd-top bx-def-font-middle bx-def-font-grayed">__desc__</div>
    <div class="bx-def-unit bx-def-margin-thd-top">
        <a href="__last_replier_url__" title="__last_replier_title_attr__"><img class="bx-def-icon bx-def-icon-size" src="__last_replier_thumb_url__" /></a><div class="bx-def-unit-info bx-def-thumb-size-max-height bx-def-padding-sec-left"><div class="bx-def-font-middle" style="line-height:0.9em;">__cmt_text__</div><div class="bx-def-font-grayed bx-def-font-small">__last_reply_time__</div>
        </div>
    </div>
</bx_repeat:messages>

<div class="bx-def-margin-top"><b><a href="__see_all_url__"><bx_text:_bx_cnv_see_all /></a></b></div>

