<div class="bx-std-segmented bx-dbd-users-periods" role="tablist" aria-label="<bx_text_attribute:_adm_dbd_txt_us_period />">
    <bx_repeat:periods>
        <button type="button" id="bx-dbd-users-tab-__name__" class="bx-std-segment" role="tab" aria-selected="__selected__" tabindex="__tabindex__" aria-controls="bx-dbd-users-chart" data-period="__name__" onclick="__js_object__.usersPeriod('__name__', this)" onkeydown="__js_object__.usersPeriodKey(event, this)">__title__</button>
    </bx_repeat:periods>
</div>
