<div id="__id__" class="bx-popup-wrapper bx-popup-box-wrapper bx-def-box-sizing" style="__wrapper_style__" role="dialog" aria-describedby="__id___title">
    <!--<div class="bx-popup-box-pointer"><i class="bx-popup-border"></i></div>-->
    <div class="bx-popup bx-popup-box bx-popup-width bx-popup-color-bg bx-popup-border bx-def-round-corners">
        <div class="bx-def-round-corners" style="overflow:hidden;">
            <div class="bx-popup-header bx-popup-header-color-bg bx-def-padding bx-def-font-contrasted">
                <h2 id="__id___title">__title__</h2>
                <button type="button" class="bx-popup-element-close bx-def-font-contrasted bx-def-margin" aria-label="<bx_text_attribute:_sys_close />">
                    <div class="bx-icon bx-icon-close">
                        <bx_icon_inline:tmi-close.svg />
                    </div>
                </button>
            </div>
            <div class="bx-popup-content bx-def-padding">__content__</div>
            <div class="bx-focus-trap w-0 h-0 outline-none" tabindex="0"></div>
        </div>
    </div>
</div>
