<div class="bx-def-centered bx-def-padding-sec-leftright bx-def-page-width bx-def-box-sizing">
    <div id="bx-informer" class="bx-def-padding-topbottom bx-def-padding-sec-leftright">
        <bx_repeat:messages>
            <div id="__id__" class="bx-informer-msg __class__ bx-def-padding bx-def-round-corners bx-def-margin-top">
                __msg__
                <bx_if:action>
                    <a class="bx-informer-action bx-btn bx-btn-small bx-def-margin-sec-left" href="__action_url__">__action_title__</a>
                </bx_if:action>
            </div>
        </bx_repeat:messages>
    </div>
</div>
