<div class="sys-auth-block __class_container__ grid gap-2 mb-4">
    <bx_repeat:buttons>
        <div class="sys-auth __class__ flex">
            <a class="group inline-flex items-center justify-start w-full px-4 py-2 border border-gray-300 dark:border-gray-700 shadow-sm hover:shadow-md text-sm font-medium rounded-md text-gray-700 dark:text-gray-300 dark:hover:text-white hover:text-gray-800 bg-white dark:bg-gray-800 dark:hover:bg-gray-700 hover:bg-gray-50" href="__href__" <bx_if:show_onclick> onclick="__onclick__"</bx_if:show_onclick> title="__title_alt__">
                <bx_if:show_icon>
                    <span class="sys-auth-icon flex items-center justify-center h-5 w-5"><i class="sys-icon __icon__ sys-colored"></i></span>
                </bx_if:show_icon>
                <bx_if:show_title><span class="sys-auth-text ml-2 truncate">__title__</span></bx_if:show_title>
            </a>
        </div>
    </bx_repeat:buttons>
</div>