__custom_html_before__
<bx_if:show_auth>__content__</bx_if:show_auth>
<bx_if:show_form>__content__</bx_if:show_form>
__custom_html_after__
<bx_if:show_join>
    <hr class="bx-def-hr my-4" />
    <div class="sys-lf-join">
        <a class="bx-btn w-full justify-center text-center" href="__url__"><bx_text:_sys_txt_login_description_action /></a>
    </div>
</bx_if:show_join>
<div class="sys-lf-agreement -mx-4">
    <hr class="bx-def-hr mt-4" />
    <div class="sys-jf-agreement-cnt pt-4 px-4 text-xs text-gray-500">__agreement__</div>
</div>
<bx_if:show_js_code>
    <script>
        (bx_login_init_ajax_form = function () {
            $('#sys-form-login').ajaxForm({
                dataType: 'json',
                success: function (oData) {
                    if ('undefined' !== typeof(oData['res']) && 'OK' == oData['res']) {
                        location.reload();
                    }
                    else if ('undefined' !== typeof(oData['form'])) {
                        $('#sys-form-login').replaceWith(oData['form']);
                        bx_login_init_ajax_form();
                    }
                }
            });
        })();
    </script>
</bx_if:show_js_code>