<ul id="__html_id__" class="bx-menu-floating-blocks<bx_if:show_more_auto_class> bx-menu-more-auto</bx_if:show_more_auto_class> bx-menu-object-__object__ flex flex-wrap justify-center -my-1 space-x-2">
    <bx_repeat:menu_items><li class="bx-menu-item bx-menu-item-__name__ __class_add__ w-20 my-1 rounded-md">
        <a href="__link__" onclick="__onclick__" class="bx-stl-mil-hover flex flex-col items-center p-2 text-gray-600 dark:text-gray-300 text-sm font-medium rounded-md"__attrs__>
            <div class="bx-menu-floating-blocks-icon m-2">
                <bx_if:icon><i class="sys-icon __icon__ block w-8 h-8 leading-8 text-3xl text-center"></i></bx_if:icon>
                <bx_if:image><img class="block w-8 h-8" style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image>
            </div>
            <div class="bx-menu-floating-blocks-title max-w-full truncate">__title__</div>
        </a>__popup__
    </li></bx_repeat:menu_items>
</ul>

<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-floating-blocks > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>
__js_code__