<div class="bx-chart-growth">
	<div class="bx-chart-growth-controls bx-def-margin-bottom">__controls__</div>
	<div class="bx-chart-growth-graph bx-def-border">
        <div class="bx-chart-growth-graph-error bx-def-font-align-center"></div>
		<canvas class="bx-canvas" id="bx_chart_growth_graph" width="100%"></canvas>
	</div>
	<script language="javascript">
        var oBxDolChartGrowth = new BxDolChartGrowth({
            sObjName: 'oBxDolChartGrowth',
            sRootUrl: '<bx_url_root />',
            sDateFrom: '__date_from__',
            sDateTo: '__date_to__'
        });
    </script>
</div>