<script>
(function(w, d){
    var id='embedly-platform', n = 'script';
    if (!d.getElementById(id)){
        w.embedly = w.embedly || function() {(w.embedly.q = w.embedly.q || []).push(arguments);};
        var e = d.createElement(n); e.id = id; e.async=1;
        e.src = ('https:' === document.location.protocol ? 'https' : 'http') + '://cdn.embedly.com/widgets/platform.js';
        var s = d.getElementsByTagName(n)[0];
        s.parentNode.insertBefore(e, s);
    }
})(window, document);

$(document).ready(function () {

    embedly("defaults", {
<bx_if:key>
        cards: {key: '__key__'},
</bx_if:key>
		controls: 0
    });

    embedly('on', 'card.resize', function(iframe){
        var $card = $(iframe);
        var $card_parent = $card.parents('.fr-embedly');
        $card_parent.css('height', $card.height());
    });

    embedly('on', 'card.rendered', function(iframe){
        bx_redirect_for_external_links($(iframe).contents());
    });

    function bx_embedly_process_links(e) {
        $(e).find('.bx-embed-link').each(function () { 
            $(this).html('');
            $(this).html('<a href="' + $(this).attr('source') + '"></a>');
            embedly('card', $(this).find('a')[0]); 
        });
    }

    if (typeof glOnProcessHtml === 'undefined')
        glOnProcessHtml = [];
    if (glOnProcessHtml instanceof Array) 
        glOnProcessHtml.push(bx_embedly_process_links);

    bx_embedly_process_links(this);
});
</script>
