<script async charset="utf-8" src="//cdn.iframe.ly/embed.js?api_key=__key__&card=small"></script>
<script>
$(document).ready(function () {
    if (typeof glOnProcessHtml === 'undefined')
        glOnProcessHtml = [];
    if (glOnProcessHtml instanceof Array) {
        glOnProcessHtml.push(function (e) {
            if (window.iframely) {
                iframely.openHref = function (sHref) {
                    bx_redirect_for_external_links_open (sHref);
                    return false;
                }
                iframely.load();
            }
        });
    }
});
</script>
