<div class="sys-block-redirect">
    <div class="bx-def-margin-bottom">
    __text__
    </div>
    <button class="bx-btn"><bx_text:_No /></button>
    <button class="bx-btn bx-btn-primary bx-def-margin-left"><bx_text:_Yes /></button>
</div>
<script>
    $('.sys-block-redirect button.bx-btn-primary').click(function() {
        document.location = '__url__';
        return false;
    });
    $('.sys-block-redirect button:not(.bx-btn-primary)').click(function() {
        window.close();
        return false;
    });
</script>
