<div class="__style_prefix__-rating __style_prefix__-rating-element" __style_prefix__-rating-data="__value__">
    <div class="__style_prefix__-mood relative inline-block">
        <div class="__style_prefix__-mood-underlay">
            <bx_repeat:stars><i class="__style_prefix__-mood-star sys-icon far star text-yellow-500"></i></bx_repeat:stars>
        </div>
        <div class="__style_prefix__-mood-slider absolute z-1 top-0 left-0 whitespace-nowrap overflow-hidden">
            <bx_repeat:slider><i class="__style_prefix__-mood-star sys-icon star text-yellow-500"></i></bx_repeat:slider>
        </div>
        <div class="__style_prefix__-mood-buttons absolute z-2 top-0 left-0">
            <bx_repeat:buttons><a class="__style_prefix__-mood-button" href="javascript:void(0);" onmouseover="__js_object__.over(this);" onmouseout="__js_object__.out(this);" onclick="__js_object__.vote(this, __value__)"><i class="__style_prefix__-mood-star sys-icon star text-transparent hover:text-yellow-600"></i></a></bx_repeat:buttons>
        </div>
    </div>
    <input class="__style_prefix__-mood-value" type="hidden" name="__name__" value="__value__" />
</div>
<bx_if:show_init>
    <script language="javascript">
        $(document).ready(function() {
            __js_object__.cmtInitRating($('#__form_id__ .__style_prefix__-rating-element'));
        });
    </script>
</bx_if:show_init>