<!--<a __attrs__ href="javascript:void(0);" class="bx-btn bx-def-margin-sec-right __btn_class__">__button_title__</a>-->
<div id="__div_id__" class="filepond bx-uploader-html5-drop-area border-2 border-gray-300 dark:border-gray-700 text-gray-700 dark:text-gray-300 bg-gray-50 dark:bg-gray-900/50 border-dashed rounded-lg"></div>
<input type="text" id="__focus_div_id__" class="bx-uploader-html5-paste-catcher" tabindex="1" />
<div id="__errors_container_id__" class="bx-uploader-html5-errors-area bx-def-font-small"></div>