__uploader_instance_name__ = new BxDolUploaderHTML5('__engine__', '__storage_object__', '__uniq_id__', {
    'multiple': __multiple__,
    'content_id': '__content_id__',
    'images_transcoder' : '__images_transcoder__',
    'storage_private' : '__storage_private__',
    'template_error_msg': '<div class="bx-uploader-msg-err">{error}</div>',
    'template_ghost': __template_ghost__,
    'reordering': __is_init_reordering__,
    'maxFilesize': __max_file_size__/1024.0/1024.0,
    'acceptedFiles': __accepted_files__,
    'resizeWidth': __resize_width__,
    'resizeHeight': __resize_height__,
    'resizeMethod': __resize_method__,
    'dictDefaultMessage': '<bx_text_js:_sys_uploader_html5_default_message />',
    'dictFileTooBig': '<bx_text_js:_sys_uploader_html5_file_is_too_big />',
    'dictMaxFilesExceeded': '<bx_text_js:_sys_uploader_html5_number_of_files_exceeded />',
    'dictInvalidFileType': '<bx_text_js:_sys_uploader_html5_invalid_file_type />',
});
<bx_if:restore_ghosts>__uploader_instance_name__.restoreGhosts(__is_init_reordering__);</bx_if:restore_ghosts>