/*--- Top Controls ---*/
div.bx-grid-header div.bx-form-element-wrapper {
    position: relative;
    float: left;
}

div.bx-grid-header div#bx-form-element-level {
    margin-right: 20px;
}
div.bx-grid-header div#bx-form-element-level,
div.bx-grid-header div#bx-form-element-keyword {
    margin-top: 0px;
}

/*--- Add Price Popup ---*/
div.bx-acl-price-form {}
div.bx-acl-price-form-cnt {}