/*--- View Levels Styles ---*/
div.bx-acl-level-icon {
	display: inline-block;

	background-color: rgba(255, 255, 255, 1.0);

	text-align: center;
	overflow: hidden;
}

div.bx-acl-level-icon .sys-icon {
	line-height: 32px;
	font-size: 24px;
}