@import url(../../../../../timeline/template/css/post.css);

/*--- Post Form ---*/
.bx-tl-post-submenu {
	border-bottom-color: #e6f0fa;
}

.bx-tl-post-submenu-cnt {
	display: -webkit-flex;
  display: flex;
}

.bx-tl-post-submenu-item {
	-webkit-flex: 0 1 33.3%; 
	-ms-flex:  0 1 33.3%; 
	flex:  0 1 33.3%;

	border-left: 1px solid #e6f0fa;
}

.bx-tl-post-submenu-item:first-child {
	border-left-width: 0px;
}

.bx-tl-post-submenu-item > div {
	display: inline-block;
	vertical-align: middle;
}

.bx-tl-post-submenu-item > div.bx-def-border-bottom {
    border-color: #68b4e1;
}

.bx-tl-post-submenu-item .bx-tl-psi-icon,
.bx-tl-post-submenu-item .bx-tl-psi-icon img {
	width: 1.5rem;
	height: 1.5rem;
}
.bx-tl-post-submenu-item .bx-tl-psi-icon img {
	color: #002e74;
}

.bx-tl-post-submenu-item .sys-icon {
	vertical-align: middle;
	font-size: 1.5rem;
}

.bx-tl-post .bx-form-value .bx-form-input-wrapper-textarea {
	overflow: hidden;
}

div#bx-timeline-post div#bx-form-element-attachments {
	position: relative;
	top: 0;
	left: 0;
	right: auto;
}
div#bx-timeline-post div#bx-form-element-attachments ul.bx-menu-btns-hor {
	text-align: left;
}

/*+++ Froala +++*/
.bx-tl-post .bx-form-element-wrapper .bx-form-input-wrapper-textarea .fr-toolbar.fr-top,
.bx-tl-post .bx-form-element-wrapper .bx-form-input-wrapper-textarea .fr-box.fr-basic.fr-top .fr-wrapper {
    border-width: 0px;
    box-shadow: none;
}

/*--- Phone ---*/

/*--- Post Form ---*/
.bx-media-phone .bx-tl-post-submenu .bx-tl-post-submenu-item > div {
    display: block;
    text-align: center;
}

