@import url(../../../../../timeline/template/css/view.css);

.bx-tl-grid-sizer {
	width: 100%;
}
	
.bx-tl-grid-item-sizer {
    width: 100%;
}

div.bx-tl-view-timeline div.bx-tl-items:before {
    top: 1px;
}
div.bx-tl-view-timeline div.bx-tl-item-type {
    display: none;
}

div.bx-tl-view div.bx-tl-item .bx-tl-item-cnt {
    overflow: visible;
}

div.bx-tl-view div.bx-tl-item div.bx-tl-owner-name {
    line-height: 1rem;
}
div.bx-tl-view div.bx-tl-item div.bx-tl-owner-name > * {
    vertical-align: middle;
}
div.bx-tl-view div.bx-tl-item div.bx-tl-owner-name .bx-tl-hot img {
	display: inline-block;
	vertical-align: sub;
}
	
div.bx-tl-view div.bx-tl-item-text div.bx-tl-title {
	font-size: 1.375rem;
    font-weight: 900;
}

div.bx-tl-view div.bx-tl-item-text div.bx-tl-content p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

div.bx-tl-view div.bx-tl-item-images {
	text-align: center;
}
div.bx-tl-view div.bx-tl-item-images div.bx-tl-item-image img {
    position: relative;
    display: block;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
}
div.bx-tl-view div.bx-tl-item div.bx-tl-item-owner div.bx-tl-owner-info {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
	-webkit-justify-content: space-between;
    justify-content: space-between;

    margin-right: 0;
}
div.bx-tl-view div.bx-tl-item div.bx-tl-owner-name a.bx-tl-owner-name, 
div.bx-tl-view div.bx-tl-item div.bx-tl-owner-name .bx-tl-timeline-owner-name a.bx-tl-ton-item {
    font-size: 1rem;
    font-weight: bold;
}
div.bx-tl-view div.bx-tl-item div.bx-tl-owner-actions {
    position: relative;
    line-height: normal;
}

/*+++ Pinned +++*/
/*
.bx-tl-view div.bx-tl-item.bx-tl-pinned div.bx-tl-item-text div.bx-tl-title a,
.bx-tl-view div.bx-tl-item.bx-tl-pinned div.bx-tl-item-text div.bx-tl-content *,
.bx-tl-view div.bx-tl-item.bx-tl-pinned div.bx-tl-item-date a,	
.bx-tl-view div.bx-tl-item.bx-tl-pinned div.bx-tl-item-date span.bx-def-font-small,
.bx-tl-view div.bx-tl-item.bx-tl-pinned div.bx-tl-item-owner a {
    color: #ffffff;
}
.bx-tl-view div.bx-tl-item.bx-tl-pinned .bx-def-box.bx-def-color-bg-block,
.bx-tl-view div.bx-tl-item.bx-tl-pinned .bx-def-box.bx-def-color-bg-box:not(.cmt-box) {
    background: -moz-linear-gradient(top, rgba(107,192,215,1) 0%, rgba(0,147,205,1) 100%);
    background: -webkit-linear-gradient(top, rgba(107,192,215,1) 0%,rgba(0,147,205,1) 100%);
    background: linear-gradient(to bottom, rgba(107,192,215,1) 0%, rgba(0,147,205,1) 100%);
}
*/

/*+++ Item Note +++*/
.bx-tl-in-divider {
	border-color: rgba(238, 241, 244, 1.0);
}
	
/*+++ Item Author +++*/
.bx-tl-item-owner {
	padding-left: 1rem;
	padding-right: 1rem;
}
.bx-tl-item-owner-cnt {
	position: relative;
}
.bx-tl-item-owner .bx-def-thumb-size {
    width: 2.25rem;
    height: 2.25rem;
}
.bx-tl-item-owner div.bx-def-unit-img p.bx-base-pofile-unit-thumb {
    line-height: 2.25rem;
    font-size: 1.65rem;
}
.bx-tl-item-owner .bx-def-thumb-size-min-height {
	min-height: 2.25rem;
}
.bx-tl-item-owner .bx-def-thumb-size-left-indent {
	margin-left: 2.875rem;	
}

/*+++ Item Context +++*/
.bx-tl-item-context {
	position: relative;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    border-color: rgba(238, 241, 244, 1.0);
}
.bx-tl-item-context-owner {
	position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

	height: 2rem;
    line-height: 2rem;

    border-radius: 2rem;
    overflow: hidden;
}
.bx-tl-item-context-owner .bx-tl-ico-icon {
	border: 1px solid transparent;
}
.bx-tl-item-context-owner .bx-tl-ico-icon .bx-def-thumb-size {
	width: 1.875rem;
	height: 1.875rem;
	line-height: 1.875rem;
}
.bx-tl-item-context-owner .bx-tl-ico-icon .bx-base-pofile-unit-wo-info p.bx-base-pofile-unit-thumb, 
.bx-tl-item-context-owner .bx-tl-ico-icon .bx-base-pofile-unit-wo-info p.bx-base-pofile-unit-ava {
    display: block;
    margin: 0px;
    border-width: 0;
    border-radius: 2rem;
    line-height: 1.875rem;
    font-size: 1.5rem;
    font-weight: 800;
}
.bx-tl-item-context-owner .bx-tl-ico-icon,
.bx-tl-item-context-owner .bx-tl-ico-info {
    background-color: rgba(246, 249, 252, 1.0);
}


/*+++ Item Images +++*/
div.bx-tl-view.bx-tl-view-timeline div.bx-tl-item-image,
div.bx-tl-view.bx-tl-view-search div.bx-tl-item-image,
div.bx-tl-view.bx-tl-view-item div.bx-tl-item-image {
	display: block;
    margin-right: 0;
}

/*+++ Activity and Comments +++*/
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity,
.bx-tl-view div.bx-tl-item div.bx-tl-item-comments-holder .bx-tl-item-comments-wrp {
	padding: 0.5rem 1rem;
	border-top: 1px solid rgba(238, 241, 244, 1.0);
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-comments-holder .bx-tl-item-comments {
	margin-top: 0.5rem;
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-comments-holder .cmt-reply {
    margin-bottom: 0;
    padding-bottom: 1.25rem;
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor::before, 
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor::after { 
    content: none;
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li {
    display: block;
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li > span {
	display: inline-block;
    vertical-align: top;
	margin-top: 0;
    margin-right: 0;
	margin-bottom: 0;
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li > span:not(.item-share) span.bx-menu-custom-item-title {
	display: none;
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li > span.item-share span.bx-menu-custom-item-title {
	font-size: 1.25rem;
	color: rgba(0,147,205,1);
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li .bx-vote-likes .bx-vote-element-holder,
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li .bx-vote-likes .bx-vote-counter-holder {
	line-height: inherit;
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li a {
    font-size: 1.25rem;
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li .sys-icon,
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li a .sys-icon {
    vertical-align: baseline;
    font-size: 1.5rem;
    color: rgba(0,147,205,1);
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li .bx-vote-disabled .sys-icon,
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li a.bx-vote-disabled .sys-icon,
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li .bx-score-disabled .sys-icon,
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li a.bx-score-disabled .sys-icon{
    color: #ddd;
}
.bx-tl-view div.bx-tl-item div.bx-tl-item-activity .bx-menu-hor li a img {
	display: inline-block;
    vertical-align: sub;

    width: 1.625rem;
    height: 1.625rem;
    box-sizing: border-box;
    background-size: contain;
    background-clip: content-box;
    border: 1px solid transparent;
}

/*--- Item Content Style ---*/
div.bx-tl-item-text div.bx-tl-content {
    max-height: 250px;
}
div.bx-tl-item-date {
	color: #E0E8EB;
}
div.bx-tl-item-date span.bx-def-font-small {
    color: #50585D;
}
div.bx-tl-item-date .bx-tl-timeline-owner-name a.bx-tl-ton-item {
    color: #0093CD;
}
div.bx-tl-item-date a.bx-tl-date {
	font-size: 0.75rem;
	color: #50585D;
}
div.bx-tl-item-date .bx-tl-hot img {
	display: inline-block;
    vertical-align: text-top;
}

/*--- Outline view: Card ---*/
.bx-tl-view.bx-tl-view-item div.bx-tl-item .bx-tl-item-cnt,
.bx-tl-view.bx-tl-view-outline div.bx-tl-item .bx-tl-item-cnt {
    padding-bottom: 0;
}
