<ul class="bx-menu-profile-followings bx-menu-ver bx-menu-object-__object__ space-y-2">
    <bx_repeat:menu_items>
        <li class="bx-menu-item bx-menu-item-__name__ __class_add__">
            <div class="bx-menu-item-cnt">
                <div class="bx-menu-item-link bx-stl-mil-wo-gaps">
                    <a class="bx-stl-mil-gaps flex flex-auto items-center" href="__link__" onclick="__onclick__"__attrs__>
                        <span class="bx-menu-item-title bx-stl-mit flex-1 uppercase" sidebar-toggle-item>__title__</span>
                        <span class="bx-menu-collapse flex-none pl-2" sidebar-toggle-item>
                            <i class="sys-icon chevron-up bx-menu-hide"></i>
                            <i class="sys-icon chevron-down bx-menu-show"></i>
                        </span>
                    </a>
                </div>
                <bx_if:show_subitems>
                    <div class="bx-menu-item-subitems pt-2">
                        <ul class="bx-menu-item-subitems bx-menu-pf-subitems bx-menu-ver space-y-2">__subitems__</ul>
                    </div>
                </bx_if:show_subitems>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>