<ul class="bx-menu-vertical-more-less bx-menu-ver bx-menu-object-__object__ space-y-2">
    <bx_repeat:menu_items>
        <li class="bx-menu-item-__name__ __class_add__ rounded-md">
            <div class="bx-menu-item-cnt bx-stl-mil-wo-gaps">
                <a class="bx-stl-mil-gaps group flex flex-auto items-center truncate" href="__link__" onclick="__onclick__"__attrs__>
                    <span class="bx-menu-item-icon bx-stl-mii flex-none group-hover:text-gray-700 dark:group-hover:text-gray-300">
                        <bx_include_auto:menu_icon.html />
                    </span>
                    <span class="bx-menu-item-title bx-stl-mit flex-1" sidebar-toggle-item>__title__</span>
                    <bx_if:addon>
                        <div class="bx-menu-addon bx-stl-mia flex-none group-hover:text-gray-800 dark:group-hover:text-gray-100" sidebar-toggle-item>
                            <div class="bx-menu-addon-cnt">__addon__</div>
                        </div>
                    </bx_if:addon>
                </a>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-ver > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>