<div class="bx-albums-media-view">
    <div class="bx-albums-media-title bx-def-margin-sec-bottom">
        <h2>__album__</h2>
        <p>__title__</p>
        <div class="bx-albums-media-controls bx-btn-group">
            <bx_if:prev>
                <a class="bx-btn" onclick="bx_albums_reload_page('__url__', '__title_js_string__'); return false;" href="__url__" title="__title_attr__"><i class="sys-icon angle-double-left"></i></a>
            </bx_if:prev>
            <bx_if:prev-na>
                <a class="bx-btn bx-btn-disabled" href="javascript:void(0);"><i class="sys-icon angle-double-left"></i></a>
            </bx_if:prev-na>
            <bx_if:next>
                <a class="bx-btn" onclick="bx_albums_reload_page('__url__', '__title_js_string__'); return false;" href="__url__" title="__title_attr__"><i class="sys-icon angle-double-right"></i></a>
            </bx_if:next>
            <bx_if:next-na>
                <a class="bx-btn bx-btn-disabled" href="javascript:void(0);"><i class="sys-icon angle-double-right"></i></a>
            </bx_if:next-na>
        </div>
    </div>
    <div class="bx-albums-media-file">
        <bx_if:image>
            <a href="javascript:void(0);"  onclick="bx_albums_open_gallery(event || window.event, this, '__context__')" data-media-id="__media_id__" data-url="__url__" data-src="__url_img__" data-w="__w__" data-h="__h__" data-title="__title_attr__">
                <img src="__url_img__" alt="__title_attr__" />
            </a>
        </bx_if:image>
        <bx_if:video>
            __video__
        </bx_if:video>
    </div>
</div>
