
<div class="bx-albums-media-wrapper bx-def-color-bg-box bx-def-margin-thd-right bx-def-margin-thd-bottom" style="float:left;">
    <div class="bx-albums-unit-size">
        <bx_if:image>
            <a href="__url__" title="__title_attr__">
                <img class="bx-albums-unit-size" src="__url_img__" alt="__title_attr__" />
            </a>
        </bx_if:image>
        <bx_if:video>
            <a href="__url__" title="__title_attr__">
                <img class="bx-albums-unit-size" src="__url_img__" alt="__title_attr__" />
            </a>
        </bx_if:video>
    </div>
    <div class="bx-albums-media-caption bx-def-margin-sec-topbottom bx-def-margin-leftright">__title__</div>
    <div class="bx-albums-media-actions bx-def-margin-sec-bottom bx-def-margin-leftright">__actions__</div>
</div>
