<div class="__class__ bx-albums-media-wrapper bx-def-padding-sec bx-def-box-sizing">
    <div class="bx-albums-media-cnt bx-def-box bx-def-image-bg-block bx-def-color-bg-block bx-def-border-block bx-shadow-block bx-def-padding">
	    <div class="bx-albums-media-thumb bx-albums-unit-size bx-def-centered">
	        <bx_if:image>
	            <a href="__url__" title="__title_attr__">
	                <img class="bx-albums-unit-size" src="__url_img__" alt="__title_attr__" />
	            </a>
	        </bx_if:image>
	        <bx_if:video>
	            <a href="__url__" title="__title_attr__">
	                <img class="bx-albums-unit-size" src="__url_img__" alt="__title_attr__" />
                        <div class="bx-albums-media-play bx-def-round-corners"><i class="sys-icon play"></i></div>
	            </a>
                    <bx_if:show_duration>
                        <div class="bx-albums-media-duration bx-def-padding-sec-leftright bx-def-padding-thd-topbottom bx-def-border bx-def-round-corners bx-def-font">__duration__</div>
                    </bx_if:show_duration>
	        </bx_if:video>
	    </div>
	    <div class="bx-albums-media-caption bx-def-margin-sec-topbottom">
                <a href="__url__" title="__title_attr__">__title__</a>
            </div>
    </div>
</div>