<div class="bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size bx-def-padding-sec">
	<div class="bx-base-text-unit-cnt bx-def-box bx-def-round-corners bx-def-color-bg-box">
		<div class="bx-albums-unit-text-cont bx-def-padding-sec-topbottom bx-def-font-align-center">
		    <h2><a href="__content_url__">__title__</a></h2>
		    <div class="bx-base-text-unit-info">
		        <span class="bx-def-font-grayed">__entry_posting_date__</span>
		        <span class="bx-base-text-unit-info-div bx-def-font-grayed">&#183;</span>
		        <a class="bx-base-text-unit-author" href="__author_url__">__author__</a>
		    </div>
		</div>
	    <div class="bx-albums-unit-images-cont bx-def-padding-thd-leftright bx-def-padding-sec-bottom">
	        <div class="bx-albums-unit-images bx-clearfix">
	            <bx_repeat:browse><a class="bx-albums-unit-image" title="__title_attr__" href="__url__"><img alt="__title_attr__" src="__img_url__" /></a></bx_repeat:browse>
	        </div> 
	    </div>
	</div>
</div>