<div class="bx-messenger-conference-call" data-conferance="__id__">
    <div class="bx-messenger-conference-call-title bx-def-font-h3">__title__</div>
    <div class="bx-messenger-conference-call-thumb">
        <img class="bx-def-round-corners rounded-full" src="__thumb__" />
    </div>
    <div class="bx-messenger-conference-call-buttons bx-def-font-large">
       <a href="javascript:void(0);" onclick="oMessenger.onHangUp(this, __id__);">
            <i class="sys-icon sys-colored phone-slash col-red1 bx-def-label"></i>
       </a>
        <a href="javascript:void(0);" onclick="oMessenger.getCall(this, __id__, '__room__', true);">
            <i class="sys-icon sys-colored phone col-green1 bx-def-label"></i>
        </a>
        <a href="javascript:void(0);" onclick="oMessenger.getCall(this, __id__, '__room__');">
            <i class="sys-icon sys-colored video col-gray bx-def-label"></i>
        </a>
    </div>
</div>