<div id="emoji-picker" class="bx-messenger-jot-emoji bx-popup bx-popup-color-bg bx-popup-border relative ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-800 rounded-md shadow">
    <emoji-picker props-json='{
                                "title":"__title__",
                                "autoFocus":true,
                                "set":"__set__",
                                "native":__native__,
                                "func":"__function__",
                                "i18n":"__localization__",
                                "perLine":8,
                                "sheetSize":32,
                                "showPreview":__preview__,
                                "showSkinTones":__preview__,
                                "defaultSkin":1
                               }'>
    </emoji-picker>
</div>