<div class="bx-messenger-table-wrapper-rows history">
				<div class="bx-messenger-conversation-block-wrapper pushable">
					<div class="ui right vertical sidebar very wide bx-def-color-bg-block files">
						<div class="ui feed segment"></div>
					</div>
					<div class="pusher">
						<div id="date-time-navigator" class="bx-messenger-date-time-navigator">
							<div class="bx-messenger-date-time-value">
								<span class="bx-def-label"></span>
							</div>
						</div>
						<div class="bx-messenger-conversation-block">
							__content__
						</div>
						<div id="bx-messenger-info-area">
							<div class="bx-messenger-conversations-typing font-light bx-def-font-small text-xs">
								<span></span><bx_text:_bx_messenger_typing_message />
							</div>
							<div class="bx-messenger-info-area-connecting font-light bx-def-font-small text-xs">
								<bx_text:_bx_messenger_reconnecting_message /><span></span>
							</div>
							<div class="bx-messenger-info-area-connect-failed font-light bx-def-font-small text-xs">
								<bx_text:_bx_messenger_reconnecting_failed />
							</div>
						</div>
				  </div>
				</div>
			<div class="bx-messenger-area-scroll bx-def-border bx-def-color-bg-box-active " onclick="oMessenger.onScrollDown();">
				<span class="bx-messenger-history-arrow text-gray-500 dark:text-gray-300 hover:text-gray-800 dark:hover:text-gray-100 rounded-full bg-gray-200 dark:bg-gray-700">
					<span id="unread-jots-counter" class="bx-menu-item-addon bx-def-unit-alert bg-col-red2" style="display:__new_msg_active__">__unread_count__</span>
					<i class="sys-icon chevron-down"></i>
				</span>
			</div>
</div>