<bx_repeat:jots>
	<div class="bx-messenger-jots<bx_if:blink-jot> bx-messenger-blink-jot</bx_if:blink-jot>" data-id="__id__" __display__ data-new="__new__" data-my="__my__">
		<div class="bx-messenger-jots-avatars bx-def-padding">
			<a href="__url__" target="_blank">
				<bx_if:avatars>
					<img class="bx-def-thumb bx-def-thumb-size rounded-full flex items-center justify-center" title="__title__" src="__thumb__" />
				</bx_if:avatars>
				<bx_if:letters>
					<p class="bx-def-thumb text-white bx-def-thumb-size rounded-full bx-base-pofile-unit-thumb bx-def-ava bx-def-box-sizing flex items-center justify-center" style="background-color:rgba(__color__)">__letter__</p>
				</bx_if:letters>
			</a>
		</div>
		<div class="bx-messenger-jots-info text-base">
			<div class="bx-messenger-jots-title flex items-center justify-center">
				<div class="title font-semibold text-sm" title="__title__">
					__title__
				</div>
				<div class="time font-light bx-def-font-grayed text-xs">__time__</div>
				<div class="view">__views__</div>
				<bx_if:jot_menu>
					<div class="bx-messenger-jots-actions-list">
						<i class="bx-def-label sys-icon ellipsis-v rounded-full"></i>
							__jot_menu__
					</div>
				</bx_if:jot_menu>
			</div>
			__reply__
			<div class="bx-messenger-jots-message text-sm font-middle" __display_message__>__message____edit_icon__</div>
			__attachment__
			<bx_if:show_reactions_area>
				<div class="bx-messenger-jot-reactions">
					<bx_if:reactions>
						__reactions__
						<bx_if:reactions_menu>
							<div class="bx-messenger-reactions-menu" style="display:__display__">
								<span class="bx-messenger-reactions-menu-opened">
									<a href="javascript:void(0);" title="<bx_text:_bx_messenger_reaction_jot />" onclick="oMessenger.onAddReaction(this, true);" class="reactions bx-def-label">
										<i class="sys-icon smile-wink"></i>
									</a>
								</span>
							</div>
						</bx_if:reactions_menu>
					</bx_if:reactions>
				</div>
			</bx_if:show_reactions_area>
		</div>
	</div>
</bx_repeat:jots>