<ul class="bx-menu-btns-icon-hor bx-messenger-block-menu-align-right bx-menu-object-__object__ bx-clearfix flex justify-end">
    <bx_repeat:menu_items>
        <li class="bx-menu-item bx-menu-item-more-auto __name__ __class_add__ pl-2 flex justify-center items-center text-gray-500 dark:text-gray-300 hover:text-gray-800 dark:hover:text-gray-100">
            <a class="__name__ bx-def-margin-left" href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__ data-value="__value__">
                <bx_if:image><img style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image>
                <bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
            </a>
        </li>
    </bx_repeat:menu_items>
</ul>
