<ul class="bx-menu-custom bx-menu-custom-ver bx-menu-object-jot relative ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-800 rounded-md shadow">
  <bx_repeat:menu>
	<li class="bx-menu-item bx-menu-item-item-stick bx-def-color-bg-hl-hover text-left py-2 text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 hover:text-gray-900 text-sm font-medium" onclick="__click__">
		<span class="bx-def-margin-thd-topbottom">
			<a class="bx-menu-item-link" href="javascript:void(0)" title="__title__">
				<i class="sys-icon __icon__"></i>
				<span class="bx-def-margin-sec-left-auto bx-def-unit">__title__</span>
			</a>
		</span>
	</li>
  </bx_repeat:menu>
</ul>
