<ul class="bx-menu-custom bx-menu-custom-ver bx-menu-object-jot relative ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-800 rounded-md shadow">
  <bx_repeat:menu>
	  <li class="bx-menu-item bx-menu-item-item-stick lex justify-between items-center px-1 text-gray-500 dark:text-gray-300 hover:text-gray-800 dark:hover:text-gray-100 rounded-full text-base font-medium">
		  <a class="flex flex-1 items-center py-2" href="javascript:void(0)" title="__title__" onclick="__click__">
			  <div class="bx-menu-floating-blocks-icon flex items-center justify-center h-5 w-5">
				  <i class="sys-icon __icon__ pr-1"></i>
			  </div>
			  <div class="bx-def-margin-sec-left-auto bx-def-unit h-5 flex items-center">__title__</div>
		  </a>
	  </li>
  </bx_repeat:menu>
</ul>
