<div class="bx-messenger-attachment-area bx-messenger-attachment">
	<div class="bx-messenger-attachment-header max-w-full flex items-center">
		<span class="bx-messenger-attachment-author-icon flex items-center pr-2">
			<img class="bx-def-icon bx-def-icon-size rounded-full" title="__username__" src="__icon__" />
		</span>
		<span class="bx-messenger-attachment-author-username text-sm font-semibold">
			__username__
		</span>
	</div>
	<div class="bx-messenger-attachment-author-message">__message__</div>
	<div class="bx-messenger-attachment-footer text-xs">
		<span class="type">__message_type__</span>
		<span class="date">__date__</span>
	</div>
</div>