<div class="__class__ relative bx-lnk-cnt w-full bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size group p-1 -m-1">
    <div class="bg-white dark:bg-gray-800 shadow ring-1 ring-gray-300 dark:ring-gray-700 rounded-md xl:mx-auto h-full">
        <div class="h-full space-y-4 p-1 pb-4 flex flex-col">
            <bx_if:thumb>
                <a href="__content_url__" title="__summary_attr__">   <img class="flex grow-0 w-full aspect-video overflow-y-auto align-top  object-cover rounded" src="__gallery_url__" alt=""></a>  
                <div class="bx-base-text-unit-title grow px-3 mt-4 leading-tight">
                    <a href="__content_url__" title="__summary_attr__" class="leading-tight bx-lnk-src">__title__ __badges__</a>
                </div>
            </bx_if:thumb>
                           
            <bx_if:no_thumb>
                <div class="bx-base-text-unit-title grow-none px-3 mt-4 leading-tight">
                    <a href="__content_url__" title="__summary_attr__" class="leading-tight bx-lnk-src">__title__ __badges__</a>
                </div>
                <div class="grow relative rounded w-full max-w-full sm:aspect-video overflow-hidden font-normal text-sm  text-gray-500 group-hover:text-gray-600 dark:text-gray-400 dark:group-hover:text-gray-300">
                    <div class="absolute top-auto bottom-0  w-full h-1/4 bg-gradient-to-b from-white/0 to-white dark:from-gray-900/0 dark:to-gray-800"></div>
                    <div class=" px-3">__summary_plain__</div>
                </div>
            </bx_if:no_thumb>
           
            <bx_if:meta>
                <div class="bx-base-general-unit-meta flex grow-0 px-3">
                    <div class="inline-flex flex-wrap text-xs font-medium">
                        __meta__
                    </div>
                </div>
            </bx_if:meta>
        </div>
    </div>
</div>