@import url(../../../../../../../template/css/common.css);

a {
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

/*-- Application mode: Toolbar --*/
.bx-main.bx-pt-application .bx-toolbar-content #bx-logo-container {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    
    margin: 0;
}

/*-- Loading indicator --*/
.bx-loading-ajax-btn {
    margin-left: 10px;
}
    