<ul class="bx-menu-item-subitems bx-menu-pf-subitems bx-menu-ver">
    <bx_repeat:menu_items>
        <li class="bx-menu-subitem bx-menu-subitem-__name__ __class_add__ text-sm font-medium">
            <div class="bx-menu-item-cnt flex items-center justify-between pl-4 pr-2 py-2 text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 hover:text-gray-900 rounded-md">
                <a class="flex items-center truncate" href="__link__" onclick="__onclick__"__attrs__>
                    <bx_include_auto:menu_icon.html />
                    <span class="bx-menu-item-title ml-2 truncate">__title__</span>
                </a>
                <bx_if:addon>
                    <div class="bx-menu-addon pl-2">
                        <div class="bx-menu-addon-cnt bx-def-label menu">__addon__</div>
                    </div>
                </bx_if:addon>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>