<a __attrs__ href="javascript:void(0);" class="bx-btn bx-btn-small bx-def-margin-sec-right __btn_class__">__button_title__</a>
<script>
    $(document).ready(function () {
        __uploader_instance_name__ = new BxMediaUploader('__engine__', '__storage_object__', '__uniq_id__', '__action_url__', {
            'multiple': __multiple__,
            'content_id': '__content_id__',
            'images_transcoder': '__images_transcoder__',
            'storage_private': '__storage_private__',
            'template_error_msg': '<div class="bx-uploader-msg-err">{error}</div>',
            'template_ghost': __template_ghost__,
            'uploader_instance_name': '__uploader_instance_name__',
            'storage_private': __storage_private__,
        });
    });
</script>

