<div class="bx_media_container">
    <div class="bx_media_cell">
        <div id="__form_container_id__" class="bx-uploader-form-cont">
            <form enctype="multipart/form-data" method="POST" target="__iframe_id__" action="
                <bx_url_root />storage_uploader.php" onsubmit="__uploader_instance_name__.onBeforeUpload(this);">
                <div class="bx-uploader-loading"></div>
                <div class="bx-uploader-files-list">

                    <div id="__errors_container_id__"></div>
                    <div class="bx-uploader-simple-file"><input name="f[]" __accepted_files__ type="file" /></div>
                </div>

            </form>
        </div>
        <div class="bx-def-font-small">__restrictions_text__</div>
    </div>
    <div class="bx_media_cell"><a class="bx_media_cell_link"  href="javascript:" onclick="__uploader_instance_name__.onStartEdit();">Edit</a></div>
</div>
<bx_if:recent_files>
    <h4><bx_text:_bx_media_subheader_recent_files /></h4>
    <div class="bx_media_lists">
        <div class="bx_media_lists_container" style="width:__item_count__0rem">
            <bx_repeat:items>
                <div class="bx_media_list_item" style="background-image:url(__url__)" onclick="__uploader_instance_name__.onStartCopy('__url__');"></div>
            </bx_repeat:items>
        </div>
    </div>
</bx_if:recent_files>
<div class="bx-def-padding-top bx-clearfix">
    <div class="bx-btn" onclick="__uploader_instance_name__.onClickCancel()"><bx_text:_sys_uploader_close /></div>
</div>
<!--<div class="bx-btn bx-btn-primary bx-def-margin-sec-right" onclick="sas()">123</div>-->
<script>
var oObj__uploader_instance_name__;
$(function(){
    var oStatus___uploader_instance_name__;
    var oSettings___uploader_instance_name__ = Object.assign(
        oFilePondDefaultSettings, 
        {
            allowMultiple: __filepond_multiple__,
            onprocessfiles : (formData) => {
                eval(oStatus___uploader_instance_name__);
            },
            server: {
                process: (fieldName, file, metadata, load, error, progress, abort) => {
                    const formData = new FormData();
                    formData.append(fieldName, file, file.name);
                    formData.append('uo', '__engine__');
                    formData.append('so', '__storage_object__');
                    formData.append('uid', '__uniq_id__');
                    formData.append('m', '__multiple__');
                    formData.append('c', '__content_id__');
                    formData.append('p', '__storage_private__');
                    formData.append('a', 'upload');

                    const request = new XMLHttpRequest();
                    request.open('POST', '/storage_uploader.php');

                    request.upload.onprogress = (e) => {
                        progress(e.lengthComputable, e.loaded, e.total)
                    };

                    request.onload = function(res) {
                        if (request.status >= 200 && request.status < 300) {
                            load("__uploader_instance_name__");
                            oStatus___uploader_instance_name__ = jQuery(request.responseText).text();
                        }
                        else {
                            error('<bx_text:_bx_media_uploader_filepond_labelFileLoadError />');
                        }
                    };
                    request.send(formData);
                }
            }
        }
    );

    oObj__uploader_instance_name__ = FilePond.create(
        document.querySelector('#__form_container_id__ input[type="file"]'),
        oSettings___uploader_instance_name__
    );
});

</script>
