<li id="cmt__id__" class="__style_prefix____class__ bx-def-padding-top bx-def-margin-bottom">
    <a id="__anchor__" class="__style_prefix__-anchor"></a>
    <div class="__style_prefix__-cnt__class_cnt__">
        <div class="__style_prefix__-blink-plate"></div>
        <div class="__style_prefix__-avatar bx-def-thumb-size">__author_unit__</div>
        <div class="__style_prefix__-info bx-def-thumb-size-min-height bx-def-thumb-size-left-indent">
            <div class="__style_prefix__-head bx-clearfix">
                <bx_if:meta><span class="__style_prefix__-meta bx-base-general-unit-meta">__meta__</span></bx_if:meta>
                <bx_if:show_pinned><span class="__style_prefix__-pinned bx-def-margin-sec-left"><i class="sys-icon thumbtack" title="<bx_text:_cmt_txt_pinned />"></i></span></bx_if:show_pinned>
            </div>
            <div class="__style_prefix__-cont bx-def-margin-sec-topbottom">
                <div class="__style_prefix__-cont-cnt">__content__</div>
            </div>
            __actions__
        </div>
    </div>
    <ul class="cmts cmts-margin">__replies__</ul>
</li>
