<div class="bx-photos-entity-photo-switcher  bx-def-font-align-center">
    <bx_if:show_arrow_previous>
        <div class="bx-photos-eps-arrow bx-photos-eps-previous bx-def-round-corners">
            <a href="javascript:void(0)" onclick="javascript:__js_object__.viewEntry(__id__, '__mode__', __params__)" title="<bx_text_attribute:_bx_photos_txt_previous />"><i class="sys-icon angle-left"></i></a>
        </div>
    </bx_if:show_arrow_previous>
    <div class="bx-photos-eps-photo bx-def-align-center bx-def-padding-sec-leftright bx-def-box-sizing">
        <img src="__entry_photo__" title="__entry_title_attr__" />
    </div>
    <bx_if:show_arrow_next>
        <div class="bx-photos-eps-arrow bx-photos-eps-next bx-def-round-corners">
            <a href="javascript:void(0)" onclick="javascript:__js_object__.viewEntry(__id__, '__mode__', __params__)" title="<bx_text_attribute:_bx_photos_txt_next />"><i class="sys-icon angle-right"></i></a>
        </div>
    </bx_if:show_arrow_next>
</div>