
@bx-margin: 20px;
@bx-margin-sec: 10px;
@bx-margin-thd: 5px;

@bx-padding: 20px;
@bx-padding-sec: 10px;
@bx-padding-thd: 5px;

@bx-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@bx-size-avatar: 96px;
@bx-size-thumb: 48px;
@bx-size-icon: 32px;

@bx-color-page: #fff;
@bx-color-block: #fff;
@bx-color-box: #fff;
@bx-color-sec: #f2f2f2;
@bx-color-hl: rgba(196, 248, 156, 0.2);
@bx-color-active: rgba(196, 248, 156, 0.4);

