/*-- My Prpfiles: Create Profile --*/
.bx-menu-object-sys_add_profile {
    text-align: center;
}


/*-- My Prpfiles: Switch Profile --*/
.sys-profile-switch-row {
    position:relative;
    margin-top:1px;    
}

.bx-db-content .sys-profile-switch-row.bx-def-margin-leftright-neg {
	margin-left: 0px;
    margin-right: 0px;	
}

.sys-profile-switch-row-control {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.sys-profile-switch-row-unit .bx-def-unit {
    margin:0;
}

.sys-profile-switch-row-control .bx-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
