
.sys-profile-switch-row-control,
.sys-profile-switch-row-unit {
    display:inline-block;
    vertical-align:middle;
}

.sys-profile-switch-row-unit .bx-persons-unit {
    margin-bottom:0;
}

.sys-profile-switch-row-control .sys-icon {
    display:inline-block;`
    width:32px;
    height:32px;
    font-size:32px;
}
