.sys_cal_wrapper > .dbBottomMenu { /* TODO: maybe dbBottomMenu is not needed in new design */
    margin:0;
}

.sys_cal_table {
    collapse-border:collapse;
    width:100%;
    border-spacing:10px;
    font-size:11px;
}

.sys_cal_table th {
    background-color:#FFF;
    padding:0px;
    text-align:center;
}

.sys_cal_cell_blank {
    background-color:#F9FBFF;
    border:1px solid #efefef;
}

.sys_cal_cell {
    background-color:#F4F7FA;
    text-align:center;
    border:1px solid #dadada;
    height:71px;
    width:14.285%;
}

.sys_cal_today {
    background-color:#fff;
}

.sys_cal_cell > u {
    display:block;
    font-size:11px;
    text-decoration:none;
    text-align:right;
    margin:0px 3px 14px 0px;
}

.sys_cal_today > u {
    font-weight:bold;
}

.sys_cal_cell > a {
    font-size:11px;
    text-transform:none;
    text-align:center;
}

.sys_cal_cell > a > b {
    font-size:18px;
}
