/*+++ Chart Growth: Controls +++*/
.bx-chart-growth-controls .bx-form-input-datepicker {
	width: 100%;
}

/*+++ Chart Growth: Graph +++*/
.bx-chart-growth-graph {
	height: 15rem;
	background-color: #ffffff;
}


/*--- Chart Stats ---*/
div.bx-chart-stats-items,
div.bx-chart-stats-graph {
	display: inline-block;
	vertical-align: top;
}

/*+++ Chart Stats: Info +++*/
div.bx-chart-stats-items {
	position: relative;
}
div.bx-chart-stats-items div.bx-cs-item {
	display: inline-block;
	vertical-align: top;
	width: 30%;

	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
} 

/*+++ Chart Stats: Graph +++*/
div.bx-chart-stats-graph {
	min-width: 25rem;
	max-width: 28rem;
    background-color: #ffffff;
}