/* TODO: remake according to the new design */
    /*--- General Styles ---*/
    div.cmts {
		margin-top: 20px;
    }

    ul.cmts {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    ul.cmts-margin {}
    ul.cmts li.cmt {
        padding-left: 84px;
    }
    li.cmt-more {
		padding: 5px 0px;
    	background-color: #ededed;
    	text-indent: 5px;
    }
    li.cmt-err {
        color: red;
    }
    li.cmt-no    {
        padding: 10px;
    }
    li.cmt-hidden {
       display: none;
    }
    li.cmt-replacement {
       height: 30px;
       margin-bottom: 10px;
       position: relative;
       background-color: #ededed;
       overflow: hidden;
       text-indent: 10px;
       line-height: 30px;
       font-size: 11px;
       color: #333333;
    }

    /*--- Comment ---*/
    div.cmt-cont {
        position: relative;
    	min-height: 64px;
    }
	div.cmt-cont .bullet {
		padding: 0px 3px;
    }
    div.cmt-icon {
		position: absolute;
    	top: 0px;
    	left: -84px;
    	width: 64px;
    	height: 64px;
    	background-color: #cccccc;
    }
    span.cmt-author {
		font-weight: bold;
    }
    span.cmt-author a {
        text-decoration: none;
    }
    span.cmt-posted-ago {
        text-transform: lovercase;
    }
	span.cmt-points {
        text-transform: lovercase;
    }
    div.cmt-actions {}
    div.cmt-actions span.bullet:first-child {
		display: none;
    }

    /*--- Browse Styles ---*/
    div.cmt-browse {
        /*position: relativ_e;*/
        background-color: #ededed;
        font-size: 11px;
        color: #666666;
    }

    /*--- Add Comment/Reply Styles ---*/
    div.cmt-reply {
		position: relative;
        padding-left: 84px;
    }
	div.cmt-reply-expanded {}
    div.cmt-post-reply {
        position: relative;
    }
    div.cmt-post-reply form {
        display: block;
    }
    div.cmt-post-reply textarea,
    div.cmt-body textarea {
        width: 100%;
        height: 64px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    div.cmt-post-reply-text {
        margin-bottom: 10px;
        /*position: relativ_e;*/
        border: 1px solid #cccccc;
    }
    div.cmt-post-reply-video {
        margin-bottom: 10px;
        /*position: relativ_e;*/
        display: none;
    }
    div.cmt-post-reply-post {}
    a.cmt-comment-vote,
    a.cmt-comment-manage-edit,
    a.cmt-comment-manage-delete,
    a.cmt-comment-replies {
    }