    /*--- General Styles ---*/
    div.cmts {}

    ul.cmts {
    	position: relative;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    ul.cmts-margin,
    div.cmt-reply-margin {
    	margin-top: 20px;
    	margin-top: 1.2rem;

		padding-left: 60px;
    	padding-left: 3.75rem;
    }
    li.cmt {
    	position: relative;
    }
    li.cmt-no .bx-msg-box-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    li.cmt-err {
        color: red;
    }
    li.cmt-hidden {
       display: none;
    }
    li.cmt-replacement {
    	position: relative;
		height: 30px;
		height: 1.875rem;
		background-color: #ededed;
		text-indent: 10px;
    	text-indent: 0.5rem;
		line-height: 30px;
    	line-height: 1.875rem;
    	overflow: hidden;
    }
    li.cmt-blink div.cmt-blink-plate {
		display: block;
    }
    div.cmt-cnt {
		position: relative;
    }

	/*--- More ---*/
    li.cmt-more,
	li.cmt-more-root {
		text-transform:uppercase;
	}

	div.cmt-more-cont {
		font-weight: bold;
	}

	
    li.cmt-more-root div.cmt-more-cont {
    	position: relative;
    }
    li.cmt-more-root .bx-btn {
    	position: relative;
		float: none;
    	display: inline-block;
    	text-transform: uppercase;
    }    

    /*--- Comment ---*/
	div.cmt-avatar {
		position: absolute;
		top: 0px;
		left: 0px;
    	text-align: center;
    }
    div.cmt-avatar .sys-icon {
    	font-size: 60px;
		font-size: 3.75rem;
    }
    div.cmt-info {
    	position: relative;
    }
    div.cmt-blink-plate {
        position: absolute;
        display: none;
        top: -10px;
        left: -10px;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: rgb(255, 244, 213);
        background-color: rgba(255, 234, 193, 0.5);
    }
    div.cmt-head {
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    div.cmt-head > span {
        vertical-align: middle;
    }
    span.cmt-reply-to a {
        text-decoration: none;
    }
    span.cmt-reply-to a > i,
    span.cmt-reply-to a > span,
    span.cmt-reply-to a > div {
        vertical-align: middle;
    }
    span.cmt-reply-to a .bx-base-pofile-unit-wo-info {
        display: inline-block;
    }
    span.cmt-reply-to a .bx-base-pofile-unit-wo-info .bx-def-unit-img .bx-base-pofile-unit-thumb {
        display: block;
        border-width: 1px;
    }
    span.cmt-reply-to a .bx-base-pofile-unit-wo-info .bx-base-pofile-unit-online {
        display: none;
    }
    span.cmt-reply-to a .bx-def-icon-size {
        width: 1.0rem;
        height: 1.0rem;
        line-height: 0.875rem;
        font-size: 0.6rem;
    }
    span.cmt-posted-ago {
        text-transform: lovercase;
    }
    span.cmt-points {
        text-transform: lovercase;
    }

    /*--- unit meta ---*/
    .cmt-meta.bx-base-general-unit-meta {
        display: inline-block;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }
    .cmt-meta.bx-base-general-unit-meta .bx-menu-custom.bx-menu-custom-hor {
        margin: 0;
    }

    /*--- Comment Body ---*/
    div.cmt-cont {
        position: relative;
    	text-align: left;
    }
    div.cmt-cont .bullet {
        padding: 0px 5px;
        padding: 0px 0.3rem;
    }
    div.cmt-cont .cmt-body > p:first-child {
        margin-top: 0;
        margin-bottom: 0;
    }
    div.cmt-cont .cmt-body img {
        max-width: 100%;
    	height: auto;
    }
    div.cmt-cont .cmt-post-reply .bx-form-element-wrapper {
        margin-top: 10px;
    	margin-top: 0.5rem;
    }
    div.cmt-cont .cmt-post-reply .bx-form-element-wrapper:first-child {
        margin-top: 0px;
    }
    span.cmt-body-see-more a {
        font-weight: bold;
    }
    div.cmt-reactions .bx-vote-counter-wrapper {
        line-height: 2.0rem;
        font-size: 1.2rem;
    }
    div.cmt-attached-preview {
        overflow:hidden;
    }
    div.cmt-attached-preview,
    div.cmt-attached-preview img {
    	width: 100px;
    	width: 6.25rem;
    	height: 100px;
    	height: 6.25rem;
    }
    div.cmt-attached-preview {
    	position: relative;
    	float: left;
	}
    div.cmt-attached-preview img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    /*--- Comment Actions ---*/
    div.cmt-actions {
        position: relative;
        text-align: left;
    }
    div.cmt-meta-ago,
    div.cmt-comment-manage-link, 
    div.cmt-actions ul.bx-menu-hor,
    div.cmt-points-wrp {
        position: relative;
        float: left;
    }
    div.cmt-actions li .bx-vote {
       margin-right: 1.25rem;
    }
    div.cmt-comment-manage .bx-menu-ver li {
		white-space: nowrap;
    }

    /*--- Add Comment/Reply Styles ---*/
    div.cmt-reply {
		position: relative;
    }
	div.cmt-post-reply {
        position: relative;
    }

    /*--- Add Comment/Reply Form Styles ---*/
    form.cmt-post-reply .bx-form-input-textarea {
		height: 64px;
    	height: 4rem;
    }
    form.cmt-post-reply div#bx-form-element-cmt_image,
    form.cmt-post-reply .bx-form-input-files-uploaders {
		margin-top: 0px;
    }

    a.cmts-uploader-button {
		position: absolute;
    	z-index: 1;
    	right: 0px;

    	text-decoration: none;
    }
    div.cmts-uploader-file {
        position: relative;
    	float: left;
    }
    div.cmts-uploader-file-preview {
        overflow: hidden;
    }
    div.cmts-uploader-file-preview,
    div.cmts-uploader-file-preview img,
    div.cmts-uploader-file-title {
        width: 100px;
    	width: 6.25rem;
    }
    div.cmts-uploader-file-preview,
    div.cmts-uploader-file-preview img {
        height: 100px;
    	height: 6.25rem;
    }
    div.cmts-uploader-file-preview img {
        background-position: center center;
        background-repeat: no-repeat;
    }
    div.cmts-uploader-file-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    /*--- Minified Post Form ---*/
    div.cmt-reply.cmt-reply-min div.cmt-body {
        display: none;
    }
    div.cmt-reply div.cmt-body-min {
        position: relative;
        display: none;
    }
    div.cmt-reply.cmt-reply-min div.cmt-body-min {
        display: block;
    }
    div.cmt-reply div.cmt-body-min .cmt-bm-user {
        position: absolute;
        top: 0;
        left: 0;
    }
    div.cmt-reply div.cmt-body-min .cmt-bm-content {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: stretch;
        justify-content: stretch;
    }
    div.cmt-reply div.cmt-body-min .cmt-bm-content .bx-form-element-wrapper {
        position: relative;
        width: 100%;
    }

    /*--- Live Update Alert Styles ---*/
    div.cmt-lu-button {
        position: relative;
        text-align: center;
    }
    @supports(position:sticky) {
        div.cmt-lu-button {
            position: sticky;
            top: 1rem;
            z-index: 1;
        }
    }
    @supports(position:-webkit-sticky) {
        div.cmt-lu-button {
            position: -webkit-sticky;
            top: 1rem;
            z-index: 1;
        }
    }
    div.cmt-lu-button .bx-btn {
        display: inline-block;
        float: none;
    }

    /*--- Live Update Notifications Styles ---*/
    .cmt-lu-notif {
        position: relative;
        display: block;
    }
    div.cmt-lu-notif-cnt {
        position: relative;
    }
    div.cmt-lu-notif-avatar {
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
    }
    div.cmt-lu-notif-info {
        position: realtive;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    div.cmt-lu-notifi-username {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

/*--- Comment Element Styles ---*/
div.cmt div.cmt-element-holder,
div.cmt div.cmt-counter-holder {
    position: relative;
    float: left;
}
span.cmt span.cmt-element-holder,
span.cmt span.cmt-counter-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.cmt .cmt-element-holder,
.cmt .cmt-counter-holder {
    line-height: 20px;
    line-height: 1.25rem;
}

.cmt-button .cmt-element-holder,
.cmt-button .cmt-counter-holder {
    line-height: 36px;
    line-height: 2.2rem;
}

.cmt-button-small .cmt-element-holder,
.cmt-button-small .cmt-counter-holder {
    line-height: 24px;
    line-height: 1.6rem;
}

.cmt .cmt-element-holder .cmt-do-comment.cmt-disabled,
.cmt .cmt-element-holder .cmt-do-comment.cmt-disabled .sys-icon {
    color: #ddd;
}

.cmt-button .cmt-counter-holder .bx-btn-height,
.cmt-button-small .cmt-counter-holder .bx-btn-height {
    font-size: 1.5rem;
}

.cmt-link .cmt-counter-holder.bx-btn-border {
    border-width: 0px;
}

/* +++ Comment Element: Counter +++ */
.cmt-counter {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap:nowrap;
    flex-wrap:nowrap;
}
.cmt-counter > * {
    position: relative;
}
.cmt-counter div.cmt-counter-icon,
.cmt-counter div.bx-base-pofile-unit-wo-info {
    margin-left: -0.5rem;
}
.cmt-counter div.cmt-counter-icon:first-child,
.cmt-counter div.bx-base-pofile-unit-wo-info:first-child {
    margin-left: 0 !important;
}
.bx-media-phone .cmt-counter div.cmt-counter-icon,
.bx-media-phone .cmt-counter div.bx-base-pofile-unit-wo-info {
    margin-left: -1.0rem;
}
.bx-media-tablet .bx-layout-column-thin .cmt-counter div.bx-base-pofile-unit-wo-info,
.bx-media-tablet .bx-layout-column-half .cmt-counter div.bx-base-pofile-unit-wo-info {
    display: none;
}
.cmt-counter div.cmt-counter-icon {
    box-sizing: border-box;
    z-index: 2;

    margin-right: 0.5rem;

    background-color: rgba(232, 232, 232, 1.0);
    border: 1px solid #ffffff;
    border-radius: 1rem;

    text-align: center;
}
.cmt-counter div.cmt-counter-icon .sys-icon {
    vertical-align: top;
}
.cmt-counter .bx-def-icon-size {
    width: 2.0rem;
    height: 2.0rem;

    font-size: 1.0rem;
}
.cmt-counter p.bx-base-pofile-unit-thumb.bx-def-icon-size {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;

    font-size: 1.0rem;
}
.cmt-counter .bx-def-icon-size-min-height {
    min-height: 1.0rem;
}

.cmt-counter .bx-def-icon-size-max-height {
    max-height: 1.0rem;
}

.cmt-counter .bx-def-icon-size-left-indent {
    margin-left: 1.25rem;
}

.cmt-counter .bx-def-unit-img .bx-base-pofile-unit-thumb {
    display: block;
    border-width: 1px;
}

.cmt-counter .bx-base-pofile-unit-online {
    display: none;
}


/*----------------------*/
/*--- Reviews Styles ---*/
/*----------------------*/

/*--- Mood Element Styles ---*/
div.cmt-mood {
    position: relative;
    display: inline-block;
}
div.cmt-mood-underlay {}
div.cmt-mood-slider {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    overflow: hidden;
}
div.cmt-mood a.cmt-mood-button,
div.cmt-mood i.cmt-mood-star {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 16px;
    width: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}
div.cmt-mood-underlay i.cmt-mood-star {
    color: rgba(255, 204, 102, 1);
}
div.cmt-mood-slider i.cmt-mood-star,
div.cmt-mood-buttons a:hover i.cmt-mood-star {
    color: rgba(255, 100, 0, 1);
}

div.cmt-mood-buttons {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
}
div.cmt-mood-buttons a:hover {
	text-decoration: none;
}
div.cmt-mood-buttons i.cmt-mood-star {
    color: transparent;
}
.cmt-meta .bx-badges-list,
.cmt-meta .bx-badge-compact {
    display: inline-block;
}

/*--- Rating Block Styles ---*/
.cmts-box-rating div.cmt-mood i.cmt-mood-star,
.cmt-rating-element div.cmt-mood i.cmt-mood-star,
.cmt-rating-element div.cmt-mood a.cmt-mood-button {
    height: 24px;
    width: 24px;
    font-size: 20px;
}
