ul.cmts {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.cmts-margin,
div.cmt-reply-margin {
    margin-top: 1.0rem;
    padding-left: 3.5rem;
}

/*--- Minified Post Form ---*/
div.cmt-reply.cmt-reply-min div.cmt-body {
    display: none;
}

/*--- Add Comment/Reply Form Styles ---*/
form.cmt-post-reply div#bx-form-element-cmt_image,
form.cmt-post-reply .bx-form-input-files-uploaders {
    margin-top: 0px;
    position: relative;
}

form.cmt-post-reply .bx-form-input-files-uploaders a.cmts-uploader-button {
    position: absolute;
    z-index: 1;
    right: 0px;
    -webkit-transform: translateY(-100%); 
    transform: translateY(-100%);  
    margin-top: 0px;
}

/*--- Comment ---*/
span.cmt-reply-to a {
    display: inline-block !important;
}
span.cmt-reply-to a .bx-base-pofile-unit-wo-info .bx-base-pofile-unit-online {
    display: none;
}

/*--- Comment Body ---*/
div.cmt-cont .cmt-post-reply .bx-form-element-wrapper {
    margin-top: 0.5rem;
}

/*--- Menu action ---*/
.bx-menu-object-sys_cmts_item_manage .bx-report .sys-action-element-holder{
    padding: 0px !important;
}
.bx-menu-object-sys_cmts_item_manage span.bx-def-margin-thd-topbottom,
.bx-menu-object-sys_cmts_item_manage .bx-report-element-holder,
.bx-menu-object-sys_cmts_item_manage .sys-action.bx-report{
    margin: 0px !important;
    width:100%;
    display: block;
}

/*--- Menu meta ---*/
span.cmt-reply-to a .bx-def-icon-size {
    width: 1.0rem;
    height: 1.0rem;
    line-height: 0.875rem;
    font-size: 0.6rem;
}

/*--- Comment Element Styles ---*/
.cmt-counter .bx-base-pofile-unit-online {
    display: none;
}
.cmt-counter .cmt-counter-text {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*--- PhotoSwipe Styles ---*/
.cmts.pswp {
    z-index: 15000;
}