* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

a {
    text-decoration:none;
    outline:none;
    color:#3e8685; /* 26.13.13: prev val #387877; */
}

a:hover {
    text-decoration:none;
}

a > img {
    border:none;
}

html {
    height:100%;
}
/*-- Tailwind overwrite --*/
html.hidden {
    display: block !important;
}
body {
	min-height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

blockquote {
    /* NOTE: this style was copied to editor.css */
    border-left: 2px solid #ccc;
    padding-left: 10px;
}

.bx-tl-content pre,
.bx-base-text-entity-content pre,
.bx-content-description pre,
.cmt-body pre {
    /* NOTE: this style was copied to editor.css */
    padding: 5px;
    border: 1px solid green;
    background-color: white;
    color: #009900;
    display: block;
    margin: 0;
    overflow-x: auto;
}

.bx-main {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

/*-- Application mode: Sidebar --*/
.bx-main.bx-pt-application .bx-main-column .bx-menu-panel .bx-def-thumb-size {
    width: 2rem;
    height: 2rem;
}
.bx-main.bx-pt-application .bx-main-column.narrow.bx-mc-narrowed .bx-menu-panel .bx-profile-avatar-cnt {
    -webkit-justify-content:center;
    justify-content:center;
}
.bx-main.bx-pt-application .bx-main-column.narrow.bx-mc-narrowed .bx-mc-cnt {
    padding-left: 0;
    padding-right: 0;
}

/*-- Application mode: Toolbar --*/
.bx-main.bx-pt-application .bx-toolbar-content {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.bx-main.bx-pt-application .bx-toolbar-content .bx-toolbar-item.bx-ti-left {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.bx-main.bx-pt-application .bx-toolbar-content .bx-toolbar-item.bx-ti-left .bx-menu-item-main-menu {
    display: none;
}
.bx-main.bx-pt-application .bx-toolbar-content .bx-toolbar-item.bx-ti-menu {
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
}
.bx-main.bx-pt-application .bx-toolbar-content .bx-toolbar-item.bx-ti-right {
    -webkit-flex: 0 1 0%;
    -ms-flex: 0 1 0%;
    flex: 0 1 0%;
}

.bx-clear {
    clear:both;
    float:none;
    display:block;
    width: 0px;
    height: 0px;
    font-size:1px;
}

.bx-clearfix:before,
.bx-clearfix:after {
    content:"";
    display:table;
}
.bx-clearfix:after {
    clear:both;
}

.bx-anchor-invisible,
.bx-anchor {
    -webkit-background-clip:content-box;
    background-clip:content-box;
}
.bx-anchor-invisible {
    display:block;
    height:0px;
    width:0px;
    overflow:hidden;
}

.bx-bullet:before {
    content: "\00A0\00b7\00A0";

    color: #999999;
}
.bx-bullet-narrow:before {
    content: "\00b7";

    color: #999999;
}

.bx-tag s {
    text-decoration: none;
    font-weight: bold;
}

.sys-icon-a {
    width:1.5rem;
    height:1.5rem;
}

.bx-search-site {
    width:20rem;
    margin-left:auto;
    margin-right:auto;
}
.bx-acl-err-msg {
    padding: 0 10%;
}

/* --------------- design boxes */

.bx-db-container {
    position:relative;
}
.bx-db-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.bx-db-container.bx-dbc-nopadding > .bx-db-header {
    padding-left: 0;
    padding-right: 0;
}
.bx-db-container.bx-dbc-nobg > .bx-db-divider {
    display: none;
}
.bx-db-title {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    line-height: 1.5;
    font-size: 1.0rem;
    font-weight: 600;
}

.bx-db-menu {
    -webkit-flex: 1 2 auto;
    -ms-flex: 1 2 auto;
    flex: 1 2 auto;

    max-width: 75%;
}

.bx-media-phone .bx-db-menu {
    max-width: 65%;
}

.bx-db-menu-tab {
    margin-left: 5px;
    text-align: right;
    overflow-x: auto;
}
.bx-db-menu-tab.bx-db-menu-tab-more-auto {
    overflow-x: visible;
}

.bx-db-menu-tab .bx-menu-custom-hor:not(.bx-menu-more-auto) {
    width: max-content;
}
.bx-db-menu-tab-active {
    text-decoration:underline;
}

.bx-db-menu-tab-btn a {
    text-decoration:none;
}

.bx-db-menu-tab-btn a.bx-btn {
    display: inline-block;
    float: none;
}

.bx-db-menu .sys-icon-a {
    vertical-align:middle;
}

.bx-db-menu-popup {
    text-align: left;
}

.bx-db-content {
    position: relative;
}

.bx-content-padding-block {
    padding: 1rem;
}

.bx-db-content .bx-db-help {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 2rem;
    text-align: center;
}

.bx-db-help-popup {
    max-width: 25rem;
    max-height: 25rem;
    overflow: auto;
}

/*--- Design Boxes Menu ---*/
.bx-db-menu ul li {
    border-radius: 0;

    white-space: nowrap;
}
.bx-db-menu ul.bx-menu-hor,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto:not(.bx-menu-submenu-more-auto) {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.bx-db-menu ul.bx-menu-hor > li,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor > li {
    display: block;

    -webkit-flex: 0 1 auto; 
    -ms-flex:  0 1 auto; 
    flex:  0 1 auto;

    padding: 0 0.5rem;

    border-bottom: 1px solid transparent;
}
.bx-db-menu .bx-menu-custom.bx-menu-custom-hor > li > span {
    display: block;

    margin: 0;
    padding: 0;
}
.bx-db-menu ul.bx-menu-hor > li a.bx-btn,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor > li a.bx-btn {
    display: inline-block;
    float: none;
}
.bx-db-menu ul.bx-menu-hor > li a > span,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor > li a > span {
    vertical-align: middle;
}
.bx-db-menu ul > li:not(.bx-menu-item-more-auto) a .sys-icon,
.bx-db-menu ul > li:not(.bx-menu-item-more-auto) a .sys-icon-image {
    display: none;
}
.bx-db-menu ul.bx-menu-submenu-more-auto {
    line-height: normal;
}
.bx-db-menu ul li:not(.bx-menu-item-more-auto) a span,
.bx-db-menu .bx-menu-item-more-popup ul.bx-menu-custom.bx-menu-submenu-more-auto li:not(.bx-menu-item-more-auto) a span,
.bx-db-menu .bx-popup .bx-db-menu-popup ul.bx-menu-custom.bx-menu-custom-ver li a > span,
.bx-db-menu .bx-popup .bx-db-menu-popup ul.bx-menu-ver li a > div > span {
    margin: 0;
}
.bx-db-menu ul.bx-menu-hor li.bx-menu-tab-active,
.bx-db-menu ul.bx-menu-custom.bx-menu-custom-hor li.bx-menu-tab-active {
    border-bottom: 0;
}
.bx-db-menu ul.bx-menu-custom-ver li.bx-menu-item-more-auto {
    display: none;
}

/* --------------- popup boxes */

html.bx-popup-lock, body.bx-popup-lock {
    overflow: hidden;
}

body > .bx-popup-wrapper {
    max-height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    /* -webkit-overflow-scrolling:touch; */
}

.bx-popup-transitions {
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.bx-popup-inactive {
    -webkit-opacity: 0;
    opacity: 0;

    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}

.bx-popup-active {
    max-height:100%;
    overflow-y:auto;

    -webkit-opacity: 1;
    opacity: 1;

    -webkit-transform: scale(1);
    transform: scale(1);

    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.bx-popup-width {
    width: 500px;
}

.bx-popup-width-small {
    width: 14rem;
}

.bx-popup-border {
    border:1px solid #383d66;
}

.bx-popup-color-bg {
    background-color:#fff;
}

.bx-popup-fog {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #ffffff;
    -webkit-backface-visibility: hidden;
}

.bx-popup {    
    overflow:hidden;
}

.bx-popup-header {
    position: relative;
}
.bx-popup-header-color-bg {
    background-color: #3b8686;
}

.bx-popup-header .bx-db-menu-tab-btn {
    padding-top:16px;
}

.bx-popup-header h2 {
    margin:0;
    text-align:center;
    color:#FFFFFF;
}

.bx-popup-box-pointer {
    display:none;
    position:relative;
    top:10px;
    width:13px;
    height:7px;
    overflow:hidden;
}

.bx-popup-box-pointer > i {
    display:block;
    position:absolute;
    top:-5px;
    width:0px;
    height:0px;
    border-width:6px;
    border-style:solid;
    border-top-color:transparent;
    border-right-color:transparent;
    border-left-color:transparent;
}

.bx-popup-image-container {
    position: relative;
}

.bx-popup-image-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.bx-popup-image-wrapper img {
    display: block;
}

.bx-popup-element-close:hover,
.bx-popup-element-close {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    font-size: 1.75rem !important;
}

.bx-popup-slide-wrapper {
    width:100%;

    background-color: rgba(255, 255, 255, 0.9);
}
.bx-popup-slide-wrapper li {
    text-align:right;
}

.bx-popup-trans-wrapper .bx-popup-close-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.bx-popup-trans-wrapper .bx-popup-close-wrapper .bx-popup-element-close {
    position: relative;
    line-height: 1.2rem;
}
.bx-popup-image-wrapper .bx-popup-close-wrapper,
.bx-popup-image-wrapper .bx-popup-element-close {
    display:none;
}

#bx-popup-alert,
#bx-popup-confirm,
#bx-popup-prompt {
	max-width: 500px;
	max-width: 31.25rem;
}

.popup_alert_actions .bx-btn,
.popup_confirm_actions .bx-btn,
.popup_prompt_actions .bx-btn {
    float: none;
}

/* --------------- full screen popup */
.bx-popup-full-screen.bx-popup-trans-wrapper,
.bx-popup-full-screen.bx-popup-box-wrapper,
.bx-popup-full-screen .bx-popup-trans,
.bx-popup-full-screen .bx-popup-box {
    position:fixed !important;
    top:0 !important;
    left:0 !important;
    bottom:0 !important;
    right:0 !important;
    width:100%;
    width:100vw;
    height:100%;
    height:100vh;
    overflow:auto;
}

.bx-popup-full-screen .bx-popup-trans > div,
.bx-popup-full-screen .bx-popup-box > div {
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
}

.bx-popup-full-screen.bx-popup-trans-wrapper .bx-popup-border,
.bx-popup-full-screen.bx-popup-box-wrapper .bx-popup-border {
    border:none;
}

.bx-popup-full-screen.bx-popup-trans-wrapper .bx-popup,
.bx-popup-full-screen.bx-popup-box-wrapper .bx-popup {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.bx-popup-full-screen .bx-popup-width {
    width:100%;
}

.bx-popup-full-screen .bx-popup .bx-popup-close-wrapper {
    display: flex !important;
}

/* --------------- notification boxes */
.bx-popup-inline-holder {
	padding-top: 70px;
   	padding-top: 4.375rem;
}
.bx-popup-inline {
	width: 100%;
}
.bx-popup-inline .bx-popup {
	position: relative;

	width: 100%;
    height: 4.25rem;

    border-width: 1px 0px 1px 0px;
	border-color: #000000;
	border-radius: 0px;

	background-color: rgba(85, 85, 85, .9);

	color: #ffffff;
}
.bx-popup-inline .bx-popup .bx-popup-content {
	position: relative;
	display: flex;

	height: 100%;

	padding: 0px 3.75rem;

	align-items: center; 
}
.bx-popup-inline .bx-popup .bx-popup-content > * {
	max-height: 100%; 
}
.bx-popup-inline .bx-popup .bx-popup-actions {
	position: absolute;
	display: flex;

	height: 100%;
	top: 0px;

	align-items: center;
}
.bx-popup-inline .bx-popup .bx-pa-left {
	left: 0px;
}
.bx-popup-inline .bx-popup .bx-pa-right {
	right: 0px;
}
.bx-popup-inline .bx-popup .bx-popup-actions a {
	text-decoration: none;
	font-size: 1.75rem;
	color: #9c9c9c;
}

/* --------------- chain notifications */
div.bx-popup-chain {
    position: relative;
    max-width: 22.5rem;
}
div.bx-popup-chain-cnt {
    position: relative;
}
div.bx-popup-chain-item {
    position: relative;
    width: 100%;
    overflow: hidden;
}
div.bx-popup-chain-item-actions {
    position: absolute;
    top: 0px;
}
div.bx-popup-cia-left {
    left: 0px;
}
div.bx-popup-cia-right {
    right: 0px;
}
div.bx-popup-chain-item-actions a {
    line-height: initial;
    text-decoration: none;
}
div.bx-popup-chain-item-actions .sys-icon {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
}
div.bx-popup-chain-item .bx-loading-ajax {
    height: auto;
}

/* --------------- message box */
.bx-msg-box-container {
    padding:0px 5px;
    text-align:center;
}

.bx-msg-box {
    display:inline-block; 
    margin-right:auto;
    margin-left:auto;

    text-align:center;
    font-size:1rem;
    padding:10px;
    text-transform:uppercase;
}

/* --------------- loading indicator */

.bx-loading-ajax {
    position:absolute;
    width:100px;
    height:100px;
    margin-left:auto;
    margin-right:auto;

    background-color: transparent;

	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;

    text-align:center;
    color:#CCCCCC;
}
.bx-loading-ajax.static {
    position: static;
}
.bx-loading-ajax svg {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    padding: 25px;  
}

.bx-loading-ajax-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;

    min-width: 2.0rem;

    margin-left: 5px;
}

@-moz-document url-prefix() {
	button.bx-btn .bx-loading-ajax-btn {
		top: -1px;
	}
}

button.bx-btn:focus,
button.bx-btn:focus .bx-loading-ajax-btn {
    outline: 0;	
}


/* --------------- SVG loading indicator */
svg .outer, 
svg .inner{
	-webkit-transform-origin: 50% 50%;
   	-moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
svg .outer{
	-webkit-animation: clockwise 5s infinite linear;
	-moz-animation: clockwise 5s infinite linear;
    animation: clockwise 5s infinite linear;
    

}
svg .inner{
	-webkit-animation: counter-clockwise 2s infinite linear;
	-moz-animation: counter-clockwise 2s infinite linear;
    animation: counter-clockwise 2s infinite linear;
    
}
svg .colored .inner .p1 {
	fill:#2AB191;
}
svg .colored .inner .p2,
svg .colored .outer .p1 {
	fill:#4990E2;
}
svg .colored .outer .p2 {
	fill:#EE6666;
}
svg .gray .inner .p1,
svg .gray .inner .p2,
svg .gray .outer .p1,
svg .gray .outer .p2 {
	fill:#4A4A4A;
}

@-webkit-keyframes counter-clockwise {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes clockwise {
    0% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}	
@-moz-keyframes counter-clockwise {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-moz-keyframes clockwise {
    0% { -moz-transform: rotate(360deg); }
    100% { -moz-transform: rotate(0deg); }
}

@keyframes counter-clockwise {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes clockwise {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
	
/* --------------- button */
.bx-btn-height {
    height: 2.2rem;
    line-height: 2.2rem;
}
.bx-btn-border {
	border: none;
}
.bx-btn:active,
.bx-btn:hover {	
    background-color: #79bd9a;
    text-decoration:none;
}
.bx-btn img {
    width:1.2em;
    height:1.2em;
    vertical-align:middle;
    background-size:1.2em 1.2em;
    background-position:center center;
}
.bx-btn .bx-def-valign-center{
    height: 100%;
}
.bx-btn u {
    margin-left: 10px;
    text-decoration: none;
}
.bx-btn u:first-child {
	margin-left: 0px;
}
.bx-btn .sys-icon {
    font-size:1.2em;
}
.bx-btn .sys-icon-bigger {
    font-size:1.4em;
}

.bx-btn-small-height {
    height: 1.6rem;
    line-height: 1.5rem;
}

.bx-btn-small-border {
	border: none;
}

.bx-btn.bx-btn-primary {
    background-color: #357877;
}
.bx-btn.bx-btn-primary:hover,
.bx-btn.bx-btn-primary:active { 
    background-color: #3a8686;
}

.bx-btn.bx-btn-symbol {
    font-family: "Times New Roman", Georgia, Serif;
    font-size:1.3rem;
    line-height:32px;
}
.bx-btn.bx-btn-symbol:hover {
    text-decoration:none;
}
.bx-btn.bx-btn-symbol-small {
    font-size:1rem;
}

.bx-btn-group .bx-btn {
    margin-left:0px;
    margin-right:0px;
}
.bx-btn-group .bx-btn:not(:first-child):after {
    content:"";
    position:absolute;
    display:block;
    top:0px;
    left:-0.05em;
    width:0.1em;
    height:100%;
    background-color:rgba(255,255,255,0.1);
}
.bx-btn-group .bx-btn + .bx-btn:not(:last-child) {
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;    
}
.bx-btn-group .bx-btn:first-child {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.bx-btn-group .bx-btn:last-child {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* --------------- button at the end of cut string */

.bx-str-limit {
    margin-left:0.5rem;
    cursor:pointer;
}

/* --------------- categories */

.bx-category-list-item {
	line-height: 1.5rem;
}


/* --------------- Show More */
.bx-overflow-ready {
    max-height: 250px;
    overflow: hidden;
}
.bx-overflow:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;

    content: '';
}

.bx-show-more {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    text-align: center
}

/* --------------- Flickity: Tailwind overwrite */
.flickity-enabled .flickity-viewport .flickity-slider img,
.flickity-enabled .flickity-viewport .flickity-slider video {
    display: inline;
    max-width: none;
}