.bx-cover-gap {
    position:relative;
}
.bx-media-phone .bx-cover-gap {
    padding-left: 0;
    padding-right: 0;
}

.bx-cover-wrapper {
    position:relative;
    background-image: url(../images/cover.svg);
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.bx-image-edit-buttons{
    position: absolute;
    left:1rem;
    top:1rem;
    z-index: 100;
}
.bx-image-edit-buttons .bx-btn.bx-btn-small{
    padding: 0.375rem 0.5rem;
}
.bx-base-pofile-cover-thumb .bx-image-edit-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    left:0px;
    bottom:1rem;
    top:auto;
}
.bx-image-edit-move{
    cursor:move;
    position: relative;
    z-index: 99;
}
.bx-image-edit-move-info{
    display: flex;
    align-items: center;
    position: absolute;
    opacity: 0.5;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color:#fff;
    letter-spacing: 1px;
}
.bx-image-edit-move-info i{
    color:#fff;
    font-size: 1.25rem;
    margin-right: 1rem;
}
.bx-image-edit-buttons-no-image .bx-image-edit-buttons-edit{
    display: none;
}

.bx-image-edit-buttons .bx-uploader-html5-drop-area{
    display: none;
}

.bx-cover-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.17) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.17) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.17) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#2b000000',GradientType=0 );
}

.bx-cover {
    position: relative;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    min-height: 40vh;
    text-align: center;
}

.bx-cover-cnt {
	width: 100%;
}

.bx-cover-title {
    font-weight:bold;
    vertical-align:middle;
    text-shadow:-1px 0px 0px rgba(0, 0, 0, .3), 1px 0px 0px rgba(0, 0, 0, .3), 0px -1px 0px rgba(0, 0, 0, .3), 0px 1px 0px rgba(0, 0, 0, .3);
}

.bx-cover-title .bx-btn {
    display:inline-block;
    float:none;
}

.bx-cover-image img {
    width:6.25rem;
    height:6.25rem;
    background-size: cover;
    vertical-align: middle;
}

.bx-cover-title .sys-icon,
.bx-cover-title span {
    vertical-align: middle;
}

.bx-cover-homepage {
    background-image: url(../images/cover-homepage.svg);
}
