@import url("default.css");

/* NOTE: copied from "fonts" section from default.css */

body, td, pre {
    font-family: Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
    font-size:14px;
    color:#333;
}

h1 {
    font-size:32px;
    font-weight:bold;
}

h2 {
    font-size:24px;
    font-weight:bold;
}

h3 {
    font-size:18px;
    font-weight:bold;
}

blockquote {
    /* NOTE: copied from common.css */
    border-left: 2px solid #ccc;
    padding-left: 10px;
}
