.bx-form-input-html-quill{
    z-index: 1;
}
.ql-picker-options{
    z-index: 2 !important;
}
.ql-toolbar{
    border-radius: 0.3rem 0.3rem 0 0;
}
.ql-container.ql-snow{
    border-radius: 0 0 0.3rem 0.3rem;
}
.ql-mention-list li{
    padding: 0.5rem;
    min-width: 200px;
}
.ql-mention-list li:hover{
    cursor: pointer;
    
}
.ql-editor.bx-def-vanilla-html{
    max-width: none;
}
.dark .ql-toolbar.ql-snow{
    border-color: rgb(55 65 81);
    background-color: rgb(55 65 81);
}
.dark .ql-snow .ql-stroke{
    stroke: rgb(209, 213, 219);
}
.dark .ql-snow .ql-fill, 
.dark .ql-snow .ql-stroke.ql-fill{
    fill: rgb(209, 213, 219);
}
.dark .ql-snow .ql-picker-label{
    color: rgb(209, 213, 219);
}
.dark .ql-picker-options{
    background-color: rgb(31 41 55);
}
.dark .ql-picker-options .ql-picker-item{
    color: rgb(209, 213, 219);
}
.ql-editor.bx-def-vanilla-html ol li::marker {
    display: none;
    content:'';
}
.bx-form-input-html-quill-code{
    width: 500px !important;
    max-width: 100%;
    height: 400px;
    margin-right: 0px;
}
.ql-editor ol li:not(.ql-direction-rtl), 
.ql-editor ul li:not(.ql-direction-rtl){
    padding-left: 0.375em !important;
}