.bx-form-input-html-quill{
    z-index: 1;
}
.ql-picker-options{
    z-index: 2 !important;
}
.ql-toolbar{
    border-radius: 0.3rem 0.3rem 0 0;
}
.ql-container.ql-snow{
    border-radius: 0 0 0.3rem 0.3rem;
}
.ql-mention-list li{
    padding: 0.5rem;
    min-width: 200px;
}
.ql-mention-list li:hover{
    cursor: pointer;
    
}