body,
.bx-embed{
    background-color: transparent !important;
}
.bx-embed{
    width:calc(100% - 2px);
}
.bx-embed .bx-base-pofile-unit-with-cover{
    display: block;
}
.bx-embed > div{
    padding: 0px !important;
}