
.bx-form-advanced-wrapper .bx-form-section-wrapper:first-child {
    margin-top:0;
}

.bx-form-advanced-wrapper .bx-form-section-divider:first-child {
    border-top:none; 
    padding-top:0; 
}

.bx-form-advanced-wrapper .bx-form-section-divider:first-child .bx-form-section-content {
    padding-top:0; 
}

.bx-form-advanced-wrapper .bx-form-section-wrapper:last-child .bx-form-section-content {
    padding-bottom:0;
}

.bx-form-advanced-wrapper .bx-form-section-wrapper:first-child .bx-form-row-view-wrapper:first-child {
    padding-top:0;
}

.bx-form-section-wrapper {
    position:relative;
}

.bx-form-section {
    padding:0px;
}

.bx-form-section {
    margin:0;
    border-width:2px;
    border-width:0.125rem;
    border-bottom:none;
    border-left:none;
    border-right:none;
}

.bx-form-section-header legend {
    position:relative;
    text-transform:uppercase;
}

.bx-form-section-header legend u {
    cursor:pointer;
}

.bx-form-section-hidden .bx-form-section-content {
    display:none;
}

.bx-form-element-wrapper:first-child {
    margin-top:0px;
}

.bx-form-caption {
    margin-bottom:5px;
}

.bx-form-required {
    color:red;
}

.bx-form-warn {
    color:red;
    font-style:italic;
}

.bx-form-info {

}

/* section toggler */

.bx-form-collapsable .bx-form-section-toggler {

    position:absolute;
    left:-2px;
    top:3px;

    width:16px;
    height:16px;

    text-decoration:none;

    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.bx-form-collapsed .bx-form-section-toggler {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.bx-form-section-toggler .sys-icon {
    margin:5px 0 0 5px;
    font-size:1.2rem;
    line-height:1.2rem;
}

/* form inputs */

.bx-form-input-slider,
.bx-form-input-doublerange,
.bx-form-input-select_multiple,
.bx-form-input-select,
.bx-form-input-radio_set,
.bx-form-input-checkbox_set,
.bx-form-input-number,
.bx-form-input-datepicker,
.bx-form-input-datetime,
.bx-form-input-textarea,
.bx-form-input-password,
.bx-form-input-text {

    height:36px;
    height:2.2rem;
    width:100%;
    
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding:7px 3px 7px 3px;
    padding:0.2rem 0.4rem;

    vertical-align:middle;

    border:2px solid #79bd9a;
    border:0.125rem solid #79bd9a;
	
    -webkit-border-radius:0.3rem;
    -moz-border-radius:0.3rem;	
    border-radius:0.3rem;

    outline:none;

    background-color: #fff;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; 
    filter: alpha(opacity=90); 
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;    
}

.bx-form-input-slider:focus,
.bx-form-input-doublerange:focus,
.bx-form-input-number:focus,
.bx-form-input-datepicker:focus,
.bx-form-input-datetime:focus,
.bx-form-input-textarea:focus,
.bx-form-input-password:focus,
.bx-form-input-text:focus {
	border-color:#6caa8a;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter: alpha(opacity=100); 
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.bx-form-input-select_multiple,
.bx-form-input-radio_set,
.bx-form-input-checkbox_set {
    height:auto;
}

.bx-form-input-textarea {
    padding:0.5rem;
    height:150px;
    height:10rem;

    line-height:normal;
}

.bx-form-input-datepicker {
    width:7.5rem;
}

.bx-form-input-datetime {
    width:10.2rem;
}

.bx-form-input-number {
    width:6rem;
}

.bx-form-input-wrapper-slider,
.bx-form-input-wrapper-doublerange {
    position:relative;
}

.bx-form-input-wrapper-slider .ui-slider,
.bx-form-input-wrapper-doublerange .ui-slider {
    position:absolute;
    top:0px;
    right:0px;
}

.bx-form-input-wrapper-slider .ui-slider .ui-slider-handle,
.bx-form-input-wrapper-doublerange .ui-slider .ui-slider-handle { 
    z-index: 1;
}

/* switcher */

.bx-switcher-cont {
	position:relative;
    width:60px;
	width:3.8rem;
    height:24px;
	height:1.5rem;
	overflow:hidden;
	cursor:pointer;

    background-color:#fff;

    border:2px solid #79bd9a;
    border:0.125rem solid #79bd9a;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
}
.bx-switcher-cont input {
    position:absolute; 
    top:-32px;
    top:-2rem;
}
.bx-switcher-canvas {
	position:relative;
	width:90px;
	width:5.7rem;

    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -ms-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
}
.bx-switcher-cont.on .bx-switcher-canvas {
	left:3px;
	left:0.2rem;
}
.bx-switcher-cont.off .bx-switcher-canvas {
	left:-34px;
	left:-2.1rem;
}
.bx-switcher-on,
.bx-switcher-off,
.bx-switcher-handler {
    position:absolute;	
    top:0rem;
	line-height:24px;
	line-height:1.5rem;
    color:#999;
}
.bx-switcher-on {
    left:0rem;
    width:34px;
    width:2.1rem;
    height:24px;
    height:1.5rem;
    margin-left:8px;
    margin-left:0.5rem;
}
.bx-switcher-off {	
    left:65px;
    left:4.05rem;
    width:34px;
    width:2.1rem;
    height:24px;
    height:1.5rem;
    margin-left:3px;
    margin-left:0.2rem;
}
.bx-switcher-handler {
    left:36px;
    left:2.23rem;
    top:2px;
    top:0.13rem;
    width:20px;
    width:1.25rem;
	height:20px;
	height:1.25rem;
	margin:0rem;

    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;

    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.bx-switcher-cont.on .bx-switcher-handler {
    background-color:#d0efa2;
}
.bx-switcher-cont.off .bx-switcher-handler {
    background-color:#e7938a;
}

.bx-form-value-oneline,
.bx-form-caption-oneline {
    float:left;
}

.bx-form-caption-oneline-switcher {
    line-height:26px;
}

.bx-form-input-wrapper-submit .bx-btn {
    float:none;
}

.bx-form-input-wrapper-input_set .bx-btn {
    float:left;
}

/* extra features */

.bx-form-right-line-aligned {
    float:right;
    margin-top: 5px;
}

/* view mode */

.bx-form-view-section legend {
    padding-left:0;
}

.bx-form-row-view-wrapper > div {
    display: inline-block;
    white-space: normal;
    vertical-align: bottom;
}

.bx-form-row-view-wrapper-textarea > div {
    display: block;
    vertical-align:top;
}

.bx-form-row-view-caption {
    font-weight:bold;
}


/****************************************
*		Custom reCaptcha Theme
****************************************/
.bx-form-input-captcha {
	background-color: #b71800;
	padding: 0.5em;
	border-radius: 1em;
	position: relative;
	overflow: auto;
	max-width: 480px;
	font: 0.75em/1em "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}
.bx-form-input-captcha a {
	color: #ffffff;
	text-decoration: none;
}
.bx-form-input-captcha img,
.bx-form-input-captcha #recaptcha_image {
	width: 100% !important;
	height: auto !important;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.bx-form-input-captcha .solution {
	position: relative;
	float: left;
	width: 75%;
}
.bx-form-input-captcha .solution-cnt {
	margin-top: 0.5em;
	padding: 1.2em 1em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fbe098;
	color: #000000;
	display: block;
}
.bx-form-input-captcha .solution-cnt input {
	display: block;
	width: calc(90% - 2px);
	margin: 0.35em auto;
	-webkit-appereance: none;
	border: 1px solid #f7c236;
	font: inherit;
	font-size: 150%;
	outline: none;
}
.bx-form-input-captcha .solution-cnt input:focus {
	border-color: #b71800;
}
.bx-form-input-captcha .options {
	position: relative;
	float: right;
	width: 25%;
	
}
.bx-form-input-captcha .options-cnt {
	margin-top: 0.5em;
	padding-left: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.bx-form-input-captcha .options-cnt a {
	background-color: #c5523d;
	display: block;
	padding: 0.5em 1.0em;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}
.bx-form-input-captcha .options-cnt a:first-child {
	border-radius: 0.5em 0.5em 0 0;
}
.bx-form-input-captcha .options-cnt a:last-child {
	border-radius: 0 0 0.5em 0.5em;
	border-bottom: 1px solid #000000;
}
