
.bx-page-image-container img,
.bx-page-html-container img {
    max-width:100%;
    height:auto;
}
.bx-page-html-container {
    overflow:hidden;
}

/* --------------- toolbar */

.bx-toolbar-anim {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.bx-toolbar-reset {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.bx-toolbar-up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

#bx-toolbar {
    position:fixed;
    width:100%;
    height:48px;
    height:3rem;

    background-color:#3B8686;

    opacity:0;
}

#bx-toolbar-content {
    position: relative;
}

#bx-menu-toolbar-1-container,
#bx-menu-toolbar-2-container {
    position:absolute;
    top:0px;
}

#bx-menu-toolbar-1-container {
    left:0px;
    text-align:left;
}

#bx-menu-toolbar-2-container {
    right:0px;
    text-align:right;
}

#bx-logo-container {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    height: 48px;
    height: 3rem;
           
    margin:0 48px;
    margin:0 3rem;

    line-height: 48px;
    line-height: 3rem;
    
    vertical-align: middle;
    text-align: center;

    overflow:hidden;
    text-overflow:ellipsis;
}

#bx-logo-container a {
    text-decoration:none;
    font-size:32px;
    font-size:2rem;
}  

#bx-logo {
    vertical-align:middle;
    margin-top:-0.375rem;
}

/* --------------- menu bar */

#bx-menu-main-bar-wrapper {
    padding-top:48px;
    padding-top:3rem;
}

/* --------------- content */
#bx-content-wrapper {
	padding-bottom: 100px;
	padding-bottom: 6.25rem;
}

/* --------------- footer */
#bx-footer-wrapper {
	position: absolute;

	width: 100%;
	height: 100px;
	height: 6.25rem;
	bottom: 0;
}
#bx-footer-wrapper .bx-def-hr {
	margin-top: 0px;
}
#bx-menu-bottom {
	float: left;
}
#bx-footer-copyright {
    float:right;
}

/* --------------- social buttons */

.bx-social-sharing-btn {
    float:left;
}

.bx-social-sharing-btn a,
.bx-social-sharing-btn .sys-icon {
    text-decoration:none;
    vertical-align:middle;
}
.bx-social-sharing-btn span {
    font-size:1.5rem;
    vertical-align:middle;
    margin:0 0.2rem;
}
