
.bx-page-image-container img,
.bx-page-html-container img {
    max-width:100%;
    height:auto;
}
.bx-page-html-container {
    overflow:hidden;
}

/* --------------- toolbar */

.bx-toolbar-anim {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.bx-toolbar-reset {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.bx-toolbar-up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

#bx-toolbar {
    position:fixed;
    width:100%;
    height:48px;
    height:3rem;
}

#bx-toolbar-content {
    position: relative;
}

#bx-menu-toolbar-1-container,
#bx-menu-toolbar-2-container {
    position:absolute;
    top:0px;
}

#bx-menu-toolbar-1-container {
    left:0px;
    text-align:left;
}

#bx-menu-toolbar-2-container {
    right:0px;
    text-align:right;
}

#bx-logo-container {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    height: 48px;
    height: 3rem;
           
    margin:0 48px;
    margin:0 6rem;
    
    vertical-align: middle;
    text-align: center;
}

#bx-logo-container a span {
    display:inline-block;

    max-width:100%;

    line-height: 48px;
    line-height: 3rem;

    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

#bx-logo-container a {
    text-decoration:none;
    font-size:32px;
    font-size:2rem;
}  

#bx-logo {
    vertical-align:middle;
}

/* --------------- Submenu */
.bx-menu-main-bar-gap {
    position: relative;
}
.bx-media-tablet .bx-menu-main-bar-gap.bx-def-page-width,
.bx-media-phone .bx-menu-main-bar-gap.bx-def-page-width {
    width: 100%;
}
.bx-media-phone .bx-menu-main-bar-gap {
    padding-left: 0;
    padding-right: 0;
}
.bx-menu-main-bar-wrapper {
    position: relative;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bx-menu-main-bar-wrapper:before,
.bx-menu-main-bar-wrapper:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 1.5rem;
    height: 100%;
    z-index: 1;
}
.bx-menu-main-bar-wrapper:before {
    left: 0px;
}
.bx-menu-main-bar-wrapper:after {
    right: 0px;
}
.bx-media-phone .bx-menu-main-bar-wrapper {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.bx-media-phone .bx-menu-main-bar-wrapper:before {
    border-bottom-left-radius: 0;
}
.bx-media-phone .bx-menu-main-bar-wrapper:after {
    border-bottom-right-radius: 0;
}

.bx-menu-main-bar {
    text-align:center;
    overflow-x:auto;
    -webkit-overflow-scrolling: touch;
}

/* --------------- content */

#bx-content-wrapper {
	position: relative;
	-webkit-flex-grow: 3; 
    flex-grow: 3;
}

/* --------------- footer */

#bx-footer-wrapper {
    position: relative;

    -webkit-flex-grow: 0;
    flex-grow: 0;

    width: 100%;
    bottom: 0;
}
#bx-footer-wrapper .bx-def-hr {
	margin-top: 0px;
}
#bx-menu-bottom ul {
    text-align: center;
}
#bx-menu-bottom ul li {
    line-height: 2rem;
}
.bx-menu-switch-language-inline {
	float: none;
	clear: both;
}
.bx-menu-switch-language-inline .bx-menu-hor {
	text-align: center;
}
.bx-menu-switch-language-inline .bx-menu-hor li {
	float: none;
	display: inline-block;
}

/* --------------- 'Add to Homescreen' popup */
.ath-container {
	color: #333;
}

/* --------------- Account */
p.bx-account-unit-thumb {
    display: block;
    margin: 0px;

    background: #ffffff;
    background-clip: padding-box;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);

    line-height: 46px;
    line-height: 2.9rem;

    font-size: 32px;
    font-size: 2.0rem;
    font-weight: 700;
    color: #d0d0d0;
}
p.bx-account-unit-thumb.bx-def-icon-size {
    line-height: 26px;
    line-height: 1.75rem;

    font-size: 19.5px;
    font-size: 1.3rem;
}
p.bx-account-unit-thumb.bx-def-border {
    border-width: 2px;
    border-color: #ffffff;
}
div.bx-account-unit-online {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0.625rem;
    height: 0.625rem;
    border: 1px solid #ffffff;
    border-radius: 0.625rem;
    background-color: #7ed321;
}

/* --------------- Mentions */

.bx-mention-row img {
    width:1rem;
    height:1rem;
    vertical-align:middle;
}

.bx-mention-row span {
    vertical-align:middle;
}


/* --------------- Profile Stats */
.bx-profile-stats {
    overflow: hidden;
}

.bx-profile-stats .bx-ps-user-cnt {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.bx-profile-stats .bx-ps-user-cnt .bx-def-ava-size {
    width: 3.75rem;
    height: 3.75rem;
}

.bx-profile-stats .bx-ps-user-cnt .bx-def-ava-size,
.bx-profile-stats .bx-ps-user-cnt div.bx-def-unit-img p.bx-base-pofile-unit-thumb.bx-def-ava-size {
    line-height: 3.5rem;
    font-size: 2.325rem;
}

.bx-profile-stats .bx-ps-user-img {
    -webkit-flex: 0 2 auto; 
    flex: 0 2 auto;
}

.bx-profile-stats .bx-ps-user-info {
    -webkit-flex: 1 1 auto; 
    flex: 1 1 auto;
}

.bx-profile-stats .bx-ps-user-info-cnt {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
}


/* --------------- Create Post Form */

.sys-create-post-form {
	position: relative;
}

.sys-create-post-form .bx-loading-ajax {
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

	top: 0;
	width: 100%;
	height: 100%;
}

.sys-cpf-header {
	display: -webkit-flex;
    display: flex;

	border-bottom-color: #e6f0fa;
    border-bottom-width: 2px;
}
.sys-cpf-title,
.sys-cpf-submenu {
	-webkit-flex: 0 1 auto; 
    -ms-flex:  0 1 auto; 
    flex:  0 1 auto;
    line-height: 3.125rem;
}
.sys-cpf-title,
.sys-cpf-submenu-cnt {
	height: 3.125rem;
}

.sys-cpf-title {
    -webkit-flex-grow: 3;
    flex-grow: 3;

    border-bottom: 2px solid rgba(0,0,0,0.1);

    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
}
.sys-cpf-submenu {
	overflow-x: auto;
	overflow-y: hidden;

	-webkit-overflow-scrolling: touch;
}
.sys-cpf-submenu::-webkit-scrollbar {
    width: 0.5rem;
}
.sys-cpf-submenu::-webkit-scrollbar-track {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;

    background-color: rgba(0, 0, 0, 0.1); 
}
.sys-cpf-submenu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;

    background: rgba(255, 255, 255, 0.9); 
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.sys-cpf-submenu::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4); 
}
.sys-cpf-submenu-cnt ul {
    display: -webkit-flex;
    display: flex;
}
.sys-cpf-submenu-cnt ul li {
    -webkit-flex: 0 1 auto; 
    -ms-flex:  0 1 auto; 
    flex:  0 1 auto;
    box-sizing: border-box;
    height: 3.125rem;

    border-bottom: 2px solid rgba(0,0,0,0.1);
    border-radius: 0;

    line-height: 3.125rem;
    white-space: nowrap;
    
}
.sys-cpf-submenu-cnt ul li div {
    padding: 0 0.625rem;
}
.sys-cpf-submenu-cnt ul li.bx-menu-inter-act {
    border-bottom-color: #364f6b;
}
.sys-cpf-submenu-cnt ul li.bx-menu-inter-act > div {
    font-weight: bold;
}
.sys-cpf-submenu-item .bx-cnc-psi-icon,
.sys-cpf-submenu-item .bx-cnc-psi-icon img {
    width: 1.5rem;
    height: 1.5rem;
}
.sys-cpf-submenu-item .bx-cnc-psi-icon img {
    color: #002e74;
}

.sys-cpf-submenu-item .bx-cnc-psi-icon .sys-icon {
    vertical-align: middle;
    font-size: 1.5rem;
}
.sys-cpf-submenu-item .bx-cnc-psi-title {
	text-align: center;
}
.sys-cpf-submenu-item.bx-cnc-psi-main .bx-cnc-psi-title {
    text-align: left;
}
.sys-cpf-form {
	position: relative;
}
.sys-cpf-form .sys-cpf-user {
	position: absolute;
	top: 0;
	left: 0;
}
.sys-cpf-form .sys-cpf-content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.sys-cpf-form.sys-cpf-default .sys-cpf-content {
    -webkit-align-items: stretch;
    align-items: stretch;   
}
.sys-cpf-form.sys-cpf-default .sys-cpf-content > div {
    width: 100%;
    cursor: text;
}
.sys-cpf-form .bx-uploader-ghost .bx-base-general-icon-wrapper img {
	max-width: 9.375rem;
}
.sys-cpf-close {
	position: absolute;
	display: none;

	right: 1.25rem;
	bottom: 1.25rem;
}


/* --------------- Account Unit */
.bx-account-unit .bx-def-unit-img, 
.bx-account-unit-wo-info .bx-def-unit-img {
    position: relative;
    overflow: visible;
}


/* --------------- Author Info */
.sys-author-info {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sys-author-profile ul.bx-menu-custom.bx-menu-hor {
    line-height: 0.625rem;
}
.sys-author-profile ul.bx-menu-custom.bx-menu-hor > li.bx-menu-item-nl {
    width: 100%;
}
.sys-author-profile .bx-menu-custom.bx-menu-hor > li > span {
    margin-right: 0;
}
.sys-author-profile .bx-menu-custom.bx-menu-hor > li > span.bx-base-profile-unit-meta-item.bx-def-padding-thd-leftright {
    padding-left: 0;
    padding-right: 0.5rem;
}
.sys-author-profile .bx-menu-custom.bx-menu-hor > li:first-child .bx-base-general-unit-meta-div {
    display: none;
}

/* --------------- Author Info */

video.bx-player-embed {
    width:100vw;
    height:100vh;
}
