
.bx-page-wrapper {
    margin:0 auto;
}

/* --------------- toolbar */

#bx-toolbar {
    position: fixed;
    width:100%;
    min-height: 60px;

    border-bottom: 2px solid #383d66;
    border-top: 1px solid #666;

    background-image: url(../images/bg-toolbar.png);
    background-repeat: repeat-x;
    background-color:#0764a7;

    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

#bx-toolbar-content {
    position: relative;
}

#bx-menu-toolbar-1-container,
#bx-menu-toolbar-2-container {
    padding-top:5px;
    width:35%;
}

#bx-menu-toolbar-1-container {
    float:left;
    text-align:left;
}

#bx-menu-toolbar-2-container {
    float:right;
    text-align:right;
}

#bx-logo-container {    
    float:left;
    width:30%;

    line-height: 60px;
    text-align: center; 
    text-shadow: 0px 0px 2px #000;
}

#bx-logo-container a {  
    color: #fff;
    text-decoration:none;
}  

/* --------------- menu bar */

#bx-menu-main-bar-wrapper {
    padding-top:60px;
    border-bottom:1px solid rgba(255, 255, 255, 0.8);
}

#bx-menu-main-bar {
    background-color:#ffffff;
    border-bottom:1px solid #d0d0d0;

    line-height:49px;

	-webkit-box-shadow: inset 0px -1px 0px rgba(128, 128, 128, 0.1);
	-moz-box-shadow: inset 0px -1px 0px rgba(128, 128, 128, 0.1);
	box-shadow: inset 0px -1px 0px rgba(128, 128, 128, 0.1);
}


/* --------------- content */



/* --------------- footer */

#bx-footer-copyright {
    float:right;
}

/* --------------- social buttons */

.bx-social-sharing .bx-social-sharing-btn:first-child {
    margin-top:0;
}

