
.bx-grid-table {
    width:100%;
    border-collapse:collapse;
}

.bx-grid-table-wrapper .bx-def-hr {
    margin:0;
}

.bx-grid-table .bx-grid-table-row-hr td:first-child,
.bx-grid-table .bx-grid-table-row-hr td {
    padding:0;
}

.bx-grid-table-row-trans {
   -webkit-transition:background-color 1s linear;
   -moz-transition:background-color 1s linear;
   -o-transition:background-color 1s linear;
   transition:background-color 1s linear;
}

.bx-grid-table .bx-grid-table-row-empty td {
    text-align:center;
}

.bx-grid-table th,
.bx-grid-table td { 
    padding-left:5px;
    padding-right:5px;
    text-align:left;
}
.bx-grid-table th:first-child,
.bx-grid-table td:first-child {
    padding-left:10px;
}

.bx-grid-actions-divider {
    float:left;
    text-align:center;
    width:4px;
}

div.bx-grid-drag-handle {
    display:none;
    width:16px;
    height:16px;

    color:#666666;
    line-height:18px;
    font-size:14px;

    cursor:move;
}


.bx-grid-gragging-row {    

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; 
    filter: alpha(opacity=90); 
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;

    -moz-box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
    box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);    
}

.bx-grid-table .bx-grid-drag-placeholder td {
    padding-left:0;
}


td:last-child .bx-grid-cell-single-actions-wrapper {
    float:right;
}

.bx-grid-table-wrapper td .bx-def-unit {
    margin:0;
}
