.bx-informer-icon {
    display: none;
}
.bx-informer-msg-info .bx-informer-icon-info,
.bx-informer-msg-alert .bx-informer-icon-alert,
.bx-informer-msg-error .bx-informer-icon-error {
    display: block;
}
.bx-informer-has-icon-plus .bx-informer-icon-info,
.bx-informer-has-icon-plus .bx-informer-icon-alert,
.bx-informer-has-icon-plus .bx-informer-icon-error {
    display: none;
}
.bx-informer-has-icon-plus .bx-informer-icon-plus {
    display: block;
}
