
.bx-informer-msg:first-child {
    margin-top:0;
}
.bx-informer-icon {
    display: none;
    vertical-align: top;
}
.bx-informer-msg-info .bx-informer-icon-info {
    display: inline-block;
}
.bx-informer-msg-alert .bx-informer-icon-alert {
    display: inline-block;
}
.bx-informer-msg-error .bx-informer-icon-error {
    display: inline-block;
}
