.bx-metatags-locations-map {
    position:relative;
    height:144px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.bx-metatags-locations-map-string {
    position:absolute;
    bottom:0;
    left:0;
    text-shadow:1px 1px 0.125rem #fff;
    background-color:rgba(255,255,255,0.7);
}
