@media (max-width:720px) {


.bx-def-media-phone-hide {
    display:none;
}
.bx-def-media-phone-show-block {
    display:block;
}


.bx-def-constraint-all *,
.bx-def-constraint-list ol, .bx-def-constraint-list ul,
.bx-def-constraint-pre pre,
.bx-def-constraint-object object,
.bx-def-constraint-iframe iframe,
.bx-def-constraint-img img {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    max-width:300px !important;
    overflow:hidden !important;
}
.bx-def-constraint-img img {
    height:auto !important;
}
.bx-def-constraint-pre pre {
    overflow:scroll !important;
}


/* default.css */ 

.bx-def-page-width {
    width:auto;
}

/* common.css */

.bx-popup-width {
	width:auto;
}

/* page layouts */

.bx-layout-col {
    float:none !important;
    width:auto !important;
}

.bx-layout-cell {
    padding:0 !important;
}

/* menu.css */

ul.bx-menu-toolbar li a span {
    display:none;
}

} /* @media end */
