@media (min-width:1024px) {

html {
    font-size:100%;
}

.bx-def-media-desktop-hide {
    display:none;
}
.bx-def-media-desktop-show-block {
    display:block;
}


.bx-def-constraint-all *,
.bx-def-constraint-list ol, .bx-def-constraint-list ul,
.bx-def-constraint-pre pre,
.bx-def-constraint-object object,
.bx-def-constraint-iframe iframe,
.bx-def-constraint-img img {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    max-width:900px !important;
    overflow:hidden !important;
}
.bx-def-constraint-pre pre {
    overflow:scroll !important;
}


} /* @media end */
