
html.bx-media-desktop {
    font-size:100%;
}

/* never visible - used to check MQ */
.bx-media-desktop body::before {
    display: none;
    content: 'desktop';
}

.bx-media-desktop .bx-def-media-desktop-hide {
    display:none !important;
}
.bx-media-desktop .bx-def-media-desktop-show-block {
    display:block;
}


.bx-media-desktop .bx-def-constraint-all *,
.bx-media-desktop .bx-def-constraint-list ol, .bx-def-constraint-list ul,
.bx-media-desktop .bx-def-constraint-object object,
.bx-media-desktop .bx-def-constraint-iframe iframe,
.bx-media-desktop .bx-def-constraint-img img {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    max-width:900px !important;
    overflow:hidden !important;
}
.bx-media-desktop .bx-def-constraint-img img  {
    max-width:100% !important;
    height: auto !important;
}
