
html.bx-media-phone {
    font-size:85%;
}

/* never visible - used to check MQ */
.bx-media-phone body::before {
  display: none;
  content: 'mobile';
}

.bx-media-phone .bx-def-media-phone-hide {
    display:none !important;
}
.bx-media-phone .bx-def-media-phone-show-block {
    display:block;
}


.bx-media-phone .bx-def-constraint-all *,
.bx-media-phone .bx-def-constraint-list ol, .bx-def-constraint-list ul,
.bx-media-phone .bx-def-constraint-object object,
.bx-media-phone .bx-def-constraint-iframe iframe,
.bx-media-phone .bx-def-constraint-img img {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    max-width:100% !important;
    overflow:hidden !important;
}
.bx-media-phone .bx-def-constraint-img img {
    height:auto !important;
}


/* default.css */ 

.bx-media-phone .bx-def-page-width {
    width: auto;
}

.bx-media-phone .bx-pt-application .bx-main-content.bx-def-page-width {
    width: 100%;
}

.bx-media-phone .bx-page-wrapper.bx-def-padding-sec-leftright {
    padding-left: 0px;
    padding-right: 0px;
}


/* general.css */
.bx-media-phone .bx-main:not(.bx-pt-application) #bx-toolbar-content .bx-toolbar-item.bx-ti-logo {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}
.bx-media-phone #bx-footer-wrapper {
    height: auto;
}

/* common.css */

.bx-media-phone .bx-popup-responsive.bx-popup-trans-wrapper:not(.bx-popup-image-wrapper),
.bx-media-phone .bx-popup-responsive:not(.bx-popup-image-wrapper) .bx-popup-trans,
.bx-media-phone .bx-popup-responsive:not(.bx-popup-image-wrapper):not(.bx-popup-chain).bx-popup-applied,
.bx-media-phone .bx-popup-responsive .bx-popup-box {
    position:fixed !important;
    top:0 !important;
    left:0 !important;
    bottom:0 !important;
    right:0 !important;
    width:100%;
    width:100vw;
    height:100%;
    height:100vh;
    overflow:auto;
}

.bx-media-phone .bx-popup-responsive,
.bx-media-phone .bx-popup-responsive .bx-popup-trans > div,
.bx-media-phone .bx-popup-responsive .bx-popup-box > div {
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
}

.bx-media-phone .bx-popup-responsive.bx-popup-image-wrapper:not(.foo) .bx-popup-border,
.bx-media-phone .bx-popup-responsive.bx-popup-trans-wrapper:not(.foo) .bx-popup-border,
.bx-media-phone .bx-popup-responsive.bx-popup-box-wrapper:not(.foo) .bx-popup-border {
    border:none;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
}

.bx-media-phone .bx-popup-responsive.bx-popup-image-wrapper .bx-popup,
.bx-media-phone .bx-popup-responsive.bx-popup-trans-wrapper .bx-popup,
.bx-media-phone .bx-popup-responsive.bx-popup-box-wrapper .bx-popup {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
    box-shadow:none;
}

.bx-media-phone .bx-popup-width {
    width:100%;
}

.bx-media-phone .bx-popup-responsive#bx-popup-alert,
.bx-media-phone .bx-popup-responsive#bx-popup-confirm,
.bx-media-phone .bx-popup-responsive#bx-popup-prompt {
    max-width: none;
}

/* page layouts */

/* menu.css */

.bx-media-phone ul.bx-menu-toolbar li a span.bx-menu-toolbar-item-title,
.bx-media-phone #bx-menu-toolbar-2-container ul.bx-menu-toolbar li a span.bx-menu-toolbar-item-title {
    display:none;
}

/* loading indicator */
.bx-media-phone .bx-btn .bx-loading-ajax-btn {
	margin-top: 2px;
	margin-bottom: 2px;
}
.bx-media-phone .bx-btn.bx-btn-small .bx-loading-ajax-btn {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* grid.css */

html.bx-media-phone .bx-grid-table-wrapper-responsive .bx-grid-table-wrapper {
    overflow-x:scroll;
}
html.bx-media-phone .bx-grid-table-wrapper-responsive .bx-grid-table {
    min-width:720px;
}
html.bx-media-phone .bx-grid-table-wrapper-responsive.bx-grid-table-wrapper2:before,
html.bx-media-phone .bx-grid-table-wrapper-responsive.bx-grid-table-wrapper2:after {
    display:block;
}


/* score.css */
.bx-media-phone div.bx-score-by-list div.bx-score-by-list-cnt {
	max-height: none;
}

/* general.css Post Form */
.bx-media-phone .sys-cpf-submenu .sys-cpf-submenu-item > div {
    display: block;
    text-align: center;
}


/* modules/base/profile|main.css - Profile Cover */
.bx-media-phone .bx-base-pofile-cover .bx-base-pofile-cover-info {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}
.bx-media-phone .bx-base-pofile-cover .bx-base-pofile-cover-info .bx-base-pofile-cover-user {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}
.bx-media-phone .bx-base-pofile-cover .bx-base-pofile-cover-info .bx-base-pofile-cover-user h1.bx-def-unit-info {
    padding-left: 0;
}
.bx-media-phone .bx-base-pofile-cover .bx-base-pofile-cover-info .bx-base-pofile-cover-actions {
    -webkit-flex-grow: 2;
    flex-grow: 2;

    width: 100%;
    max-width: none;
    margin-right: 0;
    padding-right: 0;    
}
.bx-media-phone .bx-base-pofile-cover .bx-base-pofile-cover-info .bx-base-pofile-cover-actions ul.bx-menu-hor.bx-menu-more-auto {
    -webkit-justify-content: center;
    justify-content: center;
}

.bx-media-phone .bx-base-pofile-cover .bx-base-pofile-cover-info .bx-base-pofile-cover-actions .bx-btn u {
    display: none;
}
