@media (min-width:720px) and (max-width:1024px) {

html {
    font-size:100%;
}

.bx-def-media-tablet-hide {
    display:none;
}
.bx-def-media-tablet-show-block {
    display:block;
}


.bx-def-constraint-all *,
.bx-def-constraint-list ol, .bx-def-constraint-list ul,
.bx-def-constraint-pre pre,
.bx-def-constraint-object object,
.bx-def-constraint-iframe iframe,
.bx-def-constraint-img img {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    max-width:500px !important;
    overflow:hidden !important;
}
.bx-def-constraint-pre pre {
    overflow:scroll !important;
}


/* default.css */

.bx-def-page-width {
    width:auto;
}


} /* @media end */
