
/* --------------- menu footer */

#bx-menu-footer {
    float:left;
}

/* --------------- horizontal menu */

ul.bx-menu-hor {
    padding:0;
    margin:0;
    list-style:none;
}

.bx-menu-hor li {
    float:left;
    margin-left:20px;
}

.bx-menu-hor li:first-child {
    margin-left:0px;
}

.bx-menu-hor li a {
    display:block;
    text-decoration:none;
}

.bx-menu-hor li.bx-menu-tab-active a {
    color:#000;
}

/* --------------- vertical menu */

ul.bx-menu-ver {
    padding:0;
    margin:0;
    list-style:none;
}

.bx-menu-ver li {
    margin-top:3px;
}

.bx-menu-ver li:first-child {
    margin-top:0px;
}

.bx-menu-ver li:hover {
    opacity:0.8;
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
}

.bx-menu-ver li:active,
.bx-menu-ver li.bx-menu-tab-active {
    opacity:1.0;
    -moz-box-shadow:  inset 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:  inset 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

.bx-menu-ver li a {
    display:block;
    text-decoration:none;
}

.bx-menu-ver li.bx-menu-tab-active a {
    color:#000;
}

.bx-menu-ver li img {
    width:16px;
    height:16px;
    background-position:center center;
    background-repeat:no-repeat;
    vertical-align:bottom;
}

.bx-menu-ver li .sys-icon {

    display:inline-block;
    width:16px;

    text-align:center;
    font-size:16px;

}

.bx-menu-ver .bx-def-hr {
    margin:0;
}

/* --------------- vertical menu lite */

ul.bx-menu-verlit {
    padding:0;
    margin:0;
    list-style:none;
}

.bx-menu-verlit li {

}

.bx-menu-verlit li:first-child {
    margin-top:0px;
}

.bx-menu-verlit li a {
    display:block;
    text-decoration:none;
}

.bx-menu-verlit li.bx-menu-tab-active a {
    color:#000;
}

.bx-menu-verlit li img {
    width:24px;
    height:24px;
    background-position:center center;
    background-repeat:no-repeat;
    vertical-align:middle;
}

/* --------------- main menu */

#bx-menu-main-submenu,
#bx-menu-main {
    float:left;
}

.bx-menu-main-submenu-div {
    width:0px;
    height:100%;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #ffffff;
    border-left: 1px solid rgba(200, 200, 200, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
}

ul.bx-menu-main-submenu,
ul.bx-menu-main {
    padding:0;
    margin:0;
    list-style:none;
}

.bx-menu-main-submenu li,
.bx-menu-main li {
    float:left;
    margin:0;
}

.bx-menu-main li span,
.bx-menu-main li .sys-icon,
.bx-menu-main-submenu li a {
    text-decoration:none;
    vertical-align:middle;
}
.bx-menu-main li .sys-icon {
    font-size:32px;
}

.bx-menu-main-submenu li.bx-menu-tab-active a,
.bx-menu-main li span {
    color:#000;
}

/* --------------- toolbar menu */

#bx-menu-toolbar-1-container .bx-menu-toolbar {
    float:left;
}

#bx-menu-toolbar-2-container .bx-menu-toolbar {
    float:right;
}

.bx-menu-toolbar {
    list-style:none;
    margin:0 0 0 0;
    padding:0;
}
ul.bx-menu-toolbar li {
    float:left;
    margin:0px;
} 

ul.bx-menu-toolbar li a {
    position:relative;
    display:block;
    min-width:32px;
    line-height:34px;

    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration:none;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
}

ul.bx-menu-toolbar li:first-child a {
    margin-left:0;
}

ul.bx-menu-toolbar li img {
    width:32px;
    height:34px;
    background-position:center center;
    background-repeat:no-repeat;
}

ul.bx-menu-toolbar li .sys-icon {    
    display:inline-block;
    width:48px;
    height:41px;
    padding-top:7px;
    vertical-align:middle;
    font-size:32px;
    text-align:center;
    
    text-shadow: 0px 0px 2px #000;
}

ul.bx-menu-toolbar li:hover .sys-icon {
    background-color:rgba(255, 255, 255, 0.05);

    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
    
    text-shadow: 0px 0px 1px #000;
}

ul.bx-menu-toolbar li.bx-menu-tab-active .sys-icon,
ul.bx-menu-toolbar li:active .sys-icon {      
    height:40px;
    padding-top:8px;

    background-color:rgba(0, 0, 0, 0.05);

    -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    
    text-shadow: 0px 0px 1px #000;
}


/* --------------- floating blocks menu */

ul.bx-menu-floating-blocks {
    padding:0;
    margin:0;
    list-style:none;    
}

.bx-menu-floating-blocks li {
    display: inline-block;
    /* For IE 7 */
    zoom: 1;
    *display: inline;
    vertical-align:top;    

    width:170px;
    height:170px;
}

.bx-menu-floating-blocks li:hover {
    opacity:0.8;
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
}

.bx-menu-floating-blocks li:active,
.bx-menu-floating-blocks li.bx-menu-tab-active {
    opacity:1.0;
    -moz-box-shadow:  inset 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:  inset 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

.bx-menu-floating-blocks li a {
    display:block;
    text-decoration:none;
}

.bx-menu-floating-blocks li.bx-menu-tab-active a {
    color:#000;
}

.bx-menu-floating-blocks li img {
    display:block;
    width:128px;
    height:128px;

    margin:10px 34px 5px 20px;

    background-position:center center;
    background-repeat:no-repeat;
}

.bx-menu-floating-blocks li .sys-icon {

    display:block;
    width:128px;
    height:128px;
    line-height:128px;

    margin:15px 34px 0px 20px;

    text-align:center;
    vertical-align:bottom;
    font-size:142px;
}

.bx-menu-floating-blocks-title {
    text-align:center;
}


/* --------------- interactive block menu */
ul.bx-menu-inter {
	padding:0;
    margin:0;
	list-style:none;
}
ul.bx-menu-inter li {
    float:left;
}
li.bx-menu-inter-div {
	padding: 0px 3px;
}
li.bx-menu-inter-div:first-child {
	display: none;
}
li.bx-menu-inter-act {}
li.bx-menu-inter-pas {}
li.bx-menu-inter-hidden {
	display: none;
}
