
.bx-paginate {
    clear:both;
    line-height:38px;
    line-height:2.375rem;
}
.bx-paginate-simple {
    line-height:22px;
    line-height:1.375rem;
}

.bx-paginate-btns,
.bx-paginate-info {
    float:left;
}

.bx-paginate-view-all {
    float:right;
}

.bx-paginate-btn-next {
    margin-left:5px;
    margin-left:0.3rem;
}

