/*--- Comment Voted By ---*/
div.bx-score-by-list {}
div.bx-score-by-list-cnt {
	max-height: 200px;
	max-height: 12.5rem;
	min-width: 220px;
	min-width: 13.75rem;
	overflow: auto;
}
div.bx-score-by-list div.bx-base-pofile-unit {
	float: none;
	margin-right: 0px;
	margin-bottom: 0px;
}
div.bx-score-by-item {
	display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
	flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
div.bx-score-by-item .bx-score-bi-user,
div.bx-score-by-item .bx-score-bi-info,
div.bx-score-by-item .bx-score-bi-vote {
	-webkit-flex: 0 1 auto; 
    -ms-flex: 0 1 auto; 
    flex: 0 1 auto;
}
div.bx-score-by-item .bx-score-bi-info {
	-webkit-flex-grow: 3; 
    flex-grow: 3;
}
div.bx-score-by-item .bx-score-bi-vote {
	width: 1.25rem;
    height: 1.25rem;
}

/*--- Vote Element Styles ---*/
div.bx-score-element-holder,
div.bx-score-counter-holder {
	position: relative;
	float: left;

	line-height: 20px;
    line-height: 1.25rem;
}

.bx-score-button .bx-score-element-holder,
.bx-score-button .bx-score-counter-holder {
	line-height: 36px;
	line-height: 2.2rem;
}

.bx-score-button-small .bx-score-element-holder,
.bx-score-button-small .bx-score-counter-holder {
	line-height: 24px;
	line-height: 1.6rem;
}

.bx-score-element-holder .bx-score-do-vote.bx-score-disabled,
.bx-score-element-holder .bx-score-do-vote.bx-score-disabled .sys-icon {
	color: #ddd;
}

.bx-score:not(.bx-score-button):not(.bx-score-button-small) .bx-score-counter-holder.bx-btn-border {
    border-width: 0px;
}

.bx-score-button .bx-score-counter-holder,
.bx-score-button-small .bx-score-counter-holder {
	font-size: 1.5rem;
}
