/*-- Search extended custom fields --*/
.bx-form-input-wrapper-location-radius > div{
    display:inline-block;
}
.bx-form-input-wrapper-location-radius > div:first-child{
    width:70%;
}
.bx-form-input-wrapper-location-radius > div:last-child{
    width:29%;
}