
/*--- General ---*/

@media (max-width:1024px) {
    #bx-menu-main-bar-wrapper,
    #bx-toolbar {
        display:none;
    }
    #bx-content-wrapper {
        border:none;
    }
}

#bx-content-wrapper {
	padding-top: 0px;
    padding-bottom: 4rem;
}

.bx-page-wrapper,
#bx-content-container,
#bx-content-main {
	width: 100vw;
	margin: 0px;
	padding: 0px;
}

/*--- Splash ---*/

.bx-splash {
	position: relative;
}

.bx-spl-preload {
	position: absolute;

	top: 0px;
	left: 0px;
	width: 1px;
	height: 1px;

	overflow: hidden;
}

.bx-spl-slide {
	position: relative;
	display: block;

	overflow: hidden;
}

.bx-spl-bg {
	position: relative;

	width: 100%;
	height: 100%;
}

.bx-spl-container {
	position: relative;

	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.bx-spl-content {
	position: relative;
    width:100%;
}

.bx-spl-slide .bx-spl-content h1 {
	font-size: 2.25rem;
}

.bx-spl-slide .bx-spl-content h3 {
	font-size: 1.5rem;
}

.bx-spl-white-text-all * {
    color: #fff;
}

/*--- Join button ---*/

.bx-spl-join,
.bx-spl-join {
	display: inline-block;
	border-color: #fff;
}
.bx-spl-join a,
.bx-spl-join a {
	display: block;
	padding-left: 3.75rem;
	padding-right: 3.75rem;
	text-decoration: none;
}

/*--- Slides ---*/

#bx-spl-slide01 .bx-spl-container,
#bx-spl-slide03 .bx-spl-container {
	position: absolute;
	display: -webkit-flex;
	display: flex;
    -webkit-align-items: center;
	align-items: center;
}
#bx-spl-slide01 .bx-spl-content,
#bx-spl-slide03 .bx-spl-content {
	text-align: center;
	text-shadow: 0px 0px 0.25rem #000;
}
#bx-spl-slide02 .bx-spl-content h3,
#bx-spl-slide04 .bx-spl-content h3 {
	text-align: center;
}

/*--- Slide 1 ---*/

#bx-spl-slide01 {
    width:100vw;
    height:100vh;
}
#bx-spl-slide01 .bx-spl-bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#bx-spl-slide01 .bx-spl-slide-video {
    object-fit: cover;

	width: 100vw;
	height: 100vh;
}

/*--- Slide 2 ---*/

#bx-spl-slide02 .bx-spl-bg {
	background-color: #fff;
    height: 35vw;
    max-height:400px;
}
#bx-spl-slide02 .bx-spl-image {
    position: absolute;
	width: 60%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
#bx-spl-slide02 .bx-spl-content {
	position: absolute;
	display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;

	top: 0px;
	right: 0px;
	width: 40%;
	height: 100%;
}
@media (max-width:720px) {
    #bx-spl-slide02.bx-spl-slide .bx-spl-content h3 {
	    font-size: 0.8rem;
    }
}

/*--- Slide 3 ---*/

#bx-spl-slide03 {
    width:100vw;
    height:150vh;
}
#bx-spl-slide03 .bx-spl-bg {
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:100%;
}

/*--- Slide 4 ---*/

#bx-spl-slide04 {
    width:100vw;
    height:100vh;
}
#bx-spl-slide04 .bx-spl-bg {
    background-color:#fff;
}
#bx-spl-slide04 .bx-spl-container {
	display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#bx-spl-slide04 .bx-spl-content {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width:720px) {
    #bx-spl-slide04 .bx-spl-content {
	    width: 90%;
    }
}
#bx-spl-slide04 .bx-spl-content h3 {
	margin-top: 0px;
	margin-bottom: 2rem;
}
