/*--- General ---*/
.bx-main #bx-content-wrapper {
	padding-top: 0px;
}

.bx-main .bx-page-wrapper,
.bx-main #bx-content-container,
.bx-main #bx-content-main {
	width: 100%;
	margin: 0px;
	padding: 0px;	
}

/*--- Splash ---*/
.bx-splash {
	position: relative;
}

.bx-spl-preload {
	position: absolute;

	top: 0px;
	left: 0px;
	width: 1px;
	height: 1px;

	overflow: hidden;
}

.bx-spl-slide {
	position: relative;
	display: block;
}

.bx-spl-bg {
	position: relative;

	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.bx-spl-container {
	position: relative;

	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	overflow: hidden;
}

.bx-spl-content {
	position: relative;
}

.bx-spl-slide .bx-spl-content h1 {
	font-size: 36px;
	font-size: 2.25rem;
}
.bx-spl-slide .bx-spl-content h3 {
	font-size: 24px;
	font-size: 1.5rem;
}

/*--- Slide 1 ---*/
#bx-spl-slide01 .bx-spl-bg {
	width: 100%;
	height: auto;

	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('../images/cover01.jpg');
}
#bx-spl-slide01 .bx-spl-slide-video {
	position: relative;
	display: block;

	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
}
#bx-spl-slide01 .bx-spl-container,
#bx-spl-slide03 .bx-spl-container {
	position: absolute;
	display: -webkit-flex;
    -webkit-align-items: center;
	display: flex;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.4);
}
#bx-spl-slide01 .bx-spl-content,
#bx-spl-slide03 .bx-spl-content {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#bx-spl-slide01 .bx-spl-content h1,
#bx-spl-slide01 .bx-spl-content h3,
#bx-spl-slide01 .bx-spl-content .bx-spl-join a,
#bx-spl-slide02 .bx-spl-content h3,
#bx-spl-slide03 .bx-spl-content h3,
#bx-spl-slide03 .bx-spl-content .bx-spl-join a,
#bx-spl-slide04 .bx-spl-content h3  {
	color: #ffffff;	
}
#bx-spl-slide01 .bx-spl-content .bx-spl-join,
#bx-spl-slide03 .bx-spl-content .bx-spl-join {
	display: inline-block;
	padding-left: 60px;
	padding-right: 60px;
	border-color: #ffffff;
}

/*--- Slide 2 ---*/
#bx-spl-slide02 .bx-spl-bg {
	background-color: #ffffff;
}
#bx-spl-slide02 .bx-spl-image {
	position: relative;
	bottom: -100%;
	left: 0px;
	width: 50%;
	text-align: center;
}
#bx-spl-slide02 .bx-spl-image img {
	display: block;
	width: 100%;
}
#bx-spl-slide02 .bx-spl-content {
	position: absolute;
	display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;

	top: 0px;
	right: 0px;
	width: 50%;
	height: 100%;
}
#bx-spl-slide02 .bx-spl-content h3,
#bx-spl-slide04 .bx-spl-content h3 {
	text-align: center;
	color: #333333;
}

/*--- Slide 3 ---*/
#bx-spl-slide03 .bx-spl-bg img {
	display: block;
	width: 100%;
	heigh: auto;
}

#bx-spl-slide03 .bx-spl-container.bx-splc-init {
	position: absolute;
	top: 0px;
}
#bx-spl-slide03 .bx-spl-container.bx-splc-start {
	position: fixed;
}
#bx-spl-slide03 .bx-spl-container.bx-splc-stop {
	position: absolute;
	top: initial;
	bottom: 0px;
}

/*--- Slide 4 ---*/
#bx-spl-slide04 .bx-spl-container {
	display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#bx-spl-slide04 .bx-spl-content {
	width: 40%;
}
#bx-spl-slide04 .bx-spl-content h3 {
	margin-top: 0px;
	margin-bottom: 60px;
	margin-bottom: 3.75rem;
}