
.bx-uploader-msg-err {
    color:#900;
}
.bx-uploader-ghost{
    max-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 0.5rem;
}
.bx-uploader-ghost.bx-uploader-ghost-single{
    width: auto;
}
.bx-uploader-ghost-cnt{
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 150px;
    min-height: 40px;
}

.bx-form-input-files-result{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.bx-base-general-icon-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}
.bx-base-general-uploader-ghost{
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    grid-gap: 0.5rem;
}
.bx-base-general-uploader-ghost .bx-btn.bx-btn-small{
    height: auto !important;
    line-height: normal !important;
    min-height: 30px;
    display: flex;
    padding: 0 0.5rem;
    margin: 0px;
}

.bx-uploader-ghost-preview {
    width:101px; 
    float:left;
}

.bx-uploader-ghost-preview img {
    width:101px;
    min-height:20px;
    background-image:url(../images/loading-spinner.gif);
    background-repeat:no-repeat;
    background-position:center center;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
}

.bx-uploader-ghost-form-filename {

}
 
.bx-uploader-ghost-form-actions {
}

/* simple uploader */

.bx-uploader-simple-file {
    margin-bottom:5px;
}

/* html5 filepond uploader */
.bx-uploader-html5-drop-area .filepond--item {
    width: calc(33% - 0.5em);
}
.filepond--panel-root{
    background: none !important;
}
.filepond--panel-center.filepond--panel-root{
    visibility: visible !important;
    transform: translate3d(0px, 8px, 0px) scale3d(1, 0.6, 1);
}
.filepond--panel-bottom.filepond--panel-root{
    transform: translate3d(0px, 68px, 0px);
}
.bx-uploader-html5-drop-area{
    max-height: 30em;
}
.filepond{
    min-height: 76px;
    margin-bottom: 0px !important;
}
.bx-uploader-html5-drop-area.filepond .dz-message {
    margin:3.5em 0;
}
.bx-uploader-html5-errors-area {
    max-height:2.75rem;
    overflow-y:auto;
}
.bx-uploader-html5-paste-catcher {
    width:0; 
    height:0;
    border:none;
    margin:0;
    padding:0;
}

.border-dashed {
    border-style: dashed;
}
.rounded-lg {
    border-radius: .5rem;
}

/* crop uploader */

.bx-popup-content-wrapped .bx-croppie-element {
    padding:0;
    min-height:340px;
}


/* record video uploader */

.bx-uploader-record-video-controls {
    text-align: center;
    display: none;
}
.bx-uploader-record-video-controls .bx-btn {
    float: none;
    display: inline-block;
}

.bx-uploader-recording-stop {
    display: none;
}

#bx-upoloader-recording-preview {
    display: none;
}

.bx-record-video-preview-filesize {
    text-align: center;
    margin: 0.2rem 0;
}
.bx-record-camera-switch {
    margin-bottom: 0.5rem;
    text-align: right;
    display: none;
}

@keyframes bx-uploader-recording-animation {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.bx-uploader-recording-blinking-circle {
    animation-name: bx-uploader-recording-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}