.bx-vote .sys-action-element-holder .sys-action-do-icon svg,
.bx-vote-counter .bx-vote-counter-label .bx-vote-counter-icon svg {
    width: 1.25rem;
    height: 1.25rem;
}
.bx-vote .bx-vote-counter .bx-vote-counter-label {
    padding: 0;
}
.bx-vote .bx-vote-counter .bx-vote-counter-label .bx-vote-counter-text {
    margin: 0;
}

/*----------------------------------*/
/*--- Likes based Element Styles ---*/
/*----------------------------------*/
.bx-vote-counter-likes span.bx-vote-counter-text {
    width: auto;
    height: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*--------------------------------------*/
/*--- Reactions based Element Styles ---*/
/*--------------------------------------*/
.bx-vote-counter-wrapper-reactions .bx-vote-counter {
    display: inline-block;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound {
    position: relative;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound .bx-vote-counter {
    display: block;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-divided a.bx-vote-counter {
    margin-right: 0.5rem;
}
.bx-media-phone .bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound .sys-ac-link,
.bx-media-tablet .bx-layout-column-thin .bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound .sys-ac-link,
.bx-media-tablet .bx-layout-column-half .bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound .sys-ac-link {
    padding-left: 1.0rem;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound a.bx-vote-counter.total-count,
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter.total-count {
    width: auto;
    height: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound a.bx-vote-counter.total-count .sys-action-counter-text:first-child,
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter.total-count .sys-action-counter-text:first-child {
    margin-left: 0;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter:not(.total-count) {
    margin-left: -0.5rem;
}
.bx-media-phone .bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter:not(.total-count),
.bx-media-tablet .bx-layout-column-thin .bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter:not(.total-count),
.bx-media-tablet .bx-layout-column-half .bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter:not(.total-count) {
    margin-left: -0.75rem;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound .bx-vote-counter-label {
    padding: 0;
}
.bx-vote-counter-wrapper-reactions.bx-vote-counter-wrapper-reactions-compound span.bx-vote-counter:not(.total-count) span.bx-vote-counter-text {
    display: none;
}
.bx-vote-counter-wrapper-reactions.bx-vc-hidden,
.bx-vote-counter-wrapper-reactions .bx-vote-counter.bx-vc-hidden {
    display: none;
}
.bx-menu-object-sys_vote_reactions_do li.bx-menu-item {
    padding: 0.25rem;
}
.bx-menu-object-sys_vote_reactions_do li.bx-menu-item .sys-icon {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
}

/*----------------------------------*/
/*--- Stars based Element Styles ---*/
/*----------------------------------*/
.bx-vote-stars {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.bx-vote-stars .bx-vote-element-holder a.bx-vote-button,
.bx-vote-stars .bx-vote-element-holder i.bx-vote-star,
.bx-vote-stars .bx-vote-element-holder span.bx-vote-star {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 1rem;
    width: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*--- Voted By ---*/
div.bx-vote-by-list {}
div.bx-vote-by-list-cnt {
    max-height: 12.5rem;
    min-width: 13.75rem;
    overflow: auto;
}
div.bx-vote-by-list div.bx-base-pofile-unit {
    float: none;
    margin-right: 0px;
    margin-bottom: 0px;
}
.bx-vote-bls-header {
    display: -webkit-flex;
    display: flex;

    margin: -1.25rem -1.25rem 0 -1.25rem;
}
.bx-vote-bls-content {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.bx-vote-bls-title,
.bx-vote-bls-submenu {
    -webkit-flex: 0 1 auto; 
    -ms-flex:  0 1 auto; 
    flex:  0 1 auto;
    line-height: 3.125rem;
}
.bx-vote-bls-title,
.bx-vote-bls-submenu-cnt,
.bx-vote-bls-filler {
    height: 3.125rem;
}
.bx-vote-bls-title,
.bx-vote-bls-filler {
    -webkit-flex-grow: 3;
    flex-grow: 3;

    border-bottom: 2px solid rgba(232, 232, 232, 1.0);
}
.bx-vote-bls-title {
    display: none;

    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
}
.bx-vote-bls-submenu {
    overflow-x: auto;
    overflow-y: hidden;

    -webkit-overflow-scrolling: touch;
}
.bx-vote-bls-submenu-cnt {
    box-sizing: border-box;
    padding: 0 0.5rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.bx-vote-bls-submenu::-webkit-scrollbar {
    width: 0.5rem;
}
.bx-vote-bls-submenu::-webkit-scrollbar-track {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;

    background-color: rgba(0, 0, 0, 0.1); 
}
.bx-vote-bls-submenu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;

    background: rgba(255, 255, 255, 0.9); 
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.bx-vote-bls-submenu::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4); 
}
.bx-vote-bls-submenu-cnt ul {
    display: -webkit-flex;
    display: flex;
}
.bx-vote-bls-submenu-cnt ul li {
    -webkit-flex: 0 1 auto; 
    -ms-flex:  0 1 auto; 
    flex:  0 1 auto;
    box-sizing: border-box;
    height: 3.125rem;

    border-bottom: 2px solid transparent;
    border-radius: 0;

    line-height: 3.0rem;
    white-space: nowrap;
}
.bx-vote-bls-submenu-cnt ul li .bx-stl-mil,
.bx-vote-bls-submenu-cnt ul li .bx-stl-mil-wo-gaps {
    border-width: 0;
}
.bx-vote-bls-submenu-cnt ul li.bx-menu-inter-pas .bx-menu-item-cnt,
.bx-vote-bls-submenu-cnt ul li.bx-menu-inter-act .bx-menu-item-inter {
    line-height: 3.0rem;
}
.bx-vote-bls-submenu-cnt ul li a.bx-menu-item-inter,
.bx-vote-bls-submenu-cnt ul li div.bx-menu-item-inter {
    padding-top: 0;
    padding-bottom: 0;
}
.bx-vote-bls-submenu-cnt ul li.bx-menu-inter-act > div {
    font-weight: bold;
}
.bx-vote-bls-content .bx-vote-by-list:not(.bx-vote-bl-summary) {
    display: none;
}
.bx-vote-bls-content .bx-vote-by-items {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.bx-vote-bls-content .bx-vote-by-item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.bx-vote-bls-content .bx-vote-by-item:first-child {
    padding-top: 1rem;
}
.bx-vote-bls-content .bx-vote-by-item:last-child {
    padding-bottom: 0;
}

.bx-vote-bls-content .bx-vote-by-item:before,
.bx-vote-bls-content .bx-vote-by-item:after {
    display: none;
}