<div class="bx-sidebar bx-sidebar-account bx-def-z-index-modal fixed flex justify-end inset-0" role="dialog" aria-modal="true">
    <div class="bx-sidebar-account-bg fixed inset-0 bg-gray-600 opacity-75" aria-hidden="true"></div>
    <div class="flex-shrink-0 w-14" aria-hidden="true"></div>
    <div class="bx-sidebar-cnt relative flex max-w-xs w-full py-4 bg-white dark:bg-gray-900">
        <div class="absolute top-0 left-0 -ml-12 pt-2">
            <button type="button" class="bx-sidebar-account-close ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                <span class="sr-only"><bx_text:_bx_artificer_txt_close_sidebar /></span>
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <bx_if:color_scheme_switcher>
            <div class="bx-sb-theme-switcher absolute h-10 right-4 leading-10">
                <a class="hover:no-underline" href="javascript:" onclick="oBxArtificerUtils.getColorSchemeMenu()"><i class="sys-icon desktop"></i></a>
            </div>
            __popup__
        </bx_if:color_scheme_switcher>
        <div class="bx-menu-account-popup bx-menu-object-__ap_menu_object__ flex flex-col w-full">
            <bx_repeat:ap_menu_items>
                <div class="bx-menu-account-popup-__name__">__item__</div>
            </bx_repeat:ap_menu_items>
        </div>
    </div>
</div>