<form id="bx-oauth-form-add" name="bx-oauth-form-add" method="post">
    <table class="bx-def-bc-margin-thd" width="100%" cellpadding="5" cellspacing="0">
        <tr>
            <th></th>
            <th><bx_text:_Title /></th>
            <th><bx_text:_bx_oauth_client_id /></th>
            <th><bx_text:_bx_oauth_client_secret /></th>
            <th><bx_text:_URL /></th>
        </tr>
        <bx_repeat:clients>
            <tr>
                <td><input type="checkbox" class="form_input_checkbox" id="bx-oauth-client-__client_id__" name="clients[]" value="__client_id__" /></td>
                <td>__title__</td>
                <td>__client_id__</td>
                <td>__client_secret__</td>
                <td><a target="_blank" href="__redirect_uri__">__redirect_uri__</a></td>
            </tr>
        </bx_repeat:clients>
    </table>
    __controls__
</form>
