<div id="bx-auth-form" class="controlsDiv">
    <h3>__text__</h3>
    <form method="post" action="__url__">
        <input type="hidden" name="profile_id" id="bx-auth-profile-id" value="0" />
        <input type="hidden" name="client_id" value="__client_id__" />
        <input type="hidden" name="response_type" value="__response_type__" />
        <input type="hidden" name="redirect_uri" value="__redirect_uri__" />
        <input type="hidden" name="state" value="__state__" />
        <div class="bx-auth-form-profiles">
            __profiles__
        </div>
        <div class="bx-auth-form-buttons bx-def-margin-top">
            <button class="bx-btn" onclick="$('#bx-auth-profile-id').val(0); $('#bx-auth-form form').submit(); return false;"><bx_text:_Cancel /></button>
        </div>
    </form>
</div>
