<div id="__html_id__" class="__style_prefix__-item __class__">
    <a name="timeline-event-__id__"></a>
    <div class="__style_prefix__-item-ind bx-def-padding-sec">
        <div class="__style_prefix__-item-cnt bx-def-box bx-def-padding-topbottom bx-def-round-corners __class_content__">
            <div class="__style_prefix__-blink-plate"></div>
            <bx_if:show_note>
                <div class="__style_prefix__-item-notes">
                    <bx_repeat:notes>
                        <div class="__style_prefix__-item-note bx-def-margin-sec-top-auto bx-def-margin-leftright bx-def-font-grayed">
                            <div class="__style_prefix__-in-text<bx_if:show_note_color> col-__item_note_color__</bx_if:show_note_color>">__item_note__</div>
                        </div>
                    </bx_repeat:notes>
                </div>
                <div class="__style_prefix__-in-divider bx-def-hr bx-def-margin-sec-topbottom"></div>
            </bx_if:show_note>
            <div class="__style_prefix__-item-owner relative flex items-center mx-4 __class_owner__"> 
                <div class="__style_prefix__-owner-avatar bx-def-thumb-size flex-shrink-0">__item_owner_unit__</div>
                <div class="__style_prefix__-owner-info bx-def-thumb-size-min-height flex-auto flex flex-col items-start justify-center min-w-0 pl-2 lg:pl-4">
                    <div class="__style_prefix__-owner-name bx-def-font-middle bx-def-font-grayed">
                        <a href="__item_owner_url__" class="__style_prefix__-owner-name" title="__item_owner_title__">__item_owner_name__</a>
                        <bx_if:show_owner_actions>
                            <span class="__style_prefix__-owner-actions">
                                <bx_repeat:owner_actions>
                                    <span class="__style_prefix__-oa-div">&#183;</span><a class="__style_prefix__-owner-action" href="__href__" onclick="__onclick__" title="__title__"><i class="sys-icon __icon__"></i></a>
                                </bx_repeat:owner_actions>
                            </span>
                        </bx_if:show_owner_actions>
                    </div>
                    <div class="__style_prefix__-item-meta bx-def-font-middle bx-def-font-grayed">
                        <bx_if:show_menu_item_meta>
                            <span class="__style_prefix__-meta">__meta__</span>
                        </bx_if:show_menu_item_meta>
                        <bx_if:show_pinned>
                            <span class="__style_prefix__-pinned bx-def-margin-sec-left">
                                <i class="sys-icon thumbtack" title="<bx_text_attribute:_bx_timeline_txt_pinned />"></i>
                            </span>
                        </bx_if:show_pinned>
                        <bx_if:show_sticked>
                            <span class="__style_prefix__-sticked bx-def-margin-sec-left">
                                <i class="sys-icon thumbtack" title="<bx_text_attribute:_bx_timeline_txt_sticked />"></i>
                            </span>
                        </bx_if:show_sticked>
                        <bx_if:show_hot>
                            <span class="__style_prefix__-hot bx-def-margin-sec-left">
                                <i class="sys-icon fire" title="<bx_text_attribute:_bx_timeline_txt_hot />"></i>
                            </span>
                        </bx_if:show_hot>
                    </div>
                    <bx_if:show_manage>
                        <div class="__style_prefix__-item-manage">
                            <a href="javascript:void(0)" onclick="__onclick__">
                                <span class="bx-menu-item-icon bx-def-align-center"><i class="sys-icon ellipsis-v"></i></span>
                            </a>
                        </div>
                    </bx_if:show_manage>
                </div>
            </div>
            <bx_if:show_item_action>
                <div class="__style_prefix__-item-action bx-def-margin-lefttopright bx-def-font-middle bx-def-font-grayed">
                    <span>__item_owner_action__&nbsp;</span>
                    <bx_if:show_timeline_owner>
                        <span><bx_text:_bx_timeline_txt_to />&nbsp;</span> 
                        <span class="__style_prefix__-timeline-owner-name">
                            <bx_repeat:owners><span class="__style_prefix__-ton-div">, </span><a href="__owner_url__" class="__style_prefix__-ton-item">__owner_username__</a></bx_repeat:owners>
                        </span> 
                    </bx_if:show_timeline_owner>
                </div>
            </bx_if:show_item_action>
            <div class="__style_prefix__-item-content __style_prefix__-ic-__content_type__ bx-clearfix">__content__</div>
            <bx_if:show_location>
                <div class="__style_prefix__-item-location bx-def-margin-lefttopright bx-def-font-grayed bx-clearfix">__location__</div>
            </bx_if:show_location>
            <bx_if:show_fields>
                <div class="__style_prefix__-item-fields bx-def-margin-lefttopright bx-def-font-grayed bx-clearfix">__fields__</div>
            </bx_if:show_fields>
            <bx_if:show_menu_item_counters>
                <div class="__style_prefix__-item-activity __style_prefix__-ia-counters bx-def-margin-leftright bx-clearfix">__menu_item_counters__</div>
            </bx_if:show_menu_item_counters>
            <bx_if:show_menu_item_actions>
                <div class="__style_prefix__-item-activity-divider bx-def-hr bx-def-margin-top"></div>
                <div class="__style_prefix__-item-activity bx-def-margin-leftright bx-def-margin-top bx-clearfix">__menu_item_actions__</div>
            </bx_if:show_menu_item_actions>
            <div class="__style_prefix__-item-comments-holder bx-def-margin-leftright">__comments__</div>
        </div>
    </div>
</div>