<div class="bx_events_block_info">
    <div class="infoMain">
        <div class="memberPic">
            __author_thumb__
            <div class="thumb_username"><a href="__author_url__">__author_username__</a></div>
        </div>
        <div class="infoText">
            <div class="infoUnit">
                <img src="<bx_icon_url:clock.png />" />
                __date__ (__date_ago__)
            </div>
            <div class="infoUnit">
                <img src="<bx_icon_url:folder.png />" />
                __cats__
            </div>
            <div class="infoUnit">
                <img src="<bx_icon_url:tgs.png />" />
                __tags__
            </div>
            <div class="infoUnit bx_events_country_city">
                __flag_image__
                __country_city__
            </div>
        </div>
        <div class="clear_both"></div>
    </div>
</div>

__fields__

