<div class="sys_file_search_unit bx_events_unit">
    <div class="bx_sys_unit_checkbox">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>
    <div class="sys_file_search_pic" style="background-image: url(__thumb_url__);">
        <a href="__event_url__"><img src="__spacer__"/></a>
    </div>
    <div class="sys_file_search_title">
        <a href="__event_url__">__event_title__</a>
    </div>
    <div class="sys_file_search_from">
        __author_title__
        <a href="__author_url__">__author__</a>
    </div>
    <div class="sys_file_search_when">__event_start__</div>
</div>
