<div id="wall-event-__post_id__" class="bx-events-wall-event">
    <a name="wall-event-__post_id__"></a>
    <div class="bx-events-wall-caption" style="background-image:url(<bx_icon_url:wall_post_icon.png />)">
        <span class="bx-events-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__ <a class="bx-events-wall-caption-link" href="__cpt_item_url__">__cpt_object__</a>.&nbsp;
        <bx_if:post_delete>
            <a href="javascript:void(0)" onclick="javascript:__js_view_object__.deletePost(__post_id__);">__post_delete_txt__</a>.
        </bx_if:post_delete>
    </div>
    <div class="bx-events-wall-comments" id="wall-comment-__post_id__">
        __comments_content__
    </div>
</div>
