<ul class="bx-menu-ver bx-menu-object-sys_profile_stats space-y-2 bx-forum-category-list">
	<bx_repeat:cats>
		<li class="bx-menu-item-profile-stats-profile rounded-md __class__ bx-category-list-item bx-forum-category-list-item">
            <div class="bx-menu-item-cnt bx-stl-mil group">
                <a class="flex flex-2 items-center truncate" href="__url__">
                    <bx_if:show_icon>
                        <span class="bx-menu-item-icon bx-forum-icon bx-stl-mii group-hover:text-gray-700 dark:group-hover:text-gray-300">
                            __icon__
                        </span>
                    </bx_if:show_icon>
                    <span class="bx-menu-item-title bx-stl-mit">__name__</span>
                </a>
				<div class="bx-menu-addon bx-stl-mia flex-none group-hover:text-gray-800 dark:group-hover:text-gray-100">
                        <div class="bx-menu-addon-cnt">__num__</div>
				</div>
            </div>
        </li>
	</bx_repeat:cats>
</ul>