<div class="bx-forum-grid-preview">
    <div class="bx-def-font">
    	<bx_if:show_stick><i class="sys-icon thumb-tack" title="<bx_text_attribute:_bx_forum_txt_entry_sticked />"></i></bx_if:show_stick>
    	<bx_if:show_lock><i class="sys-icon lock" title="<bx_text_attribute:_bx_forum_txt_entry_locked />"></i></bx_if:show_lock>
    	<a href="__url__">__title__</a>
    </div>
    <div class="bx-def-font-middle">__text__</div>
    <div class="bx-def-font-small bx-def-font-grayed">__lr_time_and_replier__</div>
</div>
