<div class="group block hover:bg-gray-50 dark:hover:bg-gray-700/20" onClick="bx_click_area('__url__', event)">
    <div class="p-4">
        <div class="min-w-0 flex sm:items-top justify-between align-top">
            <div class="pr-4 flex-1 grow">
                <div class="flex flex-wrap space-y-2.5 px-0 items-start flex-col">                               
                    <div class=" flex text-lg flex-wrap  font-semibold text-gray-600 group-hover:text-gray-900 dark:text-gray-300 dark:group-hover:text-white">
                        <span class="leading-tight">                                    
                            <a href="__url__">__title__</a>
                                <span class="mr-1 inline-flex align-middle items-center -space-x-1 overflow-hidden">__participants__</span>
                                __badges__
                        </span>
                    </div>
                    <nav class="flex">
                        <div class="inline-flex flex-wrap text-xs font-medium gap-2">
                            <bx_if:meta_main>
                                <div class="bx-base-general-unit-meta bx-forum-gpm-main items-center flex">__content__</div>
                            </bx_if:meta_main>
                            <bx_if:meta_counters>
                                <div class="bx-base-general-unit-meta bx-forum-gpm-counters bx-def-media-phone-hide items-center flex">__content__</div>
                            </bx_if:meta_counters>
                        </div>
                    </nav>
                </div>
            </div>
            <bx_if:image>
              <img src="__image__" class="bg-cover sm:flex aspect-video h-16 rounded-md text-4xl align-top bg-black/10 dark:bg-white/10">
            </bx_if:image>  
        </div>
    </div>
</div>