<div class="bx-forum-grid-preview">
    <div class="bx-forum-gp-title bx-def-font">
    	<bx_if:show_stick><i class="sys-icon thumbtack" title="<bx_text_attribute:_bx_forum_txt_entry_sticked />"></i></bx_if:show_stick>
    	<bx_if:show_lock><i class="sys-icon lock" title="<bx_text_attribute:_bx_forum_txt_entry_locked />"></i></bx_if:show_lock>
    	<a class="bx-def-font-h3" href="__url__">__title__</a> __badges__
    </div>
    <div class="bx-forum-gp-text bx-def-font-middle bx-def-padding-thd-top">__text__</div>
    <div class="bx-forum-gp-meta bx-forum-gpm-bottom bx-def-font-small">
        <bx_if:meta_reply><div class="bx-base-general-unit-meta bx-forum-gpm-reply">__content__</div></bx_if:meta_reply>
    </div>
    <div class="bx-forum-gp-meta bx-forum-gpm-top bx-def-font-small">
        <bx_if:meta_main><div class="bx-base-general-unit-meta bx-forum-gpm-main">__content__</div></bx_if:meta_main>
        <bx_if:meta_counters><div class="bx-base-general-unit-meta bx-forum-gpm-counters bx-def-media-phone-hide">__content__</div></bx_if:meta_counters>
    </div>
</div>
