<div id="bx-forum-form-submit-text" class="bx-forum-form-submit-text bx-def-margin-left bx-def-font-grayed"></div>
<div class="clear_both"></div>

<script>
    $(document).ready(function() {

        setInterval(function () {
            var $oDiv = $('#bx-forum-form-submit-text');
            var $oForm = $oDiv.parents('form');

            var oData = {};
            oData['draft_save'] = 1;
            oData[$oForm.find('[type=submit]').attr('name')] = 1;

            var fOnResult = function (data) {
            	if(typeof(data) == 'undefined' || parseInt(data) <= 0 ) {
            		$oDiv.html(_t('_bx_forum_draft_saving_error'));
            		return;
            	}

				$("input[name='draft_id']").val(parseInt(data));
				$oDiv.html('<span>' + _t('_bx_forum_draft_saved_success') + '</span>');
				setTimeout(function () {
					$oDiv.find('span').fadeOut();
				}, 3000);
            };

            $oForm.ajaxSubmit({
                url: document.location.href,
                data: oData,
                beforeSubmit: function (formData, jqForm, options) {
					//--- don't save empty drafts
                    for (var i=0; i < formData.length; i++) 
                        if(formData[i].name == 'text' && !formData[i].value.length)
                            return false;

                    return true;
                },         
                error: fOnResult, 
                success: fOnResult
            }); 
        }, 10000);

    });

</script>
