<div class='unaca' data-slide='1'>
    <input checked='checked' class='unaca-a unaca-a-p' id='unaca-a-1' name='unaca1' type='radio'>
    <input  class='unaca-a unaca-a-m' id='unaca-a-2' name='unaca1' type='radio'>
    <input  class='unaca-a unaca-a-n' id='unaca-a-3' name='unaca1' type='radio'>
    <input  class='unaca-a unaca-a-n' id='unaca-a-4' name='unaca1' type='radio'>
    <input  class='unaca-a unaca-a-n' id='unaca-a-5' name='unaca1' type='radio'>
    <input  class='unaca-a unaca-a-n' id='unaca-a-6' name='unaca1' type='radio'>
    <input  class='unaca-a unaca-a-n' id='unaca-a-7' name='unaca1' type='radio'>
    <input  class='unaca-a unaca-a-n' id='unaca-a-8' name='unaca1' type='radio'>
    <input  class='unaca-a unaca-a-n' id='unaca-a-9' name='unaca1' type='radio'>
    <input  class='unaca-a unaca-a-n' id='unaca-a-10' name='unaca1' type='radio'>
    <div class='unaca-cc'>
        <div class='unaca-c unaca-c-b border h-10 w-10 bg-gray-100 active:bg-gray-300 hover:bg-white dark:bg-gray-700 dark:hover:bg-gray-700/50 dark:active:bg-gray-800 rounded-full border-gray-300 active:border-gray-400 dark:border-gray-600 dark:active:border-gray-700 text-gray-600 hover:text-gray-900 active:text-gray-900 dark:text-gray-300 dark:hover:text-white dark:active:text-gray-200'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'>
                <path fill-rule='evenodd' d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z' clip-rule='evenodd' />
            </svg>
            <label class='unaca-c-b' for='unaca-a-1' style='display: none;'></label>
        </div>
        <div class='unaca-c unaca-c-f border h-10 w-10 bg-gray-100 active:bg-gray-300 hover:bg-white dark:bg-gray-700 dark:hover:bg-gray-700/50 dark:active:bg-gray-800 rounded-full border-gray-300 active:border-gray-400 dark:border-gray-600 dark:active:border-gray-700 text-gray-600 hover:text-gray-900 active:text-gray-900 dark:text-gray-300 dark:hover:text-white dark:active:text-gray-200'>
            <svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 20 20' fill='currentColor'>
                <path fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd' />
            </svg>
            <label for='unaca-a-2' class='unaca-c-f'></label>
        </div>          
    </div>
    <div class='unaca-s'>__content__</div>
</div>