<div class="__class__ bx-base-text-unit bx-forum-unit bx-base-text-unit-gallery bx-def-gal-unit-size flex flex-col w-full p-2 box-border relative inline-block">
    <div class="grid grid-cols-1">
        <div class="bx-base-text-unit-cnt rounded-lg ring-1 ring-gray-200 dark:ring-gray-700 overflow-hidden bg-white dark:bg-gray-800 row-start-1 col-start-1" >
            <bx_if:thumb>
                <a href="__content_url__" title="__summary_attr__">
                    <div class="flex-shrink-0">
                        <img class="h-48 w-full object-cover rounded-lg" src="__gallery_url__" alt="">
                    </div>
                </a>
            </bx_if:thumb>
            <bx_if:no_thumb>
                <div class="bx-def-gal-img-column flex-shrink-0">
                    <div class="bx-base-text-unit-no-thumb flex flex-col items-center justify-center h-48 p-4 bg-gradient-to-b box-border rounded-lg"></div>
                </div>
            </bx_if:no_thumb>
        </div>
        <div class="flex flex-col m-4 justify-between row-start-1 col-start-1 items-start">
            
            <div class="bx-base-text-unit-text box-border bottom-0 max-w-full h-full justify-between flex flex-col">
                <div class="bx-base-text-unit-title flex items-center text-left mb-2">
                    <a href="__content_url__" class="text-ellipsis text-xl font-bold text-white group-hover:text-gray-900 dark:group-hover:text-white">__title__</a>
                </div>
               <div class="bx-base-text-unit-info text-xs">
                    <bx_if:meta><div class="bx-base-general-unit-meta pb-2">__meta__</div></bx_if:meta>
               </div>
            </div>
        </div>
    </div>
</div>