<div class="bx-base-notifications-unit bx-def-unit bx-def-unit-live-search bx-def-margin-sec-bottom" data-ts="__ts__">
	<bx_if:show_icon><img class="bx-def-thumb bx-def-thumb-size" src="__author_icon__" /></bx_if:show_icon>
	<bx_if:show_icon_empty><i class="sys-icon user"></i></bx_if:show_icon_empty>
    <div class="bx-def-unit-info bx-def-thumb-size-max-height bx-def-padding-sec-left"><a href="__item_url__">__title__</a><br /><span class="bx-def-fonr-grayed bx-def-font-small">__module_name__</span></div>
</div>