/*--- Checkout block ---*/
.bx-credits-checkout {
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.bx-credits-checkout-cnt {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bx-credits-checkout-box {
    position: relative;
    display: inline-block;
}

.bx-credits-cb-row {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.bx-credits-cb-row.bx-credits-cbr-items {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.bx-credits-cb-item {
    position: relative;
    display: inline-block;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.bx-credits-cb-row.bx-credits-cbr-actions {
    -webkit-justify-content: center;
    justify-content: center;

    text-align: center;
}
.bx-credits-cb-row.bx-credits-cbr-actions .bx-btn {
    display: inline-block;
    float: none;
    width: 80%;
}
