.sys-icon.bx-credits-prefix-icon {
    color: #334455;
}

/*--- Bundles ---*/
.bx-credits-bundles,
.bx-credits-bundles-cnt {
    position: relative;
}

.bx-credits-bundles-cnt {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: center;
    justify-content: center;
}

.bx-credits-bundle-wrp {
    position: relative;
    -webkit-flex: 0 1 33%; 
    flex:  0 1 33%;

    width: 33%;
}

.bx-media-phone .bx-credits-bundle-wrp {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;

    width: 100%;
}

.bx-credits-bundle {
    position: relative;
    width: 100%;
    height: 100%;
}

.bx-credits-bundle-cnt {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.bx-credits-bundle-cnt > div {
    -webkit-flex: 0 1 auto; 
    flex: 0 1 auto;

    width: 100%;
}
.bx-credits-bundle-cnt > div.bx-credits-b-amount {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.bx-credits-b-title {
    text-transform: uppercase;
}

.bx-credits-b-price {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;

    width: 100%;
}

.bx-credits-bp-currency {
    margin-top: 0.5rem;

    line-height: normal;
    font-size: 1rem;
    font-weight: 300;
}

.bx-credits-bp-value {
    line-height: normal;
    font-size: 2.4rem;
    font-weight: 700;
}

.bx-credits-b-buy .bx-btn {
    float: none;
    display: inline-block;
    max-width: 80%;
}