/*--- Subscribe popup ---*/
.bx-credits-subscribe {
    position: relative;
}
.bx-credits-subscribe-cnt {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bx-credits-subscribe-box {
    position: relative;
    min-width: 18rem;
}

.bx-credits-sb-row {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.bx-credits-sbr-actions {
    text-align: center;
}

.bx-credits-sbr-actions .bx-btn {
    display: inline-block;
    float: none;
    width: 80%;
}

.bx-credits-sb-row.bx-credits-sbr-title,
.bx-credits-sb-row.bx-credits-sbr-item,
.bx-credits-sb-row.bx-credits-sbr-actions {
    -webkit-justify-content: center;
    justify-content: center;
}