<div class="bx-datafox-companies bx-hide-in-htmleditor">
    <hr class="bx-def-hr bx-def-margin-topbottom" />
    <bx_repeat:companies>
        <div class="bx-datafox-company bx-def-margin-bottom bx-clearfix" id="__link_id__">
            <div class="bx-datafox-company-thumb bx-def-round-corners bx-def-border bx-def-margin-sec-right" style="background-image:url(__logo_url__)"></div>
            <div class="bx-datafox-company-info">
                <div class="bx-datafox-company-title">__name__</div>
                <div class="bx-datafox-company-desc bx-def-margin-sec-topbottom">__short_description__</div>
                <div class="bx-datafox-company-prop"><b>Location:</b> <i>__location__</i></div>
                <div class="bx-datafox-company-prop"><b>Employees:</b> <i>__number_of_employees__</i></div>
                <div class="bx-datafox-company-prop"><b>Founded:</b> <i>__founded_year__</i></div>
    
            </div>
        </div>
    </bx_repeat:companies>
    <script>
    <bx_repeat:companies2>
        $('<sup><a href="javascript:void(0);" onclick="$(\'html, body\').animate({scrollTop:$(\'#__link_id__\').offset().top}, 500);">[__item_number__]</a></sup>').insertAfter($('a.__link_id__'));
    </bx_repeat:companies2>
    </script>
</div>
