
<div id="bx-sliding-menu-account" class="bx-sliding-menu-main bx-def-z-index-nav bx-def-color-bg-block bx-def-border-bottom bx-search-site" style="display:none; overflow:hidden; height:100%; opacity:1;">

    <a class="bx-sliding-menu-close bx-def-margin bx-def-font-h1" href="javascript:void(0);" onclick="bx_menu_slide('#bx-sliding-menu-account')"><i class="sys-icon times"></i></a>

    <div class="bx-menu-account-popup bx-menu-object-__object__ bx-def-padding">
        <div class="bx-def-font-h2">
            <span class="bx-menu-account-popup-profile">__profile_display_name__</span>
            <a title="<bx_text_attribute:_sys_switch_profile />" class="bx-menu-account-popup-switch-profile bx-def-margin-sec-left" href="__url_switch_profile__"><i class="sys-icon exchange"></i></a>
        </div>
        <div class="bx-def-margin-top bx-def-margin-bottom">__menu_account__</div>
        <div class="bx-def-color-bg-sec" style="height:0.5em; margin-left:-3em; margin-right:-3em;">1</div>
        <div>__menu_notifications__</div>
    </div>
</div>

