<div  id="__id__" class="bx-popup-wrapper bx-popup-responsive bx-popup-trans-wrapper bx-def-box-sizing" style="__wrapper_style__" role="alert">
    <div class="bx-popup-box-pointer"><i class="bx-popup-border"></i></div>
    <div class="bx-popup bx-popup-trans bx-popup-border bx-popup-color-bg bx-def-round-corners">
        <div class="bx-popup-close-wrapper bx-def-padding bx-def-media-desktop-hide bx-def-media-tablet-hide">
            <a href="javascript:void(0);" class="bx-popup-element-close bx-def-font-h1 bx-def-margin"><i class="sys-icon remove"></i></a>
        </div>
        <div class="bx-popup-content" style="">__content__</div>
    </div>
</div>
