<div id="__id__"></div>
<script>
    var oDefaults = {
			headerToolbar: {
				initialView: 'dayGridMonth',
				left: 'prev,next today',
				center: 'title',
				right: 'dayGridDay,dayGridWeek,dayGridMonth' 
			},
            navLinks: true, // can click day/week names to navigate views
    };
    var oOptions = __options__;    
	document.addEventListener('DOMContentLoaded', function() {
        new FullCalendar.Calendar(document.getElementById('__id__'), $.extend({}, oDefaults, oOptions)).render();
	});
</script>
