<div class="sys-labels-level sys-ll-__level__">
    <bx_repeat:labels>
        <div class="sys-labels-list-item bx-def-padding-thd-topbottom bx-def-box-sizing">
            <div class="sys-labels-list-item-box bx-def-padding-sec bx-def-border bx-def-round-corners bx-def-shadow">
                <div class="sys-labels-li-checbox">__checkbox__</div>
                <div class="sys-labels-li-title bx-def-margin-sec-leftright"><label for="__html_id_label__" title="__title_attr__">__title__</label></div>
                <bx_if:show_sublist_link>
                    <div class="sys-labels-li-chevron">
                        <a href="javascript:void(0)" onclick="javascript:__js_object__.showSublist(this)">
                            <i class="sys-icon <bx_if:show_class_opened>chevron-up</bx_if:show_class_opened><bx_if:show_class_closed>chevron-down</bx_if:show_class_closed>"></i>
                        </a>
                    </div>
                </bx_if:show_sublist_link>
            </div>
            <bx_if:show_sublist>
                <div class="sys-labels-li-sublist<bx_if:show_class_opened> sys-labels-lis-opened</bx_if:show_class_opened> bx-def-padding-left">__content__</div>
            </bx_if:show_sublist>
        </div>
    </bx_repeat:labels>
</div>