<div class="sys-labels-level sys-ll-__level__">
    <bx_repeat:labels>
        <div class="sys-labels-list-item bx-def-padding-thd-topbottom bx-def-box-sizing">
            <div class="sys-labels-list-item-box bx-def-padding-sec bx-def-border bx-def-round-corners bx-def-shadow">
                <div class="sys-labels-li-title bx-def-margin-sec-leftright"><a href="__href__" title="__title_attr__">__title__</a></div>
                <bx_if:show_sublist_link>
                    <div class="sys-labels-li-chevron bx-def-margin-sec-leftright">
                        <a href="javascript:void(0)" onclick="javascript:__js_object__.showSublist(this)">
                            <i class="sys-icon chevron-up"></i>
                        </a>
                    </div>
                </bx_if:show_sublist_link>
            </div>
            <bx_if:show_sublist>
                <div class="sys-labels-li-sublist sys-labels-lis-opened bx-def-padding-left">__content__</div>
            </bx_if:show_sublist>
        </div>
    </bx_repeat:labels>
</div>