<div class="__style_prefix__-rating __style_prefix__-rating-legend" id="__html_id__" __style_prefix__-rating-data="__value__">
    <div class="__style_prefix__-mood">
        <div class="__style_prefix__-mood-underlay">
            <bx_repeat:stars><i class="__style_prefix__-mood-star sys-icon far star"></i></bx_repeat:stars>
        </div>
        <div class="__style_prefix__-mood-slider">
            <bx_repeat:slider><i class="__style_prefix__-mood-star sys-icon star"></i></bx_repeat:slider>
        </div>
    </div>
</div>
<bx_if:show_init>
    <script language="javascript">
        __js_object__.cmtInitRating($('#__html_id__'));
    </script>
</bx_if:show_init>