/*-- Event Roles --*/
#bx-events-set-role-popup .bx-menu-ver {
    margin: 0;
}

/*-- Event Calendar --*/
.bx-events-calendar-unit .bx-base-pofile-unit-with-cover {
    position: relative;
    width: 20rem;
}
.bx-layout-column-thin .bx-events-calendar-unit .bx-base-pofile-unit-with-cover,
.bx-media-phone .bx-events-calendar-unit .bx-base-pofile-unit-with-cover {
    width: 100%;
}
.bx-events-calendar-unit .bx-base-pofile-unit-with-cover:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}