<div class="bx-form-input-providers">
    <bx_repeat:providers>
        <div class="bx-form-input-provider bx-def-padding-thd-topbottom">
            <div class="bx-form-input-provider-cell bx-fi-pc-txt">__input_select__</div>
            <div class="bx-form-input-provider-cell bx-fi-pc-btn bx-def-padding-sec-left">
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.providerDelete(this)"><bx_image_auto:times /></a>
            </div>
        </div>
    </bx_repeat:providers>
    <div class="bx-form-input-provider-add">__btn_add__</div>
</div>