<div class="bx-form-input-helpers">
    <bx_repeat:helpers>
        <div class="bx-form-input-helper bx-def-padding-thd-topbottom">
            <div class="bx-form-input-helper-cell bx-fi-hc-txt">__input_select__</div>
            <div class="bx-form-input-helper-cell bx-fi-hc-btn bx-def-padding-sec-left">
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.helperDelete(this)"><bx_image_auto:times /></a>
            </div>
        </div>
    </bx_repeat:helpers>
    <div class="bx-form-input-helper-add">__btn_add__</div>
</div>