<div class="flex flex-row">
    <div class="flex-1">
        <div class="flex gap-2">
            <div class="w-20 font-semibold"><bx_text:_sys_agents_assistants_txt_assistant /></div>
            <div>__assistant_name__</div>
        </div>
        <div class="flex bx-def-font-meta bx-def-font-grayed">__assistant_info__</div>
        <bx_if:show_chat>
            <div class="flex mt-4 gap-2">
                <div class="w-20 font-semibold"><bx_text:_sys_agents_assistants_chats_txt_chat /></div>
                <div>__chat_name__</div>
            </div>
            <div class="flex bx-def-font-meta bx-def-font-grayed">__chat_info__</div>
        </bx_if:show_chat>
    </div>
    <div class="flex-0">
        <a class="bx-btn" href="__url_back__"><i class="sys-icon arrow-left"></i></a>
    </div>
</div>