<div class="adm-bp-cbf-left">
    <div class="adm-bp-cbf-left-cnt px-5">__menu__</div>
</div>
<div class="adm-bp-cbf-right">
    <div class="adm-bp-cbf-right-cnt px-5 py-0.5">
        <div id="__html_block_lists_id__" class="adm-bp-cbf-right-cnt">__blocks__</div>
    </div>
</div>
<div class="adm-bp-cbf-controls bx-def-padding-top px-5">
    <button class="bx-btn bx-btn-primary" name="do_submit" value="<bx_text:_adm_bp_btn_block_add />" type="submit"><bx_text:_adm_bp_btn_block_add /></button>
    <button class="bx-btn bx-def-margin-sec-left" name="do_cancel" value="<bx_text:_adm_bp_btn_block_cancel />" type="button" onclick="$('.bx-popup-applied:visible').dolPopupHide()"><bx_text:_adm_bp_btn_block_cancel /></button>
    <div class="adm-bp-cbf-counter bx-def-font-h3"><span id="adm-bp-cbf-counter">0</span> <bx_text:_adm_bp_txt_block_selected /></div>
</div>