<div class="adm-bp-epf-left">
    <div class="adm-bp-epf-left-cnt px-5">__menu__</div>
</div>
<div class="adm-bp-epf-right">
    <div id="__html_settings_groups_id__" class="adm-bp-epf-right-cnt px-5 py-0.5">
        <bx_repeat:settings_groups>
            <div id="__html_settings_group_id__" class="adm-bp-settings" style="<bx_if:hidden>display: none;</bx_if:hidden>">__content__</div>
        </bx_repeat:settings_groups>
    </div>
</div>
<div class="adm-bp-epf-controls bx-def-padding-top px-5">
    <button class="bx-btn bx-btn-primary" name="do_submit" value="__submit__" type="submit">__submit__</button>
    <button class="bx-btn bx-def-margin-sec-left" name="do_cancel" value="<bx_text:_adm_bp_btn_page_cancel />" type="button" onclick="__js_object__.onCloseSettings()"><bx_text:_adm_bp_btn_page_cancel /></button>
</div>