<bx_repeat:menu_items>
    <div id="bx-std-pmi-__name__" class="bx-std-pmen-item __class_add__">
        <a class="group" href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__>
            <div class="bx-std-pmen-item-cnt">
                <div class="bx-std-pmen-ic-icon<bx_if:show_icon> block</bx_if:show_icon><bx_if:show_icon_bg> p-2 bg-gradient-to-b from-gray-500 to-gray-700</bx_if:show_icon_bg> text-white group-hover:text-gray-200">
                    <bx_if:icon>
                        <i class="sys-icon __icon__"></i>
                    </bx_if:icon>
                    <bx_if:image><img src="__icon_url__" /></bx_if:image>
                    <bx_if:image_inline>__image__</bx_if:image_inline>
                </div>
                <div class="bx-std-pmen-ic-title truncate">__title__</div>
            </div>
        </a>
    </div>                
</bx_repeat:menu_items>
<div class="bx-clear"></div>