<div id="bx-uploader-file-{storage_object}-{file_id}" class="bx-uploader-ghost cmts-uploader-file bx-def-margin-sec-top bx-def-margin-sec-left-auto">
    <input type="hidden" name="__name__[]" value="{file_id}" />
    <div class="cmts-uploader-file-preview bx-def-round-corners bx-def-margin-sec-right">
        <img src="{file_icon}" class="bx-def-round-corners bx-base-general-icon bx-base-general-icon-{file_id}" />
    </div>
    <div class="cmts-uploader-file-title bx-def-margin-thd-top bx-clearfix">{file_title}</div>
    <div class="cmts-uploader-file-actions bx-def-margin-thd-top bx-clearfix">
        <a class="bx-btn bx-btn-small bx-def-margin-sec-right" href="javascript:void(0);" onclick="{js_instance_name}.deleteGhost('{file_id}');"><bx_text:_Delete /></a>
    </div>
</div>