

/* browse unit */

.bx-persons-unit {
    width:169px;    
    float:left;
}

.bx-persons-unit img {
    display:inline;
    display:inline-block;

    vertical-align:middle;
}

.bx-persons-unit div {
    display:inline;
    display:inline-block;
    
    width:95px;
    padding-left:10px;
    
    text-overflow:ellipsis;
    overflow:hidden;

    vertical-align:middle;
}

/* view content */

.bx-persons-preview {
    max-width:278px;
    text-align:center;
}
.bx-persons-preview img {
    width:100%;
}
