
.bx-player-plyr {
    width:100%;
}

.plyr video {
    margin-top:0;
}

.bx-page-iframe .plyr,
.bx-page-iframe .plyr__video-wrapper,
.bx-page-iframe .plyr video {
    width:100vw;
    height:100vh;
}

.bx-tl-item-attachment .bx-player-plyr-wrapper {
    width:100%;
}
.bx-base-general-attachment .bx-player-plyr-wrapper {
    width:100%;
    height:100%;
}
