.bx-pwropa-button-container {
    width: 100%;
    text-align: center;
}
.bx-pwropa-item-container {
    text-align: center;
}
.bx-pwropa-button-container .bx-pwropa-button {
    float:none;
    width:100px;
    margin:0px auto;
}
.bx-pwropa-item-container .flickity-viewport{
    width: 100%;
}
