/*-- Browsing: Search results --*/
.bx-base-text-unit-gallery-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

/*-- Entry: Actions Menu --*/
.bx-base-general-entity-actions .bx-menu-custom-hor li.bx-menu-item-more-auto .bx-popup .bx-menu-custom .bx-menu-item {
    width: 100%;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
}