@media (min-width: 1024px) {
	.bx-tl-grid-sizer {
		width: 33.3%;
	}

	.bx-layout-column-wide .bx-tl-grid-sizer,
	.bx-layout-column-half .bx-tl-grid-sizer {
		width: 50%;
	}

	.bx-layout-column-thin .bx-tl-grid-sizer {
		width: 100%;
	}
}