<div class="bx-def-padding bx-def-color-bg-block">__form__</div>
<script>
    $(document).ready(function () {
        $("#__form_id__").ajaxForm({
            dataType: "json",
            beforeSubmit: function (formData, jqForm, options) {
                bx_loading($("#__form_id__"), true);
            },
            success: function (data) {
                $(".bx-popup-active").dolPopupHide();
                glGrids.__object__.processJson(data, "pass");
            }
        });

        __js_object__.paOnShowPopup();
    });
</script>