<div class="bx-base-profile-unit bx-def-unit bx-def-unit-live-search group flex items-center mb-2 last:mb-0" data-ts="__ts__">
    <a class="bx-def-box bx-def-box-hor bx-def-box-round-corners bx-def-color-bg-box bx-def-color-bg-box-hover relative items-center w-full p-2 box-border" href="__content_url__">
        <div class="bx-def-unit-img bx-def-__size__-size">
            <bx_if:show_thumb_image>
                <img class="bx-base-pofile-unit-thumb bx-def-__size__ bx-def-__size__-size" src="__thumb_url__" />
            </bx_if:show_thumb_image>
            <bx_if:show_thumb_letter>
                <p class="bx-base-pofile-unit-thumb bx-def-__size__ bx-def-__size__-size flex items-center justify-center text-white font-bold rounded-full box-border" style="background-color:rgba(__color__)">__letter__</p>
            </bx_if:show_thumb_letter>
        </div>
        <div class="bx-def-unit-info flex flex-col pl-2">
            <div class="bx-def-ui-title">__title__</div>
            <div class="bx-def-ui-type text-sm text-gray-500 dark:text-gray-400 leading-4">__module_name__</div>
        </div>
    </a>
</div>