/* 
import url(../../../../../market/template/css/main.css); 
*/

/*--- Snippet ---*/
div.bx-market-unit-author-name a.sys-author {
    font-weight: 700;
}

/*--- Screenshots ---*/
.bx-market-screenshot-size {
    width: 12.5rem;
    height: 7.5rem;
    line-height: 7.5rem;
}

/*--- Attachments ---*/
div.bx-market-attachment {
    display: none;
}
div.bx-market-attachment.bx-market-attachment-main {
    display: block;
}