<div class="bx-form-advanced-wrapper bx_videos_wrapper">
    __author__
    <div class=" bx-form-section bx-form-view-section bx-def-padding-sec-top bx-def-border-top bx-form-section-divider">
        <div class=" bx-form-section-content bx-def-padding-top">
            <bx_repeat:items>
                <div class="bx-form-row-view-wrapper bx-form-row-view-wrapper-text bx-def-padding-sec-top">
                    <div class="bx-form-row-view-caption">__title__:</div>
                    <div class="bx-form-row-view-value">__value__</div>
                </div>
            </bx_repeat:items>
        </div>
    </div>
</div>