<div class="bx-form-input-categories">
    <div style="display:none">
        <div class="bx-form-input-category bx-def-padding-thd-topbottom">
            <div class="bx-form-input-category-cell bx-fi-sc-txt">__select_cat__</div>
            <div class="bx-form-input-category-cell bx-fi-sc-btn bx-def-padding-sec-left">
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.categoryDelete(this)"><i class="sys-icon times"></i></a>
            </div>
        </div>
    </div>
    <bx_repeat:items>
        <div class="bx-form-input-category bx-def-padding-thd-topbottom">
            <div class="bx-form-input-category-cell bx-fi-sc-txt">__select_cat__</div>
            <div class="bx-form-input-category-cell bx-fi-sc-btn bx-def-padding-sec-left">
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.categoryDelete(this)"><i class="sys-icon times"></i></a>
            </div>
        </div>
    </bx_repeat:items>
    <div style="display:none">
        <div class="bx-form-input-category-new bx-def-padding-thd-topbottom">
            <div class="bx-form-input-category-cell bx-fi-sc-txt">__input_cat__</div>
            <div class="bx-form-input-category-cell bx-fi-sc-btn bx-def-padding-sec-left">
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.categoryDeleteNew(this)"><i class="sys-icon times"></i></a>
            </div>
        </div>
    </div>
    <div class="bx-form-input-category-add">__btn_add__</div><div class="bx-form-input-category-add">__btn_add_new__</div>
</div>