<div class="bx-def-page-width bx-pwropa-container bx-def-padding bx-page-block-container">
    <bx_if:data>
        <div class="bx-def-margin-bottom">
            <bx_repeat:items>
                <div class="bx-pwropa-item-container">
                    <div class="bx-db-title bx-def-font-h2">__title__</div>
                    <div class="bx-tl-content bx-def-margin-bottom">__description__</div>
                    __html__
                </div>
            </bx_repeat:items>
        </div>
        <div class="bx-pwropa-button-container">
            <a class="bx-btn bx-btn-small bx-pwropa-button">__button_text__</a>
        </div>
    </bx_if:data>
    <bx_if:nodata>
        <div class="bx-pwropa-item-container">
            <div class="bx-db-title bx-def-font-h2"><bx_text:_bx_attendant_popup_with_recommended_title_no_data /></div>
            <div class="bx-tl-content bx-def-margin-bottom"><bx_text:_bx_attendant_popup_with_recommended_description_no_data /></div>
        </div>
    </bx_if:nodata>
</div>
