/*
import url(../../../../../../../template/css/media-tablet.css);
*/

html.bx-media-tablet {
    font-size:100%;
}

/* never visible - used to check MQ */
.bx-media-tablet body::before {
    display: none;
    content: 'tablet';
}

.bx-media-tablet .bx-def-media-tablet-hide {
    display:none !important;
}
.bx-media-tablet .bx-def-media-tablet-show-block {
    display:block;
}

.bx-media-tablet .bx-def-constraint-all *,
.bx-media-tablet .bx-def-constraint-list ol, .bx-def-constraint-list ul,
.bx-media-tablet .bx-def-constraint-pre:not(.bx-def-vanilla-html) pre,
.bx-media-tablet .bx-def-constraint-object object,
.bx-media-tablet .bx-def-constraint-iframe iframe,
.bx-media-tablet .bx-def-constraint-img img {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    max-width:500px !important;
    overflow:hidden !important;
}
.bx-media-tablet .bx-def-constraint-pre:not(.bx-def-vanilla-html) pre {
    overflow:scroll !important;
}

/* default.css */
.bx-media-tablet .bx-def-page-width {
    width:auto;
}