/*
import url(../../../../../../../template/css/media-phone.css);
*/

html.bx-media-phone {
    font-size:100%;
}

/* never visible - used to check MQ */
.bx-media-phone body::before {
  display: none;
  content: 'mobile';
}

.bx-media-phone .bx-def-media-phone-hide {
    display:none !important;
}
.bx-media-phone .bx-def-media-phone-show-block {
    display:block;
}

.bx-media-phone .bx-def-constraint-all *,
.bx-media-phone .bx-def-constraint-list ol, .bx-def-constraint-list ul,
.bx-media-phone .bx-def-constraint-pre:not(.bx-def-vanilla-html) pre,
.bx-media-phone .bx-def-constraint-object object,
.bx-media-phone .bx-def-constraint-iframe iframe,
.bx-media-phone .bx-def-constraint-img img {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    max-width:100% !important;
    overflow:hidden !important;
}
.bx-media-phone .bx-def-constraint-img img {
    height:auto !important;
}
.bx-media-phone .bx-def-constraint-pre:not(.bx-def-vanilla-html) pre {
    overflow:scroll !important;
}


/*--- default.css ---*/ 
.bx-media-phone .bx-def-page-width {
    width:auto;
}


/*--- general.css ---*/
.bx-media-phone #bx-toolbar-content .bx-toolbar-item.bx-ti-logo {
    margin-left: 0;
    margin-right: 0;
}
.bx-media-phone #bx-footer-wrapper {
    height: auto;
}

.bx-media-phone .sys-cpf-submenu .sys-cpf-submenu-item > div {
    display: block;
    text-align: center;
}


/*--- menu.css ---*/
.bx-media-phone ul.bx-menu-toolbar li a span.bx-menu-toolbar-item-title,
.bx-media-phone #bx-menu-toolbar-2-container ul.bx-menu-toolbar li a span.bx-menu-toolbar-item-title {
    display:none;
}


/*--- loading indicator ---*/
.bx-media-phone .bx-btn .bx-loading-ajax-btn {
    margin-top: 2px;
    margin-bottom: 2px;
}
.bx-media-phone .bx-btn.bx-btn-small .bx-loading-ajax-btn {
    margin-top: 0px;
    margin-bottom: 0px;
}


/*--- grid.css ---*/
html.bx-media-phone .bx-grid-table-wrapper-responsive .bx-grid-table-wrapper {
    overflow-x:scroll;
}
html.bx-media-phone .bx-grid-table-wrapper-responsive .bx-grid-table {
    min-width:720px;
}
html.bx-media-phone .bx-grid-table-wrapper-responsive.bx-grid-table-wrapper2:before,
html.bx-media-phone .bx-grid-table-wrapper-responsive.bx-grid-table-wrapper2:after {
    display:block;
}


/*--- score.css ---*/
.bx-media-phone div.bx-score-by-list div.bx-score-by-list-cnt {
    max-height: none;
}