<bx_include_auto:_header.html />

<div class="bx-main">

	<bx_injection:top />

	<div id="bx-toolbar" class="bx-header bx-def-image-bg-header bx-def-color-bg-header bx-def-border-header bx-shadow-header bx-def-z-index-nav">
	    <div class="bx-def-centered bx-def-padding-sec-leftright bx-def-page-width bx-def-box-sizing">
	    	<div class="bx-toolbar-content-wrapper bx-content-padding-header">
		        <div id="bx-toolbar-content" class="bx-clearfix">
		            <div id="bx-menu-toolbar-1-container">
		                <bx_menu:sys_toolbar_site />
		            </div>
		            <div id="bx-logo-container">
		                <bx_injection:injection_logo_before />
		                    __main_logo__
		                <bx_injection:injection_logo_after />
		            </div>
		            <div id="bx-menu-toolbar-2-container">
		                <bx_menu:sys_toolbar_member />
		            </div>
		        </div>
			</div>
	    </div>
	</div>
	
	<bx_injection:injection_between_cover_logo />

    __cover__
	
	<bx_injection:injection_between_cover_top_menu />
	
	<div id="bx-menu-main-bar-wrapper" class="bx-menu-main-bar-wrapper bx-def-color-bg-sec">
	    <div id="bx-menu-main-bar" class="bx-menu-main-bar bx-def-padding-sec-leftright bx-def-box-sizing">
	        <bx_injection:injection_top_menu_before />
        	<bx_menu:sys_site_submenu />
	        <bx_injection:injection_top_menu_after />
	    </div>
	</div>
	
	<bx_injection:injection_between_content_menu />

	<div id="bx-content-wrapper">
		__informer__
		<div class="bx-page-wrapper bx-def-centered bx-def-padding-sec-leftright bx-def-page-width bx-def-box-sizing">
		    <div id="bx-content-container" class="bx-def-padding-sec-left bx-def-padding-sec-right">
		        <bx_injection:injection_content_before />
		        <div id="bx-content-main" class="bx-def-margin-top">
