@font-face {
  font-family: 'MainFont';
  src: url('/fonts/MainFont.woff2') format('woff2'),
       url('/fonts/MainFont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'TitleFont';
  src: url('/fonts/TitleFont.woff2') format('woff2'),
       url('/fonts/TitleFont.woff') format('woff');
  font-display: swap;
}

.font-main {
  font-family: 'MainFont';
}

.font-title {
  font-family: 'TitleFont';
}

/* fontFamily="font-title" */
