@tailwind base;
@tailwind components;
@tailwind utilities;

.u-vanilla-html {
    @apply text-gray-700 dark:text-gray-300 ;
    font-size: 1rem;
    line-height: 1.5rem; 
    max-width: none;
}
.u-vanilla-html img{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.u-vanilla-html H1, H2, H3, H4{
    @apply text-gray-900 dark:text-gray-100; 
}
.u-vanilla-html H1{
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.5rem;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
.u-vanilla-html H2{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
}
.u-vanilla-html H3{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
}
.u-vanilla-html H4{
    font-weight: 600;
    margin-top: 1.125em;
    margin-bottom: 0.5em;
    line-height: 1.5rem;
}
.u-vanilla-html-small {
    font-size: 1rem;
    line-height: 1.5rem; 
}

html, body, #__next {
    width: 100%;
    /* To smooth any scrolling behavior */
    -webkit-overflow-scrolling: touch;
    margin: 0px;
    padding: 0px;
    /* Allows content to fill the viewport and go beyond the bottom */
    min-height: 100%;
}

#__next {
    flex-shrink: 0;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    flex: 1;
}

html {
    /* Prevent text size change on orientation change https://gist.github.com/tfausak/2222823#file-ios-8-web-app-html-L138 */
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    display: flex;
    /* Allows you to scroll below the viewport; default value is visible */
    overflow-y: auto;
    overscroll-behavior-y: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: scrollbar;
}

.u-card-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    flex-shrink: 1 !important;
    --margin: 0.5rem;
    --margin2: 0.5rem;
    --col2w: 1000px;  
    --col1w: 700px; 
    margin-top: -4px;
   
}
.u-card-list > * {
   /* */
    flex-grow: 0;
    flex-basis: calc((var(--col2w) - 100%) * 2000) !important;
    flex-shrink: 1;
    flex-direction: row !important;
    margin:4px
}
.u-card {
    min-width: calc(33.33% - 8px) !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    align-content: flex-start;
    flex-shrink: 1 !important;
    flex-direction: row !important;
}
.u-card-45{
    background: blue;
}
.u-card-list4{
    gap: 0.5rem;
}
.u-card-4{
    min-width: 250px;
    max-width: 400px;
    flex: 1 1 0%;
}

.u-feed-card {
    display: flex;
    flex-wrap: wrap;  
    align-content: flex-start;
    flex-shrink: 1 !important;
}
  
.u-card-content{
    min-width: calc(100% - 33%);
    flex-grow: 1;
    flex-basis: calc((var(--col1w) - 100%) * 2000) !important;
    max-width: 100%;
    margin-bottom: 2.5rem;
}

.u-card-media{
    min-width: 33%;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: calc((var(--col1w) - 100%) * 2000) !important;
}

.u-card-fix{
    max-width: 100%;
    flex-grow: 1;
    flex-basis: -100px;
    ;
}
.u-card-bar{
    position: absolute;
    bottom:0px;
    width: 100%;
}
.u-cover{
    object-fit: cover !important;
}

.u-image{
    object-fit: cover !important;
}
.u-sidebar::-webkit-scrollbar {
    display: none;
}
.u-content3{
    width: 100%;
    overflow: hidden;
}
.u-content4{
    width: 100%;
    overflow: hidden;
}
.dsf{
    width:calc(100%)
}
html {
    overflow-y:scroll;
}
@media (min-width: 1536px){
    .u-content3{
        width: 1536px
    }
}
@media (min-width: 1280px){
    .u-content4{
        width: calc(100% - 304px);
    }
}
.u-hidden{
    @apply hidden;
}
.form-comment{
    flex-direction: row;
    align-items: flex-end;
}
.form-control-cmt_text{
    width:calc(100% - 56px) !important;
}
.form-control-cmt_submit{
    width:46px !important;
    height: 46px;
    margin-left:10px !important;
}