<div id="__html_id__" class="__style_prefix__-event relative mb-2 rounded-md ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-900 hover:bg-gray-200 dark:hover:bg-gray-800 hover:text-gray-800 dark:hover:text-gray-200 overflow-hidden __class__">
    <a class="__style_prefix__-event-link" href="__link__">
        <div class="__style_prefix__-event-gap p-4">
            <div class="__style_prefix__-event-cnt flex items-center">
                <div class="__style_prefix__-owner-avatar bx-def-thumb-size">__author_unit__</div>
                <div class="__style_prefix__-body bx-def-thumb-size-min-height flex flex-col ml-4">
                    <div class="__style_prefix__-content">__content__</div>
                    <div class="__style_prefix__-date">__date__</div>
                </div>
            </div>
        </div>
    </a>
</div>