@import url(../../../../base/text/template/css/main.css);

/*--- Categories ---*/
.bx-dir-subcategories .bx-dir-category:first-child {
    padding-top: 0;
}
.bx-dir-category .sys-icon {
    display: inline-block;
    width: 1.0rem;
}