<bx_if:show_list>
    <div class="__style_prefix__-jump-to-cnt">
        <bx_text:_bx_timeline_txt_or_jump_to />&nbsp;<bx_repeat:links><bx_if:show_link><a href="javascript:void(0)" onclick="__onclick__" title="__title__">__content__</a></bx_if:show_link><bx_if:show_text>__content__</bx_if:show_text><span class="__style_prefix__-jt-divider">, </span></bx_repeat:links>
    </div>
</bx_if:show_list>
<bx_if:show_calendar>
    <div class="__style_prefix__-jump-to-cnt flatpickr">
        <bx_text:_bx_timeline_txt_or_jump_to />&nbsp;<a data-toggle class="bx-btn" href="javascript:void(0)" onclick="__onclick__"><i class="sys-icon calendar-alt"></i><input class="__style_prefix__-jump-to-calendar" type="text" data-input /></a>
    </div>
</bx_if:show_calendar>
