<ul class="__style_prefix__-menu-feeds bx-menu-ver bx-menu-object-__object__ bx-def-font-middle bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-menu-item bx-menu-item-__name__ bx-def-round-corners __class_add__">
            <div class="bx-menu-item-cnt">
                <div class="bx-menu-item-link bx-def-padding-thd-topbottom bx-def-padding-sec-leftright bx-def-color-bg-hl-hover">
                    <a href="__link__" onclick="__onclick__"__attrs__>
                        <bx_include_auto:menu_icon.html />
                        <span class="bx-menu-item-title bx-def-margin-sec-left-auto">__title__</span>
                    </a>
                    <bx_if:addon>
                        <div class="bx-menu-addon bx-def-padding-sec-left">
                            <div class="bx-menu-addon-cnt bx-def-label menu">__addon__</div>
                        </div>
                    </bx_if:addon>
                    <bx_if:show_toggle>
                        <span class="bx-menu-collapse bx-def-padding-sec-left">
                            <a href="javascript:void(0)" onclick="javascript:__js_object__.toggleMenuItemFeeds(this)">
                                <i class="sys-icon chevron-up bx-menu-hide"></i>
                                <i class="sys-icon chevron-down bx-menu-show"></i>
                            </a>
                        </span>
                    </bx_if:show_toggle>
                </div>
                <bx_if:show_subitems>
                    <div class="bx-menu-item-subitems">__subitems__</div>
                </bx_if:show_subitems>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>