<div class="__class__ bx-stories-media-wrapper sm:w-full md:w-1/2 lg:w-1/3 p-2 box-border">
    <div class="bx-stories-media-cnt bx-def-box bx-def-box-round-corners bx-def-color-bg-box flex flex-col h-full rounded-tl-md rounded-tr-md overflow-hidden">
        <div class="bx-stories-media-thumb bx-stories-unit-size flex items-center flex-1 h-48">
            <bx_if:image>
                <img class="bx-stories-unit-size h-48" src="__url_img__" alt="__title_attr__" />
            </bx_if:image>
            <bx_if:video>
                <div class="bx-stories-mt-video w-full">__video__</div>
            </bx_if:video>
        </div>
        <div class="bx-base-text-unit-title bx-stories-media-caption m-2">
            <a href="__url__" title="__title_attr__">__title__</a>
        </div>
        <div class="bx-stories-media-actions mx-2 mb-2">__actions__</div>
    </div>
</div>