/*--- Uploader Ghost: Files ---*/
#bx_files_upload #bx-form-element-attachments .bx-uploader-ghost {
    justify-content: flex-end;
}

#bx_files #bx-form-element-attachments .bx-base-general-uploader-ghost {
    position: relative;
    display: block;

    text-overflow: ellipsis;
    overflow: hidden;
}