<div id="bx-uploader-file-{storage_object}-{file_id}" class="bx-uploader-ghost bx-market-uploader-ghost-file mt-2 flex flex-col items-stretch">
    <div class="bx-uploader-ghost-header py-1 px-2">
        <a href="javascript:void(0)" onclick="javascript:{js_object}.toggleGhost(this);"><i class="sys-icon chevron-right"></i></a> {file_name}
    </div>
    <div class="bx-uploader-ghost-body flex items-start w-full my-1">
        <input type="hidden" name="__name__" value="{file_id}" />
        <div class="bx-base-general-icon-wrapper mr-2">
            <img src="{file_icon}" class="bx-base-general-icon bx-base-general-icon-{file_id} rounded-md" />
        </div>
        <span class="bx-base-general-uploader-ghost flex-1">
            <div class="font-bold"><bx_text:_bx_market_form_entry_input_files_name /></div>
            <div class="bx-form-input-wrapper bx-form-input-wrapper-text mb-2">
                <input class="bx-def-font-inputs bx-form-input-text block w-full py-2 px-3 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-2 focus:text-gray-900 dark:focus:text-gray-100 focus:ring-blue-500 focus:border-opacity-70 focus:ring-opacity-20 focus:border-blue-500 text-sm text-gray-700 dark:text-gray-300 appearance-none" type="text" value="{file_name}" readonly="1" />
            </div>
            <div class="font-bold"><bx_text:_bx_market_form_entry_input_files_type /></div>
            <div class="bx-form-input-wrapper bx-form-input-wrapper-select mb-2">
                <select class="bx-def-font-inputs bx-form-input-select block w-full py-2 px-3 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-2 focus:text-gray-900 dark:focus:text-gray-100 focus:ring-blue-500 focus:border-opacity-70 focus:ring-opacity-20 focus:border-blue-500 text-sm text-gray-700 dark:text-gray-300 appearance-none" name="type-{file_id}" onchange="javascript:oBxMarketForm.changeFileType(this);">
                    <option value="version"{file_type_version_selected}><bx_text:_bx_market_form_entry_input_files_type_version /></option>
                    <option value="update"{file_type_update_selected}><bx_text:_bx_market_form_entry_input_files_type_update /></option>
                </select>
            </div>

            <div class="bx-uploader-ghost-type-rel bx-uploader-ghost-type-version"{file_type_version_elements}>
                <div class="font-bold"><bx_text:_bx_market_form_entry_input_files_version /></div>
                <div class="bx-form-input-wrapper bx-form-input-wrapper-text mb-2">
                    <input class="bx-def-font-inputs bx-form-input-text block w-full py-2 px-3 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-2 focus:text-gray-900 dark:focus:text-gray-100 focus:ring-blue-500 focus:border-opacity-70 focus:ring-opacity-20 focus:border-blue-500 text-sm text-gray-700 dark:text-gray-300 appearance-none" type="text" name="version-{file_id}" value="{file_version_attr}" />
                </div>
            </div>

            <div class="bx-uploader-ghost-type-rel bx-uploader-ghost-type-update"{file_type_update_elements}>
                <div class="font-bold"><bx_text:_bx_market_form_entry_input_files_version_from /></div>
                <div class="bx-form-input-wrapper bx-form-input-wrapper-select mb-2">
                    <select class="bx-def-font-inputs bx-form-input-select block w-full py-2 px-3 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-2 focus:text-gray-900 dark:focus:text-gray-100 focus:ring-blue-500 focus:border-opacity-70 focus:ring-opacity-20 focus:border-blue-500 text-sm text-gray-700 dark:text-gray-300 appearance-none" name="version-from-{file_id}">{file_version_from_options}</select>
                </div>
                <div class="font-bold"><bx_text:_bx_market_form_entry_input_files_version_to /></div>
                <div class="bx-form-input-wrapper bx-form-input-wrapper-select mb-2">
                    <select class="bx-def-font-inputs bx-form-input-select block w-full py-2 px-3 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-2 focus:text-gray-900 dark:focus:text-gray-100 focus:ring-blue-500 focus:border-opacity-70 focus:ring-opacity-20 focus:border-blue-500 text-sm text-gray-700 dark:text-gray-300 appearance-none" name="version-to-{file_id}">{file_version_to_options}</select><br />
                </div>
            </div>
            <div class="bx-base-general-buttons">
                <a class="bx-btn bx-btn-small mr-2" href="javascript:void(0);" onclick="bx_base_general_delete_ghost('{file_id}', '{file_url}', '{file_icon}', ['__editor_id__'], {js_instance_name});"><bx_text:_sys_txt_form_entry_input_picture_delete /></a>
                <bx_if:set_thumb>
                    <span class="bx-base-general-use-as-thumb bx-uploader-ghost-type-rel bx-uploader-ghost-type-version"{file_type_version_elements}>
                        <input type="checkbox" name="__name_thumb__[]" value="{file_id}" onclick="bx_base_general_select_thumb(this)" id="__name_thumb__-{file_id}" /> 
                        <label for="__name_thumb__-{file_id}"><bx_text:_bx_market_form_entry_input_files_use_as_main /></label>
                    </span>
                </bx_if:set_thumb>
            </div>
        </span>
    </div>
</div>
<script language="javascript">
    {js_object}.initGhost($('#bx-uploader-file-{storage_object}-{file_id}'), {file_id}, __thumb_id__);
</script>