<div id="bx-uploader-file-{storage_object}-{file_id}" class="bx-uploader-ghost bx-market-uploader-ghost-photo mt-2 flex flex-col items-stretch">
    <div class="bx-uploader-ghost-header py-1 px-2">
        <a href="javascript:void(0)" onclick="javascript:{js_object}.toggleGhost(this);"><i class="sys-icon chevron-right"></i></a> {file_name}
    </div>
    <div class="bx-uploader-ghost-body flex items-start w-full my-1">
        <input type="hidden" name="__name__" value="{file_id}" />
        <div class="bx-base-general-icon-wrapper mr-2">
            <img src="{file_icon}" class="bx-base-general-icon bx-base-general-icon-{file_id} rounded-md" />
        </div>
        <span class="bx-base-general-uploader-ghost flex-1">
            <div class="font-bold"><bx_text:_sys_txt_form_entry_input_picture_pic_url /></div>
            <div class="bx-form-input-wrapper bx-form-input-wrapper-text mb-2">
                <input class="bx-def-font-inputs bx-form-input-text block w-full py-2 px-3 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-2 focus:text-gray-900 dark:focus:text-gray-100 focus:ring-blue-500 focus:border-opacity-70 focus:ring-opacity-20 focus:border-blue-500 text-sm text-gray-700 dark:text-gray-300 appearance-none" type="text" value="{file_url}" readonly="1" />
            </div>
            <div class="font-bold"><bx_text:_bx_market_form_entry_input_pictures_title /></div>
            <div class="bx-form-input-wrapper bx-form-input-wrapper-text mb-2">
                <input class="bx-def-font-inputs bx-form-input-text block w-full py-2 px-3 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-2 focus:text-gray-900 dark:focus:text-gray-100 focus:ring-blue-500 focus:border-opacity-70 focus:ring-opacity-20 focus:border-blue-500 text-sm text-gray-700 dark:text-gray-300 appearance-none" type="text" name="title-{file_id}" value="{file_title_attr}" />
            </div>
            <div class="bx-base-general-buttons">
                <span class="bx-base-general-intert-to-post-link" id="bx-base-general-intert-to-post-link-{file_id}" style="display:none;">
                    <a class="bx-btn bx-btn-small mr-2" href="javascript:void(0);" onclick="bx_base_general_insert_to_post('{file_id}', '{file_url}', '__editor_id__');"><bx_text:_sys_txt_form_entry_input_picture_insert /></a>
                </span>
                <span id="bx-base-general-delete-link-{file_id}">
                    <a class="bx-btn bx-btn-small mr-2" href="javascript:void(0);" onclick="bx_base_general_delete_ghost('{file_id}', '{file_url}', '{file_icon}', ['__editor_id__'], {js_instance_name});"><bx_text:_sys_txt_form_entry_input_picture_delete /></a>
                </span>
            </div>
            <bx_if:set_thumb>
                <div class="bx-base-general-use-as-thumb">
                    <input type="checkbox" name="__name_thumb__[]" value="{file_id}" onclick="bx_base_general_select_thumb(this)" id="__name_thumb__-{file_id}" /> 
                    <label for="__name_thumb__-{file_id}"><bx_text:_bx_market_form_entry_input_pictures_use_as_thumb /></label>
                </div>
            </bx_if:set_thumb>
            <bx_if:set_cover>
                <div class="bx-base-general-use-as-cover">
                    <input type="checkbox" name="__name_cover__[]" value="{file_id}" onclick="bx_base_general_select_ghost(this, '__name_cover__')" id="__name_cover__-{file_id}" /> 
                    <label for="__name_cover__-{file_id}"><bx_text:_bx_market_form_entry_input_pictures_use_as_cover /></label>
                </div>
            </bx_if:set_cover>
        </span>
    </div>
</div>
<script language="javascript">
    {js_object}.initGhost($('#bx-uploader-file-{storage_object}-{file_id}'), {file_id}, __thumb_id__, __cover_id__);
</script>