<div id="bx-sliding-menu-loading" class="bx-sliding-menu bx-sliding-menu-fullheight bx-def-z-index-nav bx-def-color-bg-block" style="display:none; opacity:1;">
    <div class="bx-def-page-width bx-def-centered">
        <a class="bx-sliding-menu-close bx-def-margin-sec-top bx-def-margin-right bx-def-font-h1" href="javascript:void(0);" onclick="bx_menu_slide_inline($(this).parents('.bx-sliding-menu:visible:first'))"><i class="sys-icon times"></i></a>
        <div class="bx-sliding-menu-cnt bx-def-padding">
			<div class="bx-sliding-menu-content"></div>
			<div class="bx-sliding-menu-loading"></div>
        </div>
    </div>
</div>
