<div class="__style_prefix__-by-list">
	<div class="__style_prefix__-by-list-cnt">
		<div class="__style_prefix__-by-items">
			<bx_repeat:list>
				<div class="__style_prefix__-by-item bx-def-padding-sec bx-clearfix">
				    <div class="__style_prefix__-bi-vote">__vote__</div>
				    <div class="__style_prefix__-bi-user bx-def-padding-sec-left">__user_unit__</div>
				    <div class="__style_prefix__-bi-info bx-def-padding-sec-left">
				        <div><a href="__user_link__">__user_name__</a></div>
				        <div class="bx-def-font-small bx-def-font-grayed">__date__</div>
				    </div>
				</div>
			</bx_repeat:list>
		</div>
	</div>
</div>