<div id="bx-sliding-menu-search" class="bx-sliding-menu-main bx-sliding-menu-fullheight bx-def-z-index-nav bx-def-color-bg-block bx-search-site" style="display:none; opacity:1;">
    <div class="bx-def-page-width bx-def-centered">
        <a class="bx-sliding-menu-close bx-def-margin-sec-top bx-def-margin-right bx-def-font-h1" href="javascript:void(0);" onclick="bx_menu_slide_inline('#bx-sliding-menu-search')"><i class="sys-icon times"></i></a>
        <div class="bx-def-padding">
            <div class="bx-def-font-h2 bx-menu-search-popup-title"><bx_text:_Search /></div>
            __search_form__
            __results__
        </div>
    </div>
</div>
