<div id="__html_id__" class="__style_prefix__-legend __style_prefix__-legend-__type__ bx-def-margin-top-auto">
	<bx_repeat:items>
		<div class="__style_prefix__-legend-item bx-def-margin-thd-topbottom bx-clearfix" bx_vote_item_value="__value__">
			<div class="bx-vote-element-holder">
				<div class="__style_prefix__-underlay">
					<bx_repeat:stars><i class="__style_prefix__-star sys-icon star"></i></bx_repeat:stars>
				</div>
				<div class="__style_prefix__-slider">
					<bx_repeat:slider><i class="__style_prefix__-star sys-icon star"></i></bx_repeat:slider>
				</div>
			</div>
			<div class="bx-vote-counter-holder bx-def-margin-sec-left bx-def-font-grayed">__label__</div>
		</div>
	</bx_repeat:items>
</div>