<div class="__style_prefix__-element">
	<div class="__style_prefix__-underlay">
		<bx_repeat:stars><i class="__style_prefix__-star sys-icon star"></i></bx_repeat:stars>
	</div>
	<bx_if:show_legend>
		<div class="__style_prefix__-legend bx-def-font-small">
			<bx_repeat:legend><span class="bx-vote-star">__value__</span></bx_repeat:legend>
		</div>
	</bx_if:show_legend>
	<div class="__style_prefix__-slider">
		<bx_repeat:slider><i class="__style_prefix__-star sys-icon star"></i></bx_repeat:slider>
	</div>
	<div class="__style_prefix__-buttons">
		<bx_repeat:buttons><a class="__style_prefix__-button" href="javascript:void(0);" onmouseover="__js_object__.over(this);" onmouseout="__js_object__.out(this);" onclick="__js_object__.vote(this, __value__)"><i class="__style_prefix__-star sys-icon">&#61446;</i></a></bx_repeat:buttons>
	</div>
</div>