@import url(../../../../../timeline/template/css/view.css);

div.bx-tl-activity div.bx-tl-item-actions,
div.bx-tl-activity div.bx-tl-item-menu {
	margin-left: 10px;
	margin-left: 0.625rem;
}

div.bx-tl-activity div.bx-tl-item-actions:first-child,
div.bx-tl-activity div.bx-tl-item-menu:first-child {
	margin-left: 0px;
}

/*+++ Item Menu +++*/
.bx-tl-item-menu  .bx-tl-item-menu-button,
.bx-menu-hor.bx-menu-hor-inline.bx-menu-object-bx_timeline_menu_item_actions li {
	padding: 5px 10px;

	border: 1px solid #b9e2f6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	background-color: #fff;
}

.bx-menu-hor.bx-menu-hor-inline.bx-menu-object-bx_timeline_menu_item_actions .sys-icon.comment:before {
  content: "\f0e5";
}
.bx-menu-hor.bx-menu-hor-inline.bx-menu-object-bx_timeline_menu_item_actions .sys-icon.share:before {
  content: "\f045";
}
.bx-menu-hor.bx-menu-hor-inline.bx-menu-object-bx_timeline_menu_item_actions .sys-icon.thumbs-up:before {
  content: "\f087";
}
.bx-menu-hor.bx-menu-hor-inline.bx-menu-object-bx_timeline_menu_item_actions .sys-icon.thumbs-down:before {
  content: "\f088";
}

/*+++ Item Owner +++*/
div.bx-tl-owner-name {
	font-weight: bold;
	font-size: 20px;
	font-size: 1.25rem;
}
div.bx-tl-item-info {

}

/*+++ Item Text +++*/
div.bx-tl-title {
	font-weight: bold;
}