div.pmt-cb {
    clear: both;
    font-size: 0px;
}
div#pmt-tbar-content {
    margin-bottom: 10px;
}
div.pmt-tbar-cart {
    min-height: 38px;
    margin-top: 10px;
    position: relative;
}
div.pmt-tbar-cart-icon {
    top: 0px;
    left: 0px;
    width: 38px;
    height: 38px;

    position: absolute;
}
div.pmt-tbar-cart-cpt,
div.pmt-tbar-cart-cnt {
    margin: 0px 0px 0px 48px;
}
div.pmt-tbar-cart-cpt {
    font-size: 9px;
}
div#pmt-tbar-content div.pmt-tbar-cart div.pmt-tbar-cart-cpt a {
    font-size: 9px;
    font-weight: bold;
    color: #3333CC;
}
div.pmt-tbar-cart-item {
    padding: 0px;
}

/*--- Add to cart link ---*/
div.pmt-add-to-cart {}