@import url(../../../../base/text/template/css/main.css);


/*--- Cover Section ---*/
.bx_photos_cover .bx-cover-title {
    margin-top:9rem;
}


/*--- Photo Block  ---*/
.bx-photos-entity-photo img {
    max-width:100%;
}


/*--- Photo Switcher Block  ---*/
.bx-photos-entity-photo-switcher {
	position: relative;
}

.bx-photos-eps-photo {
	position: relative;
	display: -webkit-inline-flex;
    display: inline-flex;

    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.bx-photos-eps-photo img {
	max-width:100%;
}

.bx-photos-eps-arrow,
.bx-photos-eps-arrow a {
	position: relative;

    width: 3rem;
    height: 3rem;
}

.bx-photos-eps-arrow {
	top: 50%;

    line-height: 2.8rem;
    text-align: center;
}

.bx-photos-eps-photo:hover .bx-photos-eps-arrow {
	background-color: rgba(0, 0, 0, 0.1);
}

.bx-photos-eps-arrow a {
	display: block;

	font-size: 3.0rem;
}


/*--- Snippet ---*/
.bx-base-text-unit-gallery .bx-base-text-unit-no-thumb,
.bx-base-text-unit-gallery .bx-base-text-unit-thumb {
	position: relative;
}

.bx-photo-unit-duration {
	position: absolute;
	right: 10px;
    bottom: 10px;

	background-color: rgba(255, 255, 255, 0.9);
}
