<bx_include_auto:_header.html />
<div class="bx-main bx-pt-application <bx_injection:injection_main_class />">
    <bx_injection:top />
    <div id="bx-toolbar" class="bx-header bx-def-image-bg-header bx-def-color-bg-header bx-def-border-header bx-shadow-header bx-def-z-index-nav cd-main-header">
        <div class="bx-toolbar-content-hgap bx-def-padding-sec-leftright bx-def-box-sizing">
            <div class="bx-toolbar-content-wrapper bx-content-padding-header">
                <div id="bx-toolbar-content" class="bx-toolbar-content bx-clearfix">
                    <div class="bx-toolbar-item">
                        <!-- Sidebar Toggler -->
                        <button id="toggleSidebar" aria-expanded="true" aria-controls="sidebar" class="hidden p-2 mr-6 text-gray-600 rounded cursor-pointer xl:inline hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700">
                          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                        </button>
                        <button id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar" class="p-2 mr-2 text-gray-600 rounded cursor-pointer xl:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                          <svg id="toggleSidebarMobileHamburger" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                          <svg id="toggleSidebarMobileClose" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </div>
                    <div id="bx-menu-toolbar-1-container" class="bx-toolbar-item bx-ti-left">
                        <bx_menu:sys_toolbar_site />
                    </div>
                    <div id="bx-logo-container" class="bx-toolbar-item bx-ti-logo flex-2 xl:flex-none">
                        <bx_injection:injection_logo_before />
                            __main_logo__
                        <bx_injection:injection_logo_after />
                    </div>
                    <div id="bx-menu-main-container" class="bx-toolbar-item bx-ti-menu bx-ti-stretcher flex-2 hidden xl:block ml-4">
                        <div class="bx-ti-cmt w-full">
                            <bx_menu:sys_application />
                        </div>
                    </div>
                    <div id="bx-menu-toolbar-2-container" class="bx-toolbar-item bx-ti-right cd-nav">
                        <bx_menu:sys_toolbar_member />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bx-main-content flex overflow-hidden">
        <!-- BEG: Sidebar -->
        <div id="sidebar" class="bx-main-column narrow fixed top-0 left-0 z-20 hidden xl:flex flex-col flex-shrink-0 w-64 h-full pt-14 duration-75 transition-width">
            <div class="bx-mc-border relative flex flex-col flex-1 min-h-0 max-h-full pt-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                <div class="flex flex-col flex-1 py-2 overflow-y-auto">
                    <div class="bx-mc-cnt flex-1 px-4 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                        <bx_menu:sys_site_panel />
                    </div>
                </div>
                <div class="absolute bottom-0 left-0 justify-center hidden w-full p-4 space-x-4 xl:flex" sidebar-bottom-menu>
                    <!-- Some button based menu may be here -->
                </div>
            </div>
        </div>
        <div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>
        <!-- END: Sidebar -->
        
        <!-- BEG: Main Content -->
        <div id="main-content" class="bx-main-column wide relative w-full h-full overflow-y-auto xl:ml-64">
            <div class="cd-main-content-wrp">
                <div class="cd-main-content bx-clearfix">
                    <div class="content-wrapper-wrp">
                        <div class="content-wrapper bx-def-box-sizing">
                            <bx_injection:injection_between_cover_logo />
                            __cover__
                            <bx_injection:injection_between_cover_top_menu />
                            <div class="bx-menu-main-bar-gap bx-def-centered bx-def-padding-leftright bx-def-page-width bx-def-box-sizing __site_submenu_hidden__">
                                <div id="bx-menu-main-bar-wrapper" class="bx-menu-main-bar-wrapper bx-def-color-bg-sec">
                                    <div id="bx-menu-main-bar" class="bx-menu-main-bar __site_submenu_class__">
                                        <bx_injection:injection_top_menu_before />
                                        <bx_menu:sys_site_submenu />
                                        <bx_injection:injection_top_menu_after />
                                    </div>
                                </div>
                            </div>
                            <bx_injection:injection_between_content_menu />
                            <div id="bx-content-wrapper" class="bx-content-wrapper">
                                __informer__
                                <div class="bx-page-wrapper bx-def-centered bx-def-padding-sec-leftright bx-def-page-width bx-def-box-sizing">
                                    <div id="bx-content-container" class="bx-def-padding-sec-left bx-def-padding-sec-right">
                                        <div id="bx-content-main" class="bx-def-margin-sec-topbottom">
                                            <bx_injection:injection_content_before />
                                            __page_main_code__
                                            <bx_injection:injection_content_after />
                                            <div class="bx-clear"></div>
                                            <bx_injection:banner_bottom />
                                        </div> <!-- #bx-content-main -->
                                        <bx_injection:injection_between_content_footer />
                                    </div> <!-- #bx-content-container -->
                                </div>
                            </div> <!-- #bx-content-wrapper -->
                        </div> <!-- .content-wrapper -->
                    </div> <!-- .content-wrapper-wrp -->
                </div> <!-- .cd-main-content -->
            </div> <!-- .cd-main-content-wrp -->
        </div> <!-- .bx-main-column -->
    </div> <!-- .bx-main-content -->
    <div id="bx-footer-wrapper" class="bx-footer-wrapper bx-def-image-bg-footer bx-def-color-bg-footer bx-def-border-footer bx-shadow-footer">    
        <div class="bx-def-centered bx-def-padding-sec-leftright bx-def-box-sizing">
            <div id="bx-footer" class="bx-footer bx-def-padding-sec-left bx-def-padding-sec-right bx-clearfix">
                <div class="bx-footer-cnt bx-content-padding-footer">
                    <bx_injection:injection_footer_before />
                    <div id="bx-menu-bottom" class="bx-def-margin-sec-top-auto">
                        <bx_menu:sys_footer />
                    </div>
                    <bx_injection:injection_footer_after />
                </div>
            </div>
        </div>
    </div>
    <bx_menu:sys_site_action />
</div>
<bx_include_auto:_footer.html />