<div class="bx-market-entity-info">
	<bx_if:show_category>
    	<p><span class="bx-def-font-grayed"><bx_text:_bx_market_txt_category /></span> <a href="__category_url__">__category_title__</a></p>
    </bx_if:show_category>
    <p><span class="bx-def-font-grayed"><bx_text:_bx_market_txt_released /></span> __released__</p>
    <p><span class="bx-def-font-grayed"><bx_text:_bx_market_txt_updated /></span> __updated__</p>
    <p><span class="bx-def-font-grayed"><bx_text:_bx_market_txt_installs /></span> __installs__</p>
</div>