<div class="bx-content-description-before">__content_description_before__</div>
<div class="bx-content-description">
    <bx_if:show_image>
        <div class="bx-base-text-entity-image bx-def-margin-bottom bx-def-font-align-center">
            <img class="bx-def-border-radius-block" src="__entry_image__" />
        </div>
    </bx_if:show_image>
    <div class="bx-base-text-entity-content bx-market-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img bx-def-vanilla-html prose">
        <div class="bx-market-ec-title flex">
            <bx_if:show_icon>
                <div class="bx-market-ect-icon flex-none mr-4 not-prose"><img class="bx-def-thumb-size bx-def-round-corners" src="__entry_icon__"/></div>
            </bx_if:show_icon>
            <div class="bx-market-ect-title bx-base-text-title-bages flex-1">
                <h1>__entry_title__</h1>
                <div class="bx-base-bages-container absolute flex -translate-y-5/4">__badges__</div>
            </div>
        </div>
        <div class="bx-market-ec-description">__entry_text__</div>
    </div>
    <bx_if:show_screenshots>
        <div class="bx-market-ec-slideshow bx-def-margin-top">__screenshots__</div>
    </bx_if:show_screenshots>
</div>
<div class="bx-content-description-after">__content_description_after__</div>