<div class="bx-market-screenshots bx-def-margin-fiv-top">
	<div class="bx-market-screenshots-cnt">
		<div class="bx-market-ss-left">
			<i class="sys-icon caret-left"></i>
		</div>
		<div class="bx-market-ss-cnt">
			<bx_repeat:items><div class="bx-market-ss-item bx-def-padding-right">
					<a href="__item_url_bg__" rel="group">
		        		<img class="bx-market-ssi-img bx-market-screenshot-size bx-def-round-corners" src="<bx_image_url:spacer.gif />" style="background-image:url(__item_url_sm__);" />
		        	</a>
			</div></bx_repeat:items>
			<div class="bx-clear"></div>
		</div>
		<div class="bx-market-ss-right">
			<i class="sys-icon caret-right"></i>
		</div>
	</div>
</div>