<div class="bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size">
	<div class="bx-market-unit-gallery-cnt bx-def-margin-sec bx-def-round-corners bx-def-box bx-def-color-bg-box">
	    <bx_if:thumb>
	        <a href="__content_url__" title="__summary_attr__">
	            <div class="bx-base-text-unit-thumb bx-def-gal-div-size bx-def-font-middle" style="background-image:url(__gallery_url__)">
	                <div class="bx-base-text-unit-strecher">__strecher__</div>
	            </div>
	        </a>
	    </bx_if:thumb>
	    <bx_if:no_thumb>
	        <div class="bx-def-gal-img-column">
	            <div class="bx-base-text-unit-no-thumb bx-def-gal-div-size bx-def-box bx-def-font-middle bx-def-font-grayed bx-def-padding bx-def-box-sizing">
	                __summary_plain__
	                <div class="bx-base-text-unit-strecher">__strecher__</div>
	            </div>
	        </div>
	    </bx_if:no_thumb>
		<div class="bx-market-unit-cnt bx-def-padding-sec">
		    <div class="bx-market-unit-title bx-def-gal-unit-column">
				<a class="bx-def-margin-sec-topbottom bx-def-font-color" href="__content_url__">__title__</a>
		    </div>

		    <div class="bx-market-unit-info bx-base-text-unit-info bx-def-margin-thd-top">
		    	<div class="bx-market-ui-cell bx-market-uic-left">__entry_votes__</div>
		        <div class="bx-market-ui-cell bx-market-uic-right">
		        	<!-- TODO: Buttons to checkout instead of text price. -->
		        	<bx_if:show_single>
			        	<a class="bx-market-ui-price bx-btn bx-btn-small" href="javascript:void(0)" onclick="javascript:__entry_price_single_onclick__">__entry_price_single__</a>
					</bx_if:show_single>
		        	<bx_if:show_recurring>
		        		<span class="bx-market-ui-price-or bx-def-font-grayed"><bx_text:_bx_market_txt_or /></span>
		        		<a class="bx-market-ui-price bx-btn bx-btn-small" href="javascript:void(0)" onclick="javascript:__entry_price_recurring_onclick__">__entry_price_recurring__</a>
		        	</bx_if:show_recurring>
		        	<bx_if:show_free>
		        		<span class="bx-market-ui-price bx-def-font-semibold col-green3"><bx_text:_bx_market_txt_get_for_free /></span>
		        	</bx_if:show_free>
		        </div>
		    </div>
		</div>
	</div>
</div>