<div class="bx-cnv-collaborators bx-def-margin-sec-right bx-clearfix" style="float:__float__;">

    <bx_repeat:collaborators>
        <div class="bx-cnv-collaborator bx-def-unit bx-def-margin-sec-__float__-auto __class__">
            <a href="__url__" title="__title_attr__"><img class="bx-def-thumb bx-def-thumb-size" src="__thumb_url__" /></a>
            <bx_if:last_replier>
                <div class="bx-def-unit-alert bg-col-blue3-dark" style="left:0; right:auto;"><i class="sys-icon comments"></i></div>
            </bx_if:last_replier>
            <bx_if:author>
                <div class="bx-def-unit-alert bg-col-blue3-dark"><i class="sys-icon user"></i></div>
            </bx_if:author>
        </div>
    </bx_repeat:collaborators>
   
    <bx_if:collaborators_more>
        <div class="bx-cnv-collaborator bx-def-unit bx-def-thumb-size bx-def-margin-sec-__float__-auto">
            <a href="javascript:void(0);" onclick="$('#__id__').dolPopup({pointer:{el:$(this)}})">__title_more__</a>            
        </div>
        <div id="__id__" style="display:none;">__popup__</div>
    </bx_if:collaborators_more>

</div>
