/* TODO: remove or remake according to new design */

table#bx-admin-page-table {
   border-collapse:collapse;
}

table#bx-admin-page-table td {
    padding: 0;
    vertical-align: top;
}

td.bx-adm-middle-menu {
    width: 300px;

    border: 0px;
}

td.bx-adm-middle-main {

}

h1#bx-adm-page-header {
    padding: 0;
    margin: 0;
}


/*--- Main Menu ---*/

div.adm-menu-wrapper {
    position: relative;
}
div.adm-menu-wrapper:first-child {
    margin-top: 0px;
}
div.adm-menu-header,
div.adm-menu-header-active,
div.menu_categ_hover_header {
    height: 44px;
    padding-left: 44px;

    z-index: 5;

    border:1px solid #ddd;
    background-color:#fff;

    line-height: 44px;
    font-size: 16px;
    font-weight: bold;
}
div.adm-mmh-hover {
    border:1px solid #999;
}
div.adm-mmh-active {
    border:1px solid #ccc;
}
div.adm-mmh-opened {
    border:1px solid #ccc;
}

img.adm-menu-icon {
    top: -5px;
    left: 7px;

    position: absolute;
    z-index: 10;
}

img.adm-menu-arrow {
    top: 14px;
    right: 11px;
    width: 17px;
    height: 17px;

    position: absolute;
    z-index: 5;

    background-image: url(../images/mm_item_arrow_bg.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;

    cursor:pointer;
}
img.adm-mma-opened {
    background-position: 0px -17px;
}

div.adm-menu-items-wrapper {
    margin: 0px 2px;
    padding: 5px 0px;

    border: 1px solid #ccc;
    border-top: none;
    background-color: #f6f6f6;

    position: relative;
    z-index: 1;
    display: none;


    font-size: 13px;
    color: black;
}
div.adm-mmi-opened {
    display: block;
}

div.adm-menu-item-wrapper {
    height: 26px;
    padding-left: 33px;

    position: relative;

    line-height: 26px;
}

img.adm-menu-item-icon {
    top: 5px;
    left: 9px;
    width: 16px;
    height: 16px;

    position: absolute;
    z-index: 5;
}

/* --------------- boonex promo block */

.bx-adm-boonex-promo {
    background-color: #ffc;
}


