
.bx-sortable-item {    
    cursor:pointer;
    height:30px;
    margin-bottom:5px;
}

.bx-sortable-placeholder {
    cursor:pointer;
    height:30px;
    margin-bottom:5px;
    background-image:url(../images/ph_bg.gif);
}

.bx-sortable-container-wrapper {
    width:300px; 
    float:left;
}

.bx-sortable-container-divider {
    width:10px; 
    float:left;    
}
