/* TODO: remove or remake according to new design */

div.adm-settings-wrapper {
    padding: 9px 9px 9px 9px;
}
.form_advanced_table td.caption {
    white-space: normal;
}

/*--- Baseic Settings ---*/
div.adm-bs-switcher {
    width: 320px;
    margin: 0px auto;
}
div.adm-bs-switcher div.input_wrapper_radio {
    padding: 0px 5px;
}
