<div class="bx-base-notifications-unit bx-def-unit bx-def-unit-live-search group flex items-center mb-2 last:mb-0" data-ts="__ts__">
    <a class="relative flex items-center w-full p-2 ring-1 ring-gray-200 dark:ring-gray-700 bg-white dark:bg-gray-900 hover:bg-gray-200 dark:hover:bg-gray-800 hover:text-gray-800 dark:hover:text-gray-200 rounded-md box-border" href="__item_url__">
        <bx_if:show_icon><img class="bx-def-thumb bx-def-thumb-size rounded box-border" src="__author_icon__" /></bx_if:show_icon>
        <bx_if:show_icon_empty><i class="sys-icon user"></i></bx_if:show_icon_empty>
        <div class="bx-def-unit-info flex flex-col pl-2">
            <div class="bx-def-ui-title">__title__</div>
            <div class="bx-def-ui-type text-sm text-gray-500 dark:text-gray-400 leading-4">__module_name__</div>
        </div>
    </a>
</div>