<div class="bx-base-notifications-unit bx-def-unit bx-def-unit-live-search group flex items-center mb-2 last:mb-0 bg-white dark:bg-gray-800" data-ts="__ts__">
    <bx_if:show_icon><img class="bx-def-thumb bx-def-thumb-size" src="__author_icon__" /></bx_if:show_icon>
    <bx_if:show_icon_empty><i class="sys-icon user"></i></bx_if:show_icon_empty>
    <div class="bx-def-unit-info flex flex-col pl-2">
        <div class="bx-def-ui-title"><a href="__item_url__">__title__</a></div>
        <div class="bx-def-ui-type text-sm text-gray-500 dark:text-gray-400 leading-4">__module_name__</div>
    </div>
</div>