<div class="bx-def-padding" id="__PopupId___wrp">
    <div class=" bx-form-input-wrapper bx-form-input-wrapper-text">
        <bx_text:_bx_groups_txt_invite_popup_text />
    </div>
    <div class="bx-def-margin-top bx-clearfix">
        <button class="bx-btn bx-def-margin-thd bx-invite-accept" type="button">
            <bx_text:_bx_groups_txt_invite_popup_button_accept />
        </button>
        <button class="bx-btn bx-def-margin-thd bx-invite-decline" type="button">
            <bx_text:_bx_groups_txt_invite_popup_button_decline />
        </button>
    </div>
</div>