
.bx_events_unit {
    height: 233px;
    position:relative;
}

.bx_events_unit .sys_file_search_pic {
    height: 148px;
}

.bx_events_unit .sys_file_search_pic img {
    height: 140px;
}

.bx_events_unit_participants {
    float: right;
    font-size: 9px;
    height: 8px;
    line-height: 11px;
    padding: 1px 0px 4px 0px;
    margin:0;
    color: #333;
    overflow:visible;
    background-image:url(../images/icons/participant.png);
    background-position:0 2px;
    background-repeat:no-repeat;
}

.bx_events_unit_participants b {
    padding-left:13px;
    font-weight: normal;
}


