
div.bx-events-wall-event {
    margin-left: 25px;
    position: relative;
}

div.bx-events-wall-caption {
    height: 30px;
    padding-left: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px center;
    line-height: 30px;
}

span.bx-events-wall-caption-owner {
    font-weight: bold;
}

a.bx-events-wall-caption-link,
a.bx-events-wall-caption-link:link {
    text-decoration: none;
}
a.bx-events-wall-caption-link:hover,
a.bx-events-wall-caption-link:active {
    text-decoration: underline;
}


div.bx-events-wall-comments {
    padding-left: 0px;
    position: relative;
    font-size: 10px;
}

/*--- Overwrite default Comment styles ---*/
div.bx-events-wall-comments div.cmts {
    padding: 0px;
    /*display: none;*/
}
div.bx-events-wall-comments div.cmt-reply {
    padding: 0px;
    /*display: none;*/
}
div.bx-events-wall-comments div.thumbnail_block {
    left: -38px;
    top: 1px;
}
