<div style="position: relative; display: inline-block;">
	<a href="__content_url__">
		<div style="position: relative; margin: 5px;">
			<div style="position: absolute; top: 0px; left: 0px; width: 48px; height: 48px; background-clip: padding-box; border-radius: 80px; line-height: 48px;text-align: center; overflow: hidden;">
                <img style="width: 48px; height: 48px; line-height: 48px; border-radius: 80px;" src="__icon_url__" />
			</div>
			<div style="position: relative; min-height: 48px; margin-left: 58px;">
			    <div style="padding: 5px 0px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                    <p style="margin: 0px;">__content__</p>
                    <p style="margin: 5px 0px 0px 0px;">__date__</p>
                </div>
			</div>
		</div>
	</a>
</div>