<div id="__html_id__" class="__style_prefix__-event bx-def-box bx-def-box-round-corners bx-def-color-bg-box bx-def-color-bg-box-hover relative mb-2 __class__">
    <a class="__style_prefix__-event-link hover:no-underline" href="__link__" <bx_if:show_onclick>onclick="return __js_object__.markAsClicked(this, __id__)"</bx_if:show_onclick>>
        <div class="__style_prefix__-event-gap p-4">
            <div class="__style_prefix__-event-cnt relative flex items-center">
                <div class="__style_prefix__-owner-avatar bx-def-thumb-size">__author_unit__</div>
                <div class="__style_prefix__-body bx-def-thumb-size-min-height flex flex-col ml-4">
                    <div class="__style_prefix__-content">__content__</div>
                    <div class="__style_prefix__-date">__date__</div>
                </div>
                <bx_if:show_clicked_indicator>
                    <div class="absolute h-2 w-2 right-0 bg-blue-500 rounded-full"></div>
                </bx_if:show_clicked_indicator>
            </div>
        </div>
    </a>
</div>