<div id="__html_id__" class="__style_prefix__-event bx-def-margin-sec-top-auto bx-def-round-corners bx-def-box bx-def-color-bg-box bx-def-color-bg-box-hover__class__">
    <a class="__style_prefix__-event-link bx-def-font-color" href="__link__">
        <div class="__style_prefix__-event-gap bx-def-padding">
            <div class="__style_prefix__-event-cnt">
                <div class="__style_prefix__-owner-avatar bx-def-thumb-size">__author_unit__</div>
                <div class="__style_prefix__-body bx-def-thumb-size-min-height bx-def-thumb-size-left-indent">
                    <div class="__style_prefix__-content">__content__</div>
                    <div class="__style_prefix__-date">__date__</div>
                </div>
            </div>
        </div>
    </a>
</div>