@import url(../../../../../../../template/css/media-phone.css);

.bx-media-phone .bx-page-wrapper.bx-def-padding-sec-leftright {
    padding-left: 0;
    padding-right: 0;
}
.bx-media-phone .bx-content-container.bx-def-padding-sec-leftright {
    padding-left: 0;
    padding-right: 0;
}


/* --------------- design boxes */
.bx-media-phone .bx-layout-cell > .bx-page-block-container > .bx-db-container {
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
}

.bx-media-phone .bx-layout-cell > .bx-page-block-container > .bx-db-container.bx-dbc-nopadding .bx-db-header {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bx-media-phone .bx-db-content:not(.bx-content-padding-block) .bx-def-box.bx-def-round-corners {
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
}
