<bx_if:show_list>
    <div class="__style_prefix__-jump-to-cnt">
        <bx_text:_bx_timeline_txt_or_jump_to />&nbsp;<bx_repeat:links><bx_if:show_link><a href="javascript:void(0)" onclick="__onclick__" title="__title__">__content__</a></bx_if:show_link><bx_if:show_text>__content__</bx_if:show_text><span class="__style_prefix__-jt-divider">, </span></bx_repeat:links>
    </div>
</bx_if:show_list>
<bx_if:show_calendar>
    <div class="__style_prefix__-jump-to-cnt flex items-center flatpickr">
        <bx_text:_bx_timeline_txt_or_jump_to />
        <div class="bx-form-input-wrapper bx-form-input-wrapper-datetime w-32 mx-2">
            <input class="bx-def-font-inputs bx-form-input-datetime __style_prefix__-jump-to-calendar" type="text" data-input />
        </div>
        <a class="bx-btn __style_prefix__-jump-to-switch" href="javascript:void(0)" onclick="__onclick__" data-toggle><i class="sys-icon calendar-alt"></i></a>
    </div>
</bx_if:show_calendar>