<div class="mbp-current-level">
    <div class="mbp-level">
        <div class="mbp-level-icon" style="background-image:url(__icon__);">
            <img src="<bx_image_url:spacer.gif />" />
        </div>
        <div class="mbp-level-content">
            <div class="mbp-level-title">
                <a href="javascript: void(0)" onclick="javascript: window.open('<bx_url_root />explanation.php?explain=membership&type=__id__', '', 'width=650,height=300,menubar=no,status=no,resizable=no,scrollbars=yes,toolbar=no, location=no');">__title__</a>
            </div>
            <div class="mbp-level-info">__expires__</div>
        </div>
        <div class="mbp-level-description">__description__</div>
    </div>
</div>
