.bx_snipcart_cover .bx-cover-actions .bx-menu-btns-hor,
.bx_snipcart_cover .bx-cover-actions .bx-btn.snipcart-add-item {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.bx-snipcart-unit-actions .bx-btn {
	display: inline-block;
	float:none;
}