<!-- layout top area 2 columns [ start ] -->
<div class="bx-layout-wrapper bx-layout-top-area-2-columns">

    <div class="bx-layout-row bx-clearfix">
        <div class="bx-layout-col bx-layout-2-columns-column1 bx-layout-column-half">
            <div class="bx-layout-cell bx-def-padding-right" id="bx-layout-cell-2">
                __cell_2__
            </div>
        </div>
        <div class="bx-layout-col bx-layout-2-columns-column2 bx-layout-column-half">
            <div class="bx-layout-cell bx-def-padding-left" id="bx-layout-cell-3">
                __cell_3__
            </div>
        </div>
    </div>

    <bx_include_auto:_row_1_column.html />

</div>
<!-- layout top area 2 columns [  end  ] -->
