<div id="bx-toolbar" class="bx-header bx-def-z-index-nav bg-white dark:bg-gray-800 shadow-sm">
    <div class="bx-header-cnt bx-def-page-width mx-auto px-3 md:px-4 lg:px-6 box-border">
        <div class="bx-toolbar-content-wrapper">
            <div id="bx-toolbar-content" class="bx-toolbar-content relative flex items-center justify-start h-16">
                <!-- Mobile: Hamburger -->
                <div class="flex-none items-center lg:hidden mr-3">
                    <bx_menu:sys_toolbar_site />
                </div>

                <!-- Logo -->
                <div id="bx-logo-container" class="bx-toolbar-item bx-ti-left bx-ti-logo flex-none items-center">
                    <bx_injection:injection_logo_before />
                    __main_logo__
                    <bx_injection:injection_logo_after />
                </div>
                <!-- Menu -->
                <div class="bx-toolbar-item bx-ti-menu flex-1 hidden lg:block w-64 ml-6 overflow-hidden">
                    <div id="bx-menu-toolbar-1-container" class="bx-toolbar-item bx-ti-menu w-full">
                        <bx_menu:sys_site />
                    </div>
                </div>
                <!-- Search -->
                <div class="bx-toolbar-item bx-ti-search flex flex-grow flex-shrink items-center justify-end ml-6 w-32">
                    <div class="flex items-start w-full hidden md:block">
                        <div class="relative w-full">__sys_site_search__</div>
                    </div>
                </div>
                <!-- Members Toolbar -->
                <div id="bx-menu-toolbar-2-container" class="bx-toolbar-item bx-ti-right flex-none ml-4">
                    <bx_menu:sys_toolbar_member />
                </div>
            </div>
        </div>
    </div>
</div>