
<div class="bx-base-text-unit bx-base-text-unit-ext bx-def-margin-bottom">
    <h2 class="bx-def-padding-sec-top"><a href="__content_url__">__title__</a></h2>
    <div class="bx-base-text-unit-info">
        <span class="bx-def-font-grayed">__entry_posting_date__</span>
        <span class="bx-base-text-unit-info-div bx-def-font-grayed">&#183;</span>
        <a class="bx-base-text-unit-author" href="__author_url__">__author__</a>
    </div>
    <div class="bx-albums-unit-images-cont bx-def-margin-sec-top bx-def-margin-sec-bottom">
        <div class="bx-albums-unit-images bx-clearfix">
            <bx_repeat:browse><a title="__title_attr__" href="__url__"><img alt="__title_attr__" src="__img_url__" /></a></bx_repeat:browse>
        </div> 
    </div> 
</div>

