div.bx-tl-post {
    position: relative;
}
div.bx-tl-post-cnt {
    position: relative;
    display: block;
}

/*--- Post Form Styles ---*/
#bx_timeline_post textarea.bx-form-input-textarea {
    height: 2.2rem;
}

#bx_timeline_post div#bx-form-element-link,
#bx_timeline_post div#bx-form-element-photo,
#bx_timeline_post div#bx-form-element-video,
#bx_timeline_post .bx-form-input-files-uploaders {
    margin-top: 0px;
}
#bx_timeline_post div#bx-form-element-attachments ul.bx-menu-btns-hor {
    text-align: left;
}
div.bx-tl-uploader-file {
    position: relative;
    float: left;
}
#bx_timeline_post div.bx-uploader-ghost-cnt {
    min-width: 6.25rem;
}
div.bx-tl-uploader-file-preview {
    overflow: hidden;
}
div.bx-tl-uploader-file-preview,
div.bx-tl-uploader-file-preview img {
    width: 6.25rem;
    height: 6.25rem;
}
div.bx-tl-uploader-file-preview img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*--- Attach Link Form Field Styles ---*/
div.bx-tl-attach-link-form-field {}
div.bx-tl-al-item {
    position: relative;

    overflow: hidden;
}
div.bx-tl-al-item.embed {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
div.bx-tl-ali-thumbnail img {
    width: 100px;
    height: 100px;
}
div.bx-tl-ali-embed {
    max-height: 250px;
    overflow-y: scroll;
}
div.bx-tl-ali-actions .bx-btn {
    display: inline-block;
    float: none;
}

/*--- Add Emoji Styles ---*/
.bx-menu-btn.add-emoji {
	position: relative;
}

/*--- Froala Styles ---*/
.bx-form-input-wrapper-textarea .fr-toolbar {
	z-index: 0;
}
