/*--- Reposted By ---*/
div.bx-tl-by-list {}
div.bx-tl-by-list-cnt {
    max-height: 200px;
    max-height: 12.5rem;
    min-width: 220px;
    min-width: 13.75rem;
    overflow: auto;
}
div.bx-tl-by-list div.bx-base-pofile-unit {
    float: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

/*--- Repost With Text ---*/
.bx-tl-rw-reposted .bx-tl-rtr-cnt {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*--- Repost To ---*/
.ui-autocomplete.ui-front {
    z-index: 10001;
}
.bx-tl-rt-list {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.bx-tl-rtlm-items {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bx-tl-rtlm-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
}
.bx-tl-rtlm-item .bx-tl-rtlm-unit .bx-base-pofile-unit {
    margin: 0;
}

/*--- Repost Element Styles ---*/
.bx-tl-repost .bx-tl-repost-element-holder .bx-tl-repost-do-repost.bx-tl-repost-disabled,
.bx-tl-repost .bx-tl-repost-element-holder .bx-tl-repost-do-repost.bx-tl-repost-disabled .sys-icon {
    color: #ddd;
}
.bx-tl-repost .bx-tl-repost-counter-holder {
    margin-left: 5px;
    margin-left: 0.3125rem;
}
.bx-tl-repost-button .bx-tl-repost-element-holder,
.bx-tl-repost-button .bx-tl-repost-counter-holder {
    line-height: 36px;
    line-height: 2.25rem;
}
.bx-tl-repost.bx-tl-repost-button .bx-tl-repost-counter-holder {
    margin-left: 10px;
    margin-left: 0.625rem;
}
.bx-tl-repost-button-small .bx-tl-repost-element-holder,
.bx-tl-repost-button-small .bx-tl-repost-counter-holder {
    line-height: 24px;
    line-height: 1.6rem;
}
.bx-tl-repost-button .bx-tl-repost-counter-holder .bx-btn-height,
.bx-tl-repost-button-small .bx-tl-repost-counter-holder .bx-btn-height {
    font-size: 1.5rem;
}

div.bx-tl-repost div.bx-tl-repost-element-holder,
div.bx-tl-repost div.bx-tl-repost-counter-holder {
    position: relative;
    float: left;
}

/*--- Counter Styles ---*/
.bx-tl-repost-counter-holder .bx-tl-repost-counter {
    line-height: normal;
}

.bx-tl-repost-counter span.bx-tl-counter-icon {
    position: relative;
    box-sizing: border-box;

    width: 2.0rem;
    height: 2.0rem;

    background-color: rgba(232, 232, 232, 1.0);
    border: 1px solid #ffffff;
    border-radius: 1rem;

    line-height: normal;
    font-size: 1.0rem;
}