<div class="sys-author bx-def-unit flex items-center">
    <div class="bx-def-unit-img flex-none">__author_unit__</div>
    <div class="bx-def-unit-info flex-auto min-w-0 ml-4">
        <div class="bx-def-unit-info-cnt bx-def-box-sizing">
            <div class="bx-def-unit-line bx-def-font-author"><a class="bx-def-unit-info-title" href="__author_url__" title="__author_title_attr__">__author_title__</a></div>
            <div class="bx-def-unit-line bx-def-font-meta">__author_desc__</div> 
        </div>
    </div>
</div>
<bx_if:addon>
    <div class="sys-author-addon mt-2">
        __content__ 
    </div>
</bx_if:addon>
