/*--- General ---*/
div.bx-grid-header div.bx-form-element-wrapper {
    position: relative;
    float: left;
    width: 165px;
}

/*--- Forms page -> Add/Edit Form block ---*/
div.bx-form-add-form {}
div.bx-form-add-form-cnt {}

/*--- Displays page -> Add/Edit Display block ---*/
div.bx-form-add-display {}
div.bx-form-add-display-cnt {}

/*--- Displays page -> Panel Top style ---*/
div.bx-grid-header div#bx-form-element-module,
div.bx-grid-header div#bx-form-element-form,
div.bx-grid-header div#bx-form-element-list {
    margin-right: 20px;
}
div.bx-grid-header div#bx-form-element-form,
div.bx-grid-header div#bx-form-element-display,
div.bx-grid-header div#bx-form-element-module,
div.bx-grid-header div#bx-form-element-list,
div.bx-grid-header div#bx-form-element-keyword {
    margin-top: 0px;
}

/*--- Fields page -> Panel Top style ---*/
div.bx-grid-header div.bx-form-element-wrapper {
    position: relative;
    float: left;
}
div.bx-grid-header div#bx-form-element-display {
    margin-right: 20px;
}

/*--- Fields page -> Add/Edit Field block style ---*/
div#bx-form-element-type .bx-menu-ver li {
    position: relative;
    float: left;
    width: 50%;
}
div#bx-form-element-type .bx-menu-ver li a {
    width: 100%;
}
    
div#bx-form-element-type .bx-menu-ver .bx-def-hr {
    display: none;
}
div#bx-form-element-info textarea.bx-form-input-textarea {
    height: 53px;
}

/*--- Pre Lists page -> Add/Edit Form block ---*/
div.bx-form-add-list {}
div.bx-form-add-list-cnt {}

/*--- Pre Values page -> Add/Edit Form block ---*/
div.bx-form-add-value {}
div.bx-form-add-value-cnt {}