div.bx-dashboard {
	position: relative;
}
div.bx-dbd-column {
	position: relative;
	float: left;
	width: 50%;
}
div.bx-dbd-block-content {
	position: relative;
}

/*--- Versions block ---*/
div.bx-dbd-virsion-image {
	position: absolute;
	top: 0px;
	left: 0px;
}
div.bx-dbd-virsion-info {
	position: relative;
	min-height: 110px;
	margin-left: 130px;
}
div.bx-dbd-vi-column {
	position: relative;
	float: left;
	width: 50%;
}
div.bx-dbd-update-script span {
	line-height: 26px;
	line-height: 1.6rem;
}

/*--- Chart based blocks ---*/
div.bx-dbd-space-chart,
div.bx-dbd-cache-chart {
	width: 512px;
	height: 256px;
	margin: 0px auto; 
}

/*--- Host Tools block ---*/
div.bx-dbd-host-tools .bx-btn {
    display: inline-block;
    float: none;
}