div.bx-dashboard {
	position: relative;
}
div.bx-dbd-column {
	position: relative;
	float: left;
	width: 50%;
}
div.bx-dbd-block-content {
	position: relative;
}

/*--- Versions block ---*/
div.bx-dbd-version-image img {
    width: 110px;
    height: 110px;
}
.bx-dbd-version-info .bx-dbd-vii-row {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

/*--- Chart based blocks ---*/
div.bx-dbd-chart {
	width: 400px;
	height: 200px;
	margin: 0px auto; 
}

/*--- Host Tools block ---*/
div.bx-dbd-htools .bx-btn {
    display: inline-block;
    float: none;
}

div.bx-dbd-htools .bx-dbd-htools-item {
    float: left;
    width: 50%;
}

/*--- Queues block ---*/
#bx-grid-table-sys_queues {
    width:100%;
}
