@import url(../../../template/css/forms.css);

/**
 * General
 */
select.bx-form-field-type option {
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 5px 0px;
}


/**
 * Image uploader with with manager
 */
div.bx-form-input-preview {}
div.bx-form-input-preview img {
    max-width: 768px; 
    max-height: 256px;
}
div.bx-form-input-preview-empty {}


/**
 * Translatable fields.
 */
div.bx-form-input-wrapper-textarea {
	position: relative;
}

div.bx-form-input-translator {
	position: absolute;
	top: -22px;
	right: 0px;
}

div.bx-form-input-language,
div.bx-form-input-language-current{
	position: relative;
	height: 17px;
	line-height: 17px;
}

div.bx-form-input-language {
    white-space: nowrap
}

div.bx-form-input-language-current {
	font-weight: bold;
}
