@import url(../../../template/css/forms.css);

/**
 * Overwrite default styles
 */
.bx-form-value .bx-form-input-slider,
.bx-form-value .bx-form-input-doublerange,
.bx-form-value .bx-form-input-select_multiple,
.bx-form-value .bx-form-input-select,
.bx-form-value .bx-form-input-radio_set,
.bx-form-value .bx-form-input-checkbox_set,
.bx-form-value .bx-form-input-number,
.bx-form-value .bx-form-input-time,
.bx-form-value .bx-form-input-datepicker,
.bx-form-value .bx-form-input-datetime,
.bx-form-value .bx-form-input-textarea,
.bx-form-value .bx-form-input-wrapper-password,
.bx-form-value .bx-form-input-text,
.bx-form-value .bx-form-input-price,
.bx-form-value .bx-form-input-wrapper-price span {
    height: 2.5rem;
    padding: 0 0.75rem;
    box-sizing: border-box;

    border: 1px solid rgba(107, 114, 128, 0.2);
    border-radius: 0.5rem;

    line-height: 1.25rem;
    font-size: 1.0rem;
}
.bx-form-input-rgb-list{
    color:#fff;
}

.bx-form-value .bx-form-input-select_multiple,
.bx-form-value .bx-form-input-radio_set,
.bx-form-value .bx-form-input-checkbox_set {
    height:auto;
}

.bx-form-value .bx-form-input-textarea {
    height: 15rem;
    padding: 0.5rem;

    line-height:normal;
}

.bx-form-value .bx-form-input-textarea-small {
    height: 4.5rem;
}

.bx-form-value .bx-form-input-wrapper-textarea .CodeMirror {
    height: 30rem;
}

.bx-form-value .bx-form-input-slider:focus,
.bx-form-value .bx-form-input-doublerange:focus,
.bx-form-value .bx-form-input-number:focus,
.bx-form-value .bx-form-input-time:focus,
.bx-form-value .bx-form-input-datepicker:focus,
.bx-form-value .bx-form-input-datetime:focus,
.bx-form-value .bx-form-input-textarea:focus,
.bx-form-value .bx-form-input-text:focus,
.bx-form-value .bx-form-input-price:focus,
.bx-form-value .bx-form-input-wrapper-password.bx-form-input-focus {
    outline: 2px solid rgba(59,130,246,.5);
    outline-offset: 2px;

    background-color: rgba(255, 255, 255, 1);

    transition-duration: .1s;
}

.bx-form-value .bx-form-input-select_multiple,
.bx-form-value .bx-form-input-radio_set,
.bx-form-value .bx-form-input-checkbox_set {
    height:auto;
}

/**
 * General
 */
select.bx-form-field-type option {
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 5px 0px;
}


/**
 * Image uploader with with manager
 */
div.bx-form-input-preview {}
div.bx-form-input-preview img {
    max-width: 768px; 
    max-height: 256px;
}
div.bx-form-input-preview-empty {}


/**
 * Translatable fields.
 */
div.bx-form-input-wrapper-textarea {
	position: relative;
}

div.bx-form-input-translator {
	position: absolute;
	top: -22px;
	right: 0px;
}

div.bx-form-input-language,
div.bx-form-input-language-current{
	position: relative;
	height: 17px;
	line-height: 17px;
}

div.bx-form-input-language {
    white-space: nowrap
}

div.bx-form-input-language-current {
	font-weight: bold;
}

/**
 * Forms in popup.
 */
.bx-popup .bx-form-element .bx-form-input-wrapper-input_set {
    margin: 0 -1.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;

    border-top: 1px solid rgba(228, 228, 231, 1.0);
}