@import url(../../../template/css/menu.css);


/* --------------- toolbar menu */
ul.bx-menu-toolbar li .sys-icon-a,
ul.bx-menu-toolbar li .sys-icon {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
ul.bx-menu-toolbar li a .sys-icon-a {
    margin-top:0.5rem;
}


/* --------------- vertical, vertical lite menu */
.bx-popup .bx-menu-ver li div {
    padding: 10px 20px 10px 10px;
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
}

.bx-popup .bx-menu-ver li div > span {
    white-space: nowrap;
}
