@import url(../../../template/css/menu.css);


/* --------------- toolbar menu */
ul.bx-menu-toolbar li .sys-icon-a,
ul.bx-menu-toolbar li .sys-icon {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
ul.bx-menu-toolbar li a .sys-icon-a {
    margin-top:0.5rem;
}


/* --------------- vertical, vertical lite menu */
.bx-popup .bx-menu-ver li div {
    padding: 10px 20px 10px 10px;
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
}

.bx-popup .bx-menu-ver li div > span {
    white-space: nowrap;
}

/* --------------- Vertical in Popup */
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-sm, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-wo-gaps, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-wo-gaps-sm {
    border-radius: 16px;
}

.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil:hover,
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-sm:hover, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-wo-gaps:hover, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-wo-gaps-sm:hover {
    background-color: rgba(243, 244, 246, 1);
}

.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil a, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-sm a, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-wo-gaps a, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-wo-gaps-sm a {
    color: rgba(55, 65, 81, 1);
}

.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil:hover a, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-sm:hover a, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-wo-gaps:hover a, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-wo-gaps-sm:hover a {
    color: rgba(17, 24, 39, 1);
}

.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil .bx-menu-item-icon, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-sm .bx-menu-item-icon, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-wo-gaps .bx-menu-item-icon, 
.bx-popup ul:not(.bx-menu-hor) .bx-stl-mil-wo-gaps-sm .bx-menu-item-icon {
    margin-right: 0.75rem;
}