div.bx-std-menu-top-wrp {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;

    width: 100%;
    height: 5rem;
}
div.bx-std-menu-top-wrp .bx-std-menu-top.bx-std-menu-top-center:first-child {
    padding-left: 0.75rem;
}

div.bx-std-menu-top {
    position: relative;
}
div.bx-std-menu-top.bx-std-menu-top-left,
div.bx-std-menu-top.bx-std-menu-top-center,
div.bx-std-menu-top.bx-std-menu-top-right {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
}
div.bx-std-menu-top.bx-std-menu-top-left,
div.bx-std-menu-top.bx-std-menu-top-right {    
    min-width: 15%;
}
div.bx-std-menu-top-center ul {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    
}
div.bx-std-menu-top-left {
    padding-left: 1rem;
    line-height: 4rem;
    text-align: left;
    font-size: 1.5rem;
}
div.bx-std-menu-top-right {
    padding-right: 1rem;
    text-align: right;
}

/*--- Breadcrumb (Left) ---*/
.bx-menu-breadcrumb {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
}
.bx-menu-breadcrumb li.bx-menu-bc-item {
    position: relative;

    height: 4.0rem;
    min-width: 1.5rem;
    
    line-height: 4.0rem;
}
.bx-menu-breadcrumb li.bx-menu-bc-item > a {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.bx-menu-breadcrumb li.bx-menu-bc-item > a:hover span {
    color: rgba(255, 255, 255, 0.85);
}
.bx-menu-breadcrumb li.bx-menu-bc-item > a img,
.bx-menu-breadcrumb li.bx-menu-bc-item > a svg {
    width: 1.625rem;
    height: 1.625rem;
}
.bx-menu-breadcrumb li.bx-menu-bc-item:not(:last-child) > a svg g {
    opacity: 0.7;
}

.bx-menu-breadcrumb li.bx-menu-bc-item:not(:last-child) > a:hover svg g {
    opacity: 0.85;
}

/*--- Widgets (Center) ---*/
div.bx-std-menu-top .bx-menu-top-center {
    padding: 0;
    margin: 0;

    list-style: none;
}

div.bx-std-menu-top .bx-menu-top-center li {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    width: 4.5rem;
    height: 4.5rem;
}

/*
 * Vertical divider between static and dynamic menu items.
 *
div.bx-std-menu-top .bx-menu-top-center li.bx-menu-item-static + li.bx-menu-item-dynamic {
    border-left: 1px solid rgba(240, 240, 240, 0.2);
}
*/

div.bx-std-menu-top .bx-menu-top-center li.bx-menu-tab-active a {
    border-color: rgba(37, 99, 235, 0.8);
}

div.bx-std-menu-top .bx-menu-top-center li a {
    display: block;
    box-sizing: content-box;

    width: 3rem;
    height: 3rem;
}
div.bx-std-menu-top .bx-menu-top-center li .bx-mi-icon {
    border-radius: 0.625rem;
    overflow: hidden;
}
div.bx-std-menu-top .bx-menu-top-center li img,
div.bx-std-menu-top .bx-menu-top-center li .sys-icon {
    display: block;
    box-sizing: content-box;

    width: 3rem;
    height: 3rem;

    margin: 0;
}

div.bx-std-menu-top .bx-menu-top-center li .sys-icon {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
}

div.bx-std-menu-top .bx-menu-top-center li .bx-mi-title {
    margin-top: 0.25rem;

    font-size: 0.75rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    
    text-overflow: ellipsis;
    overflow: hidden;
}


/*--- Toolbar (Right) ---*/
div.bx-std-menu-top .bx-menu-toolbar {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

div.bx-std-menu-top .bx-menu-toolbar li {
    position: relative;
    float: none;
    display: block;

    height: 3.0rem;
    min-width: 3.0rem;
    
    border-radius: 1.5rem;
    background-color: rgba(17, 24, 39, 1);

    line-height: 3.0rem;
    overflow: hidden;
}
div.bx-std-menu-top .bx-menu-toolbar li.bx-menu-tab-search {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
div.bx-std-menu-top .bx-menu-toolbar li.bx-menu-tab-search .bx-form-input-text {
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border-width: 0;
    background-color: transparent;

    color: rgba(255, 255, 255, 1);
}
div.bx-std-menu-top .bx-menu-toolbar li a {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    width: 100%;
    height: 100%;
    
    border-radius: 1.5rem;
    backgroud-color: rgba(55, 65, 81, 1);
}

div.bx-std-menu-top .bx-menu-toolbar li svg g {
    opacity: 0.7;
}
div.bx-std-menu-top .bx-menu-toolbar li:hover {
    background-color: rgba(31, 41, 55, 1);
}
div.bx-std-menu-top .bx-menu-toolbar li:hover svg g {
    opacity: 0.85;
}

div.bx-std-menu-top i.sys-icon {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

div.bx-std-menu-top-right li.bx-menu-tab-active i.sys-icon {
    color: #ffe900;
    text-shadow: 0 0 4px #ffe900;
}

/*--- Account, Actions, Help and Settings popups ---*/
body > .bx-popup-wrapper.bx-std-mod-popup-settings-wrapper,
#bx-std-pcap-menu-popup-help,
#bx-std-pcap-menu-popup-actions,
#bx-std-pcap-menu-popup-account {
    overflow: visible;
}
.bx-std-mod-popup-settings-wrapper::before,
#bx-std-pcap-menu-popup-help:before,
#bx-std-pcap-menu-popup-actions:before,
#bx-std-pcap-menu-popup-account::before {
    position: absolute;
    display: block;
    content: '';

    top: 0.3rem;
    right: 1.0rem;
    width: 0.5rem;
    height: 0.5rem;

    box-shadow: inset 1px 1px 0px rgba(240, 240, 240, 0.2);
    background-color: #001529;

    transform: rotate(45deg);
}
.bx-std-mod-popup-settings-wrapper .bx-popup-gap,
#bx-std-pcap-menu-popup-help .bx-popup-gap,
#bx-std-pcap-menu-popup-actions .bx-popup-gap,
#bx-std-pcap-menu-popup-account .bx-popup-gap {
    margin-left: 0;
    margin-right: 0;
}
#bx-std-pcap-menu-popup-help .bx-popup,
#bx-std-pcap-menu-popup-actions .bx-popup,
#bx-std-pcap-menu-popup-account .bx-popup,
.bx-std-mod-popup-settings-wrapper.bx-popup-applied:not(.bx-popup-chain) .bx-popup {
    box-shadow: inset -1px -1px 0px rgba(240, 240, 240, 0.2), inset 1px 1px 0px rgba(240, 240, 240, 0.2);
    background-color: #001529;
}
#bx-std-pcap-menu-popup-actions .bx-popup-content {
    padding: 1.0rem;
}
#bx-std-pcap-menu-popup-account .bx-popup-content {
    padding: 0.5rem 0;
}
#bx-std-pcap-menu-popup-account .bx-popup li {
    position: relative;
    height: 2.5rem;
    margin: 0;
    padding: 0 1rem;

    white-space: nowrap;
    line-height: 2.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    overflow: hidden;
}
#bx-std-pcap-menu-popup-account .bx-popup li a {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
#bx-std-pcap-menu-popup-account .bx-popup li svg {
    margin-right: 0.25rem;
}

.bx-std-mod-popup-settings-wrapper,
#bx-std-pcap-menu-popup-help .bx-popup,
#bx-std-pcap-menu-popup-help .bx-popup a,
#bx-std-pcap-menu-popup-help .bx-popup .sys-icon,
#bx-std-pcap-menu-popup-actions .bx-popup,
#bx-std-pcap-menu-popup-account .bx-popup li a,
#bx-std-pcap-menu-popup-account .bx-popup li .sys-icon {
    color: rgba(255, 255, 255, 0.7);
}
#bx-std-pcap-menu-popup-account .bx-popup li svg g {
    opacity: 0.7;
}
#bx-std-pcap-menu-popup-help .bx-popup a:hover,
#bx-std-pcap-menu-popup-account .bx-popup li:hover a,
#bx-std-pcap-menu-popup-account .bx-popup li:hover a .sys-icon {
    color: rgba(255, 255, 255, 0.85);
}
#bx-std-pcap-menu-popup-account .bx-popup li.bx-menu-tab-active {
    background-color: rgba(24, 144, 255, 0.2);
    box-shadow: inset 3px 0px 0px rgba(24, 144, 255, 1.0);
}
#bx-std-pcap-menu-popup-account .bx-popup li:hover svg g,
#bx-std-pcap-menu-popup-account .bx-popup li.bx-menu-tab-active svg g {
    opacity: 0.85;
}

.bx-std-mod-popup-settings-wrapper .bx-form-input-select {
    border-color: rgb(55, 65, 81, 1.0);
    background-color: rgb(17, 24, 39, 1.0);
}