.bx-std-bg {
    background: rgba(0, 0, 0, 1);
}

/*--- 2 columns ---*/
.bx-std-pc-stretch {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    box-sizing: border-box;
}

.bx-std-pc-vstretch {
    width: 100%
}

div.bx-std-page-columns-cnt {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
/*
    height: calc(100vh - 5rem);
    */
}

div.bx-std-page-column.bx-std-page-menu {
    position: relative;
    -webkit-flex: 0 0 230px;
    flex: 0 0 230px;

    width: 230px;
    height: 100%;

    background-color: #ffffff;

    overflow-y: auto;
}
div.bx-std-page-column.bx-std-page-menu::-webkit-scrollbar {
  display: none;
}
div.bx-std-page-column.bx-std-page-menu div.bx-std-page-column-cnt {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 5rem;
}
    
div.bx-std-page-column.bx-std-page-content {
    position: relative;
    -webkit-flex-grow: 2;
    flex-grow: 2;

    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}
div.bx-std-page-column.bx-std-page-content::-webkit-scrollbar {
  display: none;
}
div.bx-std-page-column.bx-std-page-content div.bx-std-page-column-cnt {
    width: 100%;
    padding-top: 5rem;
}
