/**
 * Page breadcrumb
 */
.bx-menu-breadcrumb li:first-child {
    display: none;
}

.bx-menu-breadcrumb li a {
    margin: 0;
}
.bx-menu-breadcrumb li a span {
    font-size: 1rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
}

/**
 * Inlined Blocks Styles
 */
div.bx-std-blocks-line {
    position: relative;
}
div.bx-std-blocks-line .bx-std-block-wrp {
    display: block;
    float: left;
    width: 100%;
}


/**
 * Block Styles
 */
div.bx-std-block {
    background-color: rgba(255, 255, 255, 1.0);
}
div.bx-std-block-caption {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    padding: 1.0rem 1.5rem;
}
div.bx-std-bcap-text {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    line-height: 1.5;
    font-size: 1rem;
    font-weight: 600;
}
div.bx-std-bcap-actions {
    position: relative;
    -webkit-flex: 0 2 auto;
    -ms-flex: 0 2 auto;
    flex: 0 2 auto;
    max-width: 80%;

    font-size: 0.875rem;
}
div.bx-std-bcap-action,
div.bx-std-bcap-action-div {
    position: relative;
    float: left;
    line-height: 25px;
}
div.bx-std-bcap-action-div:first-child {
    display: none;
}

div.bx-std-block-panel-top {}
div.bx-std-block-panel-top .bx-std-pt-cnt {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

div.bx-std-block-content {
    padding: 1.5rem;
}
div.bx-std-block-content div.bx-grid-header {
    margin-top: 0px;
}

div.bx-std-block-panel-bottom {}
div.bx-std-block-panel-bottom .bx-std-pt-cnt {
    padding: 0 1.5rem 1.5rem 1.5rem;
}


/**
 * Builder based blocks
 */

.bx-page-block-container {
    padding-top: 1.875rem;
    padding-bottom: 0;
}