/*--- General style ---*/
div.bx-std-block div.bx-std-block-panel-bottom ul.bx-menu-btns-hor {
	text-align: left;
}

/*--- Product's Snippet style ---*/
div.bx-std-products {
	position: relative;
}

div.bx-std-products div.bx-paginate div.bx-paginate-btns {
	margin-left: 0px;
}

div.bx-std-product {
	position: relative;
    float: left;
	width: 100%;
}
div.bx-std-product-cnt {
	position: relative;
}
div.bx-stdp-icon {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	line-height: 8rem;
}
div.bx-stdp-icon i.sys-icon {
	position: absolute;
	z-index: 2;
	left: 0px;
	width: 128px;

    font-size: 96px;
    text-align: center;
    text-shadow: none;
    color: white;
}
div.bx-stdp-content {
	overflow: hidden;
}
div.bx-std-pc-title {
	white-space: nowrap;	
}
div.bx-std-pc-vendor,
div.bx-std-pc-count {
	white-space: nowrap;
}
span.bx-std-pc-price,
span.bx-std-pc-version,
span.bx-std-pc-versions {
	font-weight: bold;
}
div.bx-std-pc-action div.bx-std-pc-buttons {
	margin-top: -2px;
	margin-top: -0.125rem;
	margin-bottom: -2px;
	margin-bottom: -0.125rem;
}
div.bx-std-pc-action div.bx-std-pc-buttons .bx-btn {
	margin-top: 2px;
	margin-top: 0.125rem;
	margin-bottom: 2px;
	margin-bottom: 0.125rem;
}
div.bx-std-pc-action div.bx-std-pc-buttons .bx-btn:first-child {
	margin-left: 5px;
	margin-left: 0.625rem;
}

/*--- Product's Files style ---*/
div.bx-std-file .bx-btn {
	float: none;
}
table.bx-std-files .bx-std-ftitle {
	padding-right: 20px; 
	text-align: left;
}
table.bx-std-files .bx-std-fversion {
	padding-right: 20px;
	text-align: left;
}

/*--- Product View style ---*/
div.bx-std-pv-line {
	margin-top: 5px;
}
div.bx-std-pv-actions {}
div.bx-std-pv-line span.bx-std-pv-cpt {
	font-weight: bold;
}

div.bx-std-pv-screenshots {
	position: relative;
	height: 208px;
	overflow: hidden;
}
div.bx-std-pvs-cnt {
	position: relative;
	padding: 3px;
}
div.bx-std-pvs-left,
div.bx-std-pvs-right {
	position: absolute;
	z-index: 3;
	display: none;
	width: 50px;
	height: 50px;
	top: 76px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	line-height: 0.92em;
	font-size: 70px;
	cursor: pointer; 
}
div.bx-std-pvs-left {
	left: 15px;
	text-align: left;
}
div.bx-std-pvs-left i.sys-icon {
	margin-left: 10px;
	opacity: 0.5;
}
div.bx-std-pvs-right {
	right: 15px;
	text-align: right;
}
div.bx-std-pvs-right i.sys-icon {
	margin-right: 10px;
	opacity: 0.5;
}
div.bx-std-pvs-item {
	position: relative;	
	float: left;
	width: 202px;
    height: 202px;
	line-height: 240px;
	
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ffffff;

	-webkit-box-shadow: 0 0 3px rgba(51, 51, 51, 0.3);
    -moz-box-shadow: 0 0 3px rgba(51, 51, 51, 0.3);
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.3);

	text-align: center;
	overflow: hidden;
}