<div class="bx-content-description-before">__content_description_before__</div>
<div class="bx-content-description">
    <div class="bx-photos-entity-photo bx-def-align-center">
        <img class="bx-def-border-radius-block" src="__entry_photo__" title="__entry_title_attr__" />
    </div>
    <div class="bx-base-text-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img bx-def-margin-top">
        <h1>__entry_title__</h1>
    </div>
</div>
<div class="bx-content-description-after">__content_description_after__</div>