<div id="bx-uploader-file-{storage_object}-{file_id}" class="bx-uploader-ghost flex items-start mt-2">
    <div class="bx-uploader-ghost-cnt">
        <div class="bx-base-general-icon-wrapper">
            <input type="hidden" name="__name__[]" value="{file_id}" />
            <img src="{file_icon}" class="bx-def-round-corners bx-base-general-icon bx-base-general-icon-{file_id}" />
        </div>
        <span class="bx-base-general-uploader-ghost">
            <a class="bx-btn bx-btn-small bx-def-margin-sec-right" title="<bx_text:_sys_txt_form_entry_input_picture_delete />" href="javascript:void(0);" onclick="bx_base_general_delete_ghost('{file_id}', '{file_url}', '{file_icon}', ['__editor_id__'], {js_instance_name});"><i class="sys-icon times"></i></a>
            <a class="bx-btn bx-btn-small mr-2" href="javascript:void(0);" title="<bx_text:_sys_txt_form_entry_input_picture_copy />" onclick="bx_copy_to_clipboard('{file_url}');"><i class="sys-icon copy"></i></a>
        </span>
    </div>
    <div class="bx-form-input-wrapper bx-form-input-wrapper-text w-full">
        <input placeholder="<bx_text:_bx_photos_form_entry_input_title />" class="bx-def-font-inputs bx-form-input-text block w-full py-2 px-3 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm bg-white dark:bg-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-2 focus:text-gray-900 dark:focus:text-gray-100 focus:ring-blue-500 focus:border-opacity-70 focus:ring-opacity-20 focus:border-blue-500 text-sm text-gray-700 dark:text-gray-300 appearance-none" type="text" value="" name="title-{file_id}" />
    </div>
</div>