<!-- TODO: remake according to new design and principles -->

<div class="top_settings_block">
    <div style="padding:5px 9px 0 9px; float:left;">
        <span class="__status_class__">__status__</span>
    </div>
    <div style="padding:5px 9px 0 9px; float:right;">
        <a href="javascript:void(0);" onclick="showPopupAnyHtml ('__admin_url__antispam.php?popup=akismet_log');"><bx_text:_sys_adm_btn_dnsbl_log /></a>
        |
        <a href="__admin_url__advanced_settings.php"><bx_text:_sys_adm_btn_dnsbl_settings /></a>
    </div>
    <div class="clear_both"></div>
</div>

<div style="text-align:center;" class="bx_sys_default_padding">
    <span class="__key_status_class__">__key_status__</span>
</div>

