<!-- TODO: remake according to new design and principles -->

<div class="top_settings_block">
    <div style="padding:5px 9px 0 9px; float:left;">
        <span class="__status_class__">__status__</span>
    </div>
    <div style="padding:5px 9px 0 9px; float:right;">
        <a href="javascript:void(0);" onclick="showPopupAnyHtml ('__admin_url__antispam.php?popup=__mode___log');"><bx_text:_sys_adm_btn_dnsbl_log /></a>
        |
        <a href="javascript:void(0);" onclick="showPopupAnyHtml ('__admin_url__antispam.php?popup=__mode___recheck');"><bx_text:_sys_adm_btn_dnsbl_recheck /></a>
        |
        <a href="javascript:void(0);" onclick="showPopupAnyHtml ('__admin_url__antispam.php?popup=__mode___help');"><bx_text:_sys_adm_btn_dnsbl_help /></a>
        |
        <a href="__admin_url__advanced_settings.php"><bx_text:_sys_adm_btn_dnsbl_settings /></a>
        |
        <a href="javascript:void(0);" onclick="showPopupAnyHtml ('__admin_url__antispam.php?popup=__mode___add');"><bx_text:_sys_adm_btn_dnsbl_add /></a>
    </div>
    <div class="clear_both"></div>
</div>
<div style="text-align:center;">
__global_message__
</div>
<form id="adm-dnsbl-form" name="adm-dnsbl-form" action="__admin_url__antispam.php?mode=__mode__" method="post">
    <table style="width:100%;">
        <bx_repeat:items>
            <tr class="sys-adm-active-__active__">
                <td><input type="checkbox" class="form_input_checkbox" id="adm-dnsbl-__id__" name="rules[]" value="__id__" /></td>
                <td>__chain__</td>
                <td><a target="_blank" href="__url__">__zonedomain__</a></td>
                <td>__postvresp__</td>
                <td><img float_info="__comment__" src="<bx_icon_url:info.gif />" alt="info" class="info"></td>
            </tr>
        </bx_repeat:items>

    </table>
    __controls__
</form>
