<!-- TODO: remake according to new design and principles -->

<script type="text/javascript">
    function bs_sys_adm_dbsbl_recheck(sTest) {
        $('#sys-adm-dnsbl-check-table .sys-adm-dnsbl-check-status').each(function () {
            $(this).html('');
        });
        $('#sys-adm-dnsbl-check-table .sys-adm-dnsbl-check-status').each(function () {
            var m = $(this).attr('id').match(/(\d+)$/);
            if (m && m[1]) {
                var iId = m[1];
                var eStatus = this;
                $(this).html('Checking...');
                $.post('__admin_url__antispam.php', {action: '__action__', id: iId, 'test': sTest}, function (sRet) {
                    if ('LISTED' == sRet) {
                        $(eStatus).html('__txt_listed__');
                    }
                    else if ('NOT LISTED' == sRet) {
                        $(eStatus).html('__txt_not_listed__');
                    } else {
                        $(eStatus).html('__txt_failed__');
                    }
                });
            }
        });
        return false;
    }
</script>
<div class="bx_sys_default_padding">
    __form__
    <table style="width:100%;" id="sys-adm-dnsbl-check-table">
        <bx_repeat:items>
            <tr>
                <td id="sys-adm-dnsbl-check-status-__id__">__chain__</td>
                <td><a target="_blank" href="__url__">__zonedomain__</a></td>
                <td><span class="sys-adm-dnsbl-check-status" id="sys-adm-dnsbl-check-status-__id__"></span></td>
            </tr>
        </bx_repeat:items>
    </table>
</div>
