<!-- TODO: remake according to new design and principles -->

    <div id="sys-adm-antispam-log" style="width:400px;">

        <table style="width:100%;">
        <bx_repeat:items>
            <tr class="sys-adm-active-__active__">
                <td>__ip__</td>
                <td><a target="_blank" href="__member_url__">__member_nickname__</a></td>
                <td>__ago__</td>
                <td><img float_info="__extra__" src="<bx_icon_url:info.gif />" alt="info" class="info"></td>
            </tr>
        </bx_repeat:items>
        </table>

        __paginate__

    </div>
