<!-- TODO: remake according to new design and principles -->

<form id="__form_name__" enctype="multipart/form-data" method="post" action="" class="form_advanced">
    <div class="modules-items">
        <bx_repeat:items>
            <div class="modules-item">
                <input type="checkbox" class="form_input_checkbox" id="__name__" name="pathes[]" value="__value__" />
                <label for="pathes-__name__">__title__</label>
            </div>
        </bx_repeat:items>
    </div>
    __controls__
</form>
