<!-- TODO: remake according to new design and principles -->

<script type="text/javascript" language="JavaScript">
    <!--
    function setControlsState() {
        var state_disabled = ($('.form_queue_form select[name=age_start]').attr('disabled') == true) ? '' : 'disabled';

        $(".form_queue_form input[name='sex[]']").attr('disabled', state_disabled);
        $('.form_queue_form select[name=age_start]').attr('disabled', state_disabled);
        $('.form_queue_form select[name=age_end]').attr('disabled', state_disabled);
        $('.form_queue_form select[name=country]').attr('disabled', state_disabled);
        $('.form_queue_form select[name=membership]').attr('disabled', state_disabled);
    }
    -->
</script>
<center></center>
