
<div class="admin_login_wrapper">
    <div class="admin_license_form_wrapper">
        <form class="admin_login_form" method="post">
            <input type="hidden" name="ID" value="__id__" />
            <input type="hidden" name="Password" value="__password__" />
            <table cellspacing="20" cellpadding="0" class="admin_login_table">
                <tr>
                    <td colspan="2"><b><a href="https://www.boonex.com/paymentprovider/payment">Purchase a Dolphin License</a> and Register Your Site.</b></td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size:14px;">
                        A purchased license removes BoonEx ads from your site and upgrades your Unity account to 'Advanced'. For even more goodies and 'Premium' membership <a href="https://www.boonex.com/paymentprovider/payment">go Prime</a>.
                    </td>
                </tr>
                <tr>
                    <td class="value">License:</td>
                    <td>
                        <input type="text" name="license_code" id="admin_login_license" />
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="submit" id="admin_login_form_submit" value="Register"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size:14px; padding-top:35px;">
If money is tight, or you don't feel like supporting BoonEx, or just want to test-drive Dolphin you can
<a href="http://www.boonex.com/community/licenses/">generate a free license at BoonEx Unity</a> or <a href="__relocate_url__">continue using an unregistered copy</a>. In that case, links
to BoonEx ads and promo blocks will remain on your site and admin panel.
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

