@import url(../../../general/template/css/forms.css);

/*-- Entry Form: Attachments custom elements --*/
.bx-form-advanced-wrapper .bx-base-text-attachment-item {
    margin-top: 0;
}
.bx-form-advanced-wrapper .bx-base-text-attachment-item .bx-form-input-files-uploaders {
    margin-top: 0;
}
