/*-- Forms: Link attachment --*/
.bx-base-attach-link-form-field .embed {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.bx-media-phone .bx-base-attach-link-form-field .embed {
    width: 100%;
}