<script defer language="javascript">
    var __js_object__ = new BxDolStudioOptions({
        sActionUrl: '__base_url__',
        sParamPrefix: '__param_prefix__',
        sType: '__type__',
        sCategory: '__category__',
        sMix: '__mix__',
    });
</script>
<bx_if:show_mixes>
    <div class="bx-stg-mixes bx-def-margin-bottom bx-clearfix">
        <div class="bx-sm-cell bx-sm-select">
            <div class="bx-form-input-wrapper bx-form-input-wrapper-select">
                <bx_if:show_select_mix>
                    <select class="bx-def-font-inputs bx-form-input-select" onchange="__js_object__.mixSelect(this)">
                        <bx_repeat:mixes>
                            <option value="__value__"<bx_if:show_checked_mix> selected="selected"</bx_if:show_checked_mix> >__title__</option>
                        </bx_repeat:mixes>
                    </select>
                </bx_if:show_select_mix>
            </div>
        </div>
        <div class="bx-sm-cell bx-sm-new">
            <a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.mixCreate(this)">
                <bx_text:_adm_btn_settings_mix_create />
            </a>
            <a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.mixImport(this)">
                <bx_text:_adm_btn_settings_mix_import />
            </a>
            <bx_if:show_export_mix>
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.mixExport(this, __id__)">
                    <bx_text:_adm_btn_settings_mix_export />
                </a>
            </bx_if:show_export_mix>
            <bx_if:show_publish_mix>
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.mixPublish(this, __id__)">
                    <bx_text:_adm_btn_settings_mix_publish />
                </a>
            </bx_if:show_publish_mix>
            <bx_if:show_hide_mix>
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.mixHide(this, __id__)">
                    <bx_text:_adm_btn_settings_mix_hide />
                </a>
            </bx_if:show_hide_mix>
            <bx_if:show_delete_mix>
                <a class="bx-btn" href="javascript:void(0)" onclick="javascript: __js_object__.mixDelete(this, __id__)">
                    <bx_text:_adm_btn_settings_mix_delete />
                </a>
            </bx_if:show_delete_mix>
        </div>
    </div>
</bx_if:show_mixes>
<iframe name="adm-settings-iframe" class="bx-std-hidden"></iframe>
__form__