<div class="__class__ bx-def-padding-thd-topbottom">
    <div class="bx-form-input-answer-row bx-fi-ar-txt">
        <div class="bx-form-input-answer-cell bx-fi-ac-txt">__input_text__</div>
        <div class="bx-form-input-answer-cell bx-fi-ac-btn bx-def-padding-sec-left">
            <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.answerDelete(this)"><i class="sys-icon times"></i></a>
        </div>
    </div>
    <div class="bx-form-input-answer-row bx-fi-ar-chb">__input_checkbox__</div>
</div>