<div id="__html_id__" class="bx-fdb-question">
    <div class="bx-fdb-question-cnt">
        <div class="bx-fdb-q-text bx-def-font-h3">__text__</div>
        <div class="bx-fdb-q-answers bx-def-margin-top">
            <bx_repeat:answers>
                <div class="bx-fdb-answer bx-def-margin-top-auto">
                    <input class="bx-fdb-a-option" type="radio" name="question__question_id__" value="__id__" <bx_if:show_checked>checked="checked"</bx_if:show_checked> onchange="javascript:__js_object__.answerOnSelect(this, __question_id__)" />
                    <span class="bx-fdb-a-title bx-def-padding-sec-left">__title__</span>
                </div>
            </bx_repeat:answers>
        </div>
    </div>
</div>