<div id="__html_id__" class="__style_prefix__-views">
    <div class="__style_prefix__-v-header">
        <div class="__style_prefix__-v-title bx-def-padding-leftright bx-def-border-bottom bx-def-box-sizing">__title__</div>
        <div class="__style_prefix__-v-submenu">
            <div class="__style_prefix__-v-submenu-cnt">__menu__</div>
        </div>
    </div>
    <div class="__style_prefix__-v-gap bx-def-padding">
        <div id="__html_id_content__" class="__style_prefix__-v-cnt">__content__</div>
    </div>
</div>