<style>
    .bx-tl-cont-ph-boxes {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .bx-tl-cont-ph-boxes .bx-def-box {
        width: 30%;
    }

    .bx-cont-ph-u {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .bx-cont-ph-ut {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .bx-cont-ph-ui {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    
</style>
<div class="bx-tl-cont-ph-boxes">
    <div class="bx-def-box bx-def-padding-topbottom bx-def-round-corners bx-def-color-bg-box bx-def-margin-bottom">
        <div class="bx-cont-ph-u bx-def-padding">
            <div class="bx-cont-ph-ut bx-cont-ph bx-def-thumb-size bx-def-thumb bx-def-box-sizing">&nbsp;</div>
            <div class="bx-cont-ph-ui bx-def-margin-left">
                <span class="bx-cont-ph-inline" style="width:100%;">&nbsp;</span><br />
                <span class="bx-cont-ph-inline bx-def-margin-thd-top bx-def-font-small" style="width:70%;">&nbsp;</span>
            </div>
        </div>
        <div class="bx-cont-ph" style="height:20rem;"></div>
        <div class="bx-def-padding-lefttopright">
            <span class="bx-cont-ph-inline bx-def-font-h3" style="width:85%;">&nbsp;</span>
        </div>
    </div>
    <div class="bx-def-box bx-def-padding-topbottom bx-def-round-corners bx-def-color-bg-box bx-def-margin-bottom">
        <div class="bx-cont-ph-u bx-def-padding">
            <div class="bx-cont-ph-ut bx-cont-ph bx-def-thumb-size bx-def-thumb bx-def-box-sizing">&nbsp;</div>
            <div class="bx-cont-ph-ui bx-def-margin-left">
                <span class="bx-cont-ph-inline" style="width:100%;">&nbsp;</span><br />
                <span class="bx-cont-ph-inline bx-def-margin-thd-top bx-def-font-small" style="width:70%;">&nbsp;</span>
            </div>
        </div>
        <div class="bx-def-padding-rightbottomleft">
            <div class="bx-cont-ph bx-def-margin-thd-bottom">&nbsp;</div>
            <div class="bx-cont-ph bx-def-margin-thd-bottom">&nbsp;</div>
            <div class="bx-cont-ph bx-def-margin-thd-bottom">&nbsp;</div>
            <div class="bx-cont-ph bx-def-margin-thd-bottom">&nbsp;</div>
        </div>
    </div>
    <div class="bx-def-box bx-def-padding-topbottom bx-def-round-corners bx-def-color-bg-box bx-def-margin-bottom">
        <div class="bx-cont-ph-u bx-def-padding">
            <div class="bx-cont-ph-ut bx-cont-ph bx-def-thumb-size bx-def-thumb bx-def-box-sizing">&nbsp;</div>
            <div class="bx-cont-ph-ui bx-def-margin-left">
                <span class="bx-cont-ph-inline" style="width:100%;">&nbsp;</span><br />
                <span class="bx-cont-ph-inline bx-def-margin-thd-top bx-def-font-small" style="width:70%;">&nbsp;</span>
            </div>
        </div>
        <div class="bx-cont-ph" style="height:20rem;"></div>
        <div class="bx-def-padding-lefttopright">
            <span class="bx-cont-ph-inline bx-def-font-h3" style="width:85%;">&nbsp;</span>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var iBlockID = '__id__';
        getHtmlData($('#bx-page-block-' + iBlockID), bx_append_url_params(document.location.href, 'dynamic=tab&pageBlock=' + iBlockID), undefined, 'post', false, {includedCss: JSON.stringify(aIncludedCss), includedJs: JSON.stringify(aIncludedJs)}, false);
    });
</script>
