<div class="bx-def-box bx-def-padding-topbottom bx-def-round-corners bx-def-color-bg-box bx-def-margin-bottom">
    <div class="bx-clearfix">
        <div class="bx-cont-ph bx-def-thumb-size bx-def-thumb bx-def-box-sizing bx-def-margin" style="float:left;">&nbsp;</div>
        <span class="bx-cont-ph-inline bx-def-margin-top" style="width:10rem;">&nbsp;</span><br />
        <span class="bx-cont-ph-inline bx-def-margin-thd-top bx-def-font-small" style="width:7rem;">&nbsp;</span>
    </div>
    <div class="bx-cont-ph" style="height:20rem;"></div>
    <span class="bx-cont-ph-inline bx-def-margin bx-def-font-h3" style="width:18rem;">&nbsp;</span>
</div>
<div class="bx-def-box bx-def-padding-topbottom bx-def-round-corners bx-def-color-bg-box bx-def-margin-bottom">
    <div class="bx-clearfix">
        <div class="bx-cont-ph bx-def-thumb-size bx-def-thumb bx-def-box-sizing bx-def-margin" style="float:left;">&nbsp;</div>
        <span class="bx-cont-ph-inline bx-def-margin-top" style="width:10rem;">&nbsp;</span><br />
        <span class="bx-cont-ph-inline bx-def-margin-thd-top bx-def-font-small" style="width:7rem;">&nbsp;</span>
    </div>
    <div class="bx-def-padding">
        <div class="bx-cont-ph bx-def-margin-thd-bottom">&nbsp;</div>
        <div class="bx-cont-ph bx-def-margin-thd-bottom">&nbsp;</div>
        <div class="bx-cont-ph bx-def-margin-thd-bottom">&nbsp;</div>
        <div class="bx-cont-ph bx-def-margin-thd-bottom">&nbsp;</div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var iBlockID = '__id__';
        getHtmlData($('#bx-page-block-' + iBlockID), bx_append_url_params(document.location.href, 'dynamic=tab&pageBlock=' + iBlockID), undefined, 'post', false, {includedCss: JSON.stringify(aIncludedCss), includedJs: JSON.stringify(aIncludedJs)}, false);
    });
</script>
