<div class="__style_prefix__-bview-content">
    <div class="__style_prefix__-bview-cnt">
    <bx_if:show_image>
        <div class="__style_prefix__-bview-image __style_prefix__-bvi-single">
            <img src="__src__" />
        </div>
    </bx_if:show_image>
    <bx_if:show_images>
        <div class="__style_prefix__-bview-images">
            <bx_repeat:images>
                <div class="__style_prefix__-bview-image">
                    <a href="__url__">
                        <img src="__src__" />
                    </a>
                </div>
            </bx_repeat:images>
        </div>
    </bx_if:show_images>
    </div>
</div>