<div id="__html_id__" class="__style_prefix__-item __style_prefix__-sample __class__" bx-id="__id__">
    <a name="timeline-event-__id__"></a>
    <div class="__style_prefix__-item-ind bx-def-padding-sec">
        <div class="__style_prefix__-item-cnt bx-def-box bx-def-padding bx-def-round-corners bx-def-color-bg-box">
            <h3 class="__style_prefix__-is-title" style="width: 38%;"></h3>
            <ul class="__style_prefix__-is-paragraph">
                <li></li><li></li><li style="width: 61%;"></li>
                <li></li><li style="width: 83%;"></li><li></li>
                <li></li><li></li><li style="width: 55%;"></li>
            </ul>
            <ul class="__style_prefix__-is-paragraph">
                <li style="width: 27%;"></li>
            </ul>
        </div>
    </div>
</div>