<div id="__html_id__" class="__style_prefix__-live-update-alert bx-def-round-corners" style="display:none;">
    <a class="__style_prefix__-live-update-alert bx-def-padding" href="javascript:void(0)" onclick="__onclick_show__" title="<bx_text_attribute:_bx_timeline_txt_show />">
        <div class="__style_prefix__-lua-cnt bx-def-font-contrasted bx-popup-width">
            <i class="sys-icon sync-alt bx-def-font-contrasted"></i> <bx_text:_bx_timeline_txt_new_content />
        </div>
    </a>
</div>