<div class="__style_prefix__-live-update-item">
    <a class="__style_prefix__-live-update-item bx-def-padding" href="javascript:void(0)" onclick="__onclick_show__" title="<bx_text_attribute:_bx_timeline_txt_show />">
        <div class="__style_prefix__-lui-cnt">
            <div class="__style_prefix__-lui-avatar bx-def-thumb-size">__author_unit__</div>
            <div class="__style_prefix__-lui-info bx-def-thumb-size-min-height bx-def-thumb-size-left-indent">
                <div class="__style_prefix__-luii-username"><b class="__style_prefix__-luii-username bx-def-font-color">__author_name__</b> <span class="bx-def-font-small bx-def-font-grayed">__text__</span></div>
            </div>
        </div>
    </a>
</div>