<div class="__style_prefix__-load-more bx-def-padding-sec-top bx-clearfix" style="display:__visible__;">
    <div class="__style_prefix__-load-more-cnt flex items-center justify-between">
        <button class="bx-btn<bx_if:is_disabled> bx-btn-disabled</bx_if:is_disabled>" <bx_if:show_on_click>onclick="__on_click__"</bx_if:show_on_click>>
            <bx_text:_bx_timeline_txt_load_more />
        </button>
        <bx_if:show_jump_to>
            <div class="__style_prefix__-jump-to">__content__</div>
        </bx_if:show_jump_to>
    </div>
</div>