<ul class="bx-menu-item-subitems bx-menu-pf-subitems bx-menu-ver bx-def-font-middle bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-menu-subitem bx-menu-subitem-__name__ bx-def-round-corners bx-def-color-bg-hl-hover __class_add__">
            <div class="bx-menu-item-cnt bx-def-padding-thd-topbottom bx-def-padding-left bx-def-padding-sec-right">
                <a href="__link__" onclick="__onclick__"__attrs__>
                    <bx_include_auto:menu_icon.html />
                    <span class="bx-menu-item-title bx-def-margin-sec-left-auto">__title__</span>
                </a>
                <bx_if:addon>
                    <div class="bx-menu-addon bx-def-padding-sec-left">
                        <div class="bx-menu-addon-cnt bx-def-label menu">__addon__</div>
                    </div>
                </bx_if:addon>
            </div>
        </li>
    </bx_repeat:menu_items>
</ul>