<div id="bx-timeline-post" class="timeline-post bx-def-bc-margin">    
    <!-- Post Text -->
    <div id="timeline-ptype-cnt-text" class="timeline-ptype-cnt timeline-text">__text_form__</div>
    <!-- Post Link -->
    <div id="timeline-ptype-cnt-link" class="timeline-ptype-cnt timeline-link">__link_form__</div>
    <!-- Post Photo -->
    <div id="timeline-ptype-cnt-photo" class="timeline-ptype-cnt timeline-photo">__photo_form__</div>
    <!-- Post Music -->
    <div id="timeline-ptype-cnt-music" class="timeline-ptype-cnt timeline-music">__music_form__</div>
    <!-- Post Video -->
    <div id="timeline-ptype-cnt-video" class="timeline-ptype-cnt timeline-video">__video_form__</div>
	__js_content__
</div>