<div class="__style_prefix__-rt-list">
    <div class="__style_prefix__-rtl-modules">
        <bx_repeat:modules>
            <div class="__style_prefix__-rtl-module bx-def-margin-top-auto">
                <div class="__style_prefix__-rtlm-title bx-def-font-large">__title__</div>
                <div class="__style_prefix__-rtlm-items">
                    <bx_repeat:contexts>
                        <div class="__style_prefix__-rtlm-item bx-def-padding-thd-topbottom bx-clearfix">
                            <div class="__style_prefix__-rtlm-checbox">__checkbox__</div>
                            <div class="__style_prefix__-rtlm-unit bx-def-margin-left">__unit__</div>            
                        </div>
                    </bx_repeat:contexts>
                </div>
            </div>
        </bx_repeat:modules>
    </div>
</div>