<div id="__html_id__" class="sys-action __style_prefix__-repost __class__ bx-def-margin-right-auto bx-def-valign-center bx-clearfix" bx_repost_data_count="__count__">
    <div class="sys-action-element-holder __style_prefix__-repost-element-holder">__do_repost__</div>
    <bx_if:show_counter>
        <div class="sys-action-counter-holder __style_prefix__-repost-counter-holder ml-2 first:ml-0"<bx_if:show_hidden> style="display:none"</bx_if:show_hidden>>__counter__</div>
    </bx_if:show_counter>
    __script__
</div>