<div id="bx-timeline-item-__post_id__" class="__style_prefix__-item bx-tl-grid-sizer">
	<div class="__style_prefix__-item-ind bx-def-padding-sec">
	    <div class="__style_prefix__-item-cnt bx-def-padding bx-def-round-corners bx-def-shadow">
	    	<bx_if:show_image>
	    		<div class="__style_prefix__-item-image bx-def-thumb bx-def-margin-bottom">
	    			<img class="__style_prefix__-item-image" alt="__image_title__" src="__image_url__" />
	    		</div>
	    	</bx_if:show_image>
	    	<div class="__style_prefix__-owner bx-def-icon-size-min-height"> 
		       	<div class="__style_prefix__-owner-icon bx-def-icon bx-def-icon-size">
					<bx_if:show_icon>
						<img src="__author_icon__" />
					</bx_if:show_icon>
					<bx_if:show_icon_empty>
						<i class="sys-icon user"></i>
					</bx_if:show_icon_empty>
				</div>
				<div class="__style_prefix__-owner-name">
					<a href="__item_owner_url__" class="__style_prefix__-owner-name">__item_owner_name__</a>
		            <bx_if:show_timeline_owner>
			        	<i class="sys-icon caret-right"></i>
			        	<a href="__owner_url__" class="__style_prefix__-timeline-owner-name">__owner_username__</a>
			        </bx_if:show_timeline_owner>
				</div>
				<div class="__style_prefix__-date bx-def-font-small bx-def-font-grayed">__item_date__
					<bx_if:show_comments>
						<i class="sys-icon comments bx-def-padding-left bx-def-padding-thd-right"></i><bx_include_auto:bx_a.html />
					</bx_if:show_comments>
				</div>
				<bx_if:show_menu>
					<div class="__style_prefix__-item-menu">
						__menu__
						<div class="__style_prefix__-item-menu-button">
				   			<a href="javascript:void(0)" onclick="javascript:__js_object__.showPostMenu(this);">
								<i class="sys-icon chevron-down"></i>
							</a>
						</div>
					</div>
			   	</bx_if:show_menu>
			</div>
			<bx_if:show_title>
				<div class="__style_prefix__-title bx-def-margin-sec-top bx-def-font-large">
					<a href="__item_url__">__item_title__</a>
				</div>
			</bx_if:show_title>
			<bx_if:show_content>
				<div class="__style_prefix__-content bx-def-margin-sec-top bx-def-font-grayed">
				__item_content__<bx_if:show_more><span class="__style_prefix__-content-see-more">... <a class="bx-def-font-small" href="javascript:void(0)" onclick="__js_object__.showMoreContent(this);"><bx_text:_see_more /></a></span><span style="display:none;"> __item_content_more__</span></bx_if:show_more>
				</div>
			</bx_if:show_content>

			<!--
			<div class="__style_prefix__-comments bx-def-margin-sec-top bx-def-border bx-def-round-corners">
				<i class="sys-icon comment-o"></i>
				<a href="__item_comments_link__">__item_comments__</a>
			</div>
			-->
		</div>
	</div>
</div>
