<div class="__style_prefix__-timeline bx-def-margin-sec-bottom">
    <div class="__style_prefix__-timeline-slider"></div>
    <div class="__style_prefix__-timeline-date-from bx-def-margin-thd-left bx-def-font-small bx-def-font-grayed">
        <bx_text:_bx_timeline_txt_date_from />
    </div>
    <div class="__style_prefix__-timeline-date-to bx-def-margin-thd-right bx-def-font-small bx-def-font-grayed">
        <bx_text:_bx_timeline_txt_date_to />
    </div>
    <script>
    	$(document).ready(function() {
			__js_object__.initSlider({min: __min__, max: __max__, value: __value__});
    	});
    </script>
</div>