<bx_if:show_images>
    <div class="__style_prefix__-item-images __style_prefix__-ii-main __style_prefix__-ii-__display__ bx-def-margin-topbottom">
        <bx_repeat:items>
            <div class="__style_prefix__-item-image">__item__</div>
        </bx_repeat:items>
    </div>
</bx_if:show_images>
<bx_if:show_videos>
    <div class="__style_prefix__-item-videos __style_prefix__-iv-main __style_prefix__-iv-__display__ bx-def-margin-topbottom">
        <bx_repeat:items>
            <div class="__style_prefix__-item-video">__item__</div>
        </bx_repeat:items>
    </div>
</bx_if:show_videos>
<div class="__style_prefix__-item-text bx-def-margin-topbottom bx-def-margin-leftright">
    <bx_if:show_title>
        <div class="__style_prefix__-title bx-def-margin-sec-bottom bx-def-font-h3">__title__</div>
    </bx_if:show_title>
    <bx_if:show_content>
        <div class="__style_prefix__-content">__item_content__</div>
    </bx_if:show_content>
</div>
<bx_if:show_attachments>
    <div class="__style_prefix__-item-attachments __style_prefix__-ia-gallery bx-def-margin-topbottom bx-def-margin-leftright">
        <bx_repeat:items>
            <div class="__style_prefix__-item-attachment">__item__</div>
        </bx_repeat:items>
    </div>
</bx_if:show_attachments>
<bx_if:show_links>
    <div class="__style_prefix__-item-links bx-def-margin-topbottom bx-def-margin-leftright">
        <bx_repeat:links>
            <div class="__style_prefix__-item-link bx-def-margin-top-auto bx-def-padding-sec bx-def-border">
                <bx_if:show_embed_outer>
                    <div class="__style_prefix__-il-embed">__embed__</div>
                </bx_if:show_embed_outer>
                <bx_if:show_embed_inner>
                    <bx_if:show_thumbnail>
                        <div class="__style_prefix__-il-thumbnail"><a href="__link__"__attrs__><img src="__thumbnail__" /></a></div>
                    </bx_if:show_thumbnail>
                    <div class="__style_prefix__-il-title"><a href="__link__"__attrs__>__content__</a></div>
                    <bx_if:show_text>
                        <div class="__style_prefix__-il-text bx-def-font-small bx-def-font-grayed">__text__</div>
                    </bx_if:show_text>
                </bx_if:show_embed_inner>
            </div>
        </bx_repeat:links>
    </div>
</bx_if:show_links>
<bx_if:show_raw>
    <div class="__style_prefix__-item-raw bx-def-margin-topbottom bx-def-margin-leftright">__item_content_raw__</div>
</bx_if:show_raw>