<bx_if:show_images>
	<bx_repeat:images>
   		<div class="__style_prefix__-item-image bx-def-margin-bottom">__image__</div>
   	</bx_repeat:images>
</bx_if:show_images>
<div class="__style_prefix__-item-text">
	<bx_if:show_title>
		<div class="__style_prefix__-title bx-def-margin-sec-bottom bx-def-font-large">__title__</div>
	</bx_if:show_title>
	<bx_if:show_content>
		<div class="__style_prefix__-content">
		__item_content__<bx_if:show_more><span class="__style_prefix__-content-see-more">... <a class="bx-def-font-small" href="javascript:void(0)" onclick="__js_object__.showMoreContent(this);"><bx_text:_see_more /></a></span><span style="display:none;"> __item_content_more__</span></bx_if:show_more>
		</div>
	</bx_if:show_content>
</div>