<div class="bx-tl-uploader-buttons">
	<a href="javascript:void(0);" onclick="__js_object__.showAttachLink(this);" class="bx-btn bx-def-margin-top bx-def-margin-sec-left-auto bx-tl-uploader-button">
	    <i class="sys-icon link"></i>
	</a>
	<a href="javascript:void(0);" onclick="__uploader_instance_name__.showUploaderForm();" class="bx-btn bx-def-margin-top bx-def-margin-sec-left-auto bx-tl-uploader-button">
	    <i class="sys-icon __button_title__"></i>
	</a>
</div>
<bx_include_auto:uploader_button_simple_js.html />