<ul class="bx-menu-toolbar bx-menu-object-__object__">
    <bx_repeat:menu_items>
        <li id="bx-menu-toolbar-item-__name__" class="bx-menu-toolbar-item bx-def-color-bg-hl-hover __class_add__">
            <a href="__link__" target="__target__" onclick="__onclick__" class="bx-def-font-contrasted"><bx_if:title><span class="bx-menu-toolbar-item-title bx-def-margin-sec-leftright">__title__</span></bx_if:title><bx_if:icon><i class="sys-icon __icon__ bx-def-margin-sec-leftright"></i></bx_if:icon><bx_if:icon-a><i class="sys-icon-a" data-rotate="down" data-icon="__icon-a__" data-color="#fff"></i></bx_if:icon-a><bx_if:image><img class="bx-def-thumb bx-def-thumb-size bx-def-margin-sec-leftright" src="__icon_url__" /></bx_if:image><bx_if:addon><span class="bx-menu-toolbar-item-addon bx-def-unit-alert-middle bg-col-red2">__addon__</span></bx_if:addon></a>
        </li>
    </bx_repeat:menu_items>
</ul>
