<li id="cmt__id__" class="__style_prefix____class__ bx-def-margin-top-auto">
    <div class="__style_prefix__-cnt__class_cnt__">
        <div class="__style_prefix__-blink-plate"></div>
        <div class="__style_prefix__-avatar bx-def-thumb-size">__author_unit__</div>
        <div class="__style_prefix__-info bx-def-thumb-size-min-height bx-def-thumb-size-left-indent">
            <bx_if:show_notes>
                <div class="__style_prefix__-notes">
                    <bx_repeat:notes>
                        <div class="__style_prefix__-note bx-def-margin-thd-top-auto bx-def-font-small bx-def-font-grayed">
                            <div class="__style_prefix__-n-text<bx_if:show_note_color> col-__item_note_color__</bx_if:show_note_color>">__item_note__</div>
                        </div>
                    </bx_repeat:notes>
                </div>
            </bx_if:show_notes>
            <div class="__style_prefix__-head bx-clearfix">
                <bx_if:meta><span class="__style_prefix__-meta bx-base-general-unit-meta">__meta__</span></bx_if:meta>
                <bx_if:show_pinned><span class="__style_prefix__-pinned bx-def-margin-sec-left"><i class="sys-icon thumbtack" title="<bx_text:_cmt_txt_pinned />"></i></span></bx_if:show_pinned>
            </div>
            <div class="__style_prefix__-cont bx-def-margin-sec-topbottom">
                <div class="__style_prefix__-cont-cnt">__content__</div>
            </div>
            __actions__
            <div class="bx-def-hr bx-def-margin-top"></div>
        </div>
    </div>
    <ul class="cmts cmts-all cmts-margin">__replies__</ul>
</li>
