

.bx-uploader-ghost .bx-notes-icon-wrapper {
    float:left;
}

.bx-notes-uploader-ghost input.bx-form-input-text {
    width:300px;
}

.bx-notes-use-as-thumb input,
.bx-notes-use-as-thumb label {
    vertical-align:middle;
}
