
/* unit */

.bx-notes-unit:first-child h2 {
    padding-top:0;
}

.bx-notes-unit h2 {
    margin:0;
}

.bx-notes-unit .sys-icon {
    vertical-align:middle;
}

.bx-notes-unit-thumb {
    float:right;
    max-height:150px;
    max-height:9.4rem;
    max-width:200px;
    max-width:12.5rem;
}

.bx-notes-unit-summary p {
    margin:0;
}

/* view page */
.bx-notes-entity-share .bx-vote,
.bx-notes-entity-share .bx-tl-share,
.bx-notes-entity-share .bx-social-sharing {
	position: relative;
	float: left;
}
