
/* search results */

.bx-notes-wrapper .bx-def-hr:first-child {
    display:none;
}

.bx-notes-wrapper .bx-def-hr:first-child + .bx-notes-unit h2 {
    margin-top:0;
}

/* unit */

.bx-notes-unit-thumb {
    float:right;
}

/* view page */
.bx-notes-entity-share .bx-vote,
.bx-notes-entity-share .bx-tl-share,
.bx-notes-entity-share .bx-social-sharing {
	position: relative;
	float: left;
	margin-left: 0.5rem;
}
.bx-notes-entity-share .bx-vote,
.bx-notes-entity-share .bx-tl-share {
	padding: 3px 0px;
}
.bx-notes-entity-share .bx-vote {
	margin-left: 0px;
}