
/* unit */

.bx-notes-unit h2 {
    margin:0;
}

.bx-notes-unit .sys-icon {
    vertical-align:middle;
}

.bx-notes-unit-thumb {
    float:right;
}

/* view page */
.bx-notes-entity-share .bx-vote,
.bx-notes-entity-share .bx-tl-share,
.bx-notes-entity-share .bx-social-sharing {
	position: relative;
	float: left;
}
