<div class="bx-form-input-wrapper bx-form-input-wrapper-textarea">
    <textarea id="__html_id__-html" class="hidden" name="content">__content_html__</textarea>
    <textarea id="__html_id__-data" class="hidden">__content_data__</textarea>
    <div id="__html_id__" class="bx-form-input-textarea"></div>
</div>
<script type="text/javascript">
    var inlineStorage = null;
    if(inlineStorage == undefined) {
        inlineStorage = (editor) => {
            const oStorageData = document.getElementById('__html_id__-data');
            const oStorageHtml = document.getElementById('__html_id__-html');

            editor.Storage.add('inline', {
                load() {
                  return JSON.parse(oStorageData.value || '{}');
                },
                store(data) {
                  const component = editor.Pages.getSelected().getMainComponent();

                  oStorageData.value = JSON.stringify(data);
                  oStorageHtml.value = `<style>${editor.getCss({ component })}</style>${editor.getHtml({ component })}`;
                }
            });
        };
    }

    var oBuilder = grapesjs.init({
        container : '#__html_id__',
        plugins: [inlineStorage, 'grapesjs-preset-newsletter'],
        pluginsOpts: {
            'grapesjs-preset-newsletter': {}
        },
        storageManager: { 
            type: 'inline',
            autosave: true,
            autoload: true
        }
    });
</script>