<div class="__sp__-bundles">
    <div class="__sp__-bundles-cnt relative flex flex-wrap items-stretch justify-center -m-2">
        <bx_repeat:bundles>
            <div class="__sp__-bundle-wrp w-full md:w-1/3 p-2 box-border">
                <div class="__sp__-bundle bx-def-box bx-def-box-round-corners bx-def-color-bg-box w-full h-full">
                    <div class="__sp__-bundle-cnt flex flex-col items-center justify-center w-full h-full p-4 box-border text-center">
                        <div class="__sp__-b-title text-2xl uppercase">__title__</div>
                        <div class="__sp__-b-amount flex-grow mt-4">
                            <div class="__sp__-ba-value text-3xl font-semibold"><b>__amount__</b></div>
                            <bx_if:show_bonus>
                                <div class="__sp__-ba-bonus"><i class="sys-icon plus"></i> <b>__bonus__</b> <bx_text:_bx_credits_txt_for_free /></div>
                            </bx_if:show_bonus>
                        </div>
                        <div class="__sp__-b-price flex justify-center mt-4">
                            <div class="bx-credits-bp-currency">__currency_sign__</div>
                            <div class="bx-credits-bp-value">__price__</div>
                        </div>
                        <div class="__sp__-b-description mt-4">__description__</div>
                        <div class="__sp__-b-buy bx-def-margin-top ">
                            <a class="bx-btn" href="javascript:void(0)" onclick="__onclick__"><bx_text:_bx_credits_txt_purchase /></a>
                        </div>
                    </div>
                </div>
            </div>
        </bx_repeat:bundles>
    </div>
</div>
__js_code__