/*-- Space Roles --*/
#bx-spaces-set-role-popup .bx-menu-ver {
    margin: 0;
}


/*-- Snippet Meta --*/
.bx-base-general-unit-meta li:not(.bx-menu-item-button) {
    margin-left: 0.5rem;
}
.bx-base-general-unit-meta li:not(.bx-menu-item-button):first-child {
    margin-left: 0;
}
.bx-base-general-unit-meta .bx-menu-item-parent .bx-base-pofile-unit {
    position: relative;
    float: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: auto;
    margin: 0;
}
.bx-base-general-unit-meta .bx-menu-item-parent .bx-base-pofile-unit .bx-def-unit-img {
    position: relative;
}
.bx-base-general-unit-meta .bx-menu-item-parent .bx-base-pofile-unit .bx-def-icon-size {
    width: 1rem;
    height: 1rem;
}
.bx-base-general-unit-meta .bx-menu-item-parent .bx-base-pofile-unit .bx-base-pofile-unit-thumb {
    line-height: normal;
    font-size: 0.6rem;
}
.bx-base-general-unit-meta .bx-menu-item-parent .bx-base-pofile-unit .bx-def-unit-info {
    min-height: 0;
    margin-left: 0.5rem;
    text-align: left;
}