<div class="bx-base-text-unit bx-def-unit bx-def-unit-live-search group flex items-center mb-2 last:mb-0" data-ts="__ts__">
    <a class="bx-def-box bx-def-box-hor bx-def-box-round-corners bx-def-color-bg-box bx-def-color-bg-box-hover relative items-center w-full p-2 box-border" href="__content_url__">
        <bx_if:thumb>
            <div class="bx-def-unit-img bx-def-thumb-size bx-def-box bg-white dark:bg-gray-700 rounded box-border" style="background-image:url(__thumb_url__);"></div>
        </bx_if:thumb>
        <bx_if:no_thumb>
            <div class="bx-def-unit-img">
                <div class="bx-def-unit-img-empty bx-def-thumb-size bx-def-box bg-white dark:bg-gray-700 rounded box-border"><i class="sys-icon __module_icon__"></i></div>
            </div>
        </bx_if:no_thumb>
        <div class="bx-def-unit-info flex flex-col pl-2">
            <div class="bx-def-ui-title">__title__</div>
            <div class="bx-def-ui-type bx-def-font-meta">__module_name__</div>
        </div>
    </a>
</div>