/*--
import url(../../../../../notifications/template/css/view.css);
--*/

/*--- Preview Popup Style ---*/
#bx_notifications_preview .bx-popup-close-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
#bx_notifications_preview .bx-ntfs-preview .bx-menu-item:last-child .bx-ntfs-preview-item {
    margin-bottom: 0;
}