/*--- Categories ---*/
.bx-ads-subcategories .bx-ads-category:first-child {
    padding-top: 0;
}
.bx-ads-category .sys-icon {
    display: inline-block;
    width: 1.0rem;
}

/*--- Snippet ---*/
div.bx-base-general-unit-meta .bx-menu-item-price span.price {
    color: #307424;
}

form[name^="cmt-post-form-bx_ads_reviews-"] #bx-form-element-cmt_image{
    top:10px;
}
.bx-artificer form[name^="cmt-post-form-bx_ads_reviews-"] #bx-form-element-cmt_image{
    top:20px;
}