/*--- Categories ---*/
.bx-ads-subcategories .bx-ads-category:first-child {
    padding-top: 0;
}
.bx-ads-category .sys-icon {
    display: inline-block;
    width: 1.0rem;
}

/*--- Snippet ---*/
div.bx-base-general-unit-meta .bx-menu-item-price span.price {
    color: #307424;
}
