<div class="bx_ribbons_list">
    <bx_repeat:items>
        <div class="bx_ribbons_item bx-def-margin-sec-bottom">
            <bx_if:title>
                <strong>__title__</strong>
            </bx_if:title>
            <bx_if:image>
                <img class="bx-base-text-unit-cover bx-def-round-corners" alt="__title__" src="__thumb_url__" />
            </bx_if:image>
            <bx_if:text>
                __text__
        </div>
            </bx_if:text>
        </div>
    </bx_repeat:items>
</div>