<div class="__class__ bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size flex flex-col w-full p-2 box-border">
    <div class="bx-base-text-unit-cnt flex flex-col h-full ring-1 ring-gray-200 dark:ring-gray-700 overflow-hidden bg-white dark:bg-gray-800 rounded">
        <bx_if:thumb>
            <a href="__content_url__" title="__summary_attr__">
                <div class="shrink-0 m-1">
                    <img class="h-48 w-full object-cover rounded" src="__gallery_url__" alt="">
                </div>
            </a>
        </bx_if:thumb>
        <bx_if:no_thumb>
            <div class="bx-def-gal-img-column shrink-0 m-1">
                <div class="bx-base-text-unit-no-thumb flex flex-col items-center justify-center h-48 p-4 bg-gradient-to-b from-red-400 to-red-500 box-border rounded-md"></div>
            </div>
        </bx_if:no_thumb>
        <div class="bx-base-text-unit-text flex flex-col flex-1 p-3 md:p-4 lg:p-6 pt-1 md:pt-2 lg:pt-3 box-border">
            <div class="bx-base-text-unit-badges pb-1 lg:pb-2">__badges__</div>
            <div class="bx-base-text-unit-title flex-inline flex-2 max-h-14 text-ellipsis overflow-hidden">
                <a href="__content_url__" class="text-lg lg:text-xl font-semibold text-gray-700 group-hover:text-gray-900 dark:text-gray-200 dark:group-hover:text-white text-left">__title__</a>
            </div>
            <div class="bx-base-text-unit-info flex flex-1 flex-col justify-end text-sm text-gray-500 dark:text-gray-400">
                <bx_if:meta><div class="bx-base-general-unit-meta pt-2">__meta__</div></bx_if:meta>
            </div>
        </div>
    </div>
</div>