@import url(../../../../base/text/template/css/main.css);

.bx-files-text-unit-gallery .bx-base-text-unit-no-thumb {
    position:relative;
}

.bx-files-text-unit-gallery .bx-base-text-unit-no-thumb .sys-icon {
    left:0;
    top:0;
    width:100%;
    position:absolute;
    font-size:8rem; 
    line-height:11.25rem;
    text-align:center;
    overflow:hidden;
}

.bx-files-text-unit .bx-base-text-unit-text {
    position:relative;
}

.bx-files-text-unit .bx-base-text-unit-text .sys-icon {
    position: absolute;
    line-height: normal;
    font-size: 3.2rem;
}

.bx-files-text-unit .bx-base-text-unit-text h2,
.bx-files-text-unit .bx-base-text-unit-text > div {
    margin-left:3.5rem;
}

/*--- View page ---*/
.bx-files-entity-preview {
    overflow: hidden;
}
.bx-files-entity-preview .bx-msg-box-container {
    margin: 0;
    padding: 0;
}