/*-- Unit --*/
.bx-base-text-unit-cnt {
    width: 100%;
}
.bx-base-text-unit-cover {
	position: relative;
}
.bx-base-text-unit-cover img {
    position: relative;
    display: block;

    width: 100%;
    min-height: 300px;
    object-fit: cover;
}
.bx-base-text-unit-ext .bx-base-text-unit-text {
    text-align: left;
}

/*-- Browsing: Search results --*/
.bx-base-text-unit-gallery-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.bx-base-text-unit-gallery-wrapper .bx-base-text-unit-gallery {
    display: -webkit-flex;
    display: flex;

    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;

    overflow:hidden;
}
.bx-base-unit-showcase-wrapper .flickity-slider {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase {
    margin: 0;
    padding: 0.25rem;
}

.bx-base-unit-showcase-wrapper.bx-sc-enabled .bx-base-text-unit-showcase {
    height: calc(100% - 3px);
}

/*-- MEDIA: phone2 --*/
.bx-media-phone2 .bx-layout-column-half .bx-base-text-unit-gallery-wrapper .bx-base-text-unit-gallery,
.bx-media-phone2 .bx-layout-column-thin .bx-base-text-unit-gallery-wrapper .bx-base-text-unit-gallery {
    -webkit-flex: 0 0 49.8%;
    flex: 0 0 49.8%;
}

.bx-media-phone2 .bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase {
   width:calc(50%);
}

/*-- MEDIA: tablet2 --*/
.bx-media-tablet2 .bx-layout-column-wide .bx-base-text-unit-gallery-wrapper .bx-base-text-unit-gallery,
.bx-media-tablet2 .bx-layout-column-fullwidth .bx-base-text-unit-gallery-wrapper .bx-base-text-unit-gallery,
.bx-media-tablet2 #sys_search_results .bx-base-text-unit-gallery-wrapper .bx-base-text-unit-gallery {
    -webkit-flex: 0 0 49.8%;
    flex: 0 0 49.8%;
}

.bx-media-tablet2 .bx-layout-column-wide .bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase,
.bx-media-tablet2 .bx-layout-column-fullwidth .bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase,
.bx-media-tablet2 #sys_search_results .bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase {
   width: calc(50%);
}

/*-- MEDIA: desktop --*/
.bx-media-desktop .bx-layout-column-wide .bx-base-text-unit-gallery-wrapper .bx-base-text-unit-gallery {
    -webkit-flex: 0 0 49.8%;
    flex: 0 0 49.8%;
}
.bx-media-desktop #sys_search_results .bx-base-text-unit-gallery-wrapper .bx-base-text-unit-gallery,
.bx-media-desktop .bx-layout-column-fullwidth .bx-base-text-unit-gallery-wrapper .bx-base-text-unit-gallery {
    -webkit-flex: 0 0 33.25%;
    flex: 0 0 33.25%;
}

.bx-media-desktop .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase {
   width:calc(100%);
}

.bx-media-desktop .bx-layout-column-half .bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase,
.bx-media-desktop .bx-layout-column-wide .bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase {
   width:calc(50%);
}

.bx-media-desktop #sys_search_results  .bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase,
.bx-media-desktop .bx-layout-column-fullwidth  .bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase {
   width:calc(33.3%);
}

/*-- Entry: Text block --*/
.bx-base-text-title-bages h1 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.bx-base-text-entity-image img {
    width: 100%;
}

/*-- Entry: Actions Menu --*/
.bx-base-general-entity-actions .bx-menu-custom-hor li.bx-menu-item-more-auto .bx-popup .bx-menu-custom .bx-menu-item {
    width: 100%;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
.bx-base-general-entity-actions .bx-menu-custom-hor > .bx-menu-item-more-auto > .bx-base-general-entity-action > a > .bx-mi-text {
    display: none;
}

/*-- Entry: Author block --*/
.sys-author-info .sys-author-profile ul.bx-menu-custom.bx-menu-custom-hor {
    -webkit-align-items: center;
    align-items: center;
}
.sys-author-info .sys-author-profile ul.bx-menu-custom.bx-menu-custom-hor > li {
    margin-left: 1rem;
}
.sys-author-info .sys-author-profile ul.bx-menu-custom.bx-menu-custom-hor > li:first-child {
    margin-left: 0;
}
