<div class="bx-strp-con-account">
	<div><bx_text:_bx_stripe_connect_grid_column_title_user_id />: <span class="bx-def-font-grayed">__user_id__</span></div>
	<div class="bx-def-margin-thd-top"><bx_text:_bx_stripe_connect_grid_column_title_public_key />: <span class="bx-def-font-grayed">__public_key__</span></div>
	<div class="bx-def-margin-thd-top"><bx_text:_bx_stripe_connect_grid_column_title_access_token />: <span class="bx-def-font-grayed">__access_token__</span></div>
	<div class="bx-def-margin-thd-top"><bx_text:_bx_stripe_connect_grid_column_title_added />: <span class="bx-def-font-grayed">__added__</span></div>
	<div class="bx-def-margin-topbottom">__keys_usage__</div>
	<div>
		<a class="bx-btn" href="javascript:void(0)" onclick="javascript:__js_object__.disconnect(__id__, this);"><bx_text:_bx_stripe_connect_action_title_delete /></a>
	</div>
	__js_code__
</div>