		
		                <bx_injection:injection_content_after />
		
		                <div class="bx-clear"></div>
		
		            <bx_injection:banner_bottom />
		
		        </div> <!-- #bx-content-main -->
		
		        <bx_injection:injection_between_content_footer />
		
		    </div> <!-- #bx-content-container -->
		
		</div>

	</div> <!-- #bx-content-wrapper -->

	<div id="bx-footer-wrapper">

		<hr class="bx-def-hr" />
	
		<div class="bx-def-centered bx-def-padding-sec-left bx-def-padding-sec-right bx-def-page-width">
	
		    <div id="bx-footer" class="bx-def-padding-sec-left bx-def-padding-sec-right bx-clearfix">
	
		        <bx_injection:injection_footer_before />
	
		        <div id="bx-menu-bottom">
		            <bx_menu:sys_footer />
		        </div>
	
		        <div id="bx-footer-copyright">__copyright__</div>
	
		        <bx_injection:injection_footer_after />
	
		    </div>
	
		</div>

	</div>

	<bx_menu:sys_site_action />
</div>

<bx_include_auto:_footer.html />