<div id="__html_id__" class="__style_prefix__-event bx-def-margin-sec-top-auto bx-def-round-corners bx-def-color-bg-box">
    <div class="__style_prefix__-event-gap bx-def-padding-sec">
    	<div class="__style_prefix__-event-cnt">
	       	<div class="__style_prefix__-owner-avatar bx-def-thumb bx-def-thumb-size">
				<bx_if:show_icon>
					<img class="bx-def-thumb bx-def-thumb-size" src="__author_icon__" />
				</bx_if:show_icon>
				<bx_if:show_icon_empty>
					<i class="sys-icon user"></i>
				</bx_if:show_icon_empty>
			</div>
			<div class="__style_prefix__-body bx-def-thumb-size-min-height bx-def-thumb-size-left-indent">
				<div class="__style_prefix__-content">__content__</div>
				<div class="__style_prefix__-date bx-def-margin-sec-top">__date__</div>
			</div>
		</div>
	</div>
</div>