.bx-stream-badge {
    display:inline-flex;
    align-items:center;
    border:2px solid red;
    color:red;
    padding:0 0.4rem;
    text-transform:uppercase;
    font-weight:bold;
    font-size:0.7rem;
    height:1.7rem;
}

.bx-stream-broadcast-wrapper {
    text-align:center;
}

.bx-stream-broadcast-preview {
    display:inline-block;
    width:auto;
    height:360px;
    display:inline-block;
    background-color:black;
    border:1px solid #000;
}

.bx-stream-broadcast-preview-live {
    border:1px solid red;
}

.bx-stream-broadcast-controls button {
    float:none;
    display:inline-block;
}

.bx-stream-embed-viewers {
    position:absolute;
    top:0;
    right:0;
    background-color:rgba(255,255,255,0.3);
    color:#fff;
}
