@import url(../../../../../../../template/css/common.css);

.bx-main.bx-pt-application .bx-toolbar-content {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.bx-main.bx-pt-application .bx-toolbar-content .bx-toolbar-1-container {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.bx-main.bx-pt-application .bx-toolbar-content #bx-logo-container {
    -webkit-flex: 3 1 auto;
    -ms-flex: 3 1 auto;
    flex: 3 1 auto;
    
    margin-top: 0;
    margin-bottom: 0;
}
.bx-main.bx-pt-application .bx-toolbar-content .bx-toolbar-2-container {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.bx-btn {
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.bx-btn .sys-icon {
    font-size: 0.875rem !important;
    line-height: 1.9rem !important;
}

@keyframes loadingCircle{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}[bx-click-animating='true']{position:relative}html{--bx-wave-shadow-color:#1890ff}
[bx-click-animating='true']::after,.bx-click-animating{position:absolute;top:0;right:0;bottom:0;left:0;display:block;border-radius:inherit;-webkit-box-shadow:0 0 0 0 #1890ff;box-shadow:0 0 0 0 #1890ff;-webkit-box-shadow:0 0 0 0 var(--bx-wave-shadow-color);box-shadow:0 0 0 0 var(--bx-wave-shadow-color);opacity:.2;-webkit-animation:fadeEffect 2s cubic-bezier(.08, .82, .17, 1),waveEffect .4s cubic-bezier(.08, .82, .17, 1);animation:fadeEffect 2s cubic-bezier(.08, .82, .17, 1),waveEffect .4s cubic-bezier(.08, .82, .17, 1);-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;content:'';pointer-events:none}
@-webkit-keyframes waveEffect{100%{-webkit-box-shadow:0 0 0 #1890ff;box-shadow:0 0 0 #1890ff;-webkit-box-shadow:0 0 0 6px var(--bx-wave-shadow-color);box-shadow:0 0 0 6px var(--bx-wave-shadow-color)}}
@keyframes waveEffect{100%{-webkit-box-shadow:0 0 0 #1890ff;box-shadow:0 0 0 #1890ff;-webkit-box-shadow:0 0 0 6px var(--bx-wave-shadow-color);box-shadow:0 0 0 6px var(--bx-wave-shadow-color)}}
@-webkit-keyframes fadeEffect{100%{opacity:0}}
@keyframes fadeEffect{100%{opacity:0}}