@import url(../../../../../../../template/css/forms.css);
.bx-form-input-slider,
.bx-form-input-doublerange,
.bx-form-input-select_multiple,
.bx-form-input-select,
.bx-form-input-radio_set,
.bx-form-input-checkbox_set,
.bx-form-input-number,
.bx-form-input-time,
.bx-form-input-datepicker,
.bx-form-input-datetime,
.bx-form-input-textarea,
.bx-form-input-wrapper-password,
.bx-form-input-text {
	border-radius: 2px !important;
	transition: all .3s;
	padding: 4px 8px !important;
}
.bx-form-value .bx-form-input-price,
.bx-form-value .bx-form-input-wrapper-price span {
    border-radius: 2px;
    transition: all .3s;
}
.bx-form-value .bx-form-input-autotoken{
	min-height: inherit !important;
	padding: 0px !important;
}
.bx-def-font-inputs:hover{
	border: 1px solid #40a9ff;
}
.bx-def-font-inputs:focus{
	box-shadow:0 0 0 2px rgba(24,144,255,.2)	
}
.bx-form-caption,
.bx-form-warn{
	font-size: 0.875rem !important;
}