@import url(../../../../../../../template/css/general.css);


/*--- Overwrite Defaults ---*/
#bx-toolbar {
	z-index: 500;
}
.bx-media-phone #bx-toolbar-content{
    display: flex;
    justify-content: space-between;
}
#bx-logo-container {
    margin: 0.5rem 1.2rem;
    text-align: left;
	height: auto;
	flex-grow: 3
}
.bx-media-phone #bx-logo-container {
	 margin: 0;
}
#bx-logo-container a {
	color: #595959;
}
.bx-form-input-wrapper-password > A {
    line-height: 2rem !important;
}

/*--- Main Page Content ---*/
.cd-main-content .content-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    min-height: 100vh;
    right: 100%;
}
@media only screen and (min-width: 1025px) {
    #bx-sliding-menu-search{
        padding-left: 200px;
        width:calc(100% - 200px);
    }
}

/*--- Header ---*/
.cd-main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #3e454c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 720px) {
  .cd-main-header {
    position: fixed;
    height: 55px;
  }
}

.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%;
}
.cd-logo img {
  display: block;
}
@media only screen and (min-width: 720px) {
  .cd-logo {
    margin: 16px 0 0 36px;
  }
}

/*--- Top Navigation ---*/
@media only screen and (min-width: 720px) {
  .cd-nav {
    display: block;
    float: right;
    height: 100%;
  }
}

/*--- Sidebar ---*/
.cd-side-nav {
  position: fixed;
  z-index: 600;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-side-nav .bx-sliding-smenu-main {
	display: block  !important;
}
.cd-side-nav > ul {
  padding: 0.6em 0;
}
.cd-side-nav > ul:last-of-type {
  padding-bottom: 0;
}
.cd-side-nav .cd-label, .cd-side-nav a {
  display: block;
  padding: 0px;
}
.cd-side-nav .cd-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #646a6f;
  font-size: 1rem;
  letter-spacing: .1em;
}
.cd-side-nav ul a {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
}

@media (max-width: 720px){
	.cd-side-nav {
		top:57px;
		box-shadow: none;
	}
	.bx-sliding-menu, .bx-sliding-menu-main{
		width: 100% !important;
		left:0px !important;
		top:56px !important;
	}
	#bx-menu-toolbar-item-main-menu{
		margin-top: 3px;
	}
}

	
@media only screen and (min-width: 720px) {
  .cd-side-nav {
    position: relative;
    float: left;
    top: auto;
    width: 110px;
    min-height: 100vh;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }
  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }
  .cd-side-nav.is-fixed,
  .content-wrapper.is-fixed {
    position: fixed;
  }
  .content-wrapper.is-fixed {
      left: 0;
      width: 100%;
  }
  .cd-side-nav > ul {
    /* reset style */
    padding: 0;
  }
  .cd-side-nav .cd-label {
    /* remove labels on minified version of the sidebar */
    display: none;
  }
  .cd-side-nav ul a {
    font-size: 1.2rem;
  }
  .cd-side-nav > ul > li > a {
    padding: calc(2.2em + 24px) 0 2.4em;
  }
  .cd-side-nav > ul > li > a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }
  .cd-side-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }
  .cd-side-nav .action-btn a {
    margin: 1em 10% 0;
  }
}

@media only screen and (min-width: 1025px) {
  .cd-side-nav {
    width: 200px;
  }
  .cd-side-nav > ul {
    padding: 0.6em 0;
  }
  .cd-side-nav > ul > li:not(.action-btn):hover > a {
    background-color: #33383e;
  }
  .cd-side-nav > ul > li > a {
    padding: 1em 1em 1em 42px;
    text-align: left;
    border-bottom: none;
  }
  .cd-side-nav > ul > li > a::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
  }
  .cd-side-nav .cd-label {
    display: block;
    padding: 1em 18px;
  }
}

.has-children ul {
  position: relative;
  width: 100%;
  display: none;
  background-color: #1c1f22;
}
.has-children > a::after {
  /* arrow icon */
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/cd-arrow.svg);
}
.has-children.selected > ul {
  display: block;
}
.has-children.selected > a::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

@media only screen and (min-width: 720px) {
  .has-children {
    position: relative;
  }
  .has-children ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 160px;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .has-children ul a {
    text-align: left;
    border: none;
    padding: 1em;
  }
  .no-touch .has-children ul a:hover {
    color: #1784c7;
  }
  .has-children > a::after {
    display: none;
  }
  .cd-side-nav .has-children.selected > a {
    /* focus state -> show sub pages */
    background-color: #33383e;
  }
  .cd-top-nav .has-children {
    position: relative;
    background-color: #2c3136;
  }
  .cd-top-nav .has-children > a {
    height: 100%;
    padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
    line-height: 55px;
  }
  .cd-top-nav .has-children > a::after {
    display: block;
    right: 1.8em;
  }
  .cd-top-nav .has-children ul {
    background-color: #1c1f22;
    width: 200px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  .cd-top-nav .has-children ul a {
    padding-left: 18px !important;
  }
}

@media only screen and (min-width: 1025px) {
  .has-children > ul {
    width: 100%;
    z-index: 1;
  }
  .has-children ul a {
    padding-left: 18px;
  }
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
  }
  .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

/* profile cover customisation */
.bx-base-pofile-cover{
    border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: none;
}
.bx-base-pofile-cover-info .bx-base-pofile-cover-thumb{
	margin: 0px auto;
    margin-top: -5rem;
}
.bx-base-pofile-cover-info .bx-base-profile-cover-title-bages{
	margin: 0px auto;
}
.bx-media-phone .bx-base-pofile-cover-info div.bx-base-pofile-cover-thumb{
	margin: 0px auto;
}
.bx-base-pofile-cover-info .bx-base-pofile-cover-user h1.bx-def-unit-info{
	    margin-left: 2rem;
}
.bx-menu-main-bar ul.bx-menu-main-submenu.bx-menu-more-auto, .bx-base-pofile-cover-actions ul.bx-menu-hor.bx-menu-more-auto{
	    justify-content: center !important;
}

/* header */
.bx-header {
	-webkit-backdrop-filter: saturate(180%) blur(8px);
	backdrop-filter: saturate(180%) blur(8px);
}