/*-- Make block --*/
.bx-dnt-make {
    position: relative;
}
.bx-dnt-make-billing-types-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.bx-dnt-make-billing-types-menu .bx-menu-tab-active .bx-btn {
    background-color: rgba(0, 0, 0, 0.05);
}
.bx-media-phone .bx-dnt-make-billing-types-menu .bx-menu-item a {
    margin-right: 0;
}

.bx-dnt-make-billing-types {
    position: relative;
}
.bx-dnt-make-billing-type {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bx-dnt-make-billing-type:not(.active) {
    display: none;
}
.bx-dnt-make-type {
    position: relative;
    -webkit-flex: 2 1 auto;
    flex: 2 1 auto;
    width: 50%;

    text-align: center;
}
.bx-media-phone .bx-dnt-make-type {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}
.bx-dnt-make-type .bx-btn {
    display: inline-block;
    float: none;
}
