div.bx-strg-field-url {
	width: 200px;
}

/*--- Storage page -> Resize image popup ---*/
div.bx-strg-resize-file {}
div.bx-strg-resize-file-cnt {}

div.bx-strg-rf-img img {
	max-width: 440px;
	max-width: 27.5rem;
	max-height: 440px;
	max-height: 27.5rem;
}