<script type="text/javascript" language="javascript">
    function checkMQ() {
        //check if mobile or desktop device
        return window.getComputedStyle(document.querySelector('.cd-main-content'), '::before').getPropertyValue('content').replace(/'/g, "").replace(/"/g, "");
    }

    $(document).ready(function () {
        var mq = checkMQ();
        if(mq == 'mobile') {
            // hide toolbar on scrolldown, show - on scroll up
            new Headroom($('#bx-toolbar').get(0), {
                tolerance: {
                    down: 10,
                    up: 20
                },
                offset: 200,
                classes: {
                    initial: "bx-toolbar-anim",
                    pinned: "bx-toolbar-reset",
                    unpinned: "bx-toolbar-up"
                },
                onUnpin: function() {
                    bx_menu_slide_close_all_opened();

                    if(sidebar.hasClass('nav-is-visible'))
                        sidebar.toggleClass('nav-is-visible');

                }
            }).init();
        }
    });
</script>
