.bx_analytics_filters {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.bx_analytics_filters .bx-form-element {
    width: 30%;
}

.bx_analytics_filters .bx-def-font-inputs{
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.bx_analytics_data .bx-def-font-inputs {
    width: calc(100%);
    max-width:200px;
    float:left;
}

.bx_analytics_grath_cnt {
    width:100%;
}

.bx_analytics_grath_cnt .bx_analytics_grath{
    width:100%;
    height:100%;
}

.bx_analytics_data .dataTables_info {
    display:none;
}

.bx_analytics_data .bx-grid-table th, .bx-grid-table td {
    text-align: left;
}
.bx_analytics_data .bx-grid-table .odd
{
    background-color: rgba(210, 230, 250, 0.3);
}
.bx_analytics_data .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
/* datatables fix*/
table.dataTable thead .sorting:after { margin-left:10px; font-family: "sys-user", "sys-user-fal", sans-serif; content: "\f0dc"; display:inline-block }
table.dataTable thead .sorting_asc:after{ margin-left:10px;font-family: "sys-user", "sys-user-fal", sans-serif; content: "\f0de"; display:inline-block}
table.dataTable thead .sorting_desc:after{ margin-left:10px; font-family: "sys-user", "sys-user-fal", sans-serif; content: "\f0dd"; display:inline-block}
table.dataTable.no-footer {border-bottom:none !important}
table.dataTable thead th{border-bottom:none !important; padding: 10px 10px !important}
table.dataTable thead .sorting {background-image: none !important}
.bx-media-phone #bx_analytics_container .bx-grid-table 
{
	min-width: inherit !important;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
    color:inherit !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0em 0.25em !important;
    background: none !important;
    border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
    cursor: pointer;
    color: inherit !important;
    border: none !important;
}
html.dark .bx-canvas {
    filter: invert(1) hue-rotate(180deg);
}
html.dark .dataTables_wrapper select{
    background-color: #11182780;
    border:1px solid rgb(55 65 81);
    margin: 0px 0.5rem;
}    