<bx_if:show_top_raw>
    <div class="__style_prefix__-item-top-raw mt-3 md:mt-4">__item_content_top_raw__</div>
</bx_if:show_top_raw>
<bx_if:show_images>
    <div class="__style_prefix__-item-images __style_prefix__-ii-main __style_prefix__-ii-__display__ mt-3 md:mt-4 rounded">
        <bx_repeat:items>
            <div class="__style_prefix__-item-image flex-shrink-0 px-4 rounded overflow-hidden box-border">__item__</div>
        </bx_repeat:items>
    </div>
</bx_if:show_images>
<bx_if:show_videos>
    <div class="__style_prefix__-item-videos __style_prefix__-iv-main __style_prefix__-iv-__display__ mx-1 mt-2 rounded">
        <bx_repeat:items>
            <div class="__style_prefix__-item-video rounded">__item__</div>
        </bx_repeat:items>
    </div>
</bx_if:show_videos>
<bx_if:show_files>
    <div class="__style_prefix__-item-files __style_prefix__-if-main __style_prefix__-if-__display__ mx-1 mt-2 rounded">
        <bx_repeat:items>
            <div class="__style_prefix__-item-file rounded">__item__</div>
        </bx_repeat:items>
    </div>
</bx_if:show_files>
<div class="__style_prefix__-item-text mt-3 md:mt-4 mx-3 md:mx-4">
    <bx_if:show_title>
        <div class="__style_prefix__-title mb-2 md:mb-4 text-lg lg:text-xl font-semibold text-gray-700 dark:text-gray-300">__title__</div>
    </bx_if:show_title>
    <bx_if:show_content>
        <div class="__style_prefix__-content bx-overflow-ready bx-def-vanilla-html bx-def-vh-sm relative max-w-none">__item_content__</div>
    </bx_if:show_content>
</div>
<bx_if:show_attachments>
    <div class="__style_prefix__-item-attachments __style_prefix__-ia-__display__ __style_prefix__-ia-i__count__ mx-1 mt-3 md:mt-4">
        <bx_repeat:items>
            <div class="__style_prefix__-item-attachment__class__">__item__</div>
        </bx_repeat:items>
    </div>
</bx_if:show_attachments>
<bx_if:show_links>
    <div class="__style_prefix__-item-links px-3 md:px-4">
        <bx_repeat:links>
            <div class="__style_prefix__-item-link mt-3 md:mt-4">__link__</div>
        </bx_repeat:links>
    </div>
</bx_if:show_links>
<bx_if:show_attachments_files>
    <div class="__style_prefix__-item-attachments __style_prefix__-iaf-__display__ __style_prefix__-iaf-i__count__ mx-1 mt-3 md:mt-4">
        <bx_repeat:items>
            <div class="__style_prefix__-item-attachment__class__">__item__</div>
        </bx_repeat:items>
    </div>
</bx_if:show_attachments_files>
<bx_if:show_raw>
    <div class="__style_prefix__-item-raw px-3 md:px-4 mt-3 md:mt-4">__item_content_raw__</div>
</bx_if:show_raw>