<div id="bx_analytics_container">
    <div class="bx_analytics_filters">
        <div class="bx-form-element">
            <div class="bx-form-value bx-clearfix">
                <div class="bx-form-input-wrapper bx-form-input-wrapper-select">
                    <select class="bx-def-font-inputs bx-form-input-select bx_analytics_module_selector">
                        <bx_repeat:items>
                            <option value="__value__">__title__</option>
                        </bx_repeat:items>
                    </select>
                </div>
            </div>
        </div>
        <div class="bx-form-element">
            <div class="bx-form-value bx-clearfix">
                <div class="bx-form-input-wrapper bx-form-input-wrapper-select">
                    <select class="bx-def-font-inputs bx-form-input-select bx_analytics_report_selector"></select>
                </div>
            </div>
        </div>
         <div class="bx-form-element">
            <div class="bx-form-value bx-clearfix">
                <div class="bx-form-input-wrapper bx-form-input-wrapper-select">
                    <input type="text" class="bx-def-font-inputs bx-form-input-select bx_analytics_date_picker" value="__interval__" />
                </div>
            </div>
        </div>
    </div>
    <div class="bx_analytics_data">
        <div class="bx_analytics_grath_cnt bx-def-margin-top">
            <canvas class="bx_analytics_grath bx-canvas"></canvas>
        </div>
        <div class="bx-def-margin-top bx-grid-table">
            <table class="bx_analytics_table" width="100%"></table>
        </div>
    </div>
    <div class="bx-def-margin-top">
        <a href="javascript:" class="bx_analytics_export_url">__export_to_csv_title__</a>
    </div>
</div>
