<script src="https://cdn.jsdelivr.net/npm/ovenplayer/dist/ovenplayer.js"></script>
<div id="bx-stream-player-__suffix__" class="bx-stream-player">
</div>
<script>
    let oPlayer = null;
    let fLoadPlayer = function () {
        if (oPlayer)
            oPlayer.remove();

    	let aSources = __sources__;
	    oPlayer = OvenPlayer.create("bx-stream-player-__suffix__",
	    {
		    sources: aSources,
    		autoStart: true
	    });

        // display some message when waiting for the stream to start
    	oPlayer.on('ready', function() {
		    oPlayer.getConfig().systemText.api.error[501].message = _t('_bx_stream_txt_wait_for_stream');
    	});

        // reload player when error occured, it's needed to start player automatically when stream starts
        oPlayer.on('error', function() {
            setTimeout(function () {
                console.log('Reloading in 5 sec...');
                fLoadPlayer();
            }, 5000)
        });
    };
    fLoadPlayer();
</script>
