<div id="bx-stream-player-__suffix__" class="bx-stream-player">
</div>
<script>
    let oPlayer = null;
    let iBxStreamCounter = 0;
    let fLoadPlayer = function () {
        if (oPlayer) {
            oPlayer.remove();
            oPlayer = null;
        }

        let aSources = __sources__;
        oPlayer = OvenPlayer.create("bx-stream-player-__suffix__",
        {
            sources: aSources,
            autoStart: __autostart__,
            autoFallback: true,
            image: '__image__',
            mute: __mute__ // muted player always autoplays
        });

        // display some message when waiting for the stream to start
        oPlayer.on('ready', function() {
            oPlayer.getConfig().systemText.api.error[501].message = _t('_bx_stream_txt_wait_for_stream');
        });

        // reload player when error occured, it's needed to start player automatically when stream starts
        var fReloader = function() {
            if (!__autostart__)
                return;

            setTimeout(function () {
                if ('undefined' !== typeof(document.hidden) && !document.hidden) {
                    if (++iBxStreamCounter > 250)
                        location.reload();
                    fLoadPlayer();
                }
                else {
                    console.log('empty reloader....');
                    fReloader();
                }
            }, 5000);
        };
        oPlayer.on('error', fReloader);
    };
    fLoadPlayer();
</script>
