/* attachments */
.bx-base-general-attachments .bx-base-general-attachment video,
.flickity-enabled .flickity-viewport .flickity-slider .bx-base-general-attachment video {
    max-width:100%;
    max-height:100%;
}
.bx-base-general-attachment a div {
    text-overflow: ellipsis;
    overflow: hidden;
}
.bx-base-general-attachment a canvas {
    position:absolute;
    top:0;
    left:0;
}

.bx-base-general-attachment-sound {
    position:relative;
    height:100%;
}
.bx-base-general-attachment-sound-file-name,
.bx-base-general-attachment-sound-player {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.bx-base-general-attachment-sound-file-name {
    height:9.25rem;
}
.bx-base-general-attachment-sound-player {
    height:3.25rem;
}

/* unit meta */
.bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor > li {
    white-space: nowrap;
}
.bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor > li.bx-menu-item-nl {
    display: none;
    width: 100%;
    height: 0;
}
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor > li.bx-menu-item-nl {
    display: block;
}
.bx-base-general-unit-meta ul.bx-menu-custom li:first-child .bx-base-general-unit-meta-div {
    display: none;
}
.bx-base-general-unit-meta ul.bx-menu-custom li .bx-metatags-keyword {
    margin: 0px;
    line-height: normal;
}

/* Browsing by labels */
.bx-base-general-lables-tree-parent-0, 
.bx-base-general-lables-tree-parent-0 ul {
    list-style-type: none;
    padding-left: 2rem;
}
.bx-base-general-lables-tree-parent-0 {
    margin: 0px;
}
.bx-base-general-lables-tree-parent-0 li {
    padding: 0px;
}
.bx-base-general-lables-tree-parent-0 li i.sys-icon {
    display: inline-block;
    width: 0.625rem;
    margin-left: -1rem;
}

/* more menu */
.bx-menu-submenu-more-auto .bx-menu-item:not(.bx-stl-mil-wo-gaps-sm) .sys-action-do-icon,
.bx-menu-submenu-more-auto .bx-menu-item:not(.bx-stl-mil-wo-gaps-sm) .bx-vote-do-icon,
.bx-menu-submenu-more-auto .bx-menu-item:not(.bx-stl-mil-wo-gaps-sm) .bx-favorite-do-icon,
.bx-menu-submenu-more-auto .bx-menu-item:not(.bx-stl-mil-wo-gaps-sm) .bx-feature-do-icon,
.bx-menu-submenu-more-auto .bx-menu-item:not(.bx-stl-mil-wo-gaps-sm) .bx-report-do-icon,
.bx-menu-submenu-more-auto .bx-menu-item:not(.bx-stl-mil-wo-gaps-sm) .bx-score-do-icon {
    height: 1.25rem;
    width: 1.25rem;
    align-items: center;
    justify-content: center;
}
.sys-action-counter-holder .bx-view-counter-label {
    padding: 0px;
}
.bx-base-unit-showcase-wrapper {
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
.bx-base-unit-showcase-wrapper .bx-base-text-unit-showcase{
    display: inline-block;
}