<div class="bx-air-splash" itemscope="itemscope" itemtype="http://schema.org/SoftwareApplication" additionalType="http://schema.org/WebApplication">
    <meta itemprop="name" content="Trident" />
    <meta itemprop="softwareVersion" content="__version__ __build__" />
    <meta itemprop="applicationCategory" content="Social CMS" />
    <meta itemprop="operatingSystem" content="Windows,Linux,OSX" />
    <meta itemprop="license" content="http://creativecommons.org/licenses/by/3.0/" />
    <meta itemprop="installUrl" content="/page/install" />
    <meta itemprop="downloadUrl" content="/page/download" />
    <meta itemprop="featureList" content="/page/about" />
    <meta itemprop="screenshot" content="/storage.php?o=bx_posts_files&f=uv9sxyyxjryhcaqm7bjdruiiy54ezqsb.jpg" />
    <div itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="BoonEx" />
        <meta itemprop="logo" content="http://www.boonex.com/modules/Txt/layout/default/img/txt-abt-file01.png" />
    </div>

	<div class="bx-air-s-cnt bx-def-padding-bottom">
		<div class="bx-air-s-image">
			<img src="<bx_image_url:platform.png />" width="500" height="275" />
		</div>
		<div class="bx-air-s-text">
			<div class="bx-air-st-title bx-def-font-h1" itemprop="description"><bx_text:_bx_air_txt_caption /></div>
			<div class="bx-air-st-text bx-def-margin-top bx-def-padding-sec-bottom"><span class="col-gray"><bx_text:_bx_air_txt_slogan_trident /></span><bx_text:_bx_air_txt_slogan /></div>
			<div class="bx-air-st-button bx-def-margin-top">
				<a class="bx-btn" onclick="_gaq.push(['_trackEvent', 'package', 'download', '__version_full__']);" href="__download_url__"><span class="bx-air-stb-main"><bx_text:_bx_air_btn_download />__version__ </span><span class="bx-air-stb-aux">__build__</span></a>
			</div>
			<!--
			<div class="bx-air-st-links bx-def-margin-top">
				<a class="bx-def-padding-sec-leftright" href="<bx_url_root />page/about">About</a>
				<a class="bx-def-padding-sec-leftright" href="<bx_url_root />page/demo">Demos</a>
				<a class="bx-def-padding-sec-leftright" href="<bx_url_root />page/install">Install</a>
				<a class="bx-def-padding-sec-leftright" href="<bx_url_root />page/extend">Extend</a>
				<a class="bx-def-padding-sec-leftright" href="<bx_url_root />page/support">Support</a>
				<a class="bx-def-padding-sec-leftright" href="<bx_url_root />page/posts-home">Posts</a>
			</div>
			-->
		</div>
		<!--		
		<div class="bx-air-s-text-aux"><bx_text:_bx_air_txt_description /></div>
		<div class="bx-air-s-learn-more">
			<div class="bx-def-padding">
				<a class="bx-def-font-grayed" href="#bx-air-spl-more" ><bx_text:_bx_air_txt_learn_more /><br /><i class="sys-icon chevron-down"></i></a>
			</div>
		</div>
		<div class="bx-air-s-more">
			<div class="bx-def-hr"></div>
			<a name="bx-air-spl-more"></a>
			<div class="bx-air-sm-row bx-air-smr-responsive">
				<div class="bx-air-smr-image">
					<img class="" src="<bx_image_url:spl-responsive-2x.png />" />
				</div>
				<div class="bx-air-smr-text">
					<div class="bx-air-smr-text-cnt">
						<h2><bx_text:_bx_air_txt_responsive_cpt /></h2>
						<p><bx_text:_bx_air_txt_responsive_cnt /></p>
					</div>
				</div>
			</div>
			<div class="bx-air-sm-row bx-air-smr-open">
				<div class="bx-air-smr-image">
					<img class="" src="<bx_image_url:spl-open-2x.png />" />
				</div>
				<div class="bx-air-smr-text">
					<div class="bx-air-smr-text-cnt">
						<h2><bx_text:_bx_air_txt_open_cpt /></h2>
						<p><bx_text:_bx_air_txt_open_cnt /></p>
					</div>
				</div>
			</div>
			<div class="bx-air-sm-row bx-air-smr-optimized">
				<div class="bx-air-smr-image">
					<img class="" src="<bx_image_url:spl-optimized-2x.png />" />
				</div>
				<div class="bx-air-smr-text">
					<div class="bx-air-smr-text-cnt">
						<h2><bx_text:_bx_air_txt_optimized_cpt /></h2>
						<p><bx_text:_bx_air_txt_optimized_cnt /></p>
					</div>
				</div>
			</div>
		</div>
		-->
	</div>
</div>
