@import url(../../../../../forum/template/css/main.css);
/*
/*-- Participants --*/
div.bx-forum-participants.left,
div.bx-forum-participants.none,
div.bx-forum-participants.right {
    float: none;
}
div.bx-forum-participants.left {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
div.bx-forum-participants.right {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
div.bx-forum-participants .bx-forum-participant {
    float: none;
}
div.bx-forum-participants.left .bx-forum-participant,
div.bx-forum-participants.none .bx-forum-participant {
    float: none;
    margin-right: 0.75rem;
}
.bx-forum-participants.right .bx-forum-participant {
    float: none;
    margin-left: 0.75rem;
}
.bx-forum-participant .bx-forum-participant-alert-last-replier {
    left: -0.375rem;
    right: auto;
    top: -0.375rem;
    bottom: auto;
}
.bx-forum-participant .bx-forum-participant-alert-author {
    left: -0.375rem;
    right: auto;
    top: auto;
    bottom: -0.375rem;
}


/*-- Grid: Preview --*/
.bx-forum-grid-preview .bx-base-general-unit-meta ul.bx-menu-object-bx_forum_snippet_meta_counters li a {
    display: -webkit-flex;
    display: flex;
}

/* forum units - new view, for UNA14 need to migrate in general */
.bx-base-unit-showcase-wrapper.bx-forum-wrapper{
    white-space:normal;
    text-align: left !important;
}
/*
.bx-base-unit-showcase-wrapper.bx-forum-wrapper:not(.flickity-enabled) .bx-base-text-unit-showcase{
    width: 100%
}

.bx-media-desktop .bx-layout-column-half .bx-base-unit-showcase-wrapper.flickity-enabled.bx-forum-wrapper .bx-base-text-unit-showcase,
.bx-media-desktop .bx-layout-column-wide .bx-base-unit-showcase-wrapper.flickity-enabled.bx-forum-wrapper .bx-base-text-unit-showcase {
    width:calc(33%);
}

.bx-media-desktop #sys_search_results  .bx-base-unit-showcase-wrapper.flickity-enabled.bx-forum-wrapper .bx-base-text-unit-showcase,
.bx-media-desktop .bx-layout-column-fullwidth  .bx-base-unit-showcase-wrapper.flickity-enabled.bx-forum-wrapper .bx-base-text-unit-showcase {
    width:calc(25%);
}
.bx-artificer .bx-base-unit-showcase-wrapper.flickity-enabled.bx-forum-wrapper .flickity-slider .bx-base-text-unit-showcase > div {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.bx-base-unit-showcase-wrapper.flickity-enabled.bx-forum-wrapper{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.bx-artificer .bx-base-unit-showcase-wrapper.flickity-enabled.bx-forum-wrapper .flickity-slider .bx-base-text-unit-showcase{
    margin-left: 0px !important;
    margin-right: 0rem !important;
}
.bx-base-unit-showcase-wrapper.flickity-enabled.bx-forum-wrapper .bx-base-text-unit-showcase{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#bx-forum-snippet-meta-main{
    margin-left: 0px;
}
.bx-menu-meta-item-ex {
    margin-right: 0px !important;
}
.bx-menu-meta-item-ex span:nth-child(2){
    margin-left: 0.375rem;
}
.bx-menu-meta-item-ex .bx-menu-meta-icon{
    min-width: 16px;
    text-align: center;
}

.bx-base-unit-showcase-wrapper.bx-forum-wrapper{
    display: flex;
    flex-wrap: nowrap;
}*/