<div id="bx-uploader-file-{storage_object}-{file_id}" class="bx-tl-uploader-file bx-def-margin-sec-top bx-def-margin-sec-left-auto">
    <div class="bx-tl-uploader-file-preview bx-def-round-corners">
    	<img src="<bx_image_url:spacer.gif />" style="background-image:url({file_icon})" />
    </div>
    <div class="bx-tl-uploader-file-actions bx-def-margin-thd-top bx-clearfix">
    	<a class="bx-btn bx-btn-small" href="javascript:void(0);" onclick="{js_instance_name}.deleteGhost('{file_id}')"><bx_text:_Delete /></a>
    	__nested_form__
    </div>
</div>
