<bx_include_auto:_header.html />
<div class="bx-main <bx_injection:injection_main_class />">
    <bx_injection:top />
    <div id="bx-toolbar" class="bx-header bx-def-z-index-nav fixed top-0 w-full ring-1 ring-gray-300 dark:ring-gray-700 bg-white/95 dark:bg-gray-800/95 backdrop-blur shadow">
        <div class="bx-header-cnt __sys_header_width__ mx-auto px-3 md:px-4 lg:px-6 box-border">
            <div class="bx-toolbar-content-wrapper">
                <div id="bx-toolbar-content" class="bx-toolbar-content relative flex items-center justify-start h-16">
                    <!-- Mobile: Hamburger -->
                    <div class="bx-toolbar-item bx-ti-hamburger flex-none items-center lg:hidden mr-4">
                        <bx_menu:sys_toolbar_site />
                    </div>

                    <div class="bx-toolbar-items-group relative flex flex-1 items-center justify-start h-16">
                        <!-- Logo -->
                        <div id="bx-logo-container" class="bx-toolbar-item bx-ti-left bx-ti-logo flex-none items-center">
                            <bx_injection:injection_logo_before />
                            __main_logo__
                            <bx_injection:injection_logo_after />
                        </div>
                        <!-- Menu -->
                        <div class="bx-toolbar-item bx-ti-menu flex-2 hidden lg:block w-64 ml-4">
                            <div id="bx-menu-toolbar-1-container" class="bx-toolbar-item bx-ti-menu w-full">
                                <bx_menu:sys_site />
                            </div>
                        </div>
                        <!-- Search -->
                        <div class="bx-toolbar-item bx-ti-search flex-1 lg:flex-none flex items-center justify-end">
                            <div class="bx-ti-search-box flex-auto flex items-start md:min-w-88 mr-2 bg-white/95 dark:bg-gray-800/95 rounded-md shadow-md hidden">
                                <div class="relative w-full">__sys_site_search__</div>
                            </div>
                            <div class="bx-ti-search-button group relative inline-flex items-center mx-2 text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200 text-base font-medium leading-6 border border-transparent hover:border-gray-200/50 active:border-gray-300 dark:hover:border-gray-700/50 dark:active:border-gray-700 bg-gray-100 dark:bg-gray-700/50 active:bg-gray-300 dark:active:bg-black/50 hover:bg-gray-200/50 dark:hover:bg-gray-700/50 rounded-full">
                                <a href="javascript:void(0)" onclick="javascript:bx_site_search_show(this)">
                                    <span class="relative flex items-center justify-center h-8 w-8 md:h-10 md:w-10">
                                        <bx_image_auto:search />
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Members Toolbar -->
                    <div id="bx-menu-toolbar-2-container" class="bx-toolbar-item bx-ti-right flex-none">
                        <bx_menu:sys_toolbar_member />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <bx_injection:injection_between_cover_logo />
    __cover__
    <bx_injection:injection_between_cover_top_menu />
    <div id="bx-menu-main-bar-wrapper" class="bx-menu-main-bar-wrapper bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-800 __site_submenu_hidden__">
        <div id="bx-menu-main-bar" class="bx-menu-main-bar __site_submenu_class__ bx-def-page-width mx-auto px-4 sm:px-6 lg:px-8 box-border">
            <div class="bx-menu-main-bar-cnt relative -mb-px">
                <div class="absolute w-full text-center">
                    <bx_injection:injection_top_menu_before />
                    <bx_menu:sys_site_submenu />
                    <bx_injection:injection_top_menu_after />
                </div>
            </div>
        </div>
    </div>
    <bx_injection:injection_between_content_menu />
    <div id="bx-content-wrapper">
        __informer__
        <div class="bx-page-wrapper bx-def-page-width mx-auto px-3 md:px-4 lg:px-6 box-border">
            <div id="bx-content-container" class="bx-content-container">
                <bx_injection:injection_content_before />
                <div id="bx-content-main" class="bx-content-main my-4 lg:my-6">