<div class="__style_prefix__-reply__class__ mb-4">
    <div class="__style_prefix__-cont __style_prefix__-post-reply">
        <div class="__style_prefix__-cont-cnt">
            <bx_if:show_form_min>
                <div class="__style_prefix__-body-min__class_body_min__ flex items-center">
                    <div class="__style_prefix__-bm-user">__author_unit__</div>
                    <div class="__style_prefix__-bm-content w-full pl-2 lg:pl-4 text-sm text-gray-500 dark:text-gray-400 box-border">__placeholder__</div>
                </div>
            </bx_if:show_form_min>
            <div class="__style_prefix__-body__class_body__">__form__</div>
        </div>
    </div>
</div>