<div id="cmts-box-__system__-__id__">
    __post_form_top__
    <div id="cmt0" class="cmts">
        __content_before__
        <a id="__list_anchor__" class="bx-anchor-invisible"></a>
        <ul class="cmts cmts-pinned">__comments_pinned__</ul>
        <div class="cmts-divider bx-def-hr mb-4" style="<bx_if:show_divider_hidden>display:none</bx_if:show_divider_hidden>"></div>
        <ul class="cmts cmts-all">__comments__</ul>
        __content_after__
    </div>
    __post_form_bottom__
</div>
__image_preview__
__script__