<!-- layout top & bottom areas with 3 columns (2:5:3) [ start ] -->
<div id="__page_id__" class="bx-layout-wrapper bx-layout-topbottom-area-col2-col5-col3">
    <bx_include_auto:_row_1_column.html />
    <div class="bx-layout-row">
        <section class="bx-layout-col bx-layout-bcb-bar1 bx-layout-column-thin md:w-2/10 flex-auto md:flex-none" aria-label="Sidebar" >
            <div class="bx-layout-cell" id="bx-layout-cell-2">
                __cell_2__
            </div>
        </section>
        <section aria-label="Content" class="max-w-full md:w-8/10 flex-1 flex flex-wrap lg:flex-nowrap bx-layout-gap">
            <main class="bx-layout-col bx-layout-bcb-content bx-layout-column-half flex-auto md:w-3/5" aria-label="Main">
                <div class="bx-layout-cell" id="bx-layout-cell-3">
                    __cell_3__
                </div>
            </main>
            <aside class="bx-layout-col bx-layout-bcb-bar2 bx-layout-column-thin md:w-2/5" aria-label="Aside">
                <div class="bx-layout-cell" id="bx-layout-cell-4">
                    __cell_4__
                </div>
            </aside>
        </section>
    </div>
    <div class="bx-layout-row">
        <div class="bx-layout-col bx-layout-1-column-column1 bx-layout-column-fullwidth">
            <div class="bx-layout-cell" id="bx-layout-cell-5">
                __cell_5__
            </div>
        </div>
    </div>
    <bx_include_auto:_row_1_column_dump.html />
</div>
<bx_include_auto:_layout_align_columns.html />
<!-- layout top & bottom areas with 3 columns (2:5:3) [  end  ] -->