<!-- layout bar content bar (bcb) [ start ] -->
<div id="__page_id__" class="bx-layout-wrapper bx-layout-bcb">
    <div class="bx-layout-row">
        <section class="bx-layout-col bx-layout-bcb-bar1 bx-layout-column-thin md:w-1/4 flex-auto md:flex-none" aria-label="Sidebar" >
            <div class="bx-layout-cell" id="bx-layout-cell-1">
                __cell_1__
            </div>
        </section>
        <section aria-label="Content" class="max-w-full md:w-3/4 flex-1 flex flex-wrap lg:flex-nowrap bx-layout-gap">
            <main class="bx-layout-col bx-layout-bcb-content bx-layout-column-half flex-auto md:w-2/3" aria-label="Main">
                <div class="bx-layout-cell" id="bx-layout-cell-2">
                    __cell_2__
                </div>
            </main>
            <aside class="bx-layout-col bx-layout-bcb-bar2 bx-layout-column-thin lg:w-1/3" aria-label="Aside">
                <div class="bx-layout-cell" id="bx-layout-cell-3">
                    __cell_3__
                </div>
            </aside>
        </section>
    </div>
    <bx_include_auto:_row_1_column_dump.html />
</div>
<!-- layout bar content bar (bcb) [  end  ] -->