<!-- layout top area 2 columns [ start ] -->
<div id="__page_id__" class="bx-layout-wrapper bx-layout-bottom-area-2-columns">
    <div class="bx-layout-row">
        <aside class="bx-layout-col bx-layout-2-columns-column1 bx-layout-column-half md:w-1/2" aria-label="Sidebar">
            <div class="bx-layout-cell" id="bx-layout-cell-2">
                __cell_2__
            </div>
        </aside>
        <main class="bx-layout-col bx-layout-2-columns-column2 bx-layout-column-half md:w-1/2" aria-label="Main">
            <div class="bx-layout-cell" id="bx-layout-cell-3">
                __cell_3__
            </div>
        </main>
    </div>
    <bx_include_auto:_row_1_column.html />
    <bx_include_auto:_row_1_column_dump.html />
</div>
<bx_include_auto:_layout_align_columns.html />
<!-- layout top area 2 columns [  end  ] -->