<div class="bx-profile-avatar bx-def-border-radius-block">
    <div class="bx-profile-avatar-cnt relative flex items-center">
        <div class="bx-pa-img">__profile_unit__</div>
        <div class="bx-pa-info w-full" sidebar-toggle-item>
            <div class="bx-pa-info-cnt bx-def-padding-sec-left bx-def-box-sizing">
                <div class="bx-pai-line font-semibold truncate">
                    <a href="__profile_url__" title="__profile_title_attr__">__profile_title__</a>
                </div>
                <div class="bx-pai-line text-xs font-normal truncate uppercase tracking-wider">
                    <div><bx_include_auto:menu_icon.html /><span class="bx-def-padding-sec-left">__profile_acl_title__</span></div>
                </div>
            </div>
        </div>
        <bx_if:show_switcher_icon>
            <div class="bx-pa-actions" sidebar-toggle-item>
                <a href="__switcher_url__" onclick="__switcher_onclick__">
                    <div class="bx-pa-action bx-def-margin-sec-left bx-def-color-bg-hl bx-def-align-center"><i class="sys-icon arrows-alt-v"></i></div>
                </a>
            </div>
        </bx_if:show_switcher_icon>
    </div>
</div>
__switcher__