<bx_include_auto:_header.html />
<div class="bx-main bx-pt-application <bx_injection:injection_main_class />">
    <bx_injection:top />
    <div id="bx-toolbar" class="bx-main-toolbar bx-def-z-index-nav">
        <div class="bx-def-centered bx-def-padding-sec-leftright bx-def-page-width bx-def-box-sizing">
            <div id="bx-toolbar-content" class="bx-clearfix">
                <div class="bx-toolbar-item">
                    <!-- Sidebar Toggler -->
                    <button id="toggleSidebar" aria-expanded="true" aria-controls="sidebar" class="hidden p-2 mr-6 text-gray-600 rounded cursor-pointer xl:inline hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700">
                      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    </button>
                    <button id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar" class="p-2 mr-2 text-gray-600 rounded cursor-pointer xl:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <svg id="toggleSidebarMobileHamburger" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                      <svg id="toggleSidebarMobileClose" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
                <div id="bx-menu-toolbar-1-container" class="bx-toolbar-item bx-ti-left bx-toolbar-1-container">
                    <bx_menu:sys_toolbar_site />
                </div>
                <div id="bx-logo-container" class="bx-toolbar-item bx-ti-logo bx-toolbar-logo-container">
                    <bx_injection:injection_logo_before />
                    __main_logo__
                    <bx_injection:injection_logo_after />
                </div>
                <div class="bx-toolbar-item bx-ti-menu flex-2 hidden xl:block ml-4">
                    <div class="bx-ti-cmt w-full">
                        <bx_menu:sys_application />
                    </div>
                </div>
                <div id="bx-menu-toolbar-2-container" class="bx-toolbar-item bx-ti-right bx-toolbar-2-container">
                    <bx_menu:sys_toolbar_member />
                </div>
            </div>
        </div>
    </div>
    <div class="bx-main-content">
        <div class="bx-main-column narrow">
            <div class="bx-menu-toolbar-padding">
                <bx_menu:sys_site_panel />
            </div>
        </div>
        <div class="bx-main-column wide">
            <bx_injection:injection_between_cover_logo />
            __cover__
            <bx_injection:injection_between_cover_top_menu />
            <div id="bx-menu-main-bar-wrapper" class="bx-menu-main-bar-wrapper __site_submenu_hidden__">
                <div id="bx-menu-main-bar" class="bx-menu-main-bar __site_submenu_class__ bx-def-color-bg-sec">
                    <div class="bx-def-centered bx-def-padding-sec-leftright bx-def-box-sizing">
                        <bx_injection:injection_top_menu_before />
                        <bx_menu:sys_site_submenu />
                        <bx_injection:injection_top_menu_after />
                    </div>
                </div>
            </div>
            <bx_injection:injection_between_content_menu />
            <div id="bx-content-wrapper">
                __informer__
                <div class="bx-page-wrapper bx-def-padding-sec-leftright bx-def-box-sizing">
                    <div id="bx-content-container" class="bx-content-container bx-def-padding-sec-leftright">
                        <div id="bx-content-main" class="bx-content-main bx-def-margin-top">
                            <bx_injection:injection_content_before />
                            __page_main_code__
                            <bx_injection:injection_content_after />
                            <div class="bx-clear"></div>
                            <bx_injection:banner_bottom />
                        </div> <!-- #bx-content-main -->
                        <bx_injection:injection_between_content_footer />
                    </div> <!-- #bx-content-container -->
                </div>
            </div> <!-- #bx-content-wrapper -->
        </div> <!-- .bx-main-column -->
    </div> <!-- .bx-main-content -->
    <div id="bx-footer-wrapper">
        <hr class="bx-def-hr" />
        <div class="bx-def-centered bx-def-padding-sec-leftright bx-def-page-width bx-def-box-sizing">
            <div id="bx-footer" class="bx-def-padding-sec-left bx-def-padding-sec-right bx-clearfix">
                <bx_injection:injection_footer_before />
                <div id="bx-menu-bottom">
                    <bx_menu:sys_footer />
                </div>
                <bx_injection:injection_footer_after />
            </div>
        </div>
    </div>
    <bx_menu:sys_site_action />
</div>
<bx_include_auto:_footer.html />