
/* --------------- color palette */


.col-red1 { color: #d80960; }
.bg-col-red1 { background-color: #d80960; }
.col-red1-dark { color: #c20756; }
.bg-col-red1-dark { background-color: #c20756; }

.col-red2 { color: #e7441e; }
.bg-col-red2 { background-color: #e7441e; }
.col-red2-dark { color: #cf3c19; }
.bg-col-red2-dark { background-color: #cf3c19; }

.col-red3 { color: #f38f00; }
.bg-col-red3 { background-color: #f38f00; }
.col-red3-dark { color: #da8000; }
.bg-col-red3-dark { background-color: #da8000; }



.col-green1 { color: #60ae00; }
.bg-col-green1 { background-color: #60ae00; }
.col-green1-dark { color: #569c00; }
.bg-col-green1-dark { background-color: #569c00; }

.col-green2 { color: #d1d300; }
.bg-col-green2 { background-color: #d1d300; }
.col-green2-dark { color: #babc00; }
.bg-col-green2-dark { background-color: #babc00; }

.col-green3 { color: #307424; }
.bg-col-green3 { background-color: #307424; }
.col-green3-dark { color: #2b6820; }
.bg-col-green3-dark { background-color: #2b6820; }



.col-blue1 { color: #0a3d8f; }
.bg-col-blue1 { background-color: #0a3d8f; }
.col-blue1-dark { color: #093680; }
.bg-col-blue1-dark { background-color: #093680; }

.col-blue2 { color: #00a4a5; }
.bg-col-blue2 { background-color: #00a4a5; }
.col-blue2-dark { color: #009294; }
.bg-col-blue2-dark { background-color: #009294; }

.col-blue3 { color: #00a0ce; }
.bg-col-blue3 { background-color: #00a0ce; }
.col-blue3-dark { color: #008fb8; }
.bg-col-blue3-dark { background-color: #008fb8; }



.col-gray { color: #616161; }
.bg-col-gray { background-color: #616161; }
.col-gray-dark { color: #333333; } /* 26.13.13: prev val #575757; */
.bg-col-gray-dark { background-color: #575757; }

/* icons */
.sys-icon-emoji{
    font-weight: normal !important;
}

.sys-icon-image,
.sys-icon-svg{
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    display: inline-block;
}
