
.bx-grid-table {
    width:100%;
    border-collapse:collapse;
}
.bx-grid-table-wrapper {    
    overflow-x:hidden;
    overflow-y:hidden;    
}
.bx-grid-table-wrapper2 {
    position:relative;
}
.bx-grid-table-wrapper2.bx-grid-table-hide-shadow-before:before,
.bx-grid-table-wrapper2.bx-grid-table-hide-shadow-after:after {
    display:none !important;
}
.bx-grid-table-wrapper2:before,
.bx-grid-table-wrapper2:after {
    display:none;
    content:"";
    position:absolute;
    top:0;
    width:1.5rem;
    height:100%;
    z-index:1;
}
.bx-grid-table-wrapper2:before {
    left:-1px;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
.bx-grid-table-wrapper2:after {
    right:-1px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}
.bx-grid-table-wrapper .bx-def-hr {
    margin:0;
}
.bx-grid-header-cnt {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.bx-grid-header-controls-filter {
    margin-bottom: -0.25rem;
}
.bx-grid-header-controls-filter div.bx-form-element-wrapper {
    margin-bottom: 0.25rem;
}
.bx-grid-header-controls-counter {
    -webkit-flex-grow: 2;
    flex-grow: 2;

    white-space: nowrap;
}
.bx-grid-header-controls-independent {}
.bx-gh-no-counter .bx-grid-header-controls-independent {
    -webkit-flex-grow: 2;
    flex-grow: 2;

    text-align: right;
}
.bx-grid-header-controls-independent .bx-btn {
    float: none;
    white-space: nowrap;
}

.bx-media-phone .bx-grid-header-cnt {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
.bx-media-phone .bx-grid-header-controls-filter{
    margin: 0px !important;
}
.bx-media-phone .bx-grid-header-controls-filter .bx-form-element-wrapper{
    width: calc(50% - 0.5rem);
}
.bx-media-phone div.bx-grid-header div.bx-form-element-wrapper:last-child {
    margin-bottom: 0; 
}
.bx-media-phone .bx-grid-header-controls-counter{
    text-align: left;
}
.bx-grid-table .bx-grid-table-row-hr td:first-child,
.bx-grid-table .bx-grid-table-row-hr td {
    padding:0;
}

.bx-grid-table-row-trans {
   -webkit-transition:background-color 1s linear;
   -moz-transition:background-color 1s linear;
   -o-transition:background-color 1s linear;
   transition:background-color 1s linear;
}

.bx-grid-table .bx-grid-table-row-empty td {
    text-align:center;
}

.bx-grid-table th,
.bx-grid-table td { 
    padding-left:5px;
    padding-right:5px;
    text-align:left;
}
.bx-grid-table th:first-child,
.bx-grid-table td:first-child {
    padding-left:10px;
}
.bx-grid-table th:last-child,
.bx-grid-table td:last-child {
    padding-right:10px;
}

.bx-grid-actions-divider {
    float:left;
    text-align:center;
    width:4px;
}

div.bx-grid-drag-handle {
    display:none;
    width:16px;
    height:16px;

    color:#666666;
    line-height:18px;
    font-size:14px;

    cursor:move;
}


.bx-grid-gragging-row {    

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; 
    filter: alpha(opacity=90); 
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;

    -moz-box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
    box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);    
}

.bx-grid-table .bx-grid-drag-placeholder td {
    padding-left:0;
}


td:last-child .bx-grid-cell-single-actions-wrapper {
    float:right;
}

.bx-grid-table-wrapper td .bx-def-unit {
    margin-bottom:0;
}
