<div id="__html_id__" class="__class__">
    <div class="__style_prefix__-ali-cnt bx-def-margin-sec">
        <bx_if:show_embed_outer>
           <div class="__style_prefix__-ali-embed">__embed__</div>
        </bx_if:show_embed_outer>
        <bx_if:show_embed_inner>
            <bx_if:show_thumbnail>
                <div class="__style_prefix__-ali-thumbnail">
                    <img src="__thumbnail__" />
                </div>
            </bx_if:show_thumbnail>
            <div class="__style_prefix__-ali-title">__link__</div>
            <div class="__style_prefix__-ali-url bx-def-font-grayed">__url__</div>
        </bx_if:show_embed_inner>
        <div class="__style_prefix__-ali-actions bx-def-margin-sec-top bx-clearfix">
            <a class="bx-btn bx-btn-small" href="javascript:void(0)" onclick="javascript:__js_object__.deleteAttachLink(this, __id__)"><bx_text:_Delete /></a>
            <input type="hidden" name="link[]" value="__id__" />
        </div>
    </div>
</div>