<div class="bx-ads-categories">
    <div class="bx-ads-categories-cnt">
        <bx_repeat:categories>
            <div class="bx-ads-category bx-def-padding-thd-topbottom">
                <bx_if:show_icon><span class="ltr:pr-2 rtl:pl-2"><i class="sys-icon __icon__"></i></span></bx_if:show_icon>
                <a href="__url__">__title__</a>
                <bx_if:show_counter><span class="pl-2">(__items__)</span></bx_if:show_counter>
            </div>
            <bx_if:show_subcategories>
                <div class="bx-ads-subcategories ltr:ml-4 ltr:pl-2 rtl:mr-4 rtl:pr-2">__subcategories__</div>
            </bx_if:show_subcategories>
        </bx_repeat:categories>
    </div>
</div>