<div class="bx-tl-item-raw-cnt bx-event">
    <bx_if:date>
        <div class="bx-tl-info bx-def-margin-sec-bottom bx-def-font-h3">
            <i class="sys-icon calendar-alt bx-def-margin-thd-right"></i> <span class="dtstart" title="__date_c__">__date__</span>
        </div>
    </bx_if:date>
    <bx_if:location>
        <div class="bx-tl-info bx-def-margin-sec-bottom bx-def-font-h3">
            <i class="sys-icon map-marker-alt bx-def-margin-thd-right"></i> <span class="location">__location__</span>
        </div>
    </bx_if:location>
</div>