<ul class="bx-menu-ver bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-menu-item __name__ __class_add__ bx-stl-mil group">
            <a class="__name__ flex flex-2 items-center truncate" href="__link__" onclick="__onclick__" __attrs__>
                <span class="bx-menu-item-icon bx-stl-mii group-hover:text-gray-700 dark:group-hover:text-gray-300">
                    <bx_include_auto:menu_icon.html />
                </span>
                <span class="bx-menu-item-title bx-stl-mit">__title__</span>
            </a>
        </li>
    </bx_repeat:menu_items>
</ul>
<script language="javascript">
    $(document).ready(function () {
        // add default class to active menu items
        $('.bx-menu-ver > li.bx-menu-tab-active').not('.bx-def-color-bg-active').addClass('bx-def-color-bg-active');
    });
</script>