<ul id="bx-menu-footer" class="bx-menu-hor bx-menu-object-__object__ flex flex-wrap items-center justify-center space-x-4">
    <bx_repeat:menu_items>
        <li class="bx-stl-mil-wo-bg-gaps __class_add__">
            <a href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__>
                <bx_if:image><img title="__title_attr__" src="__icon_url__" /></bx_if:image>
                <bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
                <bx_if:title>__title__</bx_if:title>
            </a>
        </li>
    </bx_repeat:menu_items>
</ul>