<ul class="bx-menu-notif bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items>
        <li class="bx-def-border-bottom bx-def-padding-sec-top bx-def-padding-sec-bottom __class_add__">
            <bx_if:icon><i class="sys-icon __icon__"></i></bx_if:icon>
            <bx_if:image><img style="background-image:url(__icon_url__)" src="<bx_icon_url:spacer.gif />" /></bx_if:image>
            <a href="__link__" target="__target__" onclick="__onclick__"><span>__title__</span></a>
            <bx_if:addon><span class="bx-def-unit-alert-middle bg-col-blue3-dark">__addon__</span></bx_if:addon>
        </li>
    </bx_repeat:menu_items>
</ul>
