<ul class="bx-menu-toolbar bx-menu-object-__object__">
    <bx_repeat:menu_items>
        <li id="bx-menu-toolbar-item-__name__" class="bx-menu-toolbar-item bx-menu-item-__name__ bx-def-padding-thd-leftright __class_add__">
            <a href="__link__" onclick="__onclick__" class="bx-def-font-contrasted"__attrs__><bx_if:title><span class="bx-menu-toolbar-item-title bx-def-margin-thd-leftright">__title__</span></bx_if:title><bx_if:icon><i class="sys-icon __icon__ bx-def-margin-thd-leftright"></i></bx_if:icon>
				<bx_if:icon-a><i class="sys-icon-a bx-def-margin-thd-leftright" data-rotate="down" data-icon="__icon-a__" data-color="#fff"></i></bx_if:icon-a>
				<bx_if:image><img class="bx-def-margin-thd-leftright" src="__icon_url__" /></bx_if:image>
				<bx_if:icon-html>__icon__</bx_if:icon-html>
				<bx_if:unit><div class="bx-menu-toolbar-item-unit bx-def-margin-thd-leftright">__unit__</div></bx_if:unit><bx_if:addon>__addonf__</bx_if:addon></a>
        </li>
    </bx_repeat:menu_items>
</ul>
