<div class="__style_prefix__-link bx-def-padding">
	<div class="__style_prefix__-link-input bx-form-input-wrapper bx-form-input-wrapper-text">
		<input id="__html_id_link__" class="bx-def-font-inputs bx-form-input-text" type="text" name="link" value="__link__" />
	</div>
	<div class="__style_prefix__-link-actions bx-def-margin-top bx-clearfix">
		<button class="bx-btn bx-def-margin-thd" type="button" name="clipboard">
			<bx_text:_bx_invites_btn_copy />
		</button>
		<button class="bx-btn bx-def-margin-thd" type="button" onclick="javascript:$('.bx-popup-applied:visible').dolPopupHide()">
			<bx_text:_Cancel />
		</button>
	</div>
</div>