<div class="bx-std-product bx-stdp-update" id="bx-std-product-__id__">
	<div class="bx-std-product-cnt bx-def-widget-size-max-height bx-def-margin-sec">
	    <div class="bx-stdp-icon bx-def-widget-size bx-def-round-corners-widget">
	        <a href="javascript:void(0)" onclick="javascript:__js_object__.info('__name__', this)">
	            <bx_if:icon>
					<img class="bx-def-widget-size" src="<bx_icon_url:wi-empty.png />" />
					<i class="sys-icon __icon__"></i>
				</bx_if:icon>
				<bx_if:image><img class="bx-def-widget-size" src="__icon_url__" /></bx_if:image>
	        </a>
	    </div>
	    <div class="bx-stdp-content bx-def-widget-size-min-height bx-def-widget-size-left-indent bx-def-margin-right">
	        <div class="bx-std-pc-title bx-def-margin-sec-top bx-def-font-large">
	            <a href="javascript:void(0)" onclick="javascript:__js_object__.info('__name__', this)">__title__</a>
	        </div>
	        <div class="bx-std-pc-vendor bx-def-margin-thd-top bx-def-font-small">__vendor__ &bull; <span class="bx-std-pc-versions">__versions__</span></div>
	        <div class="bx-std-pc-action bx-def-margin-thd-top bx-clearfix">
	        	<bx_if:show_download>
	            	<button class="bx-btn bx-btn-small bx-std-pc-download" type="button" onclick="javascript:__on_click__">__caption__</button>
	            </bx_if:show_download>
	        </div>
	    </div>
    </div>
</div>