<div class="bx-base-text-attachments bx-market-attachments flex flex-wrap">
    <bx_repeat:attachments>
        <bx_if:show_separator>
            <div class="bx-market-attachment-separator bx-base-text-attachment bx-market-attachment w-full pl-2 box-border"><div class="text-xl pt-4"> __type__</div></div>
        </bx_if:show_separator>
        <div class="bx-base-text-attachment bx-market-attachment __class__ inline-block w-1/4 min-w-48">
            <div class="bx-base-text-attachment-cnt bx-def-box bx-def-color-bg-box bx-def-round-corners relative m-2">
                <bx_if:main>
                    <div class="bx-market-a-main absolute top-1 right-2 text-2xl">
                        <i class="sys-icon check col-green3" title="<bx_text_attribute:_bx_market_txt_most_current_version />"></i>
                    </div>
                </bx_if:main>
                <bx_if:image>
                    <a target="_blank" href="javascript:void(0);" title="__attr_file_name__" onclick="$('#__popup_id__').dolPopupImage('__url_original__', $(this).parent())">
                        <img class="bx-def-gal-img-size" src="__url_preview__" />
                    </a>
                    __popup__
                </bx_if:image>
                <bx_if:video>
                    __video__
                </bx_if:video>
                <bx_if:not_image>
                    <div class="bx-market-a-text p-4">
                        <div class="bx-market-at-row flex items-center">
                            <i class="sys-icon far file-archive sys-colored block mr-2 text-4xl"></i>
                            <div class="bx-market-attachment-text overflow-hidden">
                                <bx_if:show_version>
                                    <div class="text-xl"> __file_version__</div>
                                </bx_if:show_version>
                                <bx_if:show_update>
                                    <div class="text-xl">__file_version_from_to__</div>
                                </bx_if:show_update>
                                <div class="bx-market-attachment-info bx-def-font-small bx-def-font-grayed truncate">__file_type__ &bull; <span title="__file_name_attr__">__file_name__</span></div>
                            </div>
                        </div>
                        <div class="bx-market-at-row mt-2">
                            <a target="_blank" href="__url_original__" title="__attr_file_name__" class="bx-btn bx-btn-primary bx-btn-small"><bx_text_attribute:_bx_market_menu_item_title_download /></a>
                        </div>
                    </div>
                </bx_if:not_image>
            </div>
        </div>
    </bx_repeat:attachments>
</div>