<div class="bx-menu-toolbar-padding">
    <div class="bx-base-pofile-cover-wrapper __class__ bx-def-centered bx-def-padding-leftright bx-def-page-width bx-def-box-sizing">
        <div class="bx-base-pofile-cover bx-def-cover-color-bg bx-def-box-sizing">
            <div class="bx-base-pofile-cover-image">
                <a class="bx-base-pofile-cover-image bx-def-box-sizing" href="__cover_href__" onclick="$('#__cover_popup_id__').dolPopupImage('__cover_url__', this)">
                    <img class="bx-base-pofile-cover-image" style="background-image:url(__cover_url__)" src="<bx_icon_url:spacer.gif />"/>
                </a>
                <div class="bx-cover-gradient"></div>
            </div>
            <div class="bx-base-pofile-cover-info">
                <div class="bx-base-pofile-ci-cnt bx-def-padding-leftright">
                    <bx_if:show_avatar>
                        <div class="bx-base-pofile-cover-thumb">
                            <a class="bx-base-pofile-cover-thumb" href="__picture_href__" onclick="$('#__picture_popup_id__').dolPopupImage('__picture_url__', $(this).parent()); event.stopPropagation();">
                                <bx_if:show_ava_image>
                                    <img class="bx-base-pofile-unit-thumb bx-def-ava-big bx-def-ava-big-size" src="__ava_url__" />
                                </bx_if:show_ava_image>
                                <bx_if:show_ava_letter>
                                    <p class="bx-base-pofile-unit-thumb bx-def-ava-big bx-def-ava-big-size bx-def-border" style="background-color:rgba(__color__)">__letter__</p>
                                </bx_if:show_ava_letter>
                            </a>
                            <bx_if:show_online>
                                <div class="bx-base-pofile-unit-online"></div>
                            </bx_if:show_online>
                        </div>
                    </bx_if:show_avatar>
                    <div class="bx-base-pofile-cover-user bx-def-margin-sec-topbottom">
                        <div class="bx-base-profile-cover-title-bages">
							<h1 class="bx-def-unit-info">__title__ </h1>
							<div class="bx-base-profile-cover-bages bx-base-bages-container">
								__badges__
							</div>
						</div>
                        <div class="bx-base-pofile-cover-actions bx-def-margin-sec-leftright-neg" onclick="event.stopPropagation();">__action_menu__</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    __cover_popup__
    __picture_popup__
</div>
<script>
    setTimeout(function () {
        var sPath = '.bx-base-pofile-cover-wrapper .bx-base-pofile-unit-thumb';
        if ($(sPath).length) {
            var body = $("html, body");
            if (body.scrollTop() == 0) {
                body.animate({ scrollTop: $(sPath).offset().top + "px" }, 'slow');
            }
        }
    }, 500);
</script>