
@import url(../../../general/template/css/main.css);

/* browse unit */

.bx-base-pofile-unit {
    width:184px;
    width:11.5rem;
    float:left;
}

.bx-base-pofile-unit-wo-info {
	position: relateive;
	display: block;
}

.bx-base-pofile-unit div {
    width:136px;
    width:8.5rem;
}

.bx-search-result-block {
    text-align:center;
}

/* browse unit with cover */

.bx-base-pofile-unit-cover {
    display:block;

    height:7.5rem;

    line-height:7.5rem;
    text-align:center;

    background-repeat:no-repeat;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.bx-base-pofile-unit-cover img {
    background-color:#fff;
    vertical-align:middle;
}

.bx-base-pofile-unit-info,
.bx-base-pofile-unit-title {
    width:17.5rem;
}

.bx-base-pofile-unit-with-cover {
    display:inline-block;
    overflow:hidden;
}

.bx-layout-column-thin .bx-base-pofile-unit-with-cover {
    margin-left:0;
    margin-right:0;
}

.bx-base-pofile-unit-title {
    text-align:center;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.bx-base-pofile-unit-info-members {
    float:left;
    line-height:1.5rem;
    vertical-align:middle;
}

.bx-base-pofile-unit-info-btn {
    float:right;
}

/* profile cover */

.bx-base-pofile-menu {
    text-align:center;
}

.bx-base-pofile-cover {
    position:relative;
    min-height:10rem;
}

a.bx-base-pofile-cover-image:hover,
.bx-base-pofile-cover-image {
    position:absolute;
    width:100%;
    height:100%;
    text-decoration:none;

    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bx-base-pofile-cover-info-container {
    position:relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    min-height: 40vh;

    cursor:pointer; 
    cursor:hand;
}

.bx-base-pofile-cover-info {
	width: 100%;
    text-align:center;
}
.bx-base-pofile-cover-info .bx-def-ava,
.bx-base-pofile-cover-info h1,
.bx-base-pofile-cover-info .bx-base-pofile-cover-actions {
    display:block;
    text-align:center;
}
.bx-base-pofile-cover-info .bx-def-ava,
.bx-base-pofile-cover-info .bx-base-pofile-cover-actions {
    display:inline-block;
}

.bx-base-pofile-cover-actions ul li:last-child a {
    margin-right:0;
}

.bx-base-pofile-cover-info img {
    border:2px solid #fff;
    border:0.15rem solid #fff;
}

.bx-base-pofile-cover-info h1.bx-def-unit-info {
    padding:0;
    text-shadow: 0px 0px 0.125rem #000;
    line-height:normal;
}

.bx-base-pofile-popup-wrapper {
    position:relative;
}

.bx-base-pofile-popup-btn {
    position:absolute;
    top:0;
    right:0;
}

/* view page */
.bx-base-profile-entity-content,
.bx-base-profile-entity-content p {
    overflow: hidden;
    text-overflow: ellipsis;
}
