/* browse unit */
.bx-base-pofile-unit {
    width:184px;
    width:11.5rem;
    float:left;
}

.bx-base-pofile-unit-wo-info {
    position: relative;
    display: block;
}

.bx-base-pofile-unit .bx-def-unit-img,
.bx-base-pofile-unit-wo-info .bx-def-unit-img,
.bx-base-pofile-unit-with-cover .bx-def-unit-img {
    position: relative;
    overflow: visible;
}

.bx-def-unit-img .bx-base-pofile-unit-thumb {
    background: rgba(255, 255, 255, 1.0);
    background-clip: padding-box;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 1.0);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/* Badges in unit */
.bx-base-pofile-unit div.bx-badges-list {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    padding-top: 0.25rem;
}
.bx-base-pofile-unit div.bx-badges-list div.bx-badge:first-child {
    margin-left: 0;
}

/* browse unit extended */
.bx-base-pofile-units-wrapper.bx-base-puw-extended {
    display: block;
    margin: 0;
}

.bx-base-pofile-unit-ext h2,
.bx-base-pofile-unit-ext h1 {
    margin: 0;
}

.bx-base-pofile-unit-ext .sys-icon {
    vertical-align: middle;
}

.bx-base-pofile-unit-ext .bx-base-pofile-unit-cover {
    position: relative;
    height: auto;
}

.bx-base-pofile-unit-ext .bx-base-pofile-unit-cover img {
    position: relative;
    display: block;

    width: 100%;
    height: 300px;
    object-fit: cover;
}

.bx-base-pofile-unit-ext .bx-base-pofile-unit-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.bx-base-pofile-unit-ext .bx-base-pofile-unit-title,
.bx-base-pofile-unit-ext .bx-base-pofile-unit-summary {
    overflow: hidden;
    text-overflow: ellipsis;
}

.bx-base-pofile-unit-ext .bx-base-pofile-unit-title{
    justify-content: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.bx-base-pofile-unit-ext .bx-base-pofile-unit-summary p {
    margin: 0;
}

.bx-base-pofile-unit-ext .bx-base-pofile-unit-info {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

/* browse unit with cover */
.bx-base-pofile-unit-cover {
    height: 10.0rem;

    background-repeat:no-repeat;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.bx-base-pofile-unit-with-cover .sys-author ul.bx-menu-custom.bx-menu-custom-hor,
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

img.bx-base-pofile-unit-thumb {
    display: block;

    background-color: #ffffff;
}

p.bx-base-pofile-unit-thumb {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;

    margin: 0px;

    font-size: 30px;
    font-size: 1.875rem;
    font-weight: 700;
    color: #ffffff;
}
p.bx-base-pofile-unit-thumb.bx-def-icon-size {
    font-size: 20px;
    font-size: 1.25rem;
}
p.bx-base-pofile-unit-thumb.bx-def-ava-size {
    font-size: 48px;
    font-size: 3.0rem;
    font-weight: 700;
}
.bx-base-pofile-unit-online {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 10px;
    height: 10px;
    box-shadow: inset 0px 0px 0px 1px #ffffff;
    border-radius: 10px;
    background-color: #7ed321;
}
.bx-base-pofile-unit-with-cover {
    display:inline-block;
    overflow:hidden;
}
.bx-base-pofile-unit-with-cover .bx-base-pofile-unit-cnt {
    height: 100%;
}
.bx-base-pofile-unit-with-cover .bx-base-pofile-unit-online {
    right: 9px;
    bottom: 9px;
}

.bx-layout-column-thin .bx-base-pofile-unit-with-cover {
    margin-left:0;
    margin-right:0;
}

.bx-base-pofile-unit-title {
    display: -webkit-flex;
    display: flex; 
    -webkit-justify-content:center;
    justify-content:center;
    
    text-align:center;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.bx-base-pofile-unit-title > a {
    text-overflow: ellipsis;
    overflow: hidden;
}

.bx-base-pofile-unit-info-members {
    float:left;
    line-height:1.5rem;
    vertical-align:middle;
}

.bx-base-pofile-unit-info-btn {
    float:right;
}


/* --- Profile Cover --- */
.bx-base-pofile-cover-wrapper.bx-no-cover div.bx-base-pofile-cover-thumb {
    height: auto;
    margin: 1rem 0 0 0;
}
.bx-base-pofile-cover-wrapper.bx-clickable .bx-base-pofile-cover {
    cursor: pointer;
}

.bx-media-phone .bx-base-pofile-cover-wrapper {
    padding-left: 0;
    padding-right: 0;
}
.bx-base-pofile-cover {
    position: relative;
    min-height: 10rem;
}
.bx-media-phone .bx-base-pofile-cover {
    border-left-width: 0;
    border-right-width: 0;
}
.bx-db-content  .bx-base-pofile-cover {
    border-width: 0;
}
div.bx-base-pofile-cover-image {
    position: relative;
    max-width: 100%;
    height: 31rem;
}
.bx-media-phone div.bx-base-pofile-cover-image {
    height: 14rem;
}
.bx-media-tablet div.bx-base-pofile-cover-image {
    height: 24rem;
}
a.bx-base-pofile-cover-image,
p.bx-base-pofile-cover-image,
a.bx-base-pofile-cover-image:hover {
    position:absolute;
    width:100%;
    height:100%;
    text-decoration:none;

    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p.bx-base-pofile-cover-image img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bx-base-pofile-cover-info {
    position: relative;
    width: 100%;
}
.bx-base-pofile-ci-cnt {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.bx-media-phone .bx-base-pofile-ci-cnt {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}

div.bx-base-pofile-cover-thumb {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    height: 7.0rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.bx-media-phone div.bx-base-pofile-cover-thumb {
    margin-right: 0;
    margin-bottom: 0;
}
div.bx-base-pofile-cover-thumb .bx-base-pofile-unit-online {
    width: 16px;
    height: 16px;
    right: 25px;
    bottom: 25px;

    border-radius: 16px;
}
a.bx-base-pofile-cover-thumb,
a.bx-base-pofile-cover-thumb img {
    position: relative;
    display: block;
}
a.bx-base-pofile-cover-thumb img {
    background-color: #fff;
}

a.bx-base-pofile-cover-thumb p.bx-base-pofile-unit-thumb,
a.bx-base-pofile-cover-thumb img.bx-base-pofile-unit-thumb {
    background-color: rgba(255, 255, 255, 1.0);
    background-clip: padding-box;
    border: 5px solid rgba(255, 255, 255, 1.0);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}
a.bx-base-pofile-cover-thumb p.bx-base-pofile-unit-thumb.bx-def-ava-big-size {
    font-size: 5.0rem;
}

.bx-base-pofile-cover-user {
    -webkit-flex: 2 1 auto; 
    -ms-flex:  2 1 auto; 
    flex: 2 1 auto;

    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-self: center;
    align-self: center;

    height: 100%;
}

.bx-base-pofile-cover-user h1.bx-def-unit-info {
    position: relative;
    display: block;

    margin: 0;
    padding: 0;

    line-height:normal;
    text-align: center;
    text-shadow: none;
    font-size: 1.5rem;
    font-weight: 800;
}
.bx-media-tablet .bx-base-pofile-cover-user h1.bx-def-unit-info,
.bx-media-desktop .bx-base-pofile-cover-user h1.bx-def-unit-info {
    text-align: left;
}

.bx-base-profile-cover-meta .bx-menu-custom.bx-menu-custom-hor {
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bx-base-profile-cover-meta .bx-menu-custom.bx-menu-custom-hor li {
    margin-right: 1.25rem;
}
.bx-base-profile-cover-meta .bx-menu-custom.bx-menu-custom-hor li:last-child {
    margin-right: 0;
}
.bx-base-profile-cover-meta .bx-menu-custom.bx-menu-custom-hor li .sys-meta-div {
    display: none;
}
.bx-base-profile-cover-meta .bx-menu-custom.bx-menu-custom-hor li .sys-meta-item {
    margin-right: 0;
}


.bx-base-pofile-cover-actions {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    min-width: 3rem;
    width: 100%;
    height: 3.625rem;
}

.bx-base-pofile-cover-actions div.bx-base-general-entity-actions {
    position: absolute;
    width: 100%;
}

.bx-base-profile-view .bx-menu-main-bar {
    overflow: visible;
}

.bx-menu-main-bar ul.bx-menu-main-submenu.bx-menu-more-auto,
.bx-base-pofile-cover-actions ul.bx-menu-hor.bx-menu-more-auto {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.bx-menu-main-bar ul.bx-menu-main-submenu.bx-menu-more-auto {
    -webkit-justify-content: center;
    justify-content: center;
}
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item,
.bx-base-pofile-cover-actions .bx-menu-custom-hor li.bx-menu-item {
    white-space: nowrap;
}

.bx-base-pofile-cover-actions .cmt,
.bx-base-pofile-cover-actions .bx-view,
.bx-base-pofile-cover-actions .bx-vote,
.bx-base-pofile-cover-actions .bx-score,
.bx-base-pofile-cover-actions .bx-favorite,
.bx-base-pofile-cover-actions .bx-feature,
.bx-base-pofile-cover-actions .bx-report,
.bx-base-pofile-cover-actions .bx-tl-repost,
.bx-base-pofile-cover-actions .bx-menu-btns-hor.bx-menu-object-sys_social_sharing,
.bx-base-pofile-cover-actions .bx-base-general-entity-action {
    position: relative;
    float: none;
    display: inline-block;
    vertical-align: top;

    margin: 0;
    padding: 0;
}

.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .cmt-element-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .cmt-counter-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-view-element-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-view-counter-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-vote-element-holder, 
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-vote-counter-holder, 
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-score-element-holder, 
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-score-counter-holder, 
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-favorite-element-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-favorite-counter-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-report-element-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-report-counter-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-tl-repost-element-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-tl-repost-counter-holder {
    float: none;
    display: inline-block;
    vertical-align: top;
}

.bx-base-pofile-popup-wrapper {
    position:relative;
}

.bx-base-pofile-popup-btn {
    position:absolute;
    top:0;
    right:0;
}

/* Cover block */
.bx-base-profile-cover-block-wrapper .bx-base-pofile-cover-image{
    max-height: 15rem;
}
.bx-base-profile-cover-block-wrapper .bx-base-pofile-ci-cnt{
    -webkit-justify-content: center;
    justify-content: center;
}
.bx-base-profile-cover-block-wrapper .bx-base-profile-cover-title-bages {
    -webkit-align-self: center;
    align-self: center;

    -webkit-flex-direction: column;
    flex-direction: column;
}
.bx-base-profile-cover-block-wrapper .bx-menu-custom.bx-menu-custom-hor{
    -webkit-justify-content: center;
    justify-content: center;
}
.bx-base-profile-cover-block-wrapper div.bx-base-pofile-cover{
    border-bottom-width: inherit
}

/* flexbox */
.bx-base-pofile-units-wrapper:not(.bx-base-unit-showcase-wrapper) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /* makes all items on a row equal height */
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    /* wrap onto the next line rather than stretching or shrinking */
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    /* tells flexbox to start items from the left */
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    plex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.bx-base-pofile-units-wrapper.bx-base-puw-gallery-wo-info {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.bx-base-pofile-units-wrapper.bx-base-puw-gallery-wo-info:before,
.bx-base-pofile-units-wrapper.bx-base-puw-gallery-wo-info:after {
    display: none;
}

.bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-box-flex: 0;

    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;

    overflow:hidden;
}

/* showcase view */
.bx-base-unit-showcase-wrapper .bx-base-unit-showcase {
	white-space: normal;
}
.bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(100%);
}
.bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    display: inline-block;
    vertical-align: top;

    width: calc(16.6%);
}
.bx-base-unit-showcase-wrapper.bx-base-puw-showcase-wo-info.flickity-enabled {
    padding-left: 2rem;
    padding-right: 2rem;
}
.bx-base-unit-showcase-wrapper.bx-base-puw-showcase-wo-info.flickity-enabled .flickity-button.previous {
    left: 0;
}
.bx-base-unit-showcase-wrapper.bx-base-puw-showcase-wo-info.flickity-enabled .flickity-button.next {
    right: 0;
}
.bx-base-unit-showcase-wrapper.bx-base-puw-showcase-wo-info.flickity-enabled .bx-base-pofile-unit-wo-info .bx-def-unit-img {
    margin-left: auto;
    margin-right: auto;
}


/* MEDIA: tablet2 */

.bx-media-tablet2 .bx-layout-column-wide .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover,
.bx-media-tablet2 #sys_search_results .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover,
.bx-media-tablet2 .bx-layout-column-fullwidth .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-flex: 0 0 49.8%;
    -ms-flex: 0 0 49.8%;
    flex: 0 0 49.8%;
}

.bx-media-tablet2 .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(50%);
}
.bx-media-tablet2 .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(100%);
}

.bx-media-tablet2 .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(10.0%);
}
.bx-media-tablet2 .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(16.6%);
}

/* MEDIA: desktop */

.bx-media-desktop .bx-layout-column-wide .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-flex: 0 0 49.8%;
    -ms-flex: 0 0 49.8%;
    flex: 0 0 49.8%;
}
.bx-media-desktop #sys_search_results .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover,
.bx-media-desktop .bx-layout-column-fullwidth .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-flex: 0 0 33.25%;
    -ms-flex: 0 0 33.25%;
    flex: 0 0 33.25%;
}

.bx-media-desktop .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(33.3%);
}
.bx-media-desktop .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(100%);
}
.bx-media-desktop .bx-layout-column-half .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(50%);
}

.bx-media-desktop .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(6.25%);
}
.bx-media-desktop .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(25.0%);
}
.bx-media-desktop .bx-layout-column-half .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(10.0%);
}

/* view page */
.bx-base-profile-entity-content.bx-def-vanilla-html {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.bx-base-profile-entity-content,
.bx-base-profile-entity-content p {
    overflow: hidden;
    text-overflow: ellipsis;
}