
@import url(../../../general/template/css/main.css);

/* browse unit */

.bx-base-pofile-unit {
    width:184px;
    width:11.5rem;
    float:left;
}

.bx-base-pofile-unit-wo-info {
	position: relative;
	display: block;
}

.bx-search-result-block {
    text-align:center;
}

.bx-base-pofile-unit .bx-def-unit-img,
.bx-base-pofile-unit-wo-info .bx-def-unit-img,
.bx-base-pofile-unit-with-cover .bx-def-unit-img {
	position: relative;
	overflow: visible;
}

/* unit meta */
.sys-author ul.bx-menu-custom li .bx-base-profile-unit-meta-item,
.bx-base-general-unit-meta ul.bx-menu-custom li .bx-base-profile-unit-meta-item {
	height: 1.625rem;
	padding-left: 0.5rem;

	line-height: 1.625rem;	
}

.sys-author ul.bx-menu-custom li:first-child .bx-base-profile-unit-meta-item,
.bx-base-general-unit-meta ul.bx-menu-custom li:first-child .bx-base-profile-unit-meta-item {
    padding-left: 0px;
}

/* browse unit with cover */

.bx-base-pofile-unit-cover {
    display:block;

    height:7.5rem;

    line-height:7.5rem;
    text-align:center;

    background-repeat:no-repeat;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

img.bx-base-pofile-unit-thumb {
	display: block;

    background-color: #fff;
}

p.bx-base-pofile-unit-thumb,
p.bx-base-pofile-unit-ava {
	display: block;
    margin: 0px;

	line-height: 46px;
    line-height: 2.9rem;

	font-size: 32px;
	font-size: 2.0rem;
	font-weight: 700;
	color: #ffffff;
}
p.bx-base-pofile-unit-ava {
    line-height: 94px;
    line-height: 5.9rem;

    text-align: center;
    font-size: 48px;
    font-size: 3.0rem;
    font-weight: 700;
}
.bx-base-pofile-unit-online {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0.625rem;
	height: 0.625rem;
	border: 1px solid #ffffff;
	border-radius: 0.625rem;
	background-color: #7ed321;
}
.bx-base-pofile-unit-with-cover {
    display:inline-block;
    overflow:hidden;
}
.bx-base-pofile-unit-with-cover .bx-def-unit-img,
.bx-base-pofile-unit-with-cover .bx-base-pofile-unit-thumb,
.bx-base-pofile-unit-with-cover .bx-base-pofile-unit-ava {
	display: inline-block;
	vertical-align: middle;
}

.bx-layout-column-thin .bx-base-pofile-unit-with-cover {
    margin-left:0;
    margin-right:0;
}

.bx-base-pofile-unit-title {
    text-align:center;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.bx-base-pofile-unit-info-members {
    float:left;
    line-height:1.5rem;
    vertical-align:middle;
}

.bx-base-pofile-unit-info-btn {
    float:right;
}


/* --- Profile Cover --- */
.bx-base-pofile-cover {
    position:relative;
    min-height:10rem;
}

a.bx-base-pofile-cover-image:hover,
.bx-base-pofile-cover-image {
    position:absolute;
    width:100%;
    height:100%;
    text-decoration:none;

    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bx-base-pofile-cover-info-container {
    position:relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    min-height: 40vh;

    cursor:pointer; 
    cursor:hand;	
}

.bx-base-pofile-cover-info {
    position: relative;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    width: 100%;

    background-color: rgba(255, 255, 255, 1.0);
}

.bx-base-pofile-cover-user {
    -webkit-flex: 0 3 auto; 
    -ms-flex:  0 3 auto; 
    flex: 0 3 auto;

    position: relative;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    height: 100%;
}
.bx-base-pofile-cover-user div.bx-def-unit-image {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    height: 4rem;
}
.bx-base-pofile-cover-user a.bx-def-unit-image,
.bx-base-pofile-cover-user a.bx-def-unit-image img {
    position: relative;
    display: block;
}

.bx-base-pofile-cover-user a.bx-def-unit-image img {
    border:2px solid #fff;
    border:0.15rem solid #fff;
    background-color: #fff;
}

.bx-base-pofile-cover-user h1.bx-def-unit-info {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 1rem;

    line-height:normal;
    text-align: left;
    text-shadow: none;
    font-size: 1.5rem;
    font-weight: 800;
    color: rgba(29,75,96,1);
}

.bx-base-pofile-cover-actions {
    position: relative;

    -webkit-flex: 1 1 auto; 
    -ms-flex:  1 1 auto; 
    flex: 1 1 auto;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    height: 4rem;
    max-width: 50%;
}

.bx-base-pofile-cover-actions div.bx-base-general-entity-actions {
    position: relative;
    width: 100%;
}

.bx-base-pofile-cover-actions ul.bx-menu-hor.bx-menu-more-auto {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item {
    white-space: nowrap;
}

.bx-base-pofile-cover-actions .cmt,
.bx-base-pofile-cover-actions .bx-view,
.bx-base-pofile-cover-actions .bx-vote,
.bx-base-pofile-cover-actions .bx-score,
.bx-base-pofile-cover-actions .bx-favorite,
.bx-base-pofile-cover-actions .bx-feature,
.bx-base-pofile-cover-actions .bx-report,
.bx-base-pofile-cover-actions .bx-tl-repost,
.bx-base-pofile-cover-actions .bx-menu-btns-hor.bx-menu-object-sys_social_sharing,
.bx-base-pofile-cover-actions .bx-base-general-entity-action {
    position: relative;
    float: none;
    display: inline-block;
    vertical-align: top;

    margin: 0;
    padding: 0;
}

.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .cmt-element-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .cmt-counter-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-view-element-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-view-counter-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-vote-element-holder, 
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-vote-counter-holder, 
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-score-element-holder, 
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-score-counter-holder, 
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-favorite-element-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-favorite-counter-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-report-element-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-report-counter-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-tl-repost-element-holder,
.bx-base-pofile-cover-actions .bx-menu-hor li.bx-menu-item .bx-tl-repost-counter-holder {
    float: none;
    display: inline-block;
    vertical-align: top;
}

.bx-base-pofile-popup-wrapper {
    position:relative;
}

.bx-base-pofile-popup-btn {
    position:absolute;
    top:0;
    right:0;
}

/* flexbox */
.bx-base-pofile-units-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /* makes all items on a row equal height */
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    /* wrap onto the next line rather than stretching or shrinking */
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    /* tells flexbox to start items from the left */
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    plex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-box-flex: 0;

    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;

    overflow:hidden;
}

/* showcase view */
.bx-base-unit-showcase-wrapper {
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
.bx-base-unit-showcase-wrapper .bx-base-unit-showcase {
	white-space: normal;
}
.bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(100%);
}
.bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
	display: inline-block;
	vertical-align: top;

    width: calc(16.6%);
}

/* MEDIA: tablet2 */

.bx-media-tablet2 .bx-layout-column-wide .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover,
.bx-media-tablet2 #sys_search_results .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover,
.bx-media-tablet2 .bx-layout-column-fullwidth .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-flex: 0 0 49.8%;
    -ms-flex: 0 0 49.8%;
    flex: 0 0 49.8%;
}

.bx-media-tablet2 .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(50%);
}
.bx-media-tablet2 .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(100%);
}

.bx-media-tablet2 .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(10.0%);
}
.bx-media-tablet2 .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(16.6%);
}

/* MEDIA: desktop */

.bx-media-desktop .bx-layout-column-wide .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-flex: 0 0 49.8%;
    -ms-flex: 0 0 49.8%;
    flex: 0 0 49.8%;
}
.bx-media-desktop #sys_search_results .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover,
.bx-media-desktop .bx-layout-column-fullwidth .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-flex: 0 0 33.25%;
    -ms-flex: 0 0 33.25%;
    flex: 0 0 33.25%;
}

.bx-media-desktop .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(33.3%);
}
.bx-media-desktop .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(100%);
}
.bx-media-desktop .bx-layout-column-half .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(50%);
}

.bx-media-desktop .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(6.25%);
}
.bx-media-desktop .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(25.0%);
}
.bx-media-desktop .bx-layout-column-half .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(10.0%);
}



/* view page */
.bx-base-profile-entity-content,
.bx-base-profile-entity-content p {
    overflow: hidden;
    text-overflow: ellipsis;
}
