/*--- Units ---*/
.bx-base-pofile-units-wrapper:not(.bx-base-unit-showcase-wrapper) {
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: stretch;
    align-items: stretch;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;

    overflow: hidden;
}
.bx-base-unit-showcase-wrapper.bx-sc-enabled .bx-base-pofile-unit-with-cover {
    height: 100%;
}

.bx-base-pofile-unit-with-cover .bx-base-pofile-unit-online {
    right: 0.5rem;
    bottom: 0.5rem;
}
.bx-base-pofile-cover-thumb .bx-base-pofile-unit-online {
    width: 1rem;
    height: 1rem;
    right: 1.25rem;
    bottom: 1.25rem;
}

/*--- Units: Showcase view ---*/
.bx-base-unit-showcase-wrapper {
    text-align: center;
}

.bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    display: inline-block;
    vertical-align: top;
}

/*+++ MEDIA: tablet2 +++*/
.bx-media-tablet2 .bx-layout-column-wide .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover,
.bx-media-tablet2 #sys_search_results .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover,
.bx-media-tablet2 .bx-layout-column-fullwidth .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-flex: 0 0 49.8%;
    -ms-flex: 0 0 49.8%;
    flex: 0 0 49.8%;
}

.bx-media-tablet2 .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(50%);
}
.bx-media-tablet2 .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(100%);
}

.bx-media-tablet2 .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(10.0%);
}
.bx-media-tablet2 .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(16.6%);
}

/*+++ MEDIA: desktop +++*/
.bx-media-desktop .bx-layout-column-wide .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-flex: 0 0 49.8%;
    -ms-flex: 0 0 49.8%;
    flex: 0 0 49.8%;
}
.bx-media-desktop #sys_search_results .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover,
.bx-media-desktop .bx-layout-column-fullwidth .bx-base-pofile-units-wrapper .bx-base-pofile-unit-with-cover {
    -webkit-flex: 0 0 33.25%;
    -ms-flex: 0 0 33.25%;
    flex: 0 0 33.25%;
}

.bx-media-desktop .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(33.3%);
}
.bx-media-desktop .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(100%);
}
.bx-media-desktop .bx-layout-column-half .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-showcase {
    width:calc(50%);
}

.bx-media-desktop .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(6.25%);
}
.bx-media-desktop .bx-layout-column-thin .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(25.0%);
}
.bx-media-desktop .bx-layout-column-half .bx-base-unit-showcase-wrapper .bx-base-pofile-unit-wo-info-showcase {
    width:calc(10.0%);
}


/*--- Unit ---*/
p.bx-base-pofile-unit-thumb.bx-def-icon-size {
    font-size: 1.125rem;
}
p.bx-base-pofile-unit-thumb.bx-def-thumb-size {
    font-size: 1.75rem;
}
p.bx-base-pofile-unit-thumb.bx-def-ava-size {
    font-size: 2.375rem;
}
p.bx-base-pofile-unit-thumb.bx-def-ava-big-size {
    font-size: 3rem;
}


/*--- Unit Meta ---*/
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    width: 100%;
}
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor > li {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0 0.25rem;
}
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor > li.bx-menu-item-nl {
    margin: 0;
}
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor .bx-menu-item-nl ~ li {
    margin-top: 0.5rem;
}
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor .bx-menu-item-nl ~ li .bx-base-profile-unit-meta-item {
    display: block;
    width: 100%;
}
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor .bx-menu-item-nl ~ li .bx-base-profile-unit-meta-item .bx-btn {
    display: block;
}
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor .bx-menu-item-nl ~ li .bx-base-profile-unit-meta-item {
    padding: 0;
}
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor .bx-menu-item-nl ~ li .bx-base-profile-unit-meta-item .bx-btn {
    text-align: center;
}
.bx-base-pofile-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom.bx-menu-custom-hor .bx-base-pofile-unit .bx-def-icon-size {
    width: 1.5rem;
    height: 1.5rem;
}


/*--- Entry: Profile Cover ---*/
.bx-base-pofile-cover-wrapper.bx-no-cover .bx-base-pofile-cover-info {
    padding-top: 1rem;
}
.bx-base-pofile-cover-wrapper.bx-no-cover .bx-base-pofile-ci-cnt {
    margin-top: 0;
}
.bx-base-pofile-cover-wrapper.bx-clickable .bx-base-pofile-cover {
    cursor: pointer;
}
.bx-base-profile-cover-meta .bx-menu-custom.bx-menu-custom-hor {
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bx-base-profile-cover-meta .bx-menu-custom.bx-menu-custom-hor li {
    margin-right: 1.25rem;
}
.bx-base-profile-cover-meta .bx-menu-custom.bx-menu-custom-hor li:last-child {
    margin-right: 0;
}
.bx-base-profile-cover-meta .bx-menu-custom.bx-menu-custom-hor li .sys-meta-div {
    display: none;
}
.bx-base-profile-cover-meta .bx-menu-custom.bx-menu-custom-hor li .bx-base-bages-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

/*--- Entry: Profile Actions ---*/
div.bx-base-general-entity-actions {
    position: relative;
    width: 100%;
}
.bx-base-pofile-cover-actions div.bx-base-general-entity-actions {
    position: absolute;
}
.bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor {
    -webkit-justify-content: center;
    justify-content: center;
}
.bx-media-desktop .bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
div.bx-base-general-entity-actions .bx-stl-mil-wo-gaps-sm .sys-action-element-holder > a {
    padding: 0.375rem 0.5rem 0.375rem 0.5rem;
}
div.bx-base-general-entity-actions .bx-popup .bx-stl-mil-wo-gaps-sm .sys-action-element-holder > a {
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}
div.bx-base-general-entity-actions .bx-menu-custom-hor > li .sys-action-element-holder a {
    display: block;
}
div.bx-base-general-entity-actions .bx-menu-custom-hor li.bx-menu-item-more-auto .bx-popup .bx-menu-custom-ver .bx-menu-item {
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
div.bx-base-general-entity-actions .bx-menu-custom-hor li.bx-menu-item-more-auto .bx-popup .bx-menu-custom-ver .bx-menu-item,
div.bx-base-general-entity-actions .bx-menu-custom-hor li.bx-menu-item-more-auto .bx-popup .bx-menu-custom-ver .bx-menu-item .bx-base-general-entity-action,
div.bx-base-general-entity-actions .bx-menu-custom-hor li.bx-menu-item-more-auto .bx-popup .bx-menu-custom-ver .bx-menu-item .sys-action,
div.bx-base-general-entity-actions .bx-menu-custom-hor li.bx-menu-item-more-auto .bx-popup .bx-menu-custom-ver .bx-menu-item .sys-action-cnt,
div.bx-base-general-entity-actions .bx-menu-custom-hor li.bx-menu-item-more-auto .bx-popup .bx-menu-custom-ver .bx-menu-item .sys-action-element-holder {
    width: 100%;
}
div.bx-base-general-entity-actions .bx-menu-custom-hor li.bx-menu-item-more-auto .bx-popup .bx-menu-custom-ver .bx-menu-item a {
    width: 100%;
    box-sizing: border-box;
}
div.bx-base-general-entity-actions .bx-menu-custom-hor li.bx-menu-item-more-auto .bx-popup .bx-menu-custom-ver .bx-menu-item .sys-action-counter-holder:not(.bx-score-counter-holder) {
    margin-right: 1rem;
}

.bx-media-desktop .bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor > .bx-menu-item-more-auto > .bx-base-general-entity-action > a > .bx-mi-text,
.bx-media-tablet .bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor > .bx-menu-item-more-auto > .bx-base-general-entity-action > a > .bx-mi-text {
    display: none;
}
.bx-media-phone .bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor > .bx-menu-item-more-auto > .bx-base-general-entity-action > a > .bx-mi-text {
    display: inline;
}
.bx-media-phone .bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor > li:not(.bx-menu-item-more-auto) a,
.bx-media-phone .bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor > li:not(.bx-menu-item-more-auto) .sys-action-do,
.bx-media-phone .bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor > li.bx-menu-item-more-auto > span > a {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;

    height: auto;
}
.bx-media-phone .bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor > li:not(.bx-menu-item-more-auto) a span,
.bx-media-phone .bx-base-pofile-cover-actions div.bx-base-general-entity-actions .bx-menu-custom-hor > li.bx-menu-item-more-auto > span > a span.bx-mi-text {
    margin: 0;
    padding: 0;
}

/*--- Entry: Profile Cover block ---*/
.bx-base-profile-cover-block-wrapper .bx-base-pofile-cover-actions div.bx-base-general-entity-actions{
    position: relative;
}

/*--- Entry: Profile Description block ---*/
.bx-base-profile-entity-content.bx-def-vanilla-html {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}