<div class="bx-def-unit absolute bx-def-margin-bottom bx-def-margin-sec-right">
    <div class="bx-def-unit-img bx-def-__size__ bx-def-__size__-size">
        <img class="bx-def-__size__ bx-def-__size__-size" src="__thumb_url__" />
    </div>
    <div class="bx-def-unit-info bx-def-__size__-size-min-height bx-def-__size__-size-max-height bx-def-__size__-size-left-indent">
        <div class="bx-def-unit-info-cnt bx-def-box-sizing">
            <div class="bx-def-unit-line bx-def-unit-info-title">__title__</div>
        </div>
    </div>
</div>