<div class="__style_prefix__-il-embed __style_prefix__-il-embed-common bx-def-padding-sec bx-def-border bx-def-round-corners">
    <bx_if:show_thumbnail>
        <div class="__style_prefix__-il-thumbnail"><a href="__link__"__attrs__><img src="__thumbnail__" /></a></div>
    </bx_if:show_thumbnail>
    <div class="__style_prefix__-il-title"><a href="__link__"__attrs__>__content__</a></div>
    <bx_if:show_text>
        <div class="__style_prefix__-il-text bx-def-font-small bx-def-font-grayed">__text__</div>
    </bx_if:show_text>
</div>
