@import url(../../../../../events/template/css/main.css);


/*--- Unit ---*/
.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover a.bx-base-pofile-unit-cover {
	text-align: right;
}
.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover div.bx-def-unit-img {
	display: inline-block;
	vertical-align: middle;
	width: 5.25rem;
	height: 5.25rem;
	margin-right: 1rem;
}
.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover .bx-def-unit-img p.bx-base-pofile-unit-thumb,
.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover .bx-def-unit-img img {
	display: block;	
	width: 5rem;
	height: 5rem;
	border: 0.125rem solid rgba(255,255,255,1);
	border-radius: 0.5rem;
	background-clip: border-box;
	overflow: hidden;
}

.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover .bx-def-unit-img p.bx-base-pofile-unit-thumb {
	line-height: 4.7rem;
	text-align: center;
}

.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover .bx-def-unit-img img {
	background-color: #ffffff;
}

.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover .bx-base-pofile-unit-title {
	text-align: left;
}

.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover .bx-base-pofile-unit-title a {
	font-weight: 800;
	font-size: 1.25rem;
	color: rgba(29, 75, 96, 1.0);
}

.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom {
	display: -webkit-flex;
   	display: flex;
   	-webkit-align-items: center;
   	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}
.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom li {
	-webkit-flex: 0 1 auto; 
	-ms-flex:  0 1 auto; 
	flex:  0 1 auto;
}
.bx-base-pofile-unit-with-cover.bx-events-unit-with-cover .bx-base-general-unit-meta ul.bx-menu-custom li.bx-menu-item-stretcher {
	-webkit-flex-grow: 3;
	flex-grow: 3;
}
