@import url(../../../../../../../template/css/menu.css);

.bx-menu-toolbar-padding {
    padding-top: 0;
}


/*--- Main (Side) Menu ---*/
#bx-sliding-menu-sys_site.bx-sliding-smenu-main ul.bx-menu-object-sys_site {
	display: block;
    white-space: normal;
}
#bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li {
	display: block;
	width: auto;
	height: auto;

	padding: 0.3rem 0.625rem;
}
#bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-icon, 
#bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-title {
    display: inline-block;
    vertical-align: top;
}
#bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-title {
    line-height: 2rem;
}
#bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li img,
#bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .sys-icon {
    width: 2rem;
    height: 2rem;

    margin: 0px;
}
#bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .sys-icon {
	line-height: 2rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
}
#bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li img {
	background-pocition: center center;
	background-repeat: none;
	background-size: 60% 60%;
}

@media (min-width: 720px) and (max-width:1170px) {
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-icon, 
    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-title {
        display: block;
        text-align: center;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .bx-menu-floating-blocks-title {
        padding-left: 0px;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li .sys-icon {
        width: 100%;
        font-size: 1.5rem;
    }

    #bx-sliding-menu-sys_site.bx-sliding-smenu-main .bx-menu-object-sys_site li img {
        margin: 0px auto;
        background-size: 70% 70%;
    }
}

@media (max-width:720px) {
    .cd-main-content .cd-side-nav {
        position:fixed;
        width:100%;
        height: calc(100%);

        overflow-x:hidden;
        overflow-y:auto;

        -webkit-overflow-scrolling:touch;
    }
}


/*--- Account Popup ---*/
@media (min-width:720px) {
	#bx-sliding-menu-account.bx-sliding-menu-main {
		left: auto !important;
		right: 0px !important;
		width: auto !important;
	}
}
#bx-sliding-menu-account.bx-sliding-menu-main.bx-sliding-menu-fullheight {
    height: calc(100% - 4rem);
}
.bx-menu-account-popup .bx-menu-account-popup-profile {
	margin-right: 4rem;
}


/*--- Account Popup Submenu & Add Content Menu ---*/
.bx-menu-account-popup-profile,
.bx-menu-account-popup-menu {
	text-align: left;
}
.bx-menu-account-popup-menu ul.bx-menu-floating-blocks-wide,
.bx-menu-object-sys_account_notifications li,
.bx-menu-object-sys_add_content li {
	display: block;
	width: 100%;
	height: auto;
}
.bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-icon,
.bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-title,
.bx-menu-object-sys_add_content li .bx-menu-floating-blocks-icon,
.bx-menu-object-sys_add_content li .bx-menu-floating-blocks-title {
	display: inline-block;
	vertical-align: top;
}
.bx-menu-object-sys_account_notifications li a,
.bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-title,
.bx-menu-object-sys_add_content li .bx-menu-floating-blocks-title {
	line-height: 2rem;
}
.bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-title,
.bx-menu-object-sys_add_content li .bx-menu-floating-blocks-title {
	padding-right: 0.5rem;
}
.bx-menu-object-sys_account_notifications li img,
.bx-menu-object-sys_account_notifications li .sys-icon,
.bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-icon img,
.bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-icon .sys-icon,
.bx-menu-object-sys_add_content li .bx-menu-floating-blocks-icon img,
.bx-menu-object-sys_add_content li .bx-menu-floating-blocks-icon .sys-icon {
	height: 2rem;
    width: 2rem;

	margin: 0px;	
}
.bx-menu-object-sys_account_notifications li .sys-icon,
.bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-icon .sys-icon,
.bx-menu-object-sys_add_content li .bx-menu-floating-blocks-icon .sys-icon {
    line-height: 2rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
}
.bx-menu-object-sys_account_notifications li img,
.bx-menu-object-sys_account_notifications li .bx-menu-floating-blocks-icon img,
.bx-menu-object-sys_add_content li .bx-menu-floating-blocks-icon img {
	background-pocition: center center;
    background-repeat: none;
    background-size: 60% 60%;
}
.bx-menu-object-sys_account_notifications li .bx-def-unit-alert-middle {
	top: 4px;
	right: 4px;
}
.bx-menu-object-sys_account_notifications li:hover {
    opacity:0.8;
}

/*--- Add Content Menu ---*/
@media (min-width:720px) {
	#bx-sliding-menu-sys_add_content.bx-sliding-menu-main {
	    left: auto !important;
	    right: 0px !important;
	    width: auto !important;
	}
}
#bx-sliding-menu-sys_add_content.bx-sliding-menu-main .bx-menu-object-sys_add_content {
	display: block;
    width: 100%;
}
