
.bx-player-plyr {
    width:100%;
}

.bx-page-iframe .plyr,
.bx-page-iframe .plyr__video-wrapper,
.bx-page-iframe .plyr video {
    width:100vw;
    height:100vh;
}

.bx-tl-item-attachment .bx-player-plyr-wrapper {
    width:100%;
}
