<div class="form_advanced_table simple_messenger_chat_block_tbl">
    <div class="input_wrapper input_wrapper_text simple_messenger_chat_wrapper">
        <div class="field_design">
            <img height="12" width="14" src="<bx_icon_url:message.png />"/>
        </div>
        <input class="form_input_text" type="text" name="status_message" value="__message__" onclick="this.value=''" onkeyup="if ( typeof oSimpleMessenger != 'undefined' ){oSimpleMessenger.sendMessage(event, this, __res_id__)}" />
        <div class="input_close input_close_text"></div>
    </div>
    <div class="clear_both"></div>
</div>