<div id="__id__"></div>
<script>
    var oDefaults = {
        headerToolbar: {
            initialView: 'dayGridMonth',
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridDay,dayGridWeek,dayGridMonth' 
        },
        navLinks: true, // can click day/week names to navigate views
        eventClassNames: function(oParams) {
            if(oParams.view.type != 'dayGridDay' || !oParams.event.extendedProps.class)
                return;

            return oParams.event.extendedProps.class;
        },
        eventContent: function(oParams) {
            if(oParams.view.type != 'dayGridDay' || !oParams.event.extendedProps.card)
                return;

            oParams.event.url = '';
            return {html: oParams.event.extendedProps.card};
        }
    };
    var oOptions = __options__;

    var oBxFullCalendar = null;
    document.addEventListener('DOMContentLoaded', function() {
        oBxFullCalendar = new FullCalendar.Calendar(document.getElementById('__id__'), $.extend({}, oDefaults, oOptions));
        oBxFullCalendar.render();
    });
</script>