<div class="bx-def-unit bx-def-unit-live-search group flex items-center mb-2 last:mb-0">
    <a class="bx-def-box bx-def-box-hor bx-def-box-round-corners bx-def-color-bg-box bx-def-color-bg-box-hover relative items-center w-full p-2 box-border" href="__view_link__">
	<bx_if:show_icon>
            <img class="bx-def-thumb bx-def-thumb-size" src="__author_icon__" />
	</bx_if:show_icon>
	<bx_if:show_icon_empty>
            <div class="bx-def-thumb-size bx-def-unit-img bx-def-round-corners bx-def-color-bg-box"></div>
	</bx_if:show_icon_empty>
	<div class="bx-def-unit-info flex flex-col pl-2">
            <div class="bx-def-ui-title">__text__</div>
            <div class="bx-def-ui-type bx-def-font-meta">__sample__</div>
	</div>
    </a>
</div>