<span class="__class_wrp__ bx-mi-highlight group flex items-center text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:text-gray-100 dark:hover:bg-gray-700 hover:text-gray-900 text-sm font-normal rounded-md">
    <span class="flex justify-between items-center w-full">
        <a class="__class_link__ block p-2" href="__link__" onclick="__onclick__" title="__title_attr__"__attrs__><bx_include_auto:menu_icon.html /><bx_if:title><span class="bx-def-margin-sec-left-auto">__title__</span></bx_if:title></a>
        <bx_if:addon>
            <div class="bx-menu-addon inline-block flex items-center px-2">
                <div class="bx-menu-addon-cnt h-5 px-2 bg-blue-200 text-blue-800 text-xs leading-5 rounded-full">__addon__</div>
            </div>                     
        </bx_if:addon>
    </span>
</span>
