<div class="__style_prefix__-by-list-comments">
    <div class="__style_prefix__-by-items">
        <bx_repeat:list>
            <div class="__style_prefix__-by-item bx-def-padding-sec bx-clearfix bx-form-collapsable bx-form-collapsed">
                <div class="__style_prefix__-bi-info-list">
                    <div class="__style_prefix__-bi-date">__date__</div>
                    <div class="__style_prefix__-bii-type"><bx_text:_report_reported_as /> <span class="bx-def-font-bold">__type__</span></div>
                    <div class="__style_prefix__-bii-author"><bx_text:_report_reported_by /> <a href="__user_url__">__user_name__</a></div>
                    <div class="__style_prefix__-bii-comments"><legend><a href="javascript:void(0)" onclick="$(this).parents('.__style_prefix__-by-item:first').find('.__style_prefix__-comments').toggle()"> __comments_count__</a></legend></div>
                </div>
                <div class="__style_prefix__-text bx-def-font-grayed bx-clearfix">
                    <bx_if:show_text>
                        <p class="bx-report-bii-text">__text__</p>
                    </bx_if:show_text>
                </div>
                <div class="__style_prefix__-comments bx-form-section-content bx-def-padding-sec bx-clearfix">__comments__</div>
            </div>
        </bx_repeat:list>
    </div>
</div>