/*+++ Chart Growth: Controls +++*/
.bx-chart-growth-controls .bx-form-input-datepicker {
	width: 100%;
}

/*+++ Chart Growth: Graph +++*/
.bx-chart-growth-graph {
	position: relative;
	min-height: 9rem;
}

.bx-chart-growth-graph-error {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
    line-height: 9rem;
}

/*--- Chart Stats ---*/
div.bx-chart-stats-items,
div.bx-chart-stats-graph {
	display: inline-block;
	vertical-align: top;
}

/*+++ Chart Stats: Info +++*/
div.bx-chart-stats-items {
	position: relative;
	min-width: 18rem;
}
div.bx-chart-stats-items div.bx-cs-item {
	display: inline-block;
	vertical-align: top;
	width: 33%;
    float:left;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
} 

/*+++ Chart Stats: Graph +++*/
div.bx-chart-stats-graph {
	width: 100%;
	min-width: 18rem;
	max-width: 28rem;
}
html.dark .bx-canvas {
    filter: invert(1) hue-rotate(180deg);
}