<div id="bx-uploader-file-{storage_object}-{file_id}" class="bx-uploader-ghost mt-2 flex items-start">
    <div class="bx-uploader-ghost-cnt">
        <a class="bx-anchor-invisible" name="album-media-{file_id}"></a>
        <input type="hidden" name="__name__" value="{file_id}" />
        <div class="bx-base-general-icon-wrapper">
            <img src="{file_icon}" class="bx-def-round-corners bx-base-general-icon bx-base-general-icon-{file_id}" />
        </div>
        <span class="bx-base-general-uploader-ghost">
            <a class="bx-btn bx-btn-small" href="javascript:void(0);" title="<bx_text:_sys_txt_form_entry_input_picture_delete />" onclick="javascript: {js_instance_name}.deleteGhost('{file_id}');"><i class="sys-icon times"></i></a>
        </span>
    </div>
</div>
