@import url(../../../../../../../studio/template/css/builder_page.css);

div.adm-bp-block {
	background-color: #b9e2f6;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#b9e2f6));
    background-image: -webkit-linear-gradient(top, #fff, #b9e2f6); 
    background-image: -moz-linear-gradient(top, #fff, #b9e2f6); 
    background-image: -ms-linear-gradient(top, #fff, #b9e2f6); 
    background-image: -o-linear-gradient(top, #fff, #b9e2f6); 
    background-image: linear-gradient(top, #fff, #b9e2f6);
}