@import url(../../../../../../../studio/template/css/general.css);

/**
 * Dual Column page
 */
div.bx-std-page-caption {
	background-image: none;
	background: -webkit-linear-gradient(#2aaadc, #0079a9);
	background: -o-linear-gradient(#2aaadc, #0079a9);
	background: -moz-linear-gradient(#2aaadc, #0079a9);
	background: linear-gradient(#2aaadc, #0079a9);
  	border-bottom: 1px solid #4c4c4c;
	box-shadow: 0px 1px 3px #888;
}

/**
 * Page Menu (Left Side)
 */
div.bx-menu-tab-active {
	background-color: #b9e2f6;
}