<div class="bx-dnt-make">
    <div class="bx-dnt-make-cnt">
        <div class="bx-dnt-make-title bx-def-font-h3 text-center"><bx_text:_bx_donations_txt_do_title /></div>
        <bx_if:show_menu>
            <div class="bx-dnt-make-billing-types-menu bx-def-margin-top bx-def-padding-topbottom">__menu_billing_type__</div>
        </bx_if:show_menu>
        <div class="bx-dnt-make-billing-types bx-def-margin-topbottom">
            <bx_repeat:billing_types>
                <div class="bx-dnt-make-billing-type __class__">
                    <bx_repeat:types>
                        <div class="bx-dnt-make-type">
                            <div class="bx-dnt-mt-cnt bx-def-padding">
                                <bx_if:show_title>
                                    <div class="bx-dnt-mt-title bx-def-margin-sec-bottom">__title__</div>
                                </bx_if:show_title>
                                <a class="bx-btn bx-dnt-mt-action" href="javascript:void(0)" onclick="javascript:__onclick__">__amount__</a>
                            </div>
                        </div>
                    </bx_repeat:types>
                </div>
            </bx_repeat:billing_types>
        </div>
        <div class="bx-dnt-make-notes bx-def-padding-top bx-def-font-grayed text-center"><bx_text:_bx_donations_txt_do_notes /></div>
    </div>
</div>
__js_code__