<div id="__html_id__" class="__style_prefix__-item __class__">
	<div class="__style_prefix__-item-ind bx-def-padding-sec">
	    <div class="__style_prefix__-item-cnt bx-def-box bx-def-round-corners __class_content__">
                <div class="__style_prefix__-blink-plate"></div>
                <bx_if:show_note>
                    <bx_repeat:notes>
                        <div class="__style_prefix__-item-note">
                            <div class="__style_prefix__-in-text bx-def-padding-sec-topbottom bx-def-padding-leftright bx-def-font-grayed<bx_if:show_note_color> col-__item_note_color__</bx_if:show_note_color>">__item_note__</div>
                        </div>
                    </bx_repeat:notes>
                    <div class="__style_prefix__-in-divider bx-def-hr"></div>
                </bx_if:show_note>
	    	<div class="__style_prefix__-item-owner bx-def-padding-top bx-def-padding-sec-bottom">
                    <div class="__style_prefix__-item-owner-cnt"> 
	                <div class="__style_prefix__-owner-avatar bx-def-thumb-size">__item_owner_unit__</div>
	                <div class="__style_prefix__-owner-info bx-def-thumb-size-min-height bx-def-thumb-size-left-indent">
	                    <!-- NOTE: Spaces after and between elements in 'owner-name' DIV are needed for better line folding -->
	                    <div class="__style_prefix__-owner-name bx-def-font-middle bx-def-font-grayed">
	                        <a href="__item_owner_url__" class="__style_prefix__-owner-name" title="__item_owner_title__">__item_owner_name__</a> <span> __item_owner_action__ </span> 
	                        <bx_if:show_timeline_owner>
                                    <span> <bx_text:_bx_timeline_txt_to /> </span> 
                                    <span class="__style_prefix__-timeline-owner-name">
                                        <bx_repeat:owners><span class="__style_prefix__-ton-div">, </span><a href="__owner_url__" class="__style_prefix__-ton-item">__owner_username__</a></bx_repeat:owners>
                                    </span>
                                </bx_if:show_timeline_owner>
	                        <bx_if:show_menu_item_meta>
                                    <br /><span class="__style_prefix__-item-meta bx-def-font-grayed">__meta__</span>
                                </bx_if:show_menu_item_meta>
                                <bx_if:show_pinned>
                                    <span class="__style_prefix__-pinned bx-def-margin-thd-left">
                                        <i class="sys-icon thumbtack bx-def-margin-thd-left" title="<bx_text_attribute:_bx_timeline_txt_pinned />"></i>
                                    </span>
                                </bx_if:show_pinned>
                                <bx_if:show_sticked>
                                    <span class="__style_prefix__-sticked bx-def-margin-thd-left">
                                        <i class="sys-icon thumbtack bx-def-margin-thd-left" title="<bx_text_attribute:_bx_timeline_txt_sticked />"></i>
                                    </span>
                                </bx_if:show_sticked>
                                <bx_if:show_hot>
                                    <span class="__style_prefix__-hot bx-def-margin-thd-left">
                                        <i class="sys-icon fire bx-def-margin-thd-left" title="<bx_text_attribute:_bx_timeline_txt_hot />"></i>
                                    </span>
                                </bx_if:show_hot> 
	                    </div>
	                    <bx_if:show_owner_actions>
                                <div class="__style_prefix__-owner-actions  bx-def-margin-left-auto">
                                    <bx_repeat:owner_actions>
                                        <a class="bx-btn bx-btn-small" href="__href__" onclick="__onclick__" title="__title__">__content__</a>
                                    </bx_repeat:owner_actions>
                                </div>
                            </bx_if:show_owner_actions>
	                </div>
                    </div>
                </div>
	    	<div class="__style_prefix__-item-content bx-clearfix">__content__</div>
                <bx_if:show_location>
                    <div class="__style_prefix__-item-location bx-def-margin-leftright bx-def-margin-sec-top bx-def-font-grayed bx-clearfix">__location__</div>
                </bx_if:show_location>
                <bx_if:show_reactions>
                    <div class="__style_prefix__-item-reactions bx-def-margin-leftright bx-def-margin-sec-top">__reactions__</div>
                </bx_if:show_reactions>
                <div class="__style_prefix__-item-footer">
                    <bx_if:show_menu_item_actions>
                        <div class="__style_prefix__-item-activity bx-def-margin-sec-top bx-clearfix">__menu_item_actions__</div>
                    </bx_if:show_menu_item_actions>
                    <div class="__style_prefix__-item-comments-holder">__comments__</div>
                </div>
            </div>
	</div>
</div>