
@import url(../../../../base/text/template/css/main.css);

.bx_files_cover .bx-cover-title {
    margin-top:9rem;
}

.bx-files-text-unit-gallery .bx-base-text-unit-no-thumb {
    position:relative;
}

.bx-files-text-unit-gallery .bx-base-text-unit-no-thumb .sys-icon {
    left:0;
    top:0;
    width:100%;
    position:absolute;
    font-size:8rem; 
    line-height:11.25rem;
    text-align:center;
    overflow:hidden;
}

.bx-files-text-unit .bx-base-text-unit-text {
    position:relative;
}

.bx-files-text-unit .bx-base-text-unit-text .sys-icon {
    position:absolute;
    top:0;
    left:0;
    font-size:3.2rem;
}

.bx-files-text-unit .bx-base-text-unit-text div,
.bx-files-text-unit .bx-base-text-unit-text h2 {
    margin-left:3.5rem;
}
