<div class="bx-base-text-unit bx-base-text-unit-gallery bx-def-gal-unit-size bx-def-padding-sec bx-def-margin-sec-bottom">
	<div class="bx-base-text-unit-cnt bx-def-box bx-def-round-corners bx-def-color-bg-box bx-def-box-sizing">
		<div class="bx-base-text-unit-text bx-def-padding-leftright bx-def-padding-sec-topbottom bx-def-font-align-center bx-def-box-sizing">
			<h2><bx_text:_sys_private /></h2>
		    <div class="bx-base-text-unit-info">
		        <span class="bx-def-font-grayed">__summary__</span>
		    </div>
		</div>
	</div>
</div>
