/*--- Actions Menu ---*/
.bx-menu-object-bx_payment_menu_sbs_actions .bx-loading-ajax-btn {
	vertical-align: middle;
	max-width: 20px;
	max-height: 20px;
}

/*--- View Details ---*/
div.bx-payment-view-details {
    border-top-width: 0px;
}
div.bx-payment-vd-row {
	white-space: nowrap;
}
div.bx-payment-vd-caption,
div.bx-payment-vd-content,
div.bx-payment-vd-items {
    position: relative;
    display: inline-block;
	vertical-align: top;

    overflow: hidden;
}
div.bx-payment-vd-caption {
    width: 40%;
}
div.bx-payment-vd-content {
    width: 60%;
}