<script language="javascript">
    var iToolbarSubmenuTopOffset = -2;

    $(document).ready(function () {
		if (aDolOptions.sys_fixed_header !== undefined && aDolOptions.sys_fixed_header != 'on'){
			// hide toolbar on scrolldown, show - on scroll up
			new Headroom($('#bx-toolbar').get(0), {
				tolerance: {
					down: 10,
					up: 20
				},
				offset: 200,
				classes: {
					initial: "bx-toolbar-anim",
					pinned: "bx-toolbar-reset",
					unpinned: "bx-toolbar-up"
				},
				onUnpin: function() {
					bx_menu_slide_close_all_opened();
				}
			}).init();

			var mq = bx_check_mq();
			if(mq == 'mobile') {
				//process submenu in top menu
				$('.bx-menu-floating-blocks-big:visible > li:has(.bx-sliding-smenu-submenu) > a').bind('click', function() {
					var sActive = 'bx-sliding-smenu-tab-active';
					$(this).parents('.bx-menu-floating-blocks-big:visible:first').find('li.' + sActive).removeClass(sActive);
					$(this).parent('li:first').toggleClass(sActive);

					return false;
				});
			}
		}
    });
</script>
