
<ul class="bx-menu-floating-blocks-big bx-menu-object-__object__ bx-clearfix">
    <bx_repeat:menu_items><li class="bx-def-box-sizing __class_add__">
        <a href="__link__" onclick="__onclick__"__attrs__>
            <div class="bx-menu-floating-blocks-icon">
                <bx_include_auto:menu_icon.html />
            </div><div class="bx-menu-floating-blocks-title">__title__</div>
            <bx_if:show_arrow>
                <div class="bx-menu-floating-blocks-arrow bx-def-padding-sec-left">
                    <i class="sys-icon angle-down inactive"></i>
                    <i class="sys-icon angle-up active"></i>
                </div>
            </bx_if:show_arrow>
        </a>
        <bx_if:show_line>
            <div class="bx-menu-floating-blocks-line"></div>
        </bx_if:show_line>
        <bx_if:show_submenu>
            <div class="bx-sliding-smenu-submenu bx-def-shadow">
                <div class="bx-sliding-sms-cnt bx-def-padding">__content__</div>
            </div>
        </bx_if:show_submenu>
    </li></bx_repeat:menu_items>
</ul>