<div class="bx-menu-main-submenu-wrp">
    <div class="bx-menu-main-submenu-group">
        <ul id="__html_id__" class="bx-menu-main-submenu<bx_if:show_more_auto_class> bx-menu-more-auto</bx_if:show_more_auto_class> bx-menu-object-__object__ bx-clearfix">
            <bx_repeat:menu_items>
                <li class="bx-menu-item bx-menu-item-__name__ bx-def-padding-sec-right bx-def-padding-sec-left bx-def-color-bg-hl-hover __class_add__"><a href="__link__" onclick="__onclick__"__attrs__><bx_if:title>__title__</bx_if:title></a><div class="bx-mms-item-hr"></div>__popup__</li>
            </bx_repeat:menu_items>
        </ul>
        <div class="bx-menu-main-submenu-hr"></div>
    </div>
</div>
__js_code__