<div class="bx-lcd-menu-dropdown bx-def-z-index-modal cd-dropdown">
    <h2 class="cd-dropdown-title">
    	<bx_if:show_logo_image><img src="__logo_url__" alt="__logo_text__" /></bx_if:show_logo_image>
    	<bx_if:show_logo_text>__logo_text__</bx_if:show_logo_text>
    </h2>
    <a href="javascript:void(0)" class="cd-close">Close</a>
    <ul class="cd-dropdown-content">
        <bx_if:show_login>
            <li class="bx-lcd-mdd-login">__login__</li>
        </bx_if:show_login>
        <li class="bx-lcd-mdd-search bx-def-font-inputs">__search_form__</li>
        <bx_if:show_profile>
            <bx_menu:sys_dropdown_toolbar_member />
	        <li class="bx-lcd-mdd-profile-menu has-children">
	            <a href="__link__">Account</a>
	            <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a></li>
                        <bx_repeat:profile_submenu_items>
                            <li><a href="__link__" onclick="__onclick__"__attrs__><bx_if:title>__title__</bx_if:title></a></li>
	                </bx_repeat:profile_submenu_items>
                    </ul>
	        </li>
	        <li class="cd-divider"><bx_text:_bx_canonic_mdd_txt_browse /></li>
        </bx_if:show_profile>
        <bx_menu:bx_lucid_dropdown_site />
    </ul>
</div>