<div class="__style_prefix__-setting-title flex">
    <bx_if:show_warning>
        <div class="__style_prefix__-st-warning flex-0 mr-2">
            <i class="sys-icon exclamation-triangle" title="<bx_text_attribute:_bx_ntfs_grid_column_title_title_warning />"></i>
        </div>
    </bx_if:show_warning>
    <div class="__style_prefix__-st-text flex-1">
        <div class="__style_prefix__-stt-title">__title__</div>
        <div class="__style_prefix__-stt-info bx-def-font-grayed bx-def-font-small mt-1">__info__</div>
    </div>
</div>