<script language="javascript">
    function bx_antispam_recheck(sTest, sChain) {
        $('#bx-antispam-recheck-table tr:not(.uridns)').css({display: 'dnsbl' != sChain ? 'none' : 'table-row'});
        $('#bx-antispam-recheck-table tr.uridns').css({display: 'dnsbl' == sChain ? 'none' : 'table-row'});

        $('#bx-antispam-recheck-table .bx-antispam-check-status').each(function () {
            $(this).html('');
        });
        $('#bx-antispam-recheck-table .bx-antispam-check-status').each(function () {
            var m = $(this).attr('id').match(/(\d+)$/);
            if (m && m[1]) {
                var iId = m[1];
                var eStatus = this;
                $(this).html(_t('_sys_loading'));
                $.post('__url_recheck_item__', {id: iId, test: sTest, chain: sChain}, function (sRet) {
                    $(eStatus).html(sRet);
                });
            }
        });
        return false;
    }
</script>
<div class="">
    __form__
    <table style="width:100%;" id="bx-antispam-recheck-table" class="bx-def-margin-top">
        <bx_repeat:items>
            <tr class="__chain__">
                <td id="bx-antispam-check-status-__id__">__chain_title__</td>
                <td><a target="_blank" href="__url__">__zonedomain__</a></td>
                <td><span class="bx-antispam-check-status" id="bx-antispam-check-status-__id__"></span></td>
            </tr>
        </bx_repeat:items>
    </table>        
</div>
