<div class="bx-base-pofile-cover-wrapper __class__ bx-persons-cover-wrapper bx-menu-toolbar-padding">
    <div class="bx-base-pofile-cover bx-def-box-sizing">
        <a class="bx-base-pofile-cover-image bx-def-box-sizing" href="__cover_href__" onclick="$('#__cover_popup_id__').dolPopupImage('__cover_url__', this)" style="background-image:url(__cover_url__)">&nbsp;</a>
        <div class="bx-cover-gradient"></div>
        <div class="bx-base-pofile-cover-info-container bx-def-centered bx-def-box-sizing" onclick="$('#__cover_popup_id__').dolPopupImage('__cover_url__', this)">
            <div class="bx-base-pofile-cover-info">
            	<div class="bx-base-pofile-cover-user bx-def-margin-left bx-def-padding-left">
                    <div class="bx-def-unit-image">
                        <a class="bx-def-unit-image bx-def-padding-sec-bottom" href="__picture_href__" onclick="$('#__picture_popup_id__').dolPopupImage('__picture_url__', $(this).parent()); event.stopPropagation();">
                            <bx_if:show_ava_image>
                                <img class="bx-base-pofile-unit-ava bx-def-ava bx-def-ava-size" src="__ava_url__" />
                            </bx_if:show_ava_image>
                            <bx_if:show_ava_letter>
                                <p class="bx-base-pofile-unit-ava bx-def-ava bx-def-ava-size bx-def-border bx-def-box-sizing" style="background-color:rgba(__color__)">__letter__</p>
                            </bx_if:show_ava_letter>
                        </a>
                    </div>
                    <h1 class="bx-def-unit-info">__title__</h1>
                </div>
                <div class="bx-base-pofile-cover-actions bx-def-margin-right bx-def-padding-right" onclick="event.stopPropagation();">__action_menu__</div>
            </div>
        </div>
    </div>
</div>
__cover_popup__
__picture_popup__