/*-- Subentries custom element --*/
.bx-form-input-subentry {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.bx-form-input-subentry-cell.bx-fi-sc-txt {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.bx-form-input-subentry-cell.bx-fi-sc-btn {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.bx-form-input-subentry-add {
    text-align: right;
}
.bx-form-input-subentry-add .bx-form-input-button {
    display: inline-block;
    float: none;
}