__filter_panel__
<div id="pmt-orders-history" class="bx-def-bc-margin">
    <div class="pmt-orders-header">
        <div class="pmt-orders-date">__txt_date__</div>
        <div class="pmt-orders-client">__txt_seller__</div>
        <div class="pmt-orders-order">__txt_order__</div>
        <div class="pmt-orders-amount">__txt_amount__</div>
        <div class="pmt-orders-license">__txt_license__</div>
        <div class="pmt-orders-field pmt-of-subscription"><bx_text:_bx_pfw_txt_subscription /></div>
        <div class="pmt-orders-action">__txt_action__</div>
    </div>
    <div class="pmt-orders-content">__orders__</div>
</div>
__loading__