__order__
<div class="pmt-view-order bx-def-margin-top">
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption">
        	<bx_text:_bx_pfw_txt_order_profile />
        </div>
        <div class="pmt-vo-content">__order_profile__</div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
    <div class="pmt-vo-row pmt-vo-row-actions">
    	<div class="pmt-vo-caption">&nbsp;</div>
    	<div class="pmt-vo-content">
	        <button class="bx-btn bx-btn-small" onclick="javascript:__js_object__.unsubscribe('__type__', __id__);">
	        	<bx_text:_bx_pfw_btn_unsubscribe />
	        </button>
	        <div class="pmt-cb">&nbsp;</div>
		</div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
</div>
__loading__