<style>

.bx-def-mobile-app-hide {
    display:none !important;
}
.bx-def-mobile-app-show-block {
    display:block;
}

html #bx-toolbar {
    height:0 !important;    
}
html .bx-header {
    border-bottom-width: 0 !important;
}
html .bx-shadow-header {
    box-shadow: none;
}
html .bx-menu-toolbar-padding {
    padding-top:0 !important;
}
html #bx-toolbar-content {
    display:none !important;
}
html .cd-side-nav,
html .cd-main-content .content-wrapper {
    padding-top:0;
}
html .cd-main-content .content-wrapper {
    margin-left:0;
}
html .bx-sliding-menu-fullheight {
    height:100%;
}
html  nav.cd-stretchy-nav {
    display:none;
}
html #bx-footer-wrapper {
    display:none;
}

html .bx-decorous .cd-main-content .content-wrapper {
    padding-top:0;
}
html .bx-lucid .cd-main-content .content-wrapper {
    padding-top:0.625rem;
}
html .bx-protean .bx-menu-toolbar-padding {
    padding-top:0 !important;
}

html .bx-artificer #bx_notifications_preview {
    overflow-y:auto;
    width:100%;
}
html .bx-artificer #bx_notifications_preview .bx-sliding-menu-close {
    display:none;
}
html .bx-artificer .bx-ntfs-preview > .max-h-96 {
    max-height:none;
}
html .bx-artificer #bx-sliding-menu-sys_add_content {
    width:100%;
}


/* main menu & add content menu */
html #bx-sliding-menu-sys_site.bx-sliding-menu-main, 
html #bx-sliding-menu-sys_add_content.bx-sliding-menu-main, 
html #bx-sliding-menu-account.bx-sliding-menu-main {
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
}
html .bx-sliding-menu-main ul.bx-menu-floating-blocks-big {
    white-space:normal;
}
html .bx-sliding-menu-main ul.bx-menu-floating-blocks-big {
    text-align:center;
}
html .cd-side-nav,
html .bx-sliding-menu, 
html .bx-sliding-menu-main 
{
    top:0 !important;
}
</style>
