
.bx-datafox-company {
    position:relative;
    float:left;
}

.bx-datafox-company-thumb {
    float:left;
    width:150px;
    height:150px;
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
}

.bx-datafox-company-title {
    font-weight:bold;
}

.bx-datafox-company-prop b,
.bx-datafox-company-prop i {
    font-weight:normal;
    font-style:normal;
}
