@import url(../../../../../../../template/css/common.css);

/* --- Buttons --- */
.bx-btn i,
.bx-btn u {
    display: inline-block;
    vertical-align: top !important;
}

/* --- Popup boxes --- */
.bx-popup {    
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

/* --- Live Search --- */
.bx-def-unit-live-search .bx-def-unit-info.bx-def-thumb-size-max-height {
	max-height: none;
}

/* --- Profile Thumbnails/Avatars --- */
img.bx-base-pofile-unit-thumb {
    background-color: #fff;
}

div.bx-def-unit-img p.bx-base-pofile-unit-thumb {
	line-height: 30px;
	line-height: 1.9rem;
        font-size: 1.5rem;
}

div.bx-base-pofile-unit div.bx-def-unit-img p.bx-base-pofile-unit-thumb,
div.bx-base-pofile-unit-wo-info div.bx-def-unit-img p.bx-base-pofile-unit-thumb {
	font-size: 1.5rem;
}

div.bx-def-unit-img p.bx-base-pofile-unit-thumb.bx-def-ava-size {
	line-height: 92px;
	line-height: 5.8rem;
}

/*--- Group based Profile Cover ---*/
.bx-base-group-cover-wrapper .bx-base-pofile-cover-info .bx-base-pofile-cover-user .bx-def-ava {
	border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;

	background-clip: border-box;
}