
Options -MultiViews -Indexes

<IfModule mod_php5.c>
    php_flag allow_url_include Off
    php_flag register_globals Off
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^m/(.*)$  modules/index.php?r=$1 [QSA,L]
    RewriteRule ^page/(.*)$  page.php?i=$1 [QSA,L]
    RewriteRule ^storage/([a-zA-Z0-9]+)/([a-zA-Z0-9\.]+)  storage.php?o=$1&f=$2   [QSA,L]
</IfModule>

AddType image/svg+xml svg
