<span id="bx-files-downloading-message"><bx_text:_bx_files_txt_status_downloading_msg /></span>
<script>
    var bx_files_h_interval = 0;
    bx_files_h_interval = setInterval(function(){
        $.get('__action_url__', function(oResult) {
            if (oResult.status == 'ready') {
                clearInterval(bx_files_h_interval);
                window.location.href = '__action_url__';
                $('#bx-files-downloading-message').html(_t('_bx_files_txt_status_downloading_ready_msg', '__action_url__'));
            }
        }, 'json');
    }, __timeout__*1000);
</script>