<div class="bx-content-description-before">__content_description_before__</div>
<div class="bx-content-description">
    <div class="bx-files-entity-preview bx-def-border-radius-block">__entry_preview__</div>
    <bx_if:show_content>
        <div class="bx-base-text-entity-content bx-def-constraint-list bx-def-constraint-pre bx-def-constraint-object bx-def-constraint-iframe bx-def-constraint-img bx-def-margin-top bx-def-vanilla-html prose">
            <h1>__entry_title__</h1>
            __entry_text__
        </div>
    </bx_if:show_content>
</div>
<div class="bx-content-description-after">__content_description_after__</div>