<div class="bx-def-padding-sec-leftright bx-def-border-bottom bx-files-border-thick bx-files-browser-toolbar bx-clearfix" id="bx-files-browser-toolbar-__unique_ident__">
    <div class="bx-def-margin-bottom bx-files-folder-path">
        <bx_repeat:folder_path>
            <a href="#" onclick="__js_object__.folderNavigate(__folder__); return false;">__name__</a> <i class="sys-icon chevron-right"></i>
        </bx_repeat:folder_path>
    </div>
    <bx_if:upload_visible>
    <div class="bx-files-toolbar-controls-group">
        __uploader_code__
        <script>
            function bx_files_inject_onupload_handler() {
                if (typeof __uploader_js_object__ == 'undefined') {
                    setTimeout(bx_files_inject_onupload_handler, 200);
                    return;
                }
                __uploader_js_object__.onUploadCompletedDefault = __uploader_js_object__.onUploadCompleted;
                __uploader_js_object__.onUploadCompleted = function (sErrorMsg) {
                    __uploader_js_object__.onUploadCompletedDefault(sErrorMsg);
                    __js_object__.onAfterUpload();
                }
            }
            $(document).ready(function(){
                //catch onUploadCompleted call here
                setTimeout(bx_files_inject_onupload_handler, 200);
            });
        </script>
        <button class="bx-btn" onclick="__js_object__.onBeforeUpload(); __uploader_js_object__.showUploaderForm();"><i class="sys-icon upload"></i>&nbsp;<bx_text:_bx_files_txt_upload /></button>
        <bx_if:create_folder_allowed>
        <button class="bx-btn" onclick="__js_object__.addFolder('__folder_name_message__');"><i class="sys-icon plus"></i>&nbsp;<bx_text:_bx_files_txt_add_folder /></button>
        </bx_if:create_folder_allowed>
    </div>
    </bx_if:upload_visible>

    <div class="bx-files-toolbar-controls-group">
        <bx_if:table_layout_btn>
            <button class="bx-btn bx-btn-disabled" title="<bx_text:_bx_files_toolbar_view_table />"><i class="sys-icon list"></i></button>
            <button class="bx-btn" onclick="__js_object__.setView('gallery');" title="<bx_text:_bx_files_toolbar_view_gallery />"><i class="sys-icon th-large"></i></button>
        </bx_if:table_layout_btn>
        <bx_if:gallery_layout_btn>
            <button class="bx-btn" onclick="__js_object__.setView('table');"  title="<bx_text:_bx_files_toolbar_view_table />"><i class="sys-icon list"></i></button>
            <button class="bx-btn bx-btn-disabled" title="<bx_text:_bx_files_toolbar_view_gallery />"><i class="sys-icon th-large"></i></button>
        </bx_if:gallery_layout_btn>
    </div>

    <bx_if:bookmarks_visible>
    <div class="bx-files-toolbar-controls-group">
        <button class="bx-btn" onclick="__js_object__.toggleBookmarks();" title="<bx_text:_bx_files_toolbar_view_bookmarks />"><i class="sys-icon __bookmark_enabled__ star"></i></button>
    </div>
    </bx_if:bookmarks_visible>

    <div class="bx-files-toolbar-controls-group">
        __sorting_dropdown__
        __filter_box__
    </div>
    <div class="bx-files-bulk-actions bx-def-margin-bottom">
        <bx_repeat:bulk_actions>
            <button class="bx-btn" onclick="__js_object__.__handler__();" title="__title__"><i class="sys-icon __icon__"></i></button>
        </bx_repeat:bulk_actions>
    </div>
</div>
<div class="hidden uploader_progress bx-def-padding-top">
    <div class="w-full bg-gray-200 rounded-full h-1 dark:bg-gray-700">
        <div class="bg-blue-600 h-1 rounded-full progress_line" style="width: 0%"></div>
    </div>
</div>

<div class="bx-files-toolbar-spacer"></div>

<bx_if:select_all_checkbox>
<div class="bx-def-padding-sec bx-files-text-unit-simple-row">
    <div>
        <input type="checkbox" class="bx-def-font-inputs bx-form-input-checkbox bx-files-input-checkbox-select-all bx-def-margin-right" id="bx-files-browser-select-all-__unique_ident__" onchange="__js_object__.onSelectAll(this);" />
        <label for="bx-files-browser-select-all-__unique_ident__"><bx_text:_Select_all /></label>
    </div>
</div>
</bx_if:select_all_checkbox>

__js_code__
