__js_css__

<div class="bx-def-margin-bottom">
    <div id="bx-files-dir-tree">__list__</div>
</div>
<button class="bx-btn bx-def-margin-right" onclick="$('#bx-files-popup').dolPopupHide();"><bx_text:_sys_close /></button>
<button class="bx-btn" onclick="" style="display: none;" id="bx-files-btn-move"><bx_text:_bx_files_txt_move_to /></button>
<div class="bx-clear"></div>

<script>

    $(document).ready(function(){
        $('#bx-files-dir-tree').jstree({
            "core" : {
                "multiple" : false
            }
        });

        $('#bx-files-dir-tree').on('changed.jstree', function (e, data) {
            if (data.selected.length) {
                var sId = $(data.instance.get_node(data.selected)).attr('id');
                var iId = parseInt(sId.replace('bx-files-folder-', ''));
                $('#bx-files-btn-move').show().data('move_to', iId);
            } else {
                $('#bx-files-btn-move').hide();
            }
        });

        $('#bx-files-btn-move').click(function(){
            $.post('__actions_url__move_files', {bulk: __files__, move_to: $(this).data('move_to')}, function(oData) {
                processJsonData(oData);
                $('#bx-files-popup').dolPopupHide();
            }, 'json');
        });
    });
</script>