<div class="__class__ bx-def-padding-sec bx-def-border-top bx-files-border-thick bx-files-text-unit-simple-row bx-file-entry" file_id="__id__">
    <div class="bx-files-fileinfo">
        <input type="checkbox" class="bx-def-font-inputs bx-form-input-checkbox bx-def-margin-right" name="file[]" value="__id__" />
        <i class="sys-icon __icon__ sys-colored bx-def-font-large bx-def-padding-sec-right col-gray"></i>
        <div class="bx-files-fileinfo-text">
            <div class="bx-files-filename"><a href="__content_url__" onclick="__alt_content_url_handler__">__title__</a></div>
            <bx_if:meta><div class="bx-base-general-unit-meta">__meta__</div></bx_if:meta>
        </div>
    </div>
    <bx_if:inline_menu>
    <div class="bx-files-inline-menu bx-clearfix">
        __menu__
    </div>
    </bx_if:inline_menu>
</div>