<div class="__class__ bx-def-padding-sec bx-def-border-top bx-files-border-thick bx-files-text-unit-simple-row bx-file-entry bx-file-entry-private" file_id="__id__">
    <div class="bx-files-fileinfo">
        <input type="checkbox" class="bx-def-font-inputs bx-form-input-checkbox bx-def-margin-right" value="" disabled="disabled" />
        <i class="sys-icon far file sys-colored bx-def-font-large bx-def-padding-sec-right col-gray"></i>
        <div class="bx-files-fileinfo-text">
            <div class="bx-files-filename"><bx_text:_sys_private /></div>
            <div class="bx-base-text-unit-summary">
                __summary__
            </div>
        </div>
    </div>
</div>