@import url(../../../../../../../template/css/general.css);


/*--- Overwrite Defaults ---*/
#bx-toolbar-content {
	z-index: 500;
}

#bx-menu-toolbar-1-container,
#bx-menu-toolbar-2-container {
	position: relative;
}

#bx-logo-container {
	height: auto;

    margin-left: 0.625rem;
    margin-right: 0;

    text-align: left;
}


/*---Toolbar ---*/
.bx-toolbar-content {
	display: -webkit-flex; 
	display: flex;
	z-index: 500;

	-webkit-justify-content: flex-start;
	justify-content: flex-start;

	-webkit-align-items: center;
	align-items: center;

	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.bx-toolbar-content .bx-toolbar-item {
	position: relative;
    -webkit-flex: 0 1 auto; 
    -ms-flex:  0 1 auto; 
    flex:  0 1 auto;
}
.bx-toolbar-content .bx-toolbar-item.bx-ti-stretcher {
    -webkit-flex-grow: 1; 
    flex-grow: 1;
    white-space: nowrap;
}

.bx-toolbar-content .bx-toolbar-item.bx-ti-logo {
    white-space: nowrap;
}

.bx-toolbar-content .bx-toolbar-item.bx-ti-logo img {
	display: block;
}

.bx-toolbar-content .bx-toolbar-item.bx-ti-menu {
	height: 100%;

	margin: 0px 20px;
	margin: 0px 1.25rem;

	overflow-x: auto;
	overflow-y: hidden;

	-webkit-overflow-scrolling: touch;
}
#bx-toolbar-content .bx-toolbar-item.bx-ti-menu::-webkit-scrollbar {
    width: 12px;
}
#bx-toolbar-content .bx-toolbar-item.bx-ti-menu::-webkit-scrollbar-track {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    background-color: rgba(0, 0, 0, 0.4); 
}
#bx-toolbar-content .bx-toolbar-item.bx-ti-menu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;

    background: rgba(255, 255, 255, 0.9); 
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5); 
}
#bx-toolbar-content .bx-toolbar-item.bx-ti-menu::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4); 
}

/*--- Page Submenu bar ---*/
.bx-menu-main-bar-wrapper {
	overflow: hidden;
}

/*--- Main Page Content ---*/
.cd-main-content-wrp {
    overflow: hidden;
    width: 100%;
}
.cd-main-content {
	width: 200%;
}
.content-wrapper-wrp {
	float: right;
    position: relative;
    width: 50%;	
}
.cd-main-content .content-wrapper {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    min-height: 100vh;
    right: 100%;
}
.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 720px) {
  .cd-main-content::before {
    content: 'tablet';
  }
}
@media only screen and (min-width: 1024px) {
  .cd-main-content::before {
    content: 'desktop';
  }
}

/*--- Header ---*/
.cd-main-header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #3e454c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 720px) {
  .cd-main-header {
    position: fixed;
    height: 55px;
  }
}

.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%;
}
.cd-logo img {
  display: block;
}
@media only screen and (min-width: 720px) {
  .cd-logo {
    margin: 16px 0 0 36px;
  }
}

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  position: relative;
  display: block;
  top: 0px;
  left: 0px;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0px;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent !important;
}
.cd-nav-trigger span, 
.cd-nav-trigger span::before, 
.cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #ffffff;
}
.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.cd-nav-trigger span::before, 
.cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.nav-is-visible span::before, 
.cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: white;
}
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media only screen and (min-width: 720px) {
  .cd-nav-trigger {
    display: none;
  }
}


/*--- Top Navigation ---*/
@media only screen and (min-width: 720px) {
  .cd-nav {
    display: block;
  }
}


/*--- Footer ---*/
#bx-footer-wrapper {
	height: auto;
}
.bx-footer-line {
    position: relative;
}
.bx-footer-line.bx-fl1#bx-menu-bottom {
    float: none;
}
.bx-footer-line.bx-fl1 .bx-menu-hor,
.bx-footer-line.bx-fl2,
.bx-footer-line.bx-fl3 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bx-footer-line.bx-fl1 .bx-menu-hor.bx-clearfix::before, 
.bx-footer-line.bx-fl1 .bx-menu-hor.bx-clearfix::after {
    content: unset;
}
.bx-footer-line.bx-fl1 .bx-menu-hor li {
    display: block;
    margin: 0px;
    padding: 0px 1rem;
	line-height: 2rem;
}
.bx-footer-line.bx-fl1 .bx-menu-hor li.bx-menu-tab-active a {
    color: #fff;    
}

.bx-footer-line.bx-fl2 {
    padding: 0px;
}
.bx-footer-line.bx-fl2 .bx-footer-cell {
    position: relative;
}

.bx-footer-line.bx-fl3 {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    line-height: 2rem;
}


/* Author block in content modules */

.sys-author .bx-def-unit-info.bx-def-thumb-size-max-height {
    max-height:none;
}

