@import url(../../../../../../../template/css/common.css);

a {
    color:#29789c;
}

/* --------------- design boxes */
.bx-page-block-container.bx-def-padding-topbottom {
	padding-top: 10px;
	padding-top: 0.625rem;
	padding-bottom: 10px;
	padding-bottom: 0.625rem;
}
.bx-db-title {
	line-height: normal;
}
.bx-db-menu {
	line-height: normal;
}

/* --------------- popup boxes */
.bx-popup-border {
	border-color: #0084b4;
}
.bx-popup-header {
    background-color: #0084b4;
}

/* --------------- message box */
.bx-msg-box {
	background-color:rgba(0, 143, 184, 0.3);
}

/* --------------- loading indicator */
.bx-loading-ajax {
	background-color:#8cd9ff;
    background-color:rgba(69, 202, 255, 0.5);
}

/* --------------- button */
.bx-btn {
	background-color: #42c0f1;
}
.bx-btn:active,
.bx-btn:hover {	
    background-color: #45caff;
}
.bx-btn.bx-btn-primary {
    background-color: #008fb8;
}
.bx-btn.bx-btn-primary:hover,
.bx-btn.bx-btn-primary:active { 
    background-color: #0098c7;
}
.bx-btn.bx-btn-disabled:active,
.bx-btn.bx-btn-disabled:hover,
.bx-btn.bx-btn-disabled {
    background-color: #caf2fc;
}