@import url(../../../../../../../template/css/general.css);

/* --------------- toolbar */
#bx-toolbar {
    height: 64px;
    height: 4rem;

    background: -webkit-linear-gradient(#2aaadc, #0079a9);
    background: -o-linear-gradient(#2aaadc, #0079a9);
    background: -moz-linear-gradient(#2aaadc, #0079a9);
    background: linear-gradient(#2aaadc, #0079a9);
    border-bottom: 1px solid #4c4c4c;
    box-shadow: 0px 1px 3px #888;
}
#bx-logo-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    height: 4rem;
}
#bx-logo-container,
#bx-logo-container a span {
    line-height: 4rem;
}

/* --------------- submenu */
.bx-menu-main-bar-cnt {
    height: 3.5rem;
}

/* --------------- content */
#bx-content-wrapper {
    background-image: url(../images/bg-page.png);
    background-repeat: repeat-x;
    border-top: 1px solid #3498bf;
}

/* --------------- footer */
#bx-footer-wrapper {
    background-color: #ffffff;
    border-top: 1px solid #93b3c3;
}
