@import url(../../../../../../../template/css/menu.css);

/* --------------- toolbar menu */
ul.bx-menu-toolbar li a {
    min-width: 64px;
    min-width: 4rem;
    height: 64px;
    height: 4rem;

    line-height: 64px;
    line-height: 4rem;

    color: #ffffff;
}

ul.bx-menu-toolbar li a img {
	margin-top: 8px;
    margin-top: 0.5rem;
}

.bx-menu-toolbar-item-title {
	font-weight: bold;
}

ul.bx-menu-toolbar li a .sys-icon-a {
    margin-top:1rem;
}

.bx-menu-toolbar-padding {
    padding-top: 64px;
    padding-top: 4rem;
}

/* --------------- floating blocks menu */

.bx-sliding-menu-fullheight {
    height:calc(100% - 4rem);
}

.bx-menu-account-popup-profile-switcher-link b {
    vertical-align:baseline;
}

/* --------------- account popup menu */
.bx-menu-account-popup-profile {
	font-weight: bold;
}

/* --------------- custom menu */
.bx-menu-main-submenu.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .sys-icon,
.bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .sys-icon,
.bx-menu-main-submenu.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .bx-btn,
.bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .bx-btn {
    color: #29789c;
}

.bx-menu-main-submenu.bx-menu-more-auto .bx-menu-item.bx-menu-item-more-auto a, .bx-menu-custom.bx-menu-custom-hor.bx-menu-more-auto .bx-menu-item.bx-menu-item-more-auto a {
    padding: 0.5rem;
}