<div class="__sp__-subscribe">
    <div class="__sp__-subscribe-cnt">
        <div class="__sp__-subscribe-box">
            <div class="__sp__-subscribe-box-cnt bx-def-padding">
                <div class="__sp__-sb-row __sp__-sbr-title bx-def-font-h2">__title__</div>
                <div class="__sp__-sb-row __sp__-sbr-item bx-def-margin-top">__item_title__</div>
                <div class="bx-def-hr bx-def-margin-top"></div>
                <div class="__sp__-sb-row __sp__-sbr-amount bx-def-margin-top">
                    <div class="__sp__-sbr-caption bx-def-font-grayed"><bx_text:_bx_credits_txt_checkout_price_money /></div>
                    <div class="__sp__-sbr-value bx-def-margin-thd-top bx-def-font-large">__amount__ / __period__</div>
                </div>
                <bx_if:show_rate>
                    <div class="__sp__-sb-row __sp__-sbr-rate bx-def-margin-sec-top">
                        <div class="__sp__-sbr-caption bx-def-font-grayed"><bx_text:_bx_credits_txt_checkout_rate /></div>
                        <div class="__sp__-sbr-value bx-def-margin-thd-top bx-def-font-large">__rate__</div>
                    </div>
                </bx_if:show_rate>
                <div class="__sp__-sb-row __sp__-sbr-credits bx-def-margin-sec-top">
                    <div class="__sp__-sbr-caption bx-def-font-grayed"><bx_text:_bx_credits_txt_checkout_price_credits /></div>
                    <div class="__sp__-sbr-value bx-def-margin-thd-top bx-def-font-large">__credits__ / __period__</div>
                </div>
                <bx_if:show_trial>
                    <div class="__sp__-sb-row __sp__-sbr-trial bx-def-margin-sec-top">
                        <div class="__sp__-sbr-caption bx-def-font-grayed"><bx_text:_bx_credits_txt_subscribe_trial /></div>
                        <div class="__sp__-sbr-value bx-def-margin-thd-top bx-def-font-large">__trial__</div>
                    </div>
                </bx_if:show_trial>
                <div class="bx-def-hr bx-def-margin-top"></div>
                <div class="__sp__-sb-row __sp__-sbr-actions bx-def-margin-top">
                    <a class="bx-btn" href="javascript:void(0)" onclick="javascript:__jo__.subscribe(this)"><bx_text:_bx_credits_txt_subscribe /></a>
                </div>
            </div>
        </div>
    </div>
</div>
__js_code__