<div id="bx-dbd-space" class="bx-dbd-block-content">
    <bx_if:show_content>
        <div class="bx-dbd-chart bx-def-border"></div>

        <script language="javascript">
            __js_object__.initChart('space', __chart_data__);
        </script>
    </bx_if:show_content>
    <bx_if:show_loader>
        <script language="javascript">
            $(document).ready(function() {
                __js_object__.getBlockContent('space');
            });
        </script>
    </bx_if:show_loader>
</div>