<div class="bx-std-launcher-browser">
    <div class="bx-std-lb-cnt">
        <div class="bx-std-lb-menu">
            <div class="bx-std-lb-logo bx-def-font-h3"><a href="__logo_url__">__logo__</a></div>
            <div class="bx-std-lb-menu-cnt">__menu__</div>
        </div>
        <div class="bx-std-lb-content">
            <div class="bx-std-lb-content-cnt">
                <bx_repeat:types>
                    <div id="bx-std-lbw-__type__" class="bx-std-lb-widgets bx-std-lbw-__type__ __class__">
                        <div class="bx-std-lb-widgets-cnt">__widgets__</div>
                    </div>
                </bx_repeat:types>
            </div>
        </div>
    </div>
</div>