/*--
import url(../../../../../../../template/css/general.css);
--*/


/*--- Toolbar ---*/
.bx-toolbar-anim {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}
.bx-toolbar-reset {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}
.bx-toolbar-up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}
.bx-toolbar-item.bx-ti-logo a:hover {
    text-decoration: none;
}
.bx-toolbar-item.bx-ti-search .bx-ti-search-button a {
    text-decoration: none;
}
.bx-toolbar-item.bx-ti-search .bx-tis-button-hidden {
    display: none;
}
.bx-toolbar-item.bx-ti-search .bx-tis-box-shown {
    position: absolute;
    display: block;
}
.bx-toolbar-item.bx-ti-search .bx-form-advanced .bx-loading-ajax {
    top: 0;
    max-height: 100%;
}
.bx-toolbar-item.bx-ti-search .bx-form-advanced-wrapper .bx-form-section-wrapper:first-child {
    margin-top: 0;
}
.bx-toolbar-item.bx-ti-search .sys-search-results-quick {
    position: absolute;
    z-index: 10;
}


/*--- Page Submenu ---*/
.bx-menu-main-bar-cnt {
    height: 3.25rem;
}

.bx-menu-main-bar:not(.bx-menu-more-auto) .bx-menu-main-bar-cnt > div {
    overflow-x: auto;
}

.bx-menu-main-bar-gap.bx-menu-main-bar-hidden,
.bx-menu-main-bar-wrapper.bx-menu-main-bar-hidden,
.bx-menu-main-bar.bx-menu-main-bar-hidden {
    display: none;
}


/*--- Profile Avatar ---*/
#bx-profile-switcher .bx-pas-list .bx-def-hr:first-child {
    display: none;
}

/*--- Profile Stats ---*/
.bx-menu-profile-stats li.bx-psmi-show-more,
.bx-menu-profile-stats li.bx-psmi-show-less {
    text-transform: uppercase;
    font-size: 0.875rem;
}

.bx-menu-profile-stats  li.bx-psmi-show-more:hover,
.bx-menu-profile-stats  li.bx-psmi-show-less:hover {
    background-color: transparent;
}

/*--- Author Info ---*/
.sys-author-profile .bx-menu-custom.bx-menu-custom-hor > li:first-child .bx-base-general-unit-meta-div {
    display: none;
}

/*--- Join/Login Forms ---*/
#sys_account .bx-form-element .bx-form-input-submit.bx-btn,
#sys-form-login .bx-form-element .bx-form-input-submit.bx-btn {
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}
#bx-form-element-submit_text .bx-form-value {
    text-align: right;
}

/*--- Page Type: Application ---*/
.bx-menu-panel-item .bx-profile-avatar .bx-profile-avatar-cnt {
    min-height: 2.5rem;
}