<div class="popup_prompt_text bx-def-padding-lefttopright bx-def-font-align-center"><bx_text:_Enter_value_here /></div>
<div class="popup_prompt_input bx-def-padding">__input__</div>
<div class="popup_prompt_actions bx-def-padding-rightbottomleft bx-def-font-align-center bx-clearfix">
	<button class="bx-btn bx-def-margin-sec-left-auto popup_prompt_ok" type="button"><bx_text:_Ok /></button><button class="bx-btn bx-def-margin-sec-left-auto popup_prompt_cancel" type="button"><bx_text:_Cancel /></button>
</div>