<!--<strong>__body_title__</strong>-->
<div class="bx-content-padding-block bx-def-border-block bx-def-margin-bottom">
    __body__
</div>
<strong>__subject_title__</strong> __subject__<br>
<bx_if:from_name>
    <strong>__from_name_title__</strong> __from_name__<br>
</bx_if:from_name>
<bx_if:reply>
    <strong>__reply_title__</strong> __reply__<br>
</bx_if:reply>
<strong>__created_title__</strong> __created__<br>
<strong>__sent_on_title__</strong> __sent_on__<br>
<strong>__sent_to_title__</strong> __sent_to__<br>
<div id="bx_massmailer_chart_container">
    <div class="bx_massmailer_chart_cnt bx-def-margin-top">
        <canvas class="bx_massmailer_chart"></canvas>
    </div>
</div>
