<div class="bx-messenger-friends-list bx-def-color-bg-hl-even">
	<bx_repeat:friends>
			<div class="bx-base-pofile-unit bx-def-unit bx-def-padding-topbottom bx-def-color-bg-hl-even">
				 <a href="javascript:void(0);" onclick="oMessenger.createLot({user:__id__});">
					<img class="bx-def-thumb bx-def-thumb-size bx-def-margin-sec-leftright" title="__title__" src="__thumb__" />
					<div class="bx-def-unit-info bx-def-thumb-size-max-height bx-def-padding-sec-left">__name__</div>
				 </a>	
			</div>		
	</bx_repeat:friends>
</div>