<bx_repeat:jots>
	<div class="bx-messenger-jots" data-id="__id__" __display__>
		<div class="bx-messenger-jots-avatars bx-def-padding-thd-right">
			<a href="__url__"><img class="bx-def-thumb bx-def-thumb-size" title="__title__" src="__thumb__" /></a>
		</div>
		<div class="bx-messenger-jots-info">			
			<div class="bx-messenger-jots-title bx-def-font-middle bx-def-font-semibold">
				__title__
				<span class="bx-def-font-light bx-def-font-small">__time__</span>
			</div>			
			<div class="bx-messenger-jots-message bx-def-font-middle bx-def-font-light">
				__message__
			</div>	
		</div>
	</div>
</bx_repeat:jots>