<div class="bx-messenger-block bx-messenger-block-lots bx-def-color-bg-block bx-def-border-block">
<div id="bx-messangger-block-head">
    <div class="bx-db-header">
		<div id="bx-menu-db-menu" class="bx-popup-wrapper bx-popup-slide-wrapper bx-def-z-index-front bx-def-border-bottom bx-def-border-top bx-def-padding bx-def-box-sizing" style="position: absolute; top: 46px; left: 0px; display: none;">
					<ul class="bx-menu-inter-vert">
						<bx_repeat:menu>
							<li class="bx-menu-inter-pas bx-def-round-corners bx-def-color-bg-hl-hover ">
								<a class="" href="javascript:void(0);" onclick="oMessenger.showLotsByType(__type__)">
									<div class="bx-def-padding-left bx-def-padding-sec-right bx-def-padding-sec-topbottom">__menu_title__ <b>__count__</b></div>
								</a>
							</li>
						</bx_repeat:menu>						
					</ul>
		</div>
		<div class="bx-db-menu left">				
			<div class="bx-db-menu-tab bx-db-menu-tab-btn">
				<a href="javascript:void(0);" onclick="bx_menu_slide('#bx-menu-db-menu', this)" class="bx-def-margin-sec-left">
							<i class="sys-icon bars"></i>						
				</a>
			</div>
		</div>	
		<div class="bx-db-title bx-def-font-h3"><bx_text:_bx_messenger_page_inbox_block_title /></div>
		<div class="bx-db-menu">			
			<div class="bx-db-menu-tab bx-db-menu-tab-btn">
				<a href="javascript:void(0);" onclick="oMessenger.createLot();">
					<i class="sys-icon  pencil-square-o"></i>
				</a>
			</div>
		</div>		
	</div>
    <div class="bx-db-divider bx-def-hr"></div>
	<div class="bx-form-value bx-form-input-wrapper bx-form-input-wrapper-text bx-messenger-border">
		<input id="items" onkeyup="oMessenger.searchByItems(this.value);" name="items" class="bx-def-font-inputs bx-form-input-text col-gray" type="text" placeholder="<bx_text:_bx_messenger_title_search />">
	</div>
</div>
   <div class="bx-db-content bx-clearfix">
		<div class="bx-messanger-items-list">	
				__items__
		</div>	
	</div>
</div>
<script type="text/javascript">	
	$(document).ready(function(){		
			oMessenger.initMessengerPage(__profile__, oJotWindowBuilder);
	});
</script>