<div __tr_attrs__>
    <div class="bx-form-element">
        <bx_if:show_one_line>
            <div class="bx-form-value bx-clearfix__class_value__">__value__</div>
            <bx_if:show_caption>
                <div class="bx-form-caption__class_caption__">__caption____required__</div>
            </bx_if:show_caption>
        </bx_if:show_one_line>
        <bx_if:show_lined>
            <bx_if:show_caption>
                <div class="bx-form-caption__class_caption__">__caption____required__</div>
            </bx_if:show_caption>
            <div class="bx-form-value bx-clearfix__class_value__">__value__</div>
        </bx_if:show_lined>
    </div>__info____error__
</div>