@import url(../../../../../timeline/template/css/view.css);

/*--- Item Owner Styles ---*/
div.bx-tl-item div.bx-tl-owner-name > * {
    display: inline-block;
}


/*--- Meta and Activity Styles ---*/
div.bx-tl-item-meta-activity {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.bx-media-phone div.bx-tl-item-meta-activity {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*--- Activity Menu Styles ---*/
div.bx-tl-item-activity .bx-menu-custom.bx-menu-hor li .sys-icon {
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 1.25rem;
}