
<div class="bx-base-pofile-cover-wrapper bx-def-round-corners">
    <div class="bx-base-pofile-cover">
        <a class="bx-base-pofile-cover-image bx-def-box-sizing" href="__cover_href__" onclick="$('#__cover_popup_id__').dolPopupImage('__cover_url__', this)" style="background-image:url(__cover_url__)">&nbsp;</a>
        <div class="bx-base-pofile-cover-info bx-def-unit bx-def-padding">
            <a href="__picture_href__" onclick="$('#__picture_popup_id__').dolPopupImage('__picture_url__', $(this).parent())"><img class="bx-def-margin-right bx-def-ava bx-def-ava-size" src="__picture_avatar_url__" /></a>
            <h1 class="bx-def-unit-info bx-def-margin-sec-bottom bx-def-margin-sec-top bx-def-font-contrasted">__title__</h1>
        </div>
    </div>
    <div class="bx-base-pofile-menu">
        __menu__
    </div>
</div>

__cover_popup__
__picture_popup__

