<bx_if:picture>
<div id="bx-base-profile-img">
    <img class="bx-def-round-corners" src="__picture_url__" />
    <bx_if:delete>
        <br />
        <button id="bx-base-profile-delete"><bx_text:_Delete /></button>
        <script>
$(document).ready (function () {
    $('#bx-base-profile-delete').click(function (event) {
        event.preventDefault();
        $.post('__action_ajax__', function (oData) {
            if (parseInt(oData.error) > 0)
                alert(oData.msg);
            else
                $('#bx-base-profile-img').replaceWith('<i class="bx-def-font-small"><bx_text:_sys_txt_no_picture_uploaded /></i>');
        }, 'json');
        return false;
    });
});
        </script>
</div>
    </bx_if:delete>
</bx_if:picture>
<bx_if:no_picture>
    <i class="bx-def-font-small"><bx_text:_sys_txt_no_picture_uploaded /></i>
</bx_if:no_picture>
