<div class="__class__ bx-def-unit flex items-center w-46 mb-4 mr-2">
    <div class="bx-def-unit-img bx-def-__size__-size __class_size__ relative">
        <bx_if:show_thumb_image>
            <img class="bx-base-pofile-unit-thumb bx-def-__size__ bx-def-__size__-size __class_size__ rounded-full box-border" src="__thumb_url__" />
        </bx_if:show_thumb_image>
        <bx_if:show_thumb_letter>
            <p class="bx-base-pofile-unit-thumb bx-def-__size__ bx-def-__size__-size __class_size__ flex items-center justify-center box-border m-0 rounded-full text-white font-bold" style="background-color:rgba(__color__)">__letter__</p>
        </bx_if:show_thumb_letter>
        <bx_if:show_online>
            <div class="bx-base-pofile-unit-online"></div>
        </bx_if:show_online>
    </div>
    <div class="bx-def-unit-info bx-def-__size__-size-min-height bx-def-__size__-size-max-height flex items-center max-w-32 ml-4">
        <span class="bx-def-unit-info-title">__title__</span>
    </div>
</div>