<div class="__class__ bx-def-unit flex items-center w-46 mb-4 mr-2">
    <div class="bx-def-unit-img bx-def-__size__ bx-def-__size__-size __class_size__ relative flex-none">
        <a class="text-center hover:no-underline" href="__content_url__" onclick="__content_click__">
            <bx_if:show_thumb_image>
                <img class="bx-base-pofile-unit-thumb bx-def-__size__ bx-def-__size__-size __class_size__ rounded-full box-border" src="__thumb_url__" />
            </bx_if:show_thumb_image>
            <bx_if:show_thumb_letter>
                <p class="bx-base-pofile-unit-thumb bx-def-__size__ bx-def-__size__-size __class_size__ flex items-center justify-center box-border m-0 rounded-full text-white font-bold" style="background-color:rgba(__color__)">__letter__</p>
            </bx_if:show_thumb_letter>
        </a>
        <bx_if:show_online>
            <div class="bx-base-pofile-unit-online"></div>
        </bx_if:show_online>
    </div>
    <div class="bx-def-unit-info bx-def-__size__-size-min-height bx-def-__size__-size-max-height flex items-center max-w-32 ml-4">
        <div class="bx-def-unit-info-cnt box-border overflow-hidden">
            <div class="bx-def-unit-line truncate">
                <a class="bx-def-unit-info-title" href="__content_url__" onclick="__content_click__">__title__</a>
            </div>
            <div class="bx-def-unit-line text-sm text-gray-500 dark:text-gray-400">__addon__</div>
        </div>
    </div>
</div>