<div class="__class__ bx-def-__size__-size __class_size__ text-center">
    <div class="bx-def-unit-img bx-def-__size__-size __class_size__ relative">
        <bx_if:show_thumb_image>
            <img class="bx-base-pofile-unit-thumb bx-def-__size__ bx-def-__size__-size __class_size__ rounded-full box-border" src="__thumb_url__" />
        </bx_if:show_thumb_image>
        <bx_if:show_thumb_letter>
            <p class="bx-base-pofile-unit-thumb bx-def-__size__ bx-def-__size__-size __class_size__ flex items-center justify-center box-border m-0 rounded-full text-white font-bold" style="background-color:rgba(__color__)">__letter__</p>
        </bx_if:show_thumb_letter>
        <bx_if:show_online>
            <div class="bx-base-pofile-unit-online"></div>
        </bx_if:show_online>
    </div>
</div>
