<div id="bx-dbd-version">
    <div class="bx-dbd-block-content bx-def-margin-bottom">
        <div class="bx-dbd-version-image">
            <img src="<bx_image_url:dbd_version.svg />"/>
        </div>
        <div class="bx-dbd-version-info">
            <div class="bx-dbd-vi-title bx-def-margin-sec-topbottom text-2xl font-semibold">__domain__ __version__</div>
            <div class="bx-dbd-vi-info space-y-4">
                <div class="bx-dbd-vii-row">
                    <img class="bx-stg-icon-gray-bg mr-4" src="<bx_image_url:bx-std-spacer.gif />" style="background-image: url('<bx_icon_url:db-vi-installed.svg />')" /><bx_text:_adm_dbd_txt_installed /><b class="pl-2">__installed__</b>
                </div>
                <bx_if:show_update_info>
                    <div class="bx-dbd-vii-row"><img class="bx-stg-icon-gray-bg mr-4" src="<bx_image_url:bx-std-spacer.gif />" style="background-image: url('<bx_icon_url:db-vi-updated.svg />')" /><bx_text:_adm_dbd_txt_updated /><b class="pl-2">__updated__</b></div>
                </bx_if:show_update_info>
                <div class="bx-dbd-vii-row bx-dbd-version-available" style="display:none"><img class="bx-stg-icon-gray-bg mr-4" src="<bx_image_url:bx-std-spacer.gif />" style="background-image: url('<bx_icon_url:db-vi-available.svg />')" /><bx_text:_adm_dbd_txt_available /><b class="pl-2"></b></div>
            </div>
        </div>
    </div>
    <div class="bx-dbd-block-actions" style="display:none">
        <a class="bx-btn bx-btn-primary" href="javascript:void(0)" onclick="javascript:__js_object__.performUpgrade()"><bx_text:_adm_dbd_btn_update /></a>
    </div>
    <script language="javascript">
        $(document).ready(function() {
            __js_object__.checkForUpgrade();
        });
    </script>
</div>