@import url(default.less);

/* NOTE: copied from "fonts" section from default.css */

body, td, pre {
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: 400;
    font-size: 18px;
	font-size: 1.125rem;
    color: #666;
}

h1,
h2,
h3
{
	color: #333;
}
h1 {
    font-size: 36px;
	font-size: 2.25rem;
    font-weight: 700;
}

h2 {
    font-size: 28px;
	font-size: 1.75rem;
    font-weight: 600;
}

h3 {
    font-size: 20px;
  	font-size: 1.25rem;
    font-weight: 600;
}

blockquote {
    /* NOTE: copied from common.css */
    border-left: 2px solid #ccc;
    padding-left: 10px;
}
