@import url(../../../../../../../template/css/general.css);

/* --------------- toolbar */
#bx-toolbar {
	height: 64px;
    height: 4rem;

    background-color: #ffffff;

    border-bottom: 1px solid #d6dee1;
}
#bx-logo-container {
	height: 64px;
    height: 4rem;

    margin: 0 128px;
    margin: 0 8rem;

	line-height: 64px;
    line-height: 4rem;
}
#bx-logo-container .bx-def-font-contrasted {
	color: #01aff8;
}

/* --------------- content */
#bx-content-wrapper {
	padding-bottom: 84px;
	padding-bottom: 5.25rem;
}

/* --------------- footer */
#bx-footer-wrapper {
	position: absolute;

	width: 100%;
	height: 64px;
	height: 4rem;
	bottom: 0;

	border-top: 1px solid #dee6e9;
}
#bx-footer {
    padding-bottom: 0px;
}

/* --------------- menu bottom */
#bx-menu-bottom,
#bx-footer-copyright {
	line-height: 24px;
	line-height: 1.5rem;
}
