<div class="bx-accnt-create bx-def-color-bg-block">
    <div class="bx-accnt-create-cnt">
        __form__
        <script language="javascript">
            $(document).ready(function () {
                $("#__form_id__").ajaxForm({ 
                    dataType: "json",
                    beforeSubmit: function (formData, jqForm, options) {
                        bx_loading($("#__form_id__"), true);
                    },
                    success: function (data) {
                        $(".bx-popup-applied:visible").dolPopupHide();
                        glGrids.__object__.processJson(data, '__action__');
                    }
                });
            });
        </script>
    </div>
</div>
