.bx_massmailer_table th, .bx_massmailer_table td {
    text-align: left;
}
.bx_massmailer_table .odd
{
    background-color: rgba(210, 230, 250, 0.3);
}
.bx_massmailer_table .bottom {
    margin-top:1rem;
}
.bx_massmailer_table .dataTables_info {
    display: none;
}
.bx_massmailer_table, .bx_massmailer_table table {
    width:100%;
}
.bx_massmailer_filters
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    plex-pack: start;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.bx_massmailer_filters .bx-def-font-inputs{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: calc(33% - 1rem);
}

.bx_massmailer_data .bx-def-font-inputs {
    width: calc(100%);
    max-width:200px;
    float:left;
}

.bx_massmailer_chart_cnt
{
    max-width:800px;
	max-height:600px;
	margin:0px auto;
}
.bx_massmailer_chart{
    width:100%;
    height:100%;
}

/* datatables fix*/
table.dataTable thead .sorting:after { margin-left:10px; font-family: "sys-user", "sys-user-fal", sans-serif; content: "\f0dc"; display:inline-block }
table.dataTable thead .sorting_asc:after{ margin-left:10px;font-family: "sys-user", "sys-user-fal", sans-serif; content: "\f0de"; display:inline-block}
table.dataTable thead .sorting_desc:after{ margin-left:10px; font-family: "sys-user", "sys-user-fal", sans-serif; content: "\f0dd"; display:inline-block}
table.dataTable.no-footer {border-bottom:none !important}
table.dataTable thead th{border-bottom:none !important; padding: 10px 10px !important}
table.dataTable thead .sorting {background-image: none !important}

/* Campaign form */
.bx-form-element .bx-massmailer-attrs {
    flex-direction: row;
}
.bx-form-element .bx-massmailer-attrs-group {
    margin-right: 1.0rem;
}
    