@import url(../../../../../../../template/css/menu.css);


/* --------------- custom menu */
.bx-menu-main-submenu.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .sys-icon,
.bx-menu-custom.bx-menu-hor.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .sys-icon,
.bx-menu-main-submenu.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .bx-btn,
.bx-menu-custom.bx-menu-hor.bx-menu-more-auto .bx-menu-submenu-more-auto .bx-menu-item .bx-btn {
    color: rgba(30, 150, 250, 0.9);
}

/* --------------- profile stats menu */
ul.bx-menu-ver.bx-menu-profile-stats li {
    margin-top: 0;

    border-top-width: 1px; 
}
ul.bx-menu-ver.bx-menu-profile-stats li > .bx-def-padding-thd-topbottom {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
ul.bx-menu-ver.bx-menu-profile-stats li > .bx-def-padding-sec-leftright {
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}
ul.bx-menu-ver.bx-menu-profile-stats li > .bx-def-padding-sec-right {
    padding-right: 1.0rem;
}

ul.bx-menu-ver.bx-menu-profile-stats li.bx-menu-item-profile-stats-profile .bx-menu-addon .bx-def-label.menu {
    background-color: rgba(0,134,214, 1);
}